<div class="page-content-header icon-content-header-userCenterOn">组织管理</div>
<div style="margin-top: 20px;">
		
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                更多操作
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <li (click)="edit()" style="cursor:pointer"><a>编辑</a></li>
                <li (click)="enable()" style="cursor:pointer"><a>启用</a></li>
                <li (click)="disable()" style="cursor:pointer"><a>禁用</a></li>
				<li (click)="delete()" style="cursor:pointer"><a>删除</a></li>
            </ul>
        </div>

        <button class="fox-cloud-button fox-cloud-button-green" (click)="create()">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label">创建组织</span>
        </button>
</div>
<div class="table-container" style="margin-top : 10px">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="check-box-col">选择</th>
                <th>编号</th>
                <th>机构名称</th>
                <th>机构人员数量</th>
                <th>机构负责人</th>
                <th>状态</th>
                <th>描述</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of orgs;let idx = index">
                <td><input class="fox-cloud-radio" type="radio" name="isSelected" (click)="chooseItem(idx)"/></td>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.headCount}}</td>
                <td>{{item.leaderName}}</td>
                <td>{{item.status}}</td>
                <td>{{item.description}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <fc-pagination #pagination tp={{tp}} (pf)="paging($event)"></fc-pagination>
    <fc-notice #notice title="{{title}}" msg="{{msg}}" ot="确认" (of)="nof()"></fc-notice>
    <fc-confirm #confirm title="{{title}}" msg="{{msg}}" ot="确认" (of)="of()" ct="取消" (cf)="ccf()"></fc-confirm>