<div class="page-content-header icon-content-header-platform-manage">{{title}}</div>
<div class="row" style="padding-top: 30px;">
    <div class="col-md-12">
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">
                    <span class="asterisk">*</span>
                    机构名称
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control"  placeholder="请输入机构名称">
                </div>
            </div>
        </div>
</div>