<div class="page-content-header icon-content-header-userCenterOn">{{title | translate}}</div>
<div class="row" style="padding-top: 30px;">
    <div class="col-md-12">
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">
                    <span class="asterisk">*</span>
                    {{'USER_CENTER.ORG_NAME' | translate}}<!--机构名称-->

                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control"  placeholder="{{'USER_CENTER.INPUT_ORG_NAME' | translate}}" [(ngModel)]="org.name">
                </div>
            </div>
        </div>

        <div  *ngIf="false" class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">
                    {{'USER_CENTER.ONE_IN_CHARGE_IN_ORG' | translate}}<!--机构负责人-->

                </div>
                <div class="col-sm-4">
                    <select class="form-control" [(ngModel)]="org.leaderId">
                            <option *ngFor="let item of accountByOrg;" [value]="item.id">{{item.userName}}  {{item.loginName}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">
                    {{'COMMON.DESCRIPTION' | translate}}<!--描述-->
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control"  placeholder="{{'USER_CENTER.INPUT_ORG_NAME' | translate}}" [(ngModel)]="org.description">
                </div>
            </div>
        </div>

        <div class="row row-line-height" *ngIf="false">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">
                    {{'USER_CENTER.ORG_MEMBER_LIST' | translate}}<!--机构成员列表-->

                </div>
                <div class="col-sm-7">
                     <div class="checkbox">
                        <label style="margin-right: 5px;margin-bottom: 8px;" *ngFor="let item of account;" (click)="chooseAccount(item)">
                            <input type="checkbox" class="fox-cloud-checkbox" [(ngModel)]="item.selected"> 
                            <span style="margin-left : 5px;margin-right : 5px">{{item.userName}}</span>
                            <span>{{item.loginName}}</span>
                        </label>
                </div>
                    <div style="float : right ; margin-right : 20px" (click)="loadMoreAccount()">
                        <button class="fox-cloud-button-md fox-cloud-button-white">{{'COMMON.MORE' | translate}}>>></button><!--更多-->

                    </div>
                </div>
            </div>
        </div>

        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">
                    {{'USER_CENTER.ORG_PLATFORM_LIST' | translate}}<!--机构可管理平台列表-->

                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </div>

        <div class="table-container" style="width: 70%;margin: auto;max-height : 500px;overflow : auto">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{'NET_VM_NSX_INDEX.SELECT' | translate}}<!--选择--></th>
                        <th>{{'HOST_OPENSTACK_MNG.NUMBER' | translate}}<!--编号--></th>
                        <th>{{'USER_CENTER.PLATFORM_NAME' | translate}}</th><!--云平台名称-->

                        <th>{{'USER_CENTER.DATA_CENTER_FOR' | translate}}</th><!--所属数据中心-->

                        <th>{{'USER_CENTER.REGION_WHICH_BELONG_TO' | translate}}</th><!--所属地域-->

                        <th>{{'USER_CENTER.PLATFORM_TYPE' | translate}}</th><!--云平台类型-->

                        <th>{{'NET_MNG_OPENSTACK.STATUS' | translate}}<!--状态--></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of platForm;let idx = index">
                        <td><input type="checkbox" class="fox-cloud-checkbox" (click)="choosePlatForm(item)" [checked]="item.selected"></td>
                        <td>{{idx}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.dataCenter}}</td>
                        <td>{{item.regionId}}</td>
                        <td>{{item.platformType}}</td>
                        <td class="font-green">{{item.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text-center" style="margin-top : 30px">
            <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel()">
                <span class="icon-button-label">{{'NET_MNG_VM_PORT.CNACLE' | translate}}<!--取消--></span>
            </button>
            <button class="fox-cloud-button-lg fox-cloud-button-white" style="margin-left : 10px" (click)="create()">
                <span class="icon-button-label">{{btnName | translate}}</span>
            </button>
        </div>
        <fc-notice #notice title="{{title}}" msg="{{msg}}" ot="NET_MNG_VM_DBT_PORT.COMFIRM" (of)="nof()"></fc-notice>
</div>