.row-line-child {
  div {
    float: left;
    width: 33.3%;
    line-height: 34px;
  }
  .mid-line-child {
    background-color: #E1E1E1;
    height: 34px;
    padding-left: 10px;
  }
  .last-line-child {
    padding-left: 10px;
  }
}

.row-inline-radio {
  .row-inline-radio2 {
    width: 40%;
    height: 34px;
    padding-top: 8px;
    input {
      padding-left: 10px;
    }
  }
  .row-inline-radio4 {
    width: 20%;
    height: 34px;
    padding-top: 8px;
    input {
      padding-left: 10px;
    }
  }
}
