<div class="page-content-header icon-content-header-operation-center">
   云主机{{hyperInfo.name}}详情
    <button class=" fox-cloud-button-md fox-cloud-button-white pull-right" style="padding:2px 15px;font-size:14px" (click)="BacktoAssignMng()">
        返回云主机超分管理
    </button>
</div>
<div class="page-content">
    <div class="table-container mgt10">
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th>实例名称</th>
                    <th>平台</th>
                    <th>Region/DC</th>
                    <th>可用区</th>
                    <th>企业</th>
                    <th>部门</th>
                    <th>申请人</th>
                    <th>创建时间</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{hyperInfo.name}}</td>
                    <td>{{hyperInfo.platformName}}</td>
                    <td>{{hyperInfo.region}}</td>
                    <td>{{hyperInfo.zoneName}}</td>
                    <td>{{hyperInfo.enterpriseName}}</td>
                    <td>{{hyperInfo.departmentName}}</td>
                    <td>{{hyperInfo.createName}}</td>
                    <td>{{hyperInfo.createDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row mgt10" >
        <div class="col-md-2">
            <select class="form-control">
            <option value="1">最近24小时</option>
            <option value="1">最近7天</option>
            <option value="1">最近30天</option>
            <option value="1">最近90天</option>
            <option value="1">最近180天</option>
            <option value="1">最近360天</option>
        </select>
        </div>
        <div class="col-md-2">
            <button class="fox-cloud-button fox-cloud-button-white" (click)="refresh()">刷新</button>
        </div>       
    </div>
    <div class="mgt15">
        <div class="row row-line-height" style="background: #eff4f8;margin:0;">
            <div class="col-md-2">CPU平均使用率：{{hyperInfo.cpuAverage}}</div>
            <div class="col-md-2">CPU峰值使用率：{{hyperInfo.cpuPeak}}</div>
            <div class="col-md-4">CPU峰值记录时间：{{hyperInfo.cpuPeakTime}}</div>
        </div>
        <div class="row row-line-height" style="background: #eff4f8;margin:0;">
            <div class="col-md-2">内存平均使用率： {{hyperInfo.memoryAverage}}</div>
            <div class="col-md-2">内存峰值使用率： {{hyperInfo.memoryPeak}}</div>
            <div class="col-md-4">内存峰值记录时间： {{hyperInfo.memoryPeakTime}}</div>
        </div>
    </div>
    <div class="row mgt15">
        <div class="col-md-6">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    <h3 class="panel-title">CPU使用率</h3>
                </div>
                <div class="panel-body">
                    <canvas baseChart
                          *ngIf="cpuChart.DataSets"
                          [datasets]="cpuChart.DataSets "
                          [chartType]="cpuChart.ChartType"
                          [colors]="cpuChart.Colors"
						  [labels]="cpuChart.Labels">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    <h3 class="panel-title">内存使用率</h3>
                </div>
                <div class="panel-body">
                    <canvas baseChart
                          *ngIf="memChart.DataSets"
                          [datasets]="memChart.DataSets "
                          [chartType]="memChart.ChartType"
                          [colors]="memChart.Colors"
						  [labels]="memChart.Labels">
                    </canvas>
                </div>
        </div>
    </div>
</div>
</div>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}"></fc-notice>