<div class="page-content-header icon-content-header-operation-center">
   私有云主机容量管理
</div>
<div class="page-content">
    <div class="mgt20" style="font-size:18px;font-weight:bold;">云主机ABC详情：</div>
    <div class="table-container mgt10">
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th>实例名称</th>
                    <th>平台</th>
                    <th>Region/DC</th>
                    <th>可用区</th>
                    <th>企业</th>
                    <th>部门</th>
                    <th>申请人</th>
                    <th>创建时间</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ABC</td>
                    <td>337</td>
                    <td>256</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>2016-12-08</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row mgt10" >
        <div class="col-md-2">
            <select class="form-control">
            <option value="1">最近24小时</option>
            <option value="1">最近7天</option>
            <option value="1">最近30天</option>
            <option value="1">最近90天</option>
            <option value="1">最近180天</option>
            <option value="1">最近360天</option>
        </select>
        </div>
        <div class="col-md-2">
            <button class="fox-cloud-button fox-cloud-button-white">刷新</button>
        </div>       
    </div>
    <div class="mgt15">
        <div class="row row-line-height" style="background: #eff4f8;margin:0;">
            <div class="col-md-2">CPU平均使用率：0.1%</div>
            <div class="col-md-2">CPU峰值使用率：23%</div>
            <div class="col-md-4">CPU峰值记录时间：2017年1月18日   18：00：53</div>
        </div>
        <div class="row row-line-height" style="background: #eff4f8;margin:0;">
            <div class="col-md-2">内存平均使用率：  39.9%</div>
            <div class="col-md-2">内存峰值使用率：  67%</div>
            <div class="col-md-4">内存峰值记录时间：     2017年1月18日    18：00：53</div>
        </div>
    </div>
    <div class="row mgt15">
        <div class="col-md-6">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    <h3 class="panel-title">CPU使用率</h3>
                </div>
                <div class="panel-body">
                    
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    <h3 class="panel-title">内存使用率</h3>
                </div>
                <div class="panel-body">
                    
                </div>
        </div>
    </div>
</div>
</div>
