<div class="page-content-header icon-cloud-network-mngOn">VMware网络</div>
<div class="page-content">  

    <table class="table table-hover">
        <thead>
            <tr>
                <th style="text-align:left;">VMware网络管理 -- 管理NSX网络--DLR资源分配   “地区”  “数据中心” 平台显示名称 + 连接URL https://192.168.1.1:443</th>
                <th style="text-align:right;">
                    <button class=" fox-cloud-button fox-cloud-button-white ">
                        <span class="icon-button-label" (click)="back()">返回上一级</span>
                    </button>
                </th>
            </tr>
        </thead>
    </table>
   
   <div class="mgt15 ">               
        <span class="float-left mgl10" style="display:inline-block;font-size:16px;padding:6px 0">逻辑路由器(DLR)名称：</span>
        <div class="float-left">
            <select class="pdl10 form-control" [(ngModel)]="selectDlr">
                <option [ngValue]="defaultDlr">所有</option>
                <option *ngFor="let dlr of dlrList" [ngValue]="dlr">{{dlr.dlrName}}</option>
            </select>
        </div> 
        <button type="button" class="fox-cloud-button fox-cloud-button-white mgl15 "><span class="icon-button-label">确定 </span> </button>                                                              
    </div>
    
    <button class="fox-cloud-button fox-cloud-button-green mgb10 mgt15"
            (click)="gotoSetPage();">
            设置企业
    </button>
    <div class="table-container port-res">
        <table class="table table-hover" >
            <thead>
                <tr>
                   <th>选择</th>
                   <th>逻辑路由器名称(DLR) </th>                 
                   <th>企业列表</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let dlr of filterPorts">
                    <td><input type="radio" class="fox-cloud-radio" name="radio"></td>
                    <td>{{dlr.dlrName}}</td>                   
                    <td>
                     <ol>
                        <li *ngFor="let e of dlr.enterpriseList"
                            style="display: inline-block; padding: 2px 5px;">
                            {{e.com}}
                        </li>
                    </ol>
                    </td>
                </tr>
             </tbody>
           </table>
                    
    </div>
</div>

<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="确认"></fc-notice>