<div class="page-content-header icon-content-header-physical-mng">网络资源分配</div>
<div *ngIf="first_step">  <!-- 第一页 -->
<div class="page-content fix-page-content">
    <div class="row navigator-progress">
        <div class="col-md-6 active"><span class="mark">1</span><span>分配资源池</span></div>
        <div class="col-md-6"><span class="mark">2</span><span>分配物理机</span></div>
    </div>
    <div class="step-progress">
        <div class="fox-cloud-progress-rectangle progress-striped">
            <div class="progress-bar fox-cloud-progress-bar-rectangle" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
            </div>
        </div>
    </div>
    <!--
    <div class="row" style="padding-top: 30px;">
        <div class="col-md-12">
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{ 'COMMON.NAME' | translate}}<span class="asterisk">*</span>：</div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" [(ngModel)]="platform.name" placeholder="{{ 'PF_MNG.INPUT_PF_NAME' | translate}}">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{ 'COMMON.TYPE' | translate}}:</div>
                    <div class="col-sm-4">
                        <select class="form-control" [(ngModel)]="platform.platformType">
                            <option *ngFor="let item of vmPlatforms;" [value]="item.value">{{item.displayValue}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{ 'COMMON.PATH' | translate}}:</div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" [(ngModel)]="platform.uri" placeholder="{{ 'PF_MNG.ACCESS_PATH' | translate}}">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{ 'COMMON.USERNAME' | translate}}:</div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" [(ngModel)]="platform.userName" placeholder="{{ 'COMMON.USERNAME' | translate}}">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{ 'COMMON.PASSWORD' | translate}}:</div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" [(ngModel)]="platform.passwd" placeholder="{{ 'COMMON.PASSWORD' | translate}}">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{ 'PF_MNG.VERSION_NUM' | translate}}:</div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" [(ngModel)]="platform.version" placeholder="{{ 'PF_MNG.VERSION_NUM' | translate}}">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div for="firstname" class="col-sm-4 form-control-title">{{ 'COMMON.DESCRIPTION' | translate}}:</div>
                    <div class="col-sm-4">
                        <textarea class="form-control" rows="4" [(ngModel)]="platform.description" placeholder="{{ 'PF_MNG.PF_DESCRIPTION' | translate}}"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <fc-selectbox #pmrespoolbox [selectedList]="selectedPmpools" [unSelectedList]="unselectedPmpools" 
                titleL="{{'PHY_NET_MNG.SELECTED_PM_RES_POOL' | translate}}" 
                titleR="{{'PHY_NET_MNG.UNSELECTED_PM_RES_POOL' | translate}}" displayKey="pmPoolName">
    </fc-selectbox>
</div>
<div class="text-center">
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="close();">
        <span class="icon-button-label">{{ 'COMMON.CLOSE' | translate}}</span>
    </button>
    <button class="fox-cloud-button-lg fox-cloud-button-white" [disabled]="false" (click)="second_step=true; first_step=false; next();">
        <span class="icon-button-label">{{ 'COMMON.NEXT' | translate}}</span>
    </button>
</div>
</div>  <!-- 第一页 -->

<div *ngIf="second_step">  <!-- 第二页 -->
<div class="page-content fix-page-content">
    <div class="row navigator-progress">
        <div class="col-md-6 active"><span class="mark">1</span><span>分配资源池</span><span class="icon-tick"></span></div>
        <div class="col-md-6 active"><span class="mark">2</span><span>分配物理机</span><span *ngIf="showclosebtn" class="icon-tick"></span></div>   
    </div>
    <div class="step-progress">
        <div class="fox-cloud-progress-rectangle progress-striped">
            <div class="progress-bar fox-cloud-progress-bar-rectangle" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
            </div>
        </div>
    </div>
    <!--
    <div class="row" style="padding-top: 30px;">
        <div class="col-md-12">
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{ 'COMMON.NAME' | translate}}<span class="asterisk">*</span>：</div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" [(ngModel)]="platform.name" placeholder="{{ 'PF_MNG.INPUT_PF_NAME' | translate}}">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{ 'COMMON.TYPE' | translate}}:</div>
                    <div class="col-sm-4">
                        <select class="form-control" [(ngModel)]="platform.platformType">
                            <option *ngFor="let item of vmPlatforms;" [value]="item.value">{{item.displayValue}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{ 'COMMON.PATH' | translate}}:</div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" [(ngModel)]="platform.uri" placeholder="{{ 'PF_MNG.ACCESS_PATH' | translate}}">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{ 'COMMON.USERNAME' | translate}}:</div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" [(ngModel)]="platform.userName" placeholder="{{ 'COMMON.USERNAME' | translate}}">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{ 'COMMON.PASSWORD' | translate}}:</div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" [(ngModel)]="platform.passwd" placeholder="{{ 'COMMON.PASSWORD' | translate}}">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{ 'PF_MNG.VERSION_NUM' | translate}}:</div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" [(ngModel)]="platform.version" placeholder="{{ 'PF_MNG.VERSION_NUM' | translate}}">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div for="firstname" class="col-sm-4 form-control-title">{{ 'COMMON.DESCRIPTION' | translate}}:</div>
                    <div class="col-sm-4">
                        <textarea class="form-control" rows="4" [(ngModel)]="platform.description" placeholder="{{ 'PF_MNG.PF_DESCRIPTION' | translate}}"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <fc-selectbox #pmhostbox [selectedList]="selectedPms" [unSelectedList]="unselectedPms" 
                titleL="{{'PHY_NET_MNG.SELECTED_PM_HOST' | translate}}" 
                titleR="{{'PHY_NET_MNG.UNSELECTED_PM_HOST' | translate}}" displayKey="pmName">
    </fc-selectbox>
</div>
<div class="text-center">
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="second_step=false; first_step=true; previous();">
        <span class="icon-button-label">{{ 'COMMON.PREVIOUS' | translate}}</span>
    </button>
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="save();">
        <span class="icon-button-label">{{ 'COMMON.SAVE' | translate}}</span>
    </button>
    <button *ngIf="showclosebtn" class="fox-cloud-button-lg fox-cloud-button-white" (click)="close();">
        <span class="icon-button-label">{{ 'COMMON.CLOSE' | translate}}</span>
    </button>
</div>
</div>  <!-- 第二页 -->

<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{ 'COMMON.CONFIRM' | translate}}"></fc-notice>

<fc-confirm #confirm title="{{title}}" msg="{{msg}}" ot="{{ 'COMMON.CONFIRM' | translate}}" (of)="cof()" ct="{{ 'COMMON.CANCEL' | translate}}" (cf)="ccf()"></fc-confirm>