<div class="page-content-header icon-content-header-physical-mng"> <!--page-content-header icon-physical-mng">  icon-cloud-network-mngOn"> -->
    物理机网络管理	  
</div>

<div class="page-content">
    <div class="mgb20">
        <button class="fox-cloud-button fox-cloud-button-green" (click)="createPhyNet();">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label">创建网络</span> <!--请添加创建的弹出框-->
        </button>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="editPhyNet();">       
            <span class="icon-button-label icon-left-button-label">编辑标准网络</span>
        </button>
        <button class="fox-cloud-button fox-cloud-button-green" key="boe/phy-net-allocate.html">       
            <span class="icon-button-label icon-left-button-label">网络资源分配</span>
        </button>
        <button class="fox-cloud-button fox-cloud-button-green" key="boe/ip_pool_mng.html" (click)="setupPhyNetIPs();">
            <span class="icon-button-label icon-left-button-label">设置IP资源范围</span>
        </button>
        <button class="fox-cloud-button fox-cloud-button-green" key="boe/ip_addr_mng.html" (click)="ipUsageMngPage();">
            <span class="icon-button-label icon-left-button-label">管理IP地址</span>
        </button>
        <button class="fox-cloud-button fox-cloud-button-green" key="boe/ip_addr_export.html" (click)="exportPhyIps();">
            <span class="icon-button-label icon-left-button-label">导出IP地址信息</span>
        </button>
       
        <div class="dropdown pull-right" >
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                选择操作
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="javascript:void(0);" (click)="enablePhyNet();">启用</a></li>
                <li><a href="javascript:void(0);" (click)="disablePhyNet();">禁用</a></li>
                <li><a href="javascript:void(0);" (click)="deletePhyNet();">删除</a></li>
            </ul>
        </div>

    </div>

    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>选择 </th>
                    <th> 网络名称</th>
                    <th> 子网信息</th>
                    <th> 网关地址</th>
                    <th>IP地址池数量</th>
                    <th>已使用IP地址数量</th>
                    <th>剩余IP地址数量</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let phynet of phynets; let i = index;">
                    <td><input type="radio" class="fox-cloud-radio" name="radio" [checked]="phynet.checked" (change)="selectItem(i);"></td>
                    <td style="position:relative"><a href="javascript:void(0);" (click)="selectItem(i); showDetails();"> {{phynet.networkName}} </a>
                        <!--
                         <span class="pull-right icon-edit2" (click)="onSelect(phynet);phynet.nameEditing=true;" style="display:inline-block"></span> 
                         <div *ngIf="phynet.nameEditing" class="popover fade bottom in" role="tooltip" style="top:25px; left:10px; width:320px; max-width:1100px; display: block; z-index: 50;">
                                <div class="arrow" style="left: 30%;"></div>
                                <div class="popover-content">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">网络名称:</label>
                                            <div class="col-sm-8 float-left">
                                            <input type="text" />
                                            </div>
                                        </div>
                                    </form>
                                    <div class="pull-right" style="margin-bottom:10px;">
                                        <button class=" fox-cloud-button fox-cloud-button-white">保存</button>
                                        <button class="fox-cloud-button fox-cloud-button-white">取消</button>
                                    </div>
                                </div>
                         </div>
                         -->
                    </td>
                    <td> {{phynet.subnetCIDR || "未设置"}} </td>
                    <td> {{phynet.gateway || "未设置"}} </td>
                    <td> {{phynet.ipAllCount || "未设置"}} </td>
                    <td> {{phynet.ipUsedCount || "未设置"}} </td>
                    <td> {{phynet.ipFreeCount || "未设置"}} </td>
                    <td [ngClass]="phynet.status==1?'font-green':'font-orange'"> {{phynet.status || "未设置"}} </td>
                </tr>                
            </tbody>
        </table>
    </div>

    <div class="fox-cloud-pagination-container">
        <fc-pagination #pager tp={{totalPage}} (pf)="getPhyNetList($event)"></fc-pagination>
    </div>
    <fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}" (of)="okClicked()"></fc-notice>
    <fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}" ct="{{'COMMON.CANCEL' | translate}}"></fc-confirm>

</div>

<fc-popup #createphynetbox ot="{{'COMMON.CONFIRM' | translate}}" ct="{{'COMMON.CANCEL' | translate}}" title="创建物理机网络" (of)="acceptPhyNetCreateModify()" (cf)="cancelPhyNetCreateModify()">
    <div class="dialogContent">
    <!--
	<div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>物理机资源池：</div>
            <div class="col-sm-7">
                <select class="form-control" [(ngModel)]="selectedDC4Popup" (change)="selectedCluster4Popup = defaultCluster;">
                    <option [ngValue]="defaultDc">{{'NET_MNG_VM_IP_MNG.PLEASE_CHOOSE' | translate}}</option>
                    <option *ngFor="let dc of dcList" [ngValue]="dc">{{dc.dcName}}</option>
                </select>
            </div>
        </div>
    </div>
    -->
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>显示名称：</div>
            <div class="col-sm-7">
                <input type="text" class="form-control" [(ngModel)]="phynet_create.networkName" />
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>网络IP信息：</div>
            <div class="col-sm-7">
                <input type="text" class="form-control" [(ngModel)]="phynet_create.subnetIP" />
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>网络掩码：</div>
            <div class="col-sm-7">
                <input type="text" class="form-control" [(ngModel)]="phynet_create.subnetMask" />
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>网关地址：</div>
            <div class="col-sm-7">
                <input type="text" class="form-control" [(ngModel)]="phynet_create.gateway" />
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title">DNS 1：</div>
            <div class="col-sm-7">
                <input type="text" class="form-control" [(ngModel)]="phynet_create.dnsPre" />
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title">DNS 2：</div>
            <div class="col-sm-7">
                <input type="text" class="form-control" [(ngModel)]="phynet_create.dnsAlt" />
            </div>
        </div>
    </div>
    </div>
</fc-popup>

<fc-popup #editphynetbox ot="{{'COMMON.CONFIRM' | translate}}" ct="{{'COMMON.CANCEL' | translate}}" title="编辑物理机网络" (of)="acceptPhyNetEditModify()" (cf)="cancelPhyNetEditModify()">
    <div class="dialogContent">
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>显示名称：</div>
            <div class="col-sm-7">
                <input type="text" class="form-control" [(ngModel)]="phynet_changed.networkName" />
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>网络IP信息：</div>
            <div class="col-sm-7">
                <input type="text" class="form-control" [(ngModel)]="phynet_changed.subnetIP" />
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>网络掩码：</div>
            <div class="col-sm-7">
                <input type="text" class="form-control" [(ngModel)]="phynet_changed.subnetMask" />
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>网关地址：</div>
            <div class="col-sm-7">
                <input type="text" class="form-control" [(ngModel)]="phynet_changed.gateway" />
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title">DNS 1：</div>
            <div class="col-sm-7">
                <input type="text" class="form-control" [(ngModel)]="phynet_changed.dnsPre" />
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title">DNS 2：</div>
            <div class="col-sm-7">
                <input type="text" class="form-control" [(ngModel)]="phynet_changed.dnsAlt" />
            </div>
        </div>
    </div>
    </div>
</fc-popup>

<fc-popup #ipsbox ot="{{'COMMON.CONFIRM' | translate}}" ct="{{'COMMON.CANCEL' | translate}}" title="{{'NET_MNG_VM_IP_MNG.SET_IP_POOL' | translate}}" (of)="acceptIPsModify()" (cf)="cancelIPsModify()">
	<div class="dialogContent">
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">{{'NET_MNG_VM_IP_MNG.SUBNET_INFORMATION' | translate}}：</div>
					<div class="col-sm-8">
						<span>{{subnetCIDR}}</span>
					    <!-- <input type="string" class="form-control input-control" [(ngModel)]="ippool.subnetCIDR"></span> -->
					</div>
				</div>
			</div>
            <div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">{{'NET_MNG_VM_IP_MNG.SUBNET_MASK' | translate}}：</div>
					<div class="col-sm-8">
                        <span>{{subnetMask}}</span>
					    <!-- <input type="string" class="form-control input-control" [(ngModel)]="ippool.subnetMask"> -->
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">{{'NET_MNG_VM_IP_MNG.GATEWAY' | translate}}：</div>
					<div class="col-sm-8">
						<span>{{gateway}}</span>
					    <!-- <input type="string" class="form-control input-control" [(ngModel)]="ippool.gateway">  -->
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">{{'NET_MNG_VM_IP_MNG.IP_SCOPE' | translate}}：</div>
					<div class="col-sm-8">
					<!-- <input type="string" class="form-control input-control" [(ngModel)]="ippool.ips">  -->
					<textarea class="form-control input-control" placeholder="" rows="4" [(ngModel)]="ipstr"></textarea>
					</div>
				</div>
			</div>
	</div>
</fc-popup>

<fc-popup #enablebox ot="{{'COMMON.CONFIRM' | translate}}" ct="{{'COMMON.CANCEL' | translate}}" title="启用物理机网络" (of)="acceptPhyNetEnableModify()" (cf)="cancelPhyNetEnableModify()">
	<div class="dialogContent">
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-12">
                        <!-- {{'HOST_VMWARE_MNG.ENABLE_IMAGE_MSG' | translate:{value_1: (selectedimg.displayName || selectedimg.name)} }} -->
                        您选择启用 ' {{selectedimg || "image"}} ' ， 请确认；如果确认，用户将能够在订购中选择此网络。
					</div>
				</div>
			</div>
	</div>
</fc-popup>

<fc-popup #disablebox ot="{{'COMMON.CONFIRM' | translate}}" ct="{{'COMMON.CANCEL' | translate}}" title="禁用物理机网络" (of)="acceptPhyNetDisableModify()" (cf)="cancelPhyNetDisableModify()">
	<div class="dialogContent">
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-12">
                        <!-- {{'HOST_VMWARE_MNG.DISABLE_IMAGE_MSG' | translate:{value_1: (selectedimg.displayName || selectedimg.name)} }} -->
                        您选择禁用 ' {{selectedimg || "image"}} ' ， 请确认；如果确认，用户将不能在订购中选择此网络。
					</div>
				</div>
			</div>
	</div>
</fc-popup>

<fc-popup #deletebox ot="{{'COMMON.CONFIRM' | translate}}" ct="{{'COMMON.CANCEL' | translate}}" title="删除物理机网络" (of)="acceptPhyNetDeleteModify()" (cf)="cancelPhyNetDeleteModify()">
	<div class="dialogContent">
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-12">
                        <!-- {{'HOST_VMWARE_MNG.DISABLE_IMAGE_MSG' | translate:{value_1: (selectedimg.displayName || selectedimg.name)} }} -->
                        您选择删除 ' {{selectedimg || "image"}} ' ， 请确认；如果确认，用户将不能在订购中选择此网络。
					</div>
				</div>
			</div>
	</div>
</fc-popup>