<div class="page-content-header icon-cloud-network-mngOn">
    物理机网络管理	  
</div>

<div class="page-content">
<!--    
    <table class="table table-hover ">
        <thead>
            <tr>
                <th style="text-align:left;">VMware网络管理---管理标准网络 "地区" "数据中心"平台显示名称+连接URL https://192.168.1.1:43</th>
                <th style="text-align:right;">
                    <button class=" fox-cloud-button fox-cloud-button-white ">
                        <span class="icon-button-label">返回上一级</span>
                    </button>
                </th>
            </tr>
        </thead>
    </table>


    <div class="mgb20 mgt20">
        <label  class="pdr10 ">
            数据中心(DC)名称:
        </label>   
            <select class="pdl20 pdr20">
                <option>所有</option>
                <option>DC1</option>
                <option>DC2</option>
                <option>DC3</option>
            </select>       
        <label class="pdr10 pdl20">
            可用区名称:
        </label>      
            <select class="pdl20 pdr20 mgr20">
                <option  >所有</option>
                <option >VDS1</option>
                <option>VDS2</option>
                <option>VDS3</option>
                <option>VDS4</option>
            </select>     
    <button type="button" class="fox-cloud-button-md fox-cloud-button-white "> 确定</button>   
    </div>
-->

    <div class="mgb20">
        <button class="fox-cloud-button fox-cloud-button-green" (click)="createPhyNet();">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label">创建网络</span> <!--请添加创建的弹出框-->
        </button>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="editPhyNet();">       
            <span class="icon-button-label icon-left-button-label">编辑标准网络</span>
        </button>
        <button class="fox-cloud-button fox-cloud-button-green" key="boe/phy-net-allocate.html">       
            <span class="icon-button-label icon-left-button-label">网络资源分配</span>
        </button>
        <button class="fox-cloud-button fox-cloud-button-green" key="boe/ip_pool_mng.html" (click)="setupPhyNetIPs();">
            <span class="icon-button-label icon-left-button-label">设置IP资源范围</span>
        </button>
        <button class="fox-cloud-button fox-cloud-button-green" key="boe/ip_addr_mng.html" (click)="ipUsageMngPage();">
            <span class="icon-button-label icon-left-button-label">管理IP地址</span>
        </button>
        <button class="fox-cloud-button fox-cloud-button-green" key="boe/ip_addr_export.html" (click)="exportPhyIps();">
            <span class="icon-button-label icon-left-button-label">导出IP地址信息</span>
        </button>

        <div class="dropdown pull-right" >
        <button class="fox-cloud-button fox-cloud-button-green" key="boe/enable.html" (click)="enable();">
            <span class="icon-button-label icon-left-button-label">启用</span>
        </button>
        <button class="fox-cloud-button fox-cloud-button-green" key="boe/disable.html" (click)="disable();">
            <span class="icon-button-label icon-left-button-label">禁用</span>
        </button>
        <button class="fox-cloud-button fox-cloud-button-green" key="boe/remove.html" (click)="remove();">
            <span class="icon-button-label icon-left-button-label">删除</span>
        </button>
        </div>

        <!--
        <div class="dropdown pull-right" >
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                选择操作
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">启用</a></li>
                <li><a href="#">禁用</a></li>
                <li><a href="#">删除</a></li>
            </ul>
        </div>
        -->
    </div>

    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>选择 </th>
                    <th>数据中心</th>
                    <th>物理机资源池</th>
                    <th> 网络名称</th>
                    <th> 子网信息</th>
                    <th> 网关地址</th>
                    <th>IP地址池数量</th>
                    <th>已使用IP地址数量</th>
                    <th>剩余IP地址数量</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="radio" class="fox-cloud-radio" name="radio"></td>
                    <td> 北京 </td>
                    <td> X86 资源池1 </td>
                    <td> 生产1 
                        <span class=" icon-edit2" style="padding:1px 15px"></span> 
                         <div class="popover fade bottom in" role="tooltip" style="z-index:50; top:300px; left:550px; width:400px; max-width:1100px; display: block;">
                                <div class="arrow" style="left: 30%;"></div>
                                <div class="popover-content">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="col-sm-5 control-label">网络名称:</label>
                                            <div class="col-sm-7 float-left">
                                            <input type="text" />
                                            </div>
                                        </div>
                                    </form>
                                    <div class="pull-right" style="margin-bottom:10px;">
                                        <button class=" fox-cloud-button fox-cloud-button-white">保存</button>
                                        <button class="fox-cloud-button fox-cloud-button-white">取消</button>
                                    </div>
                                </div>
                         </div>
                    </td>
                    <td> 172.16.1.0/24 </td>
                    <td> 172.16.1.1 </td>
                    <td> 24 </td>
                    <td> 50 </td>
                    <td> 24 </td>
                    <td class="font-green"> 启用 </td>
                </tr>
                <tr>
                    <td><input type="radio" class="fox-cloud-radio" name="radio"></td>
                    <td> 合肥 </td>
                    <td> X86 资源池1 </td>
                    <td> 测试1 </td>
                    <td> 172.16.1.0/24 </td>
                    <td> 172.16.1.1 </td>
                    <td> 24 </td>
                    <td> 50 </td>
                    <td> 24 </td>
                    <td class="font-green"> 禁用 </td>
                </tr>
                <tr>
                    <td><input type="radio" class="fox-cloud-radio" name="radio"></td>
                    <td> 合肥 </td>
                    <td> X86 资源池3 </td>
                    <td> 生产3 </td>
                    <td> 172.16.1.0/24 </td>
                    <td> 172.16.1.1 </td>
                    <td> 24 </td>
                    <td> 50 </td>
                    <td> 24 </td>
                    <td class="font-green"> 启用 </td>
                </tr>                
            </tbody>
        </table>
    </div>

</div>

<fc-popup #createphynet ot="{{'COMMON.CONFIRM' | translate}}" ct="{{'COMMON.CANCEL' | translate}}" title="{{'NET_MNG_VM_IP_MNG.SET_NETWORK_TYPE' | translate}}" (of)="acceptPhyNetCreateModify()" (cf)="cancelPhyNetCreateModify()">
    <div class="dialogContent">
	<div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>物理机资源池：</div>
            <div class="col-sm-7">
                <select class="form-control" [(ngModel)]="selectedDC4Popup" (change)="selectedCluster4Popup = defaultCluster;">
                    <option [ngValue]="defaultDc">{{'NET_MNG_VM_IP_MNG.PLEASE_CHOOSE' | translate}}</option>
                    <option *ngFor="let dc of dcList" [ngValue]="dc">{{dc.dcName}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>显示名称：</div>
            <div class="col-sm-7">
                <input type="text" class="form-control" [(ngModel)]="tempEditNet" />
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>子网信息：</div>
            <div class="col-sm-7">
                <input type="text" class="form-control" [(ngModel)]="tempEditNet" />
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>子网掩码：</div>
            <div class="col-sm-7">
                <input type="text" class="form-control" [(ngModel)]="tempEditNet" />
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>网关地址：</div>
            <div class="col-sm-7">
                <input type="text" class="form-control" [(ngModel)]="tempEditNet" />
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title">DNS 1：</div>
            <div class="col-sm-7">
                <input type="text" class="form-control" [(ngModel)]="tempEditNet" />
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title">DNS 2：</div>
            <div class="col-sm-7">
                <input type="text" class="form-control" [(ngModel)]="tempEditNet" />
            </div>
        </div>
    </div>
    </div>
</fc-popup>

<fc-popup #ipsbox ot="{{'COMMON.CONFIRM' | translate}}" ct="{{'COMMON.CANCEL' | translate}}" title="{{'NET_MNG_VM_IP_MNG.SET_IP_POOL' | translate}}" (of)="acceptIPsModify()" (cf)="cancelIPsModify()">
	<div class="dialogContent">
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">{{'NET_MNG_VM_IP_MNG.SUBNET_INFORMATION' | translate}}：</div>
					<div class="col-sm-8">
						<span>{{subnetCIDR}}</span>
					    <!-- <input type="string" class="form-control input-control" [(ngModel)]="ippool.subnetCIDR"></span> -->
					</div>
				</div>
			</div>
            <div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">{{'NET_MNG_VM_IP_MNG.SUBNET_MASK' | translate}}：</div>
					<div class="col-sm-8">
                        <span>{{subnetMask}}</span>
					    <!-- <input type="string" class="form-control input-control" [(ngModel)]="ippool.subnetMask"> -->
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">{{'NET_MNG_VM_IP_MNG.GATEWAY' | translate}}：</div>
					<div class="col-sm-8">
						<span>{{gateway}}</span>
					    <!-- <input type="string" class="form-control input-control" [(ngModel)]="ippool.gateway">  -->
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">{{'NET_MNG_VM_IP_MNG.IP_SCOPE' | translate}}：</div>
					<div class="col-sm-8">
					<!-- <input type="string" class="form-control input-control" [(ngModel)]="ippool.ips">  -->
					<textarea class="form-control input-control" placeholder="" rows="4" [(ngModel)]="ipstr"></textarea>
					</div>
				</div>
			</div>
	</div>
</fc-popup>