<h3 class="account-title pdt10 pdb10"><%=T("SELECT_AD")%></h3>
<select id="account-select" class="form-control input-sm">
	<% data.lists.forEach(function(list){  %>
	<option value="<%= list.id %>"><%= list.name %></option>
	<% }) %>
</select>
