<ng-container *ngFor="let top1_menu of endMenu; let top1_idx = index">
    <div *ngIf="top1_menu.isShow" [ngClass]="{'top1-menu': true, 'top-menu-open': top1_menu.isOpen}">
        <div class="top1-menu-trigger {{top1_menu.icon}}" *ngIf="top1_menu.isShow" (click)="top1MenuClick(top1_idx)" id="menu1_{{top1_menu.label}}">
            <span class="">{{top1_menu.label | translate}}</span>
            <span [ngClass]="{'glyphicon': true, 'glyphicon-chevron-right': !top1_menu.isOpen, 'glyphicon-chevron-down': top1_menu.isOpen}"></span>
        </div>
        <div *ngFor="let top2_menu of top1_menu.top2_menu; let top2_idx = index" [ngClass]="{'top2-menu': true, 'top-menu-open': top2_menu.isOpen, 'top-menu-active': top2_menu.isActive}">
            <div *ngIf="(top2_menu.routing && top2_menu.routing != '')  && top2_menu.isShow" class="top2-menu-trigger" routerLink="{{top2_menu.routing}}"
                id="menu2_{{top2_menu.label}}" routerLinkActive="active" (click)="top2MenuActive(top1_idx, top2_idx)"><span>{{top2_menu.label | translate}}</span></div>
            <div *ngIf="!(top2_menu.routing && top2_menu.routing != '')  && top2_menu.isShow" class="top2-menu-trigger" (click)="top2MenuClick(top1_idx, top2_idx)"
                id="menu2_{{top2_menu.label}}"><span>{{top2_menu.label  | translate}}</span></div>
            <div *ngFor="let top3_menu of top2_menu.top3_menu; let top3_idx = index" [ngClass]="{'top3-menu': true, 'top-menu-active': top3_menu.isActive}"
                routerLink="{{top3_menu.routing}}" routerLinkActive="active" (click)="top3MenuActive(top1_idx, top2_idx, top3_idx)"
                id="menu2_{{top2_menu.label}}">{{top3_menu.label | translate}}</div>
        </div>
    </div>
</ng-container>