<div class="page-content cloud_host_list">
	<h1 class="page-content-header">物理机列表</h1>
	<region-resourcepoll></region-resourcepoll>
    <!-- <fc-pagination tp={{list.pageParameter.totalPage}} (pf)="changePage($event)"></fc-pagination> -->
</div>
<fc-confirm #confirm title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalAction(1)" ct="{{modalCancelTitle}}" (cf)="modalAction(0)"></fc-confirm>
<fc-notice #notice title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalAction(0)"></fc-notice>
<fc-popup #popup (cf)="popupCf()" (of)="popupOf()">
</fc-popup>
