<div class="page-content cloud_host_order">
	<div class="col-md-9">
		<h1 (click)="payLoadFormat()" class="page-content-header">{{'VM_INSTANCE.PHYSICAL_MACHINE_ORDER'| translate}}</h1>
		<ul class="left-box">
			<li>
				<div class="col-md-1 li-title">                  
					<p><span class="icon-location"></span><br>{{'COMMON.AREA'| translate}}</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-2 content-title">区域</div>
					<div class="col-md-10 btn-group" data-toggle="buttons">
						<label *ngFor="let r of regions;" 
								class="btn btn-default" 
								(click)="region = r; dux.dispatch('region')"
								[ngClass]="{'active': region?.id === r.id}">
							<input type="radio" name="region" autocomplete="off"> {{ r.name }}
						</label>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-10 text-tip">{{'VM_INSTANCE.PRODUCT_ORDER_DESCRIPTION'| translate}}</div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">                  
					<p><span class="icon-location"></span><br>资源池</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-2 content-title">资源池</div>
					<div class="col-md-10 btn-group" data-toggle="buttons">
						<label *ngFor="let r of resourcePolls;" 
								class="btn btn-default" 
								(click)="resourcePoll = r; dux.dispatch('resourcePoll')"
								[ngClass]="{'active': resourcePoll?.id === r.id}">
							<input type="radio" name="resourcePoll" autocomplete="off"> {{ r.poolName }}
						</label>
					</div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-specifications"></span><br>{{'VM_INSTANCE.INSTANCE_CONFIGURATION'| translate}}</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-2 content-title">CPU数量</div>
					<div class="col-md-10 btn-group">
						<button 
							*ngFor="let cpu of cpuList;" 
							(click)="queryList.cpuList = cpu.value;" 
							class="btn btn-default" 
							[ngClass]="{'active': queryList.cpuList === cpu.value}">
							{{ cpu.displayName }}
						</button>
					</div>

					<div class="col-md-2 content-title">内存容量</div>
					<div class="col-md-10 btn-group">
						<button 
							style="padding: 5px 20px" 
							*ngFor="let mem of memList;" 
							(click)="queryList.memList = mem.value;" 
							class="btn btn-default mgb10" 
							[ngClass]="{'active': queryList.memList === mem.value}">
							{{ mem.displayName }}
						</button>
					</div>

					<div class="col-md-2 content-title">磁盘需求</div>
					<div class="col-md-4 btn-group  no-padding mgb15">
						<label *ngFor="let items of diskRequirements" class="mgr20">
							<input type="radio" name="diskRequirements" class="fox-cloud-checkbox fox-cloud-checkbox-white" 
								[value]="items.value" 
								[(ngModel)]="queryList.diskRequirements"> {{items.displayName}}
						</label>
					</div>

					<div class="col-md-2 content-title">类型</div>
					<div class="col-md-4 btn-group no-padding mgb15">
						<label *ngFor="let items of diskType" class="mgr20">
							<input type="radio" class="fox-cloud-checkbox fox-cloud-checkbox-white" name="diskType" 
								[value]="items.value" 
								[(ngModel)]="queryList.diskType"> {{items.displayName}}
						</label>
					</div>

					<div class="col-md-2 content-title">网卡需求</div>
					<div class="col-md-4 btn-group  no-padding mgb15">
						<label *ngFor="let items of networkRequirements" class="mgr20">
							<input type="radio" class="fox-cloud-checkbox fox-cloud-checkbox-white" name="networkRequirements" 
								[value]="items.value" 
								[(ngModel)]="queryList.networkRequirements"> {{items.displayName}}
						</label>
					</div>

					<div class="col-md-2 content-title">是否需要HBA卡</div>
					<div class="col-md-4 btn-group no-padding mgb15">
						<label *ngFor="let items of needHBA" class="mgr20">
							<input type="radio" class="fox-cloud-checkbox fox-cloud-checkbox-white" name="needHBA" 
								[value]="items.value" 
								[(ngModel)]="queryList.needHBA"> {{items.displayName}}
						</label>
					</div>

					<div class="col-md-2 content-title">{{'VM_INSTANCE.SELECT_PHYSICAL_RES'| translate}}</div>
					<div class="col-md-10" data-toggle="buttons">
						<!-- <select [(ngModel)]="sendModule.networktype" class="form-control float-left mgr10">
							<option
							 *ngFor="let value of networkList"
							 [ngValue]="value" >{{ value.attrDisplayValue }}</option>
						</select> -->
						<button 
					[popover]="popover_host" 
					[ngClass]="{'active': popover_host.popover?.visible}" 
					class="btn btn-default button-gray-gradient mgr20">{{'VM_INSTANCE.SELECT_FROM_POOL'| translate}}</button>

				        <popover-content #popover_host [closeOnClickOutside]="true" >
							666
						</popover-content>
					</div>
				</div>
			</li>
			
		</ul>
	</div>
	 <!-- [ngClass]="{'right-fixed' : rightFixed}" (window:scroll)="onScroll($event)" -->
	<div class="col-md-3 no-padding right-box">
		<cart-button #cartButton></cart-button>
		<div class="col-md-12 content-box">
	
			<div class="col-md-12 colud-order-button">
				<div class="col-md-6"><button (click)="buyNow()" class="btn button-orange-deep">{{'COMMON.BUY_NOW'|translate}}</button></div>
				<div class="col-md-6"><button (click)="addCart()" class="btn button-orange-light">{{'COMMON.ADD_TO_SHOPPING_CART'|translate}}</button></div>
			</div>
		</div>
	</div>
</div>

<fc-notice #notice title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalAction(0)"></fc-notice>
