<div class="main-center">
	<a class="h-logo" href="/protal.html"><img src="<%= data.imgPath %>/boelogo.png"></a>  
	
	<div class="h-right float-right">
		<span class="h-login-box mgr20">
			<a href="/protal.html">返回首页</a>
			<span class="dp-ib"> | </span>
			<a href="#">帮助中心</a>
		</span>
	</div>
</div>
