<div class="login-box">
	<div class="l-block">
		<input id="l-username" placeholder="<%=T('userName')%>" value="" class="l-input" type="text" name="">
		<input id="l-password" placeholder="<%=T('passWord')%>" value="" class="l-input" type="password" name="">
		<div id="account-box"></div>
		<input id="submit-button" class="l-submit" type="submit" value="<%=T('login')%>" name="">
	</div>
</div>