<div class="page-content-header icon-cloud-network-mngOn">
    {{'NET_MNG_OPENSTACK.OPENSTACK_NEWWORK_MNG' | translate}}
</div>
<div class="page-content">
    <div class="mgb20" style="margin-top:10px">
        <div class="pull-left mgr20">
            <select class="form-control" [(ngModel)]="selectedRegion" (change)="selectedDc=defaultDc;selectedPfi = defaultPlatform" style="line-height:34px;padding:6px 12px;width:100px">
                <option [ngValue]="defaultRegion">{{'NET_MNG_OPENSTACK.REGION' | translate}}</option>
                <option *ngFor="let region of regionList" [ngValue]="region">{{region.region}}</option>
            </select>
        </div>
        <div class="pull-left  mgr20" >
            <select class="form-control" [(ngModel)]="selectedDc" (change)="selectedPfi = defaultPlatform; queryOpt.dataCenter = selectedDc.id" style="line-height:34px;padding:6px 12px;width:150px">
                <option [ngValue]="defaultDc">{{'NET_MNG_OPENSTACK.DATACENTER' | translate}}</option>
                <option *ngFor="let dc of selectedRegion.dataCenters" [ngValue]="dc">{{dc.dcName}}</option>
            </select>
        </div>
        <div class="pull-left  mgr20 " >
            <select  [(ngModel)]="selectedPfi"(change)="queryOpt.url = selectedPfi.url" style="line-height:34px;padding:6px 12px;width:318px">
                <option [ngValue]="defaultPlatform">{{'NET_MNG_OPENSTACK.PLATFORM' | translate}}</option>
                <option *ngFor="let pf of selectedDc.platforms" [ngValue]="pf">{{pf.platformName +" "+pf.url}}</option>
            </select>
        </div>
        <div class="pull-left  mgr20 ">
            <button type="button" class="fox-cloud-button fox-cloud-button-white " style="height:34px" (click)="search1()"> {{'NET_MNG_OPENSTACK.COMFIRM' | translate}}</button>
        </div>
        <!--<div>region={{queryOpt.region}}</div>
        <div>selectedDc={{queryOpt.dataCenter}}</div>
        <div>platformName={{queryOpt.platformId}}</div>-->
    </div>
    <div class="clear"></div>
    <div class="mgb20 mgt10">
        <span class="float-left" style="display:inline-block;font-size:16px;padding:6px 10px 6px 0">{{'NET_MNG_OPENSTACK.AFFILIATED_ENTERPRISE' | translate}}: </span>
        <!--<div class="pull-left mgr15 col-md-3 " style="position:relative;padding:0">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
            <input type="text" class="form-control " placeholder="输入企业/租户信息搜索" [(ngModel)]="queryOpt.tenantName"/>
        </div>
        <button type="button" class="fox-cloud-button fox-cloud-button-white " style="height:34px" (click)="search2()"> 确定</button>-->
        <div class="input-group col-md-2 float-left">
            <input  type="text" class="form-control width-300" placeholder="{{'NET_MNG_OPENSTACK.INPUT_SEARCH' | translate}}" [(ngModel)]="queryOpt.tenantName">
            <div class="input-group-addon"(click)="search2()"><span class="glyphicon glyphicon-search" ></span></div>
        </div>


        <button type="button" class="fox-cloud-button fox-cloud-button-white mgl15" style="height:34px" (click)="resetQueryOpt()"> {{'NET_MNG_OPENSTACK.RESET' | translate}}</button>
        <div class="dropdown pull-right" style="margin-left:10px">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{'NET_MNG_OPENSTACK.MORE_OPERATION' | translate}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li (click)="createSynTeOption()"><a>{{'NET_MNG_OPENSTACK.SYNC_NET' | translate}}</a></li>
                <li (click)="networkStart()"><a>{{'NET_MNG_OPENSTACK.ENABLE' | translate}}</a></li>
                <li (click)="networkStop()"><a>{{'NET_MNG_OPENSTACK.DISABLE' | translate}}</a></li>
            </ul>
        </div>
    </div>
    <div class="table-container">
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th>{{'NET_MNG_OPENSTACK.SELECT' | translate}}</th>
                    <th>{{'NET_MNG_OPENSTACK.AFFILIATED_ENTERPRISE' | translate}}</th>
                    <th>{{'NET_MNG_OPENSTACK.NETNAME' | translate}}</th>
                    <th>{{'NET_MNG_OPENSTACK.NETNAME_DISPLAY' | translate}}</th>
                    <th>{{'NET_MNG_OPENSTACK.SUBNET_NAME' | translate}}</th>
                    <th>{{'NET_MNG_OPENSTACK.SEGMENT_CIDR' | translate}}</th>
                    <th>{{'NET_MNG_OPENSTACK.GATEwAY' | translate}}</th>
                    <th>{{'NET_MNG_OPENSTACK.NETWORK_TYPE' | translate}}</th>
                    <th>{{'NET_MNG_OPENSTACK.SHARED' | translate}}</th>
                    <th>{{'NET_MNG_OPENSTACK.STATE' | translate}}</th>
                    <th>{{'NET_MNG_OPENSTACK.STATUS' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let network of networks" (click)="selectNetwork(network)">
                    <td >
                        <input type="radio" class="fox-cloud-radio" name="radio" [checked]="network.selected" (change)="network.selected = $event.target.checked" />
                    </td>

                    <td >{{network.tenantName}}</td>
                    <td >{{network.networkName}}</td>
                    <td style="position:relative">{{network.networkDisplayName}}
                        <span class="icon-edit2 pull-right" (click)="openEidtPanel(network);network.nameEditing=true;"></span>
                            <div *ngIf="network.nameEditing" class="popover fade bottom in" role="tooltip" style="z-index:50;position:absolute;top:30px; left:30px; width:370px; max-width:1100px; display: block;">
                                <div class="arrow" style="left: 30%;"></div>
                                <div class="popover-content">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">{{'NET_MNG_OPENSTACK.NETNAME_DISPLAY' | translate}}:</label>
                                            <div class="col-sm-8 float-left">
                                            <input type="text" rows="1" class="form-control"[(ngModel)]="editNetwork.networkDisplayName" name="networkDisplay"/>
                                            </div>
                                        </div>
                                    </form>
                                <div class="pull-right" style="margin-bottom:10px;">
                                    <button class=" fox-cloud-button fox-cloud-button-white"(click)="updateNetworkDisplayName(network)">{{'NET_MNG_OPENSTACK.SAVE' | translate}}</button>
                                    <button class=" fox-cloud-button fox-cloud-button-white"(click)="network.nameEditing=false">{{'NET_MNG_OPENSTACK.CNACLE' | translate}}</button>
                                </div>
                            </div>
                             </div>
                    </td>
                    <td >{{network.subnetName}}</td>
                    <td >{{network.segmentCIDR}}</td>
                    <td >{{network.gateway}}</td>
                    <td >{{network.networkType | dict:this.service.typeDic | async }}</td>
                    <td >{{network.shared |dict:this.service.sharedDic | async }}</td>
                    <td >{{network.state | dict:this.service.stateDic | async }}</td>
                    <td  [ngClass]="{'font-gray':network.status==1,'font-orange':network.status==3,'font-green':network.status==2}">
                        {{network.status | dict:this.service.statusDic | async }}
                    </td>


                </tr>

            </tbody>
        </table>
    </div>
    <div style="height:200px"></div>
        <!--{{queryOpt.toString()}}-->


    <div class="fox-cloud-pagination-container">
        <fc-pagination #pager tp={{totalPage}} (pf)="getNetworkList($event)"></fc-pagination>
    </div>
    <fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{ 'COMMON.CONFIRM' | translate }}"></fc-notice>
    <fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{ 'COMMON.CONFIRM' | translate }}" ct="{{ 'COMMON.CANCEL' | translate }}"></fc-confirm>

</div>

<!--同步弹出框内容-->
<fc-popup #synEnts title="{{title}}" ot="{{ 'COMMON.SUBMIT' | translate }}" (of)="commitSynTe()" ct="{{ 'COMMON.CANCEL' | translate }}" (cf)="cancelCommitSynTe()">
    <div style="max-height: 400px; overflow: auto;">
       <div class="table-container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{'NET_MNG_OPENSTACK.SELECT' | translate}}</th>
                        <th>{{'NET_MNG_OPENSTACK.AFFILIATED_ENTERPRISE' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let tenant of tenants">
                    <td >
                        <input type="checkbox" class="fox-cloud-checkbox" [checked]="tenant.selected" (change)="tenant.selected = $event.target.checked"></td>
                    <td style="text-align: left; padding-left: 10px;">{{tenant.name}}</td>
                </tr>
                </tbody>
            </table>
            </div>
    </div>
</fc-popup>



