<div class="page-content-header icon-cloud-network-mngOn">
    VMWare网络
</div>
<div class="page-content">
    
    <table class="table table-hover ">
        <thead>
            <tr>
                <th style="text-align:left;">
                    VMware网络管理 -- 管理分布式网络 -- IP地址管理&nbsp;&nbsp;&nbsp;&nbsp;"地区" "数据中心" 平台显示名称 + 连接URL https://192.168.1.1:443
                </th>
                <th style="text-align:right;">
                    <button class=" fox-cloud-button fox-cloud-button-white ">
                        <span class="icon-button-label" key="boe/VMWare-normal.html">返回上一级</span>
                    </button>
                </th>
            </tr>
        </thead>
    </table>

    <div class="mgt10 mgb20" >
        <span class="pull-left font-gray mgt5">
            可用区（集群）名称 :
        </span>
        <div class="pull-left mgl15">
            <select class="form-control">
                <option>所有</option>
                <option>DLR1</option>
                <option>DLR2</option>
                <option>DLR11</option>
                <option>DLR22</option>
            </select>
        </div>
		<button type="button" class="fox-cloud-button fox-cloud-button-white mgl15" style="height:34px"> 确定</button>
    </div>

    <div class="mgb10">
        <button class="fox-cloud-button fox-cloud-button-green">设置IP子网</button>
        <button class="fox-cloud-button fox-cloud-button-green">设置IP地址范围</button>
        <button class="fox-cloud-button fox-cloud-button-green" key="boe/mng_ip_addr.html">管理IP地址</button>
    </div>

    <div class="table-container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>选择</th>
                <th>数据中心（DC)</th>
                <th>可用区（集群）名称</th>
                <th>标准端口组名称</th>
                <th>标准端口组显示名称</th>
                <th>VLAN ID</th>
                <th>子网信息</th>
                <th>网关地址</th>
                <th>IP地址池数量</th>
                <th>已使用IP地址数量</th>
                <th>剩余IP地址数量</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="radio" class="fox-cloud-radio" name="radio"></td>
                <td>DC1</td>
                <td>Cluster1</td>
                <td>dv pg1</td>
                <td>未设置</td>
                <td>100</td>
                <td>172.16.1.0/24</td>
                <td>172.16.1.1</td>
                <td>24</td>
                <td>50</td>
                <td>24</td>
            </tr>
            <tr>
                <td><input type="radio" class="fox-cloud-radio" name="radio"></td>
                <td>DC1</td>
                <td>Cluster1</td>
                <td>dv pg2</td>
                <td>未设置</td>
                <td>101</td>
                <td>未设置</td>
                <td>未设置</td>
                <td>未设置</td>
                <td>未设置</td>
                <td>未设置</td>
            </tr>
            <tr>
                <td><input type="radio" class="fox-cloud-radio" name="radio"></td>
                <td>DC1</td>
                <td>Cluster1</td>
                <td>dv pg3</td>
                <td>未设置</td>
                <td>102</td>
                <td>未设置</td>
                <td>未设置</td>
                <td>未设置</td>
                <td>未设置</td>
                <td>未设置</td>
            </tr>
            <tr>
                <td><input type="radio" class="fox-cloud-radio" name="radio"></td>
                <td>DC1</td>
                <td>Cluster1</td>
                <td>dv pg21</td>
                <td>未设置</td>
                <td>103</td>
                <td>未设置</td>
                <td>未设置</td>
                <td>未设置</td>
                <td>未设置</td>
                <td>未设置</td>
            </tr>
            <tr>
                <td><input type="radio" class="fox-cloud-radio" name="radio"></td>
                <td>DC1</td>
                <td>Cluster1</td>
                <td>dv pg22</td>
                <td>未设置</td>
                <td>104</td>
                <td>未设置</td>
                <td>未设置</td>
                <td>未设置</td>
                <td>未设置</td>
                <td>未设置</td>
            </tr>
            <tr>
                <td><input type="radio" class="fox-cloud-radio" name="radio"></td>
                <td>DC1</td>
                <td>Cluster1</td>
                <td>dv pg31</td>
                <td>未设置</td>
                <td>105</td>
                <td>未设置</td>
                <td>未设置</td>
                <td>未设置</td>
                <td>未设置</td>
                <td>未设置</td>
            </tr>
            </tbody>
        </table>
    </div>


</div>