
<div class="page-content-header icon-cloud-network-mngOn">
    VMWare网络
</div>
<div class="page-content">
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="text-align:left;">VMware网络管理 -- 管理标准网络 -- IP地址管理 -- 管理IP地址</th>
                <th style="text-align:right;">
                    <button class=" fox-cloud-button fox-cloud-button-white ">
                        <span class="icon-button-label" key="boe/ip_addr_mng.html">返回上一级</span>
                    </button>
                </th>
            </tr>
        </thead>
    </table>

    <div class="row mgt10 mgb20" >
        <span class="pull-left font-gray mgt5 pdl15">
            端口组显示名称 :
        </span>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="信管中心-B1网络">
        </div>
    </div>

    <div class="mgb10">
        <button class="fox-cloud-button fox-cloud-button-green">空闲</button>
        <button class="fox-cloud-button fox-cloud-button-green">已占有</button>
        <button class="fox-cloud-button fox-cloud-button-green">所有</button>
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                选择操作
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">编辑</a></li>
                <li><a href="#">启用</a></li>
                <li><a href="#">禁用</a></li>
                <li><a href="#">删除</a></li>
            </ul>
        </div>
    </div>

    <div class="table-container mgb10">
        <table class="table table-hover">
            <thead>
                <tr>
                <th>选择</th>
                <th>IP地址</th>
                <th>主机名称</th>
                <th>企业名称</th>
                <th>状态</th>
                <th>说明</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="radio" class="fox-cloud-radio" name="radio"></td>
                <td>10.20.10.1</td>
                <td>xxx</td>
                <td>ABC</td>
                <td class="font-green">已占用</td>
                <td></td>
            </tr>
            <tr>
                <td><input type="radio" class="fox-cloud-radio" name="radio"></td>
                <td>10.20.10.2</td>
                <td>xxx</td>
                <td>ABC</td>
                <td class="font-green">已占用</td>
                <td></td>
            <tr>
                <td><input type="radio" class="fox-cloud-radio" name="radio"></td>
                <td>10.20.10.3</td>
                <td></td>
                <td></td>
                <td>空闲</td>
                <td></td>
            </tr>
            <tr>
                <td><input type="radio" class="fox-cloud-radio" name="radio"></td>
                <td>10.20.10.4</td>
                <td></td>
                <td></td>
                <td>空闲</td>
                <td></td>
            </tr>
            <tr>
                <td><input type="radio" class="fox-cloud-radio" name="radio"></td>
                <td>10.20.10.5</td>
                <td>xxx</td>
                <td>ABC</td>
                <td class="font-green">已占用</td>
                <td></td>
            </tr>
            <tr>
                <td><input type="radio" class="fox-cloud-radio" name="radio"></td>
                <td>10.20.10.6</td>
                <td></td>
                <td></td>
                <td>空闲</td>
                <td></td>
            </tr>
            <tr>
                <td><input type="radio" class="fox-cloud-radio" name="radio"></td>
                <td>10.20.10.7</td>
                <td></td>
                <td></td>
                <td>空闲</td>
                <td></td>
            </tr>
            <tr>
                <td><input type="radio" class="fox-cloud-radio" name="radio"></td>
                <td>10.20.10.8</td>
                <td></td>
                <td></td>
                <td>空闲</td>
                <td></td>
            </tr>
            <tr>
                <td><input type="radio" class="fox-cloud-radio" name="radio"></td>
                <td>10.20.10.9</td>
                <td></td>
                <td></td>
                <td>空闲</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="text-center">
    <button class="fox-cloud-button-lg fox-cloud-button-white">
        <span class="icon-button-label">关闭</span>
    </button>
</div>


