<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/public/css/common.css">
</head>
<body>
<div class="cm-header"></div>  <!-- 公共头部 -->

<div class="cm-slide"></div>   <!-- banner -->

<div class="protal main-center">
	<div class="text-box text-esc">
		<div class="text-block float-left">
			<h2>云主机（ECS）</h2>
			<p>云主机（Elastic Compute Service，简称 ECS）是一种简单高效、处理能力可弹性伸缩的计算服务，帮助您快速构建更稳定、安全的应用，提升运维效率，降低 IT 成本，使您更专注于核心业务创新。</p>
			<a href="/products.html#ecs">查看详情 ></a>
		</div>
	</div>

	<div class="text-box text-evs">
		<div class="text-block float-right">
			<h2>云硬盘（EVS）</h2>
			<p>云硬盘（Elastic Volume Service）是一种基于分布式架构的，可弹性扩展的虚拟块存储服务。具有高数据可靠性，高I/O吞吐能力等特点。像使用传统服务器硬盘一样，您可以对挂载到云服务器上的云硬盘做格式化、创建文件系统等操作，并对数据持久化存储。</p>
			<a href="/products.html#ecs">查看详情 ></a>
		</div>
	</div>

	<div class="text-box text-slb">
		<div class="text-block float-left">
			<h2>负载均衡（SLB）</h2>
			<p>负载均衡（Server Load Balancer）是对多台云服务器进行流量分发的负载均衡服务，可以通过流量分发扩展应用系统对外的服务能力，通过消除单点故障提升应用系统的可用性。</p>
			<a href="/products.html#ecs">查看详情 ></a>
		</div>
	</div>


</div>

<div class="cm-map"></div>  <!-- map -->

<div class="cm-footer"></div> 
<script src="/public/js/jquery.min.js" type="text/javascript"></script>
<script src="/public/js/bootstrap.min.js"></script>
</body>
</html>