<div class="CostPandect">	
	<div class="page-content-header">消费总览</div>
	<div class="page-content">

		<!--<div class="firstPanel">
			<span class="float-left mgt10 mgr5">企业：</span>
			<select class="form-control fix-width-120 mgr20" [(ngModel)]="_param.enterpriseId">
					<option class="hands" [value]="null">所有企业</option>
					<option class="hands" *ngFor="let item of enterpriseLoader.Items" [value]="item.id">{{item.name}}</option>
			</select>
				
			<button class="fox-cloud-button-green fox-cloud-button mgl20" (click)="search_chart();">确定</button>
		</div>-->
	    <!--  下拉选项行 -->
		<div class="firstPanel mgt10">
		   <!--<span class="float-left  mgr5 mgt10">日期：</span> -->
	       <div class="float-left"> <!--[(ngModel)]="_param.organization" (ngModelChange)="loadBuyer()"
		    *ngFor="let item of _departmentLoader.Items" [value]="item.id"-->
				<select class="form-control fix-width-120" [(ngModel)]="_param.year" (ngModelChange)="getMonths()">
					<option class="hands" [value]="null">所有年份</option>
					<option class="hands" *ngFor="let item of _years" [value]="item.id">{{item.name}}年</option>
				</select>
			</div>
			<div  class="float-left">
				<select class="form-control fix-width-120" [(ngModel)]="_param.month" (ngModelChange)="getLastDay()">
					<option class="hands" [value]="null" >所有月份</option>
					<option class="hands"  *ngFor="let item of _months" [value]="item.id">{{item.name}}月</option>
				</select>
			</div>
			
			<div class="float-right">
				<button class="btn button-gray-gradient"><span>下载账单</span></button>
			</div>
			<!--<div class="float-right">
				<button class="fox-cloud-button-green">导出</button>
			</div>-->
		</div><!--  下拉选项行 ending-->

		<!--  统计图行 -->
	 	<div class="secondePanel">
			<div class="row">
				<div class="col-sm-6">
					<div class="console-box">
		                <div class="console-title">部门消费概览</div>
		                <div class="ues-content">
							 <canvas baseChart *ngIf="ent_dht" 
                          width="200" height="70"
                          [datasets]="ent_dht"
                          chartType="doughnut"
                          [colors]="d_chart.colors"
						  [labels]="d_chart.labels"></canvas>
		                </div>
		            </div>
				</div>
                <div class="col-sm-6">
                    <div class="console-box">
                        <div class="console-title">部门消费趋势</div>
                        <div class="ues-content">
							 <canvas baseChart *ngIf="ent_bar"
                          width="200" height="70"
                          [datasets]="ent_bar" 
                          chartType="bar"
                          [colors]="b_chart.colors"
                          [labels]="b_chart.labels"
                          [options]="b_chart.options"></canvas>
                        </div>     
                    </div>
                </div>
			</div>
            <div class="row" *ngIf="isRoot">
                <div class="col-sm-6">
                    <div class="console-box">
                        <div class="console-title">TOP5部门消费总额排名</div>
                        <div class="ues-content">
                            <!--<canvas id="h_bar_chart" width="200" height="70"></canvas>-->
							 <canvas baseChart
                          width="200" *ngIf="ent_hbar" height="70"
                          [datasets]="ent_hbar"
                          [labels]="h_chart.labels"
                          [colors]="h_chart.colors"
                          chartType="horizontalBar"
                          [options]="h_chart.options"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="console-box">
                        <div class="console-title">TOP5部门新增总额排名</div>
						 <canvas *ngIf="ent_hbar2" baseChart
                          width="200" height="70"
                          [datasets]="ent_hbar2"
                          [labels]="h_chart2.labels"
                          [colors]="h_chart2.colors "
                          chartType="horizontalBar"
                          [options]="h_chart2.options"></canvas>
                        <div class="ues-content">
                            <!--<canvas id="h_bar_chart2" width="200" height="70"></canvas>-->
                        </div>     
                    </div>
                </div>
            </div>
			
		</div> <!--统计图行 ending-->

		<!--  下拉选项行 -->
		<div class="firstPanel mgt20">

            <div class="float-left mgr20">
                <span>服务类型</span>
                <select class="form-control fix-width-120" [(ngModel)]="isAllService" (ngModelChange)="loadService()">
                    <option class="hands" [value]="1">所有服务</option>
					<option class="hands" [value]="2">新增服务</option>
                    <!--<option class="hands" *ngFor="let item of _orderTypeLoader.Items" [value]="item.id">{{item.name}}</option>-->
                </select>
            </div>
		</div><!--  下拉选项行 ending-->

		<!--  表格行 -->
		<div class="thirdPanel" *ngIf="isAllService==1">
            <div class="table-container">
                <table class="table table-hover table-all-boder">
                    <thead>
                        <tr>
                            <th class="text-center">已购服务编号</th>
                            <th class="text-center">产品名称</th>
							<th class="text-center">购买数量</th>
							<th class="text-center">费用类型</th>
                            <th class="text-center">应付金额</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let item of allServiceLoader.Items;">
                            <td class="vertical-center"><a (click)='showDetail(item.subinstanceCode)'>{{item.subinstanceCode}}</a></td>
                            <td class="vertical-center">{{item.productName}}</td>
                            <td class="vertical-center">{{item.num}}</td>
                            <td class="vertical-center">
								<ul *ngFor="let priceItem of item.priceDetails">
									<li>{{priceItem.billName}}</li>
								</ul>
							</td>
                            <td class="vertical-center">{{item.total_amount}}</td>
                        </tr>               
                    </tbody>
                </table>
            </div>
		</div><!--  表格<div class="row row-line-height">-->
		<div  class="thirdPanel" *ngIf="isAllService==2">
            <div class="table-container">
                <table class="table table-hover table-all-boder">
                    <thead>
                        <tr>
                            <th class="text-center">已购服务编号</th>
                            <th class="text-center">产品名称</th>
							<th class="text-center">购买数量</th>
							<th class="text-center">费用类型</th>
                            <th class="text-center">应付金额</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let item of increaseServiceLoader.Items;">
                            <td class="vertical-center"><a (click)='showDetail(item.subinstanceCode)'>{{item.subinstanceCode}}</a></td>
                            <td class="vertical-center">{{item.productName}}</td>
                            <td class="vertical-center">{{item.num}}</td>
                            <td class="vertical-center">
								<ul *ngFor="let priceItem of item.priceDetails">
									<li>{{priceItem.billName}}</li>
								</ul>
							</td>
                            <td class="vertical-center">{{item.total_amount}}</td>
                        </tr>               
                    </tbody>
                </table>
            </div>
		</div><!--  表格<div class="row row-line-height">-->
		
	</div>	
</div>


<!--下载账单--> 
	<div class="modal fade" id="downloadDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  	<div class="modal-dialog" role="document">
				<div class="modal-content">
				  	<div class="modal-header">
					 	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">下载账单</h4>
				  	</div>
				 	<div class="modal-body"> 
						<div class="CostDownload">	
							<div class="page-content">
								<!--  下拉选项行 -->
								<div class="firstPanel mgt20" style="height: 50px;">
									<div class="float-left">
										<select class="form-control fix-width-120" [(ngModel)]="_param.organization" (ngModelChange)="loadBuyer()">
											<option class="hands" [value]="null">2016年</option>
											<!--<option class="hands" *ngFor="let item of _departmentLoader.Items" [value]="item.id">2016年</option>-->
										</select>
									</div>
								</div><!--  下拉选项行 ending-->

								<!--  表格行 -->
								<div class="secondePanel ">
									<div class="table-container">
										<table class="table table-hover table-all-boder">
											<thead>
												<tr>
													<th class="text-center">账单</th>
													<th class="text-center">记账周期</th>
													<th class="text-center">账单金额</th>
													<th class="text-center">出账日</th>
													<th class="text-center">账单状态</th>
													<th class="text-center">操作</th>
												</tr>
											</thead>
											<tbody>
												<tr class="text-center">
													<td class="vertical-center">2016年10月</td>
													<td class="vertical-center">2016年10月1日-2016年10月30日</td>
													<td class="vertical-center">￥1000000000.00</td>
													<td class="vertical-center">2016年10月5日</td>
													<td class="vertical-center">已出账</td>
													<td class="vertical-center"><button class="btn btn-default button-gray-gradient">下载</button></td>
												</tr>               
											</tbody>
										</table>
									</div>
								</div><!--  表格行 ending-->
							</div>
						</div>
					</div>
			      
				  	<div class="modal-footer">
				  	</div>
				
		  	</div>
		</div>
	</div>