<div class="CostPandect">	
	<div class="page-content-header">部门消费总览</div>
	<div class="page-content">

		<!--<div class="firstPanel">
			<span class="float-left mgt10 mgr5">企业：</span>
			<select class="form-control fix-width-120 mgr20" [(ngModel)]="_param.enterpriseId">
					<option class="hands" [value]="null">所有企业</option>
					<option class="hands" *ngFor="let item of enterpriseLoader.Items" [value]="item.id">{{item.name}}</option>
			</select>
				
			<button class="fox-cloud-button-green fox-cloud-button mgl20" (click)="search_chart();">确定</button>
		</div>-->
	    <!--  下拉选项行 -->
		<div class="firstPanel mgt10">
		   <!--<span class="float-left  mgr5 mgt10">日期：</span> -->
	       <div class="float-left"> <!--[(ngModel)]="_param.organization" (ngModelChange)="loadBuyer()"
		    *ngFor="let item of _departmentLoader.Items" [value]="item.id"-->
				<select class="form-control fix-width-120" [(ngModel)]="_param.year" (ngModelChange)="loadMonths()">
					<option class="hands" *ngFor="let item of _years" [value]="item.id">{{item.name}}年</option>
				</select>
			</div>
			<div  class="float-left">
				<select class="form-control fix-width-120" [(ngModel)]="_param.month" (ngModelChange)="loadChart()">
					<option class="hands"  *ngFor="let item of _months" [value]="item.id">{{item.name}}月</option>
				</select>
			</div>
		</div><!--  下拉选项行 ending-->

		<!--  统计图行 -->
	 	<div class="secondePanel">
			<div class="row">
				<div class="col-sm-6">
					<div class="console-box">
		                <div class="console-title">部门消费概览</div>
		                <div class="ues-content">
							 <canvas baseChart *ngIf="ent_dht" 
                          width="200" height="70"
                          [datasets]="ent_dht"
                          chartType="doughnut"
                          [colors]="d_chart.colors"
						  [labels]="d_chart.labels"></canvas>
		                </div>
		            </div>
				</div>
                <div class="col-sm-6">
                    <div class="console-box">
                        <div class="console-title">部门消费趋势</div>
                        <div class="ues-content">
							 <canvas baseChart *ngIf="ent_bar"
                          width="200" height="70"
                          [datasets]="ent_bar" 
                          chartType="bar"
                          [colors]="b_chart.colors"
                          [labels]="b_chart.labels"
                          [options]="b_chart.options"></canvas>
                        </div>     
                    </div>
                </div>
			</div>
			
		</div> <!--统计图行 ending-->

		<!--  下拉选项行 -->
		<div class="firstPanel mgt20">

            <div class="float-left mgr20">
                <span>服务类型</span>
                <select class="form-control fix-width-120" [(ngModel)]="isAllService" (ngModelChange)="loadService()">
                    <option class="hands" [value]="1">所有服务</option>
					<option class="hands" [value]="2">新增服务</option>
                    <!--<option class="hands" *ngFor="let item of _orderTypeLoader.Items" [value]="item.id">{{item.name}}</option>-->
                </select>
            </div>
		</div><!--  下拉选项行 ending-->

			<!--  表格行 -->
		<div class="thirdPanel" *ngIf="isAllService==1">
            <div class="table-container">
                <table class="table table-hover table-all-boder">
					<thead>
						<tr>
							<th class="text-center">已购服务编号</th>
							<th class="text-center">产品名称</th>
							<th class="text-center">购买数量</th>
							<th class="text-center">费用类型</th>
							<th class="text-center">应付金额</th>
										
						</tr>
					</thead>
					<tbody>
                        <tr class="text-center" *ngFor="let item of allServiceLoader.Items;">
							<td colspan="5">
								<table class="cart-info">
									<tr  *ngFor="let priceItem of item.priceDetails">
										<td class="vertical-center"><a (click)='showDetail(item)'>{{item.subinstanceCode}}</a></td>
                            			<td class="vertical-center">{{item.productName}}</td>
                            			<td class="vertical-center">{{item.num}}</td>
										<td>
											{{priceItem.billName}}
										</td>
										<td class="vertical-center"><span *ngIf="!priceItem.isShow" >&nbsp;&nbsp;￥{{priceItem.amount}}</span><span *ngIf="priceItem.isShow">&nbsp;&nbsp;￥{{item.total_amount}}</span></td>
									</tr>
									 
								</table>
							</td>		
                    	</tr> 
					</tbody>                  
                </table>
            </div>
		</div><!--  表格<div class="row row-line-height">-->
		<div  class="thirdPanel" *ngIf="isAllService==2">
            <div class="table-container">
                <table class="table table-hover table-all-boder">
                    <thead>
                        <tr>
                            <th class="text-center">已购服务编号</th>
                            <th class="text-center">产品名称</th>
							<th class="text-center">购买数量</th>
							<th class="text-center">费用类型</th>
                            <th class="text-center">应付金额</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let item of increaseServiceLoader.Items;">
                            <td colspan="5">
								<table class="cart-info">
									<tr *ngFor="let priceItem of item.priceDetails">
										<td class="vertical-center"><a (click)='showDetail(item)'>{{item.subinstanceCode}}</a></td>
                            			<td class="vertical-center">{{item.productName}}</td>
                            			<td class="vertical-center">{{item.num}}</td>
										<td>
											{{priceItem.billName}}
										</td>
										<td class="vertical-center"><span *ngIf="!priceItem.isShow" >&nbsp;&nbsp;￥{{priceItem.amount}}</span><span *ngIf="priceItem.isShow">&nbsp;&nbsp;￥{{item.total_amount}}</span></td>
									</tr>
									 
								</table>
							</td>	
                        </tr>               
                    </tbody>
                </table>
            </div>
		</div><!--  表格<div class="row row-line-height">-->
		
	</div>	
</div>
