<div class="OrderDetail">   
	<!--<div class="page-content-header icon-order-manage" style="border-bottom: 3px solid  #01a982;margin: 10px 0px;padding-left: 0; padding-bottom: 40px;">已订购服务编号：5370537<button class=" form-control-title button-gray-gradient pull-right">返回订购管理</button>
	</div>-->
	<div class="page-content">
		<div class="table-container mgb20">
			<table class="table table-bordered mgb20">
				<thead>	
					<tr><th class="form-control-title text-left" colspan="2">基本信息</th></tr>			
				</thead>
				<tbody>
					<tr>
						<td>已订购服务编号：{{_orderDetail.instanceCode}}</td>	
						<td>状态：{{_orderDetail.statusName}}</td>
					</tr>
					<tr>
						<td>产品类型：{{_orderDetail.productTypeName}}</td>	
						<td>区域/可用区：{{_orderDetail.platform}} {{_orderDetail.zone}}</td>
					</tr>
					<tr>
						<td>当前配置：{{_orderDetail.specification}}</td>	
						<td>创建时间：{{_orderDetail.createDate}}</td>
					</tr>
					<tr>
						<td>计费模式：包年包月</td>	
						<td>到期时间：{{_orderDetail.expireDate}}</td>
					</tr>
					<tr>
						<td>一次性费用：￥30</td>	
						<td>订购人：张三</td>
					</tr>
					<tr>
						<td>费用：￥184/月</td>	
						<td>部门：销售部</td>
					</tr>
					<tr>
						<td>实例名称：{{_orderDetail.instanceName}}</td>	
						<td>企业：{{_orderDetail.enterprise}}</td>
					</tr>				
				</tbody>
			</table>
		</div>
		
		<div class="table-container mgb20">
			<table class="table table-bordered mgb20 text-center">
				<thead>	
					<tr><th class="text-left form-control-title" colspan="8">关联的已订购服务列表</th></tr>	
							
				</thead>
				<tbody>
					<tr class="bg-light-blue border-gray">
						<td>已订购服务编号</td>
						<td>实例名称</td>
						<td>产品类型</td>
						<td>配置</td>
						<td>计费模式</td>
						<td>状态</td>
						<td>费用</td>
						<td>到期时间</td>
					</tr>
					<tr *ngFor="let item of _orderDetail.relatedSubInstanceList">
						<td>{{item.instanceCode}}</td>
						<td>{{item.instanceName}}</td>
						<td>{{item.productTypeName}}</td>
						<td>{{item.specification}}</td>
						<td>{{item.billingModeName}}</td>
						<td class="font-green">{{item.statusName}}</td>
						<td>
							<ul>
								<li>一次性费用：{{item.oneTimePrice}}</li>
								<li>费用：{{item.price}}</li>
							</ul>
						</td>
						<td>{{item.expireDate}}</td>
					</tr>
				</tbody>
			</table>
		</div>	
		<div class="table-container mgb20">
			<table class="table table-bordered mgb20 text-center">
				<thead>	
					<tr><th class="text-left form-control-title" colspan="8">历史信息</th></tr>	
							
				</thead>
				<tbody>
					<tr class="bg-light-blue border-gray" >
						<td>日期</td>
						<td>实例名称</td>
						<td>实例类型</td>
						<td>配置</td>
						<td>操作者</td>
						<td>所属部门</td>
						<td>到期时间</td>
						<td>说明</td>
					</tr>
					<tr *ngFor="let item of _orderDetail.relatedOrderList">
						<td>{{item.createDate}}</td>
						<td>{{item.instanceName}}</td>
						<td>{{item.typeName}}</td>
						<td>{{item.specification}}</td>
						<td>{{item.operator}}</td>
						<td>{{item.department}}</td>
						<td>{{item.expireDate}}
						</td>
						<td>{{item.description}}</td>
					</tr>
				</tbody>
			</table>
		</div>				
	</div>					
</div>