<!--订单续订完成-->
	<div class="OrderRenew"> 
		<div class="page-content">
			<div class="table-container mgb20">
				<table class="table">
					<thead>	
						<tr>
							<th class="order-title">{{ 'SHOPPING_CART.PRODUCT_INFORMATION' | translate}}</th>
							<th>{{ 'SHOPPING_CART.PRODUCT_TYPE' | translate}}</th>
							<th>{{ 'ORDER_MNG.CHARGING_MODE' | translate}}</th>
							<th>{{ 'ORDER_MNG.PURCHASE_CYCLE' | translate}}</th>
							<th>{{ 'COMMON.QUANTITY' | translate}}</th>
							<th>新费用</th>
							<th>状态</th>
							<th>新费用开始时间</th>
                            <th>续订后到期时间</th>
						</tr>			
					</thead>
					<tbody>
						<tr *ngFor="let prodItem of orderItem.itemList">
							<td style="text-align: left;padding-top: 30px;padding-left: 40px;padding-right: 20px; ">
								<!--<ul *ngIf="prodItem.serviceType>1">
									<li *ngFor="let detailItem of prodItem.specList">{{detailItem.attrDisplayName}}：&nbsp;&nbsp;{{detailItem.attrDisplayValue}} {{detailItem.valueUnit}}</li>
								</ul>-->
								   <service-view  [values]="prodItem" *ngIf="prodItem.serviceType==11"></service-view>
									<machine-view  [values]="prodItem" *ngIf="prodItem.serviceType==4"></machine-view>
									<vm-view [values]="prodItem" *ngIf="prodItem.serviceType==0"></vm-view>
									<!-- 显示云主机 -->
									<disk-view [values]="prodItem" *ngIf="prodItem.serviceType==1"></disk-view>
									<sql-view [values]="prodItem" *ngIf="prodItem.serviceType==3" ></sql-view><!-- 数据库 -->

									<middleware-view [values]="prodItem" *ngIf="prodItem.serviceType==5" ></middleware-view><!-- 中间件 -->
							</td>
							<td>{{prodItem.serviceType | dict:_dictServ.getDic('GLOBAL', 'SERVICE_TYPE') |async}}</td>
							<td>{{prodItem.billingMode | dict:_dictServ.getDic('BILLING_MODE', 'TYPE') |async}}</td>
							<td>{{prodItem.period}}{{prodItem.periodType | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') |async }}</td>
							<td>{{prodItem.quantity}}台</td>
							<td style="width: 100px;">
								{{ 'COMMON.ONE_TIME_COSTS' | translate }}:￥0<br/>
							<span>费用:￥{{prodItem.price}}/</span><span>{{prodItem.periodType | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') | async}}</span>
							</td>
							<td class="font-green">审批中</td>
							<td>{{prodItem.expireDate}}</td>
                            <td>{{prodItem.renewDate}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>