<!--订单续订-->
	<div class="OrderRenew"> 
		<div class="page-content">
			<div class="table-container mgb20">
				<table class="table">
					<thead>	
						<tr>
							<th class="order-title">{{ 'SHOPPING_CART.PRODUCT_INFORMATION' | translate}}</th>
							<th>{{ 'SHOPPING_CART.PRODUCT_TYPE' | translate}}</th>
							<th>{{ 'ORDER_MNG.CHARGING_MODE' | translate}}</th>
							<th>{{ 'ORDER_MNG.PURCHASE_CYCLE' | translate}}</th>
							<th>{{ 'COMMON.QUANTITY' | translate}}</th>
							<th>{{ 'ORDER_MNG.UNIT_PRICE' | translate}}</th>
							<th>{{ 'ORDER_MNG.RENEWAL_FEE' | translate}}</th>
							<th>{{ 'ORDER_MNG.ORIGINAL_EXPIRATION_TIME' | translate}}</th>
						</tr>			
					</thead>
					<tbody>
						<tr *ngFor="let prodItem of orderItem.itemList">
							<td style="text-align: left;padding-top: 30px;padding-left: 40px;padding-right: 20px; ">
								<ul *ngIf="prodItem.serviceType>1">
									<li *ngFor="let detailItem of prodItem.specList">{{detailItem.attrDisplayName}}：&nbsp;&nbsp;{{detailItem.attrDisplayValue}} {{detailItem.valueUnit}}</li>
								</ul>
									<vm-view [values]="prodItem.specList" *ngIf="prodItem.serviceType==0"></vm-view>
									<!-- 显示云主机 -->
									<disk-view [values]="prodItem.specList" *ngIf="prodItem.serviceType==1"></disk-view>
							</td>
							<td>{{prodItem.serviceType | dict:_dictServ.getDic('GLOBAL', 'SERVICE_TYPE') |async}}</td>
							<td>{{prodItem.billingMode | dict:_dictServ.getDic('BILLING_MODE', 'TYPE') |async}}</td>
							<td>{{prodItem.period}}/{{prodItem.periodType | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') |async |slice:1}}</td>
							<td>{{prodItem.quantity}}</td>
							<td style="width: 100px;">
								{{ 'COMMON.ONE_TIME_COSTS' | translate }}:￥{{prodItem.oneTimePrice}}<br/>
							<span>费用:￥{{prodItem.price}}/</span><span *ngIf="prodItem.serviceType==1">GB</span><span>{{prodItem.periodType | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') | async}}</span>
							</td>
							<td class="font-green">￥{{prodItem.renewPrice}}/{{prodItem.renewPeriodType | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') |async |slice:1}}</td>
							<td>{{prodItem.expireDate}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>