<fc-notice #notice ot="{{ 'ORDER_MNG.CONFIRM' | translate }}"></fc-notice>
<div class="OrderSearch">	
	<div class="page-content-header "> {{ 'ORDER_MNG.ORDER_TRACKING' | translate }}</div>
	<div class="page-content">
		<div class="table-container">
			<div class="">
				<div class="input-group col-md-2 float-left mgr20">
   					 <input class="form-control width-400" placeholder="{{ 'ORDER_MNG.PLEASE_ENTER_THE_ORDER_NUMBER_FUZZY_QUERY' | translate }}" id="enter_order_number" type="email" [(ngModel)]="_param.searchText">
    				 <div class="input-group-addon pointer"><span class="glyphicon glyphicon-search" (click)="search()" id="order_number_search"></span></div>
				</div>
				<div  class="input-group float-left">
					   <button class="btn button-gray-gradient" (click)="resetParam()" id="order_number_reset"><span class="glyphicon glyphicon-repeat"></span> {{ 'ORDER_MNG.RESET' | translate}}</button>
        		</div>
			</div>
			<table class="table">
				<tbody>
					<tr class="none-border">				
						<td class="none-border">
							<span class="float-left mgt7 mgl20 pdl10">{{ 'COMMON.DEPARTMENT' | translate }}：</span>
							<div class="dropdown float-left">
								<select class="form-control  fix-width-120" [(ngModel)]="_param.organization" (ngModelChange)="loadBuyer()" id="organization">
									<option class="hands" [value]=null id="organization_null">{{ 'CHECK_CENTER.ALL_DEPARTMENTS' | translate }}</option>
									<option class="hands" *ngFor="let item of _departmentLoader.Items" [value]="item.id" id="organization_{{item.id}}">{{item.name}}</option>
								</select>
							</div>
						</td>
					 	<td class="none-border">
							<span class="float-left mgl15 mgt7">{{ 'ORDER_MNG.SUBMITTER' | translate }}: </span>
							<div class="dropdown float-left">
								<select class="form-control  fix-width-120" [(ngModel)]="_param.buyerId" id="buyerId">
									<option class="hands" [value]="null" id="buyerId_null">{{ 'ORDER_MNG.ALL_USERS' | translate }}</option>
									<option class="hands" *ngFor = "let item of _buyerLoader.Items" [value] = "item.id" id="buyerId_{{item.id}}">{{item.name}}</option>
								</select>
							</div>
						</td>
						<td class="none-border">
							<div class="mgt-10">
								<span class="mgt15 float-left mgt7">{{ 'ORDER_MNG.SUBMISSION_TIME' | translate }}: </span>
								<div class="dropdown float-left">			
									<date-picker #createDatePicker (dateChanged)="onCreateTimeChange($event)" id="on_create_time"></date-picker>
								</div>
								<span class="mgl10 mgt15 float-left">—</span>
								<div class="dropdown float-left">			
									<date-picker #expireDatePicker (dateChanged)="onExpireTimeChange($event)" id="on_expire_time"></date-picker>
								</div>
							</div>
						</td>
						
					</tr> 
					<tr class="none-border">
						<td class="none-border " width="250px">
							<span class="float-left mgt7" >
							{{ 'ORDER_MNG.ORDER_STATUS' | translate }}：</span>
							<div class="dropdown float-left">
								<select class="form-control" [(ngModel)]="_param.status" id="orders_status">
									<option class="hands" [value]=null id="orders_status_null">{{ 'ORDER_MNG.ALL_STATUS' | translate }}</option>
									<option class="hands" *ngFor="let item of _orderStatusDic.Items" [value]="item.value" id="orders_status_{{item.value}}">{{item.displayValue}}</option>
								</select>
							</div>
						</td>
						<td class="none-border ">
							<span class="float-left mgt7" >
							{{ 'ORDER_MNG.PRODUCT_TYPE' | translate }}: </span>
							<div class="dropdown float-left">
								<select class="form-control" [(ngModel)]="_param.serviceType" id="serviceType">
									<option class="hands" [value]=null id="serviceType_null">{{'ORDER_MNG.ALL_TYPES' | translate }}</option>
									<option class="hands" *ngFor="let item of _productTypeDic.Items" [value]="item.value" id="serviceType_{{item.value}}">{{item.displayValue}}</option>
								</select>
							</div>
						</td>
					</tr>
				</tbody>
			</table>	
		</div>
		<div class="mgb10 float-left">{{ 'ORDER_MNG.CURRENT_QUERY_TO' | translate }} <span class="font-green">{{_orderLoader.TotalRecords}}</span> {{ 'ORDER_MNG.ORDER_ORDER_LIST_IS_AS_FOLLOWS' | translate }}</div>
			<div class="table-container">
			<table class="table table-all-boder">
				<tr>
					<th>{{ 'ORDER_MNG.NUMBER' | translate }}</th>
					<th>{{ 'ORDER_MNG.ORDER_NUMBER' | translate }}</th>
					<th>{{ 'ORDER_MNG.PRODUCT_TYPE' | translate }}</th>
					<th>{{ 'ORDER_MNG.ORDER_TYPE' | translate }}</th>
					<th>{{ 'ORDER_MNG.ORDER_STATUS' | translate }}</th>
					<th>{{ 'ORDER_MNG.EXPENSE' | translate }}</th>
					
					<th>{{ 'ORDER_MNG.SUBMISSION_TIME' | translate }}</th>
					<th>{{ 'ORDER_MNG.COMPLETION_TIME' | translate }}</th>
					<th>{{ 'ORDER_MNG.SUBMITTER' | translate }}</th>
					<th>{{ 'ORDER_MNG.DEPARTMENT' | translate }}</th>
					<th>{{ 'ORDER_MNG.OPERATION' | translate }}</th>
				</tr>			
				<tr *ngFor="let item of _orderLoader.Items;let i = index;" id="orderlist_{{item.orderId}}">
					<td>{{i + 1}}</td>
					<td>{{item.orderNo}}</td>
					<td>{{item.serviceType | dict:_dictServ.getDic('GLOBAL', 'SERVICE_TYPE') | async}}</td>
					<td>{{item.orderType | dict:_dictServ.getDic('ORDER', 'TYPE') | async}}</td>
					<td>{{item.statusName}}</td>
					<td>{{ 'ORDER_MNG.NONRECURRING_EXPENSE' | translate }}: {{ 'COMMON.$' | translate }} {{item.oncePrice}}<br>
					{{ 'ORDER_MNG.EXPENSE_$' | translate }}: {{ 'COMMON.$' | translate }} {{item.price}}
					<span>/{{item.periodType | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') | async}}</span>
					</td>
					<td>{{item.submitTime}}</td>
					<td>{{item.EndTime}}</td>
					<td>{{item.submitPeople}}</td>
					<td>{{item.departmentName}}</td>
					<td>
						<button class="mgr20  button-gray-gradient" (click)="showDetail(item)" id="order_detail_{{item.orderId}}">{{ 'ORDER_MNG.DETAILS' | translate }}</button>
						<!--撤单-->
						<button *ngIf="item.withDrawOrderFlag==1" class="button-gray-gradient" data-toggle="modal" (click)="selectItem(item)" id="cancel_order_{{item.orderId}}">{{ 'ORDER_MNG.CANCEL_THE_ORDER' | translate }}</button>
						
					</td>
				</tr>
			</table>
		</div>
		<fc-pagination tp={{_orderLoader.TotalPages}} (pf)="changePage($event)"></fc-pagination>
	</div>


	<!--详情-->
	<div class="modal fade" id="searchDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  	<div class="modal-dialog" role="document">
				<div class="modal-content">
				  	<div class="modal-header">
					 	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">{{ 'ORDER_MNG.ORDER_NUMBER_' | translate }} {{_orderDetailLoader.FirstItem.orderCode}}</h4>
				  	</div>
				 	<div class="modal-body"> 
			          <!--<account-mng-cr-local></account-mng-cr-local>-->
			          <order-mng-searchDetail [detail]="_orderDetailLoader.FirstItem"></order-mng-searchDetail>
			         
					</div>
			      
				  	<div class="modal-footer">
				  	</div>
				
		  	</div>
		</div>
	</div>

	<!--撤单-->
	<div class="modal fade" id="cancelOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">{{ 'ORDER_MNG.CANCEL_THE_ORDER' | translate }}</h4>
						</div>
						<div class="modal-body"> 
							<div class="row row-line-height">
								<div class="form-group">
									<div class="col-sm-3 form-control-title"><span class="asterisk">*</span>{{ 'CHECK_CENTER.REASON' | translate }}</div>
									<div class="col-sm-8">
										<textarea class="form-control mgb20" rows="7" style="width: 370px;" [(ngModel)]="cancelReason"></textarea>
										<span>{{ 'CHECK_CENTER.INPUT_CHINESE_OR_CHARACTERS_NOT_MORE_THAN_200_WORDS' | translate }}</span>
									</div>
								</div>
							</div>
						</div>
					
						<div class="modal-footer">
							<button type="button" class="btn button-confirm button-size-big" (click)="cancel()" id="button_oreder_cancel"> {{ 'COMMON.CONFIRM' | translate }}</button>
							<button type="button" class="btn btn-default button-size-big" data-dismiss="modal" id="button_oreder_ext">{{ 'COMMON.CANCEL' | translate }}</button>
						</div>
					
				</div>
			</div>
		</div>
</div><!--ending-->