<div class="SearchDetail">   
	<div class="page-content">
		<div class="noborder form-control-title float-left mgb10">{{ 'ORDER_MNG.ORDER_INFORMATION' | translate }}</div>
		<div class="table-container ">
				<table class="table table-all-boder first-table ">
					<tbody>
						<tr>
							<td class="text-center">{{ 'COMMON.ORDER_ID' | translate }}</td><td class="leftAlign">{{_detail.orderCode}}</td>

							<td class="text-center">{{ 'CHECK_CENTER.ORDER_TYPE' | translate }}</td><td class="leftAlign">{{_detail.type | dict:_dictServ.getDic('ORDER', 'TYPE') | async}}</td>
								
						</tr>
						<tr>
							<td class="text-center">{{ 'ORDER_MNG.ORDER_STATUS' | translate }}</td><td class="leftAlign">{{_detail.status | dict:_dictServ.getDic("ORDER", "STATUS") | async}}</td>
							
							<td class="text-center">{{ 'ORDER_MNG.SUBMITTER' | translate }}</td><td class="leftAlign">{{_detail.billingPerson}}</td>	
						</tr>
						<tr>
						<td class="text-center">{{ 'ORDER_MNG.PRODUCT_TYPE' | translate }}</td><td class="leftAlign">{{_detail.productType | dict:_dictServ.getDic('GLOBAL', 'SERVICE_TYPE') | async}}</td>
						<td class="text-center">{{ 'COMMON.DEPARTMENT' | translate }}</td><td class="leftAlign">{{_detail.department}}</td>
						</tr>
						
						<tr>
							<td class="text-center">{{ 'ORDER_MNG.SUBMISSION_TIME' | translate }}</td><td class="leftAlign">{{_detail.createDate}}</td>
							<td class="text-center">{{ 'COMMON.ENTERPRISE' | translate }}</td><td class="leftAlign">{{_detail.enterpirse}}</td>
								
						</tr>
						<tr>
							<td class="text-center">{{ 'ORDER_MNG.COMPLETION_TIME' | translate }}</td><td class="leftAlign">{{_detail.completeDate}}</td>
							<td class="text-center">已购服务编号</td><td class="leftAlign">{{_detail.subinstanceNo}}</td>
								
						</tr>
						<tr>
							<td class="text-center">自动续订方式</td><td class="leftAlign">{{_detail.extendType  | dict:_dictServ.getDic('SUBINSTANCE', 'EXTEND_TYPE') |async}}</td>
							<td class="text-center"></td><td class="leftAlign"></td>
								
						</tr>
					</tbody>
				</table>
		</div>
		<!--<div class="noborder  form-control-title float-left  mgb10">{{ 'ORDER_MNG.PURCHASED_SERVICES_NUMBER' | translate }}: {{_detail.subinstanceNo}}</div>-->
		<div class="table-container">
				<table class=" table table-all-boder">
					<thead>
						<tr>
							<th class="text-center" >{{ 'SHOPPING_CART.PRODUCT_INFORMATION' | translate }}</th>
							<th class="text-center">产品类型</th>
							<th class="text-center">{{ 'COMMON.QUANTITY' | translate }}</th>
							<th class="text-center">{{ 'ORDER_MNG.PURCHASE_CYCLE' | translate }}</th>
							<th class="text-center">{{ 'COMMON.EXPENSE' | translate }}</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of _detail.subInstanceList">
							<td class="text-center" style="text-align: left;padding-top: 30px;padding-left: 40px;padding-right: 20px; width: 450px;">
								
								<machine-view  [values]="item" *ngIf="item.serviceType==4"></machine-view>
								<a *ngIf="item.serviceType==4" class="hands" [popover]="popover">查看详情</a><!--物理机-->
								<popover-content #popover placement="right"[animation]="true" [closeOnClickOutside]="true" >
									<div *ngIf="item.serviceType==4" class="table-container mgb20">
										<table class="table table-bordered mgb20 text-center inner-table">
											<thead>
													<th>部件名称</th>
													<th>规格</th>
													<th>规格值</th>
													<th>数量</th>
													<th>总容量</th>
											</thead>
											<tbody>
												<tr *ngFor="let physicalMachineItem of _detail.subInstanceList[0].pmEntity.partsEntitys">
													<td>{{physicalMachineItem.partsName}}</td>
													<td>{{physicalMachineItem.specName}}</td>
													<td>{{physicalMachineItem.specValue}}</td>
													<td>{{physicalMachineItem.number}}</td>
													<td>{{physicalMachineItem.capacity}}</td>
												</tr>		
											</tbody>
										</table>
									</div>
						
								</popover-content>

								<a *ngIf="item.serviceType==11" class="hands" [popover]="osPopover"  (click)='loadSubinstanceDetailById()'>点击查看实例详情</a><!--管理服务-->
								<popover-content id="osPopover" #osPopover  placement="right"[animation]="true" [closeOnClickOutside]="true">
									<div *ngIf="VMItems.length>0" class="table-container mgb20">
										<table  class="table table-bordered mgb20 text-center inner-table">
											<thead>
													<th>平台</th>
													<th>可用区</th>
													<th>云主机名称</th>
													<th>配置</th>
													<th>镜像</th>
													<th>内部IP</th>
													<th>外部IP</th>
													<th>所在区域及可用区</th>
											</thead>
											<tbody>
												<tr *ngFor="let vmItem of VMItems">
													<td>{{vmItem.platformType}}</td>
													<td>{{vmItem.regionZone}}</td>
													<td>{{vmItem.instanceName}}</td>
													<td>cpu：{{vmItem.vcpus}}/内存：{{vmItem.memoryMb}}/启动盘{{vmItem.rootGb}}</td>
													<td>{{vmItem.imageName}}</td>
													<td>{{vmItem.privateIP}}</td>
													<td>{{vmItem.publicIP}}</td>
													<td>{{vmItem.platformType}}&nbsp;&nbsp;{{vmItem.regionZone}}</td>
												</tr>		
											</tbody>
										</table>
									</div>
									<div *ngIf="DiskInstanceItems.length>0" class="table-container mgb20">
										<table class="table table-bordered mgb20 text-center inner-table">
											<thead>
													<th>平台</th>
													<th>可用区</th>
													<th>云硬盘名称</th>
													<th>存储类型</th>
													<th>容量（GB）</th>
													<th>状态</th>
													<th>挂载位置（云主机名称）</th>
													<th>属性</th>
													<th>所在区域及可用区</th>
											</thead>
											<tbody>
												<tr  *ngFor="let diskItem of DiskInstanceItems">
													<td>{{diskItem.platformType}}</td>
													<td>{{diskItem.zoneName}}</td>
													<td>{{diskItem.name}}</td>
													<td>{{diskItem.type}}</td>
													<td>{{diskItem.size}}</td>
													<td>{{diskItem.status}}</td>
													<td>{{diskItem.relyName}}</td>
													<td>{{diskItem.useType}}</td>
													<td>{{diskItem.platformName}}&nbsp;&nbsp;{{diskItem.zoneName}}</td>
												</tr>		
											</tbody>
										</table>
									</div>
									<div *ngIf="PMServiceItems.length>0"  class="table-container mgb20">
										<table class="table table-bordered mgb20 text-center inner-table">
											<thead>
													<th>地域</th>
													<th>数据中心</th>
													<th>物理机名称</th>
													<th>配置</th>
													<th>镜像</th>
													<th>私网IP</th>
													<th>公网IP</th>
													<th>所在区域及可用区</th>
											</thead>
											<tbody>
												<tr  *ngFor="let pmItem of PMServiceItems">
													<td>{{pmItem.pmConfInfo}}</td>
													<td>{{pmItem.appendService}}</td>
													<td>{{pmItem.pmName}}</td>
													<td>{{pmItem.hostName}}</td>
													<td>{{pmItem.status}}</td>
													<td>{{pmItem.privateIP}}</td>
													<td>{{pmItem.publicIP}}</td>
													<td>{{pmItem.pmConfInfo}}&nbsp;&nbsp;{{pmItem.poolRegionInfo}}</td>
												</tr>		
											</tbody>
										</table>
									</div>

									<div *ngIf="SuperviseNoInstanceItems.length>0"  class="table-container mgb20">
										<table class="table table-bordered mgb20 text-center inner-table">
											<thead>
													<th>地域</th>
													<th>可用区</th>
													<th>实例类型</th>
													<th>实例ID</th>
													<th>实例名称</th>
											</thead>
											<tbody>
												<tr  *ngFor="let noItem of SuperviseNoInstanceItems">
													<td>{{noItem.region}}</td>
													<td>{{noItem.zone}}</td>
													<td>{{noItem.instanceType}}</td>
													<td>{{noItem.instanceId}}</td>
													<td>{{noItem.instanceName}}</td>
												</tr>		
											</tbody>
										</table>
									</div>
						
								</popover-content>
								<span *ngIf="item.serviceType==11" style="display: block;">备注信息：显示购买时的备注信息</span>
							

								<vm-view [values]="item" *ngIf="item.serviceType==0"></vm-view><!--云主机-->
								<disk-view [values]="item" *ngIf="item.serviceType==1"></disk-view><!--云硬盘-->
								<sql-view [values]="item" *ngIf="item.serviceType==3" ></sql-view>
								<middleware-view [values]="item" *ngIf="item.serviceType==5" ></middleware-view><!-- 中间件 -->
							</td>
							<td class="text-center">{{item.serviceType | dict:_dictServ.getDic('GLOBAL', 'SERVICE_TYPE') | async}}<span *ngIf='item.serviceType==11'>:{{item.instanceName}}</span></td>
							<td class="text-center">{{item.quantity}}台</td>
							<td class="text-center">{{item.period}}<span>{{item.billingInfo.periodType | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') | async}}</span><span *ngIf="!item.showPrice">次</span></td>
							<td style="width: 200px;" class="text-center">{{ 'ORDER_MNG.NONRECURRING_EXPENSE' | translate }}: {{ 'COMMON.$' | translate }}{{item.oneTimePrice}}<br>
								<span *ngIf="item.showPrice">{{ 'ORDER_MNG.EXPENSE_$' | translate }}: {{ 'COMMON.$' | translate }}{{item.price}}/
									<span>{{item.billingInfo.periodType | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') | async}}</span>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
		</div>

		<!--<div class="noborder form-control-title float-left  mgb10">{{ 'COMMON.TOTAL_COST' | translate }}</div>
		<div class="table-container table-border mgb20 ">
				<table class="table"  style="border:1px solid #ddd;" *ngFor="let item of _detail.subInstanceList">
					<tbody>
						<tr class="noborder">
							<td width="200px;" class="rightAlign noborder">{{ 'ORDER_MNG.NONRECURRING_EXPENSE' | translate }}:</td>
							<td class="font-red leftAlign noborder" >{{ 'COMMON.$' | translate }}{{item.totalOncePrice}}</td>
						</tr>
						<tr class="noborder">
							<td class="rightAlign noborder">{{ 'ORDER_MNG.EXPENSE_$' | translate }}: </td>
							<td class="font-red leftAlign noborder">{{ 'COMMON.$' | translate }}{{item.totalPrice}}<span *ngIf="item.serviceType==1">/GB</span><span>/{{item.billingInfo.periodType | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') | async}}</span></td>
						</tr>
					</tbody>
				</table>
		</div>-->

		<div class="noborder form-control-title float-left  mgb10">{{ 'ORDER_MNG.ORDER_HISTORY' | translate }}</div>
		<div class="table-container mgb20">
				<table class="table table-all-boder">
					<thead>
						<tr>
							<th class="text-center">{{ 'COMMON.EXECUTOR' | translate }}</th>
							<th class="text-center">{{ 'COMMON.DEPARTMENT' | translate }}</th>
							<th class="text-center">{{ 'COMMON.OPERATION' | translate }}</th>
							<th class="text-center">{{ 'ORDER_MNG.ORDER_STATUS' | translate }}</th>
							<th class="text-center">{{ 'COMMON.EXPLAIN' | translate }}</th>
						</tr>
						
					</thead>

					<tbody>
						<tr *ngFor="let item of _detail.orderInstanceItems">
							<td class="text-center">{{item.operator}}</td>
							<td class="text-center">{{item.departmentName}}</td>
							<td class="text-center">{{item.operation}}</td>
							<td class="text-center">{{item.status | dict:_dictServ.getDic("ORDER", "STATUS") | async}}</td>
							<td class="text-center">{{item.desc}}</td>
						</tr>
					</tbody>
				</table>
		</div>


	</div>
</div><!--SearchDetail ending-->