<fc-notice #notice ot="确认"></fc-notice>
<div class="OrderManage">	
	<div class="page-content-header">订单管理</div>
	<div class="page-content">
		<div class="mgb20">
			<ul class="nav nav-tabs" id="myTabs" role="tablist">
				<li  role="presentation" [class.active]="_param.scope==0"><a  id="department-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="false" (click)="_param.scope=0;">部门订单</a></li>
				<li  role="presentation" [class.active]="_param.scope==1"><a id="all-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="false" (click)="_param.scope=1">所有订单</a></li>
			</ul>
		</div>
		<div class="table-container">
			<div class="">
				<div class="input-group col-md-2 float-left mgr20">
   					 <input class="form-control" placeholder="输入云主机信息搜索" type="email">
    				 <div class="input-group-addon"><span class="glyphicon glyphicon-search" (click)="search()"></span></div>
				</div>
						
				<button class="button-gray-gradient" (click)="_param.reset()">重&nbsp;&nbsp;&nbsp;&nbsp;置</button>
			</div>
			<table class="table mgb20">
				<tbody>
					<tr>				
						<td>
							<span class="">部门:</span>
							<div class="dropdown left">
								<select class="form-control" [(ngModel)]="_param.organization">
									<option class="hands" [value]="null">所有部门</option>
									<option class="hands" *ngFor="let item of _departmentLoader.Items" [value]="item.id">{{item.name}}</option>
								</select>
							</div>
						</td>
						<td >
							<span class="">创建时间：</span>
							<div class="dropdown left">			
								<date-picker (dateChanged)="onCreateTimeChange($event)"></date-picker>
							</div>
						</td>
						<td>
							<span class="">到期时间：</span>
							<div class="dropdown left">			
								<date-picker (dateChanged)="onExpireTimeChange($event)"></date-picker>
							</div>
						</td>
						<td>
							<span class="" >
							订单状态:</span>
							<div class="dropdown left">
								<select class="form-control" [(ngModel)]="_param.status">
									<option class="hands" [value]="null">所有</option>
									<option class="hands" *ngFor="let item of _orderStatusDic.Items" [value]="item.value">{{item.displayValue}}</option>
								</select>
							</div>
						</td>
						<td>
							<span class="" >
							产品类型:</span>
							<div class="dropdown left">
								<select class="form-control" [(ngModel)]="_param.serviceType">
									<option class="hands" [value]="null">所有</option>
									<option class="hands" *ngFor="let item of _productTypeLoader.Items" [value]="item.value">{{item.displayValue}}</option>
								</select>
							</div>
						</td>
						<td>
							<span class="" >
							区域:</span>
							<div class="dropdown left">
								<select class="form-control" [(ngModel)]="_param.platformId" (ngModelChange)="onPlatformChanged()">
									<option class="hands" [value]="null">所有</option>
									<option class="hands" *ngFor="let item of _platformLoader.Items" [value]="item.id">{{item.name}}</option>
								</select>
							</div>
						</td>
						<td>
							<span class="" >
							可用区:</span>
							<div class="dropdown left">
								<select class="form-control" [(ngModel)]="_param.zoneId">
									<option class="hands" [value]="null">所有</option>
									<option class="hands" *ngFor="let item of _regionLoader.Items" [value]="item.id">{{item.name}}</option>
								</select>
							</div>
						</td>
					</tr>
					
				</tbody>
			</table>	
		</div>
		<div class="mgb20">当查询到<span class="font-green">{{_orderLoader.Items.length}}</span>个订单需要审批，查询列表如下：</div>
			<div class="table-container">
			<table class="table">
				<thead>	
					<tr>
						<th class="order-title"> 产品信息</th>
						<th  class="text-center">产品类型</th>
						<th class="text-center">计费模式</th>
						<th class="text-center">购买周期</th>
						<th class="text-center">数量</th>
						<th class="text-center">单价费用</th>
						<th class="text-center">状态</th>
						<th class="text-center">创建时间</th>
						<th class="text-center">到期时间</th>
					</tr>			
				</thead>
			</table>

			<table class="table _table" *ngFor="let orderItem of _orderLoader.Items">
				<tr>
					<td class="order-title font-green" colspan="7">{{orderItem.purchaseDate}} 订单号：{{orderItem.orderNo}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;下单时间：2016-10-08</td>
					<td colspan="2">
						<button class="mgr5 pull-right button-gray-gradient" data-toggle="modal" data-target="#renewOrder" (click)="renewSelect(orderItem)">续订</button>
						<button class="mgr5 pull-right button-gray-gradient" data-toggle="modal" data-target="#cancelOrder" (click)="cancelSelect(orderItem)">退订</button>
						<button class="mgr5 pull-right button-gray-gradient" data-toggle="modal" data-target="#orderDetail" (click)="showDetail(orderItem.orderId)">详情</button>
					</td>	
				</tr>
				<tr *ngFor="let prodItem of orderItem.itemList">
					<td style="text-align: left;padding-top: 30px;padding-left: 40px;padding-right: 20px; ">
						<ul>
							<li *ngFor="let detailItem of prodItem.specList">{{detailItem.attrDisplayName}}：&nbsp;&nbsp;{{detailItem.attrDisplayValue}} {{detailItem.valueUnit}}</li>
						</ul>
					</td>
					<td>{{prodItem.serviceType}}</td>
					<td>{{prodItem.billingMode}}</td>
					<td>{{prodItem.period}}</td>
					<td>{{prodItem.quantity}}</td>
					<td style="width: 100px;">{{prodItem.oneTimePriceAndPrice}}</td>
					<td class="validateInfo">{{prodItem.statusName}}</td>
					<td>{{prodItem.createDate}}</td>
					<td>{{prodItem.expireDate}}</td>
				</tr>
			</table>
		</div>
	</div>
	

	<!--详情-->
	 
	<div class="modal fade" id="orderDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  	<div class="modal-dialog" role="document">
				<div class="modal-content">
				  	<div class="modal-header">
					 	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">订单编号：2370537538484773</h4>
				  	</div>
				 	<div class="modal-body"> 
			          <!--<account-mng-cr-local></account-mng-cr-local>
			          <order-mng-detail></order-mng-detail>-->
			         <order-mng-detail></order-mng-detail>
					</div>
			      
				  	<div class="modal-footer">
				  	</div>
				
		  	</div>
		</div>
	</div>


	<!--续订-->
	 
	<div class="modal fade" id="renewOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  	<div class="modal-dialog" role="document">
				<div class="modal-content">
				  	<div class="modal-header">
					 	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">订单续订</h4>
				  	</div>
				 	<div class="modal-body"> 
			          <!--<account-mng-cr-local></account-mng-cr-local>
			          <order-mng-detail></order-mng-detail>-->
			           	<order-mng-renew [orderItem]="selectedOrderItem"></order-mng-renew>
	           			<!-- 订单续订 -->
					   	<div *ngIf="!_renewSetting.completed" class="OrderRenew"> 
							<div class="page-content">
								<div class="page-second-container mgb20">
									<div class="float-left">
										<span class="float-left" style="margin-top: 8px;">购买时长:</span>
										<div class="dropdown float-left">
											<select class="form-control" [(ngModel)]="_renewSetting.unit">
												<option class="hands" [value]="PurchaseUnit.hour">按小时</option>
												<option class="hands" [value]="PurchaseUnit.day">按天</option>
												<option class="hands" [value]="PurchaseUnit.month">按月</option>
											</select>
										</div>
										<input type="text" name="" value="">
										
										<button class="btn button-gray-gradient mgr20" [class.bgGreen]="isForerver" (click)="selectForever();">永&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;久</button>
										续订后到期时间：<span class="warnInfo">{{_renewSetting.renewDate}}</span>
								    </div>
									<div class="float-right">
										<span  class="float-left">（费用合计）</span>
										<ul  class="float-left">
											<li>一次性费用：<span class="warnInfo">{{_renewSetting.onetimeprice}}</span></li>
											<li class="mgl48">费用： <span class="warnInfo">{{_renewSetting.price}}
														</span>
											</li>
										</ul>
									</div>	
								</div>
							</div>
					  	</div>
					</div>
			      
				  	<div *ngIf="!_renewSetting.completed" class="modal-footer" style="text-align: center;">
						<button  type="button" class="btn button-confirm button-size-big " data-toggle="modal" data-target="#renewOrderOk" (click)="renew()" >确认续订</button>
		                <button type="button" class="btn  button-size-big button-white" data-dismiss="modal">取消</button>
				  	</div>

				  	<!-- 订单续订完成 -->
				  	<div *ngIf="_renewSetting.completed" class="OrderRenew"> 
							<div class="page-content">
								<div class="page-second-container mgb20">
									<div class="float-left">
										<span class="warnInfo float-left mgb20">你的订单续订已完成，可以进入管理控制台查看订单状态及使用相关资源<br>如需审批，则需要订单审批通过后，才能正式生效。</span>
								    </div>
									<div class="float-right">
										<span  class="float-left">（费用合计）</span>
										<ul  class="float-left mgr20">
											<li>一次性费用：<span class="warnInfo">{{_renewSetting.onetimePrice}}</span></li>
											<li class="mgl48">费用： <span class="warnInfo">{{_renewSetting.price}}</span>
											</li>
										</ul>
										<button class="button-size-big button-confirm pull-right" key="frontend/order-mng-cancelOk.html">管理控制台</button>
									</div>	
									<div style="height: 40px;"></div>
								</div>
							</div>
					 	</div>
					</div>
			      
				  	<div *ngIf="_renewSetting.completed" class="modal-footer">
						    
				  	</div>
				
		  	</div>
		</div>
	</div>


	<!--退订-->
	   
	<div class="modal fade" id="cancelOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  	<div class="modal-dialog" role="document">
				<div class="modal-content">
				  	<div class="modal-header">
					 	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">订单退订</h4>
				  	</div>
				 	<div class="modal-body"> 
 						<order-mng-cancel  [orderItem]="selectedOrderItem"></order-mng-cancel>
 						<!-- 退订 -->
						<div *ngIf="!_isCanceled" class="OrderRenew"> 
							<div class="page-content">
								<div class="mgb20">
									<span class="warnInfo mgb20">你的订单一旦退订，所有相关的资源和数据都会被删除，无法恢复！请谨慎选择退订服务。</span>
								</div>
							</div>
					   	</div>
					   	<!-- 退订完成 -->
			        	<div *ngIf="_isCanceled" class="OrderRenew"> 
							<div class="page-content">
								<div class="page-second-container">
											<span class="warnInfo float-left mgb20">你的订单已申请退订，资源将会被立刻删除！<br>如需审批，则要等待退订审批通过后，系统才会开始删除资源。<br>您可以登陆管理控制台，查看退订状态。</span>
											<button class="button-size-big button-confirm pull-right">管理控制台</button>
											<div style="height: 40px;"></div>
								</div>
							</div>
						</div>

					</div>
			      	
			      	<!-- 退订 -->
				  	<div *ngIf="!_isCanceled" class="modal-footer" style="text-align: center;">
						<button type="button" class="btn button-confirm button-size-big" data-toggle="modal" data-target="#cancelOrderOk" (click)="cancel()" >确认退订</button>
		                <button type="button" class="btn  button-size-big button-white" data-dismiss="modal">取消</button>
				  	</div>
					
					<!-- 退订完成 -->
				  	<div *ngIf="_isCanceled" class="modal-footer">
				  	</div>

		  	</div>
		</div>
	</div>

		<!--退订完成-->
	   
		<div class="modal fade" id="cancelOrderOk" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  	<div class="modal-dialog" role="document">
				<div class="modal-content">
				  	<div class="modal-header">
					 	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">退订完成</h4>
				  	</div>
				 	<div class="modal-body"> 
			          <!--<account-mng-cr-local></account-mng-cr-local>
			          <order-mng-cancelOk></order-mng-cancelOk>-->
						<order-mng-cancel></order-mng-cancel>
					</div>
			      
				
		  	</div>
		</div>
	</div>

