<div class="SearchDetail">   
						<div class="page-content">
							<div class="noborder form-control-title float-left mgb10">订单信息</div>
							<div class="table-container mgb20">
									<table class="table table-all-boder first-table mgb20">
										<tbody>
											<tr>
												<td class="text-center">订单号</td><td class="leftAlign">{{_detail.orderCode}}</td>

												<td class="text-center">订单类型</td><td class="leftAlign">{{_detail.typeName}}</td>
													
											</tr>
											<tr>
												<td class="text-center">订单状态</td><td class="leftAlign">{{_detail.statusName}}</td>
												
												<td class="text-center">提交人</td><td class="leftAlign">张三</td>	
											</tr>
											<tr>
											<td class="text-center">产品类型</td><td class="leftAlign">{{_detail.productTypeName}}</td>
											<td class="text-center">部门</td><td class="leftAlign">{{_detail.department}}</td>
											</tr>
											
											<tr>
											   <td class="text-center">提交时间</td><td class="leftAlign">{{_detail.createDate}}</td>
												<td class="text-center">企业</td><td class="leftAlign">{{_detail.enterprise}}</td>
													
											</tr>
											<tr>
											   <td class="text-center">完成时间</td><td class="leftAlign">{{_detail.completeDate}}</td>
												<td class="text-center"></td><td class="leftAlign"></td>
													
											</tr>
										</tbody>
									</table>
							</div>
							<div class="noborder  form-control-title float-left  mgb10">已购服务编号：{{_detail.orderCode}}</div>
							<div class="table-container mgb20">
									<table class=" table table-all-boder mgb20">
										<thead>
											<tr>
												<th class="text-center" >产品信息</th>
												<th class="text-center">产品类型</th>
												<th class="text-center">数量</th>
												<th class="text-center">购买周期</th>
												<th class="text-center">费用</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let item of _detail.subInstanceList">
												<td class="text-center" style="text-align: left;padding-top: 30px;padding-left: 40px;padding-right: 20px; width: 450px;">
													<ul>
														<li *ngFor="let spec of item.specList">{{spec.attrDisplayName}}：&nbsp;&nbsp;{{spec.attrDisplayValue}}</li>
													</ul>
												</td>
												<td class="text-center">{{item.serviceTypeName}}<br>实例名称：{{item.instanceName}}</td>
												<td class="text-center">{{item.quantity}}</td>
												<td class="text-center">{{item.period}}</td>
												<td style="width: 200px;" class="text-center">一次性费用：￥{{item.oneTimePrice}}<br>费用：￥{{item.price}}</td>
											</tr>
										</tbody>
									</table>
							</div>

							<div class="noborder form-control-title float-left  mgb10">费用合计</div>
							<div class="table-container table-border mgb20 ">
									<table class="table"  style="border:1px solid #ddd;" *ngFor="let item of _detail.subInstanceList">
										<tbody>
											<tr class="noborder">
												<td width="200px;" class="rightAlign noborder">一次性费用：</td>
												<td class="font-red leftAlign noborder" >￥{{item.oneTimePrice}}</td>
											</tr>
											<tr class="noborder">
												<td class="rightAlign noborder">费用：</td>
												<td class="font-red leftAlign noborder">￥{{item.price}}</td>
											</tr>
										</tbody>
									</table>
							</div>

							<div class="noborder form-control-title float-left  mgb10">订单历史</div>
							<div class="table-container mgb20">
									<table class="table table-all-boder">
										<thead>
											<tr>
												<th class="text-center">执行者</th>
												<th class="text-center">所属部门</th>
												<th class="text-center">操作</th>
												<th class="text-center">订单状态</th>
												<th class="text-center">说明</th>
											</tr>
											
										</thead>

										<tbody>
											<tr *ngFor="let item of _detail.orderInstanceItems">
												<td class="text-center">{{item.operator}}</td>
												<td class="text-center">{{item.departmentName}}</td>
												<td class="text-center">{{item.operation}}</td>
												<td class="text-center">{{item.statusName}}</td>
												<td class="text-center">{{item.desc}}</td>
											</tr>
										</tbody>
									</table>
							</div>


						</div>
					</div><!--SearchDetail ending-->