<div class="OrderDetail">   
						<div class="page-content">
							<div class="boder-gray-bottom-title mgb10">订单信息：</div>
								<div class="table-container mgb20">
									<table class="table _table mgb20">
										<thead>				
										</thead>
										<tbody>
											<tr>
												<td class="rightAlign">订单编号：</td><td class="leftAlign">22370537538484773</td>
												<td class="rightAlign">订单状态：</td><td class="leftAlign">成功</td>
												<td class="rightAlign">退订时间：</td><td class="leftAlign" >2016-10-01 11:00</td>		
											</tr>
											<tr>
												<td class="rightAlign">购买周期：</td><td class="leftAlign">1个月</td>
												<td class="rightAlign">订购数量：</td><td class="leftAlign">1</td>
												<td class="rightAlign">最后一次续订时间：</td><td class="leftAlign">2016-10-01 11:00</td>		
											</tr>
											<tr>
												<td class="rightAlign">计费模式：</td><td class="leftAlign">包年包月</td>
												<td class="rightAlign">订购人员：</td><td class="leftAlign">张三</td>
												<td></td><td></td>	
											</tr>
											<tr>
												<td class="rightAlign">创建时间：</td><td class="leftAlign">2016-10-01 11:00</td>
												<td class="rightAlign">订购部门：</td><td class="leftAlign">商务部</td>
												<td></td><td></td>	
											</tr>
											<tr>
												<td class="rightAlign">到期时间：</td><td class="leftAlign">2016-11-01 11:00</td>
												<td class="rightAlign">订购企业：</td><td class="leftAlign">显示企业名称</td>
												<td></td><td></td>	
											</tr>
										</tbody>
									</table>
								</div>
								<div class="boder-gray-bottom-title mgb10">产品信息：</div>
								<div class="table-container mgb20">
									<table class=" table table-hover mgb10">
										<thead>
											<tr>
												<th>产品类型</th>
												<th>产品信息</th>
												<th>数量</th>
												<th>费用</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td style="text-align: left;padding-top: 30px;padding-left: 40px;padding-right: 20px; ">
													<ul>
														<li>区域：&nbsp;&nbsp;华北1</li>
														<li>可用区：&nbsp;&nbsp;可用区B</li>
														<li>实例规格：&nbsp;&nbsp;CPU 2核/内存4GB/启动盘/70G</li>
														<li>IP地址：&nbsp;&nbsp;10.1.1.1（内部）<br>
															192.168.1.1（外部）</li>
														<li>操作系统：&nbsp;&nbsp;******</li>
														<li>密码：&nbsp;&nbsp;已设置</li>
														<li>实例名称：&nbsp;&nbsp;abcabc</li>
													</ul>
												</td>
												<td>云主机</td>
												<td>1台</td>
												<td style="width: 100px;">一次性费用：￥0<br>费用：￥50/月</td>
											</tr>
											<tr>
												<td style="text-align: left;padding-top: 30px;padding-left: 40px;padding-right: 20px; ">
												<ul>
													<li>区域：&nbsp;&nbsp;华北1</li>
													<li>可用区：&nbsp;&nbsp;可用区B</li>
													<li>云硬盘类型：&nbsp;&nbsp;高性能I/O</li>
													<li>云硬盘容量：&nbsp;&nbsp;100GB
												</ul>
												</td>
												<td>云硬盘</td>
												<td>1块</td>
												<td style="width: 100px;">一次性费用：￥0<br>费用：￥50/月</td>
											</tr>
											<tr>
												<td  style="text-align: left;padding-top: 30px;padding-left: 40px;padding-right: 20px; ">
													<ul>
														<li>数据库类型：Oracle</li>
														<li>数据库版本：11g</li>
													</ul>
												</td>
												<td>数据库</td>
												<td>1个</td>
												<td style="width: 100px;">一次性费用：￥0<br>费用：￥50/月</td>
											</tr>
										</tbody>
									</table>
								</div>

								<div class="boder-gray-bottom-title mgb10">费用信息：</div>
								<div class="table-container mgb20">
									<table class="table">
										<tbody>
											<tr>
												<td width="200px;" class="rightAlign noborder">一次性费用合计：</td>
												<td class="warnInfo leftAlign noborder" >￥10</td>
											</tr>
											<tr>
												<td class="rightAlign noborder">费用合计：</td>
												<td class="warnInfo leftAlign noborder">￥10/月<br>
																	￥10/年<br>
																	￥10/天</td>
											</tr>
										</tbody>
									</table>
								</div>

								<div class="boder-gray-bottom-title mgb10">订单描述：</div>
								<div class="table-container mgb20">
									<table class="table">
										<tbody>
											<tr>
												<td class="order-detail leftAlign mgr20" >申请用于******应用</td>
											</tr>
										</tbody>
									</table>
								</div>

								<div class="boder-gray-bottom-title mgb10">审批记录：</div>
								<div class="table-container mgb20">
									<table class="table">
										<tbody>
											<tr>
												<td class="rightAlign noborder">前台审批人：</td><td class="leftAlign noborder">张某某</td>
												<td class="rightAlign noborder">审批时间：</td><td class="leftAlign noborder">2016-10-21&nbsp;&nbsp;16:22</td>
												<td class="leftAlign noborder">新订购</td>
											</tr>
											<tr>
												<td class="rightAlign noborder">后台审批人：</td><td class="leftAlign noborder">张某某</td>
												<td class="rightAlign noborder">审批时间：</td><td class="leftAlign noborder">2016-10-21&nbsp;&nbsp;16:22</td>
												<td class="leftAlign noborder">新订购</td>
											</tr>
											<tr>
												<td class="rightAlign noborder">前台审批人：</td><td class="leftAlign noborder">张某某</td>
												<td class="rightAlign noborder">审批时间：</td><td class="leftAlign noborder">2016-10-21&nbsp;&nbsp;16:22</td>
												<td class="leftAlign noborder">续&nbsp;&nbsp;&nbsp;订</td>
											</tr>
											<tr>
												<td class="rightAlign noborder">后台审批人：</td><td class="leftAlign noborder">张某某</td>
												<td class="rightAlign noborder">审批时间：</td><td class="leftAlign noborder">2016-10-21&nbsp;&nbsp;16:22</td>
												<td class="leftAlign noborder">续&nbsp;&nbsp;&nbsp;订</td>
											</tr>
											<tr>
												<td class="rightAlign noborder">前台审批人：</td><td class="leftAlign noborder">系统自动</td>
												<td class="rightAlign noborder">审批时间：</td><td class="leftAlign noborder">2016-10-21&nbsp;&nbsp;16:22</td>
												<td class="leftAlign noborder">退&nbsp;&nbsp;&nbsp;订</td>
											</tr>
										</tbody>
									</table>
								</div>


								<div class="boder-gray-bottom-title mgb10">关联订单：订单编号：*********</div>
								<div class="table-container">
									<table class="table">
										<thead>	
											<tr>
												<th class="order-title"> 产品信息</th>
												<th>产品类型</th>
												<th>计费模式</th>
												<th>购买周期</th>
												<th>数量</th>
												<th>费用</th>
												<th>状态</th>
												<th>创建时间</th>
												<th>到期时间</th>
											</tr>			
										</thead>
									</table>
									<table class="table">
										<tbody>
											<tr>
											<td class="order-title font-green" colspan="10">订单号：23705375384884773</td>
											</tr>
											<tr>
												<td class="os-td">OS管理服务</td>
												<td>OS服务</td>
												<td>包年包月</td>
												<td>99年</td>
												<td>1台</td>
												<td class="wd150">一次性费用：0元<br>
												费用：￥5/月</td>
												<td class="validateInfo">成功</td>
												<td>2016.10.1 10:23</td>
												<td>2009.10.1 10:23</td>
											</tr>
										</tbody>
									</table>
									<table class="table">
										<tbody>
											<tr>
											<td class="order-title font-green" colspan="11">订单号：23705375384884773</td>
											</tr>
											<tr >
												<td class="os-td">OS管理服务</td>
												<td>OS服务</td>
												<td>包年包月</td>
												<td>99年</td>
												<td>1台</td>
												<td class="wd150">一次性费用：0元<br>
												费用：￥5/月</td>
												<td class="validateInfo">成功</td>
												<td>2016.10.1 10:23</td>
												<td>2009.10.1 10:23</td>
											</tr>
										</tbody>
									</table>
								</div>
						</div>
					</div>