<fc-notice #notice ot="{{ 'COMMON.CONFIRM' | translate }}"></fc-notice>
<fc-popup class="renew-dialog" #AutoRenewDialog ot="{{'DIALOG.COMMIT' | translate}}" ct="{{'DIALOG.CANCEL' | translate}}" (of)="submitRenew()">
	<table class="popup-table">
		<thead>
			<tr>
				<th class="order-title">产品信息</th>
				<th class="text-center">产品类型</th>
				<th class="text-center">计费模式</th>
				<th class="text-center">当前费用</th>
				<th  *ngIf="this.autoRenewItem.renewOver" class="text-center">状态</th>
				<th class="text-center">到期时间</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td width="30%">
					<ul>
						<li>区域: {{ autoRenewItem.platform }} </li>
						<li>可用区: {{ autoRenewItem.zone }}</li>
						<!--<li>实例规格: </li>
						<li>IP地址: </li>
						<li>操作系统: </li>-->
						<li>密码: {{ autoRenewItem.settingType }}</li>
						<li>实例名称: {{ autoRenewItem.instanceName }}</li>
					</ul>
				</td>
				<td>{{ autoRenewItem.serviceType | dict:_dictServ.getDic('GLOBAL', 'SERVICE_TYPE') |async }}</td>
				<td>{{ autoRenewItem.billingMode | dict:_dictServ.getDic('BILLING_MODE', 'TYPE') | async }}</td>
				<td>
					<span>{{ 'COMMON.ONE_TIME_COSTS' | translate }}:￥{{ autoRenewItem.oneTimePrice }}</span>
					<br/>
					<span>{{ 'COMMON.PRICE' | translate }}:￥{{ autoRenewItem.price }}</span>
					<span *ngIf="autoRenewItem.serviceType==1">/GB</span><span>/{{autoRenewItem.periodType | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') | async}}</span>
				</td>
				<td  *ngIf="this.autoRenewItem.renewOver">{{ autoRenewItem.status | dict:_dictServ.getDic('SUBINSTANCE', 'STATUS') |async}}</td>
				<td>{{ autoRenewItem.expireDate }}</td>
			</tr>
		</tbody>
	</table>
	<div *ngIf="autoRenewItem.serivceRenewWayProductItems.length==0" class="auto-renew-info">该已购服务不支持自动续订！</div>
	<div *ngIf="autoRenewItem.serivceRenewWayProductItems.length>0"  class="auto-renew-info">
		<div class="renew-type-title" >自动续订方式 : </div>
		<div class="renew-type-content">
			<div class="select-renew-type" *ngIf="autoRenewItem.extendType == 0 && !autoRenewItem.renewOver" >
				<!--<label (click)="autoRenewItem.isSelectedType=true">
				<input class="fox-cloud-radio" id="unselectedType" name="renewTypeRadio" type="radio" [(ngModel)]="autoRenewItem.subExtendType" value="{{autoRenewItem.onExtendType}}" autocomplete="off"  />
					维持当前续订方式
				</label>
				<br>-->
				<span *ngFor="let item of autoRenewItem.serivceRenewWayProductItems; let i=index">
					<label (click)="autoRenewItem.isSelectedType=true" id="autoRenewItem_input" >
					<input class="fox-cloud-radio" name="renewTypeRadio" type="radio" [(ngModel)]="autoRenewItem.subExtendType" value="{{item.billingInfo.extendType}}" id="autoRenewItem_extendType_{{item.billingInfo.periodType}}"  autocomplete="off"/>
						{{item.billingInfo.periodType | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') | async}}续订(周期费用：￥{{item.billingInfo.basicPrice}}/ {{item.billingInfo.periodType | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') | async}} ，
						<span *ngIf="item.billingInfo.periodType==3">每6个月续订一次</span>
						<span *ngIf="item.billingInfo.periodType==5">每一年续订一次</span>)
					</label>
					<br>
				</span>
			</div>
			<div class="show-renew-type"  *ngIf="autoRenewItem.extendType > 0 || autoRenewItem.renewOver">
				{{autoRenewItem.periodType | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') | async}}续订(周期费用：￥{{autoRenewItem.basicPrice}}/ {{autoRenewItem.periodType  | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') | async}} ，
				<span *ngIf="autoRenewItem.periodType==3">每6个月续订一次</span>
				<span *ngIf="autoRenewItem.periodType==5">每一年续订一次</span>)
			</div>
		</div>
		<div class="auto-renew-over" *ngIf="autoRenewItem.renewOver">
			<div class="auto-renew-over-info">
				<span *ngIf="autoRenewItem.extendType > 0">取消</span>自动续订申请已完成，可以进入管理控制台查看订单状态及使用相关资源，如需审批，则需要订单审批通过后才能正式生效。
			</div>
			<button class="btn button-confirm float-right" routerLink="/mng-console" routerLinkActive="active" >管理控制台</button>
		</div>
	</div>
</fc-popup>
<div class="OrderManage">
	<div class="page-content-header">{{ 'MENU.PURCHASED_SERVICE_MANAGEMENT' | translate }}</div>
	<div class="page-content">
		<!--<div class="mgb20">
			<ul class="nav nav-tabs" id="myTabs" role="tablist">
				<li  role="presentation" [class.active]="_param.scope==0"><a  id="department-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="false" (click)="_param.scope=0;">部门订单</a></li>
				<li  role="presentation" [class.active]="_param.scope==1"><a id="all-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="false" (click)="_param.scope=1">所有订单</a></li>
			</ul>
			
		</div>-->
		<div class="table-container">
			<div class="">
				<div class="input-group col-md-2 float-left mgr20">
					<input class="form-control width-400" placeholder="{{ 'ORDER_MNG.PLEASE_ENTER_A_NUMBER_QUERY' | translate }}" type="email"
					 [(ngModel)]="_param.searchText" id="search_text">
					<div class="input-group-addon pointer"><span class="glyphicon glyphicon-search" (click)="search()" id="search_text_go"></span></div>
				</div>
				 <!--(click)="resetParam()"-->
				<div class="input-group float-left">
					<button class="btn button-gray-gradient" (click)="resetParam()"><span class="glyphicon glyphicon-repeat" id="search_text_reset"></span> {{ 'COMMON.RESET' | translate }}</button>
				</div>
			</div>
			<table class="table table-gap">
				<tbody>
					<tr class="none-border">
						<td *ngIf="isAdmin">
							<span class="float-left ">部&nbsp;&nbsp;门: </span>
							<div class="dropdown float-left ">
								<select class="form-control fix-width-120" [(ngModel)]="_param.organization" (ngModelChange)="loadBuyer()" id="organization">
									<option class="hands" [value]="null" id="organization_null">{{ 'CHECK_CENTER.ALL_DEPARTMENTS' | translate }}</option>
									<option class="hands" *ngFor="let item of _departmentLoader.Items" [value]="item.id" id="organization_{{item.id}}">{{item.name}}</option>
								</select>
							</div>
						</td>
						<td style="width: 300px;">
							<span class="float-left " [ngClass]="{'mgl15':isAdmin==true}">{{ 'COMMON.PURCHASER' | translate }}: </span>
							<div class="dropdown float-left">
								<select class="form-control fix-width-120" [(ngModel)]="_param.buyerId" id="buyerId">
									<option class="hands" [value]="null">{{ 'ORDER_MNG.ALL_PURCHASER' | translate }}</option>
									<option class="hands" *ngFor = "let item of _buyerLoader.Items" [value] = "item.id" id="buyerId_{{item.id}}">{{item.name}}</option>
								</select>
							</div>
						</td>
						<td colspan="3">
							<div class="mgt-10">
								<span class="mgt10 float-left">{{ 'ORDER_MNG.DUE_DATE' | translate }}：</span>
								<div class="dropdown float-left">
									<date-picker #createDatePicker (dateChanged)="onCreateTimeChange($event)" id="create_time_on"></date-picker>
								</div>
								<span class="mgt5 mgl10">—</span>
								<div class="dropdown float-left">
									<date-picker #expireDatePicker (dateChanged)="onExpireTimeChange($event)" id="expire_time_on"></date-picker>
								</div>
							</div>
						</td>

					</tr>
					<tr class="none-border">
						<td style="width:250px;">
							<span class="float-left ">
							状&nbsp;&nbsp;态: </span>
							<div class="dropdown float-left">
								<select class="form-control" [(ngModel)]="_param.status" id="order_status">
									<option class="hands" [value]=null id="order_status_null">{{ 'ORDER_MNG.ALL_STATUS' | translate }}</option>
									<option class="hands" *ngFor="let item of _orderStatusDic.Items" [value]="item.value" id="order_status_{{item.value}}">{{item.displayValue}}</option>
								</select>
							</div>
						</td>
						<td>
							<span class="float-left">
							{{ 'CHECK_CENTER.PRODUCT_TYPE' | translate }}: </span>
							<div class="dropdown float-left">
								<select class="form-control" [(ngModel)]="_param.serviceType" id="serviceType">
									<option class="hands" [value]=null id="serviceType_null">{{ 'ORDER_MNG.ALL_TYPES' | translate }}</option>
									<option class="hands" *ngFor="let item of _productTypeLoader.Items" [value]="item.value" id="serviceType_{{item.value}}">{{item.displayValue}}</option>
								</select>
							</div>
						</td>
						<td style="width:300px;">
							<span class="float-left ">
							{{ 'COMMON.ZONE' | translate }}: </span>
							<div class="dropdown float-left">
								<select class="form-control" [(ngModel)]="_param.platformId" (ngModelChange)="onPlatformChanged()" id="platformId">
									<option class="hands" [value]="null">{{ 'ORDER_MNG.ALL_ZONE' | translate }}</option>
									<option class="hands" *ngFor="let item of _platformLoader.Items" [value]="item.id" id="platformId_{{item.id}}">>{{item.name}}</option>
								</select>
							</div>
						</td>
						<td>
							<span class="float-left">
							{{ 'COMMON.AVAILABLE_ZONE' | translate }}: </span>
							<div class="dropdown float-left">
								<select class="form-control" [(ngModel)]="_param.zoneId" id="zoneId">
									<option class="hands" [value]=null>{{ 'ORDER_MNG.ALL_AVAILABLE_ZONE' | translate }}</option>
									<option class="hands" *ngFor="let item of _regionLoader.Items" [value]="item.id" id="zoneId_{{item.id}}">{{item.name}}</option>
								</select>
							</div>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
		<div class="mgb10 float-left">{{ 'ORDER_MNG.THE_CURRENT_QUERY_TO' | translate }} <span class="font-green">{{_orderLoader.TotalRecords}}</span> {{ 'ORDER_MNG.PURCHASED_SERVICE_PURCHASED_SERVICE_ARE_LISTED_BELOW'
			| translate }}:</div>
		<div class="table-container">
			<table class="table">
				<thead>
					<tr>
						<th class="order-title"> {{ 'ORDER_MNG.PURCHASED_SERVICES_DETAILS' | translate }}</th>
						<th class="text-center">{{ 'CHECK_CENTER.PRODUCT_TYPE' | translate }}</th>
						<th class="text-center">{{ 'ORDER_MNG.CHARGING_MODE' | translate }}</th>
						<th class="text-center">{{ 'ORDER_MNG.PURCHASE_CYCLE' | translate }}</th>
						<th class="text-center" style="padding-right: 40px;">{{ 'COMMON.QUANTITY' | translate }}</th>
						<th class="text-center">{{ 'COMMON.EXPENSE' | translate }}</th>
						<th class="text-center" style="padding-left: 40px;">{{ 'COMMON.STATUS' | translate }}</th>
						<th class="text-center">{{ 'COMMON.CREATED_TIME' | translate }}</th>
						<th class="text-center">{{ 'COMMON.EXPIRE_DATE' | translate }}</th>
						<th class="text-center">{{ 'COMMON.PURCHASER' | translate }}</th>
						<th  class="text-center">所属部门</th>
					</tr>
				</thead>
			</table>

			<table class="table bgGrren mgt20 mgb20" *ngFor="let orderItem of _orderLoader.Items">

				<tr>
					<td class=" font-green leftAlign pdl20 orderNo-title" colspan="6"><span>{{orderItem.purchaseDate}}</span> <span class="pointer mgl10 float-none"  (click)="showDetail(orderItem)" id="detail_show_{{orderItem.orderId}}">{{ 'ORDER_MNG.PURCHASED_SERVICES_NUMBER' | translate }}: {{orderItem.orderNo}}</span></td>
					<td class="orderNo-title" colspan="5">	
						<button *ngIf="!orderItem.canContinueRenew && orderItem.extendType > 0 && orderItem.canRenew" class="mgr2 pull-right button-gray-gradient" (click)="autoRenew(orderItem)" id="autoRenew_off_{{orderItem.orderId}}">取消自动续订</button>
						<button *ngIf="!orderItem.canContinueRenew && orderItem.extendType == 0 && orderItem.canRenew" class="mgr2 pull-right button-gray-gradient" (click)="autoRenew(orderItem)" id="autoRenew_on_{{orderItem.orderId}}">自动续订</button>

						<unsubscribe #unsubscribeVm title="{{ 'ORDER_MNG.ORDERS_UNSUBSCRIBE' | translate }}" [subid]="orderItem?.orderId" (onSuccess)='cancelSuccess($event)'></unsubscribe>
						<button *ngIf="orderItem.canCancel" class="mgr2 pull-right button-gray-gradient" (click)="unsubscribeVm.open()" id="unsubscribeVm_{{orderItem.orderId}}">{{ 'COMMON.UNSUBSCRIBE' | translate }}</button>

						<button *ngIf="orderItem.canRenew" class="pull-right button-gray-gradient" (click)="renewSelect(orderItem)" id="renewSelect_{{orderItem.orderId}}">{{ 'COMMON.RENEW' | translate }}</button>
						
						<button class="mgr2 pull-right button-gray-gradient" (click)="showDetail(orderItem)" id="show_detail_{{orderItem.orderId}}" id="show_detail_{{orderItem.orderId}}">{{ 'COMMON.DETAILS' | translate }}</button>

					</td>
				</tr>
				<tr>
					<td  colspan="11"  [ngClass]="{'no-padding':orderItem.showCommonStyle}">
						<table class="table table-hover _table "  *ngFor="let prodItem of orderItem.itemList" [ngClass]="{'mgb10':!orderItem.showCommonStyle}" >
							<thead>
								<th colspan="11"  *ngIf="!orderItem.showCommonStyle" ><span *ngIf="prodItem.purchaseDate" class="mgr10">{{prodItem.purchaseDate}}</span><span  *ngIf="prodItem.subinstanceNo">已购服务编号：{{prodItem.subinstanceNo}}</span></th>
							</thead>
							<tbody>
								<tr >
									<td class="order-title">
										<service-view  [values]="prodItem" *ngIf="prodItem.serviceType==11"></service-view><!-- 管理服务 -->
										<machine-view  [values]="prodItem" *ngIf="prodItem.serviceType==4"></machine-view><!-- 物理机 -->
										<vm-view [values]="prodItem" *ngIf="prodItem.serviceType==0"></vm-view><!-- 云主机 -->
										
										<disk-view [values]="prodItem" *ngIf="prodItem.serviceType==1"></disk-view><!-- 云硬盘 -->
										

										<sql-view [values]="prodItem" *ngIf="prodItem.serviceType==3" ></sql-view><!-- 数据库 -->

										<middleware-view [values]="prodItem" *ngIf="prodItem.serviceType==5" ></middleware-view><!-- 中间件 -->
									</td>
									<td>{{prodItem.serviceType | dict:_dictServ.getDic('GLOBAL', 'SERVICE_TYPE') |async}}</td>
									<td>{{prodItem.billingMode | dict:_dictServ.getDic('BILLING_MODE', 'TYPE') |async}}</td>
									<td>{{prodItem.period}} {{prodItem.periodType | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') |async}}<label *ngIf="!prodItem.showPrice">次</label></td>
									<td>{{prodItem.quantity}}台</td>
									<td style="width: 125px;">
										<ul>
											<li><span>{{ 'COMMON.ONE_TIME_COSTS' | translate }}:￥{{prodItem.oneTimePrice}}</span></li>
											<li *ngIf="prodItem.showPrice"><span>费用:￥{{prodItem.price}}/</span><span>{{prodItem.periodType | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') | async}}</span></li>
										</ul>	
									</td>
									<td class="font-green">{{prodItem.status | dict:_dictServ.getDic('SUBINSTANCE', 'STATUS') |async}}</td>
									<td>{{prodItem.createDate}}</td>
									<td>{{prodItem.expireDate}}</td>
									<td><span style="display:block;width:80px;word-wrap:break-word;">{{prodItem.buyer}}</span></td>
									<td>{{prodItem.departmentName}}</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				
			</table>
		</div>
		<fc-pagination tp={{_orderLoader.TotalPages}} (pf)="changePage($event)"></fc-pagination>

	</div>



	<!--详情-->

	<div class="modal fade" id="orderDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">{{ 'ORDER_MNG.PURCHASED_SERVICES_NUMBER' | translate }} {{_orderDetailLoader.FirstItem.instanceCode}}</h4>
				</div>
				<div class="modal-body">
					<order-mng-detail [orderDetail]="_orderDetailLoader.FirstItem"></order-mng-detail>
				</div>

				<div class="modal-footer">
				</div>

			</div>
		</div>
	</div>


	<!--续订-->

	<div class="modal fade" id="renewOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" >&times;</span></button>
					<h4 *ngIf="!_renewSetting.completed" class="modal-title" id="myModalLabel">已购服务续订：{{selectedOrderItem.orderNo}}</h4>
					<h4 *ngIf="_renewSetting.completed" class="modal-title" id="myModalLabel">续订完成</h4>
				</div>
				<div class="modal-body">
					<!--<account-mng-cr-local></account-mng-cr-local>(click)="search(currentPage)"
			          <order-mng-detail></order-mng-detail>-->
					<order-mng-renew *ngIf="!_renewSetting.completed" [orderItem]="selectedOrderItem"></order-mng-renew>

					<!-- 订单续订完成 -->
					<order-renew-complete *ngIf="_renewSetting.completed" [orderItem]="selectedOrderItem"></order-renew-complete>
					<!-- 订单续订 -->
					<div *ngIf="!_renewSetting.completed" class="OrderRenew">
						<div class="page-content">
							<div class="page-second-container mgb20">
								<div class="float-left">
									<span class="float-left mgr20" style="margin-top: 8px;">{{ 'ORDER_MNG.PURCHASE_TIME' | translate }}:</span>
									<div class="float-left mgr20">
										<input class="float-left" type="text" [ngModel]="selectedPeriodTypeName" disabled="true">
										<input *ngIf="!_renewSetting.isForever" class="float-left" type="number" name="" (blur)="renewValueChange()" [(ngModel)]="_renewSetting.value" id="renew_set_number">
									</div>
									<button class="btn  mgr20" [ngClass]="{'button-confirm':!_renewSetting.isForever!=1,'button-gray-gradient':!_renewSetting.isForever==1}"
									 (click)="selectForever();" id="selectForever">{{ 'COMMON.PERMANENCE' | translate }}</button>
								</div>
								<div class="float-left mgt5 mgl20">
									{{ 'ORDER_MNG.RENEWAL_EXPIRATION_TIME' | translate }}: <span class="font-red">{{_renewSetting.renewDate}}</span>
								</div>
								<div class="float-right">
								<span  class="float-left">（费用合计）</span>
										<ul  class="float-left mgr20"><!--{{_renewSetting.onetimePrice}}-->
											<li>一次性费用： <span class="font-red">￥0</span></li>
											<li class="mgl48">费用： <span class="font-red">￥{{_renewSetting.price}}/{{_renewSetting.periodType | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') |async }}<br></span>
											</li>
										</ul>
								</div>
							
							</div>
						</div>
					</div>
				</div>

				<div *ngIf="!_renewSetting.completed" class="modal-footer" style="text-align: center;">
					<button type="button" class="btn button-confirm button-size-big " data-toggle="modal" data-target="#renewOrderOk" (click)="renew()" id="renew_go">{{ 'COMMON.CONFIRM' | translate }}</button>
					<button type="button" class="btn  button-size-big button-white" data-dismiss="modal">{{ 'COMMON.CANCEL' | translate }}</button>
				</div>
				<!-- 订单续订完成 -->
					<div *ngIf="_renewSetting.completed" class="OrderRenew">
					<div class="page-content">
						<div class="page-second-container mgb20">
							<div class="float-left">
								<span class="font-red float-left mgb20">{{ 'ORDER_MNG.YOUR_ORDER_HAS_BEEN_RENEWED___AND_THE_ASSOCIATED_RESOURCES' | translate }}<br>{{ 'ORDER_MNG.FOR_APPROVAL___TO_TAKE_EFFECT' | translate }}.</span>
							</div>
							<div class="float-right">
								<span  class="float-left">（费用合计）</span>
										<ul  class="float-left mgr20">
											<li>一次性费用：<span class="font-red">￥0</span></li>
											<li class="mgl48">费用： <span class="font-red">￥{{_renewSetting.price}}/{{_renewSetting.periodType  | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') | async}}<br>
														</span>
											</li>
										</ul>
								<button class="button-size-big button-confirm pull-right" data-dismiss="modal" (click)="search()" id="search_console">{{ 'SITE.MNG_CONSOLE' | translate }}</button>
							</div>
							<div style="height: 40px;"></div>
						</div>
					</div>
				</div>
			</div>

			<div *ngIf="_renewSetting.completed" class="modal-footer">

			</div>

		</div>
	</div>
</div>
