<div class="OrderDetail">   
	<!--<div class="page-content-header icon-order-manage" style="border-bottom: 3px solid  #01a982;margin: 10px 0px;padding-left: 0; padding-bottom: 40px;">已订购服务编号：5370537<button class=" form-control-title button-gray-gradient pull-right">返回订购管理</button>
	</div>-->
	<div class="page-content">
		<div class="noborder form-control-title float-left mgb10">{{ 'VM_INSTANCE.BASIC_INFORMATION' | translate}}</div>
		<div class="table-container mgb20">
			<table class="table table-bordered first-table mgb20">
				<tbody>
					<tr>
						<td>{{ 'ORDER_MNG.PURCHASED_SERVICES_NUMBER' | translate}}</td>	
						<td>{{_orderDetail.instanceCode}}</td>
						<td>{{ 'COMMON.STATUS' | translate}}</td>
						<td>{{_orderDetail.status | dict:_dictServ.getDic('SUBINSTANCE', 'STATUS') | async}}</td>
					</tr>
					<tr>
						<td>{{ 'ORDER_MNG.PRODUCT_TYPE' | translate}}</td>
						<td>{{_orderDetail.productType | dict:_dictServ.getDic('GLOBAL', 'SERVICE_TYPE') | async}}</td>	
						<td><span *ngIf="_orderDetail.productType==0||_orderDetail.productType==1||_orderDetail.productType==2||_orderDetail.productType==11">{{ 'COMMON.ZONE' | translate}}/{{ 'COMMON.AVAILABLE_ZONE' | translate}}</span><!--云主机云硬盘，数据库中间件-->
							<span  *ngIf="_orderDetail.productType==4">区域资源池</span><!--物理机-->
						</td>
						<td><span *ngIf="_orderDetail.productType==0||_orderDetail.productType==1||_orderDetail.productType==2||_orderDetail.productType==11">{{_orderDetail.platform}} {{_orderDetail.zone}}</span>
							<span  *ngIf="_orderDetail.productType==4">物理机</span><!--物理机-->
						</td>
					</tr>
					<tr>
						<td><span>{{ 'COMMON.CURRENT_CONFIGURATION' | translate}}</span>
						<span *ngIf="_orderDetail.productType==11" >服务名称</span>
						</td>
						<td><span *ngIf="_orderDetail.productType==0||_orderDetail.productType==1||_orderDetail.productType==2">{{_orderDetail.specification}}</span><!--云主机云硬盘，数据库中间件-->
							<a *ngIf="_orderDetail.productType==4" class="hands" [popover]="popover">点击查看部件信息</a><!--物理机-->
							<popover-content #popover placement="right"[animation]="true" [closeOnClickOutside]="true">
								<div *ngIf="_orderDetail.productType==4"  class="table-container mgb20">
									<table class="table table-bordered mgb20 text-center inner-table">
										<thead>
												<th>部件名称</th>
												<th>规格</th>
												<th>规格值</th>
												<th>数量</th>
												<th>总容量</th>
										</thead>
										<tbody *ngIf="_orderDetail.itemList[0].pmEntity.partsEntitys">
											<tr *ngFor="let physicalMachineItem of _orderDetail.itemList[0].pmEntity.partsEntitys">
													<td>{{physicalMachineItem.partsName}}</td>
													<td>{{physicalMachineItem.specName}}</td>
													<td>{{physicalMachineItem.specValue}}</td>
													<td>{{physicalMachineItem.number}}</td>
													<td>{{physicalMachineItem.capacity}}</td>
												</tr>		
										</tbody>
									</table>
								</div>
					
							</popover-content>
							<a *ngIf="_orderDetail.productType==11" (click)="checkOSInfo(_orderDetail.instanceId)">OS管理服务</a><!--管理服务-->
						</td>	
						<td>{{ 'COMMON.CREATED_TIME' | translate}}</td>
						<td>{{_orderDetail.createDate}}</td>
					</tr>
					<tr>
						<td>计费模式</td>
						<td>{{_orderDetail.billingMode | dict:_dictServ.getDic('BILLING_MODE', 'TYPE') | async}}</td>	
						<td>{{ 'COMMON.EXPIRE_DATE' | translate}}</td>
						<td>{{_orderDetail.expireDate}}</td>
					</tr>
					<tr>
						<td>{{ 'COMMON.ONE_TIME_COSTS' | translate}}</td>
						<td>￥{{_orderDetail.oneTimePrice}}</td>	
						<td>{{ 'COMMON.PURCHASER' | translate}}</td>
						<td>{{_orderDetail.buyer}}</td>
					</tr>
					<tr>
						<td>{{ 'COMMON.EXPENSE' | translate}}</td>	
						<td><span *ngIf="_orderDetail.showPrice">￥{{_orderDetail.price}}/<span>{{_orderDetail.periodType | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') | async}}</span></span></td>
						<td>{{ 'COMMON.DEPARTMENT' | translate}}</td>
						<td>{{_orderDetail.department}}</td>
					</tr>
					<tr>
						<td>{{ 'VM_INSTANCE.INSTANCE_NAME' | translate}}</td>	
						<td>{{_orderDetail.instanceName}}</td>
						<td>{{ 'COMMON.ENTERPRISE' | translate}}</td>
						<td>{{_orderDetail.enterprise}}</td>
					</tr>	
					<tr>
						<td>是否自动续订</td>	
						<td>{{_orderDetail.isExtend}}</td>
						<td>自动续订方式</td>
						<td>{{_orderDetail.extendType | dict:_dictServ.getDic('SUBINSTANCE', 'EXTEND_TYPE') |async}}</td>
					</tr>			
				</tbody>
			</table>
		</div>
		<div class="noborder  form-control-title float-left  mgb10">{{ 'ORDER_MNG.ASSOCIATED_LIST_OF_SUBSCRIBED_SERVICES' | translate}}</div>
		<div class="table-container mgb20">
			<table class="table table-bordered mgb20 text-center">
				<thead>			
						<th>{{ 'ORDER_MNG.PURCHASED_SERVICES_NUMBER' | translate}}</th>
						<th>{{ 'VM_INSTANCE.INSTANCE_NAME' | translate}}</th>
						<th>{{ 'ORDER_MNG.PRODUCT_TYPE' | translate}}</th>
						<th>{{ 'COMMON.CONFIGURATION' | translate}}</th>
						<th>{{ 'COMMON.BILLING_MODE' | translate}}</th>
						<th>{{ 'COMMON.STATUS' | translate}}</th>
						<th>{{ 'COMMON.EXPENSE' | translate}}</th>
						<th>{{ 'COMMON.EXPIRE_DATE' | translate}}</th>				
				</thead>
				<tbody>
					<tr *ngFor="let item of _orderDetail.relatedSubInstanceList">
						<td>{{item.instanceCode}}</td>
						<td>{{item.instanceName}}</td>
						<td>{{item.productType | dict:_dictServ.getDic('GLOBAL', 'SERVICE_TYPE') | async}}</td>
						<td>{{item.specification}}</td>
						<td>{{item.billingMode | dict:_dictServ.getDic('BILLING_MODE', 'TYPE') | async}}</td>
						<td class="font-green">{{item.status| dict:_dictServ.getDic('SUBINSTANCE', 'STATUS') |async}}</td>
						<td>
							<ul>
								<li>{{ 'COMMON.ONE_TIME_COSTS' | translate}}: {{item.oneTimePrice}}</li>
								<li>{{ 'COMMON.EXPENSE' | translate}}: {{item.price}}</li>
							</ul>
						</td>
						<td>{{item.expireDate}}</td>
					</tr>
				</tbody>
			</table>
		</div>	
		<div class="noborder  form-control-title float-left  mgb10">{{ 'ORDER_MNG.HISTORY_INFORMATION' | translate}}</div>
		<div class="table-container mgb20">
			<table class="table table-bordered mgb20 text-center">
				<thead>
						<th>{{ 'COMMON.DATE' | translate}}</th>
						<th>{{ 'VM_INSTANCE.INSTANCE_NAME' | translate}}</th>
						<th>{{ 'ORDER_MNG.INSTANCE_TYPE' | translate}}</th>
						<th>{{ 'COMMON.CONFIGURATION' | translate}}</th>
						<th>{{ 'COMMON.OPERATOR' | translate}}</th>
						<th>{{ 'COMMON.DEPARTMENT' | translate}}</th>
						<th>{{ 'COMMON.EXPIRE_DATE' | translate}}</th>
						<th>{{ 'COMMON.EXPLAIN' | translate}}</th>
				</thead>
				<tbody>
					<tr>
						<td>{{_orderDetail.createDate}}</td>
						<td>{{_orderDetail.instanceName}}</td>
						<td>{{_orderDetail.productType | dict:_dictServ.getDic('GLOBAL', 'SERVICE_TYPE') | async}}</td>
						<td>{{_orderDetail.specification}}</td>
						<td>{{_orderDetail.buyer}}</td>
						<td>{{_orderDetail.department}}</td>
						<td>{{_orderDetail.expireDate}}
						</td>
						<td>{{_orderDetail.type | dict:_dictServ.getDic('ORDER', 'TYPE') | async}}</td>
					</tr>
					<tr *ngFor="let item of _orderDetail.hisOrderList">
						<td>{{item.createDate}}</td>
						<td>{{item.instanceName}}</td>
						<td>{{item.productType | dict:_dictServ.getDic('GLOBAL', 'SERVICE_TYPE') | async}}</td>
						<td>{{item.specification}}</td>
						<td>{{item.buyer}}</td>
						<td>{{item.department}}</td>
						<td>{{item.expireDate}}
						</td>
						<td>{{item.type | dict:_dictServ.getDic('ORDER', 'TYPE') | async}}</td>
					</tr>
					
				</tbody>
			</table>
		</div>
</div>