<div class="page-content-header icon-content-header-purchasing">{{'HOST_VMWARE_MNG.SET_ENTERPRISE' | translate}}</div>
<div class="page-content">
    <div class="row" style="margin-top:30px;">
        <div class="col-md-12">
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{'HOST_VMWARE_MNG.IMAGE_NAME' | translate}}:</div>
                    <div class="col-md-4">
                        <span style="line-height:34px">{{imageName || ('HOST_VMWARE_MNG.UNSET' | translate)}}</span>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{'HOST_VMWARE_MNG.IMAGE_DISPLAY_NAME' | translate}}:</div>
                    <div class="col-md-4">
                        <span style="line-height:34px">{{imagedisplayName || ('HOST_VMWARE_MNG.UNSET' | translate)}}</span>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{'HOST_VMWARE_MNG.OS' | translate}}:</div>
                    <div class="col-md-4">
                        <span style="line-height:34px">{{(imageOs | dict:this.dictService.osDict | async) || ('HOST_VMWARE_MNG.UNSET' | translate)}}</span>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{'HOST_VMWARE_MNG.BIT' | translate}}:</div>
                    <div class="col-md-4">
                        <span style="line-height:34px">
                            {{(imagebitsType | dict:this.dictService.bitDict | async) || ('HOST_VMWARE_MNG.UNSET' | translate)}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mgb20 mgt20" style="margin-left:25%;">
        <div class="col-md-3">
            <table class="table table-hover" style="border: 1px solid #cfd8e7;">
                <thead>
                    <tr>
                        <th>{{'HOST_VMWARE_MNG.UNSELECTED_ENTERPRISE' | translate}}</th>
                    </tr>
                </thead>
                <tbody>                 
                    <tr *ngFor="let uslent of unselectedEnts">
                        <td>
                            <label><input type="checkbox" name="unselected" [checked]="uslent.selected" (change)="uslent.selected=$event.target.checked;" class="fox-cloud-checkbox" />{{uslent.name}}</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="float-left">
            <div class="mgb10 mgt15">
                <button (click)="moveToRight();" class="fox-cloud-button fox-cloud-button-white">
                    <span class="icon-button-label">{{'HOST_VMWARE_MNG.MOVE_IN' | translate}}</span>
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
            <div>
                <button (click)="moveToLeft();" class="fox-cloud-button fox-cloud-button-white">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                    <span class="icon-button-label">{{'HOST_VMWARE_MNG.MOVE_OUT' | translate}}</span>
                </button>
            </div>
        </div>
        <div class="col-md-3 ">
            <table class="table table-hover" style="border: 1px solid #cfd8e7;">
                <thead>
                    <tr>
                        <th>{{'HOST_VMWARE_MNG.SELECTED_ENTERPRISE' | translate}}</th>
                    </tr>
                </thead>
                <tbody>                    
                    <tr *ngFor="let slent of selectedEnts">
                        <td>
                            <label><input type="checkbox" name="selected" [checked]="slent.selected" (change)="slent.selected=$event.target.checked;" class="fox-cloud-checkbox" />{{slent.name}}</label>                        
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="text-center " style="margin-top:40px">
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="VmwareImgListPage()">
        <span class="icon-button-label">{{'HOST_VMWARE_MNG.CANCEL' | translate}}</span>
    </button>     
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="onSaveVmwareImgEnts()">
        <span class="icon-button-label">{{'HOST_VMWARE_MNG.SAVE' | translate}}</span>
    </button>
</div>
<div style="height:50px"></div>

<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}"></fc-notice>