<div class="page-content-header icon-content-header-purchasing">{{'HOST_VMWARE_MNG.IMAGE_MANAGEMENT' | translate}}</div>
<div class="page-content" style="min-height:300px">
    <table class="table table-hover ">
        <thead>
            <tr>
                <th style="text-align:left;">{{'HOST_VMWARE_MNG.SYNC_IMAGE' | translate}}：{{platformName}}({{'HOST_VMWARE_MNG.TYPE' | translate}}TYPE类型：VMware)</th>
                <th style="text-align:right;">
                    <button class=" fox-cloud-button fox-cloud-button-white " key="boe/image-mng.html" (click)="VmwareImgListPage()">
                        <span class="icon-button-label">{{'HOST_VMWARE_MNG.RETURN_IMAGE_MANAGEMENT' | translate}}</span>
                    </button>
                </th>
            </tr>
        </thead>
    </table>
      <div class="table-container mgt20" >
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{'HOST_VMWARE_MNG.SELECT' | translate}}</th>
                    <th>{{'HOST_VMWARE_MNG.SERIAL_NUMBER' | translate}}</th>
                    <th>{{'HOST_VMWARE_MNG.IMAGE_NAME' | translate}}</th>
                    <th>{{'HOST_VMWARE_MNG.IMAGE_DISPLAY_NAME' | translate}}</th>
                    <th>{{'HOST_VMWARE_MNG.OS' | translate}}</th>
                    <th>{{'HOST_VMWARE_MNG.BIT' | translate}}</th>
                    <th>{{'HOST_VMWARE_MNG.CAPACITY' | translate}}</th>
                    <th>{{'HOST_VMWARE_MNG.IMAGE_TYPE' | translate}}</th>
                    <th>{{'HOST_VMWARE_MNG.SYNC_RESULT' | translate}}</th>          
                </tr>             
            </thead>
            <tbody>
                <tr *ngFor="let syncimg of vmwaresyncimgs; let i=index;">
                    <td><input type="checkbox" name="1" class="fox-cloud-checkbox" [checked]="syncimg.checked" (change)="selectItem(i)" value="{{i}}">
                    </td>
                    <td>{{i+1}}</td>
                    <td>{{syncimg.name}}</td>
                    <td>
                        <div *ngIf="syncimg.syncResult==0">
                            <input type="text"  [(ngModel)]="syncimg.displayName" />
                        </div>
                        <div *ngIf="syncimg.syncResult!=0">
                            {{syncimg.displayName || syncimg.name}}
                        </div>
                    </td>
                    <td>
                        <div *ngIf="syncimg.syncResult==0">
                            <!--<input type="text" class="form-control" [(ngModel)]="syncimg.os" /> -->
                            <select [(ngModel)]="syncimg.os">
                                <option *ngFor="let os of this.osDictArray" [value]="os.value">{{os.displayValue}}</option>
                            </select>
                        </div>
                        <div *ngIf="syncimg.syncResult!=0">
                            {{syncimg.os | dict:this.dictService.osDict | async}}
                        </div>
                    </td>
                    <td>
                        <div *ngIf="syncimg.syncResult==0" style="padding-top:2px">
                        <select [(ngModel)]="syncimg.bitsType">
                            <option *ngFor="let bit of this.bitDictArray" [value]="bit.value">{{bit.displayValue}}</option>
                        </select>
                        </div>
                        <div  *ngIf="syncimg.syncResult!=0">
                        {{syncimg.bitsType | dict:this.dictService.bitDict | async}}
                        </div>
                    </td>
                    <td>{{ syncimg.capacity | formatCapacity}}</td>
                    <td>
                        <div *ngIf="syncimg.syncResult==0" style="padding-top:2px">
                        <select [(ngModel)]="syncimg.type">
                            <option [value]="'0'">{{'HOST_VMWARE_MNG.PUBLIC_IMAGE' | translate}}</option>
                            <option [value]="'2'">{{'HOST_VMWARE_MNG.ENTERPRISE_IMAGE' | translate}}</option>
                            <!-- <option *ngFor="let type of this.typeDict" [value]="type.value">{{type.displayValue}}</option> -->
                        </select>
                        </div>
                        <div  *ngIf="syncimg.syncResult!=0">
                        {{syncimg.type | dict:this.dictService.typeDict | async}}
                        </div>
                    </td>
                    <td class="font-green">{{syncimg.syncResult | dict:this.dictService.syncReslDict | async}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="text-center " style="margin-top:50px">   
    
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="VmwareImgListPage()">
        <span class="icon-button-label">{{'HOST_VMWARE_MNG.RETURN' | translate}}</span>
    </button> 
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="VmwareSyncImages()">
        <span class="icon-button-label">{{'HOST_VMWARE_MNG.SYNC' | translate}}</span>
    </button>
</div>
<div style="height:50px"></div>

<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}"></fc-notice>
<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}" ct="{{'COMMON.CANCEL' | translate}}"></fc-confirm>