<div class="page-content-header icon-content-header-purchasing"> 镜像管理</div>
<div class="page-content">
    <table class="table table-hover ">
        <thead>
            <tr>
                <th style="text-align:left;">同步镜像：{{platformName}}(类型：VMWare)</th>
                <th style="text-align:right;">
                    <button class=" fox-cloud-button fox-cloud-button-white " key="boe/image-mng.html" (click)="VmwareImgListPage()">
                        <span class="icon-button-label">返回镜像管理列表</span>
                    </button>
                </th>
            </tr>
        </thead>
    </table>
      <div class="table-container mgt20" >
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>选择</th>
                    <th>编号</th>
                    <th>镜像名</th>
                    <th>镜像显示名称</th>
                    <th>操作系统</th>
                    <th>系统位数</th>
                    <th>镜像容量</th>
                    <th>镜像类型</th>
                    <th>同步结果</th>          
                </tr>             
            </thead>
            <tbody>
                <tr *ngFor="let syncimg of vmwaresyncimgs; let i=index;">
                    <td><input type="checkbox" name="1" class="fox-cloud-checkbox" [checked]="syncimg.checked" (change)="selectItem(i)" value="{{i}}">
                    </td>
                    <td>{{i}}</td>
                    <td>{{syncimg.name}}</td>
                    <td>
                        <div *ngIf="syncimg.syncResult==0">
                            <input type="text" class="form-control" [(ngModel)]="syncimg.displayName" />
                        </div>
                        <div *ngIf="syncimg.syncResult!=0">
                            {{syncimg.displayName}}
                        </div>
                    </td>
                    <td>
                        <div *ngIf="syncimg.syncResult==0">
                            <input type="text" class="form-control" [(ngModel)]="syncimg.os" />
                        </div>
                        <div *ngIf="syncimg.syncResult!=0">
                            {{syncimg.os}}
                        </div>
                    </td>
                    <td>
                        <div *ngIf="syncimg.syncResult==0">
                        <select [(ngModel)]="syncimg.bitsType">
                            <option *ngFor="let bit of this.bitDict" [value]="bit.value">{{bit.displayValue}}</option>
                        </select>
                        </div>
                        <div  *ngIf="syncimg.syncResult!=0">
                        {{getDicText(syncimg.bitsType, this.bitDict)}}
                        </div>
                    </td>
                    <td>{{syncimg.capacity}}</td>
                    <td>
                        <div *ngIf="syncimg.syncResult==0">
                        <select [(ngModel)]="syncimg.type">
                            <option *ngFor="let type of this.typeDict" [value]="type.value">{{type.displayValue}}</option>
                        </select>
                        </div>
                        <div  *ngIf="syncimg.syncResult!=0">
                        {{getDicText(syncimg.type, this.typeDict)}}
                        </div>
                    </td>
                    <td class="font-green">{{getDicText(syncimg.syncResult, this.syncReslDict)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="text-center " style="margin-top:40px">   
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="VmwareSyncImages()">
        <span class="icon-button-label">同步</span>
    </button>
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="VmwareImgListPage()">
        <span class="icon-button-label">返回</span>
    </button> 
</div>

<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="确认"></fc-notice>
<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="确认" ct="取消"></fc-confirm>