
<div class="page-content-header icon-cloud-network-mngOn">
    VMWare网络
</div>
<div class="page-content">   
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="text-align:left;">VMware网络管理 -- 管理分布式网络 -- IP地址管理 -- 管理IP地址</th>
                <th style="text-align:right;">
                    <button class=" fox-cloud-button fox-cloud-button-white ">
                        <span class="icon-button-label" (click)="ipMngPage()">返回上一级</span>
                    </button>
                </th>
            </tr>
        </thead>
    </table>
    <div class="row mgt10 mgb20" >
        <span class="pull-left font-gray mgt5 pdl15">
            分布式交换机名称(VDS) :
        </span>
        <div class="col-md-2">
            <span class="pull-left font-gray mgt5 pdl15">{{pg_name}}</span>
        </div>
    </div>       
        

    <div class="mgb10">
        <button class="fox-cloud-button fox-cloud-button-green" (click)="filter('2')">空闲</button>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="filter('1')">已占用</button>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="filter('all')">所有</button>
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                选择操作
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a (click)="enable()">占用IP</a></li>
                <li><a (click)="disable()">释放IP</a></li>
            </ul>
        </div>
    </div>

    <div class="table-container mgb10">
        <table class="table table-hover">
            <thead>
                <tr>
                <th>选择</th>
                <th>IP地址</th>
                <th>主机名称</th>
                <th>企业名称</th>
                <th>状态</th>
                <th>说明</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ipusagemng of ipusagemngs; let i=index;">
                <td><input type="radio" class="fox-cloud-radio" name="radio" [checked]="ipusagemng.checked" (change)="selectItem(i)" value="{{i}}"></td>
                <td>{{ipusagemng.addr}}</td>
                <td>{{displayIt(ipusagemng.instanceName)}}</td>
                <td>{{displayIt(ipusagemng.tenantName)}}</td>
                <td>{{ipusagemng.status}}</td>
                <!-- <td>{{getDicText(ipusagemng.status,this.statusDic)}}</td>  -->
                <td>{{displayIt(ipusagemng.description)}}</td>
                </tr>          
            </tbody>
        </table>
    </div>
</div>

<fc-notice #notice ot="确认" (of)="okClicked()"></fc-notice>
<fc-confirm #confirm ot="确认" ct="取消" (of)="onConfirmed()"></fc-confirm>

<fc-popup #enableipbox ot="确认" ct="取消" title="占用IP" (of)="acceptEnableIPModify()" (cf)="cancelEnableIPModify()">
	<div class="dialogContent">
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">占用IP:</div>
					<div class="col-sm-8">
						<span>{{changedip.addr}}</span>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>说明：</div>
					<div class="col-sm-8">
					    <input type="string" class="form-control input-control" [(ngModel)]="changedip.description">
					</div>
				</div>
			</div>
	</div>
</fc-popup>

<fc-popup #disableipbox ot="确认" ct="取消" title="释放IP" (of)="acceptDisableIPModify()" (cf)="cancelDisableIPModify()">
	
	<div class="dialogContent">
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">释放IP:</div>
					<div class="col-sm-8">
						<span>{{changedip.addr}}</span>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>说明：</div>
					<div class="col-sm-8">
					    <input type="string" class="form-control input-control" [(ngModel)]="changedip.description">
					</div>
				</div>
			</div>
	</div>
</fc-popup>