<div class="page-content-header icon-create-product">{{pagetitle | translate}}</div><!--创建模板-->
<div class="page-content">
	<div class="row" style="padding-top: 30px;">
		<div class="col-md-12">
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-3 form-control-bold-title"><span class="asterisk">*</span>{{'SYS_SETUP.TEMPLATE_NAME' | translate}}:</div>
					<!--模板名称-->
					<div class="col-sm-4 form-group has-feedback no-padding" [ngClass]="{'has-error':v.result.name}">
						<input type="text" [(ngModel)]="database.name" (ngModelChange)="checkForm('name')" name="name" placeholder="{{'请输入模板名称' | translate}}"
						 class="form-control">
						<span *ngIf="v.result.name" class="glyphicon glyphicon-remove form-control-feedback"></span>
						<div *ngIf="v.result.name" class="alert alert-danger" role="alert">{{v.result.name}}</div>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-3 form-control-bold-title"><span class="asterisk">*</span>{{'数据库选项' | translate}}:</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-3 form-control-title">{{'软件类型' | translate}}</div>
					<div class="col-sm-5 no-padding">
						<div class="btn-group">
							<button type="button" class="btn btn-default" *ngFor="let item of softwareTypeList;let idx = index"
							 [ngClass]="{'btn-active': true}">{{item.label}}</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-3 form-control-title">{{'软件版本' | translate}}</div>
					<div class="col-sm-1 no-padding">
						<select class="form-control" [(ngModel)]="database.version">
							<option *ngFor="let version of databaseOptionList.items[0]?.version" [value]="version">{{version}}</option>
						</select>
					</div>
					<div class="col-sm-2 form-control-title">{{'操作系统类型' | translate}}</div>
					<div class="col-sm-1">
						<select class="form-control" [(ngModel)]="database.os">
                            <option [value]="os.code" *ngFor="let os of databaseOptionList.items[0]?.os">{{os.label}}</option>							
							<!--<option value="0">Linux</option>
							<option value="1">Windows</option>
							<option value="3">Mac</option>-->
						</select>
					</div>
					<div class="col-sm-1 form-control-title">{{'位数' | translate}}</div>
					<div class="col-sm-1">
						<select class="form-control" [(ngModel)]="database.bit">
                            <option [value]="bit.code" *ngFor="let bit of databaseOptionList.items[0]?.bit">{{bit.label}}</option>														
							<!--<option value="0">32bit</option>-->
							<!--<option value="1">64bit</option>-->
						</select>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-3 form-control-title">{{'部署模式' | translate}}</div>
					<div class="col-sm-2 no-padding from-control" *ngFor="let mode of databaseOptionList.items[0]?.mode">
						<input type="radio" class="fox-cloud-radio" [value]="mode.value" [(ngModel)]="database.deploymentMode" name="deployMode" style="margin-right:10px;">{{mode.label}}
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-3 form-control-bold-title"><span class="asterisk">*</span>{{'最小规格' | translate}}:</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-3 form-control-title">{{'云主机' | translate}}</div>
					<div class="col-sm-2 form-inline has-feedback" [ngClass]="{'has-error':v.result.cpu}">
						<span>CPU(核)</span>
						<input type="text" class="form-control" [(ngModel)]="database.cpu" (ngModelChange)="checkForm('cpu')" style="display: inline;width:100px">
					</div>
					<div class="col-sm-2 form-inline has-feedback" [ngClass]="{'has-error':v.result.memory}">
						<span>内存(G)</span>
						<input type="text" class="form-control" [(ngModel)]="database.memory" (ngModelChange)="checkForm('memory')" style="display: inline;width:100px">
					</div>
					<div class="col-sm-3 form-inline has-feedback" [ngClass]="{'has-error':v.result.bootStorageSize}">
						<span>启动盘大小(Gb)</span>
						<input type="text" class="form-control" [(ngModel)]="database.bootStorageSize" (ngModelChange)="checkForm('bootStorageSize')" style="display: inline;width:100px">
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-3 form-control-bold-title"><span class="asterisk">*</span>{{'存储定义' | translate}}:</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-3 form-control-title">{{'存储类型' | translate}}</div>
					<div class="col-sm-5 no-padding">
						<div class="btn-group">
							<button type="button" class="btn btn-default" *ngFor="let item of storageTypeList;let idx = index" (click)="chooseStorageType(item,idx)"
							 [ngClass]="{'btn-active': item.selected}">{{item.type}}</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-3 form-control-title">{{'附件云硬盘' | translate}}</div>
					<div class="col-md-6 no-padding" style="border:1px solid #cfd8e7">
						<table class="table table-hover" *ngIf="database.storageType=='FS'">
							<thead>
								<tr>
									<th>编号</th>
									<th>{{"云硬盘用途" | translate}}</th>
									<th>{{"最小配置" | translate}}</th>
									<th>{{"默认挂载目录" | translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of database.diskProfileList; let idx = index;">
									<td>{{idx + 1}}</td>
									<td>{{item.useDisplay}}</td>
									<td>
										<input class="form-control" [(ngModel)]="item.minSize" style="display: inline;width:100px">
									</td>
									<td>
										<input class="form-control" [(ngModel)]="item.defaultPath" style="display: inline;width:150px">
									</td>
								</tr>
							</tbody>
						</table>
						<table class="table table-hover" *ngIf="database.storageType=='ASM'">
							<thead>
								<tr>
									<th>编号</th>
									<th>{{"云硬盘用途" | translate}}</th>
									<th>{{"最小配置" | translate}}</th>
									<th>{{"磁盘组名称" | translate}}</th>
									<th>{{"冗余级别" | translate}}</th>
									<th>{{"默认挂载目录" | translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of database.diskProfileList; let idx = index;">
									<td>{{idx + 1}}</td>
									<td>{{item.useDisplay}}</td>
									<td>
										<input class="form-control" [(ngModel)]="item.minSize" style="display: inline;width:100px">
									</td>
									<td>
										<input class="form-control" [(ngModel)]="item.diskGroup" style="display: inline;width:100px">
									</td>
									<td>
										<select name="redundancy" class="form-control" [(ngModel)]="item.copyLevel">
                            				<option [value]="redundancy.value" *ngFor="let redundancy of databaseOptionList.items[0]?.copyleveloption">{{redundancy.label}}</option>
                        				</select>
									</td>
									<td>
										<input class="form-control" [(ngModel)]="item.defaultPath" style="display: inline;width:150px">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="text-center mgt30">
	<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel();">
        <span class="icon-button-label">{{'NET_MNG_OPENSTACK.CNACLE' | translate}}</span>
    </button>
	<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="onSubmit();" style="margin-left:40px">
        <span class="icon-button-label">{{'COMMON.CREATE' | translate}}</span><!--创建模板-->

    </button>
</div>

<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="HOST_OPENSTACK_MNG.CONFIRM"></fc-notice>