<div class="page-content">
    <div>
        <h1 class="page-content-header float-left">{{ 'MNG_CONSOLE.OVERVIEW_OF_MANAGEMENT_CONTROL' | translate }}</h1>
    </div>
    <div style="clear:both;"></div>
    <div class="row">
        <div class="col-sm-8">
            <div class="console-box ">
                <div class="admin-box col-sm-4">
                    <div class="col-sm-4 icon-admin"></div>
                    <div class="col-sm-8">
                        <p class="admin-name">{{userInfo.userName}}</p>
                        <p class="admin-department">{{userInfo.organizationName}}</p>
                    </div>
                </div>
                <div class="work-box col-sm-3">
                    <div class="console-title">已购服务与审批统计</div>
                    <div class="work-data col-sm-6">
                        <p class="number">{{ci?.orderForAudit || "0"}}</p>
                        <p class="description">待审批</p>
                    </div>
                    <div class="work-data col-sm-6">
                        <p class="number color-b">{{ci?.serviceToExpired || "0"}}</p>
                        <p class="description">即将过期的服务<br>（1个月内）</p>
                    </div>
                </div>
                <div class="work-box col-sm-5">
                    <div class="console-title">工单统计</div>
                    <div class="work-data col-sm-4">
                        <p class="number">{{ci?.ticketNew || "0"}}</p>
                        <p class="description">{{ 'COMMON.NEWLY_CREATED' | translate }}</p>
                    </div>
                    <div class="work-data col-sm-4">
                        <p class="number color-c">{{ci?.ticketProcessing || "0"}}</p>
                        <p class="description">{{ 'COMMON.IN_PROCESS' | translate }}</p>
                    </div>
                    <div class="work-data col-sm-4">
                        <p class="number color-a">{{ci?.ticketDone || "0"}}</p>
                        <p class="description">{{ 'COMMON.COMPLETED' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="console-box ">
                <div class="console-title">{{ 'MNG_CONSOLE.TOTAL_QUOTA_USAGE' | translate }}</div>
                <div class="quota-box ">
                    <canvas baseChart
                          width="100" height="100"
                          [datasets]="epcpu"
                          chartType="doughnut"
                          [options]="quotaOptions"></canvas>
                    <div class="percent-num">{{!eplist.vcpu ? 0 : eplist.usedCpu/eplist.vcpu*100 | decimalPlaces : 0 : "round"}}<sup>%</sup></div>
                    <div class="quota-name">vCPU</div>
                </div>
                <div class="quota-box ">
                    <canvas baseChart
                          width="100" height="100"
                          [datasets]="epmem"
                          chartType="doughnut"
                          [options]="quotaOptions"></canvas>
                    <div class="percent-num">{{!eplist.mem ? 0 : eplist.usedMem/eplist.mem*100 | decimalPlaces : 0 : "round"}}<sup>%</sup></div>
                    <div class="quota-name">{{ 'COMMON.RAM' | translate }}</div>
                </div>
                <div class="quota-box ">
                    <canvas baseChart
                          width="100" height="100"
                          [datasets]="epdisk"
                          chartType="doughnut"
                          [options]="quotaOptions"></canvas>
                    <div class="percent-num">{{!eplist.storage ? 0 : eplist.usedStorage/eplist.storage*100 | decimalPlaces : 0 : "round"}}<sup>%</sup></div>
                    <div class="quota-name">{{ 'COMMON.STORAGE' | translate }}</div>
                </div>
                <div class="quota-box ">
                    <canvas baseChart
                          width="100" height="100"
                          [datasets]="ephost"
                          chartType="doughnut"
                          [options]="quotaOptions"></canvas>
                    <div class="percent-num">{{!eplist.physical ? 0 : eplist.usedPhysical/eplist.physical*100 | decimalPlaces : 0 : "round"}}<sup>%</sup></div>
                    <div class="quota-name">{{ 'COMMON.PHYSICAL_MACHINE' | translate }}</div>
                </div>
                <div class="quota-box ">
                    <canvas baseChart
                          width="100" height="100"
                          [datasets]="epsnapshot"
                          chartType="doughnut"
                          [options]="quotaOptions"></canvas>
                    <div class="percent-num">{{!eplist.snapshot ? 0 : eplist.usedSnapshot/eplist.snapshot*100 | decimalPlaces : 0 : "round"}}<sup>%</sup></div>
                    <div class="quota-name">{{ 'COMMON.SNAPSHOT' | translate }}</div>
                </div>
                <div class="quota-box ">
                    <canvas baseChart
                          width="100" height="100"
                          [datasets]="epimage"
                          chartType="doughnut"
                          [options]="quotaOptions"></canvas>
                    <div class="percent-num">{{!eplist.image ? 0 : eplist.usedImage/eplist.image*100 | decimalPlaces : 0 : "round"}}<sup>%</sup></div>
                    <div class="quota-name">{{ 'COMMON.MIRROR' | translate }}</div>
                </div>
                <div class="quota-box ">
                    <canvas baseChart
                          width="100" height="100"
                          [datasets]="epfloatIp"
                          chartType="doughnut"
                          [options]="quotaOptions"></canvas>
                    <div class="percent-num">{{!eplist.ipaddress ? 0 : eplist.usedIpaddress/eplist.ipaddress*100 | decimalPlaces : 0 : "round"}}<sup>%</sup></div>
                    <div class="quota-name">{{ 'COMMON.FLOAT' | translate }}IP</div>
                </div>

                <div class="console-title next-title">{{ 'MNG_CONSOLE.DEPARTMENT_RESOURCES' | translate }}</div>
                
                <div class="resource-box">
                    <div class="resource-icon icon-resource-vm"></div>
                    <p class="resource-name">云主机</p>
                    <div class="resource-state">
                        <span>运行状态</span>
                        <span class="color-a mgl5">{{ci?.vmRunning || "0"}}</span>
                    </div>
                    <div class="resource-state">
                        <span>非运行状态</span>
                        <span class="color-b mgl5">{{ci?.vmPaused || "0"}}</span>
                    </div>
                </div>

                <div class="resource-box">
                    <div class="resource-icon icon-resource-disk"></div>
                    <p class="resource-name">云硬盘</p>
                    <div class="resource-state">
                        <span>运行状态</span>
                        <span class="color-a mgl5">{{ci?.storageRunning || "0"}}</span>
                    </div>
                    <div class="resource-state">
                        <span>非运行状态</span>
                        <span class="color-b mgl5">{{ci?.storagePaused || "0"}}</span>
                    </div>
                </div>

                <!-- <div class="resource-box">
                    <div class="resource-icon icon-resource-machine"></div>
                    <p class="resource-name">物理机</p>
                    <div class="resource-state">
                        <span>运行状态</span>
                        <span class="color-a mgl5">{{ci?.pcRunning || "0"}}</span>
                    </div>
                    <div class="resource-state">
                        <span>非运行状态</span>
                        <span class="color-b mgl5">{{ci?.pcPaused || "0"}}</span>
                    </div>
                </div>

                <div class="resource-box">
                    <div class="resource-icon icon-resource-snap"></div>
                    <p class="resource-name">快照／镜像</p>
                    <div class="resource-state">
                        <span>运行状态</span>
                        <span class="color-a mgl5">{{ci?.snapshotRunning || "0"}}</span>
                    </div>
                    <div class="resource-state">
                        <span>非运行状态</span>
                        <span class="color-b mgl5">{{ci?.snapshotPaused || "0"}}</span>
                    </div>
                </div> -->

                <!-- <div class="console-title next-title">我的资源<span class="icon-shopping "></span></div> -->
                <!-- <div class="col-sm-6">
                    <div class="console-box">
                        <div class="console-title">上海A区</div>
                        <div class="host-shell">
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">云主机</span><span>14</span>
                                </div>
                                <div class="line-x"></div>
                            </div>
                            <div class="host-right host-top">
                                <div class="host-box">
                                    <span class="point color-bg-a"></span><span class="host-name">运行中</span><span>2</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">云硬盘</span><span>0</span>
                                </div>
                            </div>
                            <div class="host-right host-center">
                                <div class="host-box">
                                    <span class="point color-bg-c"></span><span class="host-name">即将过期</span><span>2</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">快照</span><span>0</span>
                                </div>
                            </div>
                            <div class="host-right host-center">
                                <div class="host-box">
                                    <span class="point color-bg-b"></span><span class="host-name">已过期</span><span>12</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">镜像</span><span>2</span>
                                </div>
                            </div>
                            <div class="host-right host-bottom">
                                <div class="host-box">
                                    <span class="point color-bg-d"></span><span class="host-name">近期创建</span><span>5</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="console-box">
                        <div class="console-title">上海A区</div>
                        <div class="host-shell">
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">云主机</span><span>14</span>
                                </div>
                                <div class="line-x"></div>
                            </div>
                            <div class="host-right host-top">
                                <div class="host-box">
                                    <span class="point color-bg-a"></span><span class="host-name">运行中</span><span>2</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">云硬盘</span><span>0</span>
                                </div>
                            </div>
                            <div class="host-right host-center">
                                <div class="host-box">
                                    <span class="point color-bg-c"></span><span class="host-name">即将过期</span><span>2</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">快照</span><span>0</span>
                                </div>
                            </div>
                            <div class="host-right host-center">
                                <div class="host-box">
                                    <span class="point color-bg-b"></span><span class="host-name">已过期</span><span>12</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">镜像</span><span>2</span>
                                </div>
                            </div>
                            <div class="host-right host-bottom">
                                <div class="host-box">
                                    <span class="point color-bg-d"></span><span class="host-name">近期创建</span><span>5</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="console-box">
                        <div class="console-title">上海A区</div>
                        <div class="host-shell">
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">云主机</span><span>14</span>
                                </div>
                                <div class="line-x"></div>
                            </div>
                            <div class="host-right host-top">
                                <div class="host-box">
                                    <span class="point color-bg-a"></span><span class="host-name">运行中</span><span>2</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">云硬盘</span><span>0</span>
                                </div>
                            </div>
                            <div class="host-right host-center">
                                <div class="host-box">
                                    <span class="point color-bg-c"></span><span class="host-name">即将过期</span><span>2</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">快照</span><span>0</span>
                                </div>
                            </div>
                            <div class="host-right host-center">
                                <div class="host-box">
                                    <span class="point color-bg-b"></span><span class="host-name">已过期</span><span>12</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">镜像</span><span>2</span>
                                </div>
                            </div>
                            <div class="host-right host-bottom">
                                <div class="host-box">
                                    <span class="point color-bg-d"></span><span class="host-name">近期创建</span><span>5</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="console-box">
                        <div class="console-title">上海A区</div>
                        <div class="host-shell">
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">云主机</span><span>14</span>
                                </div>
                                <div class="line-x"></div>
                            </div>
                            <div class="host-right host-top">
                                <div class="host-box">
                                    <span class="point color-bg-a"></span><span class="host-name">运行中</span><span>2</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">云硬盘</span><span>0</span>
                                </div>
                            </div>
                            <div class="host-right host-center">
                                <div class="host-box">
                                    <span class="point color-bg-c"></span><span class="host-name">即将过期</span><span>2</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">快照</span><span>0</span>
                                </div>
                            </div>
                            <div class="host-right host-center">
                                <div class="host-box">
                                    <span class="point color-bg-b"></span><span class="host-name">已过期</span><span>12</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">镜像</span><span>2</span>
                                </div>
                            </div>
                            <div class="host-right host-bottom">
                                <div class="host-box">
                                    <span class="point color-bg-d"></span><span class="host-name">近期创建</span><span>5</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-10"></div>
            </div> -->
            </div>
        </div>
        <div class="col-sm-4">
            <div class="console-box ">
                <div class="console-title">云主机CPU利用率概览</div>
                <div class="ues-content">
                    <canvas baseChart
                          [data]="cpuChartData"
                          [labels]="cpuChartLabels"
                          chartType="doughnut"></canvas>

                    <div class="use-total">{{cpuNum}}</div>
                </div>
                <div class="console-title next-title">云主机Memory利用率概览</div>
                <div class="ues-content">
                    <canvas baseChart
                          [data]="memChartData"
                          [labels]="memChartLabels"
                          chartType="doughnut"></canvas>

                    <div class="use-total">{{memNum}}</div>
                </div>
            </div>
            
            <div class="console-box ">
                <div class="console-title">Top5云主机-按CPU利用率排名</div>
                <div class="rank-content">
                    <div class="rank-left">
                        <div class="rank-name"  *ngFor="let cpu of cpuTop; let i = index">{{i+1}}、{{cpu}}</div>
                    </div>
                    <div class="rank-right" style="display: none;">
                        <div class="rank-bar">
                            <div class="bar" style="width:80%;"></div>
                            <div class="bar-num">80%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:72%;"></div>
                            <div class="bar-num">72%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:71%;"></div>
                            <div class="bar-num">71%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:66%;"></div>
                            <div class="bar-num">66%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:52%;"></div>
                            <div class="bar-num">52%</div>
                        </div>
                    </div>
                </div>

                <div class="console-title next-title">Top5云主机-按内存利用率排名</div>
                <div class="rank-content">
                    <div class="rank-left">
                        <div class="rank-name"  *ngFor="let mem of memTop; let i = index">{{i+1}}、{{mem}}</div>
                    </div>
                    <div class="rank-right" style="display: none;">
                        <div class="rank-bar">
                            <div class="bar" style="width:80%;"></div>
                            <div class="bar-num">80%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:72%;"></div>
                            <div class="bar-num">72%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:71%;"></div>
                            <div class="bar-num">71%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:66%;"></div>
                            <div class="bar-num">66%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:52%;"></div>
                            <div class="bar-num">52%</div>
                        </div>
                    </div>
                </div>

                <div class="console-title next-title">Top5云主机-按磁盘利用率排名</div>
                <div class="rank-content">
                    <div class="rank-left">
                        <div class="rank-name"  *ngFor="let disk of diskTop; let i = index">{{i+1}}、{{disk}}</div>
                    </div>
                    <div class="rank-right" style="display: none;">
                        <div class="rank-bar">
                            <div class="bar" style="width:80%;"></div>
                            <div class="bar-num">80%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:72%;"></div>
                            <div class="bar-num">72%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:71%;"></div>
                            <div class="bar-num">71%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:66%;"></div>
                            <div class="bar-num">66%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:52%;"></div>
                            <div class="bar-num">52%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

