<div class="page-content">
    <div>
        <h1 class="page-content-header float-left">管理控制概览</h1>
    </div>
    <div style="clear:both;"></div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="console-box ">
                <div class="admin-box col-sm-4">
                    <div class="col-sm-6 icon-admin"></div>
                    <div class="col-sm-6">
                        <p class="admin-name">{{userInfo.userName}}</p>
                        <p class="admin-department">{{userInfo.organizationName}}</p>
                    </div>
                </div>
                <div class="work-box col-sm-3">
                    <div class="console-title">已购买服务</div>
                    <div class="work-data col-sm-6">
                        <p class="number">5</p>
                        <p class="description">云主机</p>
                    </div>
                    <div class="work-data col-sm-6">
                        <p class="number color-b">4</p>
                        <p class="description">云硬盘</p>
                    </div>
                </div>
                <div class="work-box col-sm-5">
                    <div class="console-title">工单统计</div>
                    <div class="work-data col-sm-4">
                        <p class="number">0</p>
                        <p class="description">新创建</p>
                    </div>
                    <div class="work-data col-sm-4">
                        <p class="number color-c">0</p>
                        <p class="description">处理中</p>
                    </div>
                    <div class="work-data col-sm-4">
                        <p class="number color-a">0</p>
                        <p class="description">已完成</p>
                    </div>
                </div>
            </div>
            <div class="console-box ">
                <div class="console-title">总配额使用率</div>
                <div class="quota-box ">
                    <canvas baseChart
                          width="100" height="100"
                          [datasets]="quotaDtasets"
                          chartType="doughnut"
                          (chartHover)="chartHovered($event)"
                          [options]="quotaOptions"
                          (chartClick)="chartClicked($event)"></canvas>
                    <div class="percent-num">30<sup>%</sup></div>
                    <div class="quota-name">vCPU</div>
                </div>
                <div class="quota-box ">
                    <canvas baseChart
                          width="100" height="100"
                          [datasets]="quotaDtasets"
                          chartType="doughnut"
                          (chartHover)="chartHovered($event)"
                          [options]="quotaOptions"
                          (chartClick)="chartClicked($event)"></canvas>
                    <div class="percent-num">70<sup>%</sup></div>
                    <div class="quota-name">内存</div>
                </div>
                <div class="quota-box ">
                    <canvas baseChart
                          width="100" height="100"
                          [datasets]="quotaDtasets"
                          chartType="doughnut"
                          (chartHover)="chartHovered($event)"
                          [options]="quotaOptions"
                          (chartClick)="chartClicked($event)"></canvas>
                    <div class="percent-num">30<sup>%</sup></div>
                    <div class="quota-name">存储</div>
                </div>
                <div class="quota-box ">
                    <canvas baseChart
                          width="100" height="100"
                          [datasets]="quotaDtasets"
                          chartType="doughnut"
                          (chartHover)="chartHovered($event)"
                          [options]="quotaOptions"
                          (chartClick)="chartClicked($event)"></canvas>
                    <div class="percent-num">50<sup>%</sup></div>
                    <div class="quota-name">物理机</div>
                </div>
                <div class="quota-box ">
                    <canvas baseChart
                          width="100" height="100"
                          [datasets]="quotaDtasets"
                          chartType="doughnut"
                          (chartHover)="chartHovered($event)"
                          [options]="quotaOptions"
                          (chartClick)="chartClicked($event)"></canvas>
                    <div class="percent-num">20<sup>%</sup></div>
                    <div class="quota-name">快照</div>
                </div>
                <div class="quota-box ">
                    <canvas baseChart
                          width="100" height="100"
                          [datasets]="quotaDtasets"
                          chartType="doughnut"
                          (chartHover)="chartHovered($event)"
                          [options]="quotaOptions"
                          (chartClick)="chartClicked($event)"></canvas>
                    <div class="percent-num">30<sup>%</sup></div>
                    <div class="quota-name">镜像</div>
                </div>
                <div class="quota-box ">
                    <canvas baseChart
                          width="100" height="100"
                          [datasets]="quotaDtasets"
                          chartType="doughnut"
                          (chartHover)="chartHovered($event)"
                          [options]="quotaOptions"
                          (chartClick)="chartClicked($event)"></canvas>
                    <div class="percent-num">20<sup>%</sup></div>
                    <div class="quota-name">浮动IP</div>
                </div>

                <div class="console-title next-title">部门资源</div>
                <div class="resource-box">
                    <div class="resource-icon icon-resource-vcpu"></div>
                    <p class="resource-name">vCPU</p>
                    <div class="resource-state">
                        <span>已启用</span>
                        <span class="color-a mgl5">22</span>
                    </div>
                    <div class="resource-state">
                        <span>未启用</span>
                        <span class="color-b mgl5">32</span>
                    </div>
                </div>
                <div class="resource-box">
                    <div class="resource-icon icon-resource-memory"></div>
                    <p class="resource-name">内存</p>
                    <div class="resource-state">
                        <span>已启用</span>
                        <span class="color-a mgl5">22</span>
                    </div>
                    <div class="resource-state">
                        <span>未启用</span>
                        <span class="color-b mgl5">312</span>
                    </div>
                </div>
                <div class="resource-box">
                    <div class="resource-icon icon-resource-storage"></div>
                    <p class="resource-name">存储</p>
                    <div class="resource-state">
                        <span>已启用</span>
                        <span class="color-a mgl5">22</span>
                    </div>
                    <div class="resource-state">
                        <span>未启用</span>
                        <span class="color-b mgl5">32</span>
                    </div>
                </div>
                <div class="resource-box">
                    <div class="resource-icon icon-resource-machine"></div>
                    <p class="resource-name">物理机</p>
                    <div class="resource-state">
                        <span>已启用</span>
                        <span class="color-a mgl5">22</span>
                    </div>
                    <div class="resource-state">
                        <span>未启用</span>
                        <span class="color-b mgl5">32</span>
                    </div>
                </div>
                <div class="resource-box">
                    <div class="resource-icon icon-resource-snapshot"></div>
                    <p class="resource-name">快照</p>
                    <div class="resource-state">
                        <span>已启用</span>
                        <span class="color-a mgl5">22</span>
                    </div>
                    <div class="resource-state">
                        <span>未启用</span>
                        <span class="color-b mgl5">32</span>
                    </div>
                </div>
                <div class="resource-box">
                    <div class="resource-icon icon-resource-image"></div>
                    <p class="resource-name">镜像</p>
                    <div class="resource-state">
                        <span>已启用</span>
                        <span class="color-a mgl5">22</span>
                    </div>
                    <div class="resource-state">
                        <span>未启用</span>
                        <span class="color-b mgl5">32</span>
                    </div>
                </div>
                <div class="resource-box">
                    <div class="resource-icon icon-resource-ip"></div>
                    <p class="resource-name">浮动IP地址</p>
                    <div class="resource-state">
                        <span>已启用</span>
                        <span class="color-a mgl5">22</span>
                    </div>
                    <div class="resource-state">
                        <span>未启用</span>
                        <span class="color-b mgl5">32</span>
                    </div>
                </div>

                <div class="console-title next-title">我的资源<span class="icon-shopping "></span></div>
                <div class="col-sm-6">
                    <div class="console-box">
                        <div class="console-title">上海A区</div>
                        <div class="host-shell">
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">云主机</span><span>14</span>
                                </div>
                                <div class="line-x"></div>
                            </div>
                            <div class="host-right host-top">
                                <div class="host-box">
                                    <span class="point color-bg-a"></span><span class="host-name">运行中</span><span>2</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">云硬盘</span><span>0</span>
                                </div>
                            </div>
                            <div class="host-right host-center">
                                <div class="host-box">
                                    <span class="point color-bg-c"></span><span class="host-name">即将过期</span><span>2</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">快照</span><span>0</span>
                                </div>
                            </div>
                            <div class="host-right host-center">
                                <div class="host-box">
                                    <span class="point color-bg-b"></span><span class="host-name">已过期</span><span>12</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">镜像</span><span>2</span>
                                </div>
                            </div>
                            <div class="host-right host-bottom">
                                <div class="host-box">
                                    <span class="point color-bg-d"></span><span class="host-name">近期创建</span><span>5</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="console-box">
                        <div class="console-title">上海A区</div>
                        <div class="host-shell">
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">云主机</span><span>14</span>
                                </div>
                                <div class="line-x"></div>
                            </div>
                            <div class="host-right host-top">
                                <div class="host-box">
                                    <span class="point color-bg-a"></span><span class="host-name">运行中</span><span>2</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">云硬盘</span><span>0</span>
                                </div>
                            </div>
                            <div class="host-right host-center">
                                <div class="host-box">
                                    <span class="point color-bg-c"></span><span class="host-name">即将过期</span><span>2</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">快照</span><span>0</span>
                                </div>
                            </div>
                            <div class="host-right host-center">
                                <div class="host-box">
                                    <span class="point color-bg-b"></span><span class="host-name">已过期</span><span>12</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">镜像</span><span>2</span>
                                </div>
                            </div>
                            <div class="host-right host-bottom">
                                <div class="host-box">
                                    <span class="point color-bg-d"></span><span class="host-name">近期创建</span><span>5</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="console-box">
                        <div class="console-title">上海A区</div>
                        <div class="host-shell">
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">云主机</span><span>14</span>
                                </div>
                                <div class="line-x"></div>
                            </div>
                            <div class="host-right host-top">
                                <div class="host-box">
                                    <span class="point color-bg-a"></span><span class="host-name">运行中</span><span>2</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">云硬盘</span><span>0</span>
                                </div>
                            </div>
                            <div class="host-right host-center">
                                <div class="host-box">
                                    <span class="point color-bg-c"></span><span class="host-name">即将过期</span><span>2</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">快照</span><span>0</span>
                                </div>
                            </div>
                            <div class="host-right host-center">
                                <div class="host-box">
                                    <span class="point color-bg-b"></span><span class="host-name">已过期</span><span>12</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">镜像</span><span>2</span>
                                </div>
                            </div>
                            <div class="host-right host-bottom">
                                <div class="host-box">
                                    <span class="point color-bg-d"></span><span class="host-name">近期创建</span><span>5</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="console-box">
                        <div class="console-title">上海A区</div>
                        <div class="host-shell">
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">云主机</span><span>14</span>
                                </div>
                                <div class="line-x"></div>
                            </div>
                            <div class="host-right host-top">
                                <div class="host-box">
                                    <span class="point color-bg-a"></span><span class="host-name">运行中</span><span>2</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">云硬盘</span><span>0</span>
                                </div>
                            </div>
                            <div class="host-right host-center">
                                <div class="host-box">
                                    <span class="point color-bg-c"></span><span class="host-name">即将过期</span><span>2</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">快照</span><span>0</span>
                                </div>
                            </div>
                            <div class="host-right host-center">
                                <div class="host-box">
                                    <span class="point color-bg-b"></span><span class="host-name">已过期</span><span>12</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                            <div class="host-left">
                                <div class="host-box">
                                    <span class="host-name">镜像</span><span>2</span>
                                </div>
                            </div>
                            <div class="host-right host-bottom">
                                <div class="host-box">
                                    <span class="point color-bg-d"></span><span class="host-name">近期创建</span><span>5</span>
                                </div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-10"></div>
            </div>
        </div>
        <!--<div class="col-sm-4">
            <div class="console-box ">
                <div class="console-title">云主机CPU利用率概览</div>
                <div class="ues-content">
                    <canvas baseChart
                          [datasets]="useDatasets"
                          chartType="doughnut"
                          (chartHover)="chartHovered($event)"
                          [options]="useOptions"
                          [labels]="useLabels"
                          (chartClick)="chartClicked($event)"></canvas>
                    <div class="use-total">229</div>
                </div>
                <div class="console-title next-title">云主机Memory利用率概览</div>
                <div class="ues-content">
                    <canvas baseChart
                          [datasets]="useDatasets"
                          chartType="doughnut"
                          (chartHover)="chartHovered($event)"
                          [options]="useOptions"
                          [labels]="useLabels"
                          (chartClick)="chartClicked($event)"></canvas>
                    <div class="use-total">326</div>
                </div>
            </div>
            
            <div class="console-box ">
                <div class="console-title">Top5云主机-按CPU利用率排名</div>
                <div class="rank-content">
                    <div class="rank-left">
                        <div class="rank-name">MyCentos65-vm2</div>
                        <div class="rank-name">wein2012-vm3</div>
                        <div class="rank-name">redHat7.6-64-vm2</div>
                        <div class="rank-name">wein2012-vm3</div>
                        <div class="rank-name">MyCentos65-vm2</div>
                    </div>
                    <div class="rank-right">
                        <div class="rank-bar">
                            <div class="bar" style="width:80%;"></div>
                            <div class="bar-num">80%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:72%;"></div>
                            <div class="bar-num">72%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:71%;"></div>
                            <div class="bar-num">71%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:66%;"></div>
                            <div class="bar-num">66%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:52%;"></div>
                            <div class="bar-num">52%</div>
                        </div>
                    </div>
                </div>

                <div class="console-title next-title">Top5云主机-按内存利用率排名</div>
                <div class="rank-content">
                    <div class="rank-left">
                        <div class="rank-name">MyCentos65-vm2</div>
                        <div class="rank-name">wein2012-vm3</div>
                        <div class="rank-name">redHat7.6-64-vm2</div>
                        <div class="rank-name">wein2012-vm3</div>
                        <div class="rank-name">MyCentos65-vm2</div>
                    </div>
                    <div class="rank-right">
                        <div class="rank-bar">
                            <div class="bar" style="width:80%;"></div>
                            <div class="bar-num">80%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:72%;"></div>
                            <div class="bar-num">72%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:71%;"></div>
                            <div class="bar-num">71%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:66%;"></div>
                            <div class="bar-num">66%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:52%;"></div>
                            <div class="bar-num">52%</div>
                        </div>
                    </div>
                </div>

                <div class="console-title next-title">Top5云主机-按磁盘利用率排名</div>
                <div class="rank-content">
                    <div class="rank-left">
                        <div class="rank-name">MyCentos65-vm2</div>
                        <div class="rank-name">wein2012-vm3</div>
                        <div class="rank-name">redHat7.6-64-vm2</div>
                        <div class="rank-name">wein2012-vm3</div>
                        <div class="rank-name">MyCentos65-vm2</div>
                    </div>
                    <div class="rank-right">
                        <div class="rank-bar">
                            <div class="bar" style="width:80%;"></div>
                            <div class="bar-num">80%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:72%;"></div>
                            <div class="bar-num">72%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:71%;"></div>
                            <div class="bar-num">71%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:66%;"></div>
                            <div class="bar-num">66%</div>
                        </div>
                        <div class="rank-bar">
                            <div class="bar" style="width:52%;"></div>
                            <div class="bar-num">52%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>

