.personAccMng{
    .touxiang{
        height:280px;
        border-right: 1px solid #ddd;
        padding-top: 10px;
        .img{
            padding: 10px;
            height: 150px;
            width:150px;
            background-color: #ddd;
            margin-bottom: 10px;
        }
        .title{
            text-align: center;
            width: 150px;;
            line-height: 34px;
        }
    }
    .detail{
        padding-left: 30px;
        line-height:34px;
/*        
        .dd{
          &::before 
        }*/
        .pcTitle{
            text-align: right;
        }
        .pcContent{
            padding-left: 0;
            .pcDisplay{
                height:34px;
                line-height: 34px;
                padding:6px 14px; 
            }
            .cancel{
                display:inline-block;border:1px solid transparent;
                width:34px;
                height:34px;
                position:absolute;
                right:0px;top:0px;
                z-index:100;
                cursor: pointer;
            }           
        }
        .paOrder{
            span{
                height:34px;
                line-height: 34px;
                cursor: pointer;
                display: inline-block;
                margin-right: 10px;
            }
        }
    }
}