.personAccMng{
    .touxiang{
        height:400px;
        border-right: 1px solid #ddd;
        .img{
            height: 100px;
            width:100px;
            background-color: #ddd;
        }
        .title{
            text-align: center;
            width: 100%;
            line-height: 34px;
        }
    }
    .detail{
        padding-left: 30px;
    }
}