<div class="page-content-header icon-content-header-purchasing">服务目录管理</div>
<div class="page-content">
	<div style="padding-bottom: 10px;">
		<div class="dropdown pull-right">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			选择操作
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a (click)="modify()">修改</a></li>
				<li><a (click)="remove()">删除</a></li>
			</ul>
		</div>
		<div class="dropdown pull-right">
            <select class="form-control" [(ngModel)]="filterRegId" (ngModelChange)="regChange($event)">
                <option *ngFor="let item of regions" value="{{item.id}}">{{item.displayName}}</option>
            </select>

			<!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			选择地区
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li *ngFor="let item of regions">
					<a ()>上海A区</a>
				</li>
				<li><a href="#">上海B区</a></li>
			</ul>-->
		</div>
		<button class="fox-cloud-button fox-cloud-button-green" (click)="create();">
			<span class="glyphicon glyphicon-edit"></span>
			<span class="icon-button-label icon-left-button-label">创建目录</span>
		</button>
	</div>
	<div class="table-container">
		<table class="table table-hover"> 
			<thead>
				<tr>
					<th class="fristTh">
						<input type="checkbox" (click)="checkAll()"> 全选
					</th>
					<th>服务目录</th>
					<th>服务模板</th>
					<th>描述</th>
					<th>状态</th>
					<th>创建者</th> 
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of (directories | directoryDispPipe: filterRegId)">
					<td><input type="checkbox" [(ngModel)]="item.checked" [checked]="item.checked"></td>
					<td>{{item.name}}</td>
					<td>{{item.serviceTemplateName}}</td>
					<td>{{item.description}}</td>
					<td><i class="status" [ngClass]="{'bg-success': item.status == 1, 'bg-danger': item.status == 0}"></i></td>
					<td>{{item.creatorName}}</td> 
					<td>
						<a class="btn btn-xs btn-default" [ngClass]="{'disabled': item.status == 1}" (click)="publish(item)">发布</a>
						<a class="btn btn-xs btn-default" [ngClass]="{'disabled': item.status == 0}" (click)="cancelPublish(item)">取消发布</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li (click)="changePage(currPage-1)">
				<a aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>

			<li *ngFor="let page of pages" (click)="changePage(page)">
				<a [ngClass]="{selected: page == currPage}">{{page}}</a>
			</li>

			<li (click)="changePage(currPage+1)">
				<a aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
</div>
