<div class="page-content-header icon-cloud-network-mngOn">
    VMware{{'NET_MNG_VM_IP_MNG.NET_MNG' | translate}}
</div>
<div class="page-content">
    <table class="table table-hover ">
        <thead>
            <tr>
                <th style="text-align:left;line-height: 30px;">VMware{{'NET_MNG_VM_IP_MNG.NET_MNG' | translate}}--{{'NET_MNG_VM_IP_MNG.MANAGE_DBT_NET' | translate}}&nbsp;&nbsp; "地区" "数据中心"平台显示名称+连接URL https://192.168.1.1:43</th>
            </tr>
        </thead>
    </table>
    <div class="mgt15 ">
        <span class="float-left" style="display:inline-block;font-size:16px;padding:6px 0"> {{'NET_MNG_VM_IP_MNG.DC_NAME' | translate}}：</span>
        <div class="float-left pdr20">
             <select  class="pdl20 pdr20 form-control"  [(ngModel)]="selectedDC" (change)="selectSwitch=this.defaultSwitch;">
                <option [ngValue]="defaultDc">{{'NET_MNG_VM_IP_MNG.ALL' | translate}}</option>
                <option *ngFor="let dc of dcList" [ngValue]="dc">{{dc.dcName}}</option>
             </select>
        </div>
        <span class="float-left" style="display:inline-block;font-size:16px;padding:6px 0"> {{'NET_MNG_VM_IP_MNG.DBT_SWITCH_NAME' | translate}}：</span>
        <div class="float-left">
            <select class="pdl20 pdr20 form-control" [(ngModel)]="selectSwitch">
                <option [ngValue]="defaultSwitch">{{'NET_MNG_VM_IP_MNG.ALL' | translate}}</option>
                <option *ngFor="let sw of selectedDC.switchList" [ngValue]="sw">{{sw.switchName}}</option >
            </select>
        </div>
        <button type="button" class="fox-cloud-button fox-cloud-button-white mgl15 " (click)="filter();"><span class="icon-button-label">{{'NET_MNG_VM_IP_MNG.ENSURE' | translate}}</span> </button>
    </div>
<div class="mgt15" style="clear:both"></div>

    <div class="mgb20 ">
        <button class="fox-cloud-button fox-cloud-button-green" data-toggle="modal" data-target="#myModal" (click)="createPopor()">
            <span class="icon-button-label icon-left-button-label">{{'NET_MNG_VM_IP_MNG.SYNC_DBT_NETWORK' | translate}}</span> <!--请添加创建的弹出框-->
        </button>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="gotoPortMng();">
            <span class="icon-button-label icon-left-button-label">{{'NET_MNG_VM_IP_MNG.PORTGROUP_ALLOCATION' | translate}}</span>
        </button>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="gotoIpMng()">
            <span class="icon-button-label icon-left-button-label">{{'NET_MNG_VM_IP_MNG.IP_ADDRESS_MNG' | translate}}</span>
        </button>
        <div class="dropdown pull-right" >
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{'NET_MNG_VM_IP_MNG.SELECT_OPERATION' | translate}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="javascript:void(0);" (click)="portEnable();">{{'NET_MNG_VM_IP_MNG.ENABLE' | translate}}</a></li>
                <li><a href="javascript:void(0);" (click)="portDisable();">{{'NET_MNG_VM_IP_MNG.DISABLE' | translate}}</a></li>
            </ul>
            </div>
    </div>
    <div class="table-container">
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th>{{'NET_MNG_VM_IP_MNG.SELECT' | translate}}</th>
                    <th>{{'NET_MNG_VM_IP_MNG.DC' | translate}}</th>
                    <th>{{'NET_MNG_VM_IP_MNG.DBT_SWITCH_NAME' | translate}} </th>
                    <th>{{'NET_MNG_VM_IP_MNG.DBT_PORTGROUP_NAME' | translate}}</th>
                    <th>{{'NET_MNG_VM_IP_MNG.DBT_PORTGROUP_DISPLAY_NAME' | translate}}</th>
                    <th>{{'NET_MNG_VM_IP_MNG.VLAN_ID' | translate}}</th>
                    <th>{{'NET_MNG_VM_IP_MNG.STATUS' | translate}}</th>
                    <th>{{'NET_MNG_VM_IP_MNG.LAST_UPDATE_DATE' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let port of filterports">
                    <td><input type="radio" class="fox-cloud-radio" name="radio" [checked]="port.selected" (change)="selectPort(port)"> </td>
                    <td>{{port.dcName}}</td>
                    <td>{{port.switchName}}</td>
                    <td>{{port.dvPortGroupName}}</td>
                    <td style="position:relative;">
                        {{port.distPortGroupDisplayName||'NET_MNG_VM_IP_MNG.UNSET' | translate}}
                        <span class="icon-edit2 pull-right" (click)="openEdit(port);port.isOpen=true;" style="display:inline-block"></span>
                         <div *ngIf="port.isOpen" class="popover fade bottom in" role="tooltip" style="z-index:50;position:absolute;top:30px; right:150px; width:420px; max-width:1100px; display: block;">
                                <div class="arrow" style="left: 30%;"></div>
                                <div class="popover-content">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">{{'NET_MNG_VM_IP_MNG.DBT_PORTGROUP_DISPLAY_NAME' | translate}}:</label>
                                            <div class="col-sm-6 float-left">
                                            <input type="text" class="form-control"[(ngModel)]="editPort.distPortGroupDisplayName" name="portname"/>
                                            </div>
                                        </div>
                                    </form>
                                <div class="pull-right" style="margin-bottom:10px;">
                                    <button class=" fox-cloud-button fox-cloud-button-white" (click)="saveEdit(port)">{{'NET_MNG_VM_IP_MNG.SAVE' | translate}}</button>
                                    <button class="fox-cloud-button fox-cloud-button-white" (click)="port.isOpen = false;">{{'NET_MNG_VM_IP_MNG.CNACLE' | translate}}</button>
                                </div>
                            </div>
                          </div>
                    </td>
                    <td>{{port.vlanId}}</td>
                    <td [ngClass]="port.status==1?'font-green':'font-orange'">
                        {{port.status | dict:this.service.statusDic | async}}
                    </td>
                    <td>{{port.lastUpdate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div style="height:150px"> </div>

<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}"></fc-notice>
<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}" ct="{{'COMMON.CANCEL' | translate}}"></fc-confirm>

<!--同步弹出框内容-->
<fc-popup #synDbt title="{{title}}" ot="{{'NET_MNG_VM_IP_MNG.SYNC' | translate}}" (of)="doSynDbt()" ct="{{'COMMON.CLOSE' | translate}}" (cf)="closeSynDbt()">
       <div class="table-container">
           <div style="max-height: 400px; overflow: auto;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{'NET_MNG_VM_IP_MNG.SELECT' | translate}}</th>
                        <th>{{'NET_MNG_VM_IP_MNG.DC' | translate}}</th>
                        <th>{{'NET_MNG_VM_IP_MNG.DBT_SWITCH_NAME' | translate}}</th>
                        <th>{{'NET_MNG_VM_IP_MNG.STATUS' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let port of infoListForSyn">
                   <td><input type="radio" class="fox-cloud-radio" name="radio" [checked]="port.selected" (change)="selectSyn(port)"> </td>
                    <td>{{port.dcName}}</td>
                    <td>{{port.switchName}}</td>
                    <td [ngClass]="port.status==1?'font-green':'font-orange'">{{port.status | dict:this.service.synDic | async}}</td>
                </tr>
                </tbody>
            </table>
           </div>
            </div>
</fc-popup>
