<div class="page-content-header icon-cloud-network-mngOn">VMware{{'NET_MNG_VM_PORT.NETWORK' | translate}}</div>
<div class="page-content">

    <table class="table table-hover">
        <thead>
        <tr>
            <th style="text-align:left;">VMware{{'NET_MNG_VM_PORT.NET_MNG' | translate}}
                --{{'NET_MNG_VM_PORT.MANAGE_STD_NET' | translate}}
                --{{'NET_MNG_VM_PORT.PORTGROUP_ALLOCATION' | translate}}
                &nbsp;&nbsp;&nbsp;&nbsp; {{selectedPlatform.regionName}} {{selectedPlatform.dcName}} {{selectedPlatform.platformName}} {{selectedPlatform.platformUrl}}
                </th>
            <th style="text-align:right;">
                <button class="fox-cloud-button fox-cloud-button-white" (click)="gotoVm();">
                    <span class="icon-button-label">{{'NET_MNG_VM_PORT.RETURN' | translate}}</span>
                </button>
            </th>
        </tr>
        </thead>
    </table>

    <div class="mgt15 ">
        <span class="float-left" style="display:inline-block;font-size:16px;padding:6px 0"> 
            {{'NET_MNG_VM_PORT.DC_NAME' | translate}}：</span>
        <div class="float-left pdr20">
            <select class="pdl20 pdr20 form-control" [(ngModel)]="selectedDC" (change)="selectCluster=defaultCluster;">
                <option [ngValue]="defaultDc">{{'NET_MNG_VM_PORT.ALL' | translate}}</option>
                <option *ngFor="let dc of dcList" [ngValue]="dc">{{dc.dcName}}</option>
            </select>
        </div>
        <span class="float-left" style="display:inline-block;font-size:16px;padding:6px 0"> 
            {{'NET_MNG_VM_PORT.CLUSTER_NAME' | translate}}：</span>
        <div class="float-left">
            <select class="pdl20 pdr20 form-control" [(ngModel)]="selectCluster">
                <option [ngValue]="defaultCluster">{{'NET_MNG_VM_PORT.ALL' | translate}}</option>
                <option *ngFor="let vds of selectedDC.clusters" [ngValue]="vds">{{vds.clusterName}}</option>
            </select>
        </div>
        <button type="button" class="fox-cloud-button fox-cloud-button-white mgl15 " style="height:34px;" (click)="filter();"> 
            {{'NET_MNG_VM_PORT.ENSURE' | translate}}</button>
    </div>
    <div class="mgt15" style="clear:both"></div>
    <button class="fox-cloud-button fox-cloud-button-green mgb20" (click)="gotoSetPage();">
        {{'NET_MNG_VM_PORT.SET_ENTERPRISE' | translate}}
    </button>
    <div class="table-container port-res">
        <table class="table table-hover" >
            <thead>
            <tr>
                <th>{{'NET_MNG_VM_PORT.SELECT' | translate}}</th>
                <th>{{'NET_MNG_VM_PORT.DC_NAME' | translate}}</th>
                <th>{{'NET_MNG_VM_PORT.CLUSTER_NAME' | translate}}</th>
                <th>{{'NET_MNG_VM_PORT.CLUSTER_DISPLAY_NAME' | translate}}</th>
                <th>{{'NET_MNG_VM_PORT.PORTGROUP_NAME' | translate}}</th>
                <th>{{'NET_MNG_VM_PORT.PORTGROUP_DISPLAY_NAME' | translate}}</th>
                <th style="width: 300px;">{{'NET_MNG_VM_PORT.ENTERPRISE_LIST' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let port of filterPorts">
                <td>
                    <input type="radio" class="fox-cloud-radio" name="group" [checked]="port.selected" (change)="selectPort(port);" />
                </td>
                <td>{{port.dcName}}</td>
                <td>{{port.clusterName}}</td>
                <td>{{port.clusterDisplayName}}</td>
                <td>{{port.portGroupName}}</td>
                <td>{{port.portDisplayName||'NET_MNG_VM_PORT.UNSET' | translate}}</td>
                <td>
                    <ol>
                        <li *ngFor="let e of port.enterpriseList" style="display: inline-block; padding: 2px 5px;">
                            {{e.com}}
                        </li>
                    </ol>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'NET_MNG_VM_PORT.COMFIRM' | translate}}"></fc-notice>
