<div class="page-content-header icon-cloud-network-mngOn">Vmvare网络</div>
<div class="page-content">  

    <table class="table table-hover">
        <thead>
        <tr>
            <th style="text-align:left;">VMware网络管理--管理分布式网络--端口组资源分配</th>
            <th style="text-align:right;">
                <button class="fox-cloud-button fox-cloud-button-white" (click)="gotoVm();">
                    <span class="icon-button-label">返回上一级</span>
                </button>
            </th>
        </tr>
        </thead>
    </table>
   
    <div class="mgb20 form-inline">
        <label class="pdr10 ">
            数据中心(DC)名称:
        </label>
        <select class="pdl20 pdr20 form-control" [(ngModel)]="selectedDC" (change)="selectCluster=defaultCluster;">
            <option [ngValue]="defaultDc">所有</option>
            <option *ngFor="let dc of dcList" [ngValue]="dc">{{dc.dcName}}</option>
        </select>
        <label class="pdr10 pdl20">
            可用区名称:
        </label>
        <select class="pdl20 pdr20 mgr20 form-control" [(ngModel)]="selectCluster">
            <option [ngValue]="defaultCluster">所有</option>
            <option *ngFor="let vds of selectedDC.clusters" [ngValue]="vds">{{vds.clusterName}}</option>
        </select>
        <button type="button" class="fox-cloud-button fox-cloud-button-white " style="height:34px;" (click)="filter();"> 确定</button>
    </div>
    <button class="fox-cloud-button fox-cloud-button-green mgb10" (click)="gotoSetPage();">
        设置企业
    </button>
    <div class="table-container port-res">
        <table class="table table-hover" >
            <thead>
            <tr>
                <th>选择</th>
                <th>数据中心（DC）名称</th>
                <th>可用区（集群）名称</th>
                <th>可用区显示名称</th>
                <th>标准端口组名称</th>
                <th>端口组显示名称</th>
                <th style="width: 300px;">企业列表</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let port of filterPorts">
                <td>
                    <input type="radio" class="fox-cloud-radio" name="group" [checked]="port.selected" (change)="selectPort(port);" />
                </td>
                <td>{{port.dcName}}</td>
                <td>{{port.clusterName}}</td>
                <td>{{port.clusterDisplayName}}</td>
                <td>{{port.portGroupName}}</td>
                <td>{{port.portDisplayName||"未设置"}}</td>
                <td>
                    <ol>
                        <li *ngFor="let e of port.enterpriseList" style="display: inline-block; padding: 2px 5px;">
                            {{e.com}}
                        </li>
                    </ol>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="确认"></fc-notice>