<div class="main-center">
	<a class="h-logo" href="/protal.html"><img src="<%= data.imgPath %>/boelogo.png"></a>  
	<ul class="h-nav">
		<li class="h-nav-li"><a href="#">产品与服务</a></li>
		<li class="h-nav-li"><a href="#">解决方案</a></li>
		<li class="h-nav-li"><a href="#">大数据</a></li>
		<li class="h-nav-li"><a href="#">更多</a></li>
	</ul>
	<div class="h-right float-right">
		<span class="h-search mgr20">
			<input type="submit" value="" class="h-search-button" name="searchButton">
			<input type="text" class="h-search-input" name="searchInput">
		</span>
		<span class="h-login-box mgr20">
			<a href="/login.html">登陆</a>
			<span class="dp-ib"> | </span>
			<a href="#">注册</a>
		</span>
		<a class="h-console dp-ib" href="#">控制台</a>
	</div>
</div>
