<div class="main-center">
	<a class="h-logo" href="/portal.html"><img src="<%= C.imgPath %>/logo_BOEcloud.png"></a>  
	
	<div class="h-right float-right">
		<span class="h-login-box mgr20">
			<a href="/portal.html"><%=T('GOTOINDEX')%></a>
			<span class="dp-ib"> | </span>
			<a href="#"><%=T('HELAPCENTER')%></a>
		</span>
	</div>
</div>
