<div class="page-content-header icon-content-header-ali-cloud">
   {{'ALI_CLOUD.ALI_CLOUD_MNG'|translate}}
</div>
<div class="page-content">
    <div style="margin-bottom:10px">
        <button class="fox-cloud-button fox-cloud-button-green" (click)="createAccount();" id="createAccount">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label" >{{'ALI_CLOUD.ADD_MAIN_ACCOUNT'|translate}}</span>
        </button>
        <div class="dropdown pull-right" style="margin-left:10px;">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{'ALI_CLOUD.SELECT'|translate}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="javascript:void(0);" (click)="editAccountType();" id="editAccountType">{{'ALI_CLOUD.EDIT_ACCOUNT_TYPE'|translate}}</a></li>
                <li><a href="javascript:void(0);" (click)="enableAccount();" id="enableAccount">{{'ALI_CLOUD.ENABLE'|translate}}</a></li>
                <li><a href="javascript:void(0);" (click)="disableAccount();" id="disableAccount">{{'ALI_CLOUD.DISABLE'|translate}}</a></li>
                <li><a href="javascript:void(0);" (click)="deleteAccount();" id="deleteAccount">{{'ALI_CLOUD.DELETE'|translate}}</a></li>
            </ul>
        </div>
        <div class="pull-right mgl10">
            <button class="fox-cloud-button fox-cloud-button-green" (click)="gotoSubAccountList();" id="gotoSubAccountList">{{'ALI_CLOUD.SUB_ACCOUNT_MNG'|translate}}</button>
        </div>
        <div class="pull-right mgl10">
            <button class="fox-cloud-button fox-cloud-button-green" (click)="setEntprise();" id="setEntprise">{{'ALI_CLOUD.SET_ENTERPRISE'|translate}}</button>
        </div>
        <div class="pull-right">
            <button class="fox-cloud-button fox-cloud-button-green" (click)="editAccount();" id="editAccount">{{'ALI_CLOUD.EDIT'|translate}}</button>
        </div>
    </div>
    <div class="table-container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{'ALI_CLOUD.SELECT_ACCOUNT'|translate}}</th>
                <th>{{'ALI_CLOUD.MAIN_ACCOUNT_LOGIN_NAME'|translate}}</th>
                <th>{{'ALI_CLOUD.ACCOUNT_TYPE'|translate}}</th>
                <th>{{'ALI_CLOUD.ENTERPRISE'|translate}}</th>
                <th>{{'ALI_CLOUD.STATUS'|translate}}</th>
                <th>{{'ALI_CLOUD.LAST_UPDATE_TIME'|translate}}</th>
                <th>{{'ALI_CLOUD.OPERATOR'|translate}}</th>
                <th style="width:200px;word-break:break-all;">{{'ALI_CLOUD.DESCRIPTION'|translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of accountList" id="accountList_{{item.id}}">
                <td>
                    <input type="radio" name="aliAccount" class="fox-cloud-radio" (change)="getSelectAccount(item);"[checked]="item.isSelect" />
                </td>
                <td><a href="javascript:void(0);" (click)="viewAccount(item);">{{item.loginName}}</a></td>
                <td>{{item.mainAccountType | dict:service.dictType | async }}</td><!--| dict:service.dictType | async-->
                <td>{{item.mainAccountType =="2"? "多个":item.tenantCross}}</td>
                <td  [ngClass]="{'font-orange': item.status=='2','font-green': item.status=='1'}">
                   {{item.status| dict:service.dictStatus | async}}  <!-- {{item.status}}-->
                </td>
                <td>{{item.lastUpdate| formatDate}}</td>
                <td>{{item.operator}}</td>
                <td>{{item.description}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'PHYSICAL_MNG.CONFIRM'|translate}}"></fc-notice> 
<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'PHYSICAL_MNG.CONFIRM'|translate}}" ct="{{'PHYSICAL_MNG.CANCEL'|translate}}"  ></fc-confirm>
 <fc-popup #editaccountType title="{{title}}" ot="保存"  ct="{{'PHYSICAL_MNG.CANCEL'|translate}}" (of)="confirmAccountType()" >
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'ALI_CLOUD.CAHNGE_TYPE'|translate}}:</div>
            <div class="col-sm-4">
                <select class="form-control" [(ngModel)]="selectAccountType">
                    <option value="">{{'ALI_CLOUD.PLEASE_SELECT'|translate}}</option>
                    <option *ngFor="let v of service.dictType | async" [value]="v.value">{{v.displayValue}}</option>
                </select>
            </div>
        </div>
    </div>  
</fc-popup>
