<div class="page-content-header icon-content-header-ali-cloud">
    {{title}}
</div>
<div class="page-content">
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title"><span class="asterisk" *ngIf="editMode !='view'">*</span>主账号登录名:</div>
            <!--<div class="col-sm-4 has-feedback no-padding" [ngClass]="{'has-error':v.result.username}">
                <input type="text" class="form-control" *ngIf="editMode =='create'" [(ngModel)]="account.loginName" (ngModelChange)="checkForm('username')">
                <span *ngIf="v.result.username" class="glyphicon glyphicon-remove form-control-feedback"></span>
                <div *ngIf="v.result.username" class="alert alert-danger" role="alert">{{v.result.username}}</div>
                <span style="line-height:34px" *ngIf="editMode !='create'">{{account.loginName}}</span>
            </div>-->
            <div class="col-sm-4 " >
                <input type="text" class="form-control" *ngIf="editMode =='create'" [(ngModel)]="account.loginName">
                <span style="line-height:34px" *ngIf="editMode !='create'">{{account.loginName}}</span>
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title"><span class="asterisk" *ngIf="editMode !='view'">*</span>阿里云访问地址:</div>
            <!--<div class="col-sm-4 has-feedback no-padding" [ngClass]="{'has-error':v.result.url}">
                <input type="text" class="form-control" *ngIf="editMode =='create'" [(ngModel)]="account.accessUrl" (ngModelChange)="checkForm('url')">
                <input type="text" class="form-control" *ngIf="editMode =='edit'" [(ngModel)]="account.accessUrl" (ngModelChange)="checkForm('url')" [disabled]="changebt">
                <span *ngIf="v.result.url" class="glyphicon glyphicon-remove form-control-feedback"></span>
                <div *ngIf="v.result.url" class="alert alert-danger" role="alert">{{v.result.url}}</div>
                <span style="line-height:34px" *ngIf="editMode =='view'">{{account.accessUrl}}</span>
            </div>-->
            <div class="col-sm-4 ">
                <!--<input type="text" class="form-control" *ngIf="editMode =='create'" [(ngModel)]="account.accessUrl" >-->
                <input type="text" class="form-control" *ngIf="editMode !='view'" [(ngModel)]="account.accessUrl"  [disabled]="editMode =='edit' && changebt">
                <span style="line-height:34px" *ngIf="editMode =='view'">{{account.accessUrl}}</span>
            </div>
            <div class="col-sm-4" *ngIf="editMode !='view'">
                <span class="font-orange" style="line-height:34px">自行修改默认设置可能会造成无法连接阿里云</span>
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title"><span class="asterisk" *ngIf="editMode !='view'">*</span>Access Key ID:</div>
            <!--<div class="col-sm-4 has-feedback no-padding" [ngClass]="{'has-error':v.result.accessKey}">
                <input type="text" class="form-control" *ngIf="editMode =='create'" [(ngModel)]="account.accessKey" (ngModelChange)="checkForm('accessKey')">
                <input type="text" class="form-control" *ngIf="editMode =='edit'" [(ngModel)]="account.accessKey" (ngModelChange)="checkForm('accessKey')" [disabled]="changebt">
                 <span *ngIf="v.result.accessKey" class="glyphicon glyphicon-remove form-control-feedback"></span>
                <div *ngIf="v.result.accessKey" class="alert alert-danger" role="alert">{{v.result.accessKey}}</div>
                <span style="line-height:34px" *ngIf="editMode =='view'">{{account.accessKey}}</span>
            </div>-->
            <div class="col-sm-4 ">
                <!--<input type="text" class="form-control" *ngIf="editMode =='create'" [(ngModel)]="account.accessKey" >-->
                <input type="text" class="form-control" *ngIf="editMode !='view'" [(ngModel)]="account.accessKey"  [disabled]="editMode =='edit' && changebt">
                <span style="line-height:34px" *ngIf="editMode =='view'">{{account.accessKey}}</span>
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title"><span class="asterisk" *ngIf="editMode !='view'">*</span>Access Key Secret:</div>
            <!--<div class="col-sm-4 has-feedback no-padding" [ngClass]="{'has-error':v.result.accessSecret}">
                <input type="text" class="form-control" *ngIf="editMode =='create'" [(ngModel)]="account.accessSecret" (ngModelChange)="checkForm('accessSecret')">
                <input type="text" class="form-control" *ngIf="editMode =='edit'" [(ngModel)]="account.accessSecret" (ngModelChange)="checkForm('accessSecret')" [disabled]="changebt">
                <span *ngIf="v.result.accessSecret" class="glyphicon glyphicon-remove form-control-feedback"></span>
                <div *ngIf="v.result.accessSecret" class="alert alert-danger" role="alert">{{v.result.accessSecret}}</div>
               <span style="line-height:34px" *ngIf="editMode =='view'">{{account.accessSecret}}</span>
            </div>-->
            <div class="col-sm-4 " >
                <!--<input type="text" class="form-control" *ngIf="editMode =='create'" [(ngModel)]="account.accessSecret" >-->
                <input type="text" class="form-control" *ngIf="editMode !='view'" [(ngModel)]="account.accessSecret" [disabled]="editMode =='edit' && changebt">
               <span style="line-height:34px" *ngIf="editMode =='view'">{{account.accessSecret}}</span>
            </div>
            <div class="col-sm-4" *ngIf="editMode !='view'">
                <button class="fox-cloud-button fox-cloud-button-white " *ngIf="editMode =='edit'" (click)="changebtn();">
                登录信息变更
                </button>
                <button class="fox-cloud-button fox-cloud-button-white " (click)="testAccessInfo();">
                    测试<span class="glyphicon glyphicon-menu-right "></span>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </button>
                <span class="font-green mgl15" *ngIf="testResult =='1'"> 测试成功<span class="glyphicon glyphicon-ok mgl10"></span></span>
                <span class="font-orange mgl15" *ngIf="testResult == '0'">测试失败<span class="glyphicon glyphicon-remove mgl10"></span></span>
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title"><span class="asterisk" *ngIf="editMode !='view'">*</span>账号类型:</div>
            <!--<div class="col-sm-4 has-feedback no-padding" [ngClass]="{'has-error':v.result.type}">
                <select class="form-control" [disabled]="editMode !='create'" [(ngModel)]="account.mainAccountType" (ngModelChange)="checkForm('type')">
                    <option value="">请选择</option>
                    <option *ngFor="let v of service.dictType | async" [value]="v.value">{{v.displayValue}}</option>
                </select>
                <div *ngIf="v.result.type" class="alert alert-danger" role="alert">{{v.result.type}}</div>
            </div>-->
            <div class="col-sm-4 ">
                <select class="form-control" [disabled]="editMode !='create'" [(ngModel)]="account.mainAccountType" >
                    <option value="">请选择</option>
                    <option *ngFor="let v of service.dictType | async" [value]="v.value">{{v.displayValue}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row row-line-height" *ngIf="editMode =='view'">
        <div class="form-group">
            <div class="col-sm-4 form-control-title">已分配企业:</div>
            <div class="col-sm-4"><span style="line-height:34px">{{account.tenantCross}}</span></div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title">描述:</div>
            <div class="col-sm-4 has-feedback no-padding">
                <textarea rows="3"  class="form-control" maxlength="200" [(ngModel)]="account.description"[disabled]="editMode =='view'"></textarea>
            </div>
        </div>
    </div>
    <div class="col-sm-offset-4" *ngIf="editMode !='view'">最多只能输入200个文字</div>
</div>
<div class="text-center ">
    <button class="fox-cloud-button-lg fox-cloud-button-white" *ngIf="editMode !='view'" (click)="gotoAccountList();">
        <span class="icon-button-label">取消</span>
    </button>
    <button class="fox-cloud-button-lg fox-cloud-button-white" *ngIf="editMode =='create'" (click)="createAccount();">
        <span class="icon-button-label">添加</span>
    </button>
    <button class="fox-cloud-button-lg fox-cloud-button-white" *ngIf="editMode =='edit'" (click)="editAccount();">
        <span class="icon-button-label">保存</span>
    </button>
    <button class="fox-cloud-button-lg fox-cloud-button-white" *ngIf="editMode =='view'" (click)="gotoAccountList();">
        <span class="icon-button-label">关闭</span>
    </button>
</div>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'PHYSICAL_MNG.CONFIRM'|translate}}"></fc-notice> 