<div class="page-content-header icon-create-product">{{pageTitle| translate}}: {{'PROD_MNG.CLOUD_HARD_DISK_SERVICES' | translate}}</div><!--创建产品目录--><!--云硬盘-->


<div class="page-content fix-page-content">
	<div class="row" style="padding-top: 30px;">
		<div class="col-md-12">
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'PROD_MNG.PRODUCT_CAT_NAME' | translate}}:</div><!--产品目录名称-->
					<!--<div class="col-sm-4">
						<input type="text" class="form-control" [(ngModel)]="prodDir.serviceName" placeholder="{{'PROD_MNG.PRODUCT_CAT_NAME' | translate}}(必须)">
					</div>-->
					<div class="col-sm-4 form-group has-feedback no-padding" [ngClass]="{'has-error':v.result.serviceName}">
					<input type="text" [(ngModel)]="prodDir.serviceName" (ngModelChange)="checkForm('serviceName')" name="serviceName" placeholder="{{'PROD_MNG.PRODUCT_CAT_NAME' | translate}}"
					 class="form-control">
					<span *ngIf="v.result.serviceName" class="glyphicon glyphicon-remove form-control-feedback"></span>
					<div *ngIf="v.result.serviceName" class="alert alert-danger" role="alert">{{v.result.serviceName}}</div>
				</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'PROD_MNG.INIT_SIZE' | translate}}:</div><!--初始大小-->
					<div class="col-sm-5 no-padding">
						<div class="row">
							<div class="col-sm-3">
								<count-bar [default]=0 [step]=10 [max]=2048 [min]=0 [disabled]="type=='edit'" [value]="prodDir.specification.initialSize" (output)="outputValue($event,'initialSize')"></count-bar>
							</div>
							<div class="col-sm-2">
								<span style="line-height:34px;margin-left:-15px;">GB</span>
							</div>				
						</div>						
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'COMMON.STEP' | translate}}:</div>
					<div class="col-sm-5 no-padding">
						<div class="row">
							<div class="col-sm-3">
								<count-bar [default]=1 [step]=10 [max]=2048 [min]=0 [disabled]="type=='edit'" [value]="1" (output)="outputValue($event,'stepSize')"></count-bar>
							</div>
							<div class="col-sm-2">
								<span style="line-height:34px;margin-left:-15px;">GB</span>
							</div>				
						</div>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'COMMON.MAX' | translate}}</div>
					<div class="col-sm-5 no-padding">
						<div class="row">
							<div class="col-sm-3">
								<count-bar [default]=0 [step]="prodDir.specification.stepSize" [max]=2048 [min]="prodDir.specification.initialSize" [disabled]="type=='edit'" [value]="this.prodDir.specification.maxSize" (output)="outputValue($event,'maxSize')" [stepCheck]="true"></count-bar>
							</div>
							<div class="col-sm-2">
								<span style="line-height:34px;margin-left:-15px;">GB</span>
							</div>				
						</div>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div for="firstname" class="col-sm-4 form-control-title">{{'COMMON.DESCRIPTION' | translate}}：</div>
					<div class="col-sm-4 no-padding" [ngClass]="{'has-error':v.result.description}">
					<textarea type="text" class="form-control" (ngModelChange)="checkForm('description')" placeholder="{{'HOST_OPENSTACK_MNG.DESCRIPTION' | translate}}"
					 rows="3" [(ngModel)]="prodDir.description" name="description">
                            </textarea>
				</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div for="firstname" class="col-sm-4 form-control-title"style="cursor:pointer;">{{'PROD_MNG.SELECT_AVAIL_PLATFORM' | translate}}:</div><!--选择可用平台-->
					<div class="col-sm-4">
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="col-sm-3"></div>
				<div class="col-sm-6 border selectPlateForm">
					<div class="row  tabHeader row-line-height">
						<div class="col-sm-4">{{'PROD_MNG.PLATFORM_NAME' | translate}}</div><!--平台名称-->
						<div class="col-sm-8 ">							
							<div class="row ">
								<div class="col-sm-4">{{'COMMON.AVAILABLE_ZONE' | translate}}<!--可用区--></div>
								<div class="col-md-8">
									<div class="row">
										<div class="col-md-8">{{'PROD_MNG.SELECT_STORAGE_BACKEND' | translate}}<!--选择存储设备--></div>
										<div class="col-md-4">

										</div>
									</div>										
								</div>
							</div>
						</div>										
					</div>
					<div class="row tabBody" *ngFor="let plateform of _platformlist; let idx=index">
						<div class="col-sm-4 oneChild">
							<p class="no-padding" style="line-height:34px">{{plateform.platformName}}</p>
						</div>
						<div class="col-sm-8">
							<div class="row wyLine-height"  *ngFor='let zone of plateform.platformInfo'>
								<div class="col-sm-4" style="line-height: 34px">{{zone.zoneName}}</div>
								<div class="col-md-8">
									<div class="row" *ngFor="let storage of zone.storageItem" style="line-height: 34px">
										<div class="col-md-8">{{storage.storageName}}</div>
										<div class="col-md-4">
											<input type="checkbox" class="fox-cloud-checkbox"  [(ngModel)]="storage.selected" name="storageSelected" (change)="storage.selected=!storage.selected">											
										</div>
									</div>										
								</div>
							</div>
						</div>						
						<!--<div class="col-sm-4">
							<div class="row" *ngFor='let zone of plateform.platformInfo let idxxx=index'>							
								<div class="col-md-12" *ngFor="let storage of zone.storageItem" style="line-height: 34px">
										{{storage.storageName}}
								</div>
							</div>
						</div>
						<div class="col-sm-2 thirdChild"  >
							<div class="row" *ngFor='let zone of plateform.platformInfo;  let idxx=index;'>
								<div class="col-sm-12" *ngFor="let storage of zone.storageItem;let idxxx=index" style="line-height: 34px">
									<input type="checkbox" class="fox-cloud-checkbox"  [(ngModel)]="storage.selected" name="storageSelected" (change)="storage.selected=!storage.selected">
								</div>
							</div>
						</div>-->
					</div>
				</div>
				<div class="col-sm-3"></div>
			</div>
			<div *ngIf="false" class="row row-line-height">
				<div class="col-sm-3"></div>
				<div class="col-sm-6 border selectPlateForm">
					<div class="row  tabHeader row-line-height">
						<div class="col-sm-4">{{'PROD_MNG.PLATFORM_NAME' | translate}}</div><!--平台名称-->
						<div class="col-sm-2 secondDiv">
							{{'COMMON.AVAILABLE_ZONE' | translate}}<!--可用区-->
						</div>						
						<div class="col-sm-4">
							{{'PROD_MNG.SELECT_STORAGE_BACKEND' | translate}}<!--选择存储设备-->
						</div>
						<div class="col-sm-2" style="text-align: left">
							<!--<input type="checkbox" class="fox-cloud-checkbox" (click)="selectAllZones()" [(ngModel)]="selectAllZone">-->
						</div>
					</div>
					<div class="row tabBody" *ngFor="let plateform of _platformlist; let idx=index">
						<div class="col-sm-4 oneChild">
							<p class="no-padding" style="line-height:34px">{{plateform.platformName}}</p>
						</div>
						<div class="col-sm-2 secondDiv">
							<div class="row wyLine-height"  *ngFor='let zone of plateform.platformInfo'>
								<div class="col-sm-12" style="line-height: 34px">{{zone.zoneName}}</div>
							</div>
						</div>						
						<div class="col-sm-4">
							<div class="row" *ngFor='let zone of plateform.platformInfo let idxxx=index'>
								<!--<select class="form-control" [(ngModel)]="zone.storageId" (ngModelChange)="selectStorage($event,idx,idxxx)">
                                    <option *ngFor="let storage of zone.storageItem" [value]="storage.storageId">{{storage.displayName}}</option>
                                </select>-->
								<div class="col-md-12" *ngFor="let storage of zone.storageItem" style="line-height: 34px">
										{{storage.storageName}}
								</div>
							</div>
						</div>
						<div class="col-sm-2 thirdChild"  >
							<div class="row" *ngFor='let zone of plateform.platformInfo;  let idxx=index;'>
								<div class="col-sm-12" *ngFor="let storage of zone.storageItem;let idxxx=index" style="line-height: 34px">
									<input type="checkbox" class="fox-cloud-checkbox"  [(ngModel)]="storage.selected" name="storageSelected" (change)="storage.selected=!storage.selected">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3"></div>
			</div>			
		</div>
	</div>
</div>
<div class="text-center">
	<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel();">
        <span class="icon-button-label">{{'NET_MNG_OPENSTACK.CNACLE' | translate}}</span>
    </button>
	<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="onSubmit();" style="margin-left:40px;">
        <span *ngIf="type=='new'" class="icon-button-label">{{'PHY_MNG_POOL.CREATE' | translate}}</span><!--创建-->
        <span *ngIf="type=='edit'" class="icon-button-label">{{'COMMON.SAVE' | translate}}</span><!--保存-->
    </button>
</div>
<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="HOST_OPENSTACK_MNG.CONFIRM"></fc-notice>