<div class="page-content-header icon-content-header-platform-manage">创建产品目录:</div>
<div class="page-content fix-page-content">
	<div class="row" style="padding-top: 30px;">
		<div class="col-md-12">
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>产品目录名称:</div>
					<div class="col-sm-4">
						<input type="text" class="form-control" [(ngModel)]="prodDir.serviceName" placeholder="产品目录名称(必须)">
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>产品规格:</div>
					<div class="col-sm-4">
						<div class="row row-line-height">
							<div class="col-sm-3">cpu</div>
							<div class="col-sm-4">
								<count-bar [config]="countBar" (output)="outputValue($event,'vcpu')"></count-bar>
							</div>
							<div class="col-sm-3">
								核(vCPU)
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"></div>
					<div class="col-sm-4">
						<div class="row row-line-height">
							<div class="col-sm-3">内存</div>
							<div class="col-sm-4">
								<count-bar [config]="countBar" (output)="outputValue($event,'mem')"></count-bar>
							</div>
							<div class="col-sm-3">
								兆(MB)
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"></div>
					<div class="col-sm-4">
						<div class="row ">
							<div class="col-sm-3">启动盘大小</div>
							<div class="col-sm-4">
								<count-bar [config]="countBar" (output)="outputValue($event,'startupDisk')"></count-bar>
							</div>
							<div class="col-sm-3">
								GB
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="row row-line-height">
				<div class="form-group">
					<div for="firstname" class="col-sm-4 form-control-title">描述：</div>
					<div class="col-sm-4">
						<textarea class="form-control" rows="4" [(ngModel)]="prodDir.description" placeholder="描述"></textarea>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div for="firstname" class="col-sm-4 form-control-title" (click)='selectPlateForm()' style="cursor:pointer;">点击选择可用平台:</div>
					<div class="col-sm-4">
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="col-sm-3"></div>
				<div class="col-sm-6 border selectPlateForm">
					<div class="row  tabHeader row-line-height">
						<div class="col-sm-4">平台名称</div>
						<div class="col-sm-2 secondDiv">
							可用区
						</div>
						<div class="col-sm-2" style="text-align: left">
							<input type="checkbox" class="fox-cloud-checkbox" (click)="selectAllZones()">
						</div>
						<div class="col-sm-4">
							启动盘
						</div>
					</div>
					<div class="row tabBody" *ngFor="let plateform of _platformlist; let idx=index">
						<div class="col-sm-4 oneChild">
							<p>{{plateform.platformName}}</p>
						</div>
						<div class="col-sm-2 secondDiv" *ngFor='let zone of plateform.zoneList'>
							<div class="row wyLine-height">
								<div class="col-sm-12">{{zone.zoneName}}</div>
							</div>
						</div>
						<div class="col-sm-2 thirdChild" *ngFor='let zone of plateform.zoneList;  let idxx=index;' >
							<div class="row row-line-height inputLeft">
								<div class="col-sm-12"><input type="checkbox" class="fox-cloud-checkbox" selected=zone.selected  (click)=selectZone(idx,idxx)></div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="row row-line-height inputLeft" *ngFor='let zone of plateform.zoneList'>
								<select class="form-control" [(ngModel)]="zone.storageId" >
                                    <option *ngFor="let storage of zone.storageList;" [value]="storage.storageId">{{storage.storageName}}</option>
                                </select>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3"></div>
			</div>
		</div>
	</div>
</div>
<div class="text-center">
	<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel();">
        <span class="icon-button-label">取消</span>
    </button>
	<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="onSubmit();">
        <span class="icon-button-label">创建</span>
    </button>
</div>