<div class="page-content-header icon-create-product">{{'NET_MNG_VM_IP_MNG.CREATE' | translate}}{{'PROD_MNG.PRODUCT_CAT' | translate}}: {{'COMMON.CLOUD_HARD_DISK' | translate}}{{'COMMON.SERVICES' | translate}}</div>
<div class="page-content fix-page-content">
	<div class="row" style="padding-top: 30px;">
		<div class="col-md-12">
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'PROD_MNG.PRODUCT_CAT' | translate}}{{'COMMON.NAME' | translate}}:</div>
					<div class="col-sm-4">
						<input type="text" class="form-control font-gray" [(ngModel)]="prodDir.serviceName" placeholder="{{'PROD_MNG.PRODUCT_CAT' | translate}}{{'COMMON.NAME' | translate}}({{'COMMON.MUST' | translate}})">
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'COMMON.INIT' | translate}}{{'COMMON.SIZE' | translate}}:</div>
					<div class="col-sm-5">
						<div class="row">
							<div class="col-sm-3">
								<count-bar [default]=0 [step]=10 [max]=200000 [min]=0 [disabled]=false [value]=0 (output)="outputValue($event,'initialSize')"></count-bar>
							</div>
							<div class="col-sm-2">
								<span style="line-height:34px;margin-left:-15px;">GB</span>
							</div>				
						</div>						
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'COMMON.STEP' | translate}}:</div>
					<div class="col-sm-5">
						<div class="row">
							<div class="col-sm-3">
								<count-bar [default]=0 [step]=10 [max]=200000 [min]=0 [disabled]=false [value]=0 (output)="outputValue($event,'stepSize')"></count-bar>
							</div>
							<div class="col-sm-2">
								<span style="line-height:34px;margin-left:-15px;">GB</span>
							</div>				
						</div>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'COMMON.MAX' | translate}}</div>
					<div class="col-sm-5">
						<div class="row">
							<div class="col-sm-3">
								<count-bar [default]=0 [step]=10 [max]=200000 [min]=0 [disabled]=false [value]=0 (output)="outputValue($event,'maxSize')"></count-bar>
							</div>
							<div class="col-sm-2">
								<span style="line-height:34px;margin-left:-15px;">GB</span>
							</div>				
						</div>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div for="firstname" class="col-sm-4 form-control-title">{{'COMMON.DESCRIPTION' | translate}}：</div>
					<div class="col-sm-4">
						<textarea class="form-control font-gray" rows="4" [(ngModel)]="prodDir.description" placeholder="{{'HOST_OPENSTACK_MNG.DESCRIPTION' | translate}}"></textarea>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div for="firstname" class="col-sm-4 form-control-title"style="cursor:pointer;">{{'NET_MNG_OPENSTACK.SELECT' | translate}}{{'COMMON.AVAILABLE' | translate}}{{'NET_MNG_OPENSTACK.PLATFORM' | translate}}:</div>
					<div class="col-sm-4">
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="col-sm-3"></div>
				<div class="col-sm-6 border selectPlateForm">
					<div class="row  tabHeader row-line-height">
						<div class="col-sm-4">{{'NET_MNG_OPENSTACK.PLATFORM' | translate}}{{'COMMON.NAME' | translate}}</div>
						<div class="col-sm-2 secondDiv">
							{{'COMMON.AVAILABLE_ZONE' | translate}}
						</div>
						<div class="col-sm-2" style="text-align: left">
							<input type="checkbox" class="fox-cloud-checkbox" (click)="selectAllZones()" [(ngModel)]="selectAllZone">
						</div>
						<div class="col-sm-4">
							{{'NET_MNG_OPENSTACK.SELECT' | translate}}{{'COMMON.STORAGE_DEVICE' | translate}}
						</div>
					</div>
					<div class="row tabBody" *ngFor="let plateform of _platformlist; let idx=index">
						<div class="col-sm-4 oneChild">
							<p>{{plateform.platformName}}</p>
						</div>
						<div class="col-sm-2 secondDiv">
							<div class="row wyLine-height"  *ngFor='let zone of plateform.platformInfo'>
								<div class="col-sm-12">{{zone.zoneName}}</div>
							</div>
						</div>
						<div class="col-sm-2 thirdChild"  >
							<div class="row row-line-height inputLeft" *ngFor='let zone of plateform.platformInfo;  let idxx=index;'>
								<div class="col-sm-12"><input type="checkbox" class="fox-cloud-checkbox" selected=zone.selected  [(ngModel)]="zone.selected" name="zoneSelected" (click)=selectZone(idx,idxx)></div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="row row-line-height inputLeft" *ngFor='let zone of plateform.platformInfo let idx=index'>
								<select class="form-control" [(ngModel)]="zone.storageId" (ngModelChange)="selectStorage($event,idx,indxx)">
                                    <option *ngFor="let storage of zone.storageItem; let idxx=index" [value]="storage.storageId">{{storage.displayName}}</option>
                                </select>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3"></div>
			</div>
		</div>
	</div>
</div>
<div class="text-center">
	<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel();">
        <span class="icon-button-label">{{'NET_MNG_OPENSTACK.CNACLE' | translate}}</span>
    </button>
	<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="onSubmit();" style="margin-left:40px;">
        <span class="icon-button-label">{{'NET_MNG_VM_IP_MNG.CREATE' | translate}}</span>
    </button>
</div>
<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="HOST_OPENSTACK_MNG.CONFIRM"></fc-notice>