<div class="page-content-header icon-create-product">{{'PROD_MNG.PRODUCT_CAT' | translate}}{{'COMMON.MANAGEMENT' | translate}}</div>
<div class="page-content" style="min-height:300px;">
	<div style="padding-bottom: 10px;">
		<div class="dropdown pull-right" style="margin-left: 20px">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="true">
                {{'HOST_OPENSTACK_MNG.MORE_OPERATION' | translate}}
                <span class="caret"></span>
            </button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<!--<li><a href="#">{{'COMMON.MODIFY' | translate}}</a></li>-->
				<!--<li><a (click)="edit();">{{'HOST_VMWARE_MNG.EDIT' | translate}}</a></li>-->
				<li><a (click)="action('publish');">{{'COMMON.PUBLISH' | translate}}</a></li>
				<li><a (click)="action('ccPublish');">{{'NET_MNG_VM_NSX_DLR.CNACLE' | translate}}{{'COMMON.PUBLISH' | translate}}</a></li>
				<li><a (click)="action('delete');">{{'NET_MNG_VM_IP_MNG.DELETE' | translate}}</a></li>
			</ul>
		</div>
		<button class="pull-right fox-cloud-button-md fox-cloud-button-white" style="line-height:28px ;width:60px; margin-left: 20px"
			(click)='onQuery()'>{{'COMMON.SEARCH' | translate}}</button>
		<div class="dropdown pull-right" style="margin-left: 10px;min-width: 120px">
			<!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{'COMMON.ALL' | translate}}{{'NET_MNG_OPENSTACK.PLATFORM' | translate}}
                <span class="caret"></span>
            </button>-->
			<select class="form-control" [(ngModel)]="platformId">
                 <option *ngFor="let item of platformsList;" [value]="item.id">{{item.name}}</option>
            </select>
		</div>
		<span class="pull-right" style="line-height: 34px;margin-left: 20px">{{'NET_MNG_OPENSTACK.PLATFORM' | translate}}：</span>

		<div class="dropdown pull-right" style="margin-left: 10px;min-width: 120px">
			<!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{'NET_MNG_OPENSTACK.SELECT' | translate}}{{'PROD_MNG.PRODUCT_CAT' | translate}}{{'COMMON.CAT' | translate}}
                <span class="caret"></span>
            </button>-->
			<select class="form-control" [(ngModel)]="queryProDirTypeId">
                 <option *ngFor="let item of prodDirTypeList;" [value]="item.id">{{item.name}}</option>
            </select>
		</div>
		<span class="pull-right" style="line-height: 34px">{{'PROD_MNG.PRODUCT_CAT' | translate}}{{'COMMON.CAT' | translate}}：</span>
		<button class="fox-cloud-button fox-cloud-button-green" (click)="creation();">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label">{{'NET_MNG_VM_IP_MNG.CREATE' | translate}}{{'PROD_MNG.PRODUCT_CAT' | translate}}</span>
        </button>
	</div>
	<div class="table-container">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="check-box-col"><input class="fox-cloud-checkbox" type="checkbox" class="fox-cloud-checkbox" (click)="switchSelectAll();" />{{'COMMON.SELECT_ALL' | translate}}</th>
					<th>{{'PROD_MNG.PRODUCT_CAT' | translate}}{{'COMMON.NAME' | translate}}</th>
					<th>{{'PROD_MNG.PRODUCT_CAT' | translate}}{{'COMMON.CAT' | translate}}</th>
					<th>{{'PROD_MNG.PRODUCT_SPEC' | translate}}</th>
					<th>{{'COMMON.PRODOCT' | translate}}{{'COMMON.AMOUNT' | translate}}</th>
					<th>{{'NET_MNG_OPENSTACK.STATUS' | translate}}</th>
					<th>{{'COMMON.DESCRIPTION' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of prodDirList; let idx = index;">
					<td><input type="checkbox" class="fox-cloud-checkbox" [(ngModel)]="item.isSelected" (ngModelChange)="switchSelectIndividual(idx)"
						/></td>
					<td (click)="goDetail(item)" style="cursor: pointer">{{item.serviceName}}</td>
					<td>{{item.serviceTemplateName}}</td>
					<td>{{item.specification}}</td>
					<td>{{item.productNum}}</td>
					<td [ngClass]="{'font-green':item.status =='1' ,'font-orange':item.status == '3'}">
						{{item.status| dict:this.service.versionDic | async}}
						<!--<span [ngSwitch]="item.status">
                            <template [ngSwitchCase]="1">{{'COMMON.HAVE' | translate}}{{'COMMON.PUBLISH' | translate}}</template>
                            <template [ngSwitchCase]="3">{{'COMMON.NOT_YET' | translate}}{{'COMMON.PUBLISH' | translate}}</template>
                            <template ngSwitchDefault>Unknown</template>
                        </span>-->
					</td>
					<td>{{item.description}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<fc-pagination #pagination tp={{tp}} (pf)="paging($event)"></fc-pagination>
<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="HOST_OPENSTACK_MNG.CONFIRM" (of)="nof()"></fc-notice>

<fc-confirm #deleteConfirm title="{{title}}" msg="{{msg}}" ot="HOST_OPENSTACK_MNG.CONFIRM" (of)="deleteCof()" ct="HOST_OPENSTACK_MNG.CANCEL" (cf)="ccf()"></fc-confirm>
<fc-confirm #publishConfirm title="{{title}}" msg="{{msg}}" ot="HOST_OPENSTACK_MNG.CONFIRM" (of)="publishCof()" ct="HOST_OPENSTACK_MNG.CANCEL" (cf)="ccf()"></fc-confirm>
<fc-confirm #ccPublishConfirm title="{{title}}" msg="{{msg}}" ot="HOST_OPENSTACK_MNG.CONFIRM" (of)="ccPublishCof()" ct="HOST_OPENSTACK_MNG.CANCEL" (cf)="ccf()"></fc-confirm>
<fc-popup #createProdDir title="{{title}}" ot="NET_MNG_VM_IP_MNG.CREATE" (of)="otcreate()" ct="HOST_OPENSTACK_MNG.CANCEL" (cf)="ccf()">
	<div class="row row-line-height">
		<div class="form-group">
			<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'PROD_MNG.PRODUCT_CAT' | translate}}{{'COMMON.CAT' | translate}}:</div>
			<div class="col-sm-7">
				<!--<select class="form-control" [(ngModel)]="entResQuota">
                    <option *ngFor="let item of regions;" [value]="item.id">{{'PROD_MNG.PLATFORM_SERVICE' | translate}}</option>
                </select>-->
				<select class="form-control" [(ngModel)]="prodDirTypeId" (ngModelChange)="selectProDirType($event)">
                    <option *ngFor="let item of prodDirTypeList;" [value]="item.id">{{item.name}}</option>
                </select>
			</div>
		</div>
	</div>
	<div *ngIf="showSpec">
		<div class="row row-line-height">
			<div class="form-group">
				<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'PROD_MNG.PRODUCT_SPEC' | translate}}:</div>
				<div class="col-sm-8">
					<span class="form-line-height font-gray" style="float:left;padding:5px 10px; width:100px;">cpu</span>
					<span style="float:left; width:120px;">
								<count-bar [valueError]="vcpuValueError" #cpu  [default]=0 [step]=1 [max]=1000000 [min]=0 [disabled]=false [value]=0 (output)="outputValue($event,'vcpu')"></count-bar>
							</span>
					<span class="form-line-height font-gray" style="float:left;padding:5px 10px;">{{'COMMON.CORE' | translate}}(vCPU)</span>
				</div>
			</div>
		</div>
		<div class="row row-line-height">
			<div class="form-group">
				<div class="col-sm-4 form-control-title"></div>
				<div class="col-sm-8">
					<span class="form-line-height font-gray" style="float:left;padding:5px 10px; width:100px;">{{'COMMON.RAM' | translate}}</span>
					<span style="float:left; width:120px;">
								<count-bar [valueError]="memValueError" #mem  [default]=0 [step]=100 [max]=100000 [min]=0 [disabled]=false [value]=0 (output)="outputValue($event,'mem')"></count-bar>
							</span>
					<span class="form-line-height font-gray" style="float:left;padding:5px 10px;">{{'COMMON.MB' | translate}}(MB)</span>
				</div>
			</div>
		</div>
		<div class="row row-line-height">
			<div class="form-group">
				<div class="col-sm-4 form-control-title"></div>
				<div class="col-sm-8">
					<span class="form-line-height font-gray" style="float:left;padding:5px 10px; width:100px;">{{'COMMON.ROOT_DISK' | translate}}{{'COMMON.SIZE' | translate}}</span>
					<span style="float:left; width:120px;">
								<count-bar [default]=0 [step]=100 [max]=100000 [min]=0 [disabled]=false [value]=0 (output)="outputValue($event,'startupDisk')"></count-bar>
							</span>
					<span class="form-line-height font-gray" style="float:left;padding:5px 10px;">GB</span>
				</div>
			</div>
		</div>
	</div>	
</fc-popup>