<div class="page-content-header icon-create-product">{{pageTitle | translate}}: {{'PROD_MNG.PLATFORM_SERVICE' | translate}}</div>
<!--创建产品目录-->
<!--云主机服务-->
<div class="page-content fix-page-content">
	<div class="row" style="padding-top: 30px;">
		<div class="col-md-12">
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'PROD_MNG.PRODUCT_CAT_NAME' | translate}}:</div>
					<!--产品目录名称-->
				<div class="col-sm-4 form-group has-feedback no-padding" [ngClass]="{'has-error':v.result.serviceName}">
					<input type="text" [(ngModel)]="prodDir.serviceName" (ngModelChange)="checkForm('serviceName')" name="serviceName" placeholder="{{'PROD_MNG.INPUT_PRODUCT_CAT' | translate}}"
					 class="form-control">
					<span *ngIf="v.result.serviceName" class="glyphicon glyphicon-remove form-control-feedback"></span>
					<div *ngIf="v.result.serviceName" class="alert alert-danger" role="alert">{{v.result.serviceName}}</div>
				</div>
			</div>
		</div>
		<div class="row row-line-height">
			<div class="form-group">
				<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'PROD_MNG.PRODUCT_SPEC' | translate}}:</div>
				<div class="col-sm-4 no-padding">
					<div class="prodSpecific">
						<span class="form-line-height font-gray">cpu</span>
						<span>
								<count-bar [default]=0 [step]=1 [max]=1000000 [min]=0 [disabled]=true [value]="prodDir.specification.vcpu" (output)="outputValue($event,'vcpu')"></count-bar>
							</span>
						<span class="form-line-height font-gray">{{'COMMON.CORE' | translate}}(vCPU)</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row row-line-height">
			<div class="form-group">
				<div class="col-sm-4 form-control-title"></div>
				<div class="col-sm-4 no-padding">
					<div class="prodSpecific">
						<span class="form-line-height font-gray">{{'COMMON.RAM' | translate}}</span>
						<span>
								<count-bar [default]=0 [step]=100 [max]=100000 [min]=0 [disabled]=true [value]="prodDir.specification.mem/1024" (output)="outputValue($event,'mem')"></count-bar>
							</span>
						<span class="form-line-height font-gray">GB</span>
					</div>					
				</div>
			</div>
		</div>
		<div class="row row-line-height">
			<div class="form-group">
				<div class="col-sm-4 form-control-title"></div>
				<div class="col-sm-4 no-padding">
					<div class="prodSpecific">
						<span class="form-line-height font-gray">{{'PROD_MNG.ROOT_DISK_SIZE' | translate}}</span>
						<!--启动盘大小-->
						<span>
								<count-bar [default]=0 [step]=100 [max]=100000 [min]=0 [disabled]=true [value]="prodDir.specification.startupDisk" (output)="outputValue($event,'startupDisk')"></count-bar>
							</span>
						<span class="form-line-height font-gray">GB</span>
					</div>					
				</div>
			</div>
		</div>
		<div class="row row-line-height">
			<div class="form-group">
				<div for="firstname" class="col-sm-4 form-control-title">{{'COMMON.DESCRIPTION' | translate}}：</div>
				<div class="col-sm-4 no-padding" [ngClass]="{'has-error':v.result.description}">
					<textarea type="text" class="form-control" (ngModelChange)="checkForm('description')" placeholder="{{'HOST_OPENSTACK_MNG.DESCRIPTION' | translate}}"
					 rows="3" [(ngModel)]="prodDir.description" name="description">
                            </textarea>
				</div>
			</div>
		</div>
		<div class="row row-line-height">
			<div class="form-group">
				<div for="firstname" class="col-sm-4 form-control-title">{{'PROD_MNG.SELECT_AVAIL_PLATFORM' | translate}}:</div>				<!--选择可用平台-->
				<div class="col-sm-4">
				</div>
			</div>
		</div>
		<div class="row row-line-height" *ngIf="type=='new'">
			<div class="col-sm-3"></div>
			<div class="col-sm-6 border selectPlateForm">
				<div class="row  tabHeader row-line-height">
					<div class="col-sm-4">{{'PROD_MNG.PLATFORM_NAME' | translate}}</div>
					<!--平台名称-->
					<div class="col-sm-2 secondDiv">
						{{'COMMON.AVAILABLE_ZONE' | translate}}
						<!--可用区-->
					</div>
					<div class="col-sm-2" style="text-align: left">
						<input type="checkbox" class="fox-cloud-checkbox" (click)="selectAllZones()" [(ngModel)]="selectAllZone">
					</div>
					<div class="col-sm-4">
						{{'COMMON.ROOT_DISK' | translate}}
						<!--启动盘-->
					</div>
				</div>
				<div class="row tabBody" *ngFor="let plateform of _platformlist; let idx=index">
					<div class="col-sm-4 oneChild">
						<p [title]="plateform.platformName">{{plateform.platformName}}</p>
					</div>
					<div class="col-sm-2 secondDiv">
						<div class="row wyLine-height" *ngFor='let zone of plateform.zoneList'>
							<div class="col-sm-12" [title]="zone.zoneName">{{zone.zoneName}}</div>
						</div>
					</div>
					<div class="col-sm-2 thirdChild">
						<div class="row row-line-height inputLeft" *ngFor='let zone of plateform.zoneList;  let idxx=index;'>
							<div class="col-sm-12">
								<input type="checkbox" [disabled]="zone.disable" class="fox-cloud-checkbox" [(ngModel)]="zone.selected" name="zoneSelected" (change)=selectZone(idx,idxx)>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="row row-line-height inputLeft" *ngFor='let zone of plateform.zoneList;let idxxx=index'>
							<!--<select class="form-control" [(ngModel)]="zone.storageId" (ngModelChange)="selectStorage($event,idx,idxxx)">
                                    <option *ngFor="let storage of zone.storageList;" [value]="storage.storageId">{{storage.displayName}}</option>
                                </select>-->
							<p style="text-align: center;line-height: 30px;" [title]="zone.storageList[0]?.storageName">{{zone.storageList[0]?.storageName}}</p>								
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3"></div>
		</div>
		<div class="row row-line-height" *ngIf="type=='edit'">
			<div class="col-sm-3"></div>
			<div class="col-sm-6 border selectPlateForm">
				<div class="row  tabHeader row-line-height">
					<div class="col-sm-4">{{'PROD_MNG.PLATFORM_NAME' | translate}}</div>
					<!--平台名称-->
					<div class="col-sm-2 secondDiv">
						{{'COMMON.AVAILABLE_ZONE' | translate}}
						<!--可用区-->
					</div>
					<div class="col-sm-2" style="text-align: left">
						<input type="checkbox" class="fox-cloud-checkbox" (click)="selectAllZones()" [(ngModel)]="selectAllZone">
					</div>
					<div class="col-sm-4">
						{{'COMMON.ROOT_DISK' | translate}}
						<!--启动盘-->
					</div>
				</div>
				<div class="row tabBody" *ngFor="let plateform of _platformlist; let idx=index">
					<div class="col-sm-4 oneChild">
						<p [title]="plateform.platformName">{{plateform.platformName}}</p>
					</div>
					<div class="col-sm-2 secondDiv">
						<div class="row wyLine-height" *ngFor='let zone of plateform.zoneList'>
							<div class="col-sm-12" [title]="zone.zoneName">{{zone.zoneName}}</div>
						</div>
					</div>
					<div class="col-sm-2 thirdChild">
						<div class="row row-line-height inputLeft" *ngFor='let zone of plateform.zoneList;  let idxx=index;'>
							<div class="col-sm-12">
								<input type="checkbox" [disabled]="zone.disable" class="fox-cloud-checkbox" [(ngModel)]="zone.selected" name="zoneSelected" (change)=selectZone(idx,idxx)>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="row row-line-height inputLeft" *ngFor='let zone of plateform.zoneList;let idxxx=index'>
							<!--<select class="form-control" [(ngModel)]="zone.storageId" (ngModelChange)="selectStorage($event,idx,idxxx)">
                                    <option *ngFor="let storage of zone.storageList;" [value]="storage.storageId">{{storage.displayName}}</option>
                                </select>-->
							<p style="text-align: center;line-height: 30px;" [title]="zone.storageName">{{zone.storageName}}</p>								
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</div>
</div>
</div>
<div class="text-center">
	<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel();">
        <span class="icon-button-label">{{'NET_MNG_OPENSTACK.CNACLE' | translate}}</span>
    </button>
	<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="onSubmit();" style="margin-left:20px">
        <span *ngIf="type=='new'" class="icon-button-label">{{'PHY_MNG_POOL.CREATE' | translate}}</span><!--创建-->
        <span *ngIf="type=='edit'" class="icon-button-label">{{'COMMON.SAVE' | translate}}</span><!--保存-->
    </button>
</div>
<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="HOST_OPENSTACK_MNG.CONFIRM"></fc-notice>