<div class="page-content-header icon-create-product">{{'PROD_MNG.CREATE_PRODUCT_CAT' | translate}}: {{'PROD_MNG.PHSICAL_SERVICE' | translate}}</div>
<!--创建产品目录-->
<!--物理机服务-->
<div class="page-content fix-page-content">
	<div class="row" style="padding-top: 30px;">
		<div class="col-md-12">
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'PROD_MNG.PRODUCT_CAT_NAME' | translate}}:</div>
					<!--产品目录名称-->
					<div class="col-sm-4">
						<input type="text" class="form-control font-gray" [(ngModel)]="prodDir" placeholder="{{'PROD_MNG.PRODUCT_CAT_NAME' | translate}}(必须)">
						<!--产品目录名称-->
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>标准规格:</div>
					<div class="col-sm-4" style="padding-top:4px">
						<button class="fox-cloud-button-md fox-cloud-button-white" style="margin-right:10px;padding:0 10px" (click)="newUnit()">{{'COMMON.NEW' | translate}}</button>
						<button class="fox-cloud-button-md fox-cloud-button-white" style="margin-right:10px;padding:0 10px" (click)="enableStorage(storage)">{{'COMMON.EDIT' | translate}}</button>
						<button class="fox-cloud-button-md fox-cloud-button-white" style="padding:0 10px" (click)="enableStorage(storage)">{{'COMMON.DELETE' | translate}}</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-sm-4"></div>
					<div class="col-sm-4">
						<div style="border:1px solid #cfd8e7">
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="check-box-col">{{'COMMON.SELECT_ALL'| translate}}</th>
										<th>
											{{"部件名称"}}
										</th>
										<th>{{'规格' | translate}}</th>
										<th>{{'规格值' | translate}}</th>
										<th>{{'数量' | translate}}</th>
										<th>{{'总容量' | translate}}</th>
									</tr>
								</thead>
								<tbody>
									<!--<tr *ngFor="let item of prodDirList; let idx = index;">-->
									<tr>
										<td>
											<input class="fox-cloud-radio" type="radio" [(ngModel)]="isSelected" (ngModelChange)="switchSelectIndividual(idx)"
											/></td>
										<td>
											<a title="点击编辑产品目录" (click)="goDetail(item)" style="cursor:pointer">{{'cpu'}}</a>
										</td>
										<td>{{'Xeon E5 2560'}}</td>
										<td>{{'2.9GHZ'}}</td>
										<td>{{'2'}}</td>										
										<td>{{'128GB'}}</td>
									</tr>
									<tr>
										<td>
											<input class="fox-cloud-radio" type="radio" [(ngModel)]="isSelected" (ngModelChange)="switchSelectIndividual(idx)"
											/></td>
										<td>
											<a title="点击编辑产品目录" (click)="goDetail(item)" style="cursor:pointer">{{'内存'}}</a>
										</td>
										<td>{{'Xeon E5 2560'}}</td>
										<td>{{'2.9GHZ'}}</td>
										<td>{{'2'}}</td>										
										<td>{{'128GB'}}</td>
									</tr>
									<tr>
										<td>
											<input class="fox-cloud-radio" type="radio" [(ngModel)]="isSelected" (ngModelChange)="switchSelectIndividual(idx)"
											/></td>
										<td>
											<a title="点击编辑产品目录" (click)="goDetail(item)" style="cursor:pointer">{{'磁盘'}}</a>
										</td>
										<td>{{'Xeon E5 2560'}}</td>
										<td>{{'2.9GHZ'}}</td>
										<td>{{'2'}}</td>										
										<td>{{'128GB'}}</td>
									</tr>
									<tr>
										<td>
											<input class="fox-cloud-radio" type="radio" [(ngModel)]="isSelected" (ngModelChange)="switchSelectIndividual(idx)"
											/></td>
										<td>
											<a title="点击编辑产品目录" (click)="goDetail(item)" style="cursor:pointer">{{'网卡'}}</a>
										</td>
										<td>{{'Xeon E5 2560'}}</td>
										<td>{{'2.9GHZ'}}</td>
										<td>{{'2'}}</td>										
										<td>{{'128GB'}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div for="firstname" class="col-sm-4 form-control-title">{{'COMMON.DESCRIPTION' | translate}}:</div>
					<div class="col-sm-4">
						<textarea class="form-control font-gray" rows="4" [(ngModel)]="description" placeholder="{{'HOST_OPENSTACK_MNG.DESCRIPTION' | translate}}"></textarea>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div for="firstname" class="col-sm-4 form-control-title" style="cursor:pointer;">{{'选择可用资源池' | translate}}:</div>
					<div class="col-sm-4">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">					
				</div>
				<div class="col-sm-6">
					<div style="border:1px solid #cfd8e7">
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="check-box-col">
											<input class="fox-cloud-checkbox" type="checkbox" [(ngModel)]="isSelected" (ngModelChange)="switchSelectIndividual(idx)"/>											
											{{'COMMON.SELECT_ALL'| translate}}</th>										
										<th>{{'资源池' | translate}}</th>
										<th>{{'描述' | translate}}</th>
									</tr>
								</thead>
								<tbody>
									<!--<tr *ngFor="let item of prodDirList; let idx = index;">-->
									<tr>
										<td>
											<input class="fox-cloud-checkbox" type="checkbox" [(ngModel)]="isSelected" (ngModelChange)="switchSelectIndividual(idx)"/>
										</td>										
										<td>{{'北京地区-物理资源池1'}}</td>										
										<td>{{'description'}}</td>
									</tr>
									<tr>
										<td>
											<input class="fox-cloud-checkbox" type="checkbox" [(ngModel)]="isSelected" (ngModelChange)="switchSelectIndividual(idx)"/>
										</td>										
										<td>{{'北京地区-物理资源池2'}}</td>										
										<td>{{'description'}}</td>
									</tr>
									<tr>
										<td>
											<input class="fox-cloud-checkbox" type="checkbox" [(ngModel)]="isSelected" (ngModelChange)="switchSelectIndividual(idx)"/>
										</td>										
										<td>{{'北京地区-物理资源池3'}}</td>										
										<td>{{'description'}}</td>
									</tr>
									<tr>
										<td>
											<input class="fox-cloud-checkbox" type="checkbox" [(ngModel)]="isSelected" (ngModelChange)="switchSelectIndividual(idx)"/>
										</td>										
										<td>{{'北京地区-物理资源池4'}}</td>										
										<td>{{'description'}}</td>
									</tr>
								</tbody>
							</table>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="text-center mgt30">
	<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel();">
        <span class="icon-button-label">{{'NET_MNG_OPENSTACK.CNACLE' | translate}}</span>
    </button>
	<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="onCreateService();" style="margin-left:20px">
        <span class="icon-button-label">{{'PHY_MNG_POOL.CREATE' | translate}}</span><!--创建-->

    </button>
</div>
<fc-popup #newUnitPop title="{{title}}" ot="NET_MNG_VM_IP_MNG.CREATE" (of)="otcreateUnit()" ct="HOST_OPENSTACK_MNG.CANCEL" (cf)="ccf()">
	<div class="row row-line-height">
		<div class="form-group">
			<div class="col-sm-5 form-control-title"><span class="asterisk">*</span>{{'部件名称' | translate}}:</div>
			<div class="col-sm-6">
				<select class="form-control" [(ngModel)]="prodDirTypeId">
                    <option  [value]="">{{'one'}}</option>
                </select>
			</div>
		</div>
	</div>
	<div class="row row-line-height">
		<div class="form-group">
			<div class="col-sm-5 form-control-title"><span class="asterisk">*</span>{{'规格' | translate}}:</div>
			<div class="col-sm-6">
				<select class="form-control" [(ngModel)]="prodDirTypeId">
                    <option  [value]="">{{'one'}}</option>
                </select>
			</div>
		</div>
	</div>
	<div class="row row-line-height">
		<div class="form-group">
			<div class="col-sm-5 form-control-title"><span class="asterisk">*</span>{{'规格值' | translate}}:</div>
			<div class="col-sm-4">
				<select class="form-control" [(ngModel)]="prodDirTypeId">
                    <option  [value]="">{{'one'}}</option>
                </select>
			</div>
			<div class="cole-sm-2">
				GB
			</div>
		</div>
	</div>
	<div class="row row-line-height">
		<div class="form-group">
			<div class="col-sm-5 form-control-title"><span class="asterisk">*</span>{{'数量' | translate}}:</div>
			<div class="col-sm-6">
				<input type="number" class="form-control" name="" value="">
			</div>
		</div>
	</div>	
</fc-popup>
<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="HOST_OPENSTACK_MNG.CONFIRM"></fc-notice>