<div class="page-content-header icon-create-product">{{'PROD_MNG.PRODUCT_CAT_MANAGEMENT' | translate}}</div><!--产品目录管理-->

<div class="page-content" style="min-height:300px;">
	<div style="padding-bottom: 10px;">
		<div class="dropdown pull-right" style="margin-left: 20px">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="true">
                {{'HOST_OPENSTACK_MNG.MORE_OPERATION' | translate}}
                <span class="caret"></span>
            </button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<!--<li><a href="#">{{'COMMON.MODIFY' | translate}}</a></li>-->
				<!--<li><a (click)="edit();">{{'HOST_VMWARE_MNG.EDIT' | translate}}</a></li>-->
				<li><a (click)="action('publish');">{{'COMMON.PUBLISH' | translate}}</a></li><!--发布-->

				<li><a (click)="action('ccPublish');">{{'PROD_MNG.CANCEL_PUBLISH' | translate}}</a></li><!--取消发布-->

				<li><a (click)="action('delete');">{{'NET_MNG_VM_IP_MNG.DELETE' | translate}}</a></li>
			</ul>
		</div>
		<button class="pull-right fox-cloud-button-md fox-cloud-button-white" style="line-height:28px ;width:60px; margin-left: 20px"
			(click)='onQuery()'>{{'COMMON.SEARCH' | translate}}</button>
		<div class="dropdown pull-right" style="margin-left: 10px;min-width: 120px">
			<!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{'PROD_MNG.ALL_PLATFORM' | translate}}

                <span class="caret"></span>
            </button>-->
			<select class="form-control" [(ngModel)]="platformId">
				<option value="">--{{'PROD_MNG.ALL_PLATFORM'|translate}}--</option>
                 <option *ngFor="let item of platformsList;" [value]="item.id">{{item.name}}</option>
            </select>
		</div>
		<span class="pull-right" style="line-height: 34px;margin-left: 20px">{{'NET_MNG_OPENSTACK.PLATFORM' | translate}}：</span><!--平台-->


		<div class="dropdown pull-right" style="margin-left: 10px;min-width: 120px">
			<!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                选择{{'PROD_MNG.PRODUCT_CAT_CLASS' | translate}}

                <span class="caret"></span>
            </button>-->
			<select class="form-control" [(ngModel)]="queryProDirTypeId">
					<option value="">--{{'PROD_MNG.ALL_PRODUCT_TYPE'|translate}}--</option>
                 <option *ngFor="let item of prodDirTypeList;" [value]="item.id">{{item.name}}</option>
            </select>
		</div>
		<span class="pull-right" style="line-height: 34px">{{'PROD_MNG.PRODUCT_CAT_CLASS' | translate}}：</span><!--产品目录类别-->

		<button class="fox-cloud-button fox-cloud-button-green" (click)="creation();">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label">{{'PROD_MNG.CREATE_PRODUCT_CAT' | translate}}</span><!--创建产品目录-->

        </button>
	</div>
	<div class="table-container">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="check-box-col"><input class="fox-cloud-checkbox" type="checkbox" class="fox-cloud-checkbox" (click)="switchSelectAll();" />{{'COMMON.SELECT_ALL' | translate}}</th>
					<th>
						{{'PROD_MNG.PRODUCT_CAT_NAME' | translate}}
					</th><!--产品目录名称-->

					<th>{{'PROD_MNG.PRODUCT_CAT_CLASS' | translate}}</th><!--产品目录类别-->

					<th>{{'PROD_MNG.PRODUCT_SPEC' | translate}}</th>
					<th>{{'ENT_MNG.PRODUCT_NUM' | translate}}</th><!--产品数量-->

					<th>{{'NET_MNG_OPENSTACK.STATUS' | translate}}</th>
					<th>{{'COMMON.DESCRIPTION' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of prodDirList; let idx = index;">
					<td><input type="checkbox" class="fox-cloud-checkbox" [(ngModel)]="item.isSelected" (ngModelChange)="switchSelectIndividual(idx)"/></td>
					<td >
						<a title="点击编辑产品目录" (click)="goDetail(item)" style="cursor:pointer">{{item.serviceName}}</a>
					</td>
					<td>{{item.serviceTemplateName}}</td>
					<td>{{item.specification}}</td>
					<td>{{item.productNum}}</td>
					<td [ngClass]="{'font-green':item.status =='1' ,'font-orange':item.status == '3'}">
						{{item.status| dict:this.service.versionDic | async}}
						<!--<span [ngSwitch]="item.status">
                            <template [ngSwitchCase]="1">{{'PROD_MNG.HAS_PUBLISHED' | translate}}</template>

                            <template [ngSwitchCase]="3">{{'PROD_MNG.NOT_PUBLISHED_YET' | translate}}</template>

                            <template ngSwitchDefault>Unknown</template>
                        </span>-->
					</td>
					<td>{{item.description}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<fc-pagination #pagination tp={{tp}} (pf)="paging($event)"></fc-pagination>
<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="HOST_OPENSTACK_MNG.CONFIRM" (of)="nof()"></fc-notice>

<fc-confirm #deleteConfirm title="{{title}}" msg="{{msg}}" ot="HOST_OPENSTACK_MNG.CONFIRM" (of)="deleteCof()" ct="HOST_OPENSTACK_MNG.CANCEL" (cf)="ccf()"></fc-confirm>
<fc-confirm #publishConfirm title="{{title}}" msg="{{msg}}" ot="HOST_OPENSTACK_MNG.CONFIRM" (of)="publishCof()" ct="HOST_OPENSTACK_MNG.CANCEL" (cf)="ccf()"></fc-confirm>
<fc-confirm #ccPublishConfirm title="{{title}}" msg="{{msg}}" ot="HOST_OPENSTACK_MNG.CONFIRM" (of)="ccPublishCof()" ct="HOST_OPENSTACK_MNG.CANCEL" (cf)="ccf()"></fc-confirm>
<fc-popup #createProdDir title="{{title}}" ot="NET_MNG_VM_IP_MNG.CREATE" (of)="otcreate()" ct="HOST_OPENSTACK_MNG.CANCEL" (cf)="ccf()">
	<div class="row row-line-height">
		<div class="form-group">
			<div class="col-sm-5 form-control-title"><span class="asterisk">*</span>{{'PROD_MNG.PRODUCT_CAT_CLASS' | translate}}:</div>
			<div class="col-sm-6">
				<select class="form-control" [(ngModel)]="prodDirTypeId">
                    <option *ngFor="let item of prodDirTypeList;" [value]="item.id">{{item.name}}</option>
                </select>
			</div>
		</div>
	</div>
	<div *ngIf="prodDirTypeId=='33f23ade-a0f8-11e6-a18b-0050568a49fd'">
		<div class="row row-line-height">
		<div class="form-group">
			<div class="col-sm-5 form-control-title"><span class="asterisk">*</span>{{'PROD_MNG.SELECT_CLOUD_HOST_SPECIFICATIONS' | translate}}: </div>
			<div class="col-sm-6">
				<select class="form-control" [(ngModel)]="prodDirSpecIdx" (ngModelChange)="selectProDirSpec(prodDirSpecIdx)">
                    <option *ngFor="let item of vmProdDirSpecList; let idx=index" [value]="idx">{{'COMMON.NAME' | translate}}: {{item.cpu+' CPU,'+(item.mem/1024)+' GB,'+item.bootStorageSize+' GB'}}</option>
                </select>
			</div>
		</div>
	</div>
	</div>	
</fc-popup>