<div class="page-content-header icon-content-header-platform-manage">认证管理</div>
<div class="page-content">
	<div style="padding-bottom: 10px;">
		<div class="dropdown pull-right" style="margin-left: 20px">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="true">
                更多操作
                <span class="caret"></span>
            </button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a (click)="onEdit();">编辑</a></li>
				<li><a (click)="onEditAcc();">修改认证账户</a></li>				
				<li><a (click)="updateStatus('1');">启用</a></li>                
				<li><a (click)="updateStatus('3');">禁用</a></li>
				<li><a (click)="onDelete('delete');">删除</a></li>
			</ul>
		</div>		
		<button class="fox-cloud-button fox-cloud-button-green" (click)="onCreate();">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label">创建认证源</span>
        </button>
	</div>
	<div class="table-container">
		<table class="table table-hover">
			<thead>
				<tr>
				    <th >选择</th>
					<th>认证源名称</th>
					<th>URL地址</th>
					<th>认证类型</th>
					<th>状态</th>
					<th>描述</th>
				</tr>
			</thead>
			 <tbody>
            <tr *ngFor="let attest of attests;">
                <td>
                    <input type="radio" class="fox-cloud-radio" name="group-admin" [checked]="attest.isSelect" (change)="attest.isSelect = $event.target.checked" />
                </td>
                <td>{{attest.name}}</td>
				<td>{{attest.url}}</td>
				<td>AD</td>
				<td>{{getDicText(attest.status,statusDic)}}</td>
				<td>{{attest.desc}}</td>
            </tr>
		</table>
	</div>
</div>
<fc-pagination #pager tp={{totalPage}} (pf)="getAttests($event)"></fc-pagination>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="确认"  ></fc-notice>
<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="确认" ct="取消"  ></fc-confirm>
 