<fc-spinner [isRunning]="layoutService.showLoading"></fc-spinner>

<div class="container-fluid fox-cloud-container">
    <!--Header-->
    <div *ngIf="layoutService.showHeader" class="cm-header">
        <a href="/" class="col-md-2 header-logo"></a>
        <ul class="col-md-7 header-menu no-padding">
            <li routerLink="mng-console" routerLinkActive="active">{{ 'SITE.MNG_CONSOLE' | translate }}</li>
            <!-- <li>产品与服务</li> -->
        </ul>

        <!--选择页面语言框-测试用-->
         <label  style="left: 480px; top:30px;position: absolute">
            <span style="color: #fff">{{ 'LANG' | translate }}</span>
            <select #langSelect (change)="translate.use(langSelect.value)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
            </select>
        </label> 

        <div class="col-md-3 header-right">
            <!-- <span class="header-right-line"><span class="tip-number">8</span><span class="icon-notice"></span></span> -->
            <!-- <span class="header-right-line"><span class="icon-user2"></span></span> -->
            <span class="header-right-line"><span class="icon-user2"></span> <span class="user-name">{{username}}</span>
            <a class="cm-container-logout" href="javascript:" (click)="logOut()">{{ 'SITE.EXIT' | translate }}</a>
            </span>
        </div>
    </div>

    <div class="row content">
        <!--Left Menu-->
        <div *ngIf="layoutService.showHeader" class="col-md-2 no-padding left-content">
            <fc-menu></fc-menu>
        </div>

        <!--Body-->
        <div class="col-md-10 right-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>