<fc-spinner [isRunning]="layoutService.showLoading"></fc-spinner>

<div class="container-fluid fox-cloud-container">
    <!--Header-->
    <div *ngIf="layoutService.showHeader" class="cm-header">
        <a href="/" class="col-md-2 header-logo" style="float: left;"></a>
        <div style="margin-left: 250px;">
            <ul class="col-md-5 header-menu no-padding">
                <li routerLink="mng-console" routerLinkActive="active" id="site_mng_console">{{ 'SITE.MNG_CONSOLE' | translate }}</li>
                <!-- <li>产品与服务</li> -->
            </ul>

            <!--选择页面语言框-测试用-->
            <label style="left: 480px; top:30px;position: absolute">
                <span style="color: #fff">{{ 'LANG' | translate }}</span>
                <select #langSelect (change)="translateCodeChange(langSelect.value)">
                    <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
                </select>
            </label>

            <div class="col-md-7 header-right">
                <!-- <span class="header-right-line"><span class="tip-number">8</span><span class="icon-notice"></span></span> -->
                <!-- <span class="header-right-line"><span class="icon-user2"></span></span> -->
                <span class="header-right-line" style="width: 60px;vertical-align: middle; margin-right: 20px">
                     <msgBell></msgBell> 
                </span>
                <span class="header-right-line">
                    <span class="icon-user2"></span> <span class="user-name">{{username}}</span>
                <a class="cm-container-logout" href="javascript:" (click)="logOut()">{{ 'SITE.EXIT' | translate }}</a>
                </span>
            </div>
        </div>
    </div>
    <div class="row content">
        <!--Left Menu-->
        <div *ngIf="layoutService.showHeader" class="col-md-2 no-padding left-content">
            <fc-menu (navOnClick)='navClock()'></fc-menu>
        </div>

        <!--Body-->

        <!-- <div  *ngIf="showCssload" class="css-spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div> -->
        <div [ngClass]="{'content-hide': showCssload}" class="col-md-10 right-content">
            <router-outlet (activate)='onActivate($event)'></router-outlet>
        </div>
    </div>
</div>