<fc-spinner [isRunning]="layoutService.showLoading"></fc-spinner>

<div class="container-fluid fox-cloud-container">
    <!--Header-->
    <div *ngIf="layoutService.showHeader" class="cm-header">
        <a href="/" class="col-md-2 header-logo"></a>
        <ul class="col-md-7 header-menu no-padding">
            <li>管理控制台</li>
            <li>产品与服务</li>
        </ul>
        <div class="col-md-3 header-right">
            <span class="header-right-line"><span class="tip-number">8</span><span class="icon-notice"></span></span>
            <!-- <span class="header-right-line"><span class="icon-user2"></span></span> -->
            <span class="header-right-line"><span class="icon-user2"></span> <span class="user-name">qing-ren.zi@hpe.com</span><span class="glyphicon glyphicon-chevron-down"></span></span>
        </div>
    </div>

    <div class="row content">
        <!--Left Menu-->
        <div *ngIf="layoutService.showHeader" class="col-md-2 no-padding left-content">
            <fc-menu></fc-menu>
        </div>

        <!--Body-->
        <div class="col-md-10 right-content">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>