<div class="page-content-header icon-content-header-userCenterOn">编辑AD用户</div>
<div class="page-content">
<div class="row" style="padding-top: 30px;">
    <div class="col-md-12">
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">
                    <span class="asterisk">*</span>
                    姓名
                </div>
                
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="account.userName" placeholder="{{'USER_CENTER.INPUTNAME' | translate}}">
                </div>
                
                <!--
                <div class="col-sm-4" [ngClass]="{'has-error': userName.errors && (userName.dirty || userName.touched)}">
                            <input type="text" class="form-control" placeholder="{{'USER_CENTER.INPUTNAME' | translate}}" [(ngModel)]="account.userName" id="userName" required name="userName" #userName="ngModel">
                            <div *ngIf="userName.errors && (userName.dirty || userName.touched)" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
                                <div [hidden]="!userName.errors.required">
                                    姓名不能为空
                                </div>
                            </div>
                </div>
                -->
                
                    
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">
                    <span class="asterisk">*</span>
                    账号
                </div>
                <div class="col-sm-4 mgt10">
                    {{account.loginName}}
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">
                    <span class="asterisk">*</span>
                    认证源
                </div>
                <div class="col-sm-4 mgt10">
                    {{account.ldapName}}
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">
                    <span class="asterisk">*</span>
                    联系电话
                </div>
                
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="account.phone" placeholder="{{'USER_CENTER.INPUT_PHONE' | translate}}">
                </div>                
                <!--
                <div class="col-sm-4" [ngClass]="{'has-error': Phone.errors && (Phone.dirty || Phone.touched)}">
                    <input type="text" class="form-control" placeholder="{{'USER_CENTER.INPUT_PHONE' | translate}}" [(ngModel)]="account.phone" id="Phone" required name="Phone" #Phone="ngModel">
                    <div *ngIf="Phone.errors && (Phone.dirty || Phone.touched)" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
                        <div [hidden]="!Phone.errors.required">联系电话不能为空</div>
                    </div>
                </div>
                -->

            </div>
        </div>

        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">
                    描述
                </div>
                <div class="col-sm-4">
                    <textarea type="text" class="form-control" [(ngModel)]="account.description" placeholder="{{'USER_CENTER.INPUT_CONTACT_DESC' | translate}}" rows="3"></textarea>
                </div>
            </div>
        </div>
        <!--<div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">
                </div>
                <div class="col-sm-4 checkbox">
                    <label>
                        <input type="checkbox" [checked]="account.isLeader" (change)="account.isLeader=$event.target.checked"> 是否部门负责人？
                    </label>
                </div>
            </div>
        </div>-->
        <div class="row row-line-height" style="margin-top : 20px">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">
                    绑定角色
                </div>
                <div class="col-sm-6">
                    <div class="btn-group pdl5">
                        <div class="btn-group float-left" data-toggle="buttons">
                            <button *ngFor="let role of roles;" title="{{role.name}}" class="btn btn-default fix-width-140 mgt5" (click)="role.selected=!role.selected;" [ngClass]="{'active':role.selected}">
                                 {{role.name}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-line-height" style="margin-top : 20px">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">
                    绑定机构
                </div>
                <div class="col-sm-6">
                    <div class="btn-group pdl5">
                        <div class="btn-group float-left" data-toggle="buttons">
                            <label *ngFor="let org of organizations;" title="{{org.name}}" class="btn btn-default fix-width-140" style="margin: 3px 0;" [ngClass]="{'active':org.selected}" (click)="clearSelectedOrg(org);">
                                <input type="radio" name="org" autocomplete="off"> {{org.name}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
 <div class="text-center" style="margin-top:50px">
            <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel()">
                <span class="icon-button-label" >取消</span>
            </button>
            <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="saveAccount()" style="margin-left : 10px">
                <span class="icon-button-label" >保存</span>
            </button>
</div>
<div style="height:50px"></div>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="确认"></fc-notice>
