<div class="page-content-header icon-content-header-userCenterOn">{{title}}</div>
<div class="page-content" style=min-height:300px>
    <div class="row" style="padding-top: 30px;">
        <div class="col-md-12">
            <form #accountForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">
                            <span class="asterisk">*</span> {{'USER_CENTER.NAME' | translate}}<!--姓名-->
                        </div>
                        <div class="col-sm-4" [ngClass]="{'has-error': userName.errors && (userName.dirty || userName.touched)}">
                            <input type="text" class="form-control" placeholder="{{'USER_CENTER.INPUTNAME' | translate}}" [(ngModel)]="account.userName" id="userName" required name="userName" #userName="ngModel">
                            <div *ngIf="userName.errors && (userName.dirty || userName.touched)" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
                                <div [hidden]="!userName.errors.required">
                                    {{'USER_CENTER.NAME_NOT_NULL' | translate}}<!--姓名不能为空-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">
                            <span class="asterisk">*</span> {{'USER_CENTER.ACCOUNT' | translate}}
                        </div>
                        <div class="col-sm-4" [ngClass]="{'has-error': (loginName.errors && (loginName.dirty || loginName.touched))||!loginNameIsOnly||!isEmail}">
                            <input type="text" class="form-control" placeholder="{{'USER_CENTER.INPUT_EMAIL_ACC' | translate}}" [disabled]="!isCreate" [(ngModel)]="account.loginName" id="loginName" required name="loginName" (blur)="accountOnlyValid(account.loginName)" (focus)="isEmail=true;loginNameIsOnly=true;" #loginName="ngModel">
                            <div *ngIf="loginName.errors && (loginName.dirty || loginName.touched)" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
                                <div [hidden]="!loginName.errors.required">
                                    {{'USER_CENTER.ACCOUNT_NOT_NULL' | translate}}<!--账号不能为空-->
                                </div>
                            </div>
                            <div *ngIf="!loginNameIsOnly" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
                                <div>
                                    账号{{account.loginName}}已注册，请重新输入账号
                                </div>
                            </div>
                            <div *ngIf="!isEmail" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
                                <div >
                                    {{'USER_CENTER.ACCOUNT_FORMAT_ERROR' | translate}}<!--账号格式输入错误，请输入正确邮箱地址-->
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="{{'USER_CENTER.INPUT_ACC' | translate}}" [disabled]="!isCreate" [(ngModel)]="account.loginName" name="loginName" #loginName="ngModel">
                        </div>-->
                    </div>
                </div>

                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">
                            <span class="asterisk">*</span> {{'USER_CENTER.CONTACT_PHONE' | translate}}<!--联系电话-->
                        </div>
                        <div class="col-sm-4" [ngClass]="{'has-error': phone.errors && (phone.dirty || phone.touched)||!isPhone}">
                            <input type="text" class="form-control" placeholder="{{'USER_CENTER.INPUT_MOBILE_PHONE' | translate}}" [(ngModel)]="account.phone" id="phone" required name="phone" #phone="ngModel" (blur)="phoneValid(account.phone)" (focus)='isPhone=true'>
                            <div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
                                <div [hidden]="!phone.errors.required">
                                    {{'USER_CENTER.PHONE_NOT_NULL' | translate}}
                                </div>
                            </div>
                            <div *ngIf="!isPhone" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
                                <div >
                                    {{'USER_CENTER.MOBILE_PHONE_FORMAT_ERROR' | translate}}
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="{{'USER_CENTER.INPUT_PHONE' | translate}}" [(ngModel)]="account.phone" name="phone" #phone="ngModel">
                        </div>-->
                    </div>
                </div>

                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">
                            {{'COMMON.DESCRIPTION' | translate}}<!--描述-->
                        </div>
                        <div class="col-sm-4">
                            <textarea type="text" class="form-control" placeholder="{{'USER_CENTER.INPUT_CONTACT_DESC' | translate}}" rows="3" [(ngModel)]="account.description" name="description">
                            </textarea>
                        </div>
                    </div>
                </div>
            </form>
            <!--<div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">
                    </div>
                    <div class="col-sm-4 checkbox">
                        <label (click)="isLeader()">
                                <input type="checkbox" > {{'USER_CENTER.IS_ONE_IN_CHARGE_IN_ORG' | translate}}？

                            </label>
                    </div>
                </div>
            </div>-->

            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">
                        <span class="asterisk">*</span>{{'USER_CENTER.BINDING_ROLE' | translate}}<!--绑定角色-->
                    </div>
                    <div class="col-sm-6">

                        <!--<div class="btn-group">
                                <div class="btn-group float-left" data-toggle="buttons">
                                    <label class="btn btn-default" *ngFor="let item of role;let idx=index" style="margin-bottom : 5px " (click)="addRole(item,idx)" [ngClass]="{active: item.selected}">
                                        <input type="checkbox" name="mirror" autocomplete="off" [checked]="item.selected"> {{item.name}}
                                    </label>
                                </div>
                            </div>-->
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" *ngFor="let item of role;let idx=index" (click)="addRole(item,idx)" [ngClass]="{'btn-active': item.selected}">{{item.name}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">
                        <span class="asterisk">*</span>{{'USER_CENTER.BINDING_ORG' | translate}}<!--绑定机构-->-->
                    </div>
                    <div class="col-sm-5">
                        <!--<div style="height:40px;line-hight:36px;font-size:16px" *ngIf="account.organizations.length > 0">
                            {{account.organizations[0].name}}
                        </div>-->

                        <div class="btn-group">
                            <div class="btn-group float-left" data-toggle="buttons">
                                <label class="btn btn-default" *ngFor="let item of org" style="margin-bottom : 5px" (click)="addOrg(item)" [ngClass]="{active: item.selected}">
                                        <input type="radio" name="mirror" autocomplete="off" checked="" > {{item.name}}
                                    </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-ms-1">
                        <button class="fox-cloud-button-md fox-cloud-button-white" style="margin-top:5px" (click)="loadModeOrg()">更多>>></button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="text-center" style="margin-top:50px">
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel()">
            <span class="icon-button-label">{{'NET_MNG_VM_PORT.CNACLE' | translate}}<!--取消--></span>
        </button>
    <button class="fox-cloud-button-lg fox-cloud-button-white" style="margin-left : 10px" (click)="create()"  [disabled]="!accountForm.form.valid||!loginNameIsOnly||!isEmail||!isPhone">
            <span class="icon-button-label" >{{btnTitle}}</span>
        </button>
</div>
<div style="height:50px"></div>
<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="NET_MNG_VM_DBT_PORT.COMFIRM" (of)="nof()"></fc-notice>