<div class="page-content-header icon-content-header-platform-manage">{{title}}</div>
<div class="row" style="padding-top: 30px;">
        <div class="col-md-12">
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">
                        <span class="asterisk">*</span>
                        姓名
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control"  placeholder="请输入姓名">
                    </div>
                </div>
            </div>

            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">
                        <span class="asterisk">*</span>
                        帐号
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control"  placeholder="请输入帐号" [disabled]="!isCreate">
                    </div>
                </div>
            </div>

            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">
                        <span class="asterisk">*</span>
                        联系电话
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control"  placeholder="请输入联系电话">
                    </div>
                </div>
            </div>

            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">
                        描述
                    </div>
                    <div class="col-sm-4">
                        <textarea type="text" class="form-control"  placeholder="请输入联系描述" rows="3">
                        </textarea>
                    </div>
                </div>
            </div>

            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">
                    </div>
                    <div class="col-sm-4 checkbox">
                        <label>
                            <input type="checkbox"> 是否机构负责人？
                        </label>
                    </div>
                </div>
            </div>

            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">
                        绑定角色
                    </div>
                    <div class="col-sm-6">

                        <div class="btn-group">
                            <div class="btn-group float-left" data-toggle="buttons">
                                <label class="btn btn-default" *ngFor="let item of role" style="margin-bottom : 5px ">
                                    <input type="checkbox" name="mirror" autocomplete="off" checked=""> {{item.name}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">
                        绑定机构
                    </div>
                    <div class="col-sm-5">
                        <div class="btn-group">
                            <div class="btn-group float-left" data-toggle="buttons">
                                <label class="btn btn-default" *ngFor="let item of org"  style="margin-bottom : 5px ">
                                    <input type="radio" name="mirror" autocomplete="off" checked=""> {{item.name}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-ms-1">
                        <button class="fox-cloud-button-md fox-cloud-button-white" style="margin-top:5px" (click)="loadModeOrg()">更多>>></button>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button class="fox-cloud-button-lg fox-cloud-button-white" >
                    <span class="icon-button-label">取消</span>
                </button>
                <button class="fox-cloud-button-lg fox-cloud-button-white" style="margin-left : 10px">
                    <span class="icon-button-label">{{btnTitle}}</span>
                </button>
            </div>
        </div>
</div>