<div class="page-content-header icon-content-header-userCenterOn">{{'USER_CENTER.ACCOUNT_MANAGEMENT' | translate}}<!--账号管理--></div>
<div class="page-content" style="min-height:300px;">
    <div style="padding-bottom: 10px;">

        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{'HOST_VMWARE_MNG.MORE_OPERATION' | translate}}<!--更多操作-->
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <li (click)="edit()" id="edit"><a>{{'HOST_VMWARE_MNG.EDIT' | translate}}<!--编辑--></a></li>
                <li (click)="resetPassword()" id="resetPassword"><a>{{'USER_CENTER.RESET_PASSWORD' | translate}}<!--重置密码--></a></li>
                <li (click)="enable()" id="enable"><a>{{'NET_MNG_VM_IP_MNG.ENABLE' | translate}}<!--启用--></a></li>
                <li (click)="disable()" id="disable"><a>{{'HOST_VMWARE_MNG.DISABLE' | translate}}<!--禁用--></a></li>
                <li (click)="delete()" id="delete"><a>{{'NET_MNG_VM_IP_MNG.DELETE' | translate}}<!--删除--></a></li>
            </ul>
        </div>

        <div class="dropdown pull-right" style="padding-right : 20px">
            <input type="text" placeholder="{{'USER_CENTER.INPUT_ACC_QUICK_SEARCH' | translate}}" id="username_search" style="height : 35px ; padding : 5px" placeholder="{{'USER_CENTER.INPUT_USERNAME_SEARCH' | translate}}" [(ngModel)]="keyup" (keyup.enter)="search()" />
        </div>

        <button class="fox-cloud-button fox-cloud-button-green" (click)="openCrAccountPop()" id="openCrAccountPop">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label">{{'USER_CENTER.CREATE_ACCOUNT' | translate}}<!--创建帐号--></span>
        </button>
    </div>

    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="check-box-col">{{'NET_VM_NSX_INDEX.SELECT' | translate}}<!--选择--></th>
                    <th>{{'USER_CENTER.NAME' | translate}}<!--姓名--></th>
                    <th>{{'USER_CENTER.ACCOUNT' | translate}}<!--帐号--></th>
                    <th>{{'USER_CENTER.CONTACT_PHONE' | translate}}<!--联系电话--></th>
                    <th>{{'USER_CENTER.ORG_WHICH_BELONG_TO' | translate}}</th><!--所属机构-->

                    <th>{{'COMMON.ROLE' | translate}}</th><!--角色-->

                    <th>{{'USER_CENTER.AD_SOURCE' | translate}}<!--认证源--></th>
                    <th>{{'NET_MNG_OPENSTACK.STATUS' | translate}}<!--状态--></th>
                    <th>{{'COMMON.DESCRIPTION' | translate}}<!--描述--></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of accounts ; let idx = index" id="accounts_{{item.id}}">
                    <td><input class="fox-cloud-radio" type="radio" name="isSelected" (click)="chooseItem(idx)" value="accounts_{{item.id}}"/></td>
                    <td>{{item.userName}}</td>
                    <td>{{item.loginName}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.organizationName}}</td>
                    <td>{{item.roleName}}</td>
                    <td>{{item.type==1?"AD":"COMMON.LOCAL" | translate}}</td><!--本地-->

                    <td [ngClass]="{'font-green':item.status =='1' ,'font-orange':item.status == '3'}">
                        <!--{{item.status| dict:this.service.accStatusList | async}}-->
                        <span [ngSwitch]="item.status">
                            <template [ngSwitchCase]="1" id="status_ENABLED">{{'COMMON.ENABLED' | translate}}</template>
                            <template [ngSwitchCase]="3" id="status_UNABLED">{{'COMMON.UNABLED' | translate}}</template>
                            <template [ngSwitchCase]="0" id="status_NOT_ENABLED">{{'COMMON.NOT_ENABLED' | translate}}</template>
                            <template [ngSwitchCase]="4" id="status_null">4</template>
                            <template ngSwitchDefault>Unknown</template>
                    	</span>
                    </td>
                    <td>{{item.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<fc-pagination #pager tp={{tp}} (pf)="getAccount($event)"></fc-pagination>
<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="NET_MNG_VM_DBT_PORT.COMFIRM" (of)="nof()"></fc-notice>
<fc-popup #crAccountModel title="USER_CENTER.SELECT_AD_SOURCE" ot="NET_MNG_VM_IP_MNG.CREATE" ct="NET_MNG_VM_DBT_PORT.CNACLE" (of)="crAccount()">
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>{{'COMMON.AD_SOURCE' | translate}}：</div><!--认证源-->

            <div class="col-sm-6">
                <select class="form-control" [(ngModel)]="authenticationSource" id="authenticationSource">
                    <option *ngFor="let item of authenticationSourceList;" [value]="item.id" id="authenticationSource_{{item.id}}">{{item.name}}</option>
                </select>
            </div>
        </div>
    </div>
</fc-popup>


<fc-confirm #confirm title="{{title}}" msg="{{msg}}" ot="NET_MNG_VM_DBT_PORT.COMFIRM" (of)="ok()" ct="NET_MNG_VM_DBT_PORT.CNACLE"></fc-confirm>