.control-label {
	line-height: 34px;
	text-align: right;
}

.commentLine{
	display: block;
	font-style: italic;
	color: gray;
} 

.tableBorder{
	border-width: 0 1px;
	border-style: none solid;
	border-color: #d0dae6;
}
.mvBtnCon{
	text-align: center; 
	padding: 5px 0;
}
.mvBtnCon .btn {
	border-radius: 0px;
	margin: 0 10px;
	width: 120px;
}
.mvBtnCon .btn-default {
	border: 3px solid #00a982;
}
.mvBtnCon .btn-default:hover {
	background: #00a982;
	color: #fff;
}
.normalMargin{
	margin-left:5px;
}

.line-height {
	height: 60px;
}

.line-height-80 {
	height: 70px;
}

.mvBtnCon{
	text-align: center; 
	padding: 5px 0;
}

.mvBtnCon .btn {
	border-radius: 0px;
	margin: 0 10px;
	width: 120px;
}
.mvBtnCon .btn-default {
	border: 3px solid #00a982;
}
.mvBtnCon .btn-default:hover {
	background: #00a982;
	color: #fff;
}