<div class="page-content cloud_host_list">
	<h1 class="page-content-header">云主机列表</h1>

    <table class="cm-table-left top-table mgb20">
        <tr>
            <th class="col-md-1 col-xs-3 text-center">区域列表</th>
            <td>
                <platform-zone #platformZone (onClick)="platformClick($event)"></platform-zone>
            </td>
        </tr>
        <!--<tr>
            <th class="col-md-1 col-xs-3 text-center">实例归属</th>
            <td>
                <div class="col-md-10 btn-group" data-toggle="buttons">
                    <button (click)="list.ownerType = ''" class="btn btn-default" [ngClass]="{'active':list.ownerType === ''}">所有</button>

                    <button *ngFor="let v of service.ownerType | async;" 
                            (click)="list.ownerType = v.code" 
                            [ngClass]="{'active':list.ownerType === v.code}"
                            class="btn btn-default">{{ v.displayValue }}
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <th class="col-md-1 col-xs-3 text-center">标　　签</th>
            <td>
                <div class="col-md-10 btn-group">
                    <button (click)="list.labelId = ''" class="btn btn-default" [ngClass]="{'active':list.labelId === ''}">所有</button>
                    
                    <button *ngFor="let value of labelItem;" 
                            (click)="list.labelId = value.labelId" 
                            [ngClass]="{'active':list.labelId === value.labelId}"
                            class="btn btn-default">{{ value.labelDisplayName }}
                    </button>
                </div>
            </td>
        </tr>-->
    </table>
    <div class="col-md-12 no-padding mgb20">
        <div class="dropdown float-left mgr10">
            <select [(ngModel)]="list.queryField" class="form-control">
                <option
                 *ngFor="let v of service.queryField | async; let i = index;"
                 [ngValue]="v.code" >{{ v.displayValue }}</option>
            </select>
        </div>
         <div class="input-group col-md-1 float-left mgr10" *ngIf="superSearch">
            <select class="form-control"  [(ngModel)]="list.status"> 
                <option disabled selected value class="hideoption">状态</option>
                <option
                 *ngFor="let v of service.computeStatus | async; let i = index;"
                 [ngValue]="v.code" >{{ v.displayValue }}</option>
            </select>
         </div>
         <div class="input-group col-md-1 float-left mgr10" *ngIf="superSearch">
            <select class="form-control"  [(ngModel)]="list.addonType"> 
                <option disabled selected value class="hideoption">附加服务</option>
                <option
                 *ngFor="let v of service.addonType | async; let i = index;"
                 [ngValue]="v.code" >{{ v.displayValue }}</option>
            </select>
         </div>
         <div class="input-group col-md-1 float-left mgr10" *ngIf="superSearch">
            <select class="form-control"  [(ngModel)]="list.useType"> 
                <option disabled selected value class="hideoption">类型</option>
                <option
                 *ngFor="let v of service.useType | async; let i = index;"
                 [ngValue]="v.code" >{{ v.displayValue }}</option>
            </select>
         </div>
         <div class="input-group col-md-1 float-left mgr10" *ngIf="superSearch">
            <select class="form-control"  [(ngModel)]="list.serviceLevel"> 
                <option disabled selected value class="hideoption">服务级别</option>
                <option
                 *ngFor="let v of service.serviceLevel | async; let i = index;"
                 [ngValue]="v.code" >{{ v.displayValue }}</option>
            </select>
         </div>
        <div class="input-group col-md-2 float-left mgr10">
            <input class="form-control" [(ngModel)]="list.queryFieldValue" type="email" placeholder="输入云主机信息搜索">
            <div class="input-group-addon"  (click)="search()"><span class="glyphicon glyphicon-search"></span></div>
        </div>
        <div class="input-group float-left mgr10">
            <label class="btn btn-default button-gray-gradient" (click)="superSearch = !superSearch" [ngClass]="{'active': superSearch}">
                高级搜索
            </label>
        </div>
        <div class="input-group float-left">
            <button (click)="resetSearch()" class="btn button-gray-gradient"><span class="glyphicon glyphicon-repeat"></span> 重置搜索</button>
        </div>
    </div>
    <div class="col-md-12 no-padding mgb20">
        <button class="btn float-left mgr5 btn-primary" (click)="goTo('cloud-host-service/cloud-host-order')"><i class="glyphicon glyphicon-plus"></i> 创建云主机</button>
        <button class="btn float-left mgr5 btn-success"><i class="glyphicon glyphicon-edit"></i> 编辑云主机</button>
        <button class="btn float-left mgr5 btn-danger"><i class="glyphicon glyphicon-trash"></i> 删除云主机</button>

        <!--<div class="dropdown float-left  mgr5">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            更多操作
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a href="javascript:">挂载</a></li>
                <li><a href="javascript:">卸载</a></li>
                <li><a href="javascript:">备份</a></li>
            </ul>
        </div>-->
    </div>

    <table class="table table-hover">
        <tr>
            <th class="text-center"></th>
            <th class="text-center">云主机名称</th>
            <th class="text-center">配置</th>
            <th class="text-center">镜像</th>
            <th class="text-center">内部IP</th> 
            <th class="text-center">外部IP</th>
            <th class="text-center">所在区域及可用区</th>
            <th class="text-center">状态</th>
            <th class="text-center">到期时间</th>
            <!--<th class="text-center">云硬盘数</th> -->
            <!--<th class="text-center">快照数</th>-->
            <th class="text-center">附加服务</th>
            <th class="text-center">类型</th>
            <th class="text-center">服务类别</th>
            <th class="text-center">操作</th> 
        </tr>
        <tr *ngFor="let vm of vmList;trackBy:vm?.expiryDate;">
            <td class="text-center"><input name="host-list" type="radio"></td>
           <!--  <td class="text-center active" style="position: relative;width: 220px;line-height: 65px;"><span style="top: -1px;position: absolute;left: -1px;bottom: -1px;right: -1px;border: 1px solid #01a982;">{{vm.instanceName}}
            <button 
                            [popover]="mypopover" 
                            [ngClass]="{'active': mypopover.popover?.visible}" 
                            [disabled]="!isAttachVm" 
            style="position: absolute;right: 0;bottom: 0;height: 20px;line-height: 20px;border: 0;background: #01a982;color: #fff;font-size: 12px;">编辑</button></span>
                <popover-content #mypopover [closeOnClickOutside]="true" >
                    啊实打实的
                </popover-content>
            </td> -->
            <td class="text-center active">{{vm.instanceName}}</td>
            <td class="text-center">{{vm.specification}}</td>
            <td class="text-center">{{vm.osInfo}}</td>
            <td class="text-center">{{vm.privateIP}}</td> 
            <td class="text-center">{{vm.publicIP}}</td>
            <td class="text-center">{{vm.regionZone}}</td>
            <td class="text-center">{{vm.vmState | dict:service.computeStatus | async}}</td>
            <td class="text-center">{{vm.expiryDate}}</td>
            <!--<td class="text-center">{{vm.diskCount}}</td> -->
            <!--<td class="text-center">{{vm.snapshotCount}}</td>-->
            <td class="text-center">无</td>
            <td class="text-center">生产</td>
            <td class="text-center">关键</td>
            <td class="text-center">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" [attr.id]="'dropdownMenu'+(index+3)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    更多操作
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" [attr.aria-labelledby]="'dropdownMenu'+(index+3)">
                        <li><a (click)="handleVm('start', vm, '启动')" href="javascript:">启动</a></li>
                        <li><a (click)="handleVm('stop', vm, '关机')" href="javascript:">关机</a></li>
                        <!-- <li><a (click)="handleVm('stop', vm)" href="javascript:">停止</a></li> -->
                        <li><a (click)="handleVm('pause', vm, '暂停')" href="javascript:">暂停</a></li>
                        <li><a (click)="handleVm('unpause', vm , '恢复')" href="javascript:">恢复</a></li>
                        <!-- <li><a (click)="handleVm('resume', vm)" href="javascript:">恢复</a></li> -->
                        <li><a (click)="handleVm('hardReboot', vm , '硬重启')" href="javascript:">硬重启</a></li>
                        <li><a (click)="handleVm('softReboot', vm , '软重启')" href="javascript:">软重启</a></li>
                        <!-- <li><a (click)="handleVm('suspend', vm)" href="javascript:">挂起</a></li> -->
                        <li><a (click)="handleVm('bindFloatingIp', vm, '绑定浮动IP')" href="javascript:">绑定浮动IP</a></li>
                        <li><a (click)="handleVm('unbindFloatingIp', vm, '解绑浮动IP')" href="javascript:">解绑浮动IP</a></li>
                        <li><a (click)="openConsole(vm)" href="javascript:">查看控制台</a></li>
                    </ul>
                </div>
            </td> 
        </tr>
    </table>
    <fc-pagination tp={{list.pageParameter.totalPage}} (pf)="changePage($event)"></fc-pagination>
</div>
<fc-confirm #confirm title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalAction(1)" ct="{{modalCancelTitle}}" (cf)="modalAction(0)"></fc-confirm>
<fc-notice #notice title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalAction(0)"></fc-notice>
