<div class="page-content cloud_host_order">
	<div class="col-md-9">
		<h1 (click)="payLoadFormat()" class="page-content-header">{{options.title | translate}}</h1>
		<ul class="left-box">
			<li>
				<div class="col-md-1 li-title">                  
					<p><span class="icon-location"></span><br>{{'COMMON.AREA'| translate}}</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-2 content-title">{{'COMMON.CLOUD_PLATFORM'| translate}}</div>
					<div class="col-md-10 btn-group" data-toggle="buttons">
						<label *ngFor="let value of configs.platform.valueList;" (click)="sendModule.platform = value;relyChanges('platform')" class="btn btn-default" [ngClass]="{'active': sendModule.platform.attrValueId === value.attrValueId}">
							<input type="radio" name="location" autocomplete="off"> {{ value.attrDisplayValue }}
						</label>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-10 text-tip">{{'VM_INSTANCE.PRODUCT_ORDER_DESCRIPTION'| translate}}</div>
					<div class="col-md-2 content-title">{{'COMMON.AVAILABLE_ZONE'| translate}}</div>
					<div class="col-md-10 btn-group" data-toggle="buttons">
						<label
							*ngFor="let value of rely('zone')"
							(click)="sendModule.zone = value;relyChanges('zone')"
							class="btn btn-default" [ngClass]="{'active': sendModule.zone.attrValueId === value.attrValueId}">
							<input type="radio" name="zone" autocomplete="off"> {{ value.attrDisplayValue }}
						</label>
					</div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-network"></span><br>{{'VM_INSTANCE.NET'| translate}}</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-2 content-title">{{'VM_INSTANCE.NET_TYPE'| translate}}</div>
					<div class="col-md-10">
						<select [(ngModel)]="sendModule.networktype" class="form-control">
							<option
							 *ngFor="let value of networkList"
							 [ngValue]="value" >{{ value.attrDisplayValue }}</option>
						</select>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-10 text-tip">{{'VM_INSTANCE.PLEASE_SELECT_SUBNET_YOU_NEED'| translate}}</div>
					<div class="col-md-2 content-title">{{'VM_INSTANCE.SECURITY_GROUP'| translate}}</div>
					<div class="col-md-10">
						<select [(ngModel)]="sendModule.securitygroup" class="form-control">
							<option
							 *ngFor="let value of configs.securitygroup.valueList;"
							 [ngValue]="value" >{{ value.attrDisplayValue }}</option>
						</select>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-10 text-tip">{{'VM_INSTANCE.CONSULT_ADMIN_ABOUT_CHOOSING'| translate}}</div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-specifications"></span><br>{{'VM_INSTANCE.INSTANCE_CONFIGURATION'| translate}}</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-2 content-title">{{'VM_INSTANCE.CPU'| translate}}</div>
					<div class="col-md-10 btn-group" data-toggle="buttons">

						<label
							*ngFor="let value of rely('cpu');"
							(click)="sendModule.cpu = value;relyChanges('cpu');"
							class="btn btn-default" [ngClass]="{'active': sendModule.cpu.attrValueId === value.attrValueId}">
							<input type="radio" name="cpu" autocomplete="off"> {{ value.attrDisplayValue }}
						</label>
					</div>
					<div class="col-md-2 content-title">{{'COMMON.RAM'| translate}}</div>
					<div class="col-md-10 btn-group" data-toggle="buttons">
						<label
							*ngFor="let value of rely('mem')"
							(click)="sendModule.mem = value;relyChanges('mem')"
							class="btn btn-default" [ngClass]="{'active': sendModule.mem.attrValueId === value.attrValueId}">
							<input type="radio" name="mem" autocomplete="off"> {{ value.attrDisplayValue }}
						</label>
					</div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-host"></span><br>{{'VM_INSTANCE.CLOUD_HOST_SOURCE'| translate}}</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-2 content-title">{{'VM_INSTANCE.START_SOURCE'| translate}}</div>
					<div class="col-md-10">
						<p *ngFor="let value of rely('startupsource')"></p> <!-- 这一行必须加上 否则造成切换父层时候的显示错误 -->
						<select [(ngModel)]="sendModule.startupsource" class="form-control">
							<option
							 *ngFor="let value of rely('startupsource')"
							 [ngValue]="value" >{{ value.attrDisplayValue }}</option>
						</select>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-10 text-tip">{{'VM_INSTANCE.DEFINITION_OF_PUBLIC_IMAGE_AND_CUSTOM_IMAGE'| translate}}</div>
					<div class="col-md-2 content-title">{{'VM_INSTANCE.MIRROR_TYPE'| translate}}</div>
					<div class="col-md-10 btn-group" data-toggle="buttons">
						<label
							*ngFor="let value of rely('imagetype')"
							(click)="sendModule.imagetype = value;relyChanges('imagetype')" class="btn btn-default" [ngClass]="{'active': sendModule.imagetype.attrValueId === value.attrValueId}">
							<input type="radio" name="imagetype" autocomplete="off"> {{ value.attrDisplayValue }}
						</label>
					</div>
					<div class="col-md-2 content-title">{{'VM_INSTANCE.MIRROR_LIST'| translate}}</div>
					<div class="col-md-10">
						<select [(ngModel)]="sendModule.os"  class="form-control">
							<option
							 *ngFor="let value of imageList"
							 [ngValue]="value" >{{ value.attrDisplayValue }}</option>
						</select>
					</div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-disk"></span><br>{{'VM_INSTANCE.STORE'| translate}}</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-12 no-padding mb20">
						<div class="col-md-2 content-title">{{'VM_INSTANCE.BOOT_DISK'| translate}}</div>
						<div class="col-md-10 no-padding">
							<div class="col-md-3 no-padding">
								<select
									*ngIf="sendModule.zone.attrValueId"
									[(ngModel)]="sendModule.bootstorage" class="form-control">
										<option
										*ngFor="let value of rely('bootstorage')"
										[ngValue]="value" >{{ value.attrDisplayValue }}</option>
								</select>
							</div>
							<div class="col-md-1 content-title2">{{'COMMON.CAPATITY'| translate}}</div>
							<div class="col-md-2 no-padding">
								<select [(ngModel)]="sendModule.bootsize" (ngModelChange)="bootSizeChange()" class="form-control">
									<option
									*ngFor="let value of bootsizeList;"
									[ngValue]="value" >{{ value.attrDisplayValue }}</option>
								</select>
							</div>
							<div class="col-md-6 content-title2">{{'COMMON.GB'| translate}}</div>
						</div>
					</div>
					<div style="display: none"><add-storage #storage (onChanges)="storageChange()" [sendModule]="sendModule" [configs]="rely('storage')"></add-storage></div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-password"></span><br>{{'VM_INSTANCE.PASSWARD_SETTING'| translate}}</p>
				</div>
				<div class="col-md-12 li-content li-password">
					<!-- <div class="col-md-12 no-padding mb15">
						<div class="col-md-2 content-title">设置方式</div>
						<div class="col-md-4 no-padding btn-group" data-toggle="buttons">
							<label class="btn btn-default active" (click)="setPassword = true">
								<input type="radio" name="mirror" autocomplete="off" checked> 立即设置
							</label>
							<label class="btn btn-default" (click)="setPassword = false">
								<input type="radio" name="mirror" autocomplete="off"> 模板自带密码
							</label>
						</div>
						<div class="col-md-5 no-padding text-tip">请牢记您所设置的密码，如遗忘可登录ESC控制台重置密码。</div>
					</div> -->

					<div class="col-md-12 no-padding mb20">
						<div class="col-md-2 content-title">{{'VM_INSTANCE.USER_NAME'| translate}}</div>
						<div class="col-md-10 user-root">root</div>
					</div>

					<div class="col-md-12 no-padding mb20" *ngIf="setPassword">
						<div class="col-md-2 content-title">{{'VM_INSTANCE.LOGIN_PASSWARD'| translate}}</div>
						<div class="col-md-4 no-padding" [ngClass]="{'has-error': check.password === false}">
							<input type="password" 
								(keyup) = "checkValue('password')"
								[(ngModel)]="sendModule.password.attrValue" class="form-control" placeholder="{{'VM_INSTANCE.PLEASE_ENTER_HOST_PASSWARD'| translate}}">
						</div>
						<div class="col-md-5 no-padding text-tip">{{'VM_INSTANCE.PASSWARD_COMPLEXITY_DESCRIPTION'| translate}}</div>
					</div>

					<div class="col-md-12 no-padding mb20" *ngIf="setPassword">
						<div class="col-md-2 content-title">{{'VM_INSTANCE.CONFIRM_PASSWARD'| translate}}</div>
						<div class="col-md-4 no-padding"
							[ngClass]="{'has-error': check.passwordShadow === false }">

							<input type="password" class="form-control" (keyup)="checkValue('passwordShadow')"  [(ngModel)]="passwordShadow"  placeholder="请再次输入主机密码">
						</div>
					</div>

					<div class="col-md-12 no-padding mb20">
						<div class="col-md-2 content-title">{{'VM_INSTANCE.INSTANCE_NAME'| translate}}</div>
						<div class="col-md-4 no-padding"
							[ngClass]="{'has-error': check.instancename === false }">
							
							<input type="text" [(ngModel)]="sendModule.instancename.attrValue" (keyup)="checkValue('instancename')" class="form-control" placeholder="如不填写，则系统自动生成">
						</div>
						<div class="col-md-5 no-padding text-tip">{{'COMMON.SET_NAME_FORMAT'| translate}}</div>
					</div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-amount"></span><br>{{'COMMON.PURCHASE_AMOUNT'|translate}}</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-12 no-padding mb20">
						<div class="col-md-2 content-title">{{'COMMON.PURCHASE_DURATION'|translate}}</div>
						<div class="col-md-2 no-padding mr10">
							<select [disabled]="timeForever" [(ngModel)]="sendModule.timelineunit" (ngModelChange)="setVmPrice();" class="form-control">
								<option
								*ngFor="let value of this.configs.timelineunit.mapValueList[this.vmSku.skuId];"
								[ngValue]="value" >{{ value.attrDisplayValue }}</option>
							</select>
						</div>
						<div class="col-md-2 no-padding mr10" [ngClass]="{'has-error': check.timeline === false }">
							<input [disabled]="timeForever" 
								   (keyup)="checkValue('timeline');setVmPrice();setDiskPrice();" 
								   [(ngModel)]="sendModule.timeline.attrValue" type="text" class="form-control">
						</div>
						<div class="col-md-2 no-padding">
							<!-- <label class="btn btn-default" (click)="timeForever = timeForever ? false : true" [ngClass]="{'active': timeForever}">
								永久
							</label> -->
						</div>
					</div>

					<div class="col-md-12 no-padding mb20">
						<div class="col-md-2 content-title">{{'COMMON.PURCHASE_AMOUNT'|translate}}</div>
						<div class="col-md-2 no-padding mr10">
							<select [(ngModel)]="payLoad.quality" (ngModelChange)="setVmPrice();setDiskPrice();"   class="form-control">
								<option [ngValue]="1">{{'COMMON.ONE_SET'| translate}}</option>
								<option [ngValue]="2">{{'COMMON.TWO_SET'| translate}}</option>
								<option [ngValue]="3">{{'COMMON.THREE_SET'| translate}}</option>
								<option [ngValue]="4">{{'COMMON.FOUR_SET'| translate}}</option>
								<option [ngValue]="5">{{'COMMON.FIVE_SET'| translate}}</option>
							</select>
							<!--<div class="btn-group input-step-compontent">
								<button type="button" class="btn btn-default col-md-3"><span class="glyphicon glyphicon-minus"></span></button>
								<input type="text" class="form-control" value="20">
								<button type="button" class="btn btn-default clickable"><span class="glyphicon glyphicon-plus"></span></button>
							</div>-->
						</div>
						<!--<div class="col-md-2 no-padding lh32">台</div>-->
					</div>
				</div>
			</li>
		</ul>
	</div>
	 <!-- [ngClass]="{'right-fixed' : rightFixed}" (window:scroll)="onScroll($event)" -->
	<div class="col-md-3 no-padding right-box">
		<cart-button #cartButton></cart-button>
		<div class="col-md-12 content-box">
			<h3 class="boder-gray-bottom-title">{{'COMMON.CURRENT_CONFIGURATION'| translate}}</h3>
			<h4 class="cloud-title font-green">{{'COMMON.AREA'| translate}}</h4>
			<p class="cloud-p">{{'COMMON.CLOUD_PLATFORM'| translate}}: {{ sendModule.platform?.attrDisplayValue}}</p>
			<p class="cloud-p">{{'COMMON.AVAILABLE_ZONE'| translate}}: {{ sendModule.zone?.attrDisplayValue}}</p>
			<h4 class="cloud-title font-green">{{'VM_INSTANCE.NET'| translate}}</h4>
			<p class="cloud-p">{{'VM_INSTANCE.NET_TYPE'| translate}}: {{ sendModule.networktype?.attrDisplayValue}}</p>
			<p class="cloud-p">{{'VM_INSTANCE.SECURITY_GROUP'| translate}}: {{ sendModule.securitygroup?.attrDisplayValue}}</p>
			<h4 class="cloud-title font-green">{{'VM_INSTANCE.INSTANCE_CONFIGURATION'| translate}}</h4>
			<p class="cloud-p">{{'VM_INSTANCE.CPU'| translate}}: {{ sendModule.cpu?.attrDisplayValue}}</p>
			<p class="cloud-p">{{'VM_INSTANCE.RAM'| translate}}: {{ sendModule.mem?.attrDisplayValue}}</p>
			<h4 class="cloud-title font-green">{{'VM_INSTANCE.CLOUD_HOST_SOURCE'| translate}}</h4>
			<p class="cloud-p">{{'VM_INSTANCE.START_SOURCE'| translate}}: {{ sendModule.startupsource?.attrDisplayValue}}</p>
			<p class="cloud-p">{{'VM_INSTANCE.MIRROR_TYPE'| translate}}: {{ sendModule.imagetype?.attrDisplayValue}}</p>
			<p class="cloud-p">{{'VM_INSTANCE.MIRROR_NAME'| translate}}: {{ sendModule.os?.attrDisplayValue}}</p>
			<h4 class="cloud-title font-green">{{'VM_INSTANCE.STORE'| translate}}</h4>
			<p class="cloud-p">{{'VM_INSTANCE.BOOT_DISK'| translate}}: {{ sendModule.bootstorage?.attrDisplayValue}} / {{ sendModule.bootsize?.attrValue}}</p>
			<!-- <p class="cloud-p">数据盘: {{ sendModule.stroage ? sendModule.stroage.attrDisplayValue : "" }} / {{ sendModule.storagesize ? sendModule.storagesize.attrDisplayValue : "" }}</p> -->
			<h4 class="cloud-title font-green">{{'COMMON.PURCHASE_AMOUNT'|translate}}</h4>
			<p class="cloud-p">{{'COMMON.PURCHASE_DURATION'|translate}}: {{ sendModule.timelineunit.attrDisplayValue}} / {{ sendModule.timeline?.attrValue}}</p>
			<p class="cloud-p">{{'COMMON.PURCHASE_AMOUNT'|translate}}: {{payLoad.quality}}台</p>
			<div class="cloud-line"></div>

			<h4 class="cloud-title font-green">云主机单价</h4>
			<p class="cloud-p">{{'COMMON.ONE_TIME_COSTS'|translate}}: <font class="font-orange">{{'COMMON.$' | translate}}{{ vmBasePrice }}</font>{{'COMMON.YUAN'|translate}}</p>
			<p class="cloud-p">周期费用: <font class="font-orange">{{'COMMON.$' | translate}}{{vmProduct?.billingInfo.basicPrice}} / {{ sendModule.timelineunit.attrDisplayValue }}</font></p>
			<!-- <h4 class="cloud-title font-green">{{'VM_INSTANCE.CLOUD_HARD_DISK_COSTS'| translate}}</h4>
			<p class="cloud-p">{{'COMMON.ONE_TIME_COSTS'|translate}}: <font class="font-orange">{{'COMMON.$' | translate}} {{ diskBasePrice }}</font></p>
			<p class="cloud-p">{{'VM_INSTANCE.BY_VOLUMN_COSTS'| translate}}: <font class="font-orange">{{'COMMON.$' | translate}} {{diskTotalPrice}} / {{ diskUnitType | dict:service.unitType | async }}</font></p> -->
			<div class="cloud-p">
				<p class="cloud-title">{{'VM_INSTANCE.TOTAL_COST'| translate}}：</p>
	            <table style="width: 90%;line-height: 26px;">
	                <tr>
	                    <td>{{'COMMON.ONE_TIME_COSTS'|translate}}： </td>
	                    <td><font class="font-orange">{{'COMMON.$' | translate}}{{vmBasePrice + diskBasePrice}}</font>{{'COMMON.YUAN' | translate}}</td>
	                </tr>
<!-- 	                <tr>
	                    <td><font>{{'COMMON.TOTAL_EXPENSE'|translate}}： </font></td>
	                    <td><font class="font-orange">{{'COMMON.$' | translate}}{{diskTotalPrice}}</font>{{'COMMON.YUAN'|translate}} / {{ diskUnitType | dict:service.unitType | async }} <span class="float-right">{{'COMMON.BY_VOLUMN' | translate}}</span></td>
	                </tr> -->
	                <tr>
	                    <td><font>总周期费用： </font></td>
	                    <td><font class="font-orange">{{'COMMON.$' | translate}}{{vmTotalPrice}}</font>{{'COMMON.YUAN'|translate}}<span class="float-right">{{'VM_INSTANCE.ANNUAL_SUBSCRIPTION'| translate}}</span></td>
	                </tr>
	            </table>
	                
	            <p class="mgt20">以上为总费用估算，实际支付金额，请以每月账单为准。</p>
			</div>
			<div class="col-md-12 colud-order-button">
				<div class="col-md-6"><button (click)="buyNow()" class="btn button-orange-deep">{{'COMMON.BUY_NOW'|translate}}</button></div>
				<div class="col-md-6"><button (click)="addCart()" class="btn button-orange-light">{{'COMMON.ADD_TO_SHOPPING_CART'|translate}}</button></div>
			</div>
		</div>
	</div>
</div>

<fc-notice #notice title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalAction(0)"></fc-notice>
