<div class="page-content cloud_host_order">
	<div class="col-md-9">
		<h1 (click)="payLoadFormat()" class="page-content-header">创建云主机</h1>
		<ul class="left-box">
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-location"></span><br>区域</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-2 content-title">云平台</div>
					<div class="col-md-10 btn-group" data-toggle="buttons">
						<label *ngFor="let value of configs.platform.valueList;" (click)="sendModule.platform = value" class="btn btn-default" [ngClass]="{'active': sendModule.platform.attrValueId === value.attrValueId}">
							<input type="radio" name="location" autocomplete="off"> {{ value.attrDisplayValue }}
						</label>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-10 text-tip">不同区域之间的产品内网不互通；订购后不支持更换区域，请谨慎选择！</div>
					<div class="col-md-2 content-title">可用区</div>
					<div class="col-md-10 btn-group" data-toggle="buttons">
						<label
							*ngFor="let value of rely('zone')"
							(click)="sendModule.zone = value"
							class="btn btn-default" [ngClass]="{'active': sendModule.zone.attrValueId === value.attrValueId}">
							<input type="radio" name="zone" autocomplete="off"> {{ value.attrDisplayValue }}
						</label>
					</div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-network"></span><br>网络</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-2 content-title">网络类型</div>
					<div class="col-md-10">
						<select [(ngModel)]="sendModule.networktype" class="form-control">
							<option
							 *ngFor="let value of rely('networktype')"
							 [ngValue]="value" >{{ value.attrDisplayValue }}</option>
						</select>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-10 text-tip">请选择您需要的子网网段</div>
					<div class="col-md-2 content-title">安全组</div>
					<div class="col-md-10">
						<select [(ngModel)]="sendModule.securitygroup" class="form-control">
							<option
							 *ngFor="let value of configs.securitygroup.valueList;"
							 [ngValue]="value" >{{ value.attrDisplayValue }}</option>
						</select>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-10 text-tip">如果您不知道如何选择，请咨询管理员</div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-specifications"></span><br>实例规格</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-2 content-title">CPU</div>
					<div class="col-md-10 btn-group" data-toggle="buttons">

						<label
							*ngFor="let value of rely('cpu')"
							(click)="sendModule.cpu = value"
							class="btn btn-default" [ngClass]="{'active': sendModule.cpu.attrValueId === value.attrValueId}">
							<input type="radio" name="cpu" autocomplete="off"> {{ value.attrDisplayValue }}
						</label>
					</div>
					<div class="col-md-2 content-title">内存</div>
					<div class="col-md-10 btn-group" data-toggle="buttons">
						<label
							*ngFor="let value of rely('mem')"
							(click)="sendModule.mem = value"
							class="btn btn-default" [ngClass]="{'active': sendModule.mem.attrValueId === value.attrValueId}">
							<input type="radio" name="mem" autocomplete="off"> {{ value.attrDisplayValue }}
						</label>
					</div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-host"></span><br>云主机源</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-2 content-title">启动源</div>
					<div class="col-md-10">
						<p *ngFor="let value of rely('startupsource')"></p> <!-- 这一行必须加上 否则造成切换父层时候的显示错误 -->
						<select [(ngModel)]="sendModule.startupsource" class="form-control">
							<option
							 *ngFor="let value of rely('startupsource')"
							 [ngValue]="value" >{{ value.attrDisplayValue }}</option>
						</select>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-10 text-tip">公共镜像即基础操作系统，自定义镜像为企业根据基础操作系统做过额外配置或优化后的操作系统</div>
					<div class="col-md-2 content-title">镜像类型</div>
					<div class="col-md-10 btn-group" data-toggle="buttons">
						<label
							*ngFor="let value of rely('imagetype')"
							(click)="sendModule.imagetype = value;" class="btn btn-default" [ngClass]="{'active': sendModule.imagetype.attrValueId === value.attrValueId}">
							<input type="radio" name="imagetype" autocomplete="off"> {{ value.attrDisplayValue }}
						</label>
					</div>
					<div class="col-md-2 content-title">镜像列表</div>
					<div class="col-md-10">
						<p style="display: none" *ngFor="let value of rely('os')"></p> <!-- 这一行必须加上 否则造成切父层时候的显示错误 -->
						<select [(ngModel)]="sendModule.os"  class="form-control">
							<option
							 *ngFor="let value of rely('os')"
							 [ngValue]="value" >{{ value.attrDisplayValue }}</option>
						</select>
					</div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-disk"></span><br>储存</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-12 no-padding mb20">
						<div class="col-md-2 content-title">启动盘</div>
						<div class="col-md-10 no-padding">
							<div class="col-md-3 no-padding">
								<select
									*ngIf="sendModule.zone.attrValueId"
									[(ngModel)]="sendModule.bootstorage" class="form-control">
										<option
										*ngFor="let value of rely('bootstorage')"
										[ngValue]="value" >{{ value.attrDisplayValue }}</option>
								</select>
							</div>
							<div class="col-md-1 content-title2">容量</div>
							<div class="col-md-2 no-padding">
								 <!--<select [(ngModel)]="sendModule.bootsize" disabled="true" class="form-control">
									<option
									*ngFor="let value of rely('bootsize')"
									[ngValue]="value" >{{ value.attrDisplayValue }}</option>
								</select> -->
								<select class="form-control">
									<option selected>20</option>
								</select>
							</div>
							<div class="col-md-6 content-title2">GB</div>
						</div>
					</div>
					<add-storage #storage (onChanges)="storageChange()" [sendModule]="sendModule" [configs]="rely('storage')"></add-storage>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-password"></span><br>密码设置</p>
				</div>
				<div class="col-md-12 li-content li-password">
					<!-- <div class="col-md-12 no-padding mb15">
						<div class="col-md-2 content-title">设置方式</div>
						<div class="col-md-4 no-padding btn-group" data-toggle="buttons">
							<label class="btn btn-default active" (click)="setPassword = true">
								<input type="radio" name="mirror" autocomplete="off" checked> 立即设置
							</label>
							<label class="btn btn-default" (click)="setPassword = false">
								<input type="radio" name="mirror" autocomplete="off"> 模板自带密码
							</label>
						</div>
						<div class="col-md-5 no-padding text-tip">请牢记您所设置的密码，如遗忘可登录ESC控制台重置密码。</div>
					</div> -->

					<div class="col-md-12 no-padding mb20">
						<div class="col-md-2 content-title">用户名</div>
						<div class="col-md-10 user-root">root</div>
					</div>

					<div class="col-md-12 no-padding mb20" *ngIf="setPassword">
						<div class="col-md-2 content-title">登录密码</div>
						<div class="col-md-4 no-padding" [ngClass]="{'has-error': check.password === false}">
							<input type="password" 
								(keyup) = "checkValue('password')"
								[(ngModel)]="sendModule.password.attrValue" class="form-control" placeholder="请输入主机密码">
						</div>
						<div class="col-md-5 no-padding text-tip">密码复杂度：8-30个字符，且同时包括三项（大写字母，小写字母，数字和特殊符号）</div>
					</div>

					<div class="col-md-12 no-padding mb20" *ngIf="setPassword">
						<div class="col-md-2 content-title">确认密码</div>
						<div class="col-md-4 no-padding"
							[ngClass]="{'has-error': check.passwordShadow === false }">

							<input type="password" class="form-control" (keyup)="checkValue('passwordShadow')"  [(ngModel)]="passwordShadow"  placeholder="请再次输入主机密码">
						</div>
					</div>

					<div class="col-md-12 no-padding mb20">
						<div class="col-md-2 content-title">实例名称</div>
						<div class="col-md-4 no-padding"
							[ngClass]="{'has-error': check.instancename === false }">
							
							<input type="text" [(ngModel)]="sendModule.instancename.attrValue" (keyup)="checkValue('instancename')" class="form-control" placeholder="如不填写，则系统自动生成">
						</div>
						<div class="col-md-5 no-padding text-tip">2-68个字符，以大小写字母或者中文开头，可包含数字，“.”, "-", "_"</div>
					</div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-amount"></span><br>购买量</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-12 no-padding mb20">
						<div class="col-md-2 content-title">购买时长</div>
						<div class="col-md-2 no-padding mr10">
							<select [disabled]="timeForever" [(ngModel)]="sendModule.timelineunit" class="form-control">
								<option
								*ngFor="let value of this.configs.timelineunit.mapValueList[this.vmSku.skuId];"
								[ngValue]="value" >{{ value.attrDisplayValue }}</option>
							</select>
						</div>
						<div class="col-md-2 no-padding mr10" [ngClass]="{'has-error': check.timeline === false }">
							<input [disabled]="timeForever" 
								   (keyup)="checkValue('timeline');setVmPrice();setDiskPrice();" 
								   [(ngModel)]="sendModule.timeline.attrValue" type="text" class="form-control">
						</div>
						<div class="col-md-2 no-padding">
							<!-- <label class="btn btn-default" (click)="timeForever = timeForever ? false : true" [ngClass]="{'active': timeForever}">
								永久
							</label> -->
						</div>
					</div>

					<div class="col-md-12 no-padding mb20">
						<div class="col-md-2 content-title">购买量</div>
						<div class="col-md-2 no-padding mr10">
							<select [(ngModel)]="payLoad.quality" (ngModelChange)="setVmPrice();setDiskPrice();"   class="form-control">
								<option [ngValue]="1">1台</option>
								<option [ngValue]="2">2台</option>
								<option [ngValue]="3">3台</option>
								<option [ngValue]="4">4台</option>
								<option [ngValue]="5">5台</option>
							</select>
							<!--<div class="btn-group input-step-compontent">
								<button type="button" class="btn btn-default col-md-3"><span class="glyphicon glyphicon-minus"></span></button>
								<input type="text" class="form-control" value="20">
								<button type="button" class="btn btn-default clickable"><span class="glyphicon glyphicon-plus"></span></button>
							</div>-->
						</div>
						<!--<div class="col-md-2 no-padding lh32">台</div>-->
					</div>
				</div>
			</li>
		</ul>
	</div>
	 <!-- [ngClass]="{'right-fixed' : rightFixed}" (window:scroll)="onScroll($event)" -->
	<div class="col-md-3 no-padding right-box">
		<cart-button #cartButton></cart-button>
		<div class="col-md-12 content-box">
			<h3 class="boder-gray-bottom-title">当前配置</h3>
			<h4 class="cloud-title font-green">区域</h4>
			<p class="cloud-p">云平台: {{ sendModule.platform?.attrDisplayValue}}</p>
			<p class="cloud-p">可用区: {{ sendModule.zone?.attrDisplayValue}}</p>
			<h4 class="cloud-title font-green">网络</h4>
			<p class="cloud-p">网络类型: {{ sendModule.networktype?.attrDisplayValue}}</p>
			<p class="cloud-p">安全组: {{ sendModule.securitygroup?.attrDisplayValue}}</p>
			<h4 class="cloud-title font-green">实例规格</h4>
			<p class="cloud-p">CPU: {{ sendModule.cpu?.attrDisplayValue}}</p>
			<p class="cloud-p">内存: {{ sendModule.mem?.attrDisplayValue}}</p>
			<h4 class="cloud-title font-green">云主机源</h4>
			<p class="cloud-p">启动源: {{ sendModule.startupsource?.attrDisplayValue}}</p>
			<p class="cloud-p">镜像类型: {{ sendModule.imagetype?.attrDisplayValue}}</p>
			<p class="cloud-p">镜像名称: {{ sendModule.os?.attrDisplayValue}}</p>
			<h4 class="cloud-title font-green">储存</h4>
			<p class="cloud-p">启动盘: {{ sendModule.bootstorage?.attrDisplayValue}} / 20</p>
			<!-- <p class="cloud-p">数据盘: {{ sendModule.stroage ? sendModule.stroage.attrDisplayValue : "" }} / {{ sendModule.storagesize ? sendModule.storagesize.attrDisplayValue : "" }}</p> -->
			<h4 class="cloud-title font-green">购买量</h4>
			<p class="cloud-p">购买时长: {{ sendModule.timelineunit.attrDisplayValue}} / {{ sendModule.timeline?.value}}</p>
			<p class="cloud-p">购买量: {{payLoad.quality}}台</p>
			<div class="cloud-line"></div>

			<h4 class="cloud-title font-green">云主机费用</h4>
			<p class="cloud-p">一次性费用: <font class="font-orange">¥{{ vmBasePrice }}</font></p>
			<p class="cloud-p">费用: <font class="font-orange">¥{{vmTotalPrice}} / {{ sendModule.timelineunit.attrDisplayValue }}</font></p>
			<h4 class="cloud-title font-green">云硬盘费用</h4>
			<p class="cloud-p">一次性费用: <font class="font-orange">¥ {{ diskBasePrice }}</font></p>
			<p class="cloud-p">按量费用: <font class="font-orange">¥ {{diskTotalPrice}} / {{ diskUnitType | dict:service.unitType | async }}</font></p>
			<div class="cloud-p">
				<p class="cloud-title">费用总计：</p>
	            <table style="width: 90%;line-height: 26px;">
	                <tr>
	                    <td>一次性费用： </td>
	                    <td><font class="font-orange">¥{{vmBasePrice + diskBasePrice}} 元</font></td>
	                </tr>
	                <tr>
	                    <td><font>费用： </font></td>
	                    <td><font class="font-orange">¥{{diskTotalPrice}}</font> / {{ diskUnitType | dict:service.unitType | async }} <span class="float-right">按量</span></td>
	                </tr>
	                <tr>
	                    <td></td>
	                    <td><font class="font-orange">¥{{vmTotalPrice}}</font> / {{ sendModule.timelineunit.attrDisplayValue }} <span class="float-right">包年包月</span></td>
	                </tr>
	            </table>
			</div>
			<div class="col-md-12 colud-order-button">
				<div class="col-md-6"><button (click)="buyNow()" class="btn button-orange-deep">立即购买</button></div>
				<div class="col-md-6"><button (click)="addCart()" class="btn button-orange-light">加入购物车</button></div>
			</div>
		</div>
	</div>
</div>

