<fc-confirm #confirm title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalAction(1)" ct="{{modalCancelTitle}}" (cf)="modalAction(0)"></fc-confirm>
<fc-notice #notice title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalAction(0)"></fc-notice>
	<div class="page-content-header icon-instance">{{ 'MENU.INSTANCE_LIST' | transalet }}</div>
	<div class="page-content">
		<div style="padding-bottom: 10px;">
			<div class="btn-group pull-right">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				{{ 'COMMON.MORE_ACTIONS' | transalet }}
				<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="#">{{ 'CLOUD_HOST.VIEW_DETAILS' | transalet }}</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">{{ 'VM_INSTANCE.VIEW_CONSOLE' | transalet }}</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">{{ 'VM_INSTANCE.EDIT_THE_CLOUD_HOST' | transalet }}</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">{{ 'VM_INSTANCE.DELETE_THE_CLOUD_HOST' | transalet }}</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">{{ 'CLOUD_HOST.CREATE_SNAPSHOT' | transalet }}</a></li>
					<li role="separator" class="divider"></li>
					<li><a class="clickable" (click)="updateInstanceStatus(item, 'softReboot', $event);">{{ 'CLOUD_HOST.SOFT_RESTART' | transalet }}</a></li>
					<li role="separator" class="divider"></li>
					<li><a class="clickable" (click)="updateInstanceStatus(item, 'hardReboot', $event);">{{ 'CLOUD_HOST.HARD_RESTART' | transalet }}<</a></li>
					<li role="separator" class="divider"></li>
					<li><a class="clickable" (click)="updateInstanceStatus(item, 'softShutdown', $event);">{{ 'CLOUD_HOST.SOFT_OFF' | transalet }}<</a></li>
					<li role="separator" class="divider"></li>
					<li><a class="clickable" (click)="updateInstanceStatus(item, 'hardShutdown', $event);">{{ 'CLOUD_HOST.HARD_OFF' | transalet }}<</a></li>
				</ul>
			</div>
			<div class="pull-right" style="position: relative;">
				<span class="glyphicon glyphicon-search form-control-feedback"></span>
				<input type="text" class="form-control" placeholder="{{ 'COMMON.SEARCH' | transalet }}" [(ngModel)]="filterText">
			</div>
			<div class="btn-group">
				<button class="fox-cloud-button fox-cloud-button-white" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<span class="glyphicon glyphicon-edit"></span>
					<span class="icon-button-label icon-left-button-label">{{ 'CLOUD_HOST.MORE_CREATING' | transalet }}</span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
					<li><a href="#">{{ 'CLOUD_HOST.MORE_CREATING' | transalet }}</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">{{ 'CLOUD_HOST.CREATE_snapshot_IMAGE' | transalet }}</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">{{ 'CLOUD_HOST.CREATE_FROM_VOLUME' | transalet }}</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">{{ 'CLOUD_HOST.CREATE_FROM_VOLUME_TEMPLATE' | transalet }}</a></li>
				</ul>
			</div>
		</div>
		<div class="table-container">
		<table class="table table-hover"> 
			<thead>
				<tr>
					<th class="fristTh"><input type="checkbox" (click)="checkAll()"> {{ 'COMMON.SELECT_ALL' | transalet }}</th>
					<th>{{ 'VM_INSTANCE.INSTANCE_NAME' | transalet }}</th>
					<th>{{ 'COMMON.MIRROR' | transalet }}</th>
					<th>{{ 'COMMON.SPECIFICATION' | transalet }}</th>
					<th>{{ 'VM_INSTANCE.NET_TYPE' | transalet }}</th>
					<th>{{ 'COMMON.PAYMENT_METHODS' | transalet }}</th>
					<th>IP {{ 'COMMON.PATH' | transalet }}</th>
					<th>{{ 'COMMON.OPERATION' | transalet }}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of (instances | instanceDispPipe: filterText)" class="clickable" (click)="showDetail(item)">
					<td><input type="checkbox" [(ngModel)]="item.checked" [checked]="item.checked" (click)="check($event)"></td>
					<td>{{item.instanceName}}</td>
					<td>{{item.osInfo}}</td>
					<td>{{item.specification}}</td>
					<td>{{item.networkType}}</td>
					<td>{{item.paymentType}}</td>
					<td>{{item.ipAddress}}</td>
					<td>
						<button class="fox-cloud-button-sm fox-cloud-button-white" (click)="updateInstanceStatus(item, 'pause', $event);">
							<span class="icon-button-label">{{ 'COMMON.PAUSE' | transalet }}</span>
						</button>
						<button class="fox-cloud-button-sm fox-cloud-button-white" (click)="updateInstanceStatus(item, 'suspend', $event);">
							<span class="icon-button-label">{{ 'COMMON.PENDING' | transalet }}</span>
						</button>
						<button class="fox-cloud-button-sm fox-cloud-button-grey" (click)="updateInstanceStatus(item, 'resume', $event)">
							<span class="icon-button-label">{{ 'COMMON.RESTORE' | transalet }}</span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		<fc-pagination tp={{totalPages}} (pf)="changePage($event)"></fc-pagination>
	</div>