<fc-confirm #confirm title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalAction(1)" ct="{{modalCancelTitle}}" (cf)="modalAction(0)"></fc-confirm>
<fc-notice #notice title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalAction(0)"></fc-notice>
<div class="page-content-header icon-instance">{{ 'CLOUD_HOST.INSTANCE_DETAILS' | transalet }}</div>
<div class="page-content">
    <div class="row">
        <div class="col-md-4">
            <div class="instanceInfoCon">
                <div class="thisTitle">
                    <div class="dropdown pull-right">{{ 'CLOUD_HOST.LINK_MANAGEMENT_TERMINAL' | traWnsalet }}<a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ 'COMMON.MORE_ACTIONS' | transalet }} <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">{{ 'COMMON.ADD' | transalet }}</a></li>
                            <li><a href="#">{{ 'COMMON.DELETE' | transalet }}</a></li>
                            <li><a href="#">{{ 'COMMON.UPDATE' | transalet }}</a></li>
                            <li><a href="#">{{ 'COMMON.QUERY' | transalet }}</a></li>
                        </ul>
                    </div>
                    <i class="glyphicon glyphicon-pause"></i>{{ 'VM_INSTANCE.BASIC_INFORMATION' | transalet }}</div>
                <div class="instanceInfoBox">
                    <table>
                        <tr>
                            <th>ID:</th>
                            <td>{{instanceDetail.id}}</td>
                        </tr>
                        <tr>
                            <th>{{ 'ORDER_MNG.ALL_AVAILABLE_ZONE' | transalet }}: </th>
                            <td>{{instanceDetail.availabilityZone}}</td>
                        </tr>
                        <tr>
                            <th>{{ 'COMMON.NAME' | transalet }}: </th>
                            <td>{{instanceDetail.displayName}}</td>
                        </tr>
                        <tr>
                            <th>{{ 'COMMON.DESCRIPTION' | transalet }}: </th>
                            <td>{{instanceDetail.description}}</td>
                        </tr>
                        <tr>
                            <th>{{ 'COMMON.ZONE' | transalet }}: </th>
                            <td>TBD</td>
                        </tr>
                        <tr>
                            <th>{{ 'COMMON.INSTANCE_CONFIGURATION' | transalet }}: </th>
                            <td>{{instanceDetail.flavorId}}TBD</td>
                        </tr>
                        <tr>
                            <th>{{ 'CLOUD_HOST.INSTANCE_CONFIGURATION_FAMILY' | transalet }}: </th>
                            <td>{{instanceDetail.flavorId}}TBD</td>
                        </tr>
                        <tr>
                            <th>{{ 'COMMON.MIRROR' | transalet }} ID: </th>
                            <td>{{instanceDetail.imageRef}}TBD</td>
                        </tr>
                        <tr>
                            <th>{{ 'COMMON.LABEL' | transalet }}: </th>
                            <td>TBD</td>
                        </tr>
                    </table>
                </div>
                <div class="thisTitle marginTop">
                    <div class="dropdown pull-right">{{ 'CLOUD_HOST.REPLACE_SYSTEM_DISK' | transalet }}<a href="#" class="dropdown-toggle" data-toggle="dropdown">  {{ 'COMMON.MORE_ACTIONS' | transalet }} <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">{{ 'COMMON.ADD' | transalet }}</a></li>
                            <li><a href="#">{{ 'COMMON.DELETE' | transalet }}</a></li>
                            <li><a href="#">{{ 'COMMON.UPDATE' | transalet }}</a></li>
                            <li><a href="#">{{ 'COMMON.QUERY' | transalet }}</a></li>
                        </ul>
                    </div>
                    <i class="glyphicon glyphicon-pause"></i> {{ 'VM_INSTANCE.CONFIGURATION_INFORMATION' | transalet }}</div>
                <div class="instanceInfoBox">
                    <table>
                        <tr>
                            <th>CPU: </th>
                            <td>{{instanceDetail.vcpus}} {{ 'COMMON.CORE' | transalet }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'COMMON.RAM' | transalet }}: </th>
                            <td>{{instanceDetail.memoryMbDisplay}}</td>
                        </tr>
                        <tr>
                            <th>{{ 'COMMON.SYSTEM' | transalet }}: </th>
                            <td>{{instanceDetail.osType}}</td>
                        </tr>
                        <tr>
                            <th>{{ 'CLOUD_HOST.PUBLIC_NETWORK' | transalet }} IP: </th>
                            <td>{{instanceDetail.accessIpV4}}TBD</td>
                        </tr>
                        <tr>
                            <th>{{ 'COMMON.PRIVATE_NETWORK' | transalet }} IP: </th>
                            <td>{{instanceDetail.accessIpV4}}TBD</td>
                        </tr>
                        <tr>
                            <th>{{ 'CLOUD_HOST.BROADBAND_BILLING_MODE' | transalet }}: </th>
                            <td>{{ 'CLOUD_HOST.ACCORDING_TO_BROADBAND' | transalet }}TBD</td>
                        </tr>
                        <tr>
                            <th>{{ 'CLOUD_HOST.CURRENT_USE_BANDWIDTH' | transalet }}: </th>
                            <td>1MbpsTBD</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="instanceBorderCon">
                <div class="row">
                    <div class="col-md-3">
                        <table class="yTable">
                            <tr>
                                <th style="width: 80px;">{{ 'VM_INSTANCE.NET_TYPE' | transalet }}: </th>
                                <td>{{ 'CLOUD_HOST.CLASSIC_NETWORK' | transalet }}TBD</td>
                            </tr>
                            <tr>
                                <th>{{ 'COMMON.STATUS' | transalet }}: </th>
                                <td>
                                    <div *ngIf="instanceDetail && instanceDetail.powerState == 1">
                                        <span class="statusCir bg-success"></span>{{ 'COMMON.RUNNING' | transalet }}
                                    </div>
                                    <div *ngIf="instanceDetail && instanceDetail.powerState == 0">
                                        <span class="statusCir bg-danger"></span>{{ 'COMMON.SHUTDOWN' | transalet }}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-9">
                        <div class="networkInfo">
                            <div class="dotLine"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div style="position: relative;">
                                        <div style="position: absolute; top: 20px; left: 0px; width: 100%;">
                                            <div style="width: 83px; height: 94px; margin: 0px auto;"><img src="../../../architecture/assets/images/icon_computer.jpg"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="infoItems">
                                        <ul>
                                            <li><span>{{ 'COMMON.DISK' | transalet }}: <b>1TBD</b></span></li>
                                            <li><span>{{ 'COMMON.SNAPSHOT' | transalet }}: <b>1TBD</b></span></li>
                                            <li><span>{{ 'COMMON.MIRROR' | transalet }}: <b>CentOS 7.0 64位TBD</b></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lineChartsCon">
                <div class="thisTitle">
                    <i class="glyphicon glyphicon-pause"></i> {{ 'CLOUD_HOST.MONITORING_INFO' | transalet }}
                    <div class="pull-right">
                        {{ 'CLOUD_HOST.SET_ALARM_RULES' | transalet }}
                        <label>2016-08-23 09:13 - 2016-08-23 10:13</label>
                    </div>
                </div>
                <div>
                    <fc-line-chart title="CPU" [data]="cpuData" >CPU</fc-line-chart>
                    <fc-line-chart title="{{ 'COMMON.NETWORK' | transalet }}" [data]="networkData" >{{ 'COMMON.NETWORK' | transalet }}</fc-line-chart>
                </div>
            </div>
        </div>
    </div>
</div>