<fc-confirm #confirm title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalAction(1)" ct="{{modalCancelTitle}}" (cf)="modalAction(0)"></fc-confirm>
<fc-notice #notice title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalAction(0)"></fc-notice>
<div class="page-content-header icon-instance">实例明细</div>
<div class="page-content">
    <div class="row">
        <div class="col-md-4">
            <div class="instanceInfoCon">
                <div class="thisTitle">
                    <div class="dropdown pull-right">链接管理终端<a href="#" class="dropdown-toggle" data-toggle="dropdown"> 更多操作 <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">增</a></li>
                            <li><a href="#">删</a></li>
                            <li><a href="#">改</a></li>
                            <li><a href="#">查</a></li>
                        </ul>
                    </div>
                    <i class="glyphicon glyphicon-pause"></i> 基本信息</div>
                <div class="instanceInfoBox">
                    <table>
                        <tr>
                            <th>ID：</th>
                            <td>{{instanceDetail.id}}</td>
                        </tr>
                        <tr>
                            <th>所有可用区：</th>
                            <td>{{instanceDetail.availabilityZone}}</td>
                        </tr>
                        <tr>
                            <th>名称：</th>
                            <td>{{instanceDetail.displayName}}</td>
                        </tr>
                        <tr>
                            <th>描述：</th>
                            <td>{{instanceDetail.description}}</td>
                        </tr>
                        <tr>
                            <th>区域：</th>
                            <td>TBD</td>
                        </tr>
                        <tr>
                            <th>实例规格：</th>
                            <td>{{instanceDetail.flavorId}}TBD</td>
                        </tr>
                        <tr>
                            <th>实例规格族：</th>
                            <td>{{instanceDetail.flavorId}}TBD</td>
                        </tr>
                        <tr>
                            <th>镜像ID：</th>
                            <td>{{instanceDetail.imageRef}}TBD</td>
                        </tr>
                        <tr>
                            <th>标签：</th>
                            <td>TBD</td>
                        </tr>
                    </table>
                </div>
                <div class="thisTitle marginTop">
                    <div class="dropdown pull-right">更换系统盘<a href="#" class="dropdown-toggle" data-toggle="dropdown"> 更多操作 <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">增</a></li>
                            <li><a href="#">删</a></li>
                            <li><a href="#">改</a></li>
                            <li><a href="#">查</a></li>
                        </ul>
                    </div>
                    <i class="glyphicon glyphicon-pause"></i> 配置信息</div>
                <div class="instanceInfoBox">
                    <table>
                        <tr>
                            <th>CPU：</th>
                            <td>{{instanceDetail.vcpus}}核</td>
                        </tr>
                        <tr>
                            <th>内存：</th>
                            <td>{{instanceDetail.memoryMbDisplay}}</td>
                        </tr>
                        <tr>
                            <th>系统：</th>
                            <td>{{instanceDetail.osType}}</td>
                        </tr>
                        <tr>
                            <th>公网IP：</th>
                            <td>{{instanceDetail.accessIpV4}}TBD</td>
                        </tr>
                        <tr>
                            <th>私网IP：</th>
                            <td>{{instanceDetail.accessIpV4}}TBD</td>
                        </tr>
                        <tr>
                            <th>宽带计费方式：</th>
                            <td>按宽带TBD</td>
                        </tr>
                        <tr>
                            <th>当前使用带宽：</th>
                            <td>1MbpsTBD</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="instanceBorderCon">
                <div class="row">
                    <div class="col-md-3">
                        <table class="yTable">
                            <tr>
                                <th style="width: 80px;">网络类型：</th>
                                <td>经典网络TBD</td>
                            </tr>
                            <tr>
                                <th>状态：</th>
                                <td>
                                    <div *ngIf="instanceDetail && instanceDetail.powerState == 1">
                                        <span class="statusCir bg-success"></span>运行中
                                    </div>
                                    <div *ngIf="instanceDetail && instanceDetail.powerState == 0">
                                        <span class="statusCir bg-danger"></span>关机
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-9">
                        <div class="networkInfo">
                            <div class="dotLine"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div style="position: relative;">
                                        <div style="position: absolute; top: 20px; left: 0px; width: 100%;">
                                            <div style="width: 83px; height: 94px; margin: 0px auto;"><img src="../../../architecture/assets/images/icon_computer.jpg"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="infoItems">
                                        <ul>
                                            <li><span>磁盘：<b>1TBD</b></span></li>
                                            <li><span>快照：<b>1TBD</b></span></li>
                                            <li><span>镜像：<b>CentOS 7.0 64位TBD</b></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lineChartsCon">
                <div style="border: 1px solid #ddd; height: 480px;">
                    <fc-line-chart>曲线图</fc-line-chart>
                </div>
            </div>
        </div>
    </div>
</div>