<ul class="slide-box">
	<li class="slide-block <%=T('lang') === 'cn' ? 'slide1' : 'slide-en1'%>"></li>
	<li class="slide-block <%=T('lang') === 'cn' ? 'slide2' : 'slide-en2'%>"></li>
	<li class="slide-block <%=T('lang') === 'cn' ? 'slide3' : 'slide-en3'%>"></li>
</ul>
<div class="slide-buttion">
	<span class="slide-active"></span>
	<span></span>
	<span></span>
</div>