<ul class="slide-box">
	<li class="slide-block slide1"></li>
	<li class="slide-block slide2"></li>
	<li class="slide-block slide3"></li>
</ul>
<div class="slide-buttion">
	<span class="slide-active"></span>
	<span></span>
	<span></span>
</div>