<h1 class="page-content-header mgb20">{{ 'MENU.ORGANIZATION_MANAGEMENT' | translate }}</h1>
<div class="mgb20" style="overflow : hidden">
    {{ 'USER_CENTER.ENTERPRISE_QUOTA_INFORMATION' | translate }}
</div>
<div class="mgb20">
    <div style="width : 14.28%;float:left">
        <div class="table-line-head" >
            vCPU  {{ 'COMMON.QUANTITY' | translate }}
        </div>
        <div style="padding : 30px 10px;border : 1px solid #ddd;">
            <div class="mgb20">
                <div class="no-nowrap" style="width:50%;float: left"> 
                    {{ 'COMMON.TOTAL' | translate }}<span class="font-green" style="font-size: 20px;padding : 0 5px" [title]="service.entResourceObj.cpuQuota||0">{{service.entResourceObj.cpuQuota||0}}</span> {{ 'COMMON.CORE' | translate }}
                </div>
                <div class="no-nowrap" style="width:50%;float: left">
                     {{ 'COMMON.REMAIN' | translate }}<span class="font-orange" style="font-size: 20px;padding : 0 5px" [title]="service.entResourceObj.cpuQuota-service.entResourceObj.realUsedCpuQuota||0">{{service.entResourceObj.cpuQuota-service.entResourceObj.realUsedCpuQuota||0}}</span> {{ 'COMMON.CORE' | translate }}
                </div>
                <div style="clear : both">
                </div>
            </div>

            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="service.entResourceObj.usedVCpuRate" aria-valuemin="0" aria-valuemax="service.entResourceObj.vcpuQuota" style="background-color:#2bd2ca" [style.width]="100-service.entResourceObj.usedCpuRate+'%'">
                    <span class="sr-only">{{service.entResourceObj.usedCpuRate+'% Complete'}}</span>
                </div>
            </div>
        </div>
    </div>

    <div style="width : 14.28%;float:left">
        <div class="table-line-head" style="border-left:none">
             {{ 'USER_CENTER.RAM_QUANTITY' | translate }}
        </div>
        <div style="padding : 30px 10px;border : 1px solid #ddd;border-left:none">
            <div class="mgb20">
                <div class="no-nowrap" style="width:50%;float: left"> 
                    {{ 'COMMON.TOTAL' | translate }}<span class="font-green" style="font-size: 20px;padding : 0 5px" [title]="service.entResourceObj.memQuota||0">{{service.entResourceObj.memQuota||0}}</span>G
                </div>
                <div class="no-nowrap" style="width:50%;float: left">
                    {{ 'COMMON.REMAIN' | translate }}<span class="font-orange" style="font-size: 20px;padding : 0 5px" [title]="service.entResourceObj.memQuota-service.entResourceObj.realUsedMemQuota||0">{{service.entResourceObj.memQuota-service.entResourceObj.realUsedMemQuota||0}}</span>G
                </div>
                <div style="clear : both">
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="background-color : #2bd2ca"  [style.width]="100-service.entResourceObj.usedMemRate+'%'">
                    <span class="sr-only">{{service.entResourceObj.usedMemRate+'% Complete'}}</span>
                </div>
            </div>
        </div>
    </div>
    <div style="width : 14.28%;float:left">
        <div class="table-line-head" style="border-left:none">
            {{ 'USER_CENTER.PHYSICAL_QUANTITY' | translate }}
        </div>
        <div style="padding : 30px 10px;border : 1px solid #ddd;border-left:none">
            <div class="mgb20">
                <div class="no-nowrap" style="width:50%;float: left"> 
                     {{ 'COMMON.TOTAL' | translate }}<span class="font-green" style="font-size: 20px;padding : 0 5px" [title]="service.entResourceObj.physicalMachineQuota||0">{{service.entResourceObj.physicalMachineQuota||0}}</span>
                </div>
                <div class="no-nowrap" style="width:50%;float: left">
                     {{ 'COMMON.REMAIN' | translate }}<span class="font-orange" style="font-size: 20px;padding : 0 5px" [title]="service.entResourceObj.physicalMachineQuota-service.entResourceObj.realUsedPhysicalMachineQuota||0">{{service.entResourceObj.physicalMachineQuota-service.entResourceObj.realUsedPhysicalMachineQuota||0}}</span>
                </div>
                <div style="clear : both">
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="background-color : #2bd2ca" [style.width]="100-service.entResourceObj.usedPhysicalMachineRate+'%'">
                    <span class="sr-only">{{service.entResourceObj.usedPhysicalMachineRate+'% Complete'}}</span>
                </div>
            </div>
        </div>
    </div><div style="width : 14.28%;float:left">
        <div class="table-line-head" style="border-left:none">
             {{ 'USER_CENTER.STORAGE_LIMIT' | translate }}
        </div>
        <div style="padding : 30px 10px;border : 1px solid #ddd;border-left:none">
            <div class="mgb20">
                <div class="no-nowrap" style="width:50%;float: left"> 
                     {{ 'COMMON.TOTAL' | translate }}<span class="font-green" style="font-size: 20px;padding : 0 5px" [title]="service.entResourceObj.storageQuota||0">{{service.entResourceObj.storageQuota||0}}</span>G
                </div>
                <div class="no-nowrap" style="width:50%;float: left">
                     {{ 'COMMON.REMAIN' | translate }}<span class="font-orange" style="font-size: 20px;padding : 0 5px" [title]="service.entResourceObj.storageQuota-service.entResourceObj.realUsedStorageQuota||0">{{service.entResourceObj.storageQuota-service.entResourceObj.realUsedStorageQuota||0}}</span>G
                </div>
                <div style="clear : both">
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="background-color : #2bd2ca"  [style.width]="100-service.entResourceObj.usedStorageRate+'%'">
                    <span class="sr-only">{{service.entResourceObj.usedStorageRate+'% Complete'}}</span>
                </div>
            </div>
        </div>
    </div><div style="width : 14.28%;float:left">
        <div class="table-line-head" style="border-left:none">
            {{ 'USER_CENTER.SNAPSHOT_QUANTITY' | translate }}
        </div>
        <div style="padding : 30px 10px;border : 1px solid #ddd;border-left:none">
            <div class="mgb20">
                <div class="no-nowrap" style="width:50%;float: left"> 
                     {{ 'COMMON.TOTAL' | translate }}<span class="font-green" style="font-size: 20px;padding : 0 5px" [title]="service.entResourceObj.snapshotQuota||0">{{service.entResourceObj.snapshotQuota||0}}</span>个
                </div>
                <div class="no-nowrap" style="width:50%;float: left">
                    {{ 'COMMON.REMAIN' | translate }}<span class="font-orange" style="font-size: 20px;padding : 0 5px" [title]="service.entResourceObj.snapshotQuota-service.entResourceObj.realUsedSnapshotQuota||0">{{service.entResourceObj.snapshotQuota-service.entResourceObj.realUsedSnapshotQuota||0}}</span>个
                </div>
                <div style="clear : both">
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="background-color : #2bd2ca" [style.width]="100-service.entResourceObj.usedSnapshotRate+'%'">
                    <span class="sr-only">{{service.entResourceObj.usedSnapshotRate+'% Complete'}}</span>
                </div>
            </div>
        </div>
    </div><div style="width : 14.28%;float:left">
        <div class="table-line-head" style="border-left:none">
            {{ 'USER_CENTER.MIRROR_QUANTITY' | translate }}
        </div>
        <div style="padding : 30px 10px;border : 1px solid #ddd;border-left:none">
            <div class="mgb20">
                <div class="no-nowrap" style="width:50%;float: left"> 
                    {{ 'COMMON.TOTAL' | translate }}<span class="font-green" style="font-size: 20px;padding : 0 5px" [title]="service.entResourceObj.imageQuota||0">{{service.entResourceObj.imageQuota||0}}</span>个
                </div>
                <div class="no-nowrap" style="width:50%;float: left">
                    {{ 'COMMON.REMAIN' | translate }}<span class="font-orange" style="font-size: 20px;padding : 0 5px" [title]="service.entResourceObj.imageQuota-service.entResourceObj.realUsedImageQuota||0">{{service.entResourceObj.imageQuota-service.entResourceObj.realUsedImageQuota||0}}</span>个
                </div>
                <div style="clear : both">
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="background-color : #2bd2ca" [style.width]="100-service.entResourceObj.usedImageRate+'%'">
                    <span class="sr-only">{{service.entResourceObj.usedImageRate+'%Complete'}}</span>
                </div>
            </div>
        </div>
    </div><div style="width : 14.28%;float:left">
        <div class="table-line-head" style="border-left:none">
            {{ 'COMMON.FLOAT' | translate }} IP {{ 'COMMON.PATH' | translate }}
        </div>
        <div style="padding : 30px 10px;border : 1px solid #ddd;border-left:none">
            <div class="mgb20">
                <div class="no-nowrap" style="width:50%;float: left"> 
                     {{ 'COMMON.TOTAL' | translate }}<span class="font-green" style="font-size: 20px;padding : 0 5px" [title]="service.entResourceObj.floatIpQuota||0">{{service.entResourceObj.floatIpQuota||0}}</span>个
                </div>
                <div class="no-nowrap" style="width:50%;float: left">
                    {{ 'COMMON.REMAIN' | translate }}<span class="font-orange" style="font-size: 20px;padding : 0 5px" [title]="service.entResourceObj.floatIpQuota-service.entResourceObj.realUsedFloatIpQuota||0">{{service.entResourceObj.floatIpQuota-service.entResourceObj.realUsedFloatIpQuota||0}}</span>个
                </div>
                <div style="clear : both">
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="background-color : #2bd2ca" [style.width]="100-service.entResourceObj.usedFloatIpRate+'%'">
                    <span class="sr-only">{{service.entResourceObj.usedFloatIpRate+'% Complete'}}</span>
                </div>
            </div>
        </div>
    </div>
    <div style="clear : both">
    </div>
</div>

<div class="mgb20" style="overflow : hidden">
    <button class="btn button-confirm float-right" (click)="openCreate()">{{ 'IMAGE.CREATED_DEPARTMENT' | translate }}</button>
</div>
<table class="table table-hover mgb20">
	<tbody><tr>
        <th class="text-center" style="width : 10%">{{ 'COMMON.SERIAL' | translate }}</th>
		<th class="text-center" style="width : 20%">{{ 'USER_CENTER.DEPARTMENT_NAME' | translate }}</th>
		<th class="text-center" style="width : 15%">{{ 'USER_CENTER.NUMBER_OF_DEPARTMENT_PERSONNEL' | translate }}</th>
		<!--<th class="text-center" style="width : 15%">{{ 'USER_CENTER.DEPARTMENT_HEAD' | translate }}</th>-->
		<th class="text-center" style="width : 10%">{{ 'COMMON.STATUS' | translate }}</th> 
		<th class="text-center" style="width : 25%">{{ 'COMMON.DESCRIPTION' | translate }}</th>
		<th class="text-center" style="width : 20%">{{ 'COMMON.OPERATION' | translate }}</th>
	</tr>
	<tr *ngFor='let organ of orgs;let idx=index'>
		<td class="text-center">{{idx+1}}</td>
		<td class="text-center active">{{organ.name}}</td>
		<td class="text-center">{{organ.headCount}}</td>
		<!--<td class="text-center">{{organ.leaderName}}</td>-->
		<td class="text-center">
             <span [ngSwitch]="organ.status">
                            <template [ngSwitchCase]="1">{{ 'COMMON.ENABLE' | translate }}</template>
                            <template [ngSwitchCase]="3">{{ 'COMMON.DISENABLED' | translate }}</template>
                            <template [ngSwitchCase]="2">{{ 'COMMON.PENDING' | translate }}</template>
                            <template [ngSwitchCase]="0">{{ 'COMMON.NOT_ENABLED' | translate }}</template>
                            <template [ngSwitchCase]="4">{{ 'COMMON.DELETED' | translate }}</template>
                            <template ngSwitchDefault>Unknown</template>
            </span>
        </td> 
		<td class="text-center">{{organ.description}}</td>
		<td >
            <div style="margin:0 anto" class="text-left">
                <span class="glyphicon glyphicon-edit font-green" (click)="statusChange(organ,'edit')" style="margin-right : 10px ; cursor:pointer"></span><!-- 编辑 -->
            <!--<span class="glyphicon glyphicon-lock font-green" style="margin-right : 10px"></span>-->
            <span  *ngIf="!organ.isDefault&&organ.status!=1" class="glyphicon glyphicon-ok-circle font-green" (click)="statusChange(organ,'start')" style="margin-right : 10px; cursor:pointer"></span> <!-- 启用 -->
            <span   *ngIf="!organ.isDefault&&organ.status!=3" class="glyphicon glyphicon-ban-circle font-orange" (click)="statusChange(organ,'disabled')" style="margin-right : 10px; cursor:pointer"></span> <!-- 禁用 -->
            <span *ngIf="((organ.headCount==0&&organ.status=='3')||organ.status=='0')&&!organ.isDefault" class="glyphicon glyphicon-trash font-orange" (click)="statusChange(organ,'delete')" style="cursor:pointer"></span> <!-- 删除 -->
            </div>            
        </td>
	</tr>
</tbody></table>

<!--<div class="modal fade" id="crModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">创建部门</h4>
	  </div>
	  <div class="modal-body"> 
          <org-mng-cr #crModel [isEdit]="isEdit" [editId]="editId"></org-mng-cr>
      </div>
	  <div class="modal-footer">
		<button type="button" class="btn button-confirm button-size-big" (click)="updata()">确定</button>
		<button type="button" class="btn btn-default button-size-big" data-dismiss="modal">取消</button>
	  </div>
	</div>
  </div>
</div>-->

<fc-popup sizeClass="modal-xl"  #creOrgPop title="{{title}}" ot="{{isEdit==false?'COMMON.CREATE':'DIALOG.SAVE' | translate }}" (of)="createOrg();" ct="{{ 'COMMON.CANCEL' | translate }}" (cf)="ccf()" >
    <div class="row row-line-height" >
         <org-mng-cr *ngIf="temporary" #crModel [isEdit]="isEdit" [editId]="editId"></org-mng-cr>    
    </div>
</fc-popup>

<fc-confirm  #confirm   title="{{confirmTitle}}"  msg="{{confirmMessage}}"  (cf)="confirmOk()"></fc-confirm>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{ 'COMMON.CONFIRM' | translate }}"></fc-notice>