<div>
    <table class="cm-table-left">
        <tbody>
            <tr>
                <th class="col-md-1 col-xs-3 text-center">{{ 'VM_INSTANCE.BASIC_INFORMATION' | translate }}</th>
                <td>
                    <form #orgForm="ngForm"  (ngSubmit)="save(heroForm)">
                        <div class="col-md-12 no-padding mgb15" style="line-height : 35px">
                            <div class="col-md-3 content-title" style="text-align : center"><span class="asterisk">*</span>{{ 'USER_CENTER.DEPARTMENT_NAME' | translate }}</div>
                            <div class="col-md-8 no-padding" [ngClass]="{'has-error': name.errors && (name.dirty || name.touched)}">
                                <input class="form-control" [disabled]="org.isDefault" placeholder="{{ 'USER_CENTER.PLEASE_ENTER_THE_DEPARTMENT_NAME' | translate }}" type="text" [(ngModel)]="org.name" required minlength="2" maxlength="20" name="name" id="name" #name='ngModel'pattern="(^[a-zA-Z\u4e00-\u9fa5-_\d]*$)">
                                <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
                                    <div [hidden]="!name.errors.required">
                                        {{ 'USER_CENTER.DEPARTMENT_NAME_CANNOT_BE_EMPTY' | translate }}
                                    </div>
                                    <div [hidden]="!name.errors.minlength">
                                        长度大于2的字符
                                    </div>
                                    <div [hidden]="!name.errors.maxlength">
                                        长度小于20的字符
                                    </div>
                                    <div [hidden]="!name.errors.pattern">
                                        不能输入特殊字符
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div *ngIf="false" class="col-md-12 no-padding mgb15" style="height : 35px ; line-height : 35px">
                            <div class="col-md-3 content-title" style="text-align : center"><span class="asterisk">*</span>部门负责人</div>
                            <div class="col-md-8 no-padding">
                                <select class="form-control" [(ngModel)]="org.leaderId" name="leaderId">
                                <option *ngFor="let item of users;" [value]="item.id">{{item.userName}}</option>
                            </select>
                            </div>
                        </div>-->
                    </form>
                    <!--<div class="col-md-12 no-padding" *ngIf="false" style=" line-height : 35px">
                        <div class="col-md-3 content-title" style="text-align : center">部门成员</div>
                        <div class="col-md-8 no-padding">
                            <label class="checkbox-inline" style="margin-left : 0;margin-right : 20px;margin-bottom : 10px" *ngFor="let member of service.members">
                                <input type="checkbox"  class="fox-cloud-checkbox" id="inlineCheckbox1" value="membe.id"  (click)="selectMember(member)"/> {{member.userName}}
                            </label>
                        </div>
                    </div>-->

                    <!--<div class="col-md-12 no-padding mgb15" style="height : 35px ; line-height : 35px">
                    <div class="col-md-2 content-title" style="text-align : center"></div>
                    <div class="col-md-8 no-padding">
                        <span class="font-green">更多>>></span>
                    </div>
                </div>-->
                </td>
            </tr>           
            <tr>
                    <th class="col-md-1 col-xs-3 text-center"> {{ 'USER_CENTER.QUOTA_SETTING' | translate }}</th>
                <td>
                    <div style="border:1px solid #ddd;border-bottom:none">
                        <div class="col-md-12  bg-gray " style="line-height : 18px; border-bottom:1px solid #ddd;padding-top: 15px; padding-bottom: 15px;">
                            <div class="col-md-3 content-title" style="text-align : center"></div>
                            <div class="col-md-3 content-title" style="text-align : center">
                                {{ 'USER_CENTER.DEPARTMENTAL_QUOTA' | translate }}
                            </div>
                            <div class="col-md-3 content-title" style="text-align : center">{{ 'USER_CENTER.DEPARTMENT_HAS_USED_THE_AMOUNT' | translate }}</div>
                            <div class="col-md-3 content-title" style="text-align : center">{{ 'USER_CENTER.ENTERPRISES_CAN_ALLOCATE_THE_AMOUNT' | translate }}</div>
                        </div>

                        <div class="col-md-12 no-padding " style="height : 50px ; line-height : 49px; border-bottom:1px solid #ddd">
                            <div class="col-md-3 content-title bg-gray" style="text-align : center ;border-right:1px solid #ddd">vCPU {{ 'COMMON.QUANTITY' | translate }}( {{ 'COMMON.CORE' | translate }} )</div>
                            <div class="col-md-3 content-title" style="text-align : center ;margin-top:7px">
                                <count-bar [default]=0 [step]=1 [max]="maxAvailable.vcpu" [min]="resource.usedCpu||0" [disabled]=false [value]="resource.vcpu||0" (output)="outputValue($event,'vcpu','cpuQuota')"></count-bar>
                            </div>
                            <div class="col-md-3 content-title" style="text-align : center">{{resource.usedCpu||0}}</div>
                            <div class="col-md-3 content-title" style="text-align : center">{{countAvailable.cpuQuota||0}}</div>
                        </div>
                        <div class="col-md-12 no-padding " style="height : 50px ; line-height : 49px; border-bottom:1px solid #ddd">
                            <div class="col-md-3 content-title bg-gray" style="text-align : center ;border-right:1px solid #ddd">{{ 'USER_CENTER.RAM_QUANTITY' | translate }} (GB)</div>
                            <div class="col-md-3 content-title" style="text-align : center ;margin-top:7px">
                                <count-bar [default]=0 [step]=0.5 [decimal]="true" [max]="maxAvailable.mem" [min]="resource.usedMem||0" [disabled]=false [value]="resource.mem||0" (output)="outputValue($event,'mem','memQuota')"></count-bar>
                            </div>
                            <div class="col-md-3 content-title" style="text-align : center">{{resource.usedMem||0}}</div>
                            <div class="col-md-3 content-title" style="text-align : center">{{countAvailable.memQuota||0}}</div>
                        </div>
                        <div class="col-md-12 no-padding " style="height : 50px ; line-height : 49px; border-bottom:1px solid #ddd">
                            <div class="col-md-3 content-title bg-gray" style="text-align : center ;border-right:1px solid #ddd">{{ 'USER_CENTER.PHYSICAL_QUANTITY' | translate }}</div>
                            <div class="col-md-3 content-title" style="text-align : center ;margin-top:7px">
                                <count-bar [default]=0 [step]=1 [max]="maxAvailable.physical" [min]="resource.usedPhysical||0" [disabled]=false [value]="resource.physical||0" (output)="outputValue($event,'physical','physicalMachineQuota')"></count-bar>
                            </div>
                            <div class="col-md-3 content-title" style="text-align : center">{{resource.usedPhysical||0}}</div>
                            <div class="col-md-3 content-title" style="text-align : center">{{countAvailable.physicalMachineQuota||0}}</div>
                        </div>
                        <div class="col-md-12 no-padding " style="height : 50px ; line-height : 49px; border-bottom:1px solid #ddd">
                            <div class="col-md-3 content-title bg-gray" style="text-align : center ;border-right:1px solid #ddd">{{ 'USER_CENTER.STORAGE_LIMIT' | translate }}(GB)</div>
                            <div class="col-md-3 content-title" style="text-align : center ;margin-top:7px">
                                <count-bar [default]=0 [step]=1 [max]="maxAvailable.storage" [min]="resource.usedStorage||0" [disabled]=false [value]="resource.storage||0" (output)="outputValue($event,'storage','storageQuota')"></count-bar>
                            </div>
                            <div class="col-md-3 content-title" style="text-align : center">{{resource.usedStorage||0}}</div>
                            <div class="col-md-3 content-title" style="text-align : center">{{countAvailable.storageQuota||0}}</div>
                        </div>
                        <div class="col-md-12 no-padding " style="height : 50px ; line-height : 49px; border-bottom:1px solid #ddd">
                            <div class="col-md-3 content-title bg-gray" style="text-align : center ;border-right:1px solid #ddd">{{ 'USER_CENTER.SNAPSHOT_QUANTITY' | translate }}</div>
                            <div class="col-md-3 content-title" style="text-align : center ;margin-top:7px">
                                <count-bar [default]=0 [step]=1 [max]="maxAvailable.snapshot" [min]="resource.usedSnapshot||0" [disabled]=false [value]="resource.snapshot||0" (output)="outputValue($event,'snapshot','snapshotQuota')"></count-bar>
                            </div>
                            <div class="col-md-3 content-title" style="text-align : center">{{resource.usedSnapshot||0}}</div>
                            <div class="col-md-3 content-title" style="text-align : center">{{countAvailable.snapshotQuota||0}}</div>
                        </div>
                        <div class="col-md-12 no-padding " style="height : 50px ; line-height : 49px; border-bottom:1px solid #ddd">
                            <div class="col-md-3 content-title bg-gray" style="text-align : center ;border-right:1px solid #ddd">{{ 'USER_CENTER.MIRROR_QUANTITY' | translate }}</div>
                            <div class="col-md-3 content-title" style="text-align : center ;margin-top:7px">
                                <count-bar [default]=0 [step]=1 [max]="maxAvailable.image" [min]="resource.usedImage||0" [disabled]=false [value]="resource.image||0" (output)="outputValue($event,'image','imageQuota')"></count-bar>
                            </div>
                            <div class="col-md-3 content-title" style="text-align : center">{{resource.usedImage||0}}</div>
                            <div class="col-md-3 content-title" style="text-align : center">{{countAvailable.imageQuota||0}}</div>
                        </div>
                        <div class="col-md-12 no-padding " style="height : 50px ; line-height : 49px; border-bottom:1px solid #ddd">
                            <div class="col-md-3 content-title bg-gray" style="text-align : center ;border-right:1px solid #ddd">{{ 'COMMON.FLOAT' | translate }} IP {{ 'COMMON.PATH' | translate }}</div>
                            <div class="col-md-3 content-title" style="text-align : center ;margin-top:7px">
                                <count-bar [default]=0 [step]=1 [max]="maxAvailable.ipaddress" [min]="resource.usedIpaddress||0" [disabled]=false [value]="resource.ipaddress||0" (output)="outputValue($event,'ipaddress','floatIpQuota')"></count-bar>
                            </div>
                            <div class="col-md-3 content-title" style="text-align : center">{{resource.usedIpaddress||0}}</div>
                            <div class="col-md-3 content-title" style="text-align : center">{{countAvailable.floatIpQuota||0}}</div>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>