<h1 class="page-content-header mgb20">组织管理</h1>
<div class="mgb20" style="overflow : hidden">
    企业配额信息：最大配额/可用额度
</div>
<div class="mgb20">
    <div style="width : 14.28%;float:left">
        <div class="table-line-head" >
            vCPU数量
        </div>
        <div style="padding : 30px 20px;border : 1px solid #ddd;">
            <div class="mgb20">
                <div style="float : left"> 
                    共<span class="font-green" style="font-size: 20px;padding : 0 5px">{{entResourceObj.vcpuQuota||0}}</span>台
                </div>
                <div style="float : right">
                    剩余<span class="font-orange" style="font-size: 20px;padding : 0 5px">{{entResourceObj.vcpuQuota-entResourceObj.usedVCpuRate||0}}</span>台
                </div>
                <div style="clear : both">
                </div>
            </div>

            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="entResourceObj.usedVCpuRate" aria-valuemin="0" aria-valuemax="entResourceObj.vcpuQuota" style="width: 50%;background-color : #2bd2ca">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
        </div>
    </div>

    <div style="width : 14.28%;float:left">
        <div class="table-line-head" style="border-left:none">
            内存数量
        </div>
        <div style="padding : 30px 20px;border : 1px solid #ddd;border-left:none">
            <div class="mgb20">
                <div style="float : left"> 
                    共<span class="font-green" style="font-size: 20px;padding : 0 5px">{{entResourceObj.memQuota||0}}</span>台
                </div>
                <div style="float : right">
                    剩余<span class="font-orange" style="font-size: 20px;padding : 0 5px">{{entResourceObj.memQuota-entResourceObj.usedMemRate||0}}</span>台
                </div>
                <div style="clear : both">
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;background-color : #2bd2ca">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
        </div>
    </div>
    <div style="width : 14.28%;float:left">
        <div class="table-line-head" style="border-left:none">
            物理机数量
        </div>
        <div style="padding : 30px 20px;border : 1px solid #ddd;border-left:none">
            <div class="mgb20">
                <div style="float : left"> 
                    共<span class="font-green" style="font-size: 20px;padding : 0 5px">{{entResourceObj.physicalMachineQuota||0}}</span>台
                </div>
                <div style="float : right">
                    剩余<span class="font-orange" style="font-size: 20px;padding : 0 5px">{{entResourceObj.memQuota-entResourceObj.usedMemRate||0}}</span>台
                </div>
                <div style="clear : both">
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;background-color : #2bd2ca">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
        </div>
    </div><div style="width : 14.28%;float:left">
        <div class="table-line-head" style="border-left:none">
            存储额度
        </div>
        <div style="padding : 30px 20px;border : 1px solid #ddd;border-left:none">
            <div class="mgb20">
                <div style="float : left"> 
                    共<span class="font-green" style="font-size: 20px;padding : 0 5px">{{entResourceObj.storageQuota||0}}</span>台
                </div>
                <div style="float : right">
                    剩余<span class="font-orange" style="font-size: 20px;padding : 0 5px">{{entResourceObj.storageQuota-entResourceObj.usedStorageQuota||0}}</span>台
                </div>
                <div style="clear : both">
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;background-color : #2bd2ca">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
        </div>
    </div><div style="width : 14.28%;float:left">
        <div class="table-line-head" style="border-left:none">
            快照数量
        </div>
        <div style="padding : 30px 20px;border : 1px solid #ddd;border-left:none">
            <div class="mgb20">
                <div style="float : left"> 
                    共<span class="font-green" style="font-size: 20px;padding : 0 5px">{{entResourceObj.snapshotQuota||0}}</span>台
                </div>
                <div style="float : right">
                    剩余<span class="font-orange" style="font-size: 20px;padding : 0 5px">{{entResourceObj.snapshotQuota-entResourceObj.usedMemRate||0}}</span>台
                </div>
                <div style="clear : both">
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;background-color : #2bd2ca">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
        </div>
    </div><div style="width : 14.28%;float:left">
        <div class="table-line-head" style="border-left:none">
            镜像数量
        </div>
        <div style="padding : 30px 20px;border : 1px solid #ddd;border-left:none">
            <div class="mgb20">
                <div style="float : left"> 
                    共<span class="font-green" style="font-size: 20px;padding : 0 5px">{{entResourceObj.imageQuota||0}}</span>台
                </div>
                <div style="float : right">
                    剩余<span class="font-orange" style="font-size: 20px;padding : 0 5px">{{entResourceObj.memQuota-entResourceObj.usedMemRate||0}}</span>台
                </div>
                <div style="clear : both">
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;background-color : #2bd2ca">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
        </div>
    </div><div style="width : 14.28%;float:left">
        <div class="table-line-head" style="border-left:none">
            浮动IP地址
        </div>
        <div style="padding : 30px 20px;border : 1px solid #ddd;border-left:none">
            <div class="mgb20">
                <div style="float : left"> 
                    共<span class="font-green" style="font-size: 20px;padding : 0 5px">{{entResourceObj.floatIpQuota||0}}</span>台
                </div>
                <div style="float : right">
                    剩余<span class="font-orange" style="font-size: 20px;padding : 0 5px">{{entResourceObj.floatIpQuota-entResourceObj.usedMemRate||0}}</span>台
                </div>
                <div style="clear : both">
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;background-color : #2bd2ca">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
        </div>
    </div>
    <div style="clear : both">
    </div>
</div>

<div class="mgb20" style="overflow : hidden">
    <button class="btn button-confirm float-right" (click)="openCreate()">创建部门</button>
</div>

<table class="table table-hover mgb20">
	<tbody><tr>
		<th class="text-center" style="width : 10%">选择</th>
		<th class="text-center" style="width : 10%">部门名称</th>
		<th class="text-center" style="width : 15%">部门人员数量</th>
		<th class="text-center" style="width : 10%">部门负责人</th>
		<th class="text-center" style="width : 10%">状态</th> 
		<th class="text-center" style="width : 10%">描述</th>
		<th class="text-center" style="width : 25%">操作</th>
	</tr>
	<tr *ngFor='let organ of orgs;let idx=index'>
		<td class="text-center"><input name="host-list" type="radio" class="fox-cloud-radio"></td>
		<td class="text-center active">{{organ.name}}</td>
		<td class="text-center">{{organ.headCount}}</td>
		<td class="text-center">{{organ.leaderName}}</td>
		<td class="text-center">{{organ.status}}</td> 
		<td class="text-center">{{organ.describtion}}</td>
		<td class="text-center">
            <span class="glyphicon glyphicon-edit font-green" (click)="statusChange(organ,'edit')" style="margin-right : 10px ; cursor:pointer"></span><!-- 编辑 -->
            <!--<span class="glyphicon glyphicon-lock font-green" style="margin-right : 10px"></span>-->
            <span class="glyphicon glyphicon-ok-circle font-green" (click)="statusChange(organ,'start')" style="margin-right : 10px; cursor:pointer"></span> <!-- 启用 -->
            <span class="glyphicon glyphicon-ban-circle font-orange" (click)="statusChange(organ,'disabled')" style="margin-right : 10px; cursor:pointer"></span> <!-- 禁用 -->
            <span class="glyphicon glyphicon-trash font-orange" (click)="statusChange(organ,'delete')" style="cursor:pointer"></span> <!-- 删除 -->
        </td>
	</tr>
</tbody></table>

<!--<div class="modal fade" id="crModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">创建部门</h4>
	  </div>
	  <div class="modal-body"> 
          <org-mng-cr #crModel [isEdit]="isEdit" [editId]="editId"></org-mng-cr>
      </div>
	  <div class="modal-footer">
		<button type="button" class="btn button-confirm button-size-big" (click)="updata()">确定</button>
		<button type="button" class="btn btn-default button-size-big" data-dismiss="modal">取消</button>
	  </div>
	</div>

  </div>
</div>-->
<fc-popup  #creOrgPop title="{{title}}" ot="{{isEdit==false?'创建':'保存'}}" (of)="createOrg();" ct="取消" (cf)="ccf()">
    <div class="row row-line-height">
         <org-mng-cr *ngIf="temporary" #crModel [isEdit]="isEdit" [editId]="editId"></org-mng-cr>    
    </div>
</fc-popup>

<fc-confirm  #confirm   title="{{confirmTitle}}"  msg="{{confirmMessage}}"  (cf)="confirmOk()"></fc-confirm>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="确认"></fc-notice>

