<div class="page-content mgmt-list">
	<h1 class="page-content-header mgb20">管理服务列表</h1>

    <div class="col-md-12 no-padding mgb20">
        <div class="float-left mgr10 search-name">
            服务状态
        </div>

        <div class="float-left mgr20 btn-group" data-toggle="buttons">
            <label 
                *ngFor="let value of service.status | async"
                (click)="listQuery.state = value.value; fetchMgmtList()"
                class="btn btn-default" [ngClass]="{'active': listQuery.state === value.value}"> 
                <input type="radio" name="status" autocomplete="off" value="{{value.value}}"> {{ value.displayValue }}
            </label>
        </div>
        <div class="float-left mgr10 search-name">
            管理服务名称
        </div>
        <div class="dropdown float-left col-md-1 no-padding mgr20 ">
            <select class="form-control" [(ngModel)]="listQuery.name">
                <option value="">请选择</option>
                <option
                 *ngFor="let v of productList; let i = index;"
                 [ngValue]="v.name" >{{ v.name }}</option>
            </select>
        </div>
        <div class="float-left mgr10 search-name">
            服务对象
        </div>
        <div class="dropdown float-left col-md-1 no-padding mgr20 ">
            <select class="form-control" [(ngModel)]="listQuery.serviceObjectType">
                <option value="">请选择</option>
                <option
                 *ngFor="let v of service.type | async; let i = index;"
                 [ngValue]="v.value" >{{ v.displayValue }}</option>
            </select>
        </div>
        <div class="float-left mgr10 search-name">
            实例名称
        </div>
        <div class="input-group col-md-2 float-left mgr10">
            <input class="form-control" type="email" [(ngModel)]="listQuery.instanceName" placeholder="输入信息快速搜索">
            <div class="input-group-addon"  (click)="fetchMgmtList()"><span class="glyphicon glyphicon-search"></span></div>
        </div>
        <div class="input-group float-left">
            <button (click)="resetSearch()" class="btn button-gray-gradient"><span class="glyphicon glyphicon-repeat"></span>{{'COMMON.RESET_SEARCH' | translate}}</button>
        </div>
    </div>
    <div class="col-md-12 no-padding mgb20">
        <button class="btn float-left mgr5 btn-primary" (click)="goTo('cloud-host-service/management-services-order')"><i class="glyphicon glyphicon-plus"></i> 购买管理服务</button>
        <unsubscribe #unsubscribe title="管理服务退订" (onSuccess)="fetchMgmtList()" [subid]="radioSelected?.superviseInstanceId"></unsubscribe>
        <button (click)="unsubscribe.open()" class="btn float-left mgr5 btn-danger"><i class="glyphicon glyphicon-trash"></i> 退订管理服务</button>
    </div>
    <table class="table table-hover">
        <tr>
            <th class="text-center"></th>
            <th class="text-center">编号</th>
            <th class="text-center">管理服务名称</th>
            <th class="text-center">服务对象</th>
            <th class="text-center">实例ID/实例名称</th>
            <th class="text-center">所在区域</th>
            <th class="text-center">服务类型</th>
            <th class="text-center">服务状态</th>
        </tr>
        <tr *ngFor="let mgmt of mgmtList;let i = index">
            <td class="text-center"> <input type="radio" class="fox-cloud-radio" (change)="radioSelected=mgmt;" name="disk-list" id="mgmt_radio_{{mgmt.serviceId}}"></td>
            <td class="text-center">{{i+1}}</td>
            <td class="text-center active"> <a href="javascript:" (click)="openDetail(mgmt.serviceId)">{{mgmt.serviceName}}</a></td>
            <td class="text-center">{{mgmt.serviceObjectCode | dict: service.type | async}}</td>
            <td class="text-center">{{mgmt.instance?.instanceId}}/{{mgmt.instance?.instanceName}}</td>
            <td class="text-center">{{mgmt.zoneId}}</td>
            <td class="text-center">{{mgmt.serviceType | dict: service.period | async}}</td>
            <td class="text-center">{{mgmt.serviceStatus | dict: service.status | async}}</td>
        </tr>
    </table>

    <!-- <fc-pagination tp={{list.pageParameter.totalPage}} (pf)="changePage($event)"></fc-pagination> -->
</div>
<fc-confirm #confirm title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalAction(1)" ct="{{modalCancelTitle}}" (cf)="modalAction(0)"></fc-confirm>
<fc-notice #notice title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalAction(0)"></fc-notice>
<fc-popup #popup (cf)="popupCf()" sizeClass="big-dialog" (of)="popupOf()">
    <h5 class="service-title">基本信息</h5>
    <table class="table table-bordered service-info mgb20">
        <tr>
            <td>管理服务名称</td>
            <td>{{mgmt?.serviceName}}</td>
            <td>服务类型</td>
            <td>{{mgmt?.serviceType | dict: service.period | async}}</td>
        </tr>
        <tr>
            <td>服务对象</td>
            <td>{{mgmt?.serviceInstanceType | dict: service.type | async}}</td>
            <td>服务状态</td>
            <td>{{mgmt?.serviceState | dict: service.status | async}}</td>
        </tr>
        <tr>
            <td>实例ID</td>
            <td>{{mgmt?.instnceId}}</td>
            <td>服务开始时间</td>
            <td>{{mgmt?.startDate}}</td>
        </tr>
        <tr>
            <td>实例名称</td>
            <td>{{mgmt?.instanceName}}</td>
            <td>服务结束时间</td>
            <td>{{mgmt?.endDate}}</td>
        </tr>
        <tr>
            <td>所在区域</td>
            <td>{{mgmt?.regionZone}}</td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <h5 class="service-title">备注信息</h5>
    <div class="comments">{{mgmt?.comments}}</div>
    <h5 class="service-title">服务跟进信息</h5>
    <table class="table table-hover table-boder-top-none table-all-boder">
        <tr>
            <th>跟进信息</th>
            <th>处理人</th>
            <th>处理日期</th>
        </tr>
        <tr *ngFor="let item of mgmt?.serviceHisItems">
            <td class="text-center">{{item.message}}</td>
            <td class="text-center">{{item.creater}}</td>
            <td class="text-center">{{item.serviceTime}}</td>
        </tr>
    </table>
</fc-popup>
