<div class="page-content mngm_service_order cloud_host_order">
	<div class="col-md-9">
		<h1 (click)="payLoadFormat()" class="page-content-header">订购管理服务</h1>
		<ul class="left-box">
			<li>
				<div class="col-md-1 li-title">
					<p>服务名称</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-3">
						<select [(ngModel)]="product" (ngModelChange)="dux.dispatch('PRODUCT');" class="form-control">
							<option *ngFor="let value of productList;" [ngValue]="value">{{ value.name }}</option>
						</select>
					</div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">
					<p>服务描述</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-10 pdl15">
						{{productInfo?.desc}}
					</div>
				</div>
			</li>
			
		</ul>
	</div>
	<div class="col-md-3 no-padding right-box">
		<cart-button #cartButton></cart-button>
		<div class="col-md-12 content-box">
		
			<div class="col-md-12 colud-order-button">
				<div class="col-md-6">
					<button (click)="buyNow()" class="btn button-orange-deep">{{'COMMON.BUY_NOW'|translate}}</button>
				</div>
				<div class="col-md-6">
					<button (click)="addCart()" class="btn button-orange-light">{{'COMMON.ADD_TO_SHOPPING_CART'|translate}}</button>
				</div>
			</div>
		</div>
	</div>
</div>
<fc-notice #notice title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalAction(0)"></fc-notice>
