<div class="page-content cloud_mirror">
    <div class="col-md-12 no-padding">
        <h1 class="page-content-header">{{'COMMON.MIRROR' | translate}}</h1>
        <ul class="left-box-mirror" style="margin-bottom:20px;">
            <li>
                <div class="col-md-2 li-title">
                    <p><br>{{'IMAGE.AREA_LIST' | translate}}</p>
                </div>
                <div class="col-md-12 li-content">
                    <div class="col-md-12 btn-group" data-toggle="buttons">
                        <label class="btn btn-default fix-width-140 mgt5" [ngClass]="{'active':queryOpt.areaList == ''}" (click)="queryOpt.areaId=''">
                            <input type="radio" name="location" [checked]="queryOpt.areaList == ''" autocomplete="off"> {{'COMMON.ALL' | translate}}
                        </label>
                        <label *ngFor="let area of areaList;" class="btn btn-default fix-width-140 mgt5" title="{{area.name}}" [ngClass]="{'active':queryOpt.areaId == area.id}" (click)="queryOpt.areaId = area.id;">
                            <input type="radio" name="location" autocomplete="off" [checked]="queryOpt.areaList == area.id">{{area.name}}
                        </label>
                    </div>
                </div>
            </li>
            <!--<li>
                <div class="col-md-2 li-title">
                    <p><br>{{'IMAGE.IMAGE_ATTRIBUTION' | translate}}</p>
                </div>
                <div class="col-md-12 li-content">
                    <div class="col-md-12 btn-group" data-toggle="buttons">
                        <label class="btn btn-default fix-width-140 mgt5" [ngClass]="{'active':queryOpt.imageOwner == ''}" (click)="queryOpt.imageOwner=''">
                            <input type="radio" name="location" checked="checked" autocomplete="off"> {{'COMMON.ALL' | translate}}
                        </label>
                        <label *ngFor="let o of this.service.ownerDic | async;" class="btn btn-default fix-width-140 mgt5" title="{{o.displayValue}}" [ngClass]="{'active':queryOpt.imageOwner == o.value}" (click)="queryOpt.imageOwner = o.value">
                            <input type="radio" name="owner" autocomplete="off" [checked]="queryOpt.imageOwner == o.value" /> {{o.displayValue}}
                        </label>
                    </div>
                </div>
            </li>-->
        </ul>

        <div class="pull-left row" style="margin-bottom:20px;">
            <!--<div class="col-md-1 text-right pdt10">
                <span>{{'IMAGE.IMAGE_NAME' | translate}} :</span>
            </div>
            <div class="input-group col-md-2 float-left">
                <input class="form-control" placeholder="{{'IMAGE.ENETR_IMAGE_NAME_TO_SEARCH' | translate}}" [(ngModel)]="queryOpt.imageName">
                
                <div class="input-group-addon"(click)="search()">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
            </div>

            <div class="col-md-1  text-right pdt10">
                <span >{{'IMAGE.OPERATING_SYSTEM' | translate}} :</span>
            </div>
            <div class="col-md-2">
                <select class="form-control" [(ngModel)]="queryOpt.os">
                    <option [value]="" value="">{{'COMMON.ALL' | translate}}</option>
                    <option *ngFor="let os of this.service.osDic | async;" [value]="os.value">{{os.displayValue}}</option>
                </select>
            </div>-->

            <div class="col-md-2">
                <select class="form-control" [(ngModel)]="searchWay">
                    <option [value]=0><span>{{'IMAGE.IMAGE_NAME' | translate}}</span></option>
                    <option [value]=1><span >{{'IMAGE.OPERATING_SYSTEM' | translate}} </span></option>
                </select>
            </div>
            
            <div class="input-group col-md-2 float-left">
                <div *ngIf="searchWay==0">
                    <input class="form-control" placeholder="{{'IMAGE.ENETR_IMAGE_NAME_TO_SEARCH' | translate}}" [(ngModel)]="queryOpt.imageName">
                </div>
                <div *ngIf="searchWay==1">
                    <select class="form-control" [(ngModel)]="queryOpt.os">
                        <option [value]="" value="">{{'COMMON.ALL' | translate}}</option>
                        <option *ngFor="let os of this.service.osDic | async;" [value]="os.value">{{os.displayValue}}</option>
                    </select>
                </div>
                <div class="input-group-addon"(click)="search()">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
            </div>
                <!--<span class="float-left" style="margin-left:10px;margin-top:6px;">状态 :</span>
                <div class="col-md-2 float-left">
                    <select class="form-control" [(ngModel)]="queryOpt.status">
                        <option [value]="" value="">所有</option>
                        <option *ngFor="let stauts of this.service.statusDic | async" [value]="stauts.value">{{stauts.displayValue}}</option>
                    </select>
                </div>-->
            <!--<div class="col-md-1  text-right pdt10">
                <span>{{'IMAGE.IMAGE_TYPE' | translate}} :</span>
            </div>
                <div class="col-md-2">
                    <select class="form-control" [(ngModel)]="queryOpt.imageType">
                        <option [value]="" value="">{{'COMMON.ALL' | translate}}</option>
                        <option *ngFor="let type of this.service.typeDic | async;" [value]="type.value">{{type.displayValue}}</option>
                    </select>
                </div>

                <button class="btn button-gray-gradient" (click)="search()"><span class="glyphicon glyphicon-search"></span> {{'IMAGE.SIMPLE_SEARCH' | translate}}</button>
                <button class="btn button-gray-gradient" (click)="resetQueryOpt()"><span class="glyphicon glyphicon-repeat"></span> {{'IMAGE.RESET_OPTIONS' | translate}}</button>
                <!--<button class="btn button-gray-gradient pull-right" style="margin-right:15px;">
                    <span class="icon icon-link"></span> 相关实例
                </button>
                
            -->
        </div>
        <table class="table table-hover mgb20">
            <tr>
                <th class="text-center" style="width:47px">{{'IMAGE.CHOOSE' | translate}}</th>
                <th class="text-center">{{'IMAGE.IMAGE_NAME' | translate}}</th>
                <!--<th class="text-center">{{'IMAGE.IMAGE_TYPE' | translate}}</th>-->
                <th class="text-center">{{'IMAGE.OPERATING_SYSTEM' | translate}}</th>
                <th class="text-center">{{'IMAGE.SYSTEM_BITS' | translate}}</th>
                <th class="text-center">{{'IMAGE.IMAGE_CAPACITY'| translate}}</th>  <!--新增镜像容量，删除状态列-->
                <th class="text-center">{{'IMAGE.FOUNDER'| translate}}</th>
                <th class="text-center">{{'IMAGE.CREATED_DEPARTMENT'| translate}}</th>
                <th class="text-center">{{'COMMON.CREATED_TIME'| translate}}</th>
                <th class="text-center">{{'IMAGE.STATUS'| translate}}</th>
                <th class="text-center"style="width:150px">{{'COMMON.DESCRIPTION'| translate}}</th>
                <th class="text-center">{{'COMMON.OPERATION'| translate}}</th>
            </tr>
            <tr *ngFor="let image of images">
                <td class="text-center">
                    <input type="radio" class="fox-cloud-radio" name="group-image" [checked]="image.selected" (change)="image.selected = $event.target.checked" />
                </td>
                <!--<td class="text-center" style="word-wrap:break-word">{{image.name}} -->
                <td class="text-center" style="position:relative">{{image.name}} 
                    <span class="pull-right icon-edit2" style="padding: 10px 10px" (click)="openEidtDisplayName(image);image.nameEditing=true;"></span>
                    <div *ngIf="image.nameEditing"class="popover fade bottom in" role="tooltip" style="position:absolute;top:30px; left:10px; width:400px; max-width:1100px; display: block;z-index:50">
                            <div class="arrow" style="left: 40%;"></div>
                            <div class="popover-content">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"style="font-weight:700">{{'IMAGE.IMAGE_NAME' | translate}}:</label>
                                        <div class="col-sm-8 float-left">
                                            <input type="text"  class="form-control"[(ngModel)]="temp2.name" name ="name">
                                            <div>{{'IMAGE.NOTICE1' | translate}}</div>
                                        </div>
                                        
                                    </div>
                                </form>
                            <div class="pull-right" style="margin-bottom:10px;">
                                <button class="fox-cloud-button fox-cloud-button-white"(click)="image.nameEditing=false;">{{'DIALOG.CLOSE'|translate}}</button>
                                <button class=" fox-cloud-button fox-cloud-button-white"(click)="updateImageName()">{{'DIALOG.SAVE'|translate}}</button>
                            
                            </div>
                            </div>
                    </div>
                </td>
                <!--<td class="text-center">
                    {{image.type | dict:this.service.typeDic | async}}
                </td>-->
                <td class="text-center">{{image.os | dict:this.service.osDic | async}}</td>
                <td class="text-center">
                    {{image.bits | dict:this.service.bitDic | async}}
                </td>
                <td class="text-center">{{ image.capacity | formatCapacity}}</td>
                <td class="text-center" style="word-wrap:break-word">{{image.creatorName}}</td>
                <td class="text-center" style="word-wrap:break-word">{{image.orgName}}</td>
                <td class="text-center">{{image.createTime}} </td>
                <!--<td class="text-center">{{image.progress}}%</td>-->
                <td class="text-center" [ngClass]="{'font-green':image.status=='0','font-green':image.status=='1','font-orange':image.status=='2'}">
                    {{image.status | dict:this.service.statusDic | async}} 
                </td>
                <td class="text-center " style="word-wrap:break-word">{{image.description}}</td>
                <td class="text-center">
                    <!--<div *ngIf="image.type !=0">-->
                        <span class="icon icon-edit2 pointer" (click)="openEidtPanel(image);" style="padding: 1px 10px"></span>
                        <span class="icon icon-enable pointer" (click)="endisable(image,'1');"style="padding: 1px 10px"></span>
                        <span class="icon icon-disable pointer" (click)="endisable(image,'2');"style="padding: 1px 10px"></span>
                        <span class="icon icon-delete3 pointer" (click)="deleteImage(image);" style="padding: 1px 10px"></span>
                    <!--</div>-->
                </td>
            </tr>
        </table>
        <div class="fox-cloud-pagination-container">
            <fc-pagination #pager tp={{totalPage}} (pf)="getImageList($event)"></fc-pagination>
        </div>
        <fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'DIALOG.CONFIRM'|translate}}"></fc-notice>
        <fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'DIALOG.CONFIRM'|translate}}" ct="{{'DIALOG.CANCEL'|translate}}"></fc-confirm>

    </div>
</div>

<fc-popup #editPopup title="{{title}}" ot="{{'DIALOG.SAVE'|translate}}" (of)="updateImage();" ct="{{'DIALOG.CLOSE'|translate}}" (cf)="ccf()">
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'IMAGE.CUSTOM_IMAGE_NAME'| translate}}:</div>
            <div class="col-sm-7">
                <input type="text" class="form-control" placeholder="" [(ngModel)]="editImage.name">
                <div>{{'COMMON.SET_NAME_FORMAT'| translate}}</div>
            </div>
        </div>
    </div>
    <!--<div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'IMAGE.CUSTOM_IMAGE_APPLICATION_RANGE'| translate}}:</div>
            <div class="col-sm-7 " style="line-height:34px">
                <label *ngFor="let o of ownerDic;" class="pdr10">
                    <input class="fox-cloud-radio" [checked]="editImage.imageOwner==o.value" type="radio" name="editImage.imageOwner" (change)="editImage.imageOwner = o.value">
                </label>
            </div>

        </div>
    </div>-->
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title">{{'IMAGE.OPERATING_SYSTEM' | translate}}:</div>
            <div class="col-sm-7">
                <div>{{(editImage.os | dict:this.service.osDic | async )||"未知"}}</div>
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title">{{'IMAGE.SYSTEM_BITS' | translate}}:</div>
            <div class="col-sm-7">
                <div>{{(editImage.bits | dict:this.service.bitDic | async)||"未知"}}</div>
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title">{{'IMAGE.CUSTOM_IMAGE_DESCRIPTION'| translate}}:</div>
            <div class="col-sm-7">
                <textarea class="form-control" rows="3" [(ngModel)]="editImage.description"></textarea>
                <div>{{'IMAGE.NOTICE2' | translate}}</div>
            </div>
        </div>
    </div>
</fc-popup>
