<div class="modal fade" id="vtBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">同步存储类型</h4>
            </div>
            <div class="modal-body">
                <div class="table-container">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{"COMMON.NAME" | translate}}</th>
                                <th style="width:25%">{{"CAPACITY_MNG.DISPLAY_NAME" | translate}}</th>
                                <th>Volume_backend_name</th>
                                <th style="width: 25%">{{"COMMON.COMMENT" | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of volumeTypeList; let idx = index;">
                                <td>{{idx + 1}}</td>
                                <td>{{item.name}}</td>
                                <td>
                                    <input class="form-control" [(ngModel)]="item.displayName" style="display: inline;">
                                </td>
                                <td>{{item.volumeBackendName}}</td>
                                <td>
                                    <input class="form-control" [(ngModel)]="item.description" style="display: inline;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default btn fox-cloud-button-lg" data-dismiss="modal">{{ct || 'COMMON.CANCEL' | translate }}</button>
                <!-- 取消 -->
                <button (click)="update()" class="btn fox-cloud-button-lg fox-cloud-button-white">{{ot || '更新' }}</button>
                <!-- 确认 -->
            </div>
        </div>
    </div>
</div>