<div class="page-content-header icon-content-header-platform-manage">{{ 'PF_MNG.PF_ACCESS_MNG' | translate}}</div>
<div class="page-content">
    <div style="padding-bottom: 10px;">
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
               {{ 'COMMON.MORE_OPERATION' | translate}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <!--<li><a href="#">修改</a></li>-->
                <li><a (click)="deletePlatform();">{{ 'COMMON.DELETE' | translate}}</a></li>
                <li><a (click)="activePlatform();">{{ 'COMMON.ENABLE' | translate}}</a></li>
                <li><a (click)="disablePlatform();">{{ 'COMMON.DISABLE' | translate}}</a></li>
            </ul>
        </div>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="creation();">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label">{{ 'PF_MNG2.CREATE_PLATFORM' | translate}}</span>
        </button>
    </div>
    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="check-box-col"><input class="fox-cloud-checkbox" type="checkbox" [(ngModel)]="isSelectedAll" (click)="switchSelectAll();" />{{ 'COMMON.SELECT_ALL' | translate}}</th>
                    <th>{{ 'PF_MNG.ZONE_NAME' | translate}}</th>
                    <th>{{ 'PF_MNG.TYPE_FIRM' | translate}}</th>
                    <th>{{ 'PF_MNG.ACCESS_PATH' | translate}}</th>
                    <th>{{ 'COMMON.STATUS' | translate}}</th>
                    <th>{{ 'PF_MNG.STATUS_DESCRIPTION' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of platforms; let idx = index;">
                    <td><input class="fox-cloud-checkbox" type="checkbox" [(ngModel)]="item.isSelected" (ngModelChange)="switchSelectIndividual(idx)" /></td>
                    <td>{{item.name}}</td>
                    <td>{{item.platformTypeName}}</td>
                    <td>{{item.uri}}</td>
                    <td>{{item.statusText}}</td>
                    <td>{{item.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<fc-pagination #pagination tp={{tp}} (pf)="paging($event)"></fc-pagination>

<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="{{ 'COMMON.CONFIRM' | translate}}" (of)="nof()"></fc-notice>

<fc-confirm #deleteConfirm title="{{title}}" msg="{{msg}}" ot="{{ 'COMMON.CONFIRM' | translate}}" (of)="deleteCof()" ct="{{ 'COMMON.CANCEL' | translate}}" (cf)="ccf()"></fc-confirm>
<fc-confirm #activeConfirm title="{{title}}" msg="{{msg}}" ot="{{ 'COMMON.CONFIRM' | translate}}" (of)="activeCof()" ct="{{ 'COMMON.CANCEL' | translate}}" (cf)="ccf()"></fc-confirm>
<fc-confirm #disableConfirm title="{{title}}" msg="{{msg}}" ot="{{ 'COMMON.CONFIRM' | translate}}" (of)="disableCof()" ct="{{ 'COMMON.CANCEL' | translate}}" (cf)="ccf()"></fc-confirm>