.title {
	color: #fe8d6b;
	font-size: 16px;
}

.modal-dialog {
	width: 1200px
}
.modal-footer {
	text-align: center;
	border-top: none;
	padding-bottom: 40px;
}
.modal-body {
	font {
		color: #fe8d6b
	}
	padding: 40px 40px 20px;
}
.done-bottom {
	overflow: hidden;
	background: #f6f6f6;
	.left-text {
		color: #fe8d6b;
		padding: 30px 0 20px 30px;
		p {
			margin-bottom: 5px;
		}
	}
	.button-confirm {
		margin: 40px 40px 0 0;
	}
}