<div class="page-content-header icon-content-header-enterprise-manage">
	<span>{{ 'ENT_MNG.CERT_MANAGEMENT' | translate }}</span>
    <button class="fox-cloud-button-sm fox-cloud-button-grey pull-right font-weight-normal" (click)="gotoEnterpriseList()">
        <span class="button-label">{{ 'ENT_MNG.BACK_ENTERPRISE_MANAGEMENT_LIST' | translate }}</span>
    </button>
</div>
<div class="page-content">
	<div style="padding-bottom: 10px;">
		<div class="dropdown pull-right" style="margin-left: 20px">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="true">
                {{ 'COMMON.MORE_OPERATION' | translate }}
                <span class="caret"></span>
            </button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a (click)="onEdit();">{{ 'COMMON.EDIT' | translate }}</a></li>
				<li><a (click)="onEditAcc();">{{ 'ENT_MNG.MODIFY_AD_ACCOUNT' | translate }}</a></li>				
				<li><a (click)="updateStatus('1');">{{ 'COMMON.ENABLE' | translate }}</a></li>                
				<li><a (click)="updateStatus('3');">{{ 'COMMON.DISABLE' | translate }}</a></li>
				<li><a (click)="onDelete('delete');">{{ 'COMMON.DELETE' | translate }}</a></li>
			</ul>
		</div>		
		<button class="fox-cloud-button fox-cloud-button-green" (click)="onCreate();">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label">{{ 'ENT_MNG.CREATE_AD_SOURCE' | translate }}</span>
        </button>
	</div>
	<div class="table-container">
		<table class="table table-hover">
			<thead>
				<tr>
				    <th >{{ 'COMMON.CHOOSE' | translate }}</th>
					<th>{{ 'ENT_MNG.AD_SOURCE_NAME' | translate }}</th>
					<th>URL {{ 'COMMON.PATH' | translate }}</th>
					<th>{{ 'ENT_MNG.CERT_TYPE' | translate }}</th>
					<th>{{ 'COMMON.STATUS' | translate }}</th>
					<th>{{ 'COMMON.DESCRIPTION' | translate }}</th>
				</tr>
			</thead>
			 <tbody>
            <tr *ngFor="let attest of attests;">
                <td>
                    <input type="radio" class="fox-cloud-radio" name="group-admin" [checked]="attest.isSelect" (change)="attest.isSelect = $event.target.checked" />
                </td>
                <td>{{attest.name}}</td>
				<td>{{attest.url}}</td>
				<td>AD</td>
                <td [ngClass]="attest.status==1?'font-green':'font-orange'">
                    {{attest.status | dict:this.service.statusDic | async}}
                </td>
				<td>{{attest.desc}}</td>
            </tr>
		</table>
	</div>
</div>
<fc-pagination #pager tp={{totalPage}} (pf)="getAttests($event)"></fc-pagination>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{ 'COMMON.CONFIRM' | translate }}"  ></fc-notice>
<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{ 'COMMON.CONFIRM' | translate }}" ct="{{ 'COMMON.CANCEL' | translate }}"  ></fc-confirm>
 