<div class="page-content-header icon-content-header-userCenterOn">认证管理</div>
<div class="page-content">
    <div class="mgb10">
        <button class="fox-cloud-button fox-cloud-button-green" key="backend/adm_user_certifi_mng.html">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label">创建认证源</span>
        </button>
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                选择操作
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a href="javascript:">编辑</a></li>
                <li><a href="javascript:">启用</a></li>
                <li><a href="javascript:">禁用</a></li>
                <li><a href="javascript:">删除</a></li>
            </ul>
        </div>
    </div>
    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>认证源名称</th>
                    <th>URL地址</th>
                    <th>认证类型</th>
                    <th>状态</th>
                    <th>描述</th>                  
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>东区</td>
                    <td>ldap://xxxxxxx</td>
                    <td>AD</td>
                    <td class="font-green">启用</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>北区</td>
                    <td>ldap://xxxxxxx</td>
                    <td>AD</td>
                    <td class="font-green">启用</td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>南区</td>
                    <td>ldap://xxxxxxx</td>
                    <td>AD</td>
                    <td class="font-green">启用</td>
                    <td></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td></td>
                    <td>ldap://xxxxxxx</td>
                    <td>AD</td>
                    <td class="font-green">启用</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>