
<ng-container *ngFor="let order of orderList;let i = index ">

<table class="table table-all-boder mgb20"  style="width: 100%">
    <tr class="table-title">
        <td class="table-line-head">
            <font class="font-green">{{'COMMON.ORDER_NUMBER' | translate}}：{{order.itemNo}} {{'COMMON.CREATED_TIME' | translate}}：{{order.createDate}}</font>
        </td>
    </tr>
</table>
<table class="table table-all-boder mgb20" style="width: 100%">
    <tr class="table-title">
        <th class="text-center">{{'SHOPPING_CART.PRODUCT_INFORMATION' | translate}}</th>
        <th class="text-center">{{'SHOPPING_CART.PRODUCT_TYPE' | translate}}</th>
        <th class="text-center">{{'COMMON.BILLING_MODE'| translate}}</th>
        <th class="text-center">{{'SHOPPING_CART.PURCHASE_CYCLE' | translate}}</th> 
        <th class="text-center">{{'COMMON.EXPENSE' | translate}}</th>
        <th class="text-center">{{'COMMON.STATUS' | translate}}</th>
        <th class="text-center">{{'COMMON.CREATED_TIME' | translate}}</th>
        <th class="text-center">{{'COMMON.EXPIRE_DATE' | translate}}</th>
        <th class="text-center">{{'SHOPPING_CART.QUANTITY' | translate}}</th>
    </tr>
    <tbody product-info-tr [isorder]="true" [itemList]="order.itemList">
        
    </tbody>
</table>

</ng-container>