
// .left{float: left;}     /*左浮动*/
.leftAlign{text-align: left!important;}/*表格td居左*/
.rightAlign{text-align: right!important;}/*表格td居右*/
._margin{margin-bottom: 30px;}/*间隔30px*/
.tdVAlign{vertical-align: middle;}
ul li{ list-style: none; padding-top:5px;}
.bgWhite{background-color:white!important;}
.hands{cursor: pointer;}
.font-size-16{font-size: 16px;}
.searchbox{
    width: 31%;
    height: 40px;
    display: inline;
    margin-right: 50px;
    float:left;
}
.searchbox-incon{
    position: relative;
    top:13px;
    left: -200px;
	color: #00a982;
}
.mgl22{margin-left:33px;}
.mgt8{margin-top: 8px;}

.CheckMngList{
	.fox-cloud-button-grey {
		background-color: white!important;
		border: solid 2px #c1c2c3!important;
		color: #c1c2c3!important;
	}
	.page-content{
	    z-index:5;
		.table-container{
			border-bottom:none;
			border-top:none;
			.search-container{
    			height: 60px;
			}
			
			table{
				margin-bottom:20px!important;
				select{
				    width: 260px;
    				letter-spacing: 2px;
				}

				.select_{
				    width: 210px;
				}
				button{
					    padding: 3px 15px;
				}
				th{
					height: 50px;
				}
				tr{
					td{
						vertical-align: middle;
						background-color: #fff;
						span{
						  	  margin-left: 10px;
						}
					}
				}
			}
		}
	    
	}
	// .DetailInfo{
	//     z-index: 10;
    // 	position: relative;
   	// 	top: -200px;
    // 	left: 200px;
	// 	table{
	// 		width:500px;
	// 		background-color: #fff
	// 	}
	// }
	// .CheckInfo{
	//   	z-index: 10;
    // 	position: relative;
   	// 	top: -500px;
    // 	left: 1000px;
	// 	table{
	// 		width:250px;
	// 		background-color: #fff;
	// 		td{
	// 			text-align:center;
	// 		}
	// 	}
	// }
    
}