<div class="CheckMngSet">
	<div class="page-content-header icon-order-manageOne">{{'CHECK_CENTER.APPROVAL_SETTINGS' | translate}}</div>
		<div class="page-content">
		<div class="icon-check-set float-left" style="width: 200px;height: 200px;">
		</div>
		<div class=" float-left firstPanel">
			<span>{{'CHECK_CENTER.IS_APPROVAL_REQUIRED' | translate}}</span>
			<div class="secondPanel">
				<ul>
					<li><input type="radio" class="fox-cloud-radio mgr10"  [ngClass]="{'active':isOpen}" [(ngModel)]="isOpen" value="true">{{'CHECK_CENTER.OPEN' | translate}}</li>
					<li class="pdl20"><span class="pdl5">{{'CHECK_CENTER.AUTO_APPROVAL_TIME_SET' | translate}}：</span ><span *ngIf="isEdit">10</span><input *ngIf="!isEdit" type="text" class="form-control">{{'CHECK_CENTER.MINUTE' | translate}}</li>
					<li><input type="radio" class="fox-cloud-radio mgr10 " [ngClass]="{'active':!isOpen}" [(ngModel)]="isOpen" value="false">{{'CHECK_CENTER.CLOSE' | translate}}</li>
				</ul>
				
			</div>
			
			<button class="btn button-gray-gradient" *ngIf="isEdit" (click)="edit();"><span class="pdl10 pdr10">{{'CHECK_CENTER.EDIT' | translate}}</span></button>
			<button class="btn fox-cloud-button-green" *ngIf="!isEdit" (click)="save();"><span class="pdl10 pdr10">{{'CHECK_CENTER.SAVE' | translate}}</span></button>
		</div>
			<!--<fc-pagination tp={{entEstMng.TotalPages}} (pf)="changePage($event)"></fc-pagination>-->
		</div>
	</div>