<fc-notice #notice ot="{{'DIALOG.CONFIRM'|translate}}"></fc-notice>
<div class="CheckMngList">
	<div class="page-content-header icon-order-manage">{{'CHECK_CENTER.APPROVED_LIST' | translate}}</div>
	<div class="page-content">
		<div class="table-container">
			<div class="search-container">
				<div class="input-group col-md-4 float-left mgr20">
					<input class="form-control width-100" placeholder="{{'CHECK_CENTER.ENTER_THE_ORDER_NUMBER_OR_DEPARTMENT_FOR_QUICK_INQUIRY' | translate}}" [(ngModel)]="_param.quickSearchStr" type="email">
					<div class="input-group-addon pointer"><span class="glyphicon glyphicon-search" (click)="search()"></span></div>
				</div> 
				<button class="btn btn-default button-gray-gradient float-left mgl20" [ngClass]="{'button-gray-gradient':_isAdvSearch!=1,'fox-cloud-button-white':_isAdvSearch==1}"  (click)="_isAdvSearch=!_isAdvSearch">{{'CHECK_CENTER.ADVANCED_SEARCH' | translate}}</button>
			</div>
			<div  *ngIf="_isAdvSearch" class="bgGray" style="height:20px;"></div>
			<table class="table bgGray _table mgb20" *ngIf="_isAdvSearch">
					<tr>				
						<td>
							<span class="float-left ">{{'CHECK_CENTER.ORDER_ATTRIBUTION' | translate}}&nbsp;:&nbsp;</span>
							<div class="float-left">
								<select class="form-control" [(ngModel)]="_param.departmentIdNum" (ngModelChange)="loadSubmiter()">
									<option class="hands" [value]="null">{{'CHECK_CENTER.ALL_DEPARTMENTS' | translate}}</option>
									<option class="hands" *ngFor="let item of _departmentLoader.Items" [value]="item.id">{{item.name}}</option>
								</select>
							</div>
						</td>
						<td>
							<span class="float-left mgl20">{{'CHECK_CENTER.SUBMITTER' | translate}}&nbsp;:&nbsp;</span>
							<div class="float-left">
								<select class="form-control" [(ngModel)]="_param.submitUserId">
									<option class="hands" [value]="null">{{'CHECK_CENTER.ALL_SUBMITTERS' | translate}}</option>
									<option class="hands" *ngFor="let item of _submiterLoader.Items" [value]="item.id">{{item.name}}</option>
								</select>
								</div>
						</td>
						<td><span class="float-left">{{'CHECK_CENTER.ORDER_TYPE' | translate}}&nbsp;:&nbsp;</span>
								<div class="dropdown float-left">
								<select class="form-control " [(ngModel)]="_param.orderTypeNum">
									<option class="hands" [value]="null">{{'CHECK_CENTER.ALL_TYPES' | translate}}</option>
									<option class="hands" *ngFor="let item of _orderTypeDic.Items" [value]="item.value">{{item.displayValue}}</option>
								</select>
							</div>
						</td>
						<td>
							<span class="float-left mgl20">{{'CHECK_CENTER.APPROVER' | translate}}&nbsp;:&nbsp;</span>
							<div class="float-left">
								<select class="form-control" [(ngModel)]="_param.checkUserIdStr">
									<option class="hands" [value]="null">{{'CHECK_CENTER.ALL_APPROVERS' | translate}}</option>
									<option class="hands" *ngFor="let item of _checkerLoader.Items" [value]="item.id">{{item.name}}</option>
								</select>
							</div>
						</td>
					</tr>
					<tr>	
							<td><span class="float-left">{{'CHECK_CENTER.PRODUCT_TYPE' | translate}}&nbsp;:&nbsp;</span>
							<div class="dropdown float-left">
								<select class="form-control" [(ngModel)]="_param.serviceTypeNum">
									<option class="hands" [value]="null">{{'CHECK_CENTER.ALL_TYPES' | translate}}</option>
									<option class="hands" *ngFor="let item of _serviceTypeDic.Items" [value]="item.value">{{item.displayValue}}</option>
								</select>
							</div>
						</td>
								
						<td colspan="3">
							<div>
								<span class="float-left mgt15">{{'COMMON.CREATED_TIME' | translate}}&nbsp;:&nbsp;</span>
								<div class="dropdown float-left">			
									<date-picker (dateChanged)="onStartDateChange($event)"></date-picker>
								</div>
								<span class="float-left form-control-title mgl10 mgr5">—</span>
								<div class="dropdown float-left">			
									<date-picker (dateChanged)="onEndDateChange($event)"></date-picker>
								</div>
							</div>
						</td>
					
					</tr>
					<tr>
						<td colspan="4" class="text-center">
								
								<button class="button-gray-gradient mgr20 mgt20 mgb10" (click)="search()">{{'CHECK_CENTER.QUERY' | translate}}</button>
								<div  class="input-group" style="display: inline-block;">
									<button class="btn button-gray-gradient" (click)="resetParam()"><span class="glyphicon glyphicon-repeat"></span> {{'CHECK_CENTER.RESET' | translate}}</button>
								</div>
						</td>
					</tr>
			</table>
				
		</div>
		<div class="float-left mgb10">{{'CHECK_CENTER.CURRENT_QUERY_IS' | translate}} <span class="font-green">{{_listLoader.TotalRecords}}</span> {{'CHECK_CENTER.THE_QUERY_RESULTS_OF_PENDING_ORDERS' | translate}}:</div>
			<div class="table-container">
			<table class="table">
				<thead>	
					<tr>
						<th>{{'COMMON.NUMBER' | translate}}</th>
						<th>{{'COMMON.ORDER_NUMBER' | translate}}</th>
						<th>{{'CHECK_CENTER.PRODUCT_TYPE' | translate}}</th>
						<th>{{'COMMON.REGION_AND_AVAILABLE_AREA' | translate}}</th>
						<th>{{'CHECK_CENTER.ORDER_TYPE' | translate}}</th>
						<th>{{'CHECK_CENTER.ORDER_DESCRIPTION' | translate}}</th>
						<th>{{'CHECK_CENTER.SUBMITTER' | translate}}</th>
						<th>{{'CHECK_CENTER.DEPARTMENT' | translate}}</th>
						<th>{{'CHECK_CENTER.ENTERPRISE' | translate}}</th>
						<th>{{'CHECK_CENTER.COST' | translate}}</th>
						<th>{{'COMMON.CREATED_TIME' | translate}}</th>
						<th>{{'CHECK_CENTER.APPROVAL_RESULTS' | translate}}</th>
					</tr>			
				</thead>
				<tbody>
					<tr *ngFor="let item of _listLoader.Items;let i = index;">
						<td >{{i + 1}}</td>
						<td class="font-green">
							<a class="hands" [popover]="popover">{{item.orderCodeStr}}</a>
							<popover-content #popover 
								[closeOnClickOutside]="true"
								placement="right"
								[animation]="true">
								<!--<ul>
									<li *ngFor="let spec of item.specList">{{spec.attrDisplayName}}:{{spec.attrDisplayValue}}</li>
								</ul>-->
								<service-view  [values]="item" *ngIf="item.serviceTypeIdStr==11"></service-view>
								<machine-view  [values]="item" *ngIf="item.serviceTypeIdStr==4"></machine-view>
								<vm-view [values]="item" *ngIf="item.serviceTypeIdStr==0"></vm-view><!-- 显示云主机 -->
						 		<disk-view [values]="item.specList" *ngIf="item.serviceTypeIdStr==1"></disk-view> <!--显示云硬盘--> 
							</popover-content>
						</td>
						<td>{{item.serviceType | dict:_dictServ.getDic('GLOBAL', 'SERVICE_TYPE') | async}}</td>
						<td>{{item.platformName}}<br/>
						     {{item.zoneName}}</td>
						<td>{{item.orderType | dict:_dictServ.getDic('ORDER', 'TYPE') | async}}</td>
						<td>{{item.description}}</td>
						<td>{{item.userStr}}</td>
						<td>{{item.departmentStr}}</td>
						<td>{{item.entStr}}</td>
						<td>{{'COMMON.BILLING_MODE' | translate}} : {{item.billingMode | dict:_dictServ.getDic('BILLING_MODE', 'TYPE') |async}}<br>
						 	{{'CHECK_CENTER.ORDER_CYCLE' | translate}} : {{item.billingDurationStr}}<br>
						 	{{'CHECK_CENTER.ONE_TIME_COSTS' | translate}} : <span class="font-red">{{item.oneTimePriceNum}}</span><br>
						 	{{'CHECK_CENTER.COST' | translate}} : <span class="font-red">{{item.priceNum}}</span></td>
						<td>{{item.createTimeStr}}</td>
						<td>
							<ul>
								<li class="hands" [popover]="popover_result" *ngFor="let approveItem of item.checkResult | async">{{approveItem.operation | translate}}</li>
							</ul>
							<popover-content #popover_result [closeOnClickOutside]="true" placement="bottom" [animation]="true">
								<ul *ngFor="let approveItem of item.checkResult | async">
									<li>{{'CHECK_CENTER.APPROVER' | translate}}:{{approveItem.approver}}</li>
									<li>{{'CHECK_CENTER.APPROVAL_TIME' | translate}}:{{approveItem.operateTime}}</li>
									<li>{{'CHECK_CENTER.APPROVAL_COMMENTS' | translate}}：{{approveItem.reason}}</li>
								</ul>
							</popover-content>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>