<div class="CheckMngSet">
	<div class="page-content-header icon-order-manageOne">审批设置</div>
		<div class="page-content">
		<div class="icon-check-set float-left" style="width: 200px;height: 200px;">
		</div>
		<div class=" float-left firstPanel">
			<span>是否需要审批</span>
			<div class="secondPanel">
				<ul>
					<li><input type="radio" class="fox-cloud-radio mgr10" [disabled]="isEdit" [(ngModel)]="param.auditEnable" value="true">开启</li>
					<li class="pdl20"><span class="pdl5">自动审批时间设置：</span ><span class="mgr5" *ngIf="isEdit"  > {{loadHandler.FirstItem.time}}</span><input *ngIf="!isEdit" type="number" class="form-control"  [(ngModel)]="param.time">分钟</li>
					<li><input type="radio" class="fox-cloud-radio mgr10" [disabled]="isEdit" [(ngModel)]="param.auditEnable" value="false">关闭</li>
				</ul>
				
			</div>
			
			<button class="btn button-gray-gradient" *ngIf="isEdit" (click)="edit();"><span class="pdl10 pdr10">编&nbsp;&nbsp;辑</span></button>
			<button class="btn fox-cloud-button-green" *ngIf="!isEdit" (click)="save();"><span class="pdl10 pdr10">保&nbsp;&nbsp;存</span></button>
		</div>
			<!--<fc-pagination tp={{entEstMng.TotalPages}} (pf)="changePage($event)"></fc-pagination>-->
		</div>
	</div>