<fc-notice #notice ot="确认"></fc-notice>
<div class="CheckMngList">
	<div class="page-content-header icon-order-manage header-title">已审批列表</div>
	<div class="page-content">
		<div class="table-container">
			<div class="search-container">
				<div class="input-group col-md-2 float-left mgr20">
					<input class="form-control" placeholder="输入云主机信息搜索" type="email">
					<div class="input-group-addon"><span class="glyphicon glyphicon-search" (click)="search()"></span></div>
				</div>
				<button class="button-gray-gradient float-left mgl20" [ngClass]="{'btn-default':_isAdvSearch!=1,'fox-cloud-button-white':_isAdvSearch==1}" (click)="_isAdvSearch=!_isAdvSearch">高&nbsp;级&nbsp;查&nbsp;询</button>
			</div>
			<table class="table bgGray _table" *ngIf="_isAdvSearch">
				<tbody>
					<tr>				
						<td>
							<div class="left form-control-title">订单归属：</div>
							<div class="left">
								<select class="form-control" [(ngModel)]="_param.departmentIdNum">
									<option class="hands" [value]="null">所有部门</option>
									<option class="hands" *ngFor="let item of _departmentLoader.Items" [value]="item.id">{{item.name}}</option>
								</select>

							</div>
							<div class="left form-control-title mgl20">提交者：</div>
							<div class="left">
								<select class="form-control" [(ngModel)]="_param.submitUserId">
									<option class="hands">所有提交者</option>
									<option class="hands">关羽</option>
									<option class="hands">张飞</option>
									<option class="hands">刘备</option>
								</select>
								</div>
								<div class="left form-control-title mgl20">审批人：</div>
							<div class="left">
								<select class="form-control" [(ngModel)]="_param.checkUserIdStr">
									<option class="hands">所有审批人</option>
									<option class="hands">关羽</option>
									<option class="hands">张飞</option>
									<option class="hands">刘备</option>
								</select>
								</div>
						</td>
						
					</tr>
					<tr>
						<td><div class="left form-control-title">订单类型：</div>
								<div class="dropdown left">
								<select class="form-control " [(ngModel)]="_param.orderTypeNum">
									<option class="hands" [value]="null">所有类型</option>
									<option class="hands" *ngFor="let item of _orderTypeDic.Items" [value]="item.value">{{item.displayValue}}</option>
								</select>
							</div>
							<div class="left form-control-title mgl20">创建时间：</div>
							<div class="dropdown left pdb20">			
								<date-picker (dateChanged)="onStartDateChange($event)"></date-picker>
							</div>
                            <div class="left form-control-title mgl10 mgr20">—</div>
							<div class="dropdown left">			
								<date-picker (dateChanged)="onEndDateChange($event)"></date-picker>
							</div>
						</td>
					</tr>
					<tr>
						<td><div class="left form-control-title">产品类型：</div>
							<div class="dropdown left">
								<select class="form-control" [(ngModel)]="_param.serviceTypeNum">
									<option class="hands" [value]="null">所有类型</option>
									<option class="hands" *ngFor="let item of _serviceTypeDic.Items" [value]="item.value">{{item.displayValue}}</option>
								</select>
							</div>
						</td>
					</tr>
					<tr>
							
						<td>

							<div style="margin-left: 115px;text-align:left!important;">
								<button class="button-gray-gradient mgr20"  (click)="_param.reset()">重&nbsp;&nbsp;&nbsp;&nbsp;置</button><button class="button-gray-gradient mgl20" (click)="search()">查&nbsp;&nbsp;&nbsp;&nbsp;询</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>	
		</div>
		<div class="form-control-title left mgb10 mgt20">当查询到<span class="validateInfo">29</span>个订单需要审批，查询结果如下：</div>
			<div class="table-container">
			<table class="table">
				<thead>	
					<tr class="form-control-title">
						<th>编号</th>
						<th>订单号</th>
						<th>产品类型</th>
						<th>所在区域及可用区</th>
						<th>订单类型</th>
						<th>订单描述</th>
						<th>提交者</th>
						<th>部门</th>
						<th>企业</th>
						<th>费用</th>
						<th>创建时间</th>
						<th>审批结果</th>
					</tr>			
				</thead>
				<tbody>
					<tr *ngFor="let item of _listLoader.Items;let i = index;">
						<td >{{i}}</td>
						<td class="validateInfo">
							<!--<a [popover]="popover">{{item.orderCodeStr}}</a>
							<popover-content #popover [closeOnClickOutside]="true" class="DetailInfo" >
								<ul>
									<li *ngFor="let spec of item.specList">{{spec.attrDisplayName}}:{{spec.attrDisplayValue}}</li>
								</ul>
							</popover-content>-->


							
							<a class="hands" [popover]="myPopover">详细信息>>>></a>

							<popover-content #myPopover 
							placement="right"
							[animation]="true" 
							[closeOnClickOutside]="true" >

												<ul>
													<li>区域：&nbsp;&nbsp;华北1</li>
													<li>可用区：&nbsp;&nbsp;可用区B</li>
													<li>实例规格：&nbsp;&nbsp;CPU 2核/内存4GB/启动盘/70G</li>
													<li>IP地址：&nbsp;&nbsp;10.1.1.1（内部）<br>
														192.168.1.1（外部）</li>
													<li>云硬盘类型：&nbsp;&nbsp;******</li>
													<li>云硬盘容量：&nbsp;&nbsp;已设置</li>
													<li>操作系统：&nbsp;&nbsp;******</li>
													<li>数据库类型：&nbsp;&nbsp;已设置</li>
													<li>数据库版本：&nbsp;&nbsp;******</li>
													<li>密码：&nbsp;&nbsp;已设置</li>
													<li>实例名称：&nbsp;&nbsp;abcabc</li>			
												</ul>

						</popover-content>
						</td>
						<td>{{item.serviceTypeName}}</td>
						<td>{{item.platformStr}}
						     {{item.zoneStr}}</td>
						<td>{{item.orderTypeName}}</td>
						<td>{{item.description}}</td>
						<td>{{item.userStr}}</td>
						<td>{{item.departmentStr}}</td>
						<td>{{item.entStr}}</td>
						<td>计费模式：{{item.billingModeName}}<br>
						 	订单周期：{{item.billingDurationStr}}<br>
						 	一次性费用：<span class="warnInfo">{{item.oneTimePriceNum}}</span><br>
						 	费用：<span class="warnInfo">{{item.priceNum}}</span></td>
						<td>{{item.createTimeStr}}</td>
						<td class="validateInfo">
							<!--<a [popover]="popover_result">{{item.checkResultName}}</a>
							<popover-content #popover_result [closeOnClickOutside]="true" class="CheckInfo" >
								<ul>
									<li>审批人：李四</li>
									<li>审批时间：审批时间</li>
									<li>审批意见：{{item.checkResultName}}</li>
								</ul>
							</popover-content>-->

							<a class="hands" [popover]="checkPopover">审批详细>>>></a>

							<popover-content #checkPopover 
							placement="right"
							[animation]="true" 
							[closeOnClickOutside]="true" >

												<ul>
													<li>审批人：&nbsp;&nbsp;李四</li>
													<li>审批时间：&nbsp;&nbsp;2016-1-11</li>
													<li>审批意见：&nbsp;&nbsp;同意</li>			
												</ul>

						</popover-content>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>