<div class="page-content-header icon-content-header-enterprise-manage">
    <span>
        {{ 'ENT_MNG.ENTERPRISE_ADMINSTRATOR_SET' | translate }}: {{enterprise.name}}
    </span>
    <button class="fox-cloud-button-sm fox-cloud-button-grey pull-right font-weight-normal" id="gotoEnterpriseList" (click)="gotoEnterpriseList()">
        <span class="button-label">{{ 'ENT_MNG.BACK_ENTERPRISE_MANAGEMENT_LIST' | translate }}</span>
    </button>
</div>
<div class="page-content">
    <div style="padding-bottom: 10px;">
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ 'COMMON.MORE_OPERATION' | translate }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="margin-left: 10px;">
                <li>
                    <a href="javascript:void(0);" (click)="editAdmin();" id="editAdmin">{{ 'COMMON.EDIT' | translate }}</a>
                </li>
                <li *ngIf="enterprise && enterprise.authMode =='0'">
                    <a href="javascript:void(0);" (click)="resetPassword();" id="resetPassword">{{ 'ENT_MNG.RESET_PASSWORD' | translate }}</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="javascript:void(0);" (click)="change2Status(1);" id="change2Status_1">{{ 'COMMON.ENABLE' | translate }}</a>
                </li>
                <li>
                    <a href="javascript:void(0);" (click)="change2Status(3);" id="change2Status_3">{{ 'COMMON.DISABLE' | translate }}</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="javascript:void(0);" (click)="deleteAdmins();" id="deleteAdmins">{{ 'COMMON.DELETE' | translate }}</a>
                </li>
            </ul>
        </div>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="openCrAccountPop()" id="openCrAccountPop">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label">{{ 'ENT_MNG.CREATE_ADMINISTRATOR' | translate }}</span>
        </button>
    </div>
    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="fristTh">
                        {{ 'COMMON.CHOOSE' | translate }}
                    </th>
                    <th>{{ 'COMMON.ADMINISTRATOR' | translate }}</th>
                    <th>{{ 'COMMON.ACCOUNT' | translate }}</th>
                    <th>{{ 'COMMON.CONTACT_PHONE' | translate }}</th>
                    <th>{{ 'COMMON.TYPE' | translate }}</th>
                    <th>{{ 'ENT_MNG.ACCOUNT_STATUS' | translate }}</th>
                    <th>{{ 'COMMON.DESCRIPTION' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let admin of admins;" (click)="selectAdmin(admin)" id="admin_{{admin.id}}">
                    <td>
                        <input type="radio" class="fox-cloud-radio" name="group-admin" [checked]="admin.isSelect" (change)="admin.isSelect = $event.target.checked" />
                    </td>
                    <td>{{admin.userName}}</td>
                    <td>{{admin.loginName}}</td>
                    <td>{{admin.contactPhone}}</td>
                    <td>
                        {{admin.authMode | dict:this.service.authDic | async}}
                    </td>
                    <td [ngClass]="admin.status==1?'font-green':'font-orange'">
                        {{admin.status | dict:this.service.statusDic | async}}
                    </td>
                    <td>
                        {{admin.description}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="height:160px"></div>
</div>
<fc-popup #crAccountModel title="{{ 'ENT_MNG.AD_SOURCE_CHOOSE' | translate }}" ot="{{ 'COMMON.CREATE' | translate }}" ct="{{ 'COMMON.CANCEL' | translate }}" (of)="crAccount()">
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>{{ 'COMMON.AD_SOURCE' | translate }}:</div>
            <div class="col-sm-6">
                <select class="form-control" [(ngModel)]="authenticationSource" id="authenticationSourceList">
                    <option *ngFor="let item of authenticationSourceList;" [value]="item.id" id="authenticationSourceList_{{item.id}}">{{item.name}}</option>
                </select>
            </div>
        </div>
    </div>
</fc-popup>
<fc-pagination #pager tp={{tp}} (pf)="getData($event)"></fc-pagination>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{ 'COMMON.CONFIRM' | translate }}" (of)="nof()"></fc-notice>
<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{ 'COMMON.CONFIRM' | translate }}" (of)="cof()" ct="{{ 'COMMON.CANCEL' | translate }}" (cf)="ccf()"></fc-confirm>
