<div class="page-content-header icon-content-header-enterprise-manage">
    <span>
        企业管理员设置：{{enterprise.name}}
    </span>
    <button class="fox-cloud-button-sm fox-cloud-button-grey pull-right font-weight-normal" (click)="gotoEnterpriseList()">
        <span class="button-label">返回企业管理列表</span>
    </button>
</div>
<div class="page-content">
    <div style="padding-bottom: 10px;">
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                更多操作
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="margin-left: 10px;">
                <li>
                    <a href="javascript:void(0);" (click)="editAdmin();">编辑</a>
                </li>
                <li *ngIf="enterprise && enterprise.authMode =='0'">
                    <a href="javascript:void(0);" (click)="resetPassword();">重置密码</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="javascript:void(0);" (click)="change2Status(1);">启用</a>
                </li>
                <li>
                    <a href="javascript:void(0);" (click)="change2Status(3);">禁用</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="javascript:void(0);" (click)="deleteAdmins();">删除</a>
                </li>
            </ul>
        </div>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="openCrAccountPop()">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label">创建管理员</span>
        </button>
    </div>
    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="fristTh">
                        选择
                    </th>
                    <th>管理员</th>
                    <th>账号</th>
                    <th>联系电话</th>
                    <th>类型</th>
                    <th>账号状态</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let admin of admins;" (click)="selectAdmin(admin)">
                    <td>
                        <input type="radio" class="fox-cloud-radio" name="group-admin" [checked]="admin.isSelect" (change)="admin.isSelect = $event.target.checked" />
                    </td>
                    <td>{{admin.userName}}</td>
                    <td>{{admin.loginName}}</td>
                    <td>{{admin.contactPhone}}</td>
                    <td>
                        {{admin.authMode | dict:this.service.authDic | async}}
                    </td>
                    <td [ngClass]="admin.status==1?'font-green':'font-orange'">
                        {{admin.status | dict:this.service.statusDic | async}}
                    </td>
                    <td>
                        {{admin.description}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="height:160px"></div>
</div>
<fc-popup #crAccountModel title="认证源选择" ot="创建" ct="取消" (of)="crAccount()">
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>认证源：</div>
            <div class="col-sm-6">
                <select class="form-control" [(ngModel)]="authenticationSource">
                    <option *ngFor="let item of authenticationSourceList;" [value]="item.id">{{item.name}}</option>
                </select>
            </div>
        </div>
    </div>
</fc-popup>
<fc-pagination #pager tp={{tp}} (pf)="getData($event)"></fc-pagination>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="确认" (of)="nof()"></fc-notice>
<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="确认" (of)="cof()" ct="取消" (cf)="ccf()"></fc-confirm>
