<div class="page-content-header icon-content-header-purchasing">{{ 'ENT_MNG.CREATE_EDIT_ENTERPRISE_ADMINISTRATOR' | translate }}</div>
<div class="page-content fix-page-content">
    <div class="row" style="padding-top: 30px;">
        <div class="col-md-12">
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">
                        <span class="asterisk">*</span>{{ 'COMMON.ENTERPRISE' | translate }}:
                    </div>
                    <div class="col-sm-4">
                        <input id="name" type="text" disabled="disabled" class="form-control" [value]="enterprise.name||''" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">
                        <span class="asterisk">*</span>{{ 'COMMON.ACCOUNT' | translate }}:
                    </div>
                    <div class="col-sm-4">
                        <input id="loginName" type="text" [disabled]="aid!=''" class="form-control" [(ngModel)]="admin.loginName" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">
                        <span class="asterisk">*</span>{{ 'ENT_MNG.ADMINISTRATOR_NAME' | translate }}:
                    </div>
                    <div class="col-sm-4">
                        <input id="userName" type="text" class="form-control" [(ngModel)]="admin.userName" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">
                        <span class="asterisk">*</span>{{ 'COMMON.CONTACT_PHONE' | translate }}:
                    </div>
                    <div class="col-sm-4">
                        <input id="contactPhone" type="text" class="form-control" [(ngModel)]="admin.contactPhone" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{ 'COMMON.DESCRIPTION' | translate }}:</div>
                    <div class="col-sm-4">
                        <textarea id="description" class="form-control" rows="8" [(ngModel)]="admin.description" placeholder=""></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel();" id="cancel">
        <span class="icon-button-label">{{ 'COMMON.CANCEL' | translate }}</span>
    </button>
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="createAndUpdate();" id="createAndUpdate">
        <span class="icon-button-label" *ngIf="isEdit">{{ "ENT_MNG.UPDATE_ADMINISTRATOR" | translate }}</span>
        <span class="icon-button-label" *ngIf="!isEdit">{{ "ENT_MNG.ADD_ADMINISTRATOR" | translate }}</span>
    </button>
</div>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{ 'COMMON.CONFIRM' | translate }}" (of)="nof()"></fc-notice>

<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{ 'COMMON.CONFIRM' | translate }}" (of)="cof()" ct="{{ 'COMMON.CANCEL' | translate }}" (cf)="ccf()"></fc-confirm>