		<!--<link rel="stylesheet" type="text/css" href="./css/svc_dir_mng.css" />  -->
<div class="page-content-header icon-content-header-purchasing">创建企业管理员</div>
<div class="page-content fix-page-content">
    <div class="row" style="padding-top: 30px;">
        <div class="col-md-12">
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">企业<span class="asterisk">*</span>：</div>
                    <div class="col-sm-4">
                        <select class="form-control" [(ngModel)]="admin.enterpriseId">
                            <option *ngFor="let enterprise of enterprises;let i=index;" value="{{enterprise.id}}" >
                                {{enterprise.name}}  
                            </option>
                        </select>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">管理员<span class="asterisk">*</span>：
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" [(ngModel)]="admin.contactName" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">账户<span class="asterisk">*</span>：
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" [(ngModel)]="admin.userName" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">密码<span class="asterisk">*</span>：</div>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" [(ngModel)]="admin.password" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">联系电话<span class="asterisk">*</span>：</div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" [(ngModel)]="admin.contactorPhone" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">邮件地址<span class="asterisk">*</span>：</div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" [(ngModel)]="admin.email" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">描述：</div>
                    <div class="col-sm-4">
                        <textarea class="form-control" rows="8" [(ngModel)]="admin.description" placeholder=""></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel();">
        <span class="icon-button-label">取消</span>
    </button>
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="createAndUpdate();">
        <span class="icon-button-label">{{ isEdit?"更新管理员":"新增管理员"}}</span>
    </button>
</div>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="确认" (of)="nof()"></fc-notice>

<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="确认" (of)="cof()" ct="取消" (cf)="ccf()"></fc-confirm>