<div class="page-content-header icon-create-product">{{pageTitle}}: {{'PROD_MNG.PHSICAL_SERVICE' | translate}}</div>
<!--创建产品目录-->
<!--物理机服务-->
<div class="page-content">
	<div class="row" style="padding-top: 30px;">
		<div class="col-md-12">
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'PROD_MNG.PRODUCT_CAT_NAME' | translate}}:</div>
					<!--产品目录名称-->
					<div class="col-sm-4 form-group has-feedback no-padding" [ngClass]="{'has-error':v.result.serviceName}">
						<input type="text" [(ngModel)]="physicalService.serviceName" (ngModelChange)="checkForm('serviceName')" name="serviceName"
						 placeholder="{{'PROD_MNG.INPUT_PRODUCT_CAT' | translate}}" class="form-control">
						<span *ngIf="v.result.serviceName" class="glyphicon glyphicon-remove form-control-feedback"></span>
						<div *ngIf="v.result.serviceName" class="alert alert-danger" role="alert">{{v.result.serviceName}}</div>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>标准规格:</div>
					<div class="col-sm-4 no-padding" style="padding-top:4px">
						<button class="fox-cloud-button-md fox-cloud-button-white" style="margin-right:10px;padding:0 10px" (click)="addUnit()">{{'COMMON.NEW' | translate}}</button>
						<button class="fox-cloud-button-md fox-cloud-button-white" style="margin-right:10px;padding:0 10px" (click)="editUnit()">{{'COMMON.EDIT' | translate}}</button>
						<button class="fox-cloud-button-md fox-cloud-button-white" style="padding:0 10px" (click)="deleteUnit()">{{'COMMON.DELETE' | translate}}</button>
					</div>
				</div>
			</div>
			<div class="row mgb10">
				<div class="form-group">
					<div class="col-sm-4"></div>
					<div class="col-sm-4 no-padding">
						<div style="border:1px solid #cfd8e7">
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="check-box-col">{{'COMMON.SELECT_ALL'| translate}}</th>
										<th>
											{{"部件名称"}}
										</th>
										<th>{{'规格' | translate}}</th>
										<th>{{'规格值' | translate}}</th>
										<th>{{'数量' | translate}}</th>
										<th>{{'总容量' | translate}}</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let unit of physicalService.phyMachinePartsFlavors; let idx = index;">
										<td>
											<input class="fox-cloud-radio" type="radio" [checked]="unit.selected" (click)="selectUnit(idx)" />
										</td>
										<td>
											{{unit.partsName}}
										</td>
										<td>{{unit.specName}}</td>
										<td>
											{{unit.partsFlavorValue}}
											<span *ngIf="unit.partsName=='磁盘'||unit.partsName=='内存'">GB</span>
										</td>
										<td>{{unit.partFlavorNum}}</td>
										<td>
											<span *ngIf="unit.capacity!=0">{{unit.capacity}}GB</span>									
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div for="firstname" class="col-sm-4 form-control-title">{{'COMMON.DESCRIPTION' | translate}}:</div>
					<div class="col-sm-4 no-padding" [ngClass]="{'has-error':v.result.description}">
						<textarea type="text" class="form-control" (ngModelChange)="checkForm('description')" placeholder="{{'HOST_OPENSTACK_MNG.DESCRIPTION' | translate}}"
						 rows="3" [(ngModel)]="physicalService.desc" name="description">
                            </textarea>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div for="firstname" class="col-sm-4 form-control-title" style="cursor:pointer;">{{'选择可用资源池' | translate}}:</div>
					<div class="col-sm-4">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
				</div>
				<div class="col-sm-6">
					<div style="border:1px solid #cfd8e7">
						<table class="table table-hover">
							<thead>
								<tr>
									<th class="check-box-col">
										<input class="fox-cloud-checkbox" type="checkbox" [checked]="allSelected" (click)="selectAllResourcePool()" />
										{{'COMMON.SELECT_ALL'| translate}}</th>
									<th>{{'资源池' | translate}}</th>
									<th>{{'描述' | translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let resourcePool of resourcePooList; let idx = index;">
									<td>
										<input class="fox-cloud-checkbox" type="checkbox" [checked]="resourcePool.selected" [(ngModel)]="resourcePool.selected" (click)="selectResourcePool(idx)"
										/>
									</td>
									<td>{{resourcePool.region+'地区-'+resourcePool.poolName}}</td>
									<td>{{resourcePool.description}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="text-center mgt30">
	<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel();">
        <span class="icon-button-label">{{'NET_MNG_OPENSTACK.CNACLE' | translate}}</span>
    </button>
	<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="onCreateService();" style="margin-left:20px">
        <span class="icon-button-label">{{'PHY_MNG_POOL.CREATE' | translate}}</span><!--创建-->
    </button>
</div>
<fc-popup #newUnitPop title="{{title}}" ot="NET_MNG_VM_IP_MNG.CREATE" (of)="otcreateUnit()" ct="HOST_OPENSTACK_MNG.CANCEL"
 (cf)="ccf()">
	<div class="row row-line-height">
		<div class="form-group">
			<div class="col-sm-5 form-control-title"><span class="asterisk">*</span>{{'部件名称' | translate}}:</div>
			<div class="col-sm-5">
				<select class="form-control" [disabled]="isEditUnit" [ngClass]="{'validErr':!partIdValid}" [(ngModel)]="selectedPartId" (ngModelChange)="selectFlavorObj(selectedPartId)">
					<option value="">--选择部件--</option>
                    <option  *ngFor="let flavor of flavorInfoList" [value]="flavor.partsId">{{flavor.partsName}}</option>
                </select>
			</div>
		</div>
	</div>
	<div class="row row-line-height">
		<div class="form-group">
			<div class="col-sm-5 form-control-title"><span class="asterisk">*</span>{{'规格' | translate}}:</div>
			<div class="col-sm-5">
				<select class="form-control" [ngClass]="{'validErr':!specIdValid}" [(ngModel)]="selectedSpecId" (ngModelChange)="selectSpec()">
					<option value="">--选择规格--</option>					
                    <option  *ngFor="let spec of selectedFlavor.specList" [value]="spec.specId">{{spec.specName}}</option>
                </select>
			</div>
		</div>
	</div>
	<div class="row row-line-height">
		<div class="form-group">
			<div class="col-sm-5 form-control-title"><span class="asterisk">*</span>{{'规格值' | translate}}:</div>
			<div class="col-sm-4">
				<select class="form-control" [ngClass]="{'validErr':!specValueValid}" [(ngModel)]="newUnitObj.partsFlavorValue" (ngModelChange)="specValueValid=newUnitObj.partsFlavorValue!=''?true:false">
					<option value=0>--选择规格值--</option>					
                    <option  *ngFor="let value of selectedSpecObj.specValues" [value]="value">{{value}}</option>
                </select>
			</div>
			<div class="cole-sm-2">
				<span *ngIf="selectedFlavor.partsName=='内存'||selectedFlavor.partsName=='磁盘'" style="line-height:34px">GB</span>
				<span *ngIf="selectedFlavor.partsName=='CPU'" style="line-height:34px">核</span>
				<span *ngIf="selectedFlavor.partsName=='网卡'" style="line-height:34px">个</span>
			</div>
		</div>
	</div>
	<div class="row row-line-height">
		<div class="form-group">
			<div class="col-sm-5 form-control-title"><span class="asterisk">*</span>{{'数量' | translate}}:</div>
			<div class="col-sm-5">
				<input type="number" min=0 [ngClass]="{'validErr':!specNumberValid}" class="form-control" name="specId" [(ngModel)]="newUnitObj.partFlavorNum"
				 (ngModelChange)="specNumberValid=newUnitObj.partFlavorNum!=''?true:false">
			</div>
		</div>
	</div>
</fc-popup>
<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="HOST_OPENSTACK_MNG.CONFIRM"></fc-notice>