<div class="personAccMng">
	<div class="page-content-header icon-content-header-platform-manage">{{ 'MENU.PERSONAL_ACCOUNT_MANAGEMENT' | translate}}</div>
	<div class="page-content fix-page-content">
		<div class="row" style="padding-top: 30px;">
			<!--<div class="col-md-2 touxiang">
				<div class="img">
					<img src="" alt="">
				</div>
				<p class="title font-green">修改头像</p>
			</div>-->
			<div class="col-md-7 detail">
				<div class="row mgb15">
					<div class="col-md-2 pcTitle"><span class="asterisk">*</span>{{ 'COMMON.NAME' | translate}}: </div>
					<div class="col-md-3 pcContent">
						<span *ngIf="name" class="pcDisplay">{{personAcc.userName}}</span>
						<div class="has-feedback" *ngIf="nameEdit">
							<input type="text" class="form-control" #userName [(ngModel)]="personAcc.userName">
							<span class="glyphicon glyphicon-remove form-control-feedback"></span>
							<span class="cancel" (click)="clear('userName')"></span>
						</div>
					</div>
					<div class="col-md-2 font-green paOrder">
						<span (click)="editName()" *ngIf="name">{{ 'COMMON.MODIFY' | translate}}</span>
						<span *ngIf="nameEdit" (click)="saveName()">{{ 'COMMON.SAVE' | translate}}</span>
						<span *ngIf="nameEdit" (click)="cancelName()">{{ 'COMMON.CANCEL' | translate}}</span>
					</div>
				</div>
				<div class="row mgb15">
					<div class="col-md-2 pcTitle">{{ 'COMMON.ACCOUNT' | translate}}: </div>
					<div class="col-md-3 pcContent">
						<span class="pcDisplay dd">{{personAcc.loginName}}</span>
					</div>
				</div>
				<div class="row mgb15">
					<div class="col-md-2 pcTitle"><span class="asterisk">*</span>{{ 'COMMON.PHONE' | translate}}</div>
					<div class="col-md-3 pcContent">
						<span *ngIf="phone" class="pcDisplay">{{personAcc.phone}}</span>
						<div class="has-feedback" *ngIf="phoneEdit">
							<input type="text" class="form-control" #phone [(ngModel)]="personAcc.phone" >
							<span class="glyphicon glyphicon-remove form-control-feedback"></span>
							<span class="cancel" (click)="clear('phone')"></span>
						</div>
					</div>
					<div class="col-md-2 font-green paOrder">
						<span (click)="editPhone()" *ngIf="phone">{{ 'COMMON.MODIFY' | translate}}</span>
						<span *ngIf="phoneEdit" (click)="savePhone()">{{ 'COMMON.SAVE' | translate}}</span>
						<span *ngIf="phoneEdit" (click)="cancelPhone()">{{ 'COMMON.CANCEL' | translate}}</span>
					</div>
				</div>
				<div class="row mgb15">
					<div class="col-md-2 pcTitle">{{ 'COMMON.TYPE' | translate}}: </div>
					<div class="col-md-3 pcContent">
						<span *ngIf="!personAcc.isAD" class="pcDisplay dd">{{ 'COMMON.LOCAL' | translate}}</span>
						<span *ngIf="personAcc.isAD" class="pcDisplay dd">AD</span>
					</div>
				</div>
				<div class="row mgb15">
					<div class="col-md-2 pcTitle">{{ 'COMMON.PASSWORD' | translate}}: </div>
					<div class="col-md-3 pcContent">
						<span class="pcDisplay">********</span>
					</div>
					<div class="col-md-2 font-green paOrder" *ngIf="!personAcc.isAD">
						<span (click)="editPwd()">{{ 'COMMON.MODIFY' | translate}}</span>
					</div>
				</div>
				<div class="row mgb15">
					<div class="col-md-2 pcTitle">{{ 'COMMON.DESCRIPTION' | translate}}</div>
					<div class="col-md-3 pcContent">
						<span *ngIf="desc" class="pcDisplay">{{personAcc.description}}</span>
						<div class="has-feedback" *ngIf="descEdit">
							<textarea class="form-control font-gray" rows="4" [(ngModel)]="personAcc.description"></textarea>
						</div>
					</div>
					<div class="col-md-2 font-green paOrder">
						<span (click)="editDesc()" *ngIf="desc">{{ 'COMMON.MODIFY' | translate}}</span>
						<span *ngIf="descEdit" (click)="saveDesc()">{{ 'COMMON.SAVE' | translate}}</span>
						<span *ngIf="descEdit" (click)="cancelDesc()">{{ 'COMMON.CANCEL' | translate}}</span>
					</div>
				</div>
				<!--<div class="row">
					<div class="col-md-12">
						<div class="row row-line-height">
							<div class="form-group">
								<div class="col-sm-2 form-control-title">姓名：</div>
								<div class="col-sm-4">
									<input type="text" class="form-control font-gray" [disabled]="!edit" [(ngModel)]="personAcc.userName">
								</div>
							</div>
						</div>
						<div class="row row-line-height">
							<div class="form-group">
								<div class="col-sm-2 form-control-title">账号：</div>
								<div class="col-sm-4">
									<input type="text" class="form-control font-gray" [disabled]="!edit" [(ngModel)]="personAcc.loginName">
								</div>
							</div>
						</div>
						<div class="row row-line-height">
							<div class="form-group">
								<div class="col-sm-2 form-control-title">联系电话：</div>
								<div class="col-sm-4">
									<input type="text" class="form-control font-gray" [disabled]="!edit" [(ngModel)]="personAcc.phone">
								</div>
							</div>
						</div>
						<div class="row row-line-height">
							<div class="form-group">
								<div class="col-sm-2 form-control-title">类型：</div>
								<div class="col-sm-4">
									<span style="line-height:34px;">本地</span>
								</div>
							</div>
						</div>
						<div class="row row-line-height">
							<div class="form-group">
								<div class="col-sm-2 form-control-title">描述：</div>
								<div class="col-sm-4">
									<textarea class="form-control font-gray" rows="4" placeholder="描述" [disabled]="!edit" [(ngModel)]="personAcc.description"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</div>
	<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="{{ 'COMMON.CONFIRM' | translate}}" (of)="nof()"></fc-notice>
	<fc-popup #editPassWord title="{{title}}" ot="{{ 'COMMON.SAVE' | translate}}" (of)="otEditPwd()" ct="{{ 'COMMON.CANCEL' | translate}}" (cf)="ccf()">
		<!--<div class="page-content">
			<div class="row" style="padding-top: 10px;">
				<div class="col-md-12">
					<form *ngIf="active">
						<div class="row row-line-height">
							<div class="form-group" >
								<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> {{ 'USER_CENTER.CURRENT_PASSWORD' | translate}}: </div>
								<div class="col-sm-6" [ngClass]="{'has-error':!passwordValid||(password.errors && (password.dirty || password.touched))}">
									<input type="text" class="form-control font-gray" type="password" [(ngModel)]="accPwd.password" required  #password="ngModel" name=password (blur)="pwdValid(accPwd.password)" (focus)="passwordValid=true">
									<div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
										<div [hidden]="!password.errors.required">
											password is required
										</div>																		
									</div>
									<div *ngIf="!passwordValid&&!password.errors" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
										<div >
											{{ 'USER_CENTER.PASSWORD_FORMAT_ERROR' | translate}}
										</div>																		
									</div>
								</div>
							</div>
						</div>
						<div class="row row-line-height">
							<div class="form-group">
								<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> {{ 'USER_CENTER.NEW_PASSWORD' | translate}}: </div>
								<div class="col-sm-6" [ngClass]="{'has-error':newPassword.errors && (newPassword.dirty || newPassword.touched)||!newPasswordValid||sameNewPassword}">
									<input type="text" class="form-control font-gray" type="password" [(ngModel)]="accPwd.newPassword" required  #newPassword="ngModel" name="newPassword" (blur)="newPwdValid(accPwd.newPassword)" (focus)="newPasswordValid=true;sameNewPassword=false">
									<div *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
										<div [hidden]="!newPassword.errors.required">
											new password is required
										</div>																		
									</div>
									<div *ngIf="!newPasswordValid&&!newPassword.errors&&!sameNewPassword " class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
										<div >
											{{ 'USER_CENTER.NEW_PASSWORD_FORMAT_ERROR' | translate}}
										</div>																		
									</div>
									<div *ngIf="sameNewPassword&&!newPassword.errors&&newPasswordValid" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
										<div >
											{{ 'USER_CENTER.THE_NEW_PASSWORD_CANNOT_BE_THE_SAME_AS_THE_ORIGINAL_PASSWORD' | translate}}
										</div>																		
									</div>
								</div>
							</div>
						</div>
						<div class="row row-line-height">
							<div class="form-group" >
								<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> {{ 'USER_CENTER.CONFIRM_NEW_PASSWORD' | translate}}: </div>
								<div class="col-sm-6" [ngClass]="{'has-error':!samePassword}">
									<input type="text" class="form-control font-gray" type="password" [(ngModel)]="accPwd.confirmPwd" required  #confirmPwd="ngModel" id="inputError1" name="confirmPwd" (focus)="samePassword=true">
									<div *ngIf="!samePassword" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
										<div>
											{{ 'USER_CENTER.PASSWORD_INPUT_IS_NOT_CONSISTENT' | translate}}
										</div>																		
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>-->
		<div class="row" style="padding-top: 10px;">
			<div class="col-md-12">
				<form *ngIf="active">
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> {{'USER_CENTER.CURRENT_PASSWORD' | translate}}
								<!--当前密码-->:</div>							
							<div class="col-sm-6 form-group has-feedback no-padding" [ngClass]="{'has-error':v.result.password}">
								<input type="password" [(ngModel)]="accPwd.password" (ngModelChange)="checkPasswordForm('password')" name="password" 
								 class="form-control">
								<span *ngIf="v.result.password" class="glyphicon glyphicon-remove form-control-feedback"></span>
								<div *ngIf="v.result.password" class="alert alert-danger" role="alert">{{v.result.password| translate}}</div>
							</div>
						</div>
					</div>
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> {{'USER_CENTER.NEW_PASSWORD' | translate}}
								<!--新密码-->:</div>							
							<div class="col-sm-6 form-group has-feedback no-padding" [ngClass]="{'has-error':v.result.newPassword}">
								<input type="password" [(ngModel)]="accPwd.newPassword" (ngModelChange)="checkPasswordForm('newPassword')" name="newPassword" 
								 class="form-control">
								<span *ngIf="v.result.newPassword" class="glyphicon glyphicon-remove form-control-feedback"></span>
								<div *ngIf="v.result.newPassword" class="alert alert-danger" role="alert">{{v.result.newPassword| translate}}</div>
							</div>
						</div>
					</div>
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> {{'USER_CENTER.CONFIRM_NEW_PASSWORD' | translate}}
								<!--确认新密码-->:</div>							
							<div class="col-sm-6 form-group has-feedback no-padding" [ngClass]="{'has-error':v.result.confirmPwd}">
								<input type="password" [(ngModel)]="accPwd.confirmPwd" (ngModelChange)="checkPasswordForm('confirmPwd')" name="confirmPwd" 
								 class="form-control">
								<span *ngIf="v.result.confirmPwd" class="glyphicon glyphicon-remove form-control-feedback"></span>
								<div *ngIf="v.result.confirmPwd" class="alert alert-danger" role="alert">{{v.result.confirmPwd| translate}}</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</fc-popup>
</div>