<div class="personAccMng">
	<div class="page-content-header icon-content-header-platform-manage">个人账户管理</div>
	<div class="page-content fix-page-content">
		<div class="row" style="padding-top: 30px;">
			<div class="col-md-2 touxiang">
				<div class="img">
					<img src="" alt="">
				</div>
				<p class="title font-green">修改头像</p>
			</div>
			<div class="col-md-10 detail">
				<div class="row mgb15">
					<div class="col-md-1 pcTitle">姓名：</div>
					<div class="col-md-3 pcContent">
						<span *ngIf="name" class="pcDisplay">管华</span>
						<div class="has-feedback" *ngIf="nameEdit">
							<input type="text" class="form-control"  value="管华">
							<span class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</div>
					<div class="col-md-1 font-green paOrder">
						<span (click)="editName()" *ngIf="name">修改</span>
						<span *ngIf="nameEdit" (click)="saveName()">保存</span>
					</div>
				</div>
				<div class="row mgb15">
					<div class="col-md-1 pcTitle">账号：</div>
					<div class="col-md-3 pcContent">
						<span  class="pcDisplay">lisi@hpe.com</span>
					</div>					
				</div>
				<div class="row mgb15">
					<div class="col-md-1 pcTitle">电话：</div>
					<div class="col-md-3 pcContent">
						<span *ngIf="phone" class="pcDisplay">+8602160096688</span>
						<div class="has-feedback" *ngIf="phoneEdit">
							<input type="text" class="form-control"  value="+8602160096688">
							<span class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</div>
					<div class="col-md-1 font-green paOrder">
						<span (click)="editPhone()" *ngIf="phone">修改</span>
						<span *ngIf="phoneEdit" (click)="savePhone()">保存</span>
					</div>
				</div>
				<div class="row mgb15">
					<div class="col-md-1 pcTitle">类型：</div>
					<div class="col-md-3 pcContent">
						<span  class="pcDisplay">本地</span>
					</div>					
				</div>
				<div class="row mgb15">
					<div class="col-md-1 pcTitle">密码：</div>
					<div class="col-md-3 pcContent">
						<span  class="pcDisplay">********</span>
					</div>
					<div class="col-md-1 font-green paOrder">
						<span (click)="editPwd()">修改</span>
					</div>					
				</div>
				<div class="row mgb15">
					<div class="col-md-1 pcTitle">描述：</div>
					<div class="col-md-3 pcContent">
						<span *ngIf="desc" class="pcDisplay">描述内容在这里显示</span>
						<div class="has-feedback" *ngIf="descEdit">
							<textarea class="form-control font-gray" rows="4" [(ngModel)]="prodDir" placeholder="描述"></textarea>
						</div>
					</div>
					<div class="col-md-1 font-green paOrder">
						<span (click)="editDesc()" *ngIf="desc">修改</span>
						<span *ngIf="descEdit" (click)="saveDesc()">保存</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<fc-popup #editPassWord title="{{title}}" ot="保存" (of)="otEditPwd()" ct="取消" (cf)="ccf()">
		<div class="page-content">
			<div class="row" style="padding-top: 10px;">
				<div class="col-md-12">
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> 当前密码：</div>
							<div class="col-sm-6">
								<input type="text" class="form-control font-gray" type="password" [(ngModel)]="product">
							</div>
						</div>
					</div>
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> 新密码：</div>
							<div class="col-sm-6">
								<input type="text" class="form-control font-gray" type="password" [(ngModel)]="product">
							</div>
						</div>
					</div>
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> 确认新密码：</div>
							<div class="col-sm-6">
								<input type="text" class="form-control font-gray" type="password" [(ngModel)]="product">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</fc-popup>
</div>