<div class="personAccMng">
	<div class="page-content-header icon-content-header-platform-manage">个人账户管理</div>
	<div class="page-content fix-page-content">
		<div class="row" style="padding-top: 30px;">
			<div class="col-md-2 touxiang">
				<div class="img">
					<img src="" alt="">
				</div>
				<p class="title font-green">修改头像</p>
			</div>
			<div class="col-md-7 detail">
				<div class="row mgb15">
					<div class="col-md-1 pcTitle">姓名：</div>
					<div class="col-md-3 pcContent">
						<span *ngIf="name" class="pcDisplay">{{personAcc.userName}}</span>
						<div class="has-feedback" *ngIf="nameEdit">
							<input type="text" class="form-control" #userName [(ngModel)]="personAcc.userName">
							<span class="glyphicon glyphicon-remove form-control-feedback dd" style="cursor:pointer" (click)="con(userName)"></span>
						</div>
					</div>
					<div class="col-md-1 font-green paOrder">
						<span (click)="editName()" *ngIf="name">修改</span>
						<span *ngIf="nameEdit" (click)="saveName()">保存</span>
					</div>
				</div>
				<div class="row mgb15">
					<div class="col-md-1 pcTitle">账号：</div>
					<div class="col-md-3 pcContent">
						<span  class="pcDisplay dd">{{personAcc.loginName}}</span>
					</div>					
				</div>
				<div class="row mgb15">
					<div class="col-md-1 pcTitle">电话：</div>
					<div class="col-md-3 pcContent">
						<span *ngIf="phone" class="pcDisplay">{{personAcc.phone}}</span>
						<div class="has-feedback" *ngIf="phoneEdit">
							<input type="text" class="form-control"  [(ngModel)]="personAcc.phone">
							<span class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</div>
					<div class="col-md-1 font-green paOrder">
						<span (click)="editPhone()" *ngIf="phone">修改</span>
						<span *ngIf="phoneEdit" (click)="savePhone()">保存</span>
					</div>
				</div>
				<div class="row mgb15">
					<div class="col-md-1 pcTitle">类型：</div>
					<div class="col-md-3 pcContent">
						<span  class="pcDisplay dd">本地</span>
					</div>					
				</div>
				<div class="row mgb15">
					<div class="col-md-1 pcTitle">密码：</div>
					<div class="col-md-3 pcContent">
						<span  class="pcDisplay">********</span>
					</div>
					<div class="col-md-1 font-green paOrder">
						<span (click)="editPwd()">修改</span>
					</div>					
				</div>
				<div class="row mgb15">
					<div class="col-md-1 pcTitle">描述：</div>
					<div class="col-md-3 pcContent">
						<span *ngIf="desc" class="pcDisplay">描述</span>
						<div class="has-feedback" *ngIf="descEdit">
							<textarea class="form-control font-gray" rows="4" [(ngModel)]="personAcc.description" placeholder="描述"></textarea>
						</div>
					</div>
					<div class="col-md-1 font-green paOrder">
						<span (click)="editDesc()" *ngIf="desc">修改</span>
						<span *ngIf="descEdit" (click)="saveDesc()">保存</span>
					</div>
				</div>
				<!--<div class="row">
					<div class="col-md-12">
						<div class="row row-line-height">
							<div class="form-group">
								<div class="col-sm-2 form-control-title">姓名：</div>
								<div class="col-sm-4">
									<input type="text" class="form-control font-gray" [disabled]="!edit" [(ngModel)]="personAcc.userName">
								</div>
							</div>
						</div>
						<div class="row row-line-height">
							<div class="form-group">
								<div class="col-sm-2 form-control-title">账号：</div>
								<div class="col-sm-4">
									<input type="text" class="form-control font-gray" [disabled]="!edit" [(ngModel)]="personAcc.loginName">
								</div>
							</div>
						</div>
						<div class="row row-line-height">
							<div class="form-group">
								<div class="col-sm-2 form-control-title">联系电话：</div>
								<div class="col-sm-4">
									<input type="text" class="form-control font-gray" [disabled]="!edit" [(ngModel)]="personAcc.phone">
								</div>
							</div>
						</div>
						<div class="row row-line-height">
							<div class="form-group">
								<div class="col-sm-2 form-control-title">类型：</div>
								<div class="col-sm-4">
									<span style="line-height:34px;">本地</span>
								</div>
							</div>
						</div>
						<div class="row row-line-height">
							<div class="form-group">
								<div class="col-sm-2 form-control-title">描述：</div>
								<div class="col-sm-4">
									<textarea class="form-control font-gray" rows="4" placeholder="描述" [disabled]="!edit" [(ngModel)]="personAcc.description"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</div>
	<fc-popup #editPassWord title="{{title}}" ot="保存" (of)="otEditPwd()" ct="取消" (cf)="ccf()">
		<div class="page-content">
			<div class="row" style="padding-top: 10px;">
				<div class="col-md-12">
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> 当前密码：</div>
							<div class="col-sm-6">
								<input type="text" class="form-control font-gray" type="password" [(ngModel)]="product">
							</div>
						</div>
					</div>
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> 新密码：</div>
							<div class="col-sm-6">
								<input type="text" class="form-control font-gray" type="password" [(ngModel)]="product">
							</div>
						</div>
					</div>
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> 确认新密码：</div>
							<div class="col-sm-6">
								<input type="text" class="form-control font-gray" type="password" [(ngModel)]="product">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</fc-popup>
</div>