<div class="enterpriseManage">
    <div class="page-content-header icon-content-header-enterprise-manage">{{ 'MANAGE_AVILABLE_PLATFORM' | translate }}</div>
    <div class="page-content">
        <div class="firstPanel">
            <span>已选择平台</span>
            <div class="table-container">
			    <table class="table table-hover">
			        <thead>
			            <tr>
			                <th>平台名称</th>
			                <th>平台类别</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr>
			                <td>上海A平台</td>
			                <td>OpentStack</td>
			            </tr>               
			        </tbody>
			    </table>
			</div>
		</div>
         <div class="firstPanel">
            <span>未选择平台</span>
            <div class="table-container">
			    <table class="table table-hover">
			        <thead>
			            <tr>
			                <th>平台名称</th>
			                <th>平台类别</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr>
			                <td>上海A平台</td>
			                <td>OpentStack</td>
			            </tr>               
			        </tbody>
			    </table>
			</div>
		</div>
    </div>
</div>