<div class="page-content-header icon-content-header-purchasing">{{ 'ENT_MNG.VIEW_ENTERPRISE' | translate }}
	<button class="pull-right fox-cloud-button fox-cloud-button-white" style="margin-top:-10px;" (click)="return()"><span>{{ 'ENT_MNG.BACK_ENTERPRISE_LIST' | translate }}</span></button>
</div>
<div class="ChecEstkMng"> 
<div class="info-title"><span  class="form-control-title">{{ 'COMMON.BASIC_INFO' | translate }}:</span></div>

<div class="ht300" style="width:1500px;">
	<div class="infoContent left">
		<fieldset disabled>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-3 form-control-title "><span class="asterisk">*</span>{{ 'COMMON.NAME' | translate }}:</div>
					<div class="col-sm-6">
					    <input type="text" class="form-control" placeholder="{{ 'COMMON.NAME' | translate }}:" [(ngModel)]="entEst.BasicInfo.name">
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-3 form-control-title"><span class="asterisk">*</span>{{ 'ENT_MNG.AUTHENTICATION_MODE' | translate }}:</div>
					<div class="col-sm-6">				
                        <button class="smaller-bt disabled-smaller-bt" style="margin: -5px;">
		                  {{getCertMethod()}}
	                    </button>
					</div>
				</div>
			</div>
			<div class="row row-line-height" *ngIf="isAdCert()">
				<div class="form-group">
					<div class="col-sm-3 form-control-title"><span class="asterisk">*</span>URL {{ 'COMMON.PATH' | translate }}:</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" readonly [ngModel]="entEst.BasicInfo.certUrl">
					</div>
				</div>
			</div>
			<div class="row row-line-height" *ngIf="isAdCert()">
				<div class="form-group">
					<div class="col-sm-3 form-control-title"><span class="asterisk">*</span>{{ 'COMMON.USERNAME' | translate }}:</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" readonly [ngModel]="entEst.BasicInfo.contractorName">
					</div>
				</div>
			</div>
			<div class="row row-line-height" *ngIf="isAdCert()">
				<div class="form-group">
					<div class="col-sm-3 form-control-title"><span class="asterisk">*</span>{{ 'COMMON.PASSWORD' | translate }}:</div>
					<div class="col-sm-6">
						<input type="password" class="form-control" readonly [ngModel]="entEst.BasicInfo.password">
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-3 form-control-title"><span class="asterisk">*</span>{{ 'COMMON.DESCRIPTION' | translate }}:</div>
					<div class="col-sm-6">
						<textarea class="form-control" rows="7" readonly [ngModel]="entEst.BasicInfo.description"></textarea> 
					</div>
				</div>
			</div>
		</fieldset>
	</div>

	<div class="mgt20 left " style="margin-left:140px"> 
   		<div class="imgPanel icon-enterpriser-checkbg"></div>
	</div>
</div>           
<div class="info-title" [ngStyle]="{'margin-top': isAdCert()?'170px':'30px'}"> <span  class="form-control-title">{{ 'ENT_MNG.MNG_INFO' | translate }}:</span></div>
<div class="baseContainer mgt20">
	<!--<div style="padding-left:65px;">
   		<div class="row">
      		<div class="col-md-4 sm-container">
      			<h4>订单与审批统计</h4>
				<ul class="list-unstyled">
  					<li>
                       进行中的订单数:<span class="validateInfo">300</span>
				    </li>
 				    <li>待审批订单:<span>35</span></li>
 					<li>即将过期（1个月内）的订单数:<span class="warnInfo">124</span></li>
				</ul>
      		</div>
      		<div class="col-md-4 sm-container sm-container">
      			<h4>工单统计</h4>
				<ul class="list-unstyled">
  					<li>
                       新创建的工单数:<span class="validateInfo">30</span>
				    </li>
 				    <li>已完成的工单数:<span>124</span></li>
 					<li>处理中的工单数:<span class="warnInfo">200</span></li>
				</ul>
      		</div> 
      		<div class="col-md-4 sm-container">
				<h4>账户统计</h4>
				<ul class="list-unstyled">
  					<li>
                       启用的用户数量:<span class="validateInfo">100</span>
				    </li>
 				    <li>禁用的用户数量:<span span class="warnInfo">20</span></li>
				</ul>
      		</div>     
   		</div>
	</div>-->
	<div class="checkProdPanel green-border">
		<div class="titlePanel">
		<span class="form-control-title float-left">{{ 'ENT_MNG.ENTERPRISE_RESOURCE_STATISTICS' | translate }}</span>
		</div> 
	<div class="contentPanel" style="padding-left: 8px;" >
		<div class="float-left" width="150px">
			<div class="circle-graph mgr17 mgb10">
				<svg class="chart-circle" viewBox="0 0 100 100">
					<path class="underlay" d="M5,50 A45,45,0 1 1 95,50 A45,45,0 1 1 5,50"/>
					<path class="underlay2" d="M5,50 A45,45,0 1 1 95,50 A45,45,0 1 1 5,50" ></path>
				</svg>
				<span class="circle-percentage">{{resourceQuotaSvg.FirstItem.usedCpuRate|percent}}</span>
			</div>
			<div width="150px" style="text-align: center;">
				<span class="mgb10" style="display: block;">({{resourceQuotaSvg.FirstItem.vcpuQuota}})</span>
			    <span >VCPU</span>
			</div>	  	
		</div>
	  	<div class="float-left" width="150px">
			<div class="circle-graph mgr17 mgb10">
				<svg class="chart-circle" viewBox="0 0 100 100">
					<path class="underlay" d="M5,50 A45,45,0 1 1 95,50 A45,45,0 1 1 5,50"/>
					<path class="underlay2" d="M5,50 A45,45,0 1 1 95,50 A45,45,0 1 1 5,50" ></path>
				</svg>
				<span class="circle-percentage">{{resourceQuotaSvg.FirstItem.usedMemRate|percent}}</span>
			</div>
			<div width="150px" style="text-align: center;">
				<span class="mgb10" style="display: block;">({{resourceQuotaSvg.FirstItem.memroyQuota}})</span>
			    <span >{{ 'COMMON.RAM' | translate }}</span>
			</div>	  	
		</div>
		<div class="float-left" width="150px">
			<div class="circle-graph mgr17 mgb10">
				<svg class="chart-circle" viewBox="0 0 100 100">
					<path class="underlay" d="M5,50 A45,45,0 1 1 95,50 A45,45,0 1 1 5,50"/>
					<path class="underlay2" d="M5,50 A45,45,0 1 1 95,50 A45,45,0 1 1 5,50" ></path>
				</svg>
				<span class="circle-percentage">{{resourceQuotaSvg.FirstItem.usedStorageRate|percent}}</span>
			</div>
			<div width="150px" style="text-align: center;">
				<span class="mgb10" style="display: block;">({{resourceQuotaSvg.FirstItem.storageQuota}})</span>
			    <span >{{ 'COMMON.STORAGE' | translate }}</span>
			</div>	  	
		</div>
		<div class="float-left" width="150px">
			<div class="circle-graph mgr17 mgb10">
				<svg class="chart-circle" viewBox="0 0 100 100">
					<path class="underlay" d="M5,50 A45,45,0 1 1 95,50 A45,45,0 1 1 5,50"/>
					<path class="underlay2" d="M5,50 A45,45,0 1 1 95,50 A45,45,0 1 1 5,50" ></path>
				</svg>
				<span class="circle-percentage">{{resourceQuotaSvg.FirstItem.usedPhysicalMachineRate|percent}}</span>
			</div>
			<div width="150px" style="text-align: center;">
				<span class="mgb10" style="display: block;">({{resourceQuotaSvg.FirstItem.physicalQuota}})</span>
			    <span >{{ 'COMMON.PHYSICAL_MACHINE' | translate }}</span>
			</div>	  	
		</div>
		<div class="float-left" width="150px">
			<div class="circle-graph mgr17 mgb10">
				<svg class="chart-circle" viewBox="0 0 100 100">
					<path class="underlay" d="M5,50 A45,45,0 1 1 95,50 A45,45,0 1 1 5,50"/>
					<path class="underlay2" d="M5,50 A45,45,0 1 1 95,50 A45,45,0 1 1 5,50" ></path>
				</svg>
				<span class="circle-percentage">{{resourceQuotaSvg.FirstItem.usedSnapshotRate|percent}}</span>
			</div>
			<div width="150px" style="text-align: center;">
				<span class="mgb10" style="display: block;">({{resourceQuotaSvg.FirstItem.snapShotQuota}})</span>
			    <span >{{ 'COMMON.SNAPSHOT' | translate }}</span>
			</div>	  	
		</div>
		<div class="float-left" width="150px">
			<div class="circle-graph mgr17 mgb10">
				<svg class="chart-circle" viewBox="0 0 100 100">
					<path class="underlay" d="M5,50 A45,45,0 1 1 95,50 A45,45,0 1 1 5,50"/>
					<path class="underlay2" d="M5,50 A45,45,0 1 1 95,50 A45,45,0 1 1 5,50" ></path>
				</svg>
				<span class="circle-percentage">{{resourceQuotaSvg.FirstItem.usedImageRate|percent}}</span>
			</div>
			<div width="150px" style="text-align: center;">
				<span class="mgb10" style="display: block;">({{resourceQuotaSvg.FirstItem.imageQuota}})</span>
			    <span >{{ 'COMMON.IMAGE' | translate }}</span>
			</div>	  	
		</div>
		<div class="float-left" width="150px">
			<div class="circle-graph mgr17 mgb10">
				<svg class="chart-circle" viewBox="0 0 100 100">
					<path class="underlay" d="M5,50 A45,45,0 1 1 95,50 A45,45,0 1 1 5,50"/>
					<path class="underlay2" d="M5,50 A45,45,0 1 1 95,50 A45,45,0 1 1 5,50" ></path>
				</svg>
				<span class="circle-percentage">{{resourceQuotaSvg.FirstItem.usedFloatIpRate|percent}}</span>
			</div>
			<div width="150px" style="text-align: center;">
				<span class="mgb10" style="display: block;">({{resourceQuotaSvg.FirstItem.floatIpQuota}})</span>
			    <span >{{ 'COMMON.FLOAT_IP_PATH' | translate }}</span>
			</div>	  	
		</div>
		
	</div>
	</div>
</div>

<div class="info-title"><span  class="form-control-title">{{ 'COMMON.PRODUCT_INFO' | translate }}:</span></div>
<div class="contentPanel" style="width: 1240px;padding-left: 35px;padding-top: 30px;padding-bottom: 100px;">
	<table class="table table-hover center-table  green-border">
		<thead class="table-thead">
			<tr>
			    <td>{{ 'COMMON.NUMBER' | translate }}</td>
				<td>{{ 'PROD_MNG.PROD_NAME' | translate }}</td>
				<td>{{ 'PROD_MNG.PRODUCT_CAT' | translate }}</td>
				<td>{{ 'PROD_MNG.PRODUCT_TYPE' | translate }}</td>
				<td>{{ 'PROD_MNG.PRODUCT_SPEC' | translate }}</td>                     
				<td>{{ 'COMMON.COUNT_CYCLE' | translate }}</td>
				<td>{{ 'COMMON.CYCLE_COST' | translate }}</td>
				<td>{{ 'COMMON.ONE_TIME_COSTS' | translate }}</td>
				<td>{{ 'COMMON.STATUS' | translate }}</td>
				<td>{{ 'COMMON.DESCRIPTION' | translate }}</td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of entProdItems.items;let i=index;">
					<td>{{i + 1}}</td>
				<td>{{item.name}}</td>
				<td>{{item.category}}</td>
				<td>{{item.type}}</td>
				<td>{{item.spec}}</td>
				<td>{{item.countCycle}}</td>
				<td>{{item.cyclePrice}}</td>
				<td>{{item.oneTimePrice}}</td>
				<td  [ngClass]="{'validateInfo':item.status==1,'warnInfo':item.status!=1}">{{item.statusName}}</td>
				<td>{{item.description}}</td>
				</tr>
		</tbody>
	</table>
	<fc-pagination tp={{entProdItems.totalPages}} (pf)="changePage($event)"></fc-pagination>
</div>
</div>


<fc-notice #notice ot="{{ 'COMMON.CONFIRM' | translate }}"></fc-notice>