<div class="enterpriseManage">
    <div class="page-content-header icon-content-header-enterprise-manage">{{ 'ENT_MNG.MANAGE_AVILABLE_PLATFORM' | translate }}
		<button class="pull-right fox-cloud-button fox-cloud-button-white" style="margin-top:-10px;" (click)="return()"><span>{{ 'ENT_MNG.BACK_ENTERPRISE_LIST' | translate }}</span></button>
	</div>
    <div class="page-content">
        <div class="firstPanel">
            <span class="form-control-title">已选择平台</span>
            <div class="table-container mgt10">
			    <table class="table table-hover">
			        <thead>
			            <tr>
			                <th>平台名称</th>
			                <th>平台类型</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr>
			                <td>上海A平台</td>
			                <td>OpentStack</td>
			            </tr>               
			        </tbody>
			    </table>
			</div>
		</div>
         <div class="firstPanel mgt20">
            <span class="form-control-title">未选择平台</span>
            <div class="table-container mgt10">
			    <table class="table table-hover">
			        <thead>
			            <tr>
							<th>选择</th>
			                <th>平台名称</th>
			                <th>平台类型</th>
			                <th>状态</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr>
							<td><input type="checkbox" class="fox-cloud-checkbox"/></td>
			                <td>OpentStack</td>
			                <td>上海A平台</td>
			                <td>OpentStack</td>
			            </tr>               
			        </tbody>
			    </table>
			</div>
		</div>

		<div>
			<button class="fox-cloud-button-white fox-cloud-button-lg"><span>取消</span></button>
		 	<button class="fox-cloud-button-green fox-cloud-button-lg"><span>保存</span></button>
		 </div>
    </div>
</div>