<div class="page-content-header icon-content-header-enterprise-manage">{{ 'ENT_MNG.ENTERPRISE_PRODUCT_SET' | translate }}: {{entName}}
<button class="pull-right fox-cloud-button fox-cloud-button-white" id="return" (click)="return()" style="margin-top: -10px;"><span>{{ 'ENT_MNG.BACK_ENTERPRISE_LIST' | translate }}</span></button>
</div> 

<div class="page-content">
	<div class="mgb20 green-border">
		<div class="titlePanel">
			<span class="form-control-title">{{ 'ENT_MNG.SELECTED_PRODUCTS' | translate }}</span>
			<div class="pull-right chevron-down-bt" (click)="showEntProdList=!showEntProdList" id="showEntProdList">
				<span class="glyphicon glyphicon-chevron-down"></span>
				<span class="glyphicon glyphicon-chevron-down chevron-down-bt-second"></span>
			</div>
			<div class="pull-right" style="display: none">
				<input type="text" class="form-control searchbox gray-searchbox" id="search_input_prod" placeholder="{{ 'COMMON.SEARCH' | translate }}" [(ngModel)]="criteria" />
				<span class="glyphicon glyphicon-search searchbox-incon" (click)="search()" id="search_prod"></span>
			</div>
				
		</div>
		<div class="contentPanel green-border">
			<table class="table table-hover center-table">
				<thead class="table-thead">
					<tr>
						<td>{{ 'PROD_MNG.PROD_NAME' | translate }}</td>
						<td>{{ 'PROD_MNG.PRODUCT_CAT' | translate }}</td>
						<td>{{ 'PROD_MNG.PRODUCT_TYPE' | translate }}</td>
						<td>{{ 'PROD_MNG.PRODUCT_SPEC' | translate }}</td>                     
						<td>{{ 'COMMON.COUNT_CYCLE' | translate }}</td>
						<td>{{ 'COMMON.CYCLE_COST' | translate }}</td>
						<td>{{ 'COMMON.ONE_TIME_COSTS' | translate }}</td>
						<td>{{ 'COMMON.STATUS' | translate }}</td>
						<td>{{ 'COMMON.OPERATION' | translate }}</td>
					</tr>
				</thead>
				<tbody *ngIf="showEntProdList">
					<tr *ngFor="let item of entProdItems.items" id="entProdItems_{{item.id}}">
						<td>{{item.name}}</td>
						<td>{{item.category}}</td>
						<td>{{item.type}}</td>
						<td>{{item.spec}}</td>
						<td>{{item.countCycle}}</td>
						<td>{{item.cyclePrice}}</td>
						<td>{{item.oneTimePrice}}</td>
						<td [ngClass]="{'validateInfo':item.status==1,'warnInfo':item.status!=1}">{{item.statusName}}</td>
						<td><button class="green-delete-bt" (click)="removeItem(item)"><i></i></button></td>
					</tr>
				</tbody>
			</table>
			<fc-pagination tp={{entProdItems.totalPages}} (pf)="changePage_EntProdItems($event)"></fc-pagination>
		</div>
	</div>
	<div class="mgt20 mgb20 green-border">
		<div class="titlePanel">
			<span class="form-control-title">{{ 'ENT_MNG.ALL_PRODUCTS_LIST' | translate }}</span>
			<div class="pull-right chevron-down-bt" (click)="showProdList=!showProdList" id="showProdList_ed">
				<span class="glyphicon glyphicon-chevron-down"></span>
				<span class="glyphicon glyphicon-chevron-down chevron-down-bt-second"></span>
			</div>
			<div class="pull-right" style="display: none">
				<input type="text" class="form-control searchbox gray-searchbox" id="search_box" placeholder="{{ 'COMMON.SEARCH' | translate }}" [(ngModel)]="criteria" />
				<span class="glyphicon glyphicon-search searchbox-incon" (click)="search()" id="search_box_on"></span>
			</div>
				
		</div>
		<div class="contentPanel green-border">
			<table class="table table-hover center-table">
				<thead class="table-thead">
					<tr>
						<td>{{ 'PROD_MNG.PROD_NAME' | translate }}</td>
						<td>{{ 'PROD_MNG.PRODUCT_CAT' | translate }}</td>
						<td>{{ 'PROD_MNG.PRODUCT_TYPE' | translate }}</td>
						<td>{{ 'PROD_MNG.PRODUCT_SPEC' | translate }}</td>                     
						<td>{{ 'COMMON.COUNT_CYCLE' | translate }}</td>
						<td>{{ 'COMMON.CYCLE_COST' | translate }}</td>
						<td>{{ 'COMMON.ONE_TIME_COSTS' | translate }}</td>
						<td>{{ 'COMMON.STATUS' | translate }}</td>
						<td>{{ 'COMMON.OPERATION' | translate }}</td>
					</tr>
				</thead>
				<tbody *ngIf="showProdList">
					<tr *ngFor="let item of prodItems.items" id="prodItems_{{item.id}}">
						<td>{{item.name}}</td>
						<td>{{item.category}}</td>
						<td>{{item.type}}</td>
						<td>{{item.spec}}</td>
						<td>{{item.countCycle}}</td>
						<td>{{item.cyclePrice}}</td>
						<td>{{item.oneTimePrice}}</td>
						<td [ngClass]="{'validateInfo':item.status==1,'warnInfo':item.status!=1}">{{item.statusName}}</td>
						<td><button class="green-add-bt" (click)="addItem(item)"><i></i><i></i></button></td>
					</tr>
				</tbody>
			</table>
			<fc-pagination tp={{prodItems.totalPages}} (pf)="changePage_ProdItems($event)"></fc-pagination>
		</div>
	</div>
</div>
<fc-notice #notice ot="{{ 'COMMON.CONFIRM' | translate }}"></fc-notice>
