<div class="enterpriseManage">
    <div class="page-content-header icon-content-header-enterprise-manage">{{ 'ENT_MNG.MANAGE_AVILABLE_PLATFORM' | translate }}
		<button class="pull-right fox-cloud-button fox-cloud-button-white" style="margin-top:-10px;" (click)="cancel()"><span>{{ 'ENT_MNG.BACK_ENTERPRISE_LIST' | translate }}</span></button>
	</div>
    <div class="page-content">
        <div class="firstPanel">
            <span class="form-control-title">已选择平台</span>
            <div class="table-container mgt10">
			    <table class="table table-hover">
			        <thead>
			            <tr>
			                <th>平台名称</th>
			                <th>平台类型</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr  *ngFor="let selectedPlatformItem of selectedPlatformLoader.Items" >
			                <td>{{selectedPlatformItem.name}}</td>
			                <td>{{selectedPlatformItem.type}}</td>
			            </tr>               
			        </tbody>
			    </table>
			</div>
			<!--<fc-pagination tp={{selectedPlatformLoader.TotalPages}} (pf)="changePage($event)"></fc-pagination>-->
		</div>
         <div class="firstPanel mgt20">
            <span class="form-control-title">未选择平台</span>
            <div class="table-container mgt10"  style="height: 500px;overflow: auto;">
			    <table class="table table-hover">
			        <thead>
			            <tr>
							<th>选择</th>
			                <th>平台名称</th>
			                <th>平台类型</th>
			                <th>状态</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr *ngFor="let platformItem of platformLoader.Items;let i=index">
							<td><input type="checkbox" class="fox-cloud-checkbox"  (change)="selectItem(i,platformItem)" /></td>
			                <td>{{platformItem.name}}</td>
			                <td>{{platformItem.typeName}}</td>
			                <td [ngClass]="{'validateInfo':platformItem.status==1,'warnInfo':platformItem.status!=1}">
								{{platformItem.statusName}}</td><!--{{platformItem.status| dict:_dictServ.getDic('SUBINSTANCE', 'STATUS') | async}}-->
			            </tr>               
			        </tbody>
			    </table>
			</div>
			<!--<fc-pagination tp={{platformLoader.TotalPages}} (pf)="changePage($event)"></fc-pagination>-->
		</div>

		<div class="firstPanel mgt20" style="width:300px;">
			<button class="fox-cloud-button-white fox-cloud-button-lg mgr20 mgt20" (click)="cancel();"><span>取消</span></button>
		 	<button class="fox-cloud-button-green fox-cloud-button-lg" (click)="save();"><span>保存</span></button>
		 </div>
    </div>
</div>