<div class="enterpriseManage">
<div class="page-content-header icon-content-header-enterprise-manage">{{ 'ENT_MNG.ENTERPRISE_MNG' | translate }}</div>
<div class="page-content">
	<div style="padding-bottom: 10px;">
	
		<div class="dropdown pull-right">			
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			{{ 'COMMON.MORE_OPERATION' | translate }}
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li class="hands"><a (click)="edit()">{{ 'COMMON.EDIT' | translate }}</a></li>
				<li class="hands"><a (click)="modifyQuota()">{{ 'ENT_MNG.MODIFY_QUOTA' | translate }}</a></li>
<!-- 				<li class="hands"><a (click)="setupCertInfo()">设置认证</a></li>
 -->			
 				<!--<li class="hands"><a (click)="manageAviPlatform()">{{ 'ENT_MNG.MANAGE_AVILABLE_PLATFORM' | translate }}</a></li>-->
 				<!--<li class="hands"><a (click)="setupProduct()">{{ 'ENT_MNG.SET_PRODUCT' | translate }}</a></li>-->
				<!--<li class="hands"><a (click)="setupAdmin()">{{ 'ENT_MNG.SET_ADMIN' | translate }}</a></li>-->
				<!--<li class="hands"><a (click)="setupCerts()">{{ 'ENT_MNG.MNG_AD_SOURCE' | translate }}</a></li>-->
				<li class="hands"><a (click)="enable()">{{ 'COMMON.ENABLE' | translate }}</a></li>
				<li class="hands"><a (click)="disable()">{{ 'COMMON.DISABLE' | translate }}</a></li>
				<li class="hands"><a (click)="delete()">{{ 'COMMON.DELETE' | translate }}</a></li>
			</ul>
		</div>
		<div class="pull-right" style="display: none">
			<input type="text" class="form-control searchbox" placeholder="{{ 'COMMON.SEARCH' | translate }}" [(ngModel)]="criteria" />
			<span class="glyphicon glyphicon-search searchbox-incon" (click)="search()"></span>
		</div>
		<button class="fox-cloud-button fox-cloud-button-green" (click)="create()">
			<span class="glyphicon glyphicon-edit"></span>
			<span class="icon-button-label icon-left-button-label">{{ 'ENT_MNG.CREATE_ENTERPRISE' | translate }}</span>
		</button>
		<button class="fox-cloud-button fox-cloud-button-green" (click)="manageAviPlatform()">
			<span class="icon-button-label icon-left-button-label">{{ 'ENT_MNG.MANAGE_AVILABLE_PLATFORM' | translate }}</span>
		</button>
		<button class="fox-cloud-button fox-cloud-button-green" (click)="setupCerts()">
			<span class="icon-button-label icon-left-button-label">{{ 'ENT_MNG.MNG_AD_SOURCE' | translate }}</span>
		</button>
		<button class="fox-cloud-button fox-cloud-button-green" (click)="setupProduct()">
			<span class="icon-button-label icon-left-button-label">{{ 'ENT_MNG.SET_PRODUCT' | translate }}</span>
		</button>
		<button class="fox-cloud-button fox-cloud-button-green" (click)="setupAdmin()">
			<span class="icon-button-label icon-left-button-label">{{ 'ENT_MNG.SET_ADMIN' | translate }}</span>
		</button>
		
	</div>
	<div class="table-container">
		<table class="table table-hover"> 
			<thead>
				<tr>
					<th class="fristTh">{{ 'COMMON.CHOOSE' | translate }}</th>
					<th>{{ 'CHECK_CENTER.ENTERPRISE_TENANT_NAME' | translate }}</th>
					<th>云主机数量</th>
					<th>{{ 'ENT_MNG.SNAPSHOT_NUM' | translate }}</th>
					<th>{{ 'ENT_MNG.IMAGE_NUM' | translate }}</th>
					<th>{{ 'ENT_MNG.PRODUCT_NUM' | translate }}</th>
					<!--<th>{{ 'ENT_MNG.ORDERS_NUM' | translate }}</th>-->
					<th>{{ 'ENT_MNG.VCPU_QUOTA_PERCENT' | translate }}</th>
					<th>{{ 'ENT_MNG.MEM_QUOTA_PERCENT' | translate }}</th>
					<th>{{ 'ENT_MNG.STORAGE_QUOTA_PERCENT' | translate }}</th>				
					<th>{{ 'COMMON.STATUS' | translate }}</th>
					<th>描述</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of entEstMng.Items; let i=index">
					<td>
						<input type="radio" class="fox-cloud-radio"   name="entItems" (change)="selectItem(i)" value="{{i}}">
					</td>
					<td (click)="checkEnterpriseInfo(item.enterpriseId);" class="hands">{{item.enterpriseName}}</td>
					<td>{{item.vcpuQuota }}</td>
					<td>{{item.snapshotQuota }}</td>
					<td>{{item.imageQuota }}</td>
					<td>{{item.productNumber }}</td>
					<!--<td>{{item.orderNumber}}</td>-->
					<td>{{item.usedVCpuRate }}%</td>
					<td>{{item.usedMemRate}}%</td>
					<td>{{item.usedStorageRate}}%</td>
					<td [ngClass]="{'validateInfo':item.status==1,'warnInfo':item.status!=1}">{{item.statusName}}</td>
					<td>{{item.description}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<fc-pagination tp={{entEstMng.TotalPages}} (pf)="changePage($event)"></fc-pagination>
</div>
<fc-notice #notice ot="{{ 'COMMON.CONFIRM' | translate }}" (of)="okClicked()"></fc-notice>
<fc-confirm #confirm ot="{{ 'COMMON.CONFIRM' | translate }}" ct="{{ 'COMMON.CANCEL' | translate }}" (of)="onConfirmed()"></fc-confirm>
<!-- 编辑企业 -->
<fc-popup #editEnt ot="{{ 'COMMON.CONFIRM' | translate }}" ct="{{ 'COMMON.CANCEL' | translate }}" title="{{ 'ENT_MNG.EDIT_ENTERPRISE' | translate }}" (of)="acceptEntModify()" (cf)="cancelEntModify()">
  <div class="dialogContent">
	<div class="row row-line-height">
		<div class="form-group">
			<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{ 'COMMON.NAME' | translate }}:</div>
			<div class="col-sm-4">
				<input type="text" class="form-control" placeholder="{{ 'COMMON.NAME' | translate }}" [(ngModel)]="entEst.BasicInfo.name">
			</div>
		</div>
	</div>
	<div class="row row-line-height">
		<div class="form-group">
			<div class="col-sm-4 form-control-title">{{ 'COMMON.DESCRIPTION' | translate }}:</div>
			<div class="col-sm-4">
				<textarea class="form-control input-control" placeholder="{{ 'COMMON.DESCRIPTION' | translate }}" rows="4" [(ngModel)]="entEst.BasicInfo.description"></textarea>
			</div>
		</div>
	</div>
  </div>
</fc-popup>
<!-- 修改配额 -->

<fc-popup #editQuota ot="{{ 'COMMON.CONFIRM' | translate }}" ct="{{ 'COMMON.CANCEL' | translate }}" title="{{ 'ENT_MNG.MODIFY_QUOTA' | translate }}" (of)="acceptQuotaModify()" (cf)="cancelQuotaModify()">
	
	<div class="dialogContent">
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-6 form-control-title"><span class="asterisk">*</span>{{ 'ENT_MNG.VAILABLE_VCPU_NUM' | translate }}:</div>
					<div class="col-sm-5">
					    <input type="number" class="form-control input-control wt280" placeholder="{{ 'ENT_MNG.VAILABLE_VCPU_NUM' | translate }}" [(ngModel)]="entEstResource.FirstItem.vcpuQuota">
					</div>
					<div class="col-sm-1">
					    <span class=" form-control-title mgl5"></span>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-6 form-control-title"><span class="asterisk">*</span>{{ 'ENT_MNG.VAILABLE_RAM_NUM' | translate }}:</div>
					<div class="col-sm-5">
					    <input type="number" class="form-control input-control wt280" placeholder="{{ 'ENT_MNG.VAILABLE_RAM_NUM' | translate }}" [(ngModel)]="entEstResource.FirstItem.memroyQuota">
					</div>
					<div class="col-sm-1">
					    <span class=" form-control-title ">GB</span>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-6 form-control-title"><span class="asterisk">*</span>{{ 'ENT_MNG.CAN_CREATE_PYH_NUM' | translate }}:</div>
					<div class="col-sm-5">
					<input type="number" class="form-control input-control wt280" placeholder="{{ 'ENT_MNG.CAN_CREATE_PYH_NUM' | translate }}" [(ngModel)]="entEstResource.FirstItem.physicalQuota">
					</div>
					<div class="col-sm-1">
					    <span class=" form-control-title mgl5" ></span>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-6 form-control-title"><span class="asterisk">*</span>{{ 'ENT_MNG.VAILABLE_STORAGE_QUOTA' | translate }}:</div>
					<div class="col-sm-5">
						<input type="number" class="form-control input-control wt280" placeholder="{{ 'ENT_MNG.VAILABLE_STORAGE_QUOTA' | translate }}" [(ngModel)]="entEstResource.FirstItem.storageQuota">
					</div>
					<div class="col-sm-1">
					    <span class=" form-control-title ">GB</span>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-6 form-control-title"><span class="asterisk">*</span>{{ 'ENT_MNG.CAN_CREATE_SNAPSHOT_NUM' | translate }}:</div>
					<div class="col-sm-5">
						<input type="number" class="form-control input-control wt280" placeholder="{{ 'ENT_MNG.CAN_CREATE_SNAPSHOT_NUM' | translate }}" [(ngModel)]="entEstResource.FirstItem.snapShotQuota">
					</div>
					<div class="col-sm-1">
					    <span class=" form-control-title mgl5"></span>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-6 form-control-title"><span class="asterisk">*</span>{{ 'ENT_MNG.CAN_CREATE_IMAGE_NUM' | translate }}:</div>
					<div class="col-sm-5">
						<input type="number" class="form-control input-control wt280" placeholder="{{ 'ENT_MNG.CAN_CREATE_IMAGE_NUM' | translate }}" [(ngModel)]="entEstResource.FirstItem.imageQuota">
					</div>
					<div class="col-sm-1">
					    <span class=" form-control-title mgl5" ></span>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-6 form-control-title"><span class="asterisk">*</span>{{ 'ENT_MNG.CAN_CREATE_FLOAT_IP_NUM' | translate }}:</div>
					<div class="col-sm-5">
						<input type="number" class="form-control input-control wt280" placeholder="{{ 'ENT_MNG.CAN_CREATE_FLOAT_IP_NUM' | translate }}" [(ngModel)]="entEstResource.FirstItem.floatIpQuota">
					</div>
					<div class="col-sm-1">
					    <span class=" form-control-title mgl5" ></span>
					</div>
				</div>
			</div>
	</div><!--变更-->

</fc-popup>

<!-- 设置认证 -->
<fc-popup #setupCert ot="{{ 'COMMON.CONFIRM' | translate }}" ct="{{ 'COMMON.CANCEL' | translate }}" title="{{ 'ENT_MNG.SET_AUTHENTICATION' | translate }}"  (of)="acceptCertModify()" (cf)="cancelCertModify()">
	
 <div class="dialogContent">
	<div class="row row-line-height">
		<div class="form-group">
			<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>URL {{ 'COMMON.PATH' | translate }}:</div>
			<div class="col-sm-4">
				<input type="text" class="form-control input-control" placeholder="URL {{ 'COMMON.PATH' | translate }}" [(ngModel)]="entEst.BasicInfo.certUrl">
			</div>
		</div>
	</div>
	<div class="row row-line-height">
		<div class="form-group">
			<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{ 'COMMON.USERNAME' | translate }}:</div>
			<div class="col-sm-4">
				<input type="text" class="form-control input-control" placeholder="{{ 'COMMON.USERNAME' | translate }}" [(ngModel)]="entEst.BasicInfo.contactorName">
			</div>
		</div>
	</div>
	<div class="row row-line-height">
		<div class="form-group">
			<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{ 'COMMON.PASSWORD' | translate }}:</div>
			<div class="col-sm-4">
				<input type="password" class="form-control input-control" placeholder="{{ 'COMMON.PASSWORD' | translate }}" [(ngModel)]="entEst.BasicInfo.password">
			</div>
		</div>
	</div>
  <div class="testPanel">
      <button class="fox-cloud-button-lg fox-cloud-button-green" (click)="testAD()">
		<span class="icon-button-label">{{ 'COMMON.TEST' | translate }}</span>
	</button>
	<div [ngSwitch]="ADflag">
		<span class="validateInfo" *ngSwitchCase="'true'">{{ 'ENT_MNG.AD_TEST_PASS' | translate }}</span>
		<span class="validateInfo" class="font-orange" *ngSwitchCase="'false'">{{ 'ENT_MNG.AD_TEST_NOT_PASS' | translate }}</span>
	</div>
  </div>
</div>
</fc-popup>
</div>

