<div class="page-content-header icon-content-header-purchasing">企业开通管理</div>
<div class="page-content">
	<div style="padding-bottom: 10px;">
		<div class="dropdown pull-right">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			选择操作
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="#">删除</a></li>
				<li><a href="#">开通</a></li>
				<li><a href="#">取消开通</a></li>
			</ul>
		</div>
		<button class="fox-cloud-button fox-cloud-button-green" (click)="create()">
			<span class="glyphicon glyphicon-edit"></span>
			<span class="icon-button-label icon-left-button-label">创建与开通</span>
		</button>
	</div>
	<div class="table-container">
		<table class="table table-hover"> 
			<thead>
				<tr>
					<th class="fristTh"><input type="checkbox"> 全选</th>
					<th>企业名称</th>
					<th>区域数</th>
					<th>云主机数量额度</th>
					<th>存储(GB)</th>
					<th>网络数</th>
					<th>产品数</th>
					<th>状态</th>
					<th>状态说明</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of entEstItems">
					<td><input type="checkbox" [(ngModel)]="item.checked"></td>
					<td>{{item.name}}</td>
					<td>{{item.regionNum}}</td>
					<td>{{item.vmQuota}}</td>
					<td>{{item.storageQuota}}</td>
					<td>{{item.networkQuota}}</td>
					<td>{{item.productNum}}</td>
					<td style="color: red;">初始化</td>
					<td>{{item.description}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<fc-notice #notice ot="确认"></fc-notice>
