

<div id="navbar" class="navbar navbar-default">
	<!-- 导航栏 -->
	<div class="container-fluid">
		
		<div class="navbar-header">
			<!-- #section:basics/sidebar.mobile.toggle -->
			<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
				<span class="sr-only">Toggle sidebar</span>

				<span class="icon-bar"></span>

				<span class="icon-bar"></span>

				<span class="icon-bar"></span>
			</button>

			
		</div>
		<!-- #section:basics/navbar.dropdown -->
		<div class="navbar-buttons navbar-header pull-right" role="navigation">
			
			<button id="console-fullscreen" type="button" class="btn btn-default navbar-btn"><%= T("FULL_SCREEN") %></button>
			<button id="sendCAD" type="button" class="btn btn-default navbar-btn"><%= T("SEND") %> CTRL+ALT+DEL</button>
		</div>



	</div><!-- /.navbar-container -->
	<!-- 导航栏结束 -->
</div>
<div class="main-container webconsole-container" id="main-container" >	
	<div class="row">
		<div id="console"  style="width:1024px;height:768px; margin:0 auto;">
		</div>
	</div>
</div>


<div id="spinner" style="width:60px; height:60px; opacity:0.6;">
	<div class="bar1"></div>
	<div class="bar2"></div>
	<div class="bar3"></div>
	<div class="bar4"></div>
	<div class="bar5"></div>
	<div class="bar6"></div>
	<div class="bar7"></div>
	<div class="bar8"></div>
	<div class="bar9"></div>
	<div class="bar10"></div>
	<div class="bar11"></div>
	<div class="bar12"></div>
</div>