@import "../../../../architecture/assets/style/constant.less";

.cloud_host_list {
    .top-table {
        margin-top: 15px;
        .btn-default {
            padding: 6px 30px;
        }
        .areaAble {
            margin-top: 5px;
            .btn-default {
                border: 1px dashed @ddd-color;
                background: @color-f7;
            }
            .btn-default.active {
                border: 1px dashed @ddd-color!important;
                background: @color-f7!important;
            }
        }
    }
    .input-group-addon {
        cursor: pointer;
    }
}