<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<link rel="stylesheet" type="text/css" href="/public/css/common.css">
</head>
<body>

<div class="login-box">
	<div class="l-block">
		<input id="l-username" placeholder="用户名" value="" class="l-input" type="text" name="">
		<input id="l-password" placeholder="密码" value="" class="l-input" type="password" name="">
		<div id="account-box"></div>
		<input id="submit-button" class="l-submit" type="submit" value="登录" name="">
	</div>
</div>

<script src="/public/js/jquery.min.js" type="text/javascript"></script>
</body>
</html>
