<div class="page-content cloud_host_list">
	<h1 class="page-content-header">云硬盘列表</h1>
    <table class="cm-table-left top-table mgb20">
        <tr>
            <th class="col-md-1 col-xs-3 text-center">区域列表</th>
            <td>
                <platform-zone #platformZone (onClick)="platformClick($event)"></platform-zone>
            </td>
        </tr>
        <!--<tr>
            <th class="col-md-1 col-xs-3 text-center">实例归属</th>
            <td>
                <div class="col-md-10 btn-group" data-toggle="buttons">
                    <button (click)="list.ownerType = ''" class="btn btn-default" [ngClass]="{'active':list.ownerType === ''}">所有</button>

                    <button *ngFor="let v of service.ownerType | async;" 
                            (click)="list.ownerType = v.code" 
                            [ngClass]="{'active':list.ownerType === v.code}"
                            class="btn btn-default">{{ v.displayValue }}
                    </button>
                </div>
            </td>
        </tr>-->
    </table>
    <div class="col-md-12 no-padding mgb20">
        <div class="dropdown float-left mgr10">
            <select [(ngModel)]="list.queryField" class="form-control">
                <option
                 *ngFor="let v of service.queryField | async; let i = index;"
                 [value]="v.code" >{{ v.displayValue }}</option>
            </select>
        </div>
         
         <div class="input-group col-md-1 float-left mgr10" *ngIf="superSearch">
            <select class="form-control"  [(ngModel)]="list.status"> 
                <option disabled selected value class="hideoption">状态</option>
                <option
                 *ngFor="let v of service.computeStatus | async; let i = index;"
                 [value]="v.code" >{{ v.displayValue }}</option>
            </select>
         </div>
        <div class="input-group col-md-2 float-left mgr10">
            <input class="form-control" type="email" [(ngModel)]="list.queryFieldValue" placeholder="输入云硬盘信息搜索">
            <div class="input-group-addon" (click)="search()"><span class="glyphicon glyphicon-search"></span></div>
        </div>
        <div class="input-group float-left mgr10">
            <label class="btn btn-default button-gray-gradient" (click)="superSearch = !superSearch" [ngClass]="{'active': superSearch}">
                高级搜索
            </label>
        </div>
        <div class="input-group float-left">
            <button (click)="resetSearch()" class="btn button-gray-gradient"><span class="glyphicon glyphicon-repeat"></span> 重置搜索</button>
        </div>
        <div class="float-right">
            <button class="btn float-left mgr5 btn-success" (click)="goTo('cloud-host-service/cloud-drive-order')"><i class="glyphicon glyphicon-plus"></i> 创建云硬盘</button>

            <!--<div class="dropdown float-left  mgr5">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                更多操作
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href="javascript:">挂载</a></li>
                    <li><a href="javascript:">卸载</a></li>
                    <li><a href="javascript:">备份</a></li>
                </ul>
            </div>-->
        </div>
    </div>
    <table class="table table-hover">
        <tr>
            <th class="text-center"></th>
            <th class="text-center">云硬盘名称</th>
            <th class="text-center">储存类型</th>
            <th class="text-center">容量（GB）</th>
            <th class="text-center">挂载位置（云主机名称）</th> 
            <th class="text-center">状态</th>
            <th class="text-center">到期时间</th>
            <!--<th class="text-center">可卸载</th> -->
            <th class="text-center">所在地区</th>
            <th class="text-center">可用区</th>
            <th class="text-center">属性</th>
            <th class="text-center">类型</th>
            <th class="text-center">操作</th> 
        </tr>
        <tr *ngFor="let dist of distList;">
            <td class="text-center"><input class="fox-cloud-radio" name="host-list" type="radio"></td>
            <td class="text-center active">{{dist.name}}</td>
            <td class="text-center">{{dist.type}}</td>
            <td class="text-center">{{dist.size}}</td>
            <td class="text-center">{{dist.relyName}}</td> 
            <td class="text-center">{{dist.status | dict:service.computeStatus | async}}</td>
            <td class="text-center">{{dist.expireDate | formatDate}}</td>
            <!--<td class="text-center">{{dist.unloadAble}}</td>-->
            <td class="text-center">{{dist.platformName}}</td> 
            <td class="text-center">{{dist.zoneName}}</td> 
            <td class="text-center">{{dist.useType}}</td>
            <td class="text-center">{{dist.sourceType | dict:service.dictSourceType | async}}</td>
            <td class="text-center">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    更多操作
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a (click)="mountDisk = dist;diskPlatformId = dist.platformId;vmDialog.open(); " href="javascript:">挂载</a></li>
                        <li><a (click)="handleDist('unmount', dist, '卸载云硬盘')" href="javascript:">卸载</a></li>
                        <!-- <li><a (click)="handleDist('pause', vm, '暂停')" href="javascript:">暂停</a></li> -->
                        <!-- <li><a (click)="handleDist('unpause', vm , '开始')" href="javascript:">开始</a></li> -->
                        <!-- <li><a (click)="handleDist('resume', vm)" href="javascript:">恢复</a></li> -->
                        <!-- <li><a (click)="handleDist('hardReboot', vm , '硬重启')" href="javascript:">硬重启</a></li> -->
                        <!-- <li><a (click)="handleDist('softReboot', vm , '软重启')" href="javascript:">软重启</a></li> -->
                        <!-- <li><a (click)="handleDist('suspend', vm)" href="javascript:">挂起</a></li> -->
                    </ul>
                </div>
            </td> 
        </tr>
    </table>
    <fc-popup #vmDialog ot="提交" ct="取消" title="挂载云主机" (of)="confirmVm()" (cf)="cancelVm();">
        <table-list 
            code="3" 
            (onSelect)="vmListClick($event);" 
            [platformId]="diskPlatformId"></table-list>
    </fc-popup>
    <fc-pagination tp={{list.pageParameter.totalPage}} (pf)="changePage($event)"></fc-pagination>
</div>
<fc-confirm #confirm title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalAction(1)" ct="{{modalCancelTitle}}" (cf)="modalAction(0)"></fc-confirm>
<fc-notice #notice title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalAction(0)"></fc-notice>
