<div class="page-content cloud_host_order cloud_drive_order">
	<div class="col-md-9">
		<h1 class="page-content-header">{{options.title}}</h1>
		<!-- <my-date-picker [options]="myDatePickerOptions" -->
               <!-- (dateChanged)="onDateChanged($event)"></my-date-picker> -->
		<ul class="left-box">
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-location"></span><br>区域</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-2 content-title">云平台</div>
					<div class="col-md-10 btn-group" data-toggle="buttons">
						<label *ngFor="let value of configs.platform.valueList;" (click)="sendModule.platform = value" class="btn btn-default" [ngClass]="{'active': sendModule.platform.attrValueId === value.attrValueId}">
							<input type="radio" name="location" autocomplete="off"> {{ value.attrDisplayValue }}
						</label>
					</div>
					<div class="col-md-2 content-title">可用区</div>
					<div class="col-md-10 btn-group" data-toggle="buttons">
						<label 
							*ngFor="let value of rely('zone')"
							(click)="sendModule.zone = value" 
							class="btn btn-default" [ngClass]="{'active': sendModule.zone.attrValueId === value.attrValueId}">
							<input type="radio" name="zone" autocomplete="off"> {{ value.attrDisplayValue }}
						</label>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-10 text-tip">云硬盘只能挂载到同一可用区下的云主机实例，订购成功后不支持更换云硬盘的区域和可用区；请谨慎选择</div>
				</div>
			</li>
			
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-configure"></span><br>配置选项</p>
				</div>
				<div class="col-md-12 li-content" >
					<div class="col-md-2 content-title">云硬盘</div>
					<div class="col-md-10 btn-group" id="cloud-desk">
						
						<button class="btn btn-default active">空白盘</button>
						<!-- <ng-container *ngFor="let value of configs.disktype.valueList;">
							<button 
								[popover]="value.attrValue=='0' ? null : myPopover"
								[ngClass]="{'active': sendModule.disktype.attrValueId === value.attrValueId}"
								class="btn btn-default">
								{{value.attrDisplayValue}}
							</button>

							<popover-content #myPopover [closeOnClickOutside]="true" >
								<table-list [code]="value.attrValue" [platformId]="sendModule.platform.attrValue"></table-list>
							</popover-content>
						</ng-container> -->
					</div>	
					<div class="col-md-2 content-title">云硬盘类型</div>	
					<div class="col-md-10 btn-group" data-toggle="buttons">
						<label 
							*ngFor="let value of rely('storage')" 
							(click)="sendModule.storage = value" 
							class="btn btn-default" [ngClass]="{'active': sendModule.storage.attrValueId === value.attrValueId}">
							<input type="radio" name="storage" autocomplete="off"> {{ value.attrDisplayValue }}
						</label>
					</div>	
					<div class="col-md-12 no-padding mgb20">
						<div class="col-md-2 content-title">容量(GB)</div>	
						<div class="col-md-2 no-padding">  
							<count-bar 
					            [step]="sendModule.diskstepsize.attrValue" 
					            [max]="sendModule.diskmaxsize.attrValue" 
					            [min]="sendModule.diskinitialsize.attrValue" 
					            [stepCheck]=true
					            [value]="sendModule.diskinitialsize.attrValue" (output)="outputValue($event)"></count-bar>
						</div>	
						<div class="col-md-7 disk-tip">可以购买容量 {{sendModule.diskinitialsize.attrValue}}~{{sendModule.diskmaxsize.attrValue}}GB的云硬盘。{{sendModule.diskinitialsize.attrValue}}GB起，增加按照每{{sendModule.diskstepsize.attrValue}}GB一档。</div>
					</div>
					<div class="col-md-12 no-padding mgb15">
						<div class="col-md-2 content-title">云硬盘实例名称</div>
						<div class="col-md-4 no-padding mgr15"
							[ngClass]="{'has-error': check.diskinsname === false }">
							<input type="text" (keyup)="checkValue('diskinsname')" [(ngModel)]="sendModule.diskinsname.attrValue" class="form-control" placeholder="如不填写，则系统自动生成">
						</div>
						<div class="col-md-5 disk-tip no-padding">2-68个字符，以大小写字母或者中文开头，可包含数字，“.”, "-", "_"</div>
					</div>	
					<div class="col-md-12 content-title btn-group">
						<span class="float-left mgr20 lh34">
							<input type="checkbox" [(ngModel)]="isAttachVm" (click)="vmListClick()" name=""> 
							是否挂载到云主机 
						</span>
				        <button 
				        	[popover]="popover_host" 
				        	[ngClass]="{'active': popover_host.popover?.visible}" 
				        	[disabled]="!isAttachVm" 
				        	class="btn btn-default button-gray-gradient mgr20">云主机实例列表</button>

				        <popover-content #popover_host [closeOnClickOutside]="true" >
							<table-list 
								code="3" 
								(onSelect)="vmListClick($event);popover_host.hide();" 
								[platformId]="sendModule.platform.attrValue"></table-list>
						</popover-content>
						
						<span class="float-left mgr20 lh34" *ngIf="sendModule.diskmounthostname.attrValue">
							<span class="float-left">云主机名称：</span>
							<input type="text" style="width: 220px;" class="form-control float-left" disabled="ture" [(ngModel)]="sendModule.diskmounthostname.attrValue" name="" />
						</span>
					</div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-amount"></span><br>购买量</p>
				</div>
				<div class="col-md-12 li-content">
					
					<div class="col-md-12 no-padding mb20">
						<div class="col-md-2 content-title">购买量</div>
						<div class="col-md-2 no-padding mr10">
							<select [(ngModel)]="payLoad.quality" class="form-control">
								<option [ngValue]="1">1台</option>
								<option [ngValue]="2">2台</option>
								<option [ngValue]="3">3台</option>
								<option [ngValue]="4">4台</option>
								<option [ngValue]="5">5台</option>
							</select>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	 <!-- [ngClass]="{'right-fixed' : rightFixed}" (window:scroll)="onScroll($event)" -->
	<div class="col-md-3 no-padding right-box">
		<cart-button #cartButton></cart-button>
		<div class="col-md-12 content-box">
			<h3 class="boder-gray-bottom-title">当前配置</h3>
			<h4 class="cloud-title font-green">区域</h4>
			<p class="cloud-p">云平台: {{ sendModule.platform?.attrDisplayValue}}</p>
			<p class="cloud-p">可用区: {{ sendModule.zone?.attrDisplayValue}}</p>
			<h4 class="cloud-title font-green">配置选项</h4>
			<p class="cloud-p">云硬盘: {{sendModule.disktype?.attrDisplayValue}}</p>
			<p class="cloud-p">云硬盘类型: {{sendModule.storage?.attrDisplayValue}}</p>
			<p class="cloud-p">容量(GB): {{sendModule.disksize?.attrDisplayValue}}</p>
			<p class="cloud-p">云硬盘实例名称: {{sendModule.diskinsname?.attrValue}}</p>
			<p class="cloud-p">挂载到云主机: {{sendModule.diskmounthostname?.attrValue}}</p>
			<h4 class="cloud-title font-green">购买量:</h4>
			<p class="cloud-p">购买量: {{payLoad.quality}}</p>
			<div class="cloud-line"></div>
			<div class="cloud-p">
				<p class="cloud-title">费用总计：</p>
	            <table style="width: 90%;line-height: 26px;">
	                <tr>
	                    <td>一次性费用： </td>
	                    <td><font class="font-orange">¥{{diskBasePrice}} 元</font></td>
	                </tr>
	                <tr>
	                    <td><font>费用： </font></td>
	                    <td><font class="font-orange">¥{{diskTotalPrice}}</font><span class="float-right">按量</span></td>
	                </tr>
	            </table>
			</div>
			<div class="col-md-12 colud-order-button">
				<div class="col-md-6"><button (click)="buyNow()" class="btn button-orange-deep">立即购买</button></div>
				<div class="col-md-6"><button (click)="addCart()" class="btn button-orange-light">加入购物车</button></div>
			</div>
		</div>
	</div>
</div>
