{{platformId}}
<div class="col-md-12 mgb15 no-padding">
    <select class="form-control mgr15 float-left drive-select">
        <option value="1">云硬盘名称</option>
        <option value="1">支持</option>
        <option value="1">不支持</option>
    </select>
    <div class="input-group float-left drive-search">
        <input class="form-control " placeholder="输入云主机硬盘搜索">
        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
    </div>
</div>
<table class="table table-hover">
    <tr>
        <th class="text-center">云硬盘名称</th>
        <th class="text-center">储存类型</th>
        <th class="text-center">容量(GB)</th>
        <th class="text-center">属性</th>
    </tr>
    <tr *ngFor="let i of [1,2,3,4,5]">
        <td class="text-center">cirros-0.3.4</td>
        <td class="text-center">SSD盘</td> 
        <td class="text-center">40</td>
        <td class="text-center">启动盘</td>
    </tr>
</table>