<!-- 从未挂载盘列表 -->
<div *ngIf="code==='1'" class="col-md-12 mgb15 no-padding">
    <select [(ngModel)]="list.queryField" class="form-control mgr15 float-left drive-select">
        <option
         *ngFor="let v of service.diskQueryField | async; let i = index;"
         [ngValue]="v.value" >{{ v.displayValue }}</option>
    </select>
    <div class="input-group float-left drive-search">
        <input class="form-control" [(ngModel)]="list.queryFieldValue" placeholder="输入云硬盘信息搜索">
        <div (click)="setUnmountList()" class="input-group-addon cup"><span class="glyphicon glyphicon-search"></span></div>
    </div>
</div>
<table *ngIf="code==='1'" class="table table-hover">
    <tr>
        <th class="text-center">云硬盘名称</th>
        <th class="text-center">储存类型</th>
        <th class="text-center">容量(GB)</th>
    </tr>
    <tr *ngFor="let unmount of unmountList" class="cup" (click)="emit(unmount)">
        <td class="text-center">{{unmount.name}}</td>
        <td class="text-center">{{unmount.type}}</td> 
        <td class="text-center">{{unmount.size}}</td>
    </tr>
</table>

<!-- 备份列表 -->
<div *ngIf="code==='2'" class="col-md-12 mgb15 no-padding">
    <select [(ngModel)]="list.queryField" class="form-control mgr15 float-left drive-select">
        <option
         *ngFor="let v of service.diskQueryField | async; let i = index;"
         [ngValue]="v.value" >{{ v.displayValue }}</option>
    </select>
    <div class="input-group float-left drive-search">
        <input class="form-control" [(ngModel)]="list.queryFieldValue" placeholder="输入云硬盘信息搜索">
        <div (click)="setBackupList()" class="input-group-addon cup"><span class="glyphicon glyphicon-search"></span></div>
    </div>
</div>
<table *ngIf="code==='2'" class="table table-hover">
    <tr>
        <th class="text-center">备份名称</th>
        <th class="text-center">源云硬盘名称</th>
        <th class="text-center">源虚拟机名称</th>
        <th class="text-center">容量(GB)</th>
    </tr>
    <tr *ngFor="let backup of backupList" class="cup" (click)="emit(backup)">
        <td class="text-center">{{backup.id}}</td>
        <td class="text-center">{{backup.name}}</td> 
        <td class="text-center">{{backup.vmName}}</td>
        <td class="text-center">{{backup.size}}</td>
    </tr>
</table>

<!-- 云主机实例列表 -->
<div *ngIf="code==='3'" class="col-md-12 mgb15 no-padding">
    <select [(ngModel)]="list.queryField" class="form-control mgr15 float-left drive-select">
        <option
         *ngFor="let v of service.vmQueryField | async; let i = index;"
         [ngValue]="v.value" >{{ v.displayValue }}</option>
    </select>
    <div class="input-group float-left drive-search">
        <input class="form-control" [(ngModel)]="list.queryFieldValue" placeholder="输入云主信息搜索">
        <div (click)="setVmList()" class="input-group-addon cup"><span class="glyphicon glyphicon-search"></span></div>
    </div>
</div>
<table *ngIf="code==='3'" class="table table-hover">
    <tr>
        <th class="text-center">云硬盘名称</th>
        <th class="text-center">配置</th>
        <th class="text-center">镜像</th>
        <th class="text-center">内部IP</th>
        <th class="text-center">外部IP</th>
    </tr>
    <tr *ngFor="let vm of vmList" class="cup" (click)="emit(vm)">
        <td class="text-center">{{vm.instanceName}}</td>
        <td class="text-center">{{vm.specification}}</td> 
        <td class="text-center">{{vm.osInfo}}</td>
        <td class="text-center">{{vm.privateIP}}</td>
        <td class="text-center">{{vm.publicIP}}</td>
    </tr>
</table>

<fc-pagination tp={{list.pageParameter.totalPage}} (pf)="changePage($event)"></fc-pagination>