
<div class="row row-line-height" >
				<div class="col-sm-2"></div>
				<div class="col-sm-8 selectEnt">
					<div class="row row-line-height entup">
						<div class="col-sm-5 entHeader">
							{{titleL}}
						</div>
						<div class="col-sm-2"></div>
						<div class="col-sm-5 entHeader">
							{{titleR}}
						</div>
					</div>
					<div class="row row-line-height entdown">
						<div class="col-sm-5 entBody">
							<div *ngFor="let entity of unSelectedList; let i=index">
								<span style="text-align:left;padding-left:20px" class="span2" (click)="select(entity,i)"> 
                                    {{entity[displayKey] || entity.text || entity}}
                                </span>
							</div>
						</div>
						<div class="col-sm-2"></div>
						<div class="col-sm-5 entBody">
							<div *ngFor="let entity of selectedList; let i=index">
								<span style="text-align:left;padding-left:20px" class="span2" (click)="unSelect(entity,i)">
                                     {{entity[displayKey] || entity.text || entity}}
                                </span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-2"></div>
</div>
			<!--<div class="row row-line-height">
				<div class="col-sm-3"></div>
				<div class="col-sm-6"></div>
				<div class="col-sm-3"></div>
			</div>-->
		