.input-select-container {
    position: relative;

    > input {
        position: absolute;
        z-index: 1;
        top: 1px;
        left: 1px;
        bottom: 1px;
        border: none;
        width: 88%;
        height: 30px;
        outline: none;
        padding: 6px 12px;
    }

    > select {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
