<div class="page-content cloud_host_order database-order">
	<div class="col-md-9">
		<h1 (click)="dbPayLoadFormat()" class="page-content-header">创建数据库</h1>
		<ul class="left-box">
			<li>
				<div class="col-md-1 li-title">                  
					<p><span class="icon-location"></span><br>{{'COMMON.AREA'| translate}}</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-2 content-title">{{'COMMON.CLOUD_PLATFORM'| translate}}</div>
					<div class="col-md-10 btn-group" data-toggle="buttons">
						<label *ngFor="let value of valuesList.PLATFORM;" id="location_{{value.attrValueCode}}" (click)="values.PLATFORM = value;dux.dispatch('PLATFORM')" class="btn btn-default" [ngClass]="{'active': values.PLATFORM.attrValueId === value.attrValueId}">
							<input type="radio" name="location" autocomplete="off" value="{{value.attrValueCode}}"> {{ value.attrDisplayValue }}
						</label>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-10 text-tip">{{'VM_INSTANCE.PRODUCT_ORDER_DESCRIPTION'| translate}}</div>
					<div class="col-md-2 content-title">{{'COMMON.AVAILABLE_ZONE'| translate}}</div>
					<div class="col-md-10 btn-group" data-toggle="buttons">
						<label
							*ngFor="let value of valuesList.ZONE"
							(click)="values.ZONE = value;dux.dispatch('ZONE')"
							class="btn btn-default" [ngClass]="{'active': values.ZONE.attrValueId === value.attrValueId}" id="zone_{{value.attrValueCode}}">
							<input type="radio" name="zone" autocomplete="off" value="{{value.attrValueCode}}"> {{ value.attrDisplayValue }}
						</label>
					</div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">                  
					<p><span class="icon-db"></span><br>数据库选项</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-2 content-title">类型：</div>
					<div class="col-md-10 btn-group no-padding pdb15" data-toggle="buttons">
						<label *ngFor="let value of dbInits;" 
								id="dbInits_{{value.db.value}}" 
								class="btn btn-default" 
								(click)="dbtypeChange(value)"
								[ngClass]="{'active': fetchTmIdsPost.dbType === value.db.value}">
							<input type="radio" name="location" autocomplete="off" value="{{value.db.value}}"> {{ value.db.label }}
						</label>
					</div>
					<div class="col-md-2 content-title">版本：</div>
					<div class="col-md-4 btn-group no-padding pdb15" data-toggle="buttons">
						<label *ngFor="let value of dbInit?.version;" 
								id="dbVersion_{{value}}" 
								class="btn btn-default" 
								(click)="fetchTmIdsPost.version = value; dux.dispatch('DB_TYPE_CHANGE')"
								[ngClass]="{'active': fetchTmIdsPost.version === value}">
							<input type="radio" name="location" autocomplete="off" value="{{value}}"> {{ value }}
						</label>
					</div>
					<div class="col-md-2 content-title">部署模式：</div>
					<div class="col-md-4 btn-group no-padding pdb15" data-toggle="buttons">
						<label *ngFor="let value of dbInit?.mode;" 
								id="dbMode_{{value.value}}" 
								class="btn btn-default" 
								(click)="fetchTmIdsPost.deploymentMode = value.value; dux.dispatch('DB_TYPE_CHANGE')"
								[ngClass]="{'active': fetchTmIdsPost.deploymentMode === value.value}">
							<input type="radio" name="location" autocomplete="off" value="{{value.value}}"> {{ value.label }}
						</label>
					</div>
					<div class="col-md-2 content-title">产品列表：</div>
					<div class="col-md-10 no-padding" >
						<select [(ngModel)]="dbProduct" (ngModelChange)="dux.dispatch('SELECT_DB_PRODUCT')" class="form-control" id="startupsource">
							<option
							 *ngFor="let pro of dbProductList"
							 [ngValue]="pro" id="dbProduct_{{pro.productId}}">{{ pro.displayproductName }}</option>
						</select>
					</div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-os"></span><br>镜像</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-2 content-title">{{'VM_INSTANCE.START_SOURCE'| translate}}</div>
					<div class="col-md-10">
						<select [(ngModel)]="values.STARTUPSOURCE" class="form-control" id="startupsource">
							<option
							 *ngFor="let value of valuesList.STARTUPSOURCE"
							 [ngValue]="value" id="startupsource_{{value.attrValue}}">{{ value.attrDisplayValue }}</option>
						</select>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-10 text-tip">{{'VM_INSTANCE.DEFINITION_OF_PUBLIC_IMAGE_AND_CUSTOM_IMAGE'| translate}}</div>
					<div class="col-md-2 content-title">{{'VM_INSTANCE.MIRROR_TYPE'| translate}}</div>
					<div class="col-md-10 btn-group" data-toggle="buttons">
						<label
							*ngFor="let value of valuesList.IMAGETYPE"
							(click)="values.IMAGETYPE = value;dux.dispatch('IMAGETYPE')" id="imagetype_{{value.attrValue}}" class="btn btn-default" [ngClass]="{'active': values.IMAGETYPE?.attrValueId === value.attrValueId}">
							<input type="radio" name="imagetype" autocomplete="off"  value="{{value.attrValue}}" > {{ value.attrDisplayValue }}
						</label>
					</div>
					<div class="col-md-2 content-title">{{'VM_INSTANCE.MIRROR_LIST'| translate}}</div>
					<div class="col-md-10">
						<select [(ngModel)]="values.OS" (ngModelChange)="dux.dispatch('OS')" id="os" class="form-control">
							<option
							 *ngFor="let value of valuesList.OS"
							 [ngValue]="value" id="os_{{value.attrValueCode}}">{{ value.attrDisplayValue }}</option>
						</select>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-10 text-tip-orange" *ngIf="!isZoneSupportOs">本可用区不支持该镜像！</div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-specifications"></span><br>{{'VM_INSTANCE.INSTANCE_CONFIGURATION'| translate}}</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-2 content-title">{{'VM_INSTANCE.CPU'| translate}}</div>
					<div class="col-md-10 btn-group" data-toggle="buttons">

						<label *ngFor="let value of valuesList.CPU;"
							(click)="values.CPU = value;dux.dispatch('CPU');"
							class="btn btn-default" [ngClass]="{'active': values.CPU?.attrValueId === value.attrValueId}" id="cpu_{{value.attrValue}}">
							<input type="radio" name="cpu" autocomplete="off" value="{{value.attrValue}}"> {{ value.attrDisplayValue }}
						</label>
					</div>
					<div class="col-md-2 content-title">{{'COMMON.RAM'| translate}}</div>
					<div class="col-md-10 btn-group" data-toggle="buttons">
						<label
							*ngFor="let value of valuesList.MEM | filterPlatform: values.PLATFORM?.attrValueId"
							(click)="values.MEM = value;dux.dispatch('MEM')"
							class="btn btn-default" [ngClass]="{'active': values.MEM?.attrValueId === value.attrValueId}" id="mem_{{value.attrValue}}">
							<input type="radio" name="mem" autocomplete="off"  value="{{value.attrValue}}"> {{ value.attrDisplayValue }}
						</label>
					</div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-disk"></span><br>{{'VM_INSTANCE.STORE'| translate}}</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-12 no-padding mb20">
						<div class="col-md-2 content-title">{{'VM_INSTANCE.BOOT_DISK'| translate}}</div>
						<div class="col-md-10 no-padding">
							<div class="col-md-3 no-padding">
								<select
									*ngIf="values.ZONE?.attrValueId"
									[(ngModel)]="values.BOOTSTORAGE" class="form-control" id="bootstorage">
										<option
										*ngFor="let value of valuesList.BOOTSTORAGE"
										[ngValue]="value" id="bootstorage_{{value.attrValue}}">{{ value.attrDisplayValue }}</option>
								</select>
							</div>
							<div class="col-md-1 content-title2">{{'COMMON.CAPATITY'| translate}}</div>
							<div class="col-md-2 no-padding">
								<select [(ngModel)]="values.BOOTSIZE" (ngModelChange)="dux.dispatch('BOOTSIZE')" class="form-control" id="bootsize">
									<option
									*ngFor="let value of bootsizeList"
									[ngValue]="value" id="bootsize_{{value.attrValue}}">{{ value.attrDisplayValue }}</option>
								</select>
							</div>
							<div class="col-md-6 content-title2">{{'COMMON.GB'| translate}}</div>
						</div>
					</div>
					<div class="col-md-12 no-padding mb20">
						<div class="col-md-2 content-title">数据库存储类型</div>
						<div class="col-md-10 no-padding">
	                        <label *ngFor="let storage of storageTypes" class="mgr20">
	                            <input type="radio" 
										class="fox-cloud-radio" 
										name="needHBA" 
										[disabled]="storage.value !== database?.storageType"
										[checked]="storage.value === database?.storageType" > {{storage.name}}
	                        </label>
						</div>
					</div>
					 <div class="col-md-12">
                        <table class="table table-all-boder">
                            <tr>
                                <th class="text-center">编号</th>
                                <th class="text-center">云硬盘用途</th>
                                <th class="text-center">云硬盘类型</th>
                                <th class="text-center">配置</th>
                                <th *ngIf="database?.storageType==='ASM'" class="text-center">磁盘组名称</th>
                                <th *ngIf="database?.storageType==='ASM'" class="text-center">冗余级别</th>
                                <th class="text-center">挂载目录</th>
                            </tr>
                            <tr *ngFor="let data of database?.diskInfoList; let i = index">
								<td class="text-center">{{i + 1}}</td>
								<td class="text-center">{{data.usageType | dict:dbservice.diskusage | async}}</td>
								<td class="text-center">
									<select class="form-control" id="bootstorage" [(ngModel)]="data.storage"  (ngModelChange)="dux.dispatch('SET_DISK_PRODUCTS')">
										<option
										*ngFor="let value of valuesList.STORAGE"
										[ngValue]="value" id="bootstorage_{{value.attrValue}}">{{ value.attrDisplayValue }}</option>
									</select>
								</td>
								<td class="text-center">
									<count-bar
							            step="1" 
							            [min]="data.minDiskSize" 
							            [value]="data.minDiskSize" (output)="outputValue($event, i)"></count-bar>
								</td>
								<td *ngIf="database?.storageType==='ASM'" class="text-center">{{data.diskGroup}}</td>
								<td *ngIf="database?.storageType==='ASM'" class="text-center">{{data.copyLevel | dict:dbservice.copylevel | async}}</td>
								<td class="text-center">{{data.mountPath}}</td>
                            </tr>
                        </table>
					 </div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-adjust"></span><br>部署参数</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-12 no-padding mb20">
						<div class="col-md-12 no-padding mgb20">
							<div class="col-md-2 content-title">归档模式</div>
							<div class="col-md-3 no-padding">
								<select [(ngModel)]="databaseValue.ARCHMODE.attrValue" class="form-control" id="securitygroup">
									<option
									 *ngFor="let value of dbservice.archmode | async;"
									 [ngValue]="value.code" id="securitygroup_{{value.attrValue}}">{{ value.displayValue }}</option>
								</select>
							</div>
							<div class="col-md-1"></div>
							<div class="col-md-2 content-title">监听端口</div>
							<div class="col-md-3 no-padding mr10 has-feedback" [ngClass]="{'has-error': dbv.result.listenpost }">
								<input (keyup)="checkDbValue('listenpost');dux.dispatch('ARCHMODE');" 
									   [(ngModel)]="databaseValue.LISTENPOST.attrValue" type="text" class="form-control" id="input_archmode">
						        <span *ngIf="dbv.result.listenpost" class="glyphicon glyphicon-remove form-control-feedback"></span>
						        <div *ngIf="dbv.result.listenpost" class="alert alert-danger" role="alert">{{dbv.result.listenpost | translate}}</div>
							</div>
						</div>

						<div class="col-md-12 no-padding">
							<div class="col-md-2 content-title">数据库字符集</div>
							<div class="col-md-3 no-padding">
								<select [(ngModel)]="databaseValue.DBCHARSET.attrValue" class="form-control" id="securitygroup">
									<option
									 *ngFor="let value of dbservice.dbcharset | async;"
									 [ngValue]="value.code" id="securitygroup_{{value.attrValue}}">{{ value.displayValue }}</option>
								</select>
							</div>
							<div class="col-md-1"></div>
							<div class="col-md-2 content-title">允许最大连接数</div>
							<div class="col-md-3 no-padding mr10 has-feedback" [ngClass]="{'has-error': dbv.result.maxconnection }">
								<input (keyup)="checkDbValue('maxconnection');dux.dispatch('MAXCONNECTION');" 
									   [(ngModel)]="databaseValue.MAXCONNECTION.attrValue" type="text" class="form-control" id="input_maxconnection">
						        <span *ngIf="dbv.result.maxconnection" class="glyphicon glyphicon-remove form-control-feedback"></span>
						        <div *ngIf="dbv.result.maxconnection" class="alert alert-danger" role="alert">{{dbv.result.maxconnection | translate}}</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-userset"></span><br>数据库<br/>系统用户</p>
				</div>
				<div class="col-md-12 li-content li-password">

					<div class="col-md-12 no-padding mb20">
						<div class="col-md-2 content-title">数据库系统用户<br/>(Sys、System)密码</div>
						<div class="col-md-4 no-padding has-feedback mgt5" [ngClass]="{'has-error': dbv.result.syspassword}">
							<input type="password" 
								(keyup) = "checkDbValue('syspassword')"
								[(ngModel)]="databaseValue.SYSPASSWORD.attrValue" class="form-control" placeholder="{{'VM_INSTANCE.PLEASE_ENTER_HOST_PASSWORD'| translate}}" id="login_password">
					        <span *ngIf="dbv.result.syspassword" class="glyphicon glyphicon-remove form-control-feedback"></span>
					        <div *ngIf="dbv.result.syspassword" class="alert alert-danger" role="alert">{{dbv.result.syspassword | translate}}</div>
						</div>
						<div class="col-md-5 text-tip  pdb0">{{'VM_INSTANCE.PASSWORD_COMPLEXITY_DESCRIPTION'| translate}}</div>
					</div>

					<div class="col-md-12 no-padding mb20">
						<div class="col-md-2 content-title">{{'VM_INSTANCE.CONFIRM_PASSWORD'| translate}}</div>
						<div class="col-md-4 no-padding has-feedback" [ngClass]="{'has-error': dbv.result.syspasswordShadow }">

							<input type="password" class="form-control" (keyup)="checkDbValue('syspasswordShadow')"  [(ngModel)]="syspasswordShadow"  placeholder="{{'VM_INSTANCE.ENTER_PASSWORD_AGAIN'| translate}}" id="login_confirm_password">
					        <span *ngIf="dbv.result.syspasswordShadow" class="glyphicon glyphicon-remove form-control-feedback"></span>
					        <div *ngIf="dbv.result.syspasswordShadow" class="alert alert-danger" role="alert">{{dbv.result.syspasswordShadow | translate}}</div>
						</div>
					</div>

					<div *ngIf="database?.storageType==='ASM'" class="col-md-12 no-padding mb20">
						<div class="col-md-2 content-title">ASM管理密码</div>
						<div class="col-md-4 no-padding has-feedback" [ngClass]="{'has-error': dbv.result.asmpassword}">
							<input type="password" 
								(keyup) = "checkDbValue('asmpassword')"
								[(ngModel)]="databaseValue.ASMPASSWORD.attrValue" class="form-control" placeholder="{{'VM_INSTANCE.PLEASE_ENTER_HOST_PASSWORD'| translate}}" id="login_password">
					        <span *ngIf="dbv.result.asmpassword" class="glyphicon glyphicon-remove form-control-feedback"></span>
					        <div *ngIf="dbv.result.asmpassword" class="alert alert-danger" role="alert">{{dbv.result.asmpassword | translate}}</div>
						</div>
						<div class="col-md-5 text-tip  pdb0">{{'VM_INSTANCE.PASSWORD_COMPLEXITY_DESCRIPTION'| translate}}</div>
					</div>

					<div *ngIf="database?.storageType==='ASM'" class="col-md-12 no-padding mb20">
						<div class="col-md-2 content-title">{{'VM_INSTANCE.CONFIRM_PASSWORD'| translate}}</div>
						<div class="col-md-4 no-padding has-feedback" [ngClass]="{'has-error': dbv.result.asmpasswordShadow }">

							<input type="password" class="form-control" (keyup)="checkDbValue('asmpasswordShadow')"  [(ngModel)]="asmpasswordShadow"  placeholder="{{'VM_INSTANCE.ENTER_PASSWORD_AGAIN'| translate}}" id="login_confirm_password">
					        <span *ngIf="dbv.result.asmpasswordShadow" class="glyphicon glyphicon-remove form-control-feedback"></span>
					        <div *ngIf="dbv.result.asmpasswordShadow" class="alert alert-danger" role="alert">{{dbv.result.asmpasswordShadow | translate}}</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-network"></span><br>{{'VM_INSTANCE.NET'| translate}}</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-2 content-title">{{'VM_INSTANCE.NET_TYPE'| translate}}</div>
					<div class="col-md-10">
						<select [(ngModel)]="values.NETWORKTYPE" class="form-control" id="networktype">
							<option
							 *ngFor="let value of valuesList.NETWORKTYPE"
							 [ngValue]="value" id="network_{{value.attrValue}}">{{ value.attrDisplayValue }}</option>
						</select>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-10 text-tip">{{'VM_INSTANCE.PLEASE_SELECT_SUBNET_YOU_NEED'| translate}}</div>
					<div class="col-md-2 content-title">{{'VM_INSTANCE.SECURITY_GROUP'| translate}}</div>
					<div class="col-md-10">
						<select [(ngModel)]="values.SECURITYGROUP" class="form-control" id="securitygroup">
							<option
							 *ngFor="let value of valuesList.SECURITYGROUP;"
							 [ngValue]="value" id="securitygroup_{{value.attrValue}}">{{ value.attrDisplayValue }}</option>
						</select>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-10 text-tip">{{'VM_INSTANCE.CONSULT_ADMIN_ABOUT_CHOOSING'| translate}}</div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-password"></span><br>{{'VM_INSTANCE.PASSWORD_SETTING'| translate}}</p>
				</div>
				<div class="col-md-12 li-content li-password">
					<!-- <div class="col-md-12 no-padding mb15">
						<div class="col-md-2 content-title">设置方式</div>
						<div class="col-md-4 no-padding btn-group" data-toggle="buttons">
							<label class="btn btn-default active" (click)="setPassword = true">
								<input type="radio" name="mirror" autocomplete="off" checked> 立即设置
							</label>
							<label class="btn btn-default" (click)="setPassword = false">
								<input type="radio" name="mirror" autocomplete="off"> 模板自带密码
							</label>
						</div>
						<div class="col-md-5 no-padding text-tip">请牢记您所设置的密码，如遗忘可登录ESC控制台重置密码。</div>
					</div> -->

					<div class="col-md-12 no-padding mb20">
						<div class="col-md-2 content-title">{{'VM_INSTANCE.USER_NAME'| translate}}</div>
						<div class="col-md-10 user-root">{{values.USERNAME?.attrValue}}</div>
					</div>

					<div class="col-md-12 no-padding mb20" *ngIf="setPassword">
						<div class="col-md-2 content-title">{{'VM_INSTANCE.LOGIN_PASSWORD'| translate}}</div>
						<div class="col-md-4 no-padding has-feedback" [ngClass]="{'has-error': v.result.password}">
							<input type="password" 
								(keyup) = "checkValue('password')"
								[(ngModel)]="values.PASSWORD.attrValue" class="form-control" placeholder="{{'VM_INSTANCE.PLEASE_ENTER_HOST_PASSWORD'| translate}}" id="login_password">
					        <span *ngIf="v.result.password" class="glyphicon glyphicon-remove form-control-feedback"></span>
					        <div *ngIf="v.result.password" class="alert alert-danger" role="alert">{{v.result.password | translate}}</div>
						</div>
						<div class="col-md-5 text-tip  pdb0">{{'VM_INSTANCE.PASSWORD_COMPLEXITY_DESCRIPTION'| translate}}</div>
					</div>

					<div class="col-md-12 no-padding mb20" *ngIf="setPassword">
						<div class="col-md-2 content-title">{{'VM_INSTANCE.CONFIRM_PASSWORD'| translate}}</div>
						<div class="col-md-4 no-padding has-feedback" [ngClass]="{'has-error': v.result.passwordShadow }">

							<input type="password" class="form-control" (keyup)="checkValue('passwordShadow')"  [(ngModel)]="passwordShadow"  placeholder="{{'VM_INSTANCE.ENTER_PASSWORD_AGAIN'| translate}}" id="login_confirm_password">
					        <span *ngIf="v.result.passwordShadow" class="glyphicon glyphicon-remove form-control-feedback"></span>
					        <div *ngIf="v.result.passwordShadow" class="alert alert-danger" role="alert">{{v.result.passwordShadow | translate}}</div>
						</div>
					</div>

					<div class="col-md-12 no-padding mb20">
						<div class="col-md-2 content-title">{{'VM_INSTANCE.INSTANCE_NAME'| translate}}</div>
						<div class="col-md-4 no-padding has-feedback" [ngClass]="{'has-error': v.result.instancename }">
							<input type="text" [(ngModel)]="values.INSTANCENAME.attrValue" (keyup)="checkValue('instancename')" class="form-control" placeholder="{{'VM_INSTANCE.SYSTEM_AUTO_IN'| translate}}" id="login_insrance_name">
					        <span *ngIf="v.result.instancename" class="glyphicon glyphicon-remove form-control-feedback"></span>
					        <div *ngIf="v.result.instancename" class="alert alert-danger" role="alert">{{v.result.instancename | translate}}</div>
						</div>
						<div class="col-md-5 text-tip pdb0">{{'COMMON.SET_NAME_FORMAT'| translate}}</div>
					</div>
				</div>
			</li>
			<li>
				<div class="col-md-1 li-title">
					<p><span class="icon-amount"></span><br>{{'COMMON.PURCHASE_AMOUNT'|translate}}</p>
				</div>
				<div class="col-md-12 li-content">
					<div class="col-md-12 no-padding mb20">
						<div class="col-md-2 content-title">{{'COMMON.PURCHASE_DURATION'|translate}}</div>
						<div class="col-md-2 no-padding mr10">
							<select [disabled]="timeForever" [(ngModel)]="values.TIMELINEUNIT" (ngModelChange)="dux.dispatch('SET_VMPRICE');" class="form-control" id="timelineunit">
								<option
								*ngFor="let value of valuesList.TIMELINEUNIT;"
								[ngValue]="value" id="timelineunit_{{value.attrValue}}">{{ value.attrDisplayValue | translate}}</option>
							</select>
						</div>
						<div class="col-md-2 no-padding mr10 has-feedback" [ngClass]="{'has-error': v.result.timeline }">
							<input [disabled]="timeForever" 
								   (keyup)="checkValue('timeline');dux.dispatch('SET_VMPRICE');" 
								   [(ngModel)]="values.TIMELINE.attrValue" type="text" class="form-control" id="input_timeline">
					        <span *ngIf="v.result.timeline" class="glyphicon glyphicon-remove form-control-feedback"></span>
					        <div *ngIf="v.result.timeline" class="alert alert-danger" role="alert">{{v.result.timeline | translate}}</div>
						</div>
						<div class="col-md-2 no-padding">
							<!-- <label class="btn btn-default" (click)="timeForever = timeForever ? false : true" [ngClass]="{'active': timeForever}">
								永久
							</label> -->
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	 <!-- [ngClass]="{'right-fixed' : rightFixed}" (window:scroll)="onScroll($event)" -->
	<div class="col-md-3 no-padding right-box">
        <cart-button #cartButton></cart-button>
        <div class="col-md-12 content-box">
            <h3 class="boder-gray-bottom-title">{{'COMMON.CURRENT_CONFIGURATION'| translate}}</h3>
            <h4 class="cloud-title font-green">{{'COMMON.AREA'| translate}}</h4>
            <p class="cloud-p">{{'COMMON.CLOUD_PLATFORM'| translate}}: {{ values.PLATFORM?.attrDisplayValue}}</p>
            <p class="cloud-p">{{'COMMON.AVAILABLE_ZONE'| translate}}: {{ values.ZONE?.attrDisplayValue}}</p>
            <h4 class="cloud-title font-green">{{'VM_INSTANCE.NET'| translate}}</h4>
            <p class="cloud-p">{{'VM_INSTANCE.NET_TYPE'| translate}}: {{ values.NETWORKTYPE?.attrDisplayValue}}</p>
            <p class="cloud-p">{{'VM_INSTANCE.SECURITY_GROUP'| translate}}: {{ values.SECURITYGROUP?.attrDisplayValue}}</p>
            <h4 class="cloud-title font-green">{{'VM_INSTANCE.INSTANCE_CONFIGURATION'| translate}}</h4>
            <p class="cloud-p">{{'VM_INSTANCE.CPU'| translate}}: {{ values.CPU?.attrDisplayValue}}</p>
            <p class="cloud-p">{{'VM_INSTANCE.RAM'| translate}}: {{ values.MEM?.attrDisplayValue}}</p>
            <h4 class="cloud-title font-green">{{'VM_INSTANCE.CLOUD_HOST_SOURCE'| translate}}</h4>
            <p class="cloud-p">{{'VM_INSTANCE.START_SOURCE'| translate}}: {{ values.STARTUPSOURCE?.attrDisplayValue}}</p>
            <p class="cloud-p">{{'VM_INSTANCE.MIRROR_TYPE'| translate}}: {{ values.IMAGETYPE?.attrDisplayValue}}</p>
            <p class="cloud-p">{{'VM_INSTANCE.MIRROR_NAME'| translate}}: {{ values.OS?.attrDisplayValue}}</p>
            <h4 class="cloud-title font-green">{{'VM_INSTANCE.STORE'| translate}}</h4>
            <p class="cloud-p">{{'VM_INSTANCE.BOOT_DISK'| translate}}: {{ values.BOOTSTORAGE?.attrDisplayValue}} / {{ values.BOOTSIZE?.attrValue}}GB</p>
            <p class="cloud-p" *ngFor="let disk of database?.diskInfoList;let i = index;"> 云硬盘{{i+1}}:  {{disk?.storage?.attrDisplayValue}} / {{disk?.diskValue?.DISKSIZE.attrValue}}GB</p>
            <h4 class="cloud-title font-green">实例类型</h4>
            <p class="cloud-p">类型: {{dbInit?.db.label}}</p>
            <p class="cloud-p">版本: {{fetchTmIdsPost.version}}</p>
            <p class="cloud-p">部署模式: {{deploymentModeString}}</p>
            <h4 class="cloud-title font-green">{{'COMMON.PURCHASE_AMOUNT'|translate}}</h4>
            <p class="cloud-p">{{'COMMON.PURCHASE_DURATION'|translate}}: {{ values.TIMELINEUNIT.attrDisplayValue}} / {{ values.TIMELINE?.attrValue}}</p>
            <div class="cloud-line"></div>
            <h4 class="cloud-title font-green">{{'VM_INSTANCE.HOST_ONE_PRICE'|translate}}<!--   云主机单价 --></h4>
            <p class="cloud-p">{{'COMMON.ONE_TIME_COSTS'|translate}}:
                <font class="font-orange">{{'COMMON.$' | translate}}{{ vmProduct?.billingInfo.basePrice }}</font>{{'COMMON.YUAN'|translate}}</p>
            <p class="cloud-p">{{'VM_INSTANCE.BILLINGARR'|translate}}
                <!-- 周期费用 -->:
                <font class="font-orange">{{'COMMON.$' | translate}}{{vmProduct?.billingInfo.basicPrice}} / {{ values.TIMELINEUNIT.attrDisplayValue }}</font>
            </p>
            <h4 class="cloud-title font-green">数据库单价</h4>
            <p class="cloud-p">{{'COMMON.ONE_TIME_COSTS'|translate}}:
                <font class="font-orange">{{'COMMON.$' | translate}}{{ dbProduct?.billingInfo.basePrice }}</font>{{'COMMON.YUAN'|translate}}</p>
            <p class="cloud-p">{{'VM_INSTANCE.BILLINGARR'|translate}}
                <!-- 周期费用 -->:
                <font class="font-orange">{{'COMMON.$' | translate}}{{dbProduct?.billingInfo.basicPrice}} / {{ values.TIMELINEUNIT.attrDisplayValue }}</font>
            </p>
            <h4 class="cloud-title font-green">云硬盘单价<!--   云硬盘单价 --></h4>

            <ng-container *ngFor="let disk of database?.diskInfoList;let i = index;">
                <p class="cloud-title">云硬盘{{1+i}}：</p>
                <p class="cloud-p" *ngIf="!diskProducts[i]">没有匹配到相应的云硬盘产品</p>
				<p class="cloud-p" *ngIf="diskProducts[i]">云硬盘类型: {{disk?.storage?.attrDisplayValue}}</p>
				<p class="cloud-p" *ngIf="diskProducts[i]">{{'COMMON.ONE_TIME_COSTS'|translate}}: <font class="font-orange">{{'COMMON.$' | translate}} {{ diskProducts[i]?.billingInfo.basePrice }}</font>{{'COMMON.YUAN'|translate}}</p>
				<p class="cloud-p" *ngIf="diskProducts[i]">{{'VM_INSTANCE.BY_VOLUMN_COSTS'| translate}}: <font class="font-orange">{{'COMMON.$' | translate}} {{diskProducts[i]?.billingInfo.unitPrice}}/GB/{{ diskProducts[i]?.billingInfo.unitType | dict:service.unitType | async }}</font></p>
            </ng-container>
            <div class="cloud-p">
                <p class="cloud-title">{{'VM_INSTANCE.TOTAL_COST'| translate}}：</p>
                <table style="width: 90%;line-height: 26px;">
                    <tr>
                        <td>{{'COMMON.ONE_TIME_COSTS'|translate}}： </td>
                        <td>
                            <font class="font-orange">{{'COMMON.$' | translate}}{{oneTimeTotalPrice}}</font>{{'COMMON.YUAN' | translate}}</td>
                    </tr>
                    <tr>
                        <td>
                            <font>{{'VM_INSTANCE.TOTAL_BILLINGARR'|translate}}
                                <!-- 总周期费用 -->： </font>
                        </td>
                        <td>
                            <font class="font-orange">{{'COMMON.$' | translate}}{{totalBilling}}</font>{{'COMMON.YUAN'|translate}}<span class="float-right">{{'VM_INSTANCE.ANNUAL_SUBSCRIPTION'| translate}}</span></td>
                    </tr>
                    <tr>
                        <td>
                            <font>总按量费用
                                <!-- 总按量费用 -->： </font>
                        </td>
                        <td>
                            <font class="font-orange">{{'COMMON.$' | translate}}{{totalAnnual}}</font>{{'COMMON.YUAN'|translate}}<span class="float-right">{{'VM_INSTANCE.ANNUAL_SUBSCRIPTION'| translate}}</span></td>
                    </tr>
                </table>
                <p class="mgt20">{{'VM_INSTANCE.BILLINGARR_TEXT'|translate}}
                    <!-- 以上为总费用估算，实际支付金额，请以每月账单为准。 -->
                </p>
            </div>
            <div class="col-md-12 colud-order-button">
                <div class="col-md-6">
                    <button (click)="buyNow()" class="btn button-orange-deep" id="buy_now">{{'COMMON.BUY_NOW'|translate}}</button>
                </div>
                <div class="col-md-6">
                    <button (click)="addCart()" class="btn button-orange-light" id="add_to_cart">{{'COMMON.ADD_TO_SHOPPING_CART'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<fc-notice #notice title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalAction(0)"></fc-notice>
