<div class="page-content-header icon-create-product">{{'COMMON.VIEW' | translate}}{{'COMMON.PRODOCT' | translate}}</div>
<div class="page-content fix-page-content">
	<div class="row" style="padding-top: 30px;">
		<div class="col-md-12">
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'COMMON.PRODOCT' | translate}}{{'COMMON.NAME' | translate}}：</div>
					<div class="col-sm-4">
						<input type="text" class="form-control font-gray" [(ngModel)]="product.name" placeholder="{{'PROD_MNG.PROD_NAME' | translate}}" disabled>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'PROD_MNG.PRODUCT_CAT' | translate}}：</div>
					<div class="col-sm-4 font-gray">
						<select class="form-control" disabled>
                            <option>{{prodDir.serviceName}}</option>
                        </select>
						<!--<input type="text" [(ngModel)]="product.serviceId">-->
					</div>
				</div>
			</div>
			<div *ngIf="vmProdDir">
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title"></div>
						<div class="col-sm-4 row-line-child font-gray">
							<div class="font-gray">CPU</div>
							<div class="mid-line-child border-gray font-gray">{{prodDir?.specification?.vcpu||0}}</div>
							<div class="last-line-child font-gray">{{'COMMON.CORE' | translate}}（vCPU）</div>
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title"></div>
						<div class="col-sm-4 row-line-child font-gray">
							<div class="font-gray">{{'COMMON.RAM' | translate}}</div>
							<div class="mid-line-child border-gray font-gray">{{prodDir?.specification?.mem||0}}</div>
							<div class="last-line-child font-gray">{{'COMMON.MB' | translate}}（MB）</div>
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title"></div>
						<div class="col-sm-4 row-line-child font-gray">
							<div class="font-gray">{{'COMMON.ROOT_DISK' | translate}}{{'COMMON.SIZE' | translate}}</div>
							<div class="mid-line-child border-gray font-gray">{{prodDir?.specification?.startupDisk||0}}</div>
							<div class="last-line-child font-gray">GB</div>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="!vmProdDir">
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title"></div>
						<div class="col-sm-4 row-line-child font-gray">
							<div class="font-gray">{{'COMMON.INIT' | translate}}{{'COMMON.SIZE' | translate}}</div>
							<div class="mid-line-child border-gray font-gray">{{prodDir?.specification?.initialSize||0}}</div>
							<div class="last-line-child font-gray">GB</div>
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title"></div>
						<div class="col-sm-4 row-line-child font-gray">
							<div class="font-gray">{{'COMMON.STEP' | translate}}</div>
							<div class="mid-line-child border-gray font-gray">{{prodDir?.specification?.stepSize||0}}</div>
							<div class="last-line-child font-gray">GB</div>
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title"></div>
						<div class="col-sm-4 row-line-child font-gray">
							<div class="font-gray">{{'COMMON.MAX' | translate}}</div>
							<div class="mid-line-child border-gray font-gray">{{prodDir?.specification?.maxSize||0}}</div>
							<div class="last-line-child font-gray">GB</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">{{'COMMON.DESCRIPTION' | translate}}：</div>
					<div class="col-sm-4">
						<textarea class="form-control font-gray" rows="4" placeholder="{{'HOST_OPENSTACK_MNG.DESCRIPTION' | translate}}" [(ngModel)]="product.description" disabled></textarea>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">{{'PROD_MNG.COUNT_MODE' | translate}}：</div>
					<div class="col-sm-4 row-inline-radio">
						<label class="radio-inline row-inline-radio2 font-gray">
                            <input type="radio"   class="fox-cloud-radio" disabled  [checked]="product.billingType=='0'"> {{'COMMON.BY_YEAR' | translate}}{{'COMMON.BY_MONTH' | translate}}
                        </label>
						<label class="radio-inline row-inline-radio2 font-gray">
                            <input type="radio"   class="fox-cloud-radio" disabled  [checked]="product.billingType=='1'"> {{'COMMON.BY_VOLUMN' | translate}}
                        </label>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">{{'COMMON.COUNT' | translate}}{{'COMMON.CYCLE' | translate}}：</div>
					<div class="col-sm-4 row-inline-radio">
						<label class="radio-inline row-inline-radio4 font-gray">
                            <input type="radio" value="5"  class="fox-cloud-radio" disabled [checked]="product.billingCycle=='5'"> {{'COMMON.BY_YEAR' | translate}}
                        </label>
						<label class="radio-inline row-inline-radio4 font-gray">
                            <input type="radio"  disabled  class="fox-cloud-radio" [checked]="product.billingCycle=='3'"> {{'COMMON.BY_MONTH' | translate}}
                        </label>
						<label class="radio-inline row-inline-radio4 font-gray">
                            <input type="radio" value="1" disabled class="fox-cloud-radio" [checked]="product.billingCycle=='1'"> {{'COMMON.BY_DAY' | translate}}
                        </label>
						<label class="radio-inline row-inline-radio4 font-gray">
                            <input type="radio"  disabled  class="fox-cloud-radio" [checked]="product.billingCycle=='0'" > {{'COMMON.BY_HOUR' | translate}}
                        </label>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">{{'COMMON.BASIC' | translate}}{{'COMMON.CYCLE' | translate}}{{'COMMON.PRICE' | translate}}：</div>
					<div class="col-sm-2 ">
						<count-bar [default]="0" [step]=100 [max]=2000000 [min]=0 [disabled]=true [value]="product?.basicCyclePrice||0" #basicCyclePrice
							(output)="outputValue($event,'basicCyclePrice')"></count-bar>
					</div>
					<div class="col-sm-2 form-control-title">{{'COMMON.UNIT' | translate}}{{'COMMON.PRICE' | translate}}：</div>
					<div class="col-sm-1 ">
						<count-bar [default]=0 [step]=100 [max]=2000000 [min]=0 [disabled]=true [value]="product?.unitPrice||0" #unitPrice (output)="outputValue($event,'unitPrice')"></count-bar>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">{{'COMMON.INCREMENT' | translate}}{{'COMMON.CYCLE' | translate}}{{'COMMON.PRICE' | translate}}：</div>
					<div class="col-sm-2">
						<count-bar [default]=0 [step]=100 [max]=2000000 [min]=0 [disabled]=true [value]="product.extendCyclePrice||0" #extendCyclePrice
							(output)="outputValue($event,'extendCyclePrice')"></count-bar>
					</div>
					<div class="col-sm-2 form-control-title">{{'COMMON.ONE_TIME' | translate}}{{'COMMON.PRICE' | translate}}：</div>
					<div class="col-sm-1">
						<count-bar [step]=100 [max]=2000000 [min]=0 [disabled]=true [value]="product.oneTimePrice||0" #oneTimePrice (output)="outputValue($event,'oneTimePrice')"></count-bar>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="col-sm-3"></div>
				<div class="col-sm-6 selectEnt">
					<div class="row row-line-height entup">
						<div class="col-sm-5 entHeader">
							<div class="">
								<div class="col-sm-6">{{'NET_MNG_OPENSTACK.PLATFORM' | translate}}{{'COMMON.NAME' | translate}}</div>
								<div class="col-sm-6">{{'COMMON.AVAILABLE_ZONE' | translate}}</div>								
							</div>
						</div>
						<div class="col-sm-2"></div>
						<div class="col-sm-5 entHeader">
							{{'COMMON.ENTERPRISE' | translate}}{{'COMMON.LIST' | translate}}
						</div>
					</div>
					<div class="row row-line-height entdown" style="">
						<div class="col-sm-5 entBody">
							<div class="tabBody" *ngFor="let plateform of product.productPlatformReqs; let idx=index" style="text-align:center">
								<div class="col-sm-6 oneChild">
									{{plateform.platformName}}
								</div>
								<div class="col-sm-6 secondChild wyLine-height">
									<div class="row" *ngFor="let zone of plateform.zoneList">
										<div class="col-sm-12">
											{{zone.zoneName}}
										</div>
									</div>
								</div>
								<!--<div class="col-sm-4 thirdChild">
							<div class="row row-line-height inputLeft" *ngFor="let zone of plateform.zoneList; let idxx=index">
								<div class="col-sm-12">
									<input type="checkbox" class="fox-cloud-checkbox" selected="zone.selected" 
									checked=true disabled (click)="selectZone(idx,idxx)">
								</div>
							</div>
						</div>-->
							</div>
						</div>

						<div class="col-sm-2"></div>
						<div class="col-sm-5 entBody">
							<div *ngFor="let ent of product.productEnterpiseReqs;let ii=index">
								<span class="span2">{{ent.name}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3"></div>
			</div>
			<div class="row row-line-height">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">

				</div>
				<div class="col-sm-3"></div>
			</div>
		</div>
	</div>
</div>
<div class="text-center">
	<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel();">
        <span class="icon-button-label">{{'NET_MNG_VM_PORT.BACK' | translate}}</span>
    </button>
	<button class="fox-cloud-button-lg fox-cloud-button-white" disabled (click)="onSubmit();" style="margin-left:40px;">
        <span class="icon-button-label">{{'HOST_VMWARE_MNG.EDIT' | translate}}</span>
    </button>
</div>

<!--<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="HOST_OPENSTACK_MNG.CONFIRM"></fc-notice>-->

<!--<fc-confirm #confirm title="{{title}}" msg="{{msg}}" ot="HOST_OPENSTACK_MNG.CONFIRM" (of)="cof()" ct="HOST_OPENSTACK_MNG.CANCEL"></fc-confirm>-->