<div class="page-content-header icon-content-header-purchasing">创建产品</div>
<div class="page-content fix-page-content">
	<div class="row" style="padding-top: 30px;">
		<div class="col-md-12">
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>产品名称：</div>
					<div class="col-sm-4">
						<input type="text" class="form-control font-gray" [(ngModel)]="product.name" placeholder="产品名称">
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>产品目录：</div>
					<div class="col-sm-4 font-gray">
						<!--<select class="form-control" [(ngModel)]="prodDirId" (change)="selectProdDir($event.target.value,idx)">
                            <option *ngFor="let prodDir of prodDirList let idx=index;" [value]="prodDir.id">{{prodDir.name}}</option>
                        </select>-->
						<!--使用下面这种方式也可以-->
						<select class="form-control" [(ngModel)]="prodDirId" (ngModelChange)="selectProdDir($event)">
                            <option *ngFor="let prodDir of prodDirList;let idx=index;" [value]="prodDir.id">{{prodDir?.name}}</option>
                        </select>
					</div>
				</div>
			</div>
			<div *ngIf="vmProdDir">
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title"></div>
						<div class="col-sm-4 row-line-child font-gray">
							<div class="font-gray">CPU</div>
							<div class="mid-line-child border-gray font-gray">{{prodDir?.specification.vcpu}}</div>
							<div class="last-line-child font-gray">核（vCPU）</div>
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title"></div>
						<div class="col-sm-4 row-line-child font-gray">
							<div class="font-gray">内存</div>
							<div class="mid-line-child border-gray font-gray">{{prodDir?.specification.mem}}</div>
							<div class="last-line-child font-gray">兆（MB）</div>
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title"></div>
						<div class="col-sm-4 row-line-child font-gray">
							<div class="font-gray">启动盘大小</div>
							<div class="mid-line-child border-gray font-gray">{{prodDir?.specification.startupDisk}}</div>
							<div class="last-line-child font-gray">GB</div>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="!vmProdDir">
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title"></div>
						<div class="col-sm-4 row-line-child font-gray">
							<div class="font-gray">初始大小</div>
							<div class="mid-line-child border-gray font-gray">{{prodDir?.specification?.initialSize}}</div>
							<div class="last-line-child font-gray">GB</div>
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title"></div>
						<div class="col-sm-4 row-line-child font-gray">
							<div class="font-gray">步长</div>
							<div class="mid-line-child border-gray font-gray">{{prodDir?.specification?.stepSize}}</div>
							<div class="last-line-child font-gray">GB</div>
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title"></div>
						<div class="col-sm-4 row-line-child font-gray">
							<div class="font-gray">最大</div>
							<div class="mid-line-child border-gray font-gray">{{prodDir?.specification?.maxSize}}</div>
							<div class="last-line-child font-gray">GB</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">描述：</div>
					<div class="col-sm-4">
						<textarea class="form-control font-gray" rows="4" placeholder="描述" [(ngModel)]="product.desc"></textarea>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>计费模式：</div>
					<div class="col-sm-4 row-inline-radio">
						<div class="row">
							<div class="col-sm-6">
								<label class="radio-inline row-inline-radio2 font-gray">
                            		<input type="radio" name="billingTypeRadios"  class="fox-cloud-radio" (click)="product.billingType='0';unitPrice.unEdit();basicCyclePrice.editable();extendCyclePrice.editable(); oneTimePrice.editable()"> 包年包月
                       			</label>
							</div>
							<div class="col-sm-6">
								<label class="radio-inline row-inline-radio2 font-gray">
                            		<input type="radio" name="billingTypeRadios"  class="fox-cloud-radio" (click)="product.billingType='1';basicCyclePrice.unEdit();extendCyclePrice.unEdit();oneTimePrice.editable();unitPrice.editable()"> 按量
                       			</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>计费周期：</div>
					<div class="col-sm-4 row-inline-radio">
						<div class="row">
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-6">
										<label class="radio-inline row-inline-radio4 font-gray" style="width:60%">
                           					 <input type="radio" name="inlineRadioOption"  value="5" class="fox-cloud-radio" [(ngModel)]="product.billingCycle"> 包年
                       					</label>
									</div>
									<div class="col-sm-6">
										<label class="radio-inline row-inline-radio4 font-gray" style="width:60%">
                           					 <input type="radio" name="inlineRadioOption"  value="3" class="fox-cloud-radio" [(ngModel)]="product.billingCycle"> 包月
                       					</label>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-6">
										<label class="radio-inline row-inline-radio4 font-gray" style="width:60%">
                           					  <input type="radio" name="inlineRadioOption"  value="1" class="fox-cloud-radio" [(ngModel)]="product.billingCycle"> 按天
                       					</label>
									</div>
									<div class="col-sm-6">
										<label class="radio-inline row-inline-radio4 font-gray" style="width:100%">
                           					 <input type="radio" name="inlineRadioOption"  value="0" class="fox-cloud-radio" [(ngModel)]="product.billingCycle"> 按小时
                       					</label>
									</div>
								</div>

							</div>
						</div>
						<!--<label class="radio-inline row-inline-radio4 font-gray">
                            <input type="radio" name="inlineRadioOption"  value="1" class="fox-cloud-radio" [(ngModel)]="product.billingCycle"> 按天
                        </label>
						<label class="radio-inline row-inline-radio4 font-gray">
                            <input type="radio" name="inlineRadioOption"  value="0" class="fox-cloud-radio" [(ngModel)]="product.billingCycle"> 按小时
                        </label>-->
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">基础周期价格：</div>
					<div class="col-sm-8">
						<div class="row">
							<div class="col-sm-2">
								<count-bar [default]=0 [step]=100 [max]=1025 [min]=0 [disabled]=false [value]=0 #basicCyclePrice (output)="outputValue($event,'basicCyclePrice')"></count-bar>
							</div>
							<div class="col-sm-2 form-control-title">
								单位价格：
							</div>
							<div class="col-sm-2">
								<count-bar [default]=0 [step]=100 [max]=1025 [min]=0 [disabled]=false [value]=0 #unitPrice (output)="outputValue($event,'unitPrice')"></count-bar>
							</div>
						</div>
					</div>
					<!--<div class="col-sm-2 ">
						<count-bar [default]=0 [step]=100 [max]=1025 [min]=0 [disabled]=false [value]=0 #basicCyclePrice (output)="outputValue($event,'basicCyclePrice')"></count-bar>
					</div>
					<div class="col-sm-2 form-control-title">单位价格：</div>
					<div class="col-sm-1 ">
						<count-bar [default]=0 [step]=100 [max]=1025 [min]=0 [disabled]=false [value]=0 #unitPrice (output)="outputValue($event,'unitPrice')"></count-bar>
					</div>-->
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">增量周期价格：</div>
					<div class="col-sm-8">
						<div class="row">
							<div class="col-sm-2">
								<count-bar [default]=0 [step]=100 [max]=1025 [min]=0 [disabled]=false [value]=0 #extendCyclePrice (output)="outputValue($event,'extendCyclePrice')"></count-bar>
							</div>
							<div class="col-sm-2 form-control-title">
								一次性价格：
							</div>
							<div class="col-sm-2">
								<count-bar [default]=0 [step]=100 [max]=1025 [min]=0 [disabled]=false [value]=0 #oneTimePrice (output)="outputValue($event,'oneTimePrice')"></count-bar>
							</div>
						</div>
					</div>
					<!--<div class="col-sm-2">
						<count-bar [default]=0 [step]=100 [max]=1025 [min]=0 [disabled]=false [value]=0 #extendCyclePrice (output)="outputValue($event,'extendCyclePrice')"></count-bar>
					</div>
					<div class="col-sm-2 form-control-title">一次性价格：</div>
					<div class="col-sm-1">
						<count-bar [default]=0 [step]=100 [max]=1025 [min]=0 [disabled]=false [value]=0 #oneTimePrice (output)="outputValue($event,'oneTimePrice')"></count-bar>
					</div>-->
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>选择可用平台：</div>
				</div>
			</div>
			<div class="row row-line-height" *ngIf="vmProdDir">
				<div class="col-sm-3"></div>
				<div class="col-sm-6 border selectPlateForm">
					<div class="row  tabHeader row-line-height">
						<div class="col-sm-4">平台名称</div>
						<div class="col-sm-4 ">
							可用区
						</div>
						<div class="col-sm-4" style="text-align: left">
							<input type="checkbox" class="fox-cloud-checkbox" (click)="selectAllZones()">
						</div>
					</div>
					<div class="row tabBody" *ngFor="let plateform of prodDir.platformInfo; let idx=index">
						<div class="col-sm-4 oneChild">
							<p>{{plateform.platformName}}</p>
						</div>
						<div class="col-sm-4 secondChild wyLine-height">
							<div class="row" *ngFor="let zone of plateform.zoneList">
								<div class="col-sm-12">{{zone.zoneName}}</div>
							</div>
						</div>
						<div class="col-sm-4 thirdChild">
							<div class="row row-line-height inputLeft" *ngFor="let zone of plateform.zoneList; let idxx=index">
								<div class="col-sm-12">
									<input type="checkbox" class="fox-cloud-checkbox" selected="zone.selected" [(ngModel)]="zone.selected" name="zoneSelected"
										(click)="selectZone(idx,idxx)">
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-sm-3"></div>
			</div>
			<div class="row row-line-height" *ngIf="!vmProdDir">
				<div class="col-sm-3"></div>
				<div class="col-sm-6 border selectPlateForm">
					<div class="row  tabHeader row-line-height">
						<div class="col-sm-4">disk平台名称</div>
						<div class="col-sm-3 ">
							可用区
						</div>
						<div class="col-sm-3 ">
							存储后端
						</div>
						<div class="col-sm-2" style="text-align: left">
							<input type="checkbox" class="fox-cloud-checkbox" (click)="selectAllStorages()">
						</div>
					</div>
					<div class="row tabBody" *ngFor="let plateform of prodDir.platformList; let idx=index">
						<div class="col-sm-4 oneChild">
							<p>{{plateform.platformName}}</p>
						</div>
						<div class="col-sm-3 secondChild wyLine-height">
							<div class="row" *ngFor="let zone of plateform.storages">
								<div class="col-sm-12">所有可用区</div>
							</div>
						</div>
						<div class="col-sm-3 secondChild wyLine-height">
							<div class="row" *ngFor="let storage of plateform.storages">
								<div class="col-sm-12">{{storage.storageName}}</div>
							</div>
						</div>
						<div class="col-sm-2 thirdChild">
							<div class="row row-line-height inputLeft" *ngFor="let storage of plateform.storages; let idxx=index">
								<div class="col-sm-12">
									<input type="checkbox" class="fox-cloud-checkbox" selected="storage.selected" [(ngModel)]="storage.selected" name="storageSelected"
										(click)="selectStorage(idx,idxx)">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3"></div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">选择企业：</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="col-sm-3"></div>
				<div class="col-sm-6 selectEnt">
					<div class="row row-line-height entup">
						<div class="col-sm-5 entHeader">
							全部企业
						</div>
						<div class="col-sm-2"></div>
						<div class="col-sm-5 entHeader">
							选中的企业
						</div>
					</div>
					<div class="row row-line-height entdown">
						<div class="col-sm-5 entBody">
							<div *ngFor="let ent1 of enterpriseList; let i=index">
								<span class="span1">{{ent1.name}}</span>
								<input type="checkbox" class="fox-cloud-checkbox" [(ngModel)]="ent1.selected" (click)="selectEnterprise(ent1,i)">
							</div>
						</div>
						<div class="col-sm-2"></div>
						<div class="col-sm-5 entBody">
							<div *ngFor="let ent2 of product.productEnterpiseReqs;let ii=index">
								<span class="span2">{{ent2.name}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3"></div>
			</div>
			<div class="row row-line-height">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
				</div>
				<div class="col-sm-3"></div>
			</div>
		</div>
	</div>
</div>
<div class="text-center">
	<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel();">
        <span class="icon-button-label">取消</span>
    </button>
	<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="onSubmit();">
        <span class="icon-button-label">创建产品</span>
    </button>
</div>

<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="确认"></fc-notice>