<!--<div class="page-content-header icon-create-product">{{'PROD_MNG.VIEW_PRODUCT' | translate}}</div>查看产品-->

<div class="page-content-header icon-create-product" style="padding-bottom:10px;height:45px;">
	{{'PROD_MNG.EDIT_PRODUCT' | translate}}
	<button class="fox-cloud-button-md fox-cloud-button-white" style="float:right">
        <span class="icon-button-label" (click)='cancel()'>{{'PROD_MNG.RETURN_PRODUCT_LIST' | translate}}</span>
    </button>
</div>
<div class="mgt20" style="border-bottom:1px solid #ddd;padding-bottom:5px">
	<button type="button" class="btn btn-default grayTab noBorder" *ngFor="let item of Tabels;let idx = index" (click)="changeTab(item,idx)"
	 [ngClass]="{'btn-active': item.active}" style="margin-right:2px;">{{item.name | translate}}</button>
</div>
<div *ngIf="Tabels[0].active">
	<div class="page-content fix-page-content">
		<div class="row" style="padding-top: 30px;">
			<div class="col-md-12">
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'PROD_MNG.PROD_NAME' | translate}}：</div>
						<!--产品名称-->

						<div class="col-sm-4 form-control-title font-gray" style="text-align: left">
							<input type="text" class="form-control" [disabled]="!editBasicInfo" [(ngModel)]="tempProductName" placeholder="{{'PROD_MNG.PROD_NAME' | translate}}">
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'PROD_MNG.PRODUCT_CAT' | translate}}：</div>
						<!--产品目录-->
						<div class="col-sm-4 form-control-title font-gray" style="text-align: left">
							{{prodDir.serviceName}}
						</div>
					</div>
				</div>
				<div *ngIf="vmProdDir">
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title"></div>
							<div class="col-sm-4 row-line-child font-gray">
								<div class="font-gray">CPU</div>
								<div class="last-line-child font-gray">{{prodDir?.specification?.vcpu||0}}</div>
								<div class="last-line-child font-gray">{{'COMMON.CORE' | translate}}（vCPU）</div>
							</div>
						</div>
					</div>
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title"></div>
							<div class="col-sm-4 row-line-child font-gray">
								<div class="font-gray">{{'COMMON.RAM' | translate}}</div>
								<div class="last-line-child font-gray">{{prodDir?.specification?.mem||0}}</div>
								<div class="last-line-child font-gray">{{'COMMON.MB' | translate}}（MB）</div>
							</div>
						</div>
					</div>
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title"></div>
							<div class="col-sm-4 row-line-child font-gray">
								<div class="font-gray">{{'PROD_MNG.ROOT_DISK_SIZE' | translate}}</div>
								<!--启动盘大小-->

								<div class="last-line-child font-gray">{{prodDir?.specification?.startupDisk||0}}</div>
								<div class="last-line-child font-gray">GB</div>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="!vmProdDir">
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title"></div>
							<div class="col-sm-4 row-line-child font-gray">
								<div class="font-gray">{{'PROD_MNG.INIT_SIZE' | translate}}</div>
								<!--初始大小-->

								<div class="mid-line-child border-gray font-gray">{{prodDir?.specification?.initialSize||0}}</div>
								<div class="last-line-child font-gray">GB</div>
							</div>
						</div>
					</div>
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title"></div>
							<div class="col-sm-4 row-line-child font-gray">
								<div class="font-gray">{{'COMMON.STEP' | translate}}</div>
								<div class="mid-line-child border-gray font-gray">{{prodDir?.specification?.stepSize||0}}</div>
								<div class="last-line-child font-gray">GB</div>
							</div>
						</div>
					</div>
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title"></div>
							<div class="col-sm-4 row-line-child font-gray">
								<div class="font-gray">{{'COMMON.MAX' | translate}}</div>
								<div class="mid-line-child border-gray font-gray">{{prodDir?.specification?.maxSize||0}}</div>
								<div class="last-line-child font-gray">GB</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title">{{'COMMON.DESCRIPTION' | translate}}：</div>
						<div class="col-sm-4">
							<textarea class="form-control font-gray" rows="4" placeholder="{{'HOST_OPENSTACK_MNG.DESCRIPTION' | translate}}" [(ngModel)]="tempProductDesc"
							 [disabled]="!editBasicInfo"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center" *ngIf="!editBasicInfo">
		<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel();">
        <span class="icon-button-label">{{'NET_MNG_VM_PORT.BACK' | translate}}</span>
    </button>
		<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="this.editBasicInfo=true;" style="margin-left:40px;">
        <span class="icon-button-label">{{'HOST_VMWARE_MNG.EDIT' | translate}}</span>
    </button>
	</div>
	<div class="text-center" *ngIf="editBasicInfo">
		<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="this.tempProductName=this.product.name;this.tempProductDesc=this.product.desc;this.editBasicInfo=false;">
        <span class="icon-button-label">{{'COMMON.CANCEL' | translate}}</span>
    </button>
		<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="saveBasic();" style="margin-left:40px;">
        <span class="icon-button-label">{{'HOST_VMWARE_MNG.SAVE' | translate}}</span>
    </button>
	</div>
</div>
<div *ngIf="Tabels[1].active">
	<div class="page-content fix-page-content">
		<div class="row" style="padding-top: 30px;">
			<div class="col-md-12">
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'PROD_MNG.COUNT_MODE' | translate}}：</div>
						<div class="col-sm-6 row-inline-radio">
							<div class="row">
								<div class="col-sm-6" *ngIf="vmProdDir">
									<label class="radio-inline row-inline-radio2 font-gray">
                            		<input type="radio" name="billingTypeRadios" checked=true class="fox-cloud-radio" > {{'PROD_MNG.BY_YEAR_BY_MONTH' | translate}}<!--包年包月-->

                       			</label>
								</div>
								<div class="col-sm-6" *ngIf="!vmProdDir">
									<label class="radio-inline row-inline-radio2 font-gray">
                            		<input type="radio" name="billingTypeRadios" checked=true class="fox-cloud-radio" > {{'COMMON.BY_VOLUMN' | translate}}
                       			</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'COMMON.COUNT_CYCLE' | translate}}：</div>
						<!--计费周期-->
						<div class="col-sm-6 row-inline-radio">
							<div class="row">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6">
											<label class="radio-inline row-inline-radio4 font-gray" style="width:60%">
                           				<input type="radio" name="inlineRadioOption"  [checked]="product.billingCycle=='5'" disabled class="fox-cloud-radio" > {{'COMMON.BY_YEAR' | translate}}<!--包年-->
                       				</label>
										</div>
										<div class="col-sm-6">
											<label class="radio-inline row-inline-radio4 font-gray" style="width:60%">
                           				<input type="radio" name="inlineRadioOption"  [checked]="product.billingCycle=='3'" disabled class="fox-cloud-radio" > {{'COMMON.BY_MONTH' | translate}}<!--包月-->
                       				</label>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-6">
											<label class="radio-inline row-inline-radio4 font-gray" style="width:60%">
                           				<input type="radio" name="inlineRadioOption"  [checked]="product.billingCycle=='1'" disabled class="fox-cloud-radio" > {{'COMMON.BY_DAY' | translate}}
                       				</label>
										</div>
										<div class="col-sm-6">
											<label class="radio-inline row-inline-radio4 font-gray" style="width:100%">
                           				<input type="radio" name="inlineRadioOption"  [checked]="product.billingCycle=='0'" disabled class="fox-cloud-radio"> {{'COMMON.BY_HOUR' | translate}}
                       				</label>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div *ngIf="vmProdDir">
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title">{{'PROD_MNG.BASIC_CYCLE_PRICE' | translate}}：</div>
							<!--基础周期价格-->
							<div class="col-sm-2 form-control-title font-gray" style="text-align: left">
								<input type="text" class="form-control" [disabled]="!editPriceInfo" type=number [(ngModel)]="tempBasicCyclePrice">
							</div>
							<!--<div class="col-sm-6">
								<count-bar [default]=0 [step]=10 [max]=200000 [min]=0  [value]="tempbBasicCyclePrice||0" #basicCyclePrice
									(output)="outputValue($event,'basicCyclePrice')"></count-bar>
							</div>-->
						</div>
					</div>
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title">{{'PROD_MNG.INCREMENT_CYCLE_PRICE' | translate}}：</div>
							<div class="col-sm-2 form-control-title font-gray" style="text-align: left">
								<input type="text" class="form-control" [disabled]="!editPriceInfo" type=number [(ngModel)]="tempExtendCyclePrice">
							</div>
							<!--<div class="col-sm-6">
								<count-bar [default]=0 [step]=10 [max]=200000 [min]=0  [value]="tempExtendCyclePrice||0" #extendCyclePrice
									(output)="outputValue($event,'tempExtendCyclePrice')"></count-bar>
							</div>-->
						</div>
					</div>
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title">
								{{'PROD_MNG.ONE_TIME_PRICE' | translate}}：
								<!--一次性价格-->
							</div>
							<div class="col-sm-2 form-control-title font-gray" style="text-align: left">
								<input type="text" class="form-control" [disabled]="!editPriceInfo" type=number [(ngModel)]="tempOneTimePrice">
							</div>
							<!--<div class="col-sm-6">
								<count-bar [default]=0 [step]=10 [max]=200000 [min]=0  [value]="tempOneTimePrice||0" #oneTimePrice
									(output)="outputValue($event,'tempOneTimePrice')"></count-bar>
							</div>-->
						</div>
					</div>
				</div>
				<div *ngIf="!vmProdDir">
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title">
								{{'PROD_MNG.ONE_TIME_PRICE' | translate}}：
								<!--一次性价格-->
							</div>
							<div class="col-sm-2 form-control-title font-gray" style="text-align: left">
								<input type="text" class="form-control" [disabled]="!editPriceInfo" type=number [(ngModel)]="tempOneTimePrice">
							</div>
							<!--<div class="col-sm-6">
								<count-bar [default]=0 [step]=10 [max]=200000 [min]=0  [value]="tempOneTimePrice||0" #oneTimePrice
									(output)="outputValue($event,'tempOneTimePrice')"></count-bar>
							</div>-->
						</div>
					</div>
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title">{{'PROD_MNG.UNIT_PRICE' | translate}}：
								<!--单位价格-->
							</div>
							<div class="col-sm-2 form-control-title font-gray" style="text-align: left">
								<input type="text" class="form-control" [disabled]="!editPriceInfo" type=number [(ngModel)]="tempUnitPrice">
							</div>
							<!--<div class="col-sm-6">
								<count-bar [default]=0 [step]=10 [max]=200000 [min]=0  [value]="tempUnitPrice||0" #unitPrice (output)="outputValue($event,'tempUnitPrice')"></count-bar>
							</div>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center" *ngIf="!editPriceInfo">
		<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel();">
        <span class="icon-button-label">{{'NET_MNG_VM_PORT.BACK' | translate}}</span>
    </button>
		<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="editPriceInfo=true;" style="margin-left:40px;">
        <span class="icon-button-label">{{'HOST_VMWARE_MNG.EDIT' | translate}}</span>
    </button>
	</div>
	<div class="text-center" *ngIf="editPriceInfo">
		<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancelPriceEdit();">
        <span class="icon-button-label">{{'COMMON.CANCEL' | translate}}</span>
    </button>
		<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="savePrice();" style="margin-left:40px;">
        <span class="icon-button-label">{{'COMMON.SAVE' | translate}}</span>
    </button>
	</div>
</div>
<div *ngIf="Tabels[2].active">
	<platform-edit [type]="productType" [servicePlatformList]="servicePlatformList" [productPlatformList]="product.productPlatformReqs"
	 (complete)="editPlatform($event)"></platform-edit>
	<div class="text-center mgt20">
		<button class="fox-cloud-button-lg fox-cloud-button-white btn" (click)="cancelAddPlat();">
        <span class="icon-button-label">{{'NET_MNG_VM_PORT.BACK' | translate}}</span>
    </button>
		<button class="fox-cloud-button-lg fox-cloud-button-white btn" [disabled]="!isAddPlat" (click)="ccEditPlatform()" style="margin-left:40px;">
        <span class="icon-button-label">{{'PROD_MNG.ADD' | translate}}</span>
    </button>
	</div>

</div>
<div *ngIf="Tabels[3].active">
	<div class="page-content fix-page-content">
		<div class="row row-line-height">
			<div class="col-sm-3"></div>
			<div class="col-sm-6 selectEnt">
				<div class="row row-line-height entup">
					<div class="col-sm-5 entHeader">
						{{'PROD_MNG.ALL_ENTERPRISE' | translate}}
						<!--全部企业-->
					</div>
					<div class="col-sm-2"></div>
					<div class="col-sm-5 entHeader">
						{{'PROD_MNG.SELECTED_ENTERPRISE' | translate}}
						<!--选中的企业-->
					</div>
				</div>
				<div class="row row-line-height entdown">
					<div class="col-sm-5 entBody">
						<div style="position: relative;height:40px;" *ngFor="let ent1 of entList; let i=index">
							<span class="span2" (click)="selectEnterprise(ent1,i)" style="width:80%">{{ent1.name}}</span>
							<span class="icon-tick" style="margin-top:5px;left:80%" *ngIf="ent1.selected"></span>
							<!--<input type="checkbox" class="fox-cloud-checkbox" [(ngModel)]="ent1.selected" ">-->
							<div class="clear:both"></div>
						</div>
						<!--<div *ngFor="let ent1 of enterpriseList; let i=index">
								<span class="span1">{{ent1.name}}</span>
								<input type="checkbox" class="fox-cloud-checkbox" [(ngModel)]="ent1.selected" (click)="selectEnterprise(ent1,i)">
							</div>-->
					</div>
					<div class="col-sm-2"></div>
					<div class="col-sm-5 entBody">
						<div *ngFor="let ent2 of updateEntObj.productEnterpiseReqs;let ii=index">
							<span class="span2" (click)='unSelected(ent2,ii)'>{{ent2.name}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3"></div>
		</div>
		<div class="text-center mgt20">
			<button class="fox-cloud-button-lg fox-cloud-button-white btn" (click)="cancel();">
        <span class="icon-button-label">{{'NET_MNG_VM_PORT.BACK' | translate}}</span>
    </button>
			<button class="fox-cloud-button-lg fox-cloud-button-white btn" [disabled]="!isAddEnter" (click)="ccAddEnt()" style="margin-left:40px;">
        <span class="icon-button-label">{{'PROD_MNG.ADD' | translate}}</span>
    </button>
		</div>
	</div>
</div>

<div *ngIf="Tabels[4].active">
	<div class="page-content fix-page-content">
		<div class="row" style="padding-top: 30px;">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="table-container">
					<table class="table table-hover" *ngIf="vmProdDir">
						<thead>
							<tr>
								<th>创建时间</th>
								<!--产品名称-->
								<!--<th>{{'PROD_MNG.PRODUCT_CAT' | translate}}</th>-->
								<!--产品目录-->
								<th>产品目录</th>
								<!--产品规格-->
								<!--<th>{{'PROD_MNG.PRODUCT_SPEC' | translate}}</th>-->
								<th>{{'COMMON.COUNT_CYCLE' | translate}}</th>
								<!--计费周期-->
								<th>产品基础周期价格</th>
								<th>产品增量周期价格</th>

								<th>{{'PROD_MNG.ONE_TIME_PRICE' | translate}}</th>
								<!--一次性价格-->
								<!--<th>单位价格</th>-->
								<!--产品名称-->
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let price of historyPriceList.productHistoryBillingProfileList; let idx = index;">
								<td>{{price.createDate}}</td>
								<td>{{historyPriceList.serviceName}}</td>
								<!--<td>{{historyPriceList.productHistoryBillingProfileDiskItem}}</td>-->
								<!--<td>{{historyPriceList.}}</td>-->
								<td>
									<span [ngSwitch]="price.billingCycle"> 
										<template [ngSwitchCase]="0">{{'COMMON.BY_HOUR' | translate}}</template>
										<template [ngSwitchCase]="1">{{'COMMON.BY_DAY' | translate}}</template>
										<template [ngSwitchCase]="2">{{'COMMON.BY_WEEK' | translate}}</template>
										<template [ngSwitchCase]="3">{{'COMMON.BY_MONTH1' | translate}}</template>							
										<template [ngSwitchCase]="5">{{'COMMON.BY_YEAR1' | translate}}</template>							
										<template ngSwitchDefault>Unknown</template>							
									</span>
								</td>
								<td>{{price.basicCyclePrice}}</td>
								<td>{{price.extendCyclePrice}}</td>
								<td>{{price.oneTimePrice}}</td>
								<!--<td>{{price.unitPrice}}</td>-->
								<tr>
						</tbody>
					</table>
					<table class="table table-hover" *ngIf="!vmProdDir">
						<thead>
							<tr>
								<th>创建时间</th>
								<!--产品名称-->
								<!--<th>{{'PROD_MNG.PRODUCT_CAT' | translate}}</th>-->
								<!--产品目录-->
								<th>产品目录</th>
								<!--产品规格-->
								<!--<th>{{'PROD_MNG.PRODUCT_SPEC' | translate}}</th>-->
								<th>{{'COMMON.COUNT_CYCLE' | translate}}</th>
								<!--计费周期-->
								<!--<th>产品基础周期价格</th>-->
								<!--<th>产品增量周期价格</th>-->

								<th>{{'PROD_MNG.ONE_TIME_PRICE' | translate}}</th>
								<!--一次性价格-->
								<th>单位价格</th>
								<!--产品名称-->
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let price of historyPriceList.productHistoryBillingProfileList; let idx = index;">
								<td>{{price.createDate}}</td>
								<td>{{historyPriceList.serviceName}}</td>
								<!--<td>{{historyPriceList.productHistoryBillingProfileDiskItem}}</td>-->
								<!--<td>{{historyPriceList.}}</td>-->
								<td>
									<span [ngSwitch]="price.billingCycle"> 
										<template [ngSwitchCase]="0">{{'COMMON.BY_HOUR' | translate}}</template>
										<template [ngSwitchCase]="1">{{'COMMON.BY_DAY' | translate}}</template>
										<template [ngSwitchCase]="2">{{'COMMON.BY_WEEK' | translate}}</template>
										<template [ngSwitchCase]="3">{{'COMMON.BY_MONTH1' | translate}}</template>							
										<template [ngSwitchCase]="5">{{'COMMON.BY_YEAR1' | translate}}</template>							
										<template ngSwitchDefault>Unknown</template>							
									</span>
								</td>
								<!--<td>{{price.basicCyclePrice}}</td>-->
								<!--<td>{{price.extendCyclePrice}}</td>-->
								<td>{{price.oneTimePrice}}</td>
								<td>{{price.unitPrice}}</td>
								<tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>



<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="HOST_OPENSTACK_MNG.CONFIRM"></fc-notice>

<!--<fc-confirm #confirm title="{{title}}" msg="{{msg}}" ot="HOST_OPENSTACK_MNG.CONFIRM" (of)="cof()" ct="HOST_OPENSTACK_MNG.CANCEL"></fc-confirm>-->