<div class="page-content-header icon-content-header-platform-manage">产品管理</div>
<div class="page-content">
	<div style="padding-bottom: 10px;">
		<div class="dropdown pull-right" style="margin-left: 20px;">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="true">
                更多操作
                <span class="caret"></span>
            </button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
				<!--<li><a href="#">修改</a></li>-->
				<!--<li><a (click)="editProd();">编辑</a></li>-->
				<li><a (click)="action('publish');">发布</a></li>
				<li><a (click)="action('ccPublish');">取消发布</a></li>
				<li><a (click)="action('delete');">删除</a></li>
			</ul>
		</div>
		<button class="pull-right fox-cloud-button-md fox-cloud-button-white " style="line-height:28px ;width:60px; margin-left: 20px" (click)="query()">查询</button>
		<div class="dropdown pull-right" style="margin-left: 20px;">
			<!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                所有平台
                <span class="caret"></span>
            </button>-->
			<select class="form-control" [(ngModel)]="platformId">
                 <option *ngFor="let item of platformsList;" [value]="item.id">{{item.name}}</option>
            </select>
		</div>
		<span class="pull-right" style="margin-left: 20px; line-height: 34px">平台：</span>
		<div class="dropdown pull-right" style="margin-left: 10px;">
			<!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                所有企业
                <span class="caret"></span>
            </button>-->
			<select class="form-control" [(ngModel)]="enterpriseId">
                 <option *ngFor="let item of enterpriseList;" [value]="item.id">{{item.name}}</option>
            </select>
		</div>
		<span class="pull-right" style="margin-left: 20px;line-height: 34px">企业：</span>
		<div class="dropdown pull-right" style="margin-left: 10px;">
			<!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="true">
                所有产品目录
                <span class="caret"></span>
            </button>-->
			<select class="form-control" [(ngModel)]="prodDirId">
                 <option *ngFor="let item of prodDirList;" [value]="item.id">{{item.name}}</option>
            </select>
		</div>
		<span class="pull-right" style="line-height: 34px">产品目录：</span>
		<button class="fox-cloud-button fox-cloud-button-green" (click)="creation();">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label">创建产品</span>
        </button>
	</div>
	<div class="table-container">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="check-box-col"><input type="checkbox" (click)="switchSelectAll();" class="fox-cloud-checkbox" />全选</th>
					<th>产品名称</th>
					<th>产品目录</th>
					<th>产品类别</th>
					<th>产品规格</th>
					<th>计费周期</th>
					<th>周期价格</th>
					<th>一次性价格</th>
					<th>状态</th>
					<th>描述</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of productList; let idx = index;">
					<td><input class="fox-cloud-checkbox" type="checkbox" [(ngModel)]="item.isSelected" (ngModelChange)="switchSelectIndividual(idx)"
						/></td>
					<td (click)="goDetail(item)" style="cursor: pointer">{{item.name}}</td>
					<td>{{item.serviceName}}</td>
					<td>{{item.serviceType}}</td>					
					<td>{{item.serviceSpecification}}</td>					
					<td>{{item.billingCycle}}</td>
					<td>{{item.recurringPrice}}</td>
					<td>{{item.onetimePrice}}</td>
					<td>
						<span [ngSwitch]="item.status">
                            <template [ngSwitchCase]="1">已发布</template>
                            <template [ngSwitchCase]="3">未发布</template>
                            <template ngSwitchDefault>Unknown</template>
                    </span>
					</td>
					<td>{{item.description}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<fc-pagination #pagination tp={{tp}} (pf)="paging($event)"></fc-pagination>

<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="确认" (of)="nof()"></fc-notice>

<fc-confirm #deleteConfirm title="{{title}}" msg="{{msg}}" ot="确认" (of)="deleteCof()" ct="取消" (cf)="ccf()"></fc-confirm>
<fc-confirm #publishConfirm title="{{title}}" msg="{{msg}}" ot="确认" (of)="publishCof()" ct="取消" (cf)="ccf()"></fc-confirm>
<fc-confirm #ccPublishConfirm title="{{title}}" msg="{{msg}}" ot="确认" (of)="ccPublishCof()" ct="取消" (cf)="ccf()"></fc-confirm>