<div class="CostSet">	
	<div class="page-content-header icon-operator-Blank">费用设置</div>
	<div class="page-content">
		<div class="firstPanel mgt10">
			<button (click)="entSet();" class="fox-cloud-button fox-cloud-button-green mgr10"><span class="icon-button-label icon-left-button-label" >企业费用设置</span></button>
			<button (click)="defaultSet();" class="fox-cloud-button fox-cloud-button-green"><span class="icon-button-label icon-left-button-label" >默认费用设置</span></button>
		</div>
		<div class="secondPanel mgt20">
			<div class="table-container">
			    <table class="table table-hover">
			        <thead>
			            <tr>
			                <th>编号</th>
							<th>选择</th>
			                <th>企业名称</th>
			                <th>付费方式</th>
			                <th>出账周期<br>(个)</th>
			                <th>账单生成日</th>
			                <th>账单发送日</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr *ngFor="let item of costItemLoader.Items;let i =index">
			                <td>{{i+1}}</td>
							<td><input name="choice" type="radio" class="fox-cloud-radio" (click)="selectItem(item)"></td>
			                <td>{{item.name}}</td>
			                <td>{{item.payway}}</td>
			                <td>{{item.cicleTime}}</td>
			                <td>{{item.endDate}}</td>
			                <td>{{item.sentDate}}</td>
			            </tr>               
			        </tbody>
			    </table>
			</div>
		</div>
	</div>
</div>

<!--系统默认设置--> 

<cost-set-default #defaultSetDailog [costItem]="popupItem" (complete)="popupComplete($event)"></cost-set-default>
<!--<cost-set-default #entSetDailog [costItem]="popupItem" (complete)="popupComplete($event)"></cost-set-default> -->

<!-- <fc-popup #entSetDailog ot="{{ 'COMMON.CONFIRM' | translate }}" ct="{{ 'COMMON.CANCEL' | translate }}" title="企业费用设置" (of)="acceptEntSet()" (cf)="cancelEntSet()">
  <div class="dialogContent">
	
  </div>
</fc-popup> -->