<div>
	<div class="page-content-header icon-content-header-platform-manage">个人账户管理</div>
	<div class="page-content fix-page-content">
		<div class="row" style="padding-top: 30px;">
			<div class="col-md-12">
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title">姓名：</div>
						<div class="col-sm-4">
							<input type="text" class="form-control font-gray" [disabled]="!edit" [(ngModel)]="personAcc.userName">
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title">账号：</div>
						<div class="col-sm-4">
							<input type="text" class="form-control font-gray" [disabled]="!edit" [(ngModel)]="personAcc.loginName">
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title">联系电话：</div>
						<div class="col-sm-4">
							<input type="text" class="form-control font-gray" [disabled]="!edit" [(ngModel)]="personAcc.phone">
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title">类型：</div>
						<div class="col-sm-4">
							<span style="line-height:34px;">本地</span>
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title">描述：</div>
						<div class="col-sm-4">
							<textarea class="form-control font-gray" rows="4" placeholder="描述" [disabled]="!edit" [(ngModel)]="personAcc.description"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center" *ngIf="!edit">
		<button class="fox-cloud-button-lg fox-cloud-button-white mgr20" (click)="onEdit();">
            <span class="icon-button-label">编辑</span>
        </button>
		<button class="fox-cloud-button-lg fox-cloud-button-white " (click)="onEditPwd()">
            <span class="icon-button-label">修改密码</span>
        </button>
	</div>
	 <div class="text-center" *ngIf="edit">
	    <button class="fox-cloud-button-lg fox-cloud-button-white mgr20" (click)="cancel();">
            <span class="icon-button-label">取消 </span>
        </button>
    	<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="onSubmit();">
            <span class="icon-button-label">保存</span>
        </button>
    </div>
	<fc-popup #editPassWord title="{{title}}" ot="保存" (of)="otEditPwd()" ct="取消" (cf)="ccf()">
		<div class="page-content">
			<div class="row" style="padding-top: 10px;">
				<div class="col-md-12">
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> 当前密码：</div>
							<div class="col-sm-6">
								<input type="text" class="form-control font-gray" type="password" [(ngModel)]="accPwd.password" required>
							</div>
						</div>
					</div>
					<div class="row row-line-height">
						<div class="form-group has-error">
							<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> 新密码：</div>
							<div class="col-sm-6">
								<input type="text" class="form-control font-gray" type="password" [(ngModel)]="accPwd.newPassword" required>
							</div>
						</div>
					</div>
					<div class="row row-line-height">
						<div class="form-group has-error">
							<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> 确认新密码：</div>
							<div class="col-sm-6">								
								<input type="text" class="form-control font-gray" type="password" id="inputError1" [(ngModel)]="accPwd.confirmPwd" required>
								<label class="control-label" for="inputError1">密码输入不一致</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</fc-popup>
</div>