<div>
	<div class="page-content-header icon-content-header-userCenterOn">{{'USER_CENTER.ACCOUNT_MANAGMENT' | translate}}</div><!--个人账户管理-->

	<div class="page-content ">
		<div class="row" style="padding-top: 30px;">
			<div class="col-md-12">
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'USER_CENTER.NAME' | translate}}：</div><!--姓名-->

						<div class="col-sm-4">
							<input type="text" class="form-control font-gray" [disabled]="!edit" [(ngModel)]="personAcc.userName">
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'COMMON.ACCOUNT' | translate}}：</div><!--账号-->

						<div class="col-sm-4">
							<input type="text" class="form-control font-gray" [disabled]="true" [(ngModel)]="personAcc.loginName">
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'COMMON.CONTACT_PHONE' | translate}}：</div><!--联系电话-->

						<div class="col-sm-4">
							<input type="text" class="form-control font-gray" [disabled]="!edit" [(ngModel)]="personAcc.phone">
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title">{{'HOST_OPENSTACK_MNG.TYPE' | translate}}：</div><!--类型-->

						<div class="col-sm-4">
							<span *ngIf="!personAcc.isAD" style="line-height:34px;">{{'COMMON.LOCAL' | translate}}</span><!--本地-->

							<span *ngIf="personAcc.isAD" style="line-height:34px;">AD</span>
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title">{{'HOST_OPENSTACK_MNG.DESCRIPTION' | translate}}：</div><!--描述-->

						<div class="col-sm-4">
							<textarea class="form-control font-gray" rows="4" placeholder="{{'COMMON.DESCRIPTION' | translate}}" [disabled]="!edit" [(ngModel)]="personAcc.description"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center" *ngIf="!edit">
		<button class="fox-cloud-button-lg fox-cloud-button-white mgr20" (click)="onEdit();">
            <span class="icon-button-label">{{'HOST_VMWARE_MNG.EDIT' | translate}}<!--编辑--></span>
        </button>
		<button class="fox-cloud-button-lg fox-cloud-button-white"  *ngIf="!personAcc.isAD" (click)="onEditPwd()">
            <span class="icon-button-label">{{'USER_CENTER.CHANGE_PASSWORD' | translate}}<!--修改密码--></span>
        </button>
		<button *ngIf="personAcc.isAD" class="fox-cloud-button-lg fox-cloud-button-disabled">
            <span class="icon-button-label">{{'USER_CENTER.CHANGE_PASSWORD' | translate}}<!--修改密码--></span>
        </button>
	</div>
	<div class="text-center" *ngIf="edit">
		<button class="fox-cloud-button-lg fox-cloud-button-white mgr20" (click)="cancel();">
            <span class="icon-button-label">{{'NET_MNG_VM_PORT.CNACLE' | translate}}<!--取消--> </span>
        </button>
		<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="onSubmit();">
            <span class="icon-button-label">{{'HOST_VMWARE_MNG.SAVE' | translate}}<!--保存--></span>
        </button>
	</div>
	<div style="height:50px"></div>
	<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="NET_MNG_VM_DBT_PORT.COMFIRM" (of)="nof()"></fc-notice>
	<fc-popup #editPassWord title="{{title}}" ot="NET_MNG_OPENSTACK.SAVE" (of)="otEditPwd()" ct="NET_MNG_VM_DBT_PORT.CNACLE" (cf)="ccf()">
		<div class="page-content">
			<div class="row" style="padding-top: 10px;">
				<div class="col-md-12">
					<!--<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> {{'USER_CENTER.CURRENT_PASSWORD' | translate}}：</div>

							<div class="col-sm-6">
								<input type="text" class="form-control font-gray" type="password" [(ngModel)]="accPwd.password" required>
							</div>
						</div>
					</div>
					<div class="row row-line-height">
						<div class="form-group has-error">
							<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> {{'USER_CENTER.NEW_PASSWROD' | translate}}：</div>

							<div class="col-sm-6">
								<input type="text" class="form-control font-gray" type="password" [(ngModel)]="accPwd.newPassword" required>
							</div>
						</div>
					</div>
					<div class="row row-line-height">
						<div class="form-group has-error">
							<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> {{'USER_CENTER.CONFIRM_NEW_PASSWORD' | translate}}：</div>

							<div class="col-sm-6">								
								<input type="text" class="form-control font-gray" type="password" id="inputError1" [(ngModel)]="accPwd.confirmPwd" required>
								<label class="control-label" for="inputError1">{{'USER_CENTER.PASSWORD_NOT_CONSISTENT' | translate}}</label>
							</div>
						</div>
					</div>-->
					<form *ngIf="active">
						<div class="row row-line-height">
							<div class="form-group" >
								<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> {{'USER_CENTER.CURRENT_PASSWORD' | translate}}<!--当前密码-->:</div>
								<div class="col-sm-6" [ngClass]="{'has-error':!passwordValid||(password.errors && (password.dirty || password.touched))}">
									<input type="text" class="form-control font-gray" type="password" [(ngModel)]="accPwd.password" required  #password="ngModel" name=password (blur)="pwdValid(accPwd.password)" (focus)="passwordValid=true">
									<div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
										<div [hidden]="!password.errors.required">
											password is required
										</div>																		
									</div>
									<div *ngIf="!passwordValid&&!password.errors" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
										<div >
											{{'USER_CENTER.PASSWORD_FORMAT_ERROR' | translate}}<!--密码格式错误-->
										</div>																		
									</div>
								</div>
							</div>
						</div>
						<div class="row row-line-height">
							<div class="form-group">
								<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> {{'USER_CENTER.NEW_PASSWROD' | translate}}<!--新密码-->:</div>
								<div class="col-sm-6" [ngClass]="{'has-error':newPassword.errors && (newPassword.dirty || newPassword.touched)||!newPasswordValid||sameNewPassword}">
									<input type="text" class="form-control font-gray" type="password" [(ngModel)]="accPwd.newPassword" required  #newPassword="ngModel" name="newPassword" (blur)="newPwdValid(accPwd.newPassword)" (focus)="newPasswordValid=true;sameNewPassword=false">
									<div *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
										<div [hidden]="!newPassword.errors.required">
											new password is required
										</div>																		
									</div>
									<div *ngIf="!newPasswordValid&&!newPassword.errors&&!sameNewPassword " class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
										<div >
											{{'USER_CENTER.NEW_PASSWORD_FORMAT_ERROR' | translate}}<!--新密码格式错误-->
										</div>																		
									</div>
									<div *ngIf="sameNewPassword&&!newPassword.errors&&newPasswordValid" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
										<div >
											{{'USER_CENTER.NEW_PASSWORD_SHOULD_NOT_EQUAL_TO_OLD' | translate}}<!--新密码不能与原密码相同-->
										</div>																		
									</div>
								</div>
							</div>
						</div>
						<div class="row row-line-height">
							<div class="form-group" >
								<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> {{'USER_CENTER.CONFIRM_NEW_PASSWORD' | translate}}<!--确认新密码-->:</div>
								<div class="col-sm-6" [ngClass]="{'has-error':!samePassword}">
									<input type="text" class="form-control font-gray" type="password" [(ngModel)]="accPwd.confirmPwd" required  #confirmPwd="ngModel" id="inputError1" name="confirmPwd" (focus)="samePassword=true">
									<div *ngIf="!samePassword" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
										<div>
											{{'USER_CENTER.PASSWORD_NOT_CONSISTENT' | translate}}<!--密码输入不一致-->
										</div>																		
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</fc-popup>
</div>