<!--<div>
    <div class="page-content-header icon-content-header-platform-manage">个人账户管理</div>
    <div class="page-content fix-page-content">
		<div class="row" style="padding-top: 30px;">
			<div class="col-md-12">
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title">姓名：</div>
						<div class="col-sm-4">
							<input type="text" class="form-control font-gray"  [(ngModel)]="personAcc.">
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title">账号：</div>
						<div class="col-sm-4">
							<input type="text" class="form-control font-gray"  [(ngModel)]="personAcc.">
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title">联系电话：</div>
						<div class="col-sm-4">
							<input type="text" class="form-control font-gray"  [(ngModel)]="personAcc.">
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title">类型：</div>
						<div class="col-sm-4">
							<span style="line-height:34px;">本地</span>
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title">描述：</div>
						<div class="col-sm-4">
							<textarea class="form-control font-gray" rows="4" placeholder="描述" [(ngModel)]="personAcc.describtion"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="text-center">
	    <button class="fox-cloud-button-lg fox-cloud-button-white mgr20" (click)="cancel();">
            <span class="icon-button-label">取消 </span>
        </button>
    	<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="onSubmit();">
            <span class="icon-button-label">保存</span>
        </button>
    </div>
</div>-->