<div>
	<div class="page-content-header icon-content-header-userCenterOn">{{'USER_CENTER.ACCOUNT_MANAGMENT' | translate}}</div>
	<!--个人账户管理-->

	<div class="page-content ">
		<div class="row" style="padding-top: 30px;">
			<div class="col-md-12">
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'USER_CENTER.NAME' | translate}}：</div>
						<!--姓名-->
						<!--<div class="col-sm-4">
							<input type="text" class="form-control font-gray" [disabled]="!edit" [(ngModel)]="personAcc.userName">
						</div>-->
						<div class="col-sm-4 form-group has-feedback no-padding" [ngClass]="{'has-error':v.result.userName}">
							<input type="text" id="userName" [(ngModel)]="personAcc.userName" (ngModelChange)="checkForm('userName')" [disabled]="!edit" name="userName"
							 placeholder="{{'USER_CENTER.INPUTNAME' | translate}}" class="form-control">
							<span *ngIf="v.result.userName" class="glyphicon glyphicon-remove form-control-feedback"></span>
							<div *ngIf="v.result.userName" class="alert alert-danger" role="alert">{{v.result.userName}}</div>
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'COMMON.ACCOUNT' | translate}}：</div>
						<!--账号-->
						<div class="col-sm-4 no-padding">
							<input type="text" id="loginName" class="form-control font-gray" [disabled]="true" [(ngModel)]="personAcc.loginName">
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'COMMON.CONTACT_PHONE' | translate}}：</div>
						<!--联系电话-->
						<!--<div class="col-sm-4 no-padding">
							<input type="text" class="form-control font-gray" [disabled]="!edit" [(ngModel)]="personAcc.phone">
						</div>-->
						<div class="col-sm-4 form-group has-feedback no-padding" [ngClass]="{'has-error':v.result.phone}">
							<input type="text" id="phone" [(ngModel)]="personAcc.phone" (ngModelChange)="checkForm('phone')" name="phone" [disabled]="!edit" placeholder="{{'USER_CENTER.INPUT_MOBILE_PHONE' | translate}}"
							 class="form-control">
							<span *ngIf="v.result.phone" class="glyphicon glyphicon-remove form-control-feedback"></span>
							<div *ngIf="v.result.phone" class="alert alert-danger" role="alert">{{v.result.phone| translate}}</div>
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title">{{'HOST_OPENSTACK_MNG.TYPE' | translate}}：</div>
						<!--类型-->
						<div class="col-sm-4 no-padding">
							<span *ngIf="!personAcc.isAD" style="line-height:34px;">{{'COMMON.LOCAL' | translate}}</span>
							<!--本地-->
							<span *ngIf="personAcc.isAD" style="line-height:34px;">AD</span>
						</div>
					</div>
				</div>
				<div class="row row-line-height">
					<div class="form-group">
						<div class="col-sm-4 form-control-title">{{'HOST_OPENSTACK_MNG.DESCRIPTION' | translate}}：</div>
						<!--描述-->
						<!--<div class="col-sm-4">
							<textarea class="form-control font-gray" rows="4" placeholder="{{'COMMON.DESCRIPTION' | translate}}" [disabled]="!edit" [(ngModel)]="personAcc.description"></textarea>
						</div>-->
						<div class="col-sm-4 no-padding" [ngClass]="{'has-error':v.result.description}">
							<textarea type="text" id="description" class="form-control" (ngModelChange)="checkForm('description')" [disabled]="!edit" placeholder="{{'USER_CENTER.INPUT_CONTACT_DESC' | translate}}"
							 rows="3" [(ngModel)]="personAcc.description" name="description">
                            </textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center" *ngIf="!edit">
		<button class="fox-cloud-button-lg fox-cloud-button-white mgr20" (click)="onEdit();" id="onEdit">
            <span class="icon-button-label">{{'HOST_VMWARE_MNG.EDIT' | translate}}<!--编辑--></span>
        </button>
		<button class="fox-cloud-button-lg fox-cloud-button-white" *ngIf="!personAcc.isAD" (click)="onEditPwd()" id="onEditPwd">
            <span class="icon-button-label">{{'USER_CENTER.CHANGE_PASSWORD' | translate}}<!--修改密码--></span>
        </button>
		<button *ngIf="personAcc.isAD" class="fox-cloud-button-lg fox-cloud-button-disabled" id="onEditPwd2">
            <span class="icon-button-label">{{'USER_CENTER.CHANGE_PASSWORD' | translate}}<!--修改密码--></span>
        </button>
	</div>
	<div class="text-center" *ngIf="edit">
		<button class="fox-cloud-button-lg fox-cloud-button-white mgr20" (click)="cancel();" id="cancel">
            <span class="icon-button-label">{{'NET_MNG_VM_PORT.CNACLE' | translate}}<!--取消--> </span>
        </button>
		<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="onSubmit();" id="onSubmit">
            <span class="icon-button-label">{{'HOST_VMWARE_MNG.SAVE' | translate}}<!--保存--></span>
        </button>
	</div>
	<div style="height:50px"></div>
	<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="NET_MNG_VM_DBT_PORT.COMFIRM" (of)="nof()"></fc-notice>
	<fc-popup #editPassWord title="{{title}}" ot="NET_MNG_OPENSTACK.SAVE" (of)="otEditPwd()" ct="NET_MNG_VM_DBT_PORT.CNACLE"
	 (cf)="ccf()">
		<div class="row" style="padding-top: 10px;">
			<div class="col-md-12">
				<form *ngIf="active">
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> {{'USER_CENTER.CURRENT_PASSWORD' | translate}}
								<!--当前密码-->:</div>							
							<div class="col-sm-6 form-group has-feedback no-padding" [ngClass]="{'has-error':v.result.password}">
								<input id="fc_password" type="password" [(ngModel)]="accPwd.password" (ngModelChange)="checkPasswordForm('password')" name="password" 
								 class="form-control">
								<span *ngIf="v.result.password" class="glyphicon glyphicon-remove form-control-feedback"></span>
								<div *ngIf="v.result.password" class="alert alert-danger" role="alert">{{v.result.password| translate}}</div>
							</div>
						</div>
					</div>
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> {{'USER_CENTER.NEW_PASSWROD' | translate}}
								<!--新密码-->:</div>							
							<div class="col-sm-6 form-group has-feedback no-padding" [ngClass]="{'has-error':v.result.newPassword}">
								<input id="fc_password_re" type="password" [(ngModel)]="accPwd.newPassword" (ngModelChange)="checkPasswordForm('newPassword')" name="newPassword" 
								 class="form-control">
								<span *ngIf="v.result.newPassword" class="glyphicon glyphicon-remove form-control-feedback"></span>
								<div *ngIf="v.result.newPassword" class="alert alert-danger" role="alert">{{v.result.newPassword| translate}}</div>
							</div>
						</div>
					</div>
					<div class="row row-line-height">
						<div class="form-group">
							<div class="col-sm-4 form-control-title"><span class="asterisk">*</span> {{'USER_CENTER.CONFIRM_NEW_PASSWORD' | translate}}
								<!--确认新密码-->:</div>							
							<div class="col-sm-6 form-group has-feedback no-padding" [ngClass]="{'has-error':v.result.confirmPwd}">
								<input type="password" id="fc_password_sure" [(ngModel)]="accPwd.confirmPwd" (ngModelChange)="checkPasswordForm('confirmPwd')" name="confirmPwd" 
								 class="form-control">
								<span *ngIf="v.result.confirmPwd" class="glyphicon glyphicon-remove form-control-feedback"></span>
								<div *ngIf="v.result.confirmPwd" class="alert alert-danger" role="alert">{{v.result.confirmPwd| translate}}</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</fc-popup>
</div>