.mainContent{
    float:left;
    margin:50px;
}
.mainContent h2{
    padding-left:40px;
    line-height:30px;
    padding-bottom:20px;
    margin-bottom:30px;
    border-bottom:2px solid #01a982;
    background-image: url("../images/purching.png");
    background-repeat: no-repeat;
    background-position:left 3px;
    font-size: 24px;
    font-weight:bold;
}
.cloudHostingPurchaseOptionsTitle{
    width:120px;
    float:left;
    text-align:right;
    margin-right:20px;
}
.cloudHostingPurchaseOptions ul li{
    display:inline;
    list-style: none;
    
}