/*  header */
header{
    width:100%;
    height:100px;
    border-bottom:5px solid #01a982;
    clear:both;	
}
.headerLeftMenu {
    float:left;
    width:50%;
    height: 100px;
}
.headerLeftMenu .logo{
    margin:12px 20px 13px 0px;
    padding: 0px 60px;
    width:178px;
    float:left;
    border-right: 1px solid #000;
}
.headerLeftMenu .controlPanel{
    float:left;
    height:100px;
    width:180px;
    line-height: 100px;
    margin-left:60px;
}
.headerLeftMenu .controlPanel a{
    padding:5px 0px 5px 50px;
    font-size:30px;
    font-weight: bold;
    color:#000;
    background-image: url("../images/ctrlPanelIcon.png");
    background-repeat: no-repeat;
    background-position: left center;
}
.headerRightMenu{
    float:right;
    width:50%; 
}
.headerRightMenu ul{
    line-height: 100px;
    float:right;
    margin-right:60px;
}
.headerRightMenu ul li{
    display: inline;
    padding:26px 30px 26px 30px;
    border-left: 1px solid #000;
    font-size: 24px;
    font-weight: bold;
}
.headerRightMenu ul li a{
    background-repeat: no-repeat;
    background-position: left center;
    font-family: bold;
    font-size:24px;
    color:#000;
    padding-left:30px;
    text-decoration: none;
}
.headerRightMenu ul li.help a{
    background-image: url("../images/help.png");
}
.headerRightMenu ul li.alert a{
    padding-left:40px;
    background-image: url("../images/alert.png");
}
.headerRightMenu ul li.account a{
    background-image: url("../images/account.png");
    margin-right: 10px;
}
.headerRightMenu ul li.help a:hover{
    background-image: url("../images/helpOn.png");
}
.headerRightMenu ul li.alert a:hover{
    background-image: url("../images/alertOn.png");
}
.headerRightMenu ul li.account a:hover{
    background-image: url("../images/accountOn.png");
}
.headerRightMenu ul li.alert{
    position:relative;
}
.alertNumber{
    font-size:12px;
    font-weight: normal;
    color:#fff;
    background-color:#ff6040;
    position:absolute;
    top:18px;
    left:51px;
    line-height: 12px;
    border: 5px solid #ff6040;
    border-radius: 50px;
}

.headerRightMenu ul li.account span{
    padding:0px 6px;
    background-image: url("../images/accountDownArrow.png");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}