.leftNavMenu{
    float:left;
    width:20%;
    max-width:250px;
    background-color:#425563;
    color:#fff;
    font-size:22px;
    min-height:100%;
}
.leftNavMenu ul li{
    line-height:50px;
    list-style: none;
}
.leftNavMenu ul li.leftMenuPartingLine{
    line-height:1px;
    border-bottom:1px solid #5e6e7a;
}
.leftNavMenu ul li.firstLvNav{
    padding-left:50px;
}
.leftNavMenu ul li{
    background-repeat: no-repeat;
    background-position: 13px center;
}
.leftNavMenu ul li.firstLvNav:first-child{
    background-image: url("../images/productAndService.png");
}
.leftNavMenu ul li:nth-child(8){
    background-image: url("../images/userCenter.png");
}
.leftNavMenu ul li:nth-child(12){
    background-image: url("../images/administratorCenter.png");
}
.leftNavMenu ul li.firstLvNav:first-child a, .leftNavMenu ul li:nth-child(8) a, .leftNavMenu ul li:nth-child(12) a{
    padding-right:40px;
    background-image: url("../images/leftMenuDownArrow.png");
    background-repeat: no-repeat;
    background-position: right center;
}

.leftNavMenu ul li.secondLvNavName{
    padding-left:80px;
}
.leftNavMenu ul li.secondLvNavList{
    padding-left:100px;
    background-color:#556673;
}
.leftNavMenu ul li a{
    color:#fff;
}
.leftNavMenu ul li.firstLvNav a, .leftNavMenu ul li.secondLvNavName a{
    font-size:22px;
}

.leftNavMenu ul li.secondLvNavList a{
    font-size:20px;
}
.leftNavMenu ul li.secondLvNavName:last-child{
    border-bottom: 1px solid #5e6e7a;
}
.leftNavMenu ul li:nth-child(4){
    background-color:#01a982;
    color:#fff;
    background-image: url("../images/leftMenuWhiteArrow.png");
    background-repeat: no-repeat;
    background-position: right center;
}


