<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登陆</title>
	<link rel="stylesheet" type="text/css" href="/public/css/common.css">
</head>
<body>
<div class="cm-header2"></div>  <!-- 公共头部 -->

<div class="login-box">
	<div class="main-center l-box">
		<div class="l-block float-right">
			<h1 class="l-title"><span class="dp-ib">用户登录</span></h1>
			<input placeholder="用户名" class="l-input" type="text" name="">
			<input placeholder="密码" class="l-input" type="password" name="">
			<label class="mgb20 dp-ib"><input type="checkbox" name=""> 记住用户名</label>
			<input class="l-submit" type="submit" value="登陆" name="">
			<p class="mgt20"><a href="#">忘记密码</a> <span class="dp-ib pdl15 pdr15">|</span> <a href="#">免费注册</a></p>
			<label class="l-read dp-ib"><input type="checkbox" checked name=""> 我同意并以阅读 <a href="#">《网站服务协议》</a></label>
		</div>
	</div>
</div>

<div class="cm-footer2"></div> 
<script src="/public/js/jquery.min.js" type="text/javascript"></script>
</body>
</html>