<link src="image-mng-openStack.less">
<div class="page-content-header icon-content-header-purchasing"> {{'HOST_OPENSTACK_MNG.IMAGE_MANAGEMENT' | translate}}-{{platformName}}
    <button class=" fox-cloud-button-md fox-cloud-button-white pull-right" (click)="back()"style="padding:2px 15px;font-size:14px" key="boe/image-mng.html">
        {{'HOST_OPENSTACK_MNG.RETURN_IMAGE_MANAGEMENT' | translate}}
    </button>
</div>
<div class="page-content">
    <div class="mgt15 ">
            <span class="float-left" style="display:inline-block;font-size:16px;padding:6px 0" >{{'HOST_OPENSTACK_MNG.IMAGE_TYPE' | translate}}：</span>
            <div class="float-left pdr20">
                <select class="pdl10 form-control" [(ngModel)]="queryOpt.type" >
                    <option value="">{{'HOST_OPENSTACK_MNG.ALL_IMAGE' | translate}}</option>
                    <option *ngFor = "let type of this.service.typeDic | async" [ngValue]="type.value">{{type.displayValue}}</option>
                </select>
            </div>
            <span class="float-left" style="display:inline-block;font-size:16px;padding:6px 0" >{{'HOST_OPENSTACK_MNG.AFFILIATED_ENTERPRISE' | translate}}：</span>
            <div class="float-left">
                <select class="pdl10 form-control" [(ngModel)]="queryOpt.tenantId" >
                    <option value="">{{'HOST_OPENSTACK_MNG.ALL_ENTERPRISE' | translate}}</option>
                    <option *ngFor = "let tenant of tenants" [ngValue]="tenant.id">{{tenant.name}}</option>
                </select>
            </div>
            <button type="button" class="fox-cloud-button fox-cloud-button-white mgl10 "(click)="search()">
                <span class="icon-button-label">{{'HOST_OPENSTACK_MNG.ENSURE' | translate}} </span>
                </button>
    </div>
    <div style="clear:both"></div>
    <div class="mgb20 " style="margin-top:20px">
        <button class="fox-cloud-button fox-cloud-button-green mgr10" key="boe/image-public-sync-poenStack.html" (click)="syncPublic()">{{'HOST_OPENSTACK_MNG.SYNC_IMAGE_PUBLIC' | translate}}</button>
        <button type="button" class="fox-cloud-button fox-cloud-button-green" data-toggle="modal" data-target="#my" (click)="createSynTeOption()">{{'HOST_OPENSTACK_MNG.SYNC_IMAGE_ENT' | translate}}</button>

        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{'HOST_OPENSTACK_MNG.MORE_OPERATION' | translate}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li (click)="createEdit()"><a>{{'HOST_OPENSTACK_MNG.EDIT' | translate}}</a></li>
                <li (click)="imageEnableOrDisable('1')"><a>{{'HOST_OPENSTACK_MNG.ENABLE' | translate}}</a></li>
                <li (click)="imageEnableOrDisable('0')"><a>{{'HOST_OPENSTACK_MNG.DISABLE' | translate}}</a></li>
            </ul>
        </div>
    </div>
    <div class="table-container">

        <table class="table table-hover">
             <thead>
                 <tr>
                    <th>{{'HOST_OPENSTACK_MNG.SELECT' | translate}}</th>
                    <th>{{'HOST_OPENSTACK_MNG.IMAGE_NAME' | translate}}</th>
                    <th>{{'HOST_OPENSTACK_MNG.IMAGE_DISPLAY_NAME' | translate}}</th>
                    <th>{{'HOST_OPENSTACK_MNG.OS' | translate}}</th>
                    <th>{{'HOST_OPENSTACK_MNG.BIT' | translate}}</th>
                    <th>{{'HOST_OPENSTACK_MNG.CAPACITY' | translate}}</th>
                    <th>{{'HOST_OPENSTACK_MNG.IMAGE_TYPE' | translate}}</th>
                    <th>{{'HOST_OPENSTACK_MNG.AFFILIATED_ENTERPRISE' | translate}}</th>
                    <th>{{'HOST_OPENSTACK_MNG.STATUS' | translate}}</th>
                 </tr>
            </thead>
            <tbody>
                <tr *ngFor="let image of images" (click)="selectImage(image)">
                    <td >
                        <input type="radio" class="fox-cloud-radio" name="radio" [checked]="image.selected" (change)="image.selected = $event.target.checked" />
                    </td>

                    <td >{{image.name}}</td>
                    <td style="position:relative">{{image.displayName || image.name}}
                        <span class="pull-right icon-edit2" (click)="openEidtDisplayName(image);image.nameEditing=true;"></span>
                        <div *ngIf="image.nameEditing"class="popover fade bottom in" role="tooltip" style="position:absolute;top:30px; left:30px; width:370px; max-width:1100px; display: block;z-index:50">
                                <div class="arrow" style="left: 30%;"></div>
                                <div class="popover-content">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">{{'HOST_OPENSTACK_MNG.IMAGE_DISPLAY_NAME' | translate}}:</label>
                                            <div class="col-sm-8 float-left">
                                            <input type="text"  class="form-control"[(ngModel)]="temp2.displayName" name ="displayName">
                                            </div>
                                        </div>
                                    </form>
                                <div class="pull-right" style="margin-bottom:10px;">
                                    <button class=" fox-cloud-button fox-cloud-button-white"(click)="updateEditDisplayName(image)">{{'HOST_OPENSTACK_MNG.SAVE' | translate}}</button>
                                    <button class="fox-cloud-button fox-cloud-button-white"(click)="image.nameEditing=false;">{{'HOST_OPENSTACK_MNG.CANCEL' | translate}}</button>
                                </div>
                            </div>
                    </div>
                    </td>
                    <td >{{image.os | dict:this.service.osDic | async }}</td>
                    <td >{{image.bitsType | dict:this.service.bits_typeDic | async }}</td>
                    <td >{{image.capacity | formatCapacity}}</td>
                    <td >{{image.type | dict:this.service.typeDic | async }}</td>
                    <td >{{getImageTenant(image.tenants,image.type) | translate}}</td>
                    <td [ngClass]="{'font-green':image.status=='1','font-orange':image.status==0}">{{image.status | dict:this.service.statusDic | async | translate}}</td>

                </tr>

            </tbody>

        </table>

    </div>
    <div style="height:200px"></div>
</div>

    <div class="fox-cloud-pagination-container">
        <fc-pagination #pager tp={{totalPage}} (pf)="getImages($event)"></fc-pagination>
    </div>


<fc-popup #editImage title="{{title}}" ot="{{ 'COMMON.SAVE' | translate }}" (of)="saveEdit();" ct="{{ 'COMMON.CANCLE' | translate }}" (cf)="cancelEdit();">

        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">{{'HOST_OPENSTACK_MNG.IMAGE_NAME' | translate}}：</div>
                <div class="col-sm-6"><span style="line-height:34px">{{tempEditImage.name}}</span> </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'HOST_OPENSTACK_MNG.IMAGE_DISPLAY_NAME' | translate}}:</div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="tempEditImage.displayName" />
                    </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">{{'HOST_OPENSTACK_MNG.BIT' | translate}}:</div>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="tempEditImage.bitsType">
                        <option *ngFor = "let type of service.bits_typeDic | async" [ngValue]="type.value">{{type.displayValue}}</option>

                    </select>
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">{{'HOST_OPENSTACK_MNG.OS' | translate}}:</div>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="tempEditImage.os">
                        <option *ngFor = "let os of service.osDic | async" [ngValue]="os.value" >{{os.displayValue}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">{{'HOST_OPENSTACK_MNG.IMAGE_TYPE' | translate}}:</div>
                <div class="col-sm-6">
                    <span style="line-height:34px">{{tempEditImage.type | dict:this.service.typeDic | async }}</span>
                    </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">{{'HOST_OPENSTACK_MNG.DESCRIPTION' | translate}}:</div>
                <div class="col-sm-6"><textarea class="form-control" rows="3"[(ngModel)]="tempEditImage.description"></textarea></div>
            </div>
        </div>
    </fc-popup>

<!--同步弹出框内容-->
<fc-popup #synTeImage title="{{title}}" ot="{{ 'COMMON.SUBMIT' | translate }}" (of)="commitSynTe()" ct="{{ 'COMMON.CANCLE' | translate }}" (cf)="cancelCommitSynTe()">
       <div class="table-container">
           <div style="max-height: 400px; overflow: auto;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{'HOST_OPENSTACK_MNG.SELECT' | translate}}</th>
                        <th>{{'HOST_OPENSTACK_MNG.AFFILIATED_ENTERPRISE' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let tenant of tenants">
                    <td><input type="checkbox" class="fox-cloud-checkbox" [checked]="tenant.selected" (change)="tenant.selected = $event.target.checked"></td>
                    <td>{{tenant.name}}</td>
                </tr>
                </tbody>
            </table>
           </div>
            </div>
</fc-popup>



<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'HOST_OPENSTACK_MNG.CONFIRM' | translate}}"></fc-notice>
<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'HOST_OPENSTACK_MNG.CONFIRM' | translate}}" ct="{{'HOST_OPENSTACK_MNG.CANCEL' | translate}}"></fc-confirm>


<!--<fc-selectbox #testbox [selectedList]="selectedList" [unSelectedList]="allList" titleL="可选" titleR="已选" displayKey="name"></fc-selectbox>-->