<div class="page-content-header icon-content-header-purchasing"> 镜像管理</div>
<div class="page-content" style="min-height:300px">
    <table class="table table-hover ">
        <thead>
            <tr>
                <th style="text-align:left;">同步公共镜像：{{platformName}}云平台(类型：OpenStack)</th>
                <th style="text-align:right;">
                    <button class=" fox-cloud-button fox-cloud-button-white "(click)="back()">
                        <span class="icon-button-label" >返回镜像管理列表</span>
                    </button>
                </th>
            </tr>
        </thead>
    </table>
      <div class="table-container mgt20" >
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>选择</th>
                    <th>编号</th>
                    <th>镜像名</th>
                    <th>镜像显示名称</th>
                    <th>操作系统</th>
                    <th>系统位数</th>
                    <th>镜像容量</th>
                    <th>镜像类型</th>
                    <th>所属企业</th>
                    <th>同步结果</th>
                </tr>               
            </thead>
            <tbody>
                <tr *ngFor="let image of images;let i=index" >
                    <td >
                        <input type="checkbox" class="fox-cloud-checkbox" name="radio" [checked]="image.selected" (change)="image.selected = $event.target.checked" />
                    </td>
                    <td>
                        {{i+1}}
                    </td>
                    <td >{{image.name}}</td>
                    <td >
                        <div *ngIf="image.syncResult==0" >
                            <input class="form-control" type="text" style="padding:1px;text-align:center" placeholder="image.displayName" [(ngModel)]="image.displayName" />
                        </div>
                        <div *ngIf="image.syncResult!=0">
                            {{image.displayName}}
                        </div>
                    </td>
                    <td >
                        <div *ngIf="image.syncResult==0" style="padding-top:2px">
                             <select class="form-control"[(ngModel)]="image.os">
                                 <option selected="selected"></option>
                                <option *ngFor = "let os of osDic" [ngValue]="os.value" >{{getDicText(os.value,osDic)}}</option>
                            </select>
                            <!--<input type="text" style="padding:1px;text-align:center" placeholder="image.os" [(ngModel)]="image.os" />-->
                        </div>
                        <div *ngIf="image.syncResult!=0">
                            {{getDicText(image.os,this.osDic)}}
                        </div>
                    </td>
                    <td>
                        <div *ngIf="image.syncResult==0" style="padding-top:2px">
                            <select class="form-control"[(ngModel)]="image.bitsType">
                                <option selected="selected"></option>
                                <option *ngFor = "let type of bits_typeDic" [ngValue]="type.value" >{{getDicText(type.value,bits_typeDic)}}</option>
                            </select>
                        </div>
                        <div *ngIf="image.syncResult!=0">
                            {{getDicText(image.bitsType,this.bits_typeDic)}}
                        </div>
                    </td>
                    <td >{{showCapacity(image.capacity)}}</td>
                    <td >公共镜像</td>
                    <td >所有</td>
                    <td [ngClass]="{'font-green':image.status!='2','font-orange':image.status=='2'}">{{getDicText(image.syncResult,this.syncDic)}}</td>

                </tr>
                
            </tbody>
        </table>
    </div>
</div>


<div class="text-center " style="margin-top:50px">       
    
    <button class="fox-cloud-button-lg fox-cloud-button-white"(click)="back()">
        <span class="icon-button-label">返回</span>
    </button> 
    <button class="fox-cloud-button-lg fox-cloud-button-white"(click)="doSync()">
        <span class="icon-button-label">同步</span>
    </button>
</div>
<div style="height:50px"></div>

<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="确认"></fc-notice>