
    <div class="page-content-header icon-content-header-physical-mng">
        {{'PHYSICAL_MNG.PHYSICAL_lIST'|translate}}：{{poolName}}--{{region}}--{{dataCenter}}	
        <button class="fox-cloud-button-md fox-cloud-button-white pull-right" style="font-size:14px;padding:2px 15px"(click)="gotoPool();">
            {{'PHYSICAL_MNG.RETURN'|translate}}
        </button>  
    </div>
    <div class="page-content"> 
        <div style="margin-bottom:10px">  
            <button class="fox-cloud-button fox-cloud-button-green" (click)="createPhysical();">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="icon-button-label icon-left-button-label">{{'PHYSICAL_MNG.CREATE_PHYSICAL'|translate}}</span>
            </button>
            <div class="dropdown pull-right" style="margin-left:10px">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{'PHYSICAL_MNG.SELECT_OPTION'|translate}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a (click)="editPhysical();" > {{'PHYSICAL_MNG.EDIT'|translate}}</a></li>            
                    <li><a (click)="changeIpmiInfo();">{{'PHYSICAL_MNG.EDIT_IPMI'|translate}}</a></li>
                    <li><a (click)="changePhysicalStatusAndDelete('1');">{{'PHYSICAL_MNG.ENABLE'|translate}}</a></li>
                    <li><a (click)="changePhysicalStatusAndDelete('0');">{{'PHYSICAL_MNG.DISABLE'|translate}}</a></li>
                    <li><a (click)="changePhysicalStatusAndDelete('2');">{{'PHYSICAL_MNG.DELETE'|translate}}</a></li>
                </ul>
           </div>                  
           <div class="input-group col-md-2 pull-right mgl10">
            <input class="form-control "  type="text" [(ngModel)]="queryParam">
            <div class="input-group-addon"><span class="glyphicon glyphicon-search" (click)="search();"></span></div>
            </div> 
             <div class="pull-right" >
                <select class="form-control" [(ngModel)]="selectedQuery">
                    <option  [value]="defaultQuery">{{'PHYSICAL_MNG.PLEASE_CHOOSE'|translate}}</option>
				    <option [value]="pmName">{{'PHYSICAL_MNG.PHYSICAL_NAME'|translate}}</option>
                    <option [value]="brand">{{'PHYSICAL_MNG.BRAND'|translate}}</option>            
                    <option [value]="model">{{'PHYSICAL_MNG.MODEL'|translate}}</option>
                    <option [value]="privateIP">{{'PHYSICAL_MNG.PRIVATE_IP_ADDRESS'|translate}}</option>
                    <option [value]="publicIP">{{'PHYSICAL_MNG.PUBLIC_IP_ADDRESS'|translate}}</option>
                    <option [value]="ipmi">{{'PHYSICAL_MNG.IPMI_ADDRESS'|translate}}</option>
                </select>
           </div>           
        </div > 
        <div class="table-container">
                <table class="table table-hover "  style="table-layout:fixed;">
                        <thead>
                            <tr>
                                <th style="width:45px">{{'PHYSICAL_MNG.SELECT'|translate}}</th> 
                                <th style="width:45px">{{'PHYSICAL_MNG.INDEX'|translate}}</th>                                       
                                <th style="width:90px">{{'PHYSICAL_MNG.PHYSICAL_NAME'|translate}}</th>	
                                <th style="width:104px">S/N</th>									
                                <th style="width:55px">{{'PHYSICAL_MNG.BRAND'|translate}}</th>
                                <th style="width:50px">{{'PHYSICAL_MNG.MODEL'|translate}}</th>
                                <th style="width:50px">{{'PHYSICAL_MNG.CPU_CORE'|translate}}</th>
                                <th style="width:50px">{{'PHYSICAL_MNG.MEMORY'|translate}}(G)</th>
                                <th style="width:131px;word-break:break-all;">{{'PHYSICAL_MNG.DISK_INFO'|translate}}</th>  
                                <th style="width:100px">{{'PHYSICAL_MNG.PRIVATE_IP_ADDRESS'|translate}}</th> 
                                <th style="width:100px">{{'PHYSICAL_MNG.PUBLIC_IP_ADDRESS'|translate}}</th>
                                <th style="width:100px">{{'PHYSICAL_MNG.IPMI_ADDRESS'|translate}}</th> 
                                <th >{{'PHYSICAL_MNG.LOCATION'|translate}}</th> 
                                <th style="width:50px">{{'PHYSICAL_MNG.POWER_STATUS'|translate}}</th> 
                                <th  style="width:50px">{{'PHYSICAL_MNG.USEAGE_STATUS'|translate}}</th>  
                                <th  style="width:50px">{{'PHYSICAL_MNG.MAINTAIN_STATUS'|translate}}</th> 
                                <th  style="width:60px">{{'PHYSICAL_MNG.HEALTH_STATUS'|translate}}</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let physical of physicalList; let idex=index;">
                                <td ><input type="radio" name="physical" class="fox-cloud-radio" 
                                          (change)="getSelectPhysical(physical);"[checked]="physical.isSelect" ></td>                                              
                                <td>{{(pageIndex-1)*pageSize+idex+1}}</td>
                                <td ><a href="javascript:void(0);" (click)="gotoPhysicalView(physical);">{{physical.pmName}}</a></td> 
                                <td>{{physical.pmSN}}                                
                                <td>{{physical.pmBrand}}</td>
                                <td>{{physical.pmModel}}</td>
                                <td>{{physical.pmCPUCores}}</td>	
                                <td>{{physical.pmRAM}}</td>
                                <td>{{physical.pmDiskInfo}}</td>
                                <td>{{physical.pmPriIPAddr}}</td>	
                                <td>{{physical.pmPubIPAddr}}</td>
                                <td>{{physical.pmILOAddr}}</td>
                                <td>{{physical.pmLocation}}</td>
                                <td  [ngClass]="{'font-orange': physical.pmPowerStatus=='0','font-green': physical.pmPowerStatus=='1'}">{{physical.pmPowerStatus| dict:service.dicPower | async}}</td>
                                <td [ngClass]="{'font-orange': physical.pmUseageStatus=='0','font-green': physical.pmUseageStatus=='1'}">{{physical.pmUseageStatus| dict:service.dictUseage | async}}</td>
                                <td [ngClass]="{'font-orange': physical.pmMainStatus=='0','font-green': physical.pmMainStatus=='1'}">{{physical.pmMainStatus| dict:service.dicMain | async}}</td>
                                <td [ngClass]="{'font-orange': physical.pmHealthExam=='0','font-green': physical.pmHealthExam=='1'}">{{physical.pmHealthExam | dict:service.dictHealth | async}}</td>														
                            </tr>                                                             
                        </tbody>
                </table>             
        </div>   
        <div class="fox-cloud-pagination-container">
             <fc-pagination #page tp={{totalPage}} (pf)="getPhysicalList($event)"></fc-pagination>  
        </div>                          
 </div>
   
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'PHYSICAL_MNG.CONFIRM'|translate}}"></fc-notice> 
<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'PHYSICAL_MNG.CONFIRM'|translate}}" ct="{{'PHYSICAL_MNG.CANCEL'|translate}}"  ></fc-confirm>               