<div class="page-content-header icon-content-header-physical-mng">
    {{title}}
</div>

<div class="page-content">
    <div class="row" style="margin-top:30px;">
        <div class="col-md-12">
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span *ngIf="eidtMode=='create'" class="asterisk">*</span>物理机名称:</div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" [(ngModel)]="physical.pmName" [disabled]="eidtMode=='view'">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span *ngIf="eidtMode=='create'" class="asterisk">*</span>IPMI IP地址:</div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" [(ngModel)]="physical.iloIPAddress" [disabled]="eidtMode !='create'">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span *ngIf="eidtMode=='create'" class="asterisk">*</span>IPMI用户名:</div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" [(ngModel)]="physical.iloUserName" [disabled]="eidtMode !='create'">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span *ngIf="eidtMode=='create'" class="asterisk">*</span>IPMI密码:</div>
                    <div class="col-md-4">
                        <div class="row">
                            <div [ngClass]="{'col-sm-9':eidtMode=='create','col-sm-12':eidtMode!='create'}">
                                <input class="form-control" type="password" [(ngModel)]="physical.iloPwd" [disabled]="eidtMode !='create'">
                            </div>
                            <div *ngIf="eidtMode=='create'" class="col-md-3">
                                <button class="fox-cloud-button-md fox-cloud-button-white mgr20" style="width:100%" onclick="readHardwareInfo();">
                                    <span class="icon-button-label">读取</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span *ngIf="eidtMode=='create'" class="asterisk">*</span>MAC地址:</div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" [(ngModel)]="physical.sn" [disabled]="eidtMode !='create'">
                    </div>                   
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span *ngIf="eidtMode=='create'" class="asterisk">*</span>服务器类型:</div>
                    <div class="col-md-4">
                        <select class="form-control" [(ngModel)]="physical.sererTypeId" [disabled]="eidtMode !='create'">
                            <option value="">请选择</option>
                            <option *ngFor="let type of serverTypes" [value]="type.id">{{type.serverType}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"> <span *ngIf="eidtMode=='create'" class="asterisk">*</span>品牌:</div>
                    <div class="col-md-4">
                        <select class="form-control" [(ngModel)]="selectedBrand" (change)="physical.modelId=''" [disabled]="eidtMode !='create'">
                            <option [ngValue]="defaultBrand">请选择</option>
                            <option *ngFor="let brand of brands" [ngValue]="brand">{{brand.brand}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span *ngIf="eidtMode=='create'" class="asterisk">*</span>型号:</div>
                    <div class="col-md-4">
                        <select class="form-control" [(ngModel)]="physical.modelId" [disabled]="eidtMode !='create'">
                            <option value="">请选择</option>
                            <option *ngFor="let mode of selectedBrand.modelList" [value]="mode.id">{{mode.model}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">位置信息:</div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" [(ngModel)]="physical.locale" [disabled]="eidtMode =='view'">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">描述:</div>
                    <div class="col-md-4">
                        <textarea class="form-control" rows="3" [(ngModel)]="physical.description" [disabled]="eidtMode =='view'"></textarea>
                    </div>
                </div>
            </div>
            <div *ngIf="read || eidtMode =='view'||eidtMode =='edit'">
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">硬件信息:</div>
                        <div class="col-md-4">
                            <div class="table-container">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>资质名称</th>
                                            <th>规格</th>
                                            <th>规格值</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>CPU</td>
                                            <td>{{physical.pmHardwareCPU.version||""}}</td>
                                            <td>{{physical.pmHardwareCPU.value||""}}</td>
                                        </tr>
                                        <tr>
                                            <td>内存</td>
                                            <td>{{physical.pmHardwareMemory.version}}</td>
                                            <td>{{physical.pmHardwareMemory.value}}</td>
                                        </tr>
                                        <tr *ngFor="let disks of( physical.pmHardwareDiskList ||[]);let idex=index">
                                            <td [attr.rowspan]="physical.pmHardwareDiskList.length" *ngIf="idex===0">硬盘</td>
                                            <td>{{disks.spec}}</td>
                                            <td><input type="number" class="form-control" [(ngModel)]="disks.value" style="display:inline;width:90px;"> G</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="eidtMode =='view'||eidtMode =='edit'">
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">订购信息:</div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">使用企业:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.enterprise" disabled>
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">使用部门:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.department" disabled>
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">申请人:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.applicant " disabled>
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">私网IP:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.priIPAddr" disabled>
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">公网IP:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.pubIPAddr" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">镜像:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.image" disabled>
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">开始时间:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.startDate" disabled>
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">到期时间:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.endDate" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="text-center" style="margin-top:20px">
    <button *ngIf="eidtMode =='create'" class="fox-cloud-button-lg fox-cloud-button-white mgr20" (click)="cancel();">
        <span class="icon-button-label">取消</span>
    </button>
    <button *ngIf="eidtMode =='edit'" class="fox-cloud-button-lg fox-cloud-button-white" (click)="editPhysical();">
        <span class="icon-button-label">保存</span>
    </button>
    <button *ngIf="eidtMode =='create'" class="fox-cloud-button-lg fox-cloud-button-white" (click)="createPhysical();">
        <span class="icon-button-label">保存</span>
    </button>
    <button *ngIf="eidtMode =='view'" class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel();">
        <span class="icon-button-label">关闭</span>
    </button>
</div>
<div style="height:50px"></div>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="确认"></fc-notice>