<div class="page-content-header icon-content-header-physical-mng">
    {{'PHYSICAL_MNG.SET_ILO_INFO'|translate}}   	  
</div>
<div class="page-content " style="height:550px">
   <div class="row" style="margin-top:30px;">
        <div class="col-md-12">
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span class="asterisk">*</span> {{'PHYSICAL_MNG.ILO_IP'|translate}}:</div>
                    <div class="col-md-4">
                        <input  type="text" class="form-control" [(ngModel)]="physical.iloIPAddress">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'PHYSICAL_MNG.ILO_USERNAME'|translate}}:</div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" [(ngModel)]="physical.iloUserName">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'PHYSICAL_MNG.ILO_PASSWORD'|translate}}:</div>
                    <div class="col-md-4">
                        <div class="col-sm-10" style="padding-left:0;">
                              <input type="password" class="form-control" [(ngModel)]="physical.iloPwd">
                        </div>
                        <div class="col-md-2" style="padding-right:0;padding-left:0;">
                            <button class="fox-cloud-button-md fox-cloud-button-white mgr20" style="width:100%" (click)="testIpmi();">
                                <span class="icon-button-label">{{'PHYSICAL_MNG.TEST_ILO'|translate}} </span>
                            </button>
                        </div>                       
                    </div>
                </div>
            </div>
            <!--
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>ILO确认密码:</div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-sm-9">
                                <input class="form-control" type="password" [(ngModel)]="ipmi.iloConfirmPwd">
                            </div>
                            <div class="col-md-3">
                                <button class="fox-cloud-button-md fox-cloud-button-white mgr20" style="width:100%" onclick="testIpmi();">
                                    <span class="icon-button-label">测试 </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
             -->
        </div >
    </div >    
</div>
<div class="text-center">
        <button class="fox-cloud-button-lg fox-cloud-button-white"(click)="cancel();">
            <span class="icon-button-label">{{'PHYSICAL_MNG.CANCEL'|translate}}</span>
        </button>
        <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="saveIpmi();">
            <span class="icon-button-label">{{'PHYSICAL_MNG.SAVE'|translate}}</span>
        </button>
</div>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'PHYSICAL_MNG.CONFIRM'|translate}}"></fc-notice>