<div class="page-content-header icon-content-header-physical-mng">
    {{title|translate}}
</div>

<div class="page-content">
    <div class="row" style="margin-top:30px;">
        <div class="col-md-12">
             <div class="row row-line-height" *ngIf="eidtMode !='create'">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.BASE_INFO'|translate}}</div>
                    <div class="col-md-4">  </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.PHYSICAL_NAME'|translate}}:</div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" [(ngModel)]="physical.pmName"  [disabled]="eidtMode !='create'">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span *ngIf="eidtMode=='create'" class="asterisk">*</span>{{'PHYSICAL_MNG.IPMI_IP_ADDRESS'|translate}}:</div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" [(ngModel)]="physical.iloIPAddress" [disabled]="eidtMode !='create'">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span *ngIf="eidtMode=='create'" class="asterisk">*</span>{{'PHYSICAL_MNG.IPMI_USERNAME'|translate}}:</div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" [(ngModel)]="physical.iloUserName" [disabled]="eidtMode !='create'">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span *ngIf="eidtMode=='create'" class="asterisk">*</span>{{'PHYSICAL_MNG.IPMI_PASSWORD'|translate}}:</div>
                    <div class="col-md-4">
                        <div class="row">
                            <div [ngClass]="{'col-sm-9':eidtMode=='create','col-sm-12':eidtMode!='create'}">
                                <input class="form-control" type="password" [(ngModel)]="physical.iloPwd" [disabled]="eidtMode !='create'">
                            </div>
                            <div *ngIf="eidtMode=='create'" class="col-md-3">
                                <button class="fox-cloud-button-md fox-cloud-button-white mgr20" style="width:100%" (click)="readHardwareInfo();">
                                    <span class="icon-button-label">{{'PHYSICAL_MNG.READ_HARDWARE_INFO'|translate}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span *ngIf="eidtMode=='create'" class="asterisk">*</span>{{'PHYSICAL_MNG.MAC_ADDRESS'|translate}}:</div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" [(ngModel)]="physical.macAddress" [disabled]="eidtMode !='create'">
                    </div>                   
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span *ngIf="eidtMode=='create'" class="asterisk">*</span>{{'PHYSICAL_MNG.SERVER_TYPE'|translate}}:</div>
                    <div class="col-md-4">
                        <select class="form-control" [(ngModel)]="physical.sererTypeId" [disabled]="eidtMode !='create'">
                            <option value="">{{'PHYSICAL_MNG.PLEASE_CHOOSE'|translate}}</option>
                            <option *ngFor="let type of service.dictServerType | async" [value]="type.value">{{type.displayValue}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"> <span *ngIf="eidtMode=='create'" class="asterisk">*</span>{{'PHYSICAL_MNG.BRAND'|translate}}:</div>
                    <div class="col-md-4">
                        <select class="form-control" [(ngModel)]="selectedBrand" (change)="physical.modleId=''" [disabled]="eidtMode !='create'">
                            <option [ngValue]="defaultBrand">{{'PHYSICAL_MNG.PLEASE_CHOOSE'|translate}}</option>
                            <option *ngFor="let brand of brands" [ngValue]="brand">{{brand.brand}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span *ngIf="eidtMode=='create'" class="asterisk">*</span>{{'PHYSICAL_MNG.MODEL'|translate}}:</div>
                    <div class="col-md-4">
                        <select class="form-control" [(ngModel)]="physical.modleId" [disabled]="eidtMode !='create'">
                            <option value="">{{'PHYSICAL_MNG.PLEASE_CHOOSE'|translate}}</option>
                            <option *ngFor="let mode of selectedBrand.modelList" [value]="mode.id">{{mode.model}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.LOCATION'|translate}}:</div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" [(ngModel)]="physical.locale" [disabled]="eidtMode =='view'||eidtMode =='editParts'">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.DESCRIPTION'|translate}}:</div>
                    <div class="col-md-4">
                        <textarea class="form-control" rows="3" [(ngModel)]="physical.description" [disabled]="eidtMode =='view'||eidtMode =='editParts'"></textarea>
                    </div>
                </div>
            </div>

            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.MAIN_START_TIME'|translate}}:</div>
                    <div class="col-md-4" *ngIf="physical.mainStartDate && eidtMode !='create'">
                       <date-picker  [options]="myDatePickerOptions"  [initDate]= "physical.mainStartDate" (dateChanged)="startTimeChange($event)"[disabled]="eidtMode =='view'||eidtMode =='editParts'" ></date-picker>
                    </div>
                    <div class="col-md-4" *ngIf="eidtMode =='create' || physical.mainStartDate ==''">
                       <date-picker  [options]="myDatePickerOptions"  (dateChanged)="startTimeChange($event)" [disabled]="eidtMode =='view'||eidtMode =='editParts'" ></date-picker>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">   <!--[disabled]="eidtMode =='view'||editMode=='editParts'" 日期组件没有diasbled属性-->
                    <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.MAIN_END_TIME'|translate}}:</div>
                    <div class="col-md-4" *ngIf="physical.mainEndDate && eidtMode !='create'">
                       <date-picker  [options]="myDatePickerOptions" [initDate]= "physical.mainEndDate" (dateChanged)="endTimeChange($event)" [disabled]="eidtMode =='view'||eidtMode =='editParts'" ></date-picker>
                    </div>
                     <div class="col-md-4" *ngIf="eidtMode =='create' || physical.mainEndDate ==''">
                       <date-picker  [options]="myDatePickerOptions"  (dateChanged)="endTimeChange($event)"[disabled]="eidtMode =='view'||eidtMode =='editParts'"  ></date-picker>
                    </div>
                </div>
            </div>
            <div *ngIf="read|| eidtMode =='view' ||eidtMode =='edit' ||eidtMode =='editParts'">
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.HARDWARE_INFO'|translate}}</div>
                        <div class="col-md-4">    </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.PHYSICAL_MODEL'|translate}}:</div>
                        <div class="col-md-4"> 
                            <input type="text" class="form-control"  [(ngModel)]="physical.model" [disabled]="eidtMode !='create'">
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.SN'|translate}}:</div>
                        <div class="col-md-4"> 
                            <input type="text" class="form-control"  [(ngModel)]="physical.sn"[disabled]="eidtMode !='create'" >
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.PART_SYN_RESULT'|translate}}:</div>
                        <div class="col-md-4"> 
                            <div class="table-container">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>{{'PHYSICAL_MNG.PART'|translate}}</th>
                                            <th>{{'PHYSICAL_MNG.SPEC_VALUE'|translate}}</th>
                                            <th>{{'PHYSICAL_MNG.PART_COUNT'|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of physical.partsList">
                                            <td>{{item.specName}}</td>
                                            <td>{{item.specValue}}</td>
                                            <td>{{item.count}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>                         
                        </div>
                    </div>
                </div>
            </div>
           <div class="row row-line-height"  >   <!-- *ngIf="editMode=='editParts' || editMode=='create'"-->
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.SET_PART'|translate}}:</div>
                    <div class="col-md-4"> 
                        <div class="mgt5"  *ngIf="eidtMode =='create'||eidtMode =='editParts'">
                            <button  class="fox-cloud-button-md fox-cloud-button-white" (click)="addPart();">{{'PHYSICAL_MNG.ADD_PART'|translate}}</button>
                            <button  class="fox-cloud-button-md fox-cloud-button-white" (click)="editPart();">{{'PHYSICAL_MNG.EDIT'|translate}}</button>
                            <button  class="fox-cloud-button-md fox-cloud-button-white" (click)="deletePart();">{{'PHYSICAL_MNG.DELETE'|translate}}</button>
                        </div>
                         <div class="table-container mgt10">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th *ngIf="eidtMode =='create'||eidtMode =='editParts'">{{'PHYSICAL_MNG.SELECT'|translate}}</th>
                                        <th>{{'PHYSICAL_MNG.PART_NAME'|translate}}</th>
                                        <th>{{'PHYSICAL_MNG.SPEC'|translate}}</th>
                                        <th>{{'PHYSICAL_MNG.SPEC_VALUE'|translate}}</th>
                                        <th>{{'PHYSICAL_MNG.PART_COUNT'|translate}}</th>   
                                        <th>{{'PHYSICAL_MNG.CAPACITY'|translate}}</th>                                   
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of physical.partsEntitys; let idex=index;">
                                        <td *ngIf="eidtMode =='create'||eidtMode =='editParts'">
                                            <input type="radio" class="fox-cloud-radio" name="part" (change)="getSelectPart(item);"[checked]="item.isSelect">
                                        </td>
                                        <td>{{item.partsName}}</td>
                                        <td>{{item.specName}}</td>
                                        <td>{{item.specValue}}</td>
                                        <td>{{item.number}}</td>
                                        <td >{{ item.partsName == '磁盘' ||item.partsName =='内存'?item.specValue*item.number :""}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                    
                    </div>
                </div>
            </div>

            <!--<div *ngIf="read || eidtMode =='view'||eidtMode =='edit'||eidtMode =='editParts'">
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.HARDWARE_INFO'|translate}}:</div>
                        <div class="col-md-4">
                            <div class="table-container">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width:90px">{{'PHYSICAL_MNG.APTITUDE_NAME'|translate}}</th>
                                            <th>{{'PHYSICAL_MNG.SPEC'|translate}}</th>
                                            <th>{{'PHYSICAL_MNG.SPEC_VALUE'|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         <tr>
                                            <td>{{'PHYSICAL_MNG.PHYSICAL_MODEL'|translate}}</td>
                                            <td></td>  
                                            <td>{{physical.model}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'PHYSICAL_MNG.SN'|translate}}</td>
                                            <td></td>  
                                            <td>{{physical.sn}}</td>
                                        </tr>
                                        <tr>
                                            <td>CPU</td>
                                             <td>{{physical.pmHardwareCPU && physical.pmHardwareCPU.version||""}}</td>  
                                            <td>{{physical.pmHardwareCPU && physical.pmHardwareCPU.value||""}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'PHYSICAL_MNG.MEMORY'|translate}}</td>
                                            <td>{{physical.pmHardwareMemory && physical.pmHardwareMemory.version||""}}</td>
                                            <td>{{physical.pmHardwareMemory&&physical.pmHardwareMemory.value||""}}</td>
                                        </tr>
                                        <tr *ngFor="let disks of( physical.pmHardwareDiskList ||[]);let idex=index" style="">
                                            <td [attr.rowspan]="physical.pmHardwareDiskList.length" *ngIf="idex===0"  style="background-color:white;">{{'PHYSICAL_MNG.DISK'|translate}}</td>
                                            <td>{{disks.version}}</td>
                                            <td *ngIf="eidtMode!='view'">
                                                <input type="number" class="form-control" [(ngModel)]="disks.value" (blur)="notNull(disks)"style="display:inline;width:90px;" min="1"> G
                                            </td>
                                            <td  *ngIf="eidtMode=='view'">{{disks.value}} G</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <div *ngIf="eidtMode =='view'||eidtMode =='edit'" style="display:none;">
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.ORDER_INFO'|translate}}:</div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.ENTERPRISE'|translate}}:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.enterprise" disabled>
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.DEPARTMENT'|translate}}:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.department" disabled>
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.APPLICANT'|translate}}:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.applicant " disabled>
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.PRIVATE_IP'|translate}}:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.priIPAddr" disabled>
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.PUBLIC_IP'|translate}}:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.pubIPAddr" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.IMAGE'|translate}}:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.image" disabled>
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.START_TIME'|translate}}:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.startDate" disabled>
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.END_TIME'|translate}}:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.endDate" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="text-center" style="margin-top:20px"> 
    <button  class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel();">
        <span class="icon-button-label">{{'PHYSICAL_MNG.CLOSE'|translate}}</span>
    </button>
    <button *ngIf="eidtMode =='edit'" class="fox-cloud-button-lg fox-cloud-button-white" (click)="editPhysical();">
        <span class="icon-button-label">{{'PHYSICAL_MNG.SAVE'|translate}}</span>
    </button>
    <button *ngIf="eidtMode =='create'" class="fox-cloud-button-lg fox-cloud-button-white" (click)="createPhysical();">
        <span class="icon-button-label">{{'PHYSICAL_MNG.SAVE'|translate}}</span>
    </button>  
    <button *ngIf="eidtMode =='editParts'" class="fox-cloud-button-lg fox-cloud-button-white mgr20"  (click)="editPhysicalPart();">
        <span class="icon-button-label">{{'PHYSICAL_MNG.SAVE'|translate}}</span>
    </button>
</div>
<div style="height:50px"></div>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'PHYSICAL_MNG.CONFIRM'|translate}}"></fc-notice>
 <!--{{ physical.toString() }}-->

 <fc-popup #addParts title="{{poptitle}}" ot="{{isEdit== false? 'PHYSICAL_MNG.ADD': 'PHYSICAL_MNG.SAVE' | translate }}"  ct="{{'PHYSICAL_MNG.CANCEL'|translate}}" (of)="addPartConfirm()" >
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.PART_NAME'|translate}}:</div>
            <div class="col-sm-4">
                <select class="form-control" [(ngModel)]="selectedPart" (change)="selectedSpace=defaultSpace">
                    <option [ngValue]="defaultPart">{{'PHYSICAL_MNG.PLEASE_CHOOSE'|translate}}</option>
                    <option *ngFor="let item of parts" [ngValue]="item">{{item.partsName}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.SPEC'|translate}}:</div>
            <div class="col-sm-4">
                <select class="form-control" [(ngModel)]="selectedSpace" (change)="popSpecValue=''">
                      <option [ngValue]="defaultSpace">{{'PHYSICAL_MNG.PLEASE_CHOOSE'|translate}}</option>
                     <option *ngFor="let item of selectedPart.specList" [ngValue]="item">{{item.specName}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.SPEC_VALUE'|translate}}:</div>
            <div class="col-sm-4">
                 <select class="form-control" [(ngModel)]="popSpecValue" >
                      <option value="">{{'PHYSICAL_MNG.PLEASE_CHOOSE'|translate}}</option>
                     <option *ngFor="let item of selectedSpace.specValues" [value]="item">{{item}}</option>
                </select>
            </div>
             <div class="col-sm-2" style="line-height:34px;padding-left:0px" *ngIf="selectedPart.partsName=='内存' || selectedPart.partsName=='磁盘'">GB</div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.PART_COUNT'|translate}}:</div>
            <div class="col-sm-4">
                <input type="text" class="form-control" [(ngModel)]="popNumber">
            </div>
        </div>
    </div>
</fc-popup>