<div class="page-content-header icon-content-header-physical-mng">
    {{title|translate}}
</div>

<div class="page-content">
    <div class="row" style="margin-top:30px;">
        <div class="col-md-12">
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span *ngIf="eidtMode=='create'" class="asterisk">*</span>{{'PHYSICAL_MNG.PHYSICAL_NAME'|translate}}:</div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" [(ngModel)]="physical.pmName" [disabled]="eidtMode=='view'">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span *ngIf="eidtMode=='create'" class="asterisk">*</span>{{'PHYSICAL_MNG.IPMI_IP_ADDRESS'|translate}}:</div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" [(ngModel)]="physical.iloIPAddress" [disabled]="eidtMode !='create'">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span *ngIf="eidtMode=='create'" class="asterisk">*</span>{{'PHYSICAL_MNG.IPMI_USERNAME'|translate}}:</div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" [(ngModel)]="physical.iloUserName" [disabled]="eidtMode !='create'">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span *ngIf="eidtMode=='create'" class="asterisk">*</span>{{'PHYSICAL_MNG.IPMI_PASSWORD'|translate}}:</div>
                    <div class="col-md-4">
                        <div class="row">
                            <div [ngClass]="{'col-sm-9':eidtMode=='create','col-sm-12':eidtMode!='create'}">
                                <input class="form-control" type="password" [(ngModel)]="physical.iloPwd" [disabled]="eidtMode !='create'">
                            </div>
                            <div *ngIf="eidtMode=='create'" class="col-md-3">
                                <button class="fox-cloud-button-md fox-cloud-button-white mgr20" style="width:100%" (click)="readHardwareInfo();">
                                    <span class="icon-button-label">{{'PHYSICAL_MNG.READ_HARDWARE_INFO'|translate}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span *ngIf="eidtMode=='create'" class="asterisk">*</span>{{'PHYSICAL_MNG.MAC_ADDRESS'|translate}}:</div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" [(ngModel)]="physical.macAddress" [disabled]="eidtMode !='create'">
                    </div>                   
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span *ngIf="eidtMode=='create'" class="asterisk">*</span>{{'PHYSICAL_MNG.SERVER_TYPE'|translate}}:</div>
                    <div class="col-md-4">
                        <select class="form-control" [(ngModel)]="physical.sererTypeId" [disabled]="eidtMode !='create'">
                            <option value="">{{'PHYSICAL_MNG.PLEASE_CHOOSE'|translate}}</option>
                            <option *ngFor="let type of service.dictServerType | async" [value]="type.value">{{type.displayValue}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"> <span *ngIf="eidtMode=='create'" class="asterisk">*</span>{{'PHYSICAL_MNG.BRAND'|translate}}:</div>
                    <div class="col-md-4">
                        <select class="form-control" [(ngModel)]="selectedBrand" (change)="physical.modleId=''" [disabled]="eidtMode !='create'">
                            <option [ngValue]="defaultBrand">{{'PHYSICAL_MNG.PLEASE_CHOOSE'|translate}}</option>
                            <option *ngFor="let brand of brands" [ngValue]="brand">{{brand.brand}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span *ngIf="eidtMode=='create'" class="asterisk">*</span>{{'PHYSICAL_MNG.MODEL'|translate}}:</div>
                    <div class="col-md-4">
                        <select class="form-control" [(ngModel)]="physical.modleId" [disabled]="eidtMode !='create'">
                            <option value="">{{'PHYSICAL_MNG.PLEASE_CHOOSE'|translate}}</option>
                            <option *ngFor="let mode of selectedBrand.modelList" [value]="mode.id">{{mode.model}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.LOCATION'|translate}}:</div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" [(ngModel)]="physical.locale" [disabled]="eidtMode =='view'">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.DESCRIPTION'|translate}}:</div>
                    <div class="col-md-4">
                        <textarea class="form-control" rows="3" [(ngModel)]="physical.description" [disabled]="eidtMode =='view'"></textarea>
                    </div>
                </div>
            </div>
            <div *ngIf="read || eidtMode =='view'||eidtMode =='edit'">
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.HARDWARE_INFO'|translate}}:</div>
                        <div class="col-md-4">
                            <div class="table-container">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>{{'PHYSICAL_MNG.APTITUDE_NAME'|translate}}</th>
                                            <th>{{'PHYSICAL_MNG.SPEC'|translate}}</th>
                                            <th>{{'PHYSICAL_MNG.SPEC_VALUE'|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         <tr>
                                            <td>{{'PHYSICAL_MNG.PHYSICAL_MODEL'|translate}}</td>
                                            <td></td>  
                                            <td>{{physical.model}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'PHYSICAL_MNG.SN'|translate}}</td>
                                            <td></td>  
                                            <td>{{physical.sn}}</td>
                                        </tr>
                                        <tr>
                                            <td>CPU</td>
                                             <td>{{physical.pmHardwareCPU && physical.pmHardwareCPU.version||""}}</td>  
                                            <td>{{physical.pmHardwareCPU && physical.pmHardwareCPU.value||""}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{'PHYSICAL_MNG.MEMORY'|translate}}</td>
                                            <td>{{physical.pmHardwareMemory && physical.pmHardwareMemory.version||""}}</td>
                                            <td>{{physical.pmHardwareMemory&&physical.pmHardwareMemory.value||""}}</td>
                                        </tr>
                                        <tr *ngFor="let disks of( physical.pmHardwareDiskList ||[]);let idex=index" style="">
                                            <td [attr.rowspan]="physical.pmHardwareDiskList.length" *ngIf="idex===0"  style="background-color:white;">{{'PHYSICAL_MNG.DISK'|translate}}</td>
                                            <td>{{disks.version}}</td>
                                            <td><input type="number" class="form-control" [(ngModel)]="disks.value" style="display:inline;width:90px;" min="1"> G</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="eidtMode =='view'||eidtMode =='edit'">
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.ORDER_INFO'|translate}}:</div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.ENTERPRISE'|translate}}:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.enterprise" disabled>
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.DEPARTMENT'|translate}}:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.department" disabled>
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.APPLICANT'|translate}}:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.applicant " disabled>
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.PRIVATE_IP'|translate}}:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.priIPAddr" disabled>
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.PUBLIC_IP'|translate}}:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.pubIPAddr" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.IMAGE'|translate}}:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.image" disabled>
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.START_TIME'|translate}}:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.startDate" disabled>
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">{{'PHYSICAL_MNG.END_TIME'|translate}}:</div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="physical.endDate" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="text-center" style="margin-top:20px">
    <button *ngIf="eidtMode =='create'" class="fox-cloud-button-lg fox-cloud-button-white mgr20" (click)="cancel();">
        <span class="icon-button-label">{{'PHYSICAL_MNG.CANCEL'|translate}}</span>
    </button>
    <button *ngIf="eidtMode =='edit'" class="fox-cloud-button-lg fox-cloud-button-white" (click)="editPhysical();">
        <span class="icon-button-label">{{'PHYSICAL_MNG.SAVE'|translate}}</span>
    </button>
    <button *ngIf="eidtMode =='create'" class="fox-cloud-button-lg fox-cloud-button-white" (click)="createPhysical();">
        <span class="icon-button-label">{{'PHYSICAL_MNG.SAVE'|translate}}</span>
    </button>
    <button *ngIf="eidtMode =='view'" class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel();">
        <span class="icon-button-label">{{'PHYSICAL_MNG.CLOSE'|translate}}</span>
    </button>
</div>
<div style="height:50px"></div>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'PHYSICAL_MNG.CONFIRM'|translate}}"></fc-notice>
 <!--{{ physical.toString() }}-->