<div class="page-content-header icon-create-product">{{'PROD_MNG.CREATE_PRODUCT'| translate}}</div><!--创建产品-->
<div class="page-content fix-page-content">
    <div class="row navigator-progress">
        <div class="col-md-3 active"><span class="mark">1</span><span>{{'COMMON.BASIC_INFO'|translate}}<!--基本信息--></span></div>
        <div class="col-md-3"><span class="mark">2</span><span>{{'PROD_MNG.COUNT_MODE'|translate}}</span></div>
        <div class="col-md-3"><span class="mark">3</span><span>{{'PROD_MNG.PLATFORM_INFO'|translate}}</span></div>
        <div class="col-md-3"><span class="mark">4</span><span>{{'NET_MNG_VM_DBT_PORT.SELECT_ENTERPRISE'|translate}}</span></div>
    </div>
    <div class="step-progress">
        <div class="fox-cloud-progress-rectangle progress-striped">
            <div class="progress-bar fox-cloud-progress-bar-rectangle" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 30px;">
        <div class="col-md-12">
            <div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'PROD_MNG.PROD_NAME'|translate}}：</div><!--产品名称-->
					<div class="col-sm-4 form-group has-feedback no-padding" [ngClass]="{'has-error':v.result.productName}">
						<input type="text" [(ngModel)]="service.managerServeProduct.name" (ngModelChange)="checkForm('productName')" name="productName"
						 placeholder="{{'PROD_MNG.PROD_NAME' | translate}}" class="form-control">
						<span *ngIf="v.result.productName" class="glyphicon glyphicon-remove form-control-feedback"></span>
						<div *ngIf="v.result.productName" class="alert alert-danger" role="alert">{{v.result.productName}}</div>
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'PROD_MNG.PRODUCT_CAT'|translate}}：</div><!--产品目录-->
					<div class="col-sm-4 no-padding form-control-title font-gray font-left">
						{{service.managerServeService.serviceName}}
						<!--<input type="text" class="form-control" disabled [(ngModel)]="service.managerServeService.serviceName">-->
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">服务对象：</div><!--产品目录-->
					<div class="col-sm-4 no-padding form-control-title font-gray font-left">
						{{service.managerServeService.serviceObjectCode | dict:service.dictServiceObjList | async}}
					</div>
				</div>
			</div>						
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">服务描述：</div>
					<div class="col-sm-4 no-padding" [ngClass]="{'has-error':v.result.description}">
						<textarea type="text" class="form-control" (ngModelChange)="checkForm('description')" placeholder="{{'HOST_OPENSTACK_MNG.DESCRIPTION' | translate}}"
						 rows="3" [(ngModel)]="service.managerServeProduct.description" name="description">
                            </textarea>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
<div class="text-center mgt20">
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel();">
        <span class="icon-button-label">取消</span>
    </button>
    <button class="fox-cloud-button-lg fox-cloud-button-white mgl20" (click)="next();">
        <span class="icon-button-label">下一步</span>
    </button>
</div>

<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CONFIRM"></fc-notice>


<fc-confirm #confirm title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CONFIRM" (of)="cof()" ct="HOST_VMWARE_MNG.CANCEL" (cf)="ccf()"></fc-confirm>
