<table class="cm-table-left">
    <tbody>
        <tr>
            <th class="col-md-1 col-xs-3 text-center">基本信息</th>
            <td>
                <form #accountForm="ngForm"  (ngSubmit)="save(heroForm)">
                    <div class="col-md-12 no-padding mgb15" style=" line-height : 35px">
                        <div class="col-md-2 content-title" style="text-align : center"><span class="asterisk">*</span>姓名</div>
                        <div class="col-md-8 no-padding form-group" [ngClass]="{'has-error': name.errors && (name.dirty || name.touched)}">
                            <input class="form-control" placeholder="请输入姓名" type="text" [(ngModel)]="account.userName" name="name" id="name" required
                                #name='ngModel' />
                            <!--<span class="help-block" *ngIf="name.errors?.required">name不能为空</span>-->
                            <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
                                <div [hidden]="!name.errors.required">
                                    姓名不能为空
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 no-padding mgb15" style=" line-height : 35px">
                        <div class="col-md-2 content-title" style="text-align : center"><span class="asterisk">*</span>帐号</div>
                        <div class="col-md-8 no-padding" [ngClass]="{'has-error': (email.errors && (email.dirty || email.touched))||!loginNameIsOnly}">
                            <input class="form-control" placeholder="请输入帐号" type="text" [(ngModel)]="account.loginName" name="email" id="email" #email='ngModel'
                                required (blur)="checkOnly(account.loginName)">
                            <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
                                <div [hidden]="!email.errors.required">
                                    账号不能为空
                                </div>
                            </div>
                            <div *ngIf="!loginNameIsOnly" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
                                <div >
                                    账号{{account.loginName}}已注册，请重新输入账号
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 no-padding mgb15" style=" line-height : 35px">
                        <div class="col-md-2 content-title" style="text-align : center"><span class="asterisk">*</span>电话</div>
                        <div class="col-md-8 no-padding" [ngClass]="{'has-error': phone.errors && (phone.dirty || phone.touched)}">
                            <input class="form-control" placeholder="请输入电话" type="phone" [(ngModel)]="account.phone" name="phone" required #phone="ngModel">
                            <div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
                                <div [hidden]="!phone.errors.required">
                                    电话不能为空
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 no-padding mgb15" style="height : 60px ; line-height : 35px">
                        <div class="col-md-2 content-title" style="text-align : center">描述</div>
                        <div class="col-md-8 no-padding">
                            <textarea class="form-control" rows="3" placeholder="请输入描述" [(ngModel)]="account.description" name="description"></textarea>
                        </div>
                    </div>
                </form>

            </td>
        </tr>
        <tr>
            <th class="col-md-1 col-xs-3 text-center">绑定角色</th>
            <td>
                <label class="radio-inline" style="margin-right : 20px;margin-left: 0 !important;margin-bottom : 15px" *ngFor="let role of service.roles ;let idx=index ">
                    <input type="checkbox" class="fox-cloud-checkbox"   value="role?.id" [checked]="role.selected" (click)="selectRole(idx)"> 
                    <span>{{role?.name}}</span>
                </label>
            </td>
        </tr>
        <tr>
            <th class="col-md-1 col-xs-3 text-center">绑定部门</th>
            <td>
                <label class="radio-inline" style="margin-right : 20px;margin-left: 0 !important;margin-bottom : 15px" *ngFor='let org of service.orgs;let idx=index'>
                    <input type="radio" class="fox-cloud-radio" (click)='selectOrg(idx)' value="option1" [checked]='org.selected'> 
                    <span>{{org.name}}</span>
                </label>
                <div class="font-green float-right" style="margin-top : 10px">
                    更多部门 >>
                </div>
            </td>
        </tr>
    </tbody>
</table>