<h1 class="page-content-header mgb20">{{ 'MENU.ACCOUNT_MANAGEMENT' | translate }}</h1>
<div class="mgb20" style="overflow : hidden">
    <div class="input-group col-md-2 float-left">
        <input class="form-control width-400" [(ngModel)]="keyword" (keyup.enter)="search()" placeholder="{{ 'USER_CENTER.ENTER_ACCOUNT_INFORMATION_TO_SEARCH_QUICKLY' | translate }}" type="text">
        <div class="input-group-addon" (click)="search()"><span class="glyphicon glyphicon-search" style="cursor:pointer"></span></div>
    </div>
    <button class="btn button-confirm float-right" data-toggle="modal" (click)="create()">{{ 'USER_CENTER.CREATE_DEPARTMENT' | translate }}</button>
</div>
<table class="table table-hover mgb20">
    <tbody>
        <tr>
            <!--<th class="text-center" style="width : 5%">选择</th>-->
            <th class="text-center" style="width : 15%">{{ 'COMMON.NAME' | translate }}</th>
            <th class="text-center" style="width : 20%">{{ 'COMMON.ACCOUNT' | translate }}</th>
            <th class="text-center" style="width : 15%">{{ 'USER_CENTER.CONTECT_NUMBER' | translate }}</th>
            <th class="text-center" style="width : 15%">{{ 'COMMON.DEPARTMENT' | translate }}</th>
            <th class="text-center" style="width : 15%">{{ 'USER_CENTER.ROLE' | translate }}</th>
            <th class="text-center" style="width : 10%">{{ 'COMMON.STATUS' | translate }}</th>
            <th class="text-center" style="width : 10%">{{ 'COMMON.OPERATION' | translate }}</th>
        </tr>
        <tr *ngFor="let account of accounts;let idx = index">
            <!--<td class="text-center"><input name="host-list" type="radio"></td>-->
            <td class="text-center active">{{account.userName}}</td>
            <td class="text-center">{{account.loginName}}</td>
            <td class="text-center">{{account.phone}}</td>
            <td class="text-center">{{account.organizationName}}</td>
            <td class="text-center">{{account.roleName}}</td>
            <td class="text-center">
                 <span [ngSwitch]="account.status">
                            <template [ngSwitchCase]="1">{{ 'COMMON.ENABLED' | translate }}</template>
                            <template [ngSwitchCase]="3">{{ 'COMMON.DISENABLED' | translate }}</template>
                            <template [ngSwitchCase]="0">{{ 'COMMON.NOT_ENABLED' | translate }}</template>
                            <template [ngSwitchCase]="4">{{ 'COMMON.DELETED' | translate }}</template>
                            <template ngSwitchDefault>Unknown</template>
                    	</span>
            </td>
            <td class="text-center">
                <span class="glyphicon glyphicon-edit font-green" (click)="edit(account,idx)" style="margin-right : 10px ;cursor:pointer"></span>
                <!--<span class="glyphicon glyphicon-lock font-green" style="margin-right : 10px"></span>-->
                <span *ngIf="!account.isRoot" class="glyphicon glyphicon-ok-circle font-green" (click)="enable(account,idx)" style="margin-right : 10px;cursor:pointer"></span>
                <span *ngIf="!account.isRoot" class="glyphicon glyphicon-ban-circle font-orange" (click)="disable(account,idx)" style="margin-right : 10px;cursor:pointer"></span>
                <span *ngIf="!account.isRoot" class="glyphicon glyphicon-trash font-orange" (click)="delete(account,idx)" style="cursor:pointer"></span>
            </td>
        </tr>
    </tbody>
</table>

<fc-pagination #pagination tp={{tp}} (pf)="paging($event)"></fc-pagination>
<fc-confirm #confirm title="{{confirmTitle | translate}}" msg="{{confirmMessage | translate}}" (cf)="confirmOk()"></fc-confirm>
<fc-notice #notice title="{{noticeTitle | translate}}" msg="{{noticeMsg | translate}}" ot="{{ 'COMMON.CONFIRM' | translate }}" (of)="nof()"></fc-notice>
<!--<fc-popup #creAccount title="{{title}}" ot="创建" (of)="otCreate()" ct="取消" (cf)="ccf()">
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>选择账号类别：</div>
            <div class="col-sm-6">
                <select class="form-control" [(ngModel)]="accountType">
                    <option value="1">本地账号</option>
                    <option value="2">AD账号</option>
                </select>
            </div>
        </div>
    </div>
</fc-popup>-->

<fc-popup  #crLocalAccount title="{{title}}" ot="{{isEdit==false?'COMMON.CREATE':'DIALOG.SAVE' | translate}}" (of)="save();" ct="{{ 'COMMON.CANCEL' | translate }}" (cf)="ccf()">
    <div class="row row-line-height">
        <account-mng-cr-local  *ngIf="isActive" #crLocal [isEdit]="isEdit" [editId]="editId"></account-mng-cr-local>
    </div>
</fc-popup>

<fc-popup #crAdAccount title="{{title}}" ot="{{ 'COMMON.CREATE' | translate }}" (of)="createAdAccount();" ct="{{ 'COMMON.CANCEL' | translate }}" (cf)="ccf()">
    <div class="row row-line-height">
        <account-mng-cr-ad #crAdCount></account-mng-cr-ad>
    </div>
</fc-popup>
<fc-popup #editAdAccount title="{{title}}" ot="{{ 'DIALOG.SAVE' | translate }}" (of)="editAdAccountM();" ct="{{ 'COMMON.CANCEL' | translate }}" (cf)="ccf()">
    <div class="row row-line-height">
        <account-mng-edit-ad #editAd [accountId]="editId"></account-mng-edit-ad>
    </div>
</fc-popup>