<table class="cm-table-left">
	<tbody>
        <tr>
            <th class="col-md-1 col-xs-3 text-center">基本信息</th>
            <td>

                <div class="col-md-12 no-padding mgb15" style="height : 35px ; line-height : 35px">
                    <div class="col-md-2 content-title" style="text-align : center">姓名</div>
                    <div class="col-md-8 no-padding">
                        <input class="form-control" placeholder="请输入姓名" type="text">
                    </div>
                </div>

                <div class="col-md-12 no-padding mgb15" style="height : 35px ; line-height : 35px">
                    <div class="col-md-2 content-title" style="text-align : center">帐号</div>
                    <div class="col-md-8 no-padding">
                        <input class="form-control" placeholder="请输入帐号" type="text">
                    </div>
                </div>

                <div class="col-md-12 no-padding mgb15" style="height : 35px ; line-height : 35px">
                    <div class="col-md-2 content-title" style="text-align : center">电话</div>
                    <div class="col-md-8 no-padding">
                        <input class="form-control" placeholder="请输入电话" type="text">
                    </div>
                </div>

                <div class="col-md-12 no-padding mgb15" style="line-height : 35px">
                    <div class="col-md-2 content-title" style="text-align : center">描述</div>
                    <div class="col-md-8 no-padding">
                        <textarea class="form-control" rows="3" placeholder="请输入描述"></textarea>
                    </div>
                </div>

                <div class="input-group col-md-6 mgb20" >
                    <input class="form-control" placeholder="输入帐号信息快速搜索" type="text">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                </div>
                <div class="mgb20" style="height : 200px;overflow:auto"> 
                    <table class="table table-hover">
                        <tbody><tr>
                            <th class="text-center" >选择</th>
                            <th class="text-center" >用户名</th>
                            <th class="text-center" >类型</th>
                            <th class="text-center" >姓名</th>
                            <th class="text-center" >邮件地址</th> 
                            <th class="text-center" >联系电话</th>
                            <th class="text-center" >描述</th>
                        </tr>
                        <tr>
                            <td class="text-center"><input name="host-list" type="radio"></td>
                            <td class="text-center active">admin</td>
                            <td class="text-center">用户</td>
                            <td class="text-center">章三</td>
                            <td class="text-center">jun-jie.zhang@hpe.com</td> 
                            <td class="text-center">13671xxxxxxx</td>
                            <td class="text-center">启用</td>
                        </tr>
                        <tr>
                            <td class="text-center"><input name="host-list" type="radio"></td>
                            <td class="text-center active">admin</td>
                            <td class="text-center">用户</td>
                            <td class="text-center">章三</td>
                            <td class="text-center">jun-jie.zhang@hpe.com</td> 
                            <td class="text-center">13671xxxxxxx</td>
                            <td class="text-center">启用</td>
                        </tr>
                        <tr>
                            <td class="text-center"><input name="host-list" type="radio"></td>
                            <td class="text-center active">admin</td>
                            <td class="text-center">用户</td>
                            <td class="text-center">章三</td>
                            <td class="text-center">jun-jie.zhang@hpe.com</td> 
                            <td class="text-center">13671xxxxxxx</td>
                            <td class="text-center">启用</td>
                        </tr>
                        <tr>
                            <td class="text-center"><input name="host-list" type="radio"></td>
                            <td class="text-center active">admin</td>
                            <td class="text-center">用户</td>
                            <td class="text-center">章三</td>
                            <td class="text-center">jun-jie.zhang@hpe.com</td> 
                            <td class="text-center">13671xxxxxxx</td>
                            <td class="text-center">启用</td>
                        </tr>
                        <tr>
                            <td class="text-center"><input name="host-list" type="radio"></td>
                            <td class="text-center active">admin</td>
                            <td class="text-center">用户</td>
                            <td class="text-center">章三</td>
                            <td class="text-center">jun-jie.zhang@hpe.com</td> 
                            <td class="text-center">13671xxxxxxx</td>
                            <td class="text-center">启用</td>
                        </tr>
                        <tr>
                            <td class="text-center"><input name="host-list" type="radio"></td>
                            <td class="text-center active">admin</td>
                            <td class="text-center">用户</td>
                            <td class="text-center">章三</td>
                            <td class="text-center">jun-jie.zhang@hpe.com</td> 
                            <td class="text-center">13671xxxxxxx</td>
                            <td class="text-center">启用</td>
                        </tr>
                        <tr>
                            <td class="text-center"><input name="host-list" type="radio"></td>
                            <td class="text-center active">admin</td>
                            <td class="text-center">用户</td>
                            <td class="text-center">章三</td>
                            <td class="text-center">jun-jie.zhang@hpe.com</td> 
                            <td class="text-center">13671xxxxxxx</td>
                            <td class="text-center">启用</td>
                        </tr>
                        <tr>
                            <td class="text-center"><input name="host-list" type="radio"></td>
                            <td class="text-center active">admin</td>
                            <td class="text-center">用户</td>
                            <td class="text-center">章三</td>
                            <td class="text-center">jun-jie.zhang@hpe.com</td> 
                            <td class="text-center">13671xxxxxxx</td>
                            <td class="text-center">启用</td>
                        </tr>
                        <tr>
                            <td class="text-center"><input name="host-list" type="radio"></td>
                            <td class="text-center active">admin</td>
                            <td class="text-center">用户</td>
                            <td class="text-center">章三</td>
                            <td class="text-center">jun-jie.zhang@hpe.com</td> 
                            <td class="text-center">13671xxxxxxx</td>
                            <td class="text-center">启用</td>
                        </tr>
                    </tbody>
                    </table>
                </div>


            </td>
	    </tr>
        <tr>
            <th class="col-md-1 col-xs-3 text-center">绑定角色</th>
            <td>
                <label class="radio-inline" style="margin-right : 20px;margin-left: 0 !important;margin-bottom : 15px">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 
                    <span>管理员</span>
                </label>

                <label class="radio-inline" style="margin-right : 20px;margin-left: 0 !important;margin-bottom : 15px">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <span>部门负责人</span>
                </label>

                <label class="radio-inline" style="margin-right : 20px;margin-left: 0 !important;margin-bottom : 15px">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <span>普通用户</span>
                </label>

                <label class="radio-inline" style="margin-right : 20px;margin-left: 0 !important;margin-bottom : 15px">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <span>审批员</span>
                </label>

            </td>
        </tr>
        <tr>
            <th class="col-md-1 col-xs-3 text-center">绑定部门</th>
            <td>
                <label class="radio-inline" style="margin-right : 20px;margin-left: 0 !important;margin-bottom : 15px">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 
                    <span>管理员</span>
                </label>

                <label class="radio-inline" style="margin-right : 20px;margin-left: 0 !important;margin-bottom : 15px"> 
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <span>部门负责人</span>
                </label>

                <label class="radio-inline" style="margin-right : 20px;margin-left: 0 !important;margin-bottom : 15px">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <span>部门一</span>
                </label>

                <label class="radio-inline" style="margin-right : 20px;margin-left: 0 !important;margin-bottom : 15px">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <span>部门二</span>
                </label>

                <label class="radio-inline" style="margin-right : 20px;margin-left: 0 !important;margin-bottom : 15px">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <span>部门三</span>
                </label>

                <label class="radio-inline" style="margin-right : 20px;margin-left: 0 !important;margin-bottom : 15px">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <span>部门四</span>
                </label>

                <label class="radio-inline" style="margin-right : 20px;margin-left: 0 !important;margin-bottom : 15px">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <span>部门五</span>
                </label>

                <label class="radio-inline" style="margin-right : 20px;margin-left: 0 !important;margin-bottom : 15px">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <span>部门五</span>
                </label>

                <label class="radio-inline" style="margin-right : 20px;margin-left: 0 !important;margin-bottom : 15px">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <span>部门五</span>
                </label>

                <label class="radio-inline" style="margin-right : 20px;margin-left: 0 !important;margin-bottom : 15px">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <span>部门五</span>
                </label>

                <div class="font-green float-right" style="margin-top : 10px">
                    更多部门 >>
                </div>
            </td>
        </tr>
    </tbody>
</table>