<table class="cm-table-left">
    <tbody>
        <tr>
            <th class="col-md-1 col-xs-3 text-center">{{ 'VM_INSTANCE.BASIC_INFORMATION' | translate }}</th>
            <td>
                <div class="col-md-12">
                    <div class="row row-line-height">
                        <div class="form-group">
                            <div class="col-sm-2 form-control-title" style="padding:0"><span class="asterisk">*</span>{{ 'COMMON.NAME' | translate }}: </div>
                            <!--
                            <div class="col-md-6">
                                <input type="text" class="form-control" [(ngModel)]="account.userName" placeholder="">
                            </div>
                            -->
                            <div class="col-sm-4" [ngClass]="{'has-error': userName.errors && (userName.dirty || userName.touched)}">
                                <input type="text" class="form-control width-400" placeholder="{{ 'USER_CENTER.PLEASE_ENTER_A_NAME' | translate }}" [(ngModel)]="account.userName" id="userName" required name="userName" #userName="ngModel">
                                <div *ngIf="userName.errors && (userName.dirty || userName.touched)" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
                                    <div [hidden]="!userName.errors.required">{{ 'USER_CENTER.NAME_CANNOT_BE_EMPTY' | translate }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-line-height">
                        <div class="form-group">
                            <div class="col-sm-2 form-control-title" style="padding:0"><span class="asterisk">*</span>{{ 'COMMON.PHONE' | translate }}: </div>
                            <!--
                            <div class="col-md-6">
                                <input type="text" class="form-control" [(ngModel)]="account.phone" placeholder="">
                            </div>
                            -->
                            <div class="col-sm-4" [ngClass]="{'has-error': Phone.errors && (Phone.dirty || Phone.touched)}">
                                <input type="text" class="form-control" placeholder="{{ 'USER_CENTER.PLEASE_ENTER_A_PHONE' | translate }}" [(ngModel)]="account.phone" id="Phone" required name="Phone" #Phone="ngModel">
                                <div *ngIf="Phone.errors && (Phone.dirty || Phone.touched)" class="alert alert-danger" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">
                                    <div [hidden]="!Phone.errors.required">{{ 'USER_CENTER.PHONE_CANNOT_BE_EMPTY' | translate }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-line-height">
                        <div class="form-group">
                            <div class="col-sm-2 form-control-title" style="padding:0">{{ 'COMMON.DESCRIPTION' | translate }}: </div>
                            <div class="col-md-6">
                                <textarea class="form-control" [(ngModel)]="account.description" rows="5" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="float-left">
                    <select class="form-control" [(ngModel)]="account.ldapId">
                        <option value="">{{ 'USER_CENTER.PLEASE_SELECT' | translate }}</option>
                        <option *ngFor="let attest of service.attests" [value]="attest.id">{{attest.name}}</option>
                    </select>
                </div>
                <div class="input-group col-md-5 mgb20">
                    <input class="form-control" placeholder="{{ 'USER_CENTER.ENTER_ADMINISTRATOR_INFORMATION_SERCH' | translate }}" [(ngModel)]="filterStr" type="text">
                    <div class="input-group-addon pointer" (click)="searchAdUser();">
                        <span class="glyphicon glyphicon-search"></span>
                        <span style="position: relative; top: -2px;display: inline-block;line-height: 1;padding-left:2px"> {{ 'COMMON.QUERY' | translate }}</span>
                    </div>
                </div>
                <div style="height:200px; overflow-y:scroll; ">
                    <table class="table table-hover" style="width: 615px; word-break: break-all;">
                        <thead>
                            <tr>
                                <th style="width: 10%;" class="check-box-col"> {{ 'COMMON.SELECT' | translate }}</th>
                                <th style="width: 15%;">{{ 'COMMON.USER_NAME' | translate }}</th>
                                <th style="width: 15%;">{{ 'COMMON.NAME' | translate }}</th>
                                <th style="width: 15%;">{{ 'USER_CENTER.EMAIL_ADDRESS' | translate }}</th>
                                <th style="width: 15%;">{{ 'USER_CENTER.CONTECT_NUMBER' | translate }}</th>
                                <th style="width: 30%;">{{ 'COMMON.DESCRIPTION' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of adUsers">
                                <td><input class="fox-cloud-radio" type="radio" name="aduser-list" (change)="account.loginName=user.loginName;" /></td>
                                <td>{{user.loginName}}</td>
                                <td>{{user.userName}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.phone}}</td>
                                <td>{{user.description}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <th class="col-md-1 col-xs-3 text-center">{{ 'USER_CENTER.BINDING_ROLE' | translate }}</th>
            <td>
                <div>
                    <label class="radio-inline fix-width-140 mgt5"  *ngFor="let role of service.roles;"  title="{{role.name}}" >
                        <input type="checkbox" name="role-cr-ad" [checked]="role.selected" (change)="role.selected=$event.target.checked;" class="fox-cloud-checkbox">{{role.name}}
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <th class="col-md-1 col-xs-3 text-center">{{ 'USER_CENTER.BINDING_DEPARTMENT' | translate }}</th>
            <td>
                <div>
                    <label class="checkbox-inline fix-width-140 mgt5" *ngFor="let org of service.orgs;" title="{{org.name}}"  >
                        <input type="radio" name="department-cr-ad"  class="fox-cloud-radio" [checked]="org.selected" (change)="clearSelectedOrg();org.selected=true;">{{org.name}}
                    </label>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{ 'COMMON.CONFIRM' | translate }}"></fc-notice>