<div class="page-content-header icon-content-header-physical-mng">{{title | translate}}</div>
<div class="page-content">
    <div class="row" style="margin-top:30px;"  >
        <div class="col-md-12">
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'PHY_MNG_POOL.POOL_NAME' | translate}}:</div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" [(ngModel)]="data.poolName"/>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'PHY_MNG_POOL.REGION_OWNER' | translate}}:</div>
                    <div class="col-sm-4">
                        <select class="form-control"  [(ngModel)]="data.regionId">
                            <option value= "">请选择</option>
                            <option *ngFor="let item of regions" [value]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'PHY_MNG_POOL.DIGIT_CENTER_OWNER' | translate}}:</div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" [(ngModel)]="data.dataCenter"/>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">{{'PHY_MNG_POOL.DESCRIPTION' | translate}}:</div>
                    <div class="col-md-4">
                        <textarea class="form-control" rows="3" [(ngModel)]="data.description"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <button (click)="gotoPoolMng();" type="button" class="fox-cloud-button-lg fox-cloud-button-white mgr20">
        <span class="icon-button-label">{{'PHY_MNG_POOL.CANCEL' | translate}}</span>
    </button>
    <button (click)="creatOredit();" type="button" class="fox-cloud-button-lg fox-cloud-button-white">
        <span class="icon-button-label">{{save | translate}}</span>
    </button>
</div>

<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'PHY_MNG_POOL.CONFIRM' | translate}}"></fc-notice>


