<div class="page-content-header icon-content-header-physical-mng">创建资源池</div>
<div class="page-content">
    <div class="row" style="margin-top:30px;"  >
        <div class="col-md-12">
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>资源池名称:</div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="北京地区-物理资源池1" [(ngModel)]="data.poolName"/>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>所属地域:</div>
                    <div class="col-sm-4">
                        <select class="form-control"  [(ngModel)]="data.regionId">
                            <option *ngFor="let item of regions" [value]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>所属数据中心:</div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="朝阳数据中心" [(ngModel)]="data.dataCenter"/>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">描述:</div>
                    <div class="col-md-4">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <button (click)="gotoPoolMng();" type="button" class="fox-cloud-button-lg fox-cloud-button-white">
        <span class="icon-button-label">取消</span>
    </button>
    <button (click)="creatOredit();" type="button" class="fox-cloud-button-lg fox-cloud-button-white">
        <span class="icon-button-label">创建</span>
    </button>
</div>

<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="确认"></fc-notice>


