<div class="page-content-header icon-content-header-physical-mng" > {{'PHY_MNG_DEPART.PHY_DEPART' | translate}}</div>
<div class="page-content">
    <div style="margin-bottom:10px">
        <button class="fox-cloud-button fox-cloud-button-green" (click)="crePage();isEdit= false;">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="icon-button-label icon-left-button-label"> {{'PHY_MNG_DEPART.CREATE_PHY_DEPART' | translate}}</span>
        </button>
        <div class="dropdown pull-right" style="margin-left:10px;">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{'PHY_MNG_POOL.SELECT_OPERATION' | translate}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a (click)="editPage();isEdit= true;">{{'PHY_MNG_POOL.EDIT' | translate}}</a></li>
                <li><a (click)="delete()">{{'PHY_MNG_POOL.DELETE' | translate}}</a></li>
            </ul>
        </div>

    </div>
    <div class="table-container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{'PHY_MNG_POOL.SELECT' | translate}}</th>
                <th>{{'PHY_MNG_POOL.NUMBER' | translate}}</th>
                <th>{{'PHY_MNG_DEPART.PARTS_NAME' | translate}}</th>
                <th>{{'PHY_MNG_DEPART.SPEC_NAME' | translate}}</th>
                <th>{{'PHY_MNG_DEPART.SPEC_VALUE' | translate}}</th>
                <th>{{'PHY_MNG_DEPART.REFERENCE' | translate}}</th>
                <!--<th>引用次数</th>-->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of data">
                <td><input type='radio' class="fox-cloud-radio" [checked]="item.selected" (change)="selected(item)"/></td>
                <td>{{item.index}}</td>
                <td>{{item.partsName}}</td>
                <td>{{item.specName}}</td>
                <td>{{item.specValue}}</td>
                <td>{{item.referencePrice}}</td>
                <!-- <td>{{item.usedPMCount}}</td>-->
            </tr>
            </tbody>
        </table>
    </div>
    <div class="fox-cloud-pagination-container">
        <fc-pagination #pager tp={{totalPage}} (pf)="getData($event)"></fc-pagination>
    </div>
</div>

<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}"></fc-notice>
<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}" ct="{{'COMMON.CANCEL' | translate}}" ></fc-confirm>

<fc-popup #creUnit title="{{title}}" ot="{{isEdit== false? 'COMMON.CREATE': 'COMMON.SAVE' | translate }}"  ct="{{ 'COMMON.CANCEL' | translate }}" (of)="creOredit()">
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-3 form-control-title">{{'PHY_MNG_DEPART.PARTS_NAME' | translate}}:</div>
            <div class="col-sm-4">
                <div class="input-select-container">
                    <input *ngIf="isEdit == true && selectedParts.editable == 1 || selectedParts.partsName == defaultParts" type="text" [value]="selectedParts.partsName" #partsName>
                    <select class="form-control" [(ngModel)]="selectedParts" (change)="selectedSpec=defaultSpec;">
                        <option *ngFor="let v of partslist" [ngValue]="v">{{v.partsName}}</option>
                        <option [ngValue]="defaultParts">{{'PHY_MNG_DEPART.OTHERS' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4" *ngIf="!selectedParts.partsId">
                <input type="text" class="form-control" [(ngModel)]="criteria.partsName">
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-3 form-control-title">{{'PHY_MNG_DEPART.SPEC_NAME' | translate}}:</div>
            <div class="col-sm-4">
                <div class="input-select-container">
                    <input *ngIf="isEdit == true" type="text" [value]="selectedSpec.specName" #specName>
                    <select class="form-control" [(ngModel)]="selectedSpec">
                        <option *ngFor="let spec of selectedParts.specList" [ngValue]="spec">{{spec.specName}}</option>
                        <option [ngValue]="defaultSpec">{{'PHY_MNG_DEPART.OTHERS' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4" *ngIf="!selectedSpec.specId">
                <input type="text" class="form-control" [(ngModel)]="criteria.specName">
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-3 form-control-title">{{'PHY_MNG_DEPART.SPEC_VALUE' | translate}}:</div>
            <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="criteria.specValue">
            </div>
            <div *ngIf="selectedParts.partsName == '磁盘' || selectedParts.partsName == '内存'" class="pull-left" style="line-height:34px">GB</div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-3 form-control-title">{{'PHY_MNG_DEPART.REFERENCE' | translate}}:</div>
            <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="criteria.referencePrice">
            </div>
        </div>
    </div>
</fc-popup>


