<div class="page-content-header icon-content-header-physical-mng"> <!--page-content-header icon-physical-mng">  icon-cloud-network-mngOn"> -->
    物理机镜像管理	  
</div>

<div class="page-content">
    <div class="mgb20">
        <button class="fox-cloud-button fox-cloud-button-green" (click)="createPhyImgSource();">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label">创建镜像源</span> <!--请添加创建的弹出框-->
        </button>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="allocatePool();">       
            <span class="icon-button-label icon-left-button-label">分配物理资源池</span>
        </button>

        <div class="dropdown pull-right" >
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            选择操作
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2"style="margin-left: 10px;">
                <li><a href="javascript:void(0);"(click)="editPhyImgSource()">编辑</a></li>
                <li><a href="javascript:void(0);"(click)="enable()">启用</a></li>
                <li><a href="javascript:void(0);"(click)="disable()">禁用</a></li>
                <li><a href="javascript:void(0);"(click)="delete()">删除</a></li>
            </ul>

        </div>
    </div>

    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>选择 </th>
                    <th>镜像源名称</th>
                    <th>镜像源地址</th>
                    <th>资源池列表</th>
                    <th>描述</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let source of sourceList"(click)="selectSource(source)">
                    <td><input type="radio" class="fox-cloud-radio" name="radio"[checked]="source.selected"(change)="source.selected = $event.target.checked"/>
                        </td>
                    <td><a href="javascript:void(0);"(click)="gotoPhyImageList(source)">{{source.imageName}}</a></td>
                    <td>{{source.imageURL}}</td>
                    <td>
                    
                        <li *ngFor="let p of source.pmPoolList" style="display: inline-block; padding: 2px 5px;">
                            {{p.pmPoolName}}
                        </li>
                    
                    </td>
                    <td>{{source.description}}</td>
                    
                    <td [ngClass]="{'font-green':source.status==1,'font-orange':source.status==0}">
                        {{source.status | dict:this.service.poolStatusDic | async }}</td>
                </tr>          
                           
            </tbody>
        </table>
    </div>

</div>
<div class="fox-cloud-pagination-container">
        <fc-pagination #pager tp={{totalPage}} (pf)="getPhyImageSources($event)"></fc-pagination>
</div>

<fc-popup #createPopup ot="{{'COMMON.CONFIRM' | translate}}" 
                        ct="{{'COMMON.CANCEL' | translate}}" 
                        (testf)="testPhyImgSource(tempCreate)" test= "{{'PHY_IMG_MNG.TEST' | translate}}"
    title="创建物理机镜像源" (of)="commitCreate()"  (cf)="cancelCreate()">
    <div class="dialogContent">
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>显示名称：</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control"  [(ngModel)]="tempCreate.imageName"/>
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>镜像源地址：</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="tempCreate.imageURL" />
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title"><span class="asterisk"></span>描述:</div>
                <div class="col-sm-4">
                    <textarea class="form-control input-control"  rows="3" [(ngModel)]="tempCreate.description">
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</fc-popup>

<fc-popup #alloPopup ot="{{'COMMON.CONFIRM' | translate}}"  ct="{{'COMMON.CANCEL' | translate}}"
    title = "分配物理资源池" (of)="commitAllo()" (cf)="cancelAllo()">
    
        <fc-selectbox #selectbox [selectedList]="inUsedPools" [unSelectedList]="noUsedPools" 
                    titleL="未选中资源池：" 
                    titleR="已选中资源池：" 
                    displayKey="pmPoolName"
                    >
        </fc-selectbox>

</fc-popup>

<fc-popup #editPopup ot="{{'COMMON.CONFIRM' | translate}}" ct="{{'COMMON.CANCEL' | translate}}" 
            test= "{{'PHY_IMG_MNG.TEST' | translate}}"
            (testf)="testPhyImgSource(tempEdit)"
    title="编辑物理机镜像源" (of)="commitEdit()" (cf)="cancelEdit()">
    <div class="dialogContent">
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>显示名称：</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="tempEdit.imageName" />
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>镜像源地址：</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" [(ngModel)]="tempEdit.imageURL"/>
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title"><span class="asterisk"></span>描述:</div>
                <div class="col-sm-4">
                    <textarea class="form-control input-control"  rows="3" [(ngModel)]="tempEdit.description">
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</fc-popup>

<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'HOST_OPENSTACK_MNG.CONFIRM' | translate}}"></fc-notice>
<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'HOST_OPENSTACK_MNG.CONFIRM' | translate}}" ct="{{'HOST_OPENSTACK_MNG.CANCEL' | translate}}"></fc-confirm>
