<div class="page-content-header icon-content-header-physical-mng"> <!--page-content-header icon-physical-mng">  icon-cloud-network-mngOn"> -->
    {{'PHY_IMG_MNG.PHY_IMG_MNG' | translate}}  
</div>

<div class="page-content">
    <div class="mgb20">
        <button class="fox-cloud-button fox-cloud-button-green" (click)="createPhyImgSource();">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label">{{'PHY_IMG_MNG.CREATE_PHY_SOURCE' | translate}}</span> <!--请添加创建的弹出框-->
        </button>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="allocatePool();">       
            <span class="icon-button-label icon-left-button-label">{{'PHY_IMG_MNG.ALLOCATE_POOL' | translate}}</span>
        </button>

        <div class="dropdown pull-right" >
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{'PHY_IMG_MNG.SELECT_OPTION' | translate}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2"style="margin-left: 10px;">
                <li><a href="javascript:void(0);"(click)="editPhyImgSource()">
                    {{'PHY_IMG_MNG.EDIT' | translate}}</a></li>
                <li><a href="javascript:void(0);"(click)="enable()">
                    {{'PHY_IMG_MNG.ENABLE' | translate}}</a></li>
                <li><a href="javascript:void(0);"(click)="disable()">
                    {{'PHY_IMG_MNG.DISABLE' | translate}}</a></li>
                <li><a href="javascript:void(0);"(click)="delete()">
                    {{'PHY_IMG_MNG.DELETE' | translate}}</a></li>
            </ul>

        </div>
    </div>

    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{'PHY_IMG_MNG.SELECT' | translate}}</th>
                    <th>{{'PHY_IMG_MNG.IMG_SOURCE_NAME' | translate}}</th>
                    <th>{{'PHY_IMG_MNG.IMG_SOURCE_ADDRESS' | translate}}</th>
                    <th>{{'PHY_IMG_MNG.IMG_SOURCE_POOL' | translate}}</th>
                    <th>{{'PHY_IMG_MNG.DESCRIPTION' | translate}}</th>
                    <th>{{'PHY_IMG_MNG.STATUS' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let source of sourceList"(click)="selectSource(source)">
                    <td><input type="radio" class="fox-cloud-radio" name="radio"[checked]="source.selected"(change)="source.selected = $event.target.checked"/>
                        </td>
                    <td><a href="javascript:void(0);"(click)="gotoPhyImageList(source)">{{source.imageName}}</a></td>
                    <td>{{source.imageURL}}</td>
                    <td>
                    
                        <li *ngFor="let p of source.pmPoolList" style="display: inline-block; padding: 2px 5px;">
                            {{p.pmPoolName}}
                        </li>
                    
                    </td>
                    <td>{{source.description}}</td>
                    
                    <td [ngClass]="{'font-green':source.status==1,'font-orange':source.status==0}">
                        {{source.status | dict:this.service.poolStatusDic | async }}</td>
                </tr>          
                           
            </tbody>
        </table>
    </div>

</div>
<div class="fox-cloud-pagination-container">
        <fc-pagination #pager tp={{totalPage}} (pf)="getPhyImageSources($event)"></fc-pagination>
</div>

<fc-popup #createPopup ot="{{'COMMON.CONFIRM' | translate}}" 
                        ct="{{'COMMON.CANCEL' | translate}}" 
                        (testf)="testPhyImgSource(tempCreate)" test= "{{'PHY_IMG_MNG.TEST' | translate}}"
    title="{{'PHY_IMG_MNG.CREATE_PHY_IMG_SOURCE' | translate}}" (of)="commitCreate()"  (cf)="cancelCreate()">
    <div class="dialogContent">
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>
                    {{'PHY_IMG_MNG.DISPLAY_NAME' | translate}}：</div>
                <div class="col-sm-7">
                    <input type="text" class="form-control"  [(ngModel)]="tempCreate.imageName"/>
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>
                    {{'PHY_IMG_MNG.IMG_SOURCE_ADDRESS' | translate}}：</div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="tempCreate.imageURL" />
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title"><span class="asterisk"></span>
                    {{'PHY_IMG_MNG.DESCRIPTION' | translate}}:</div>
                <div class="col-sm-7">
                    <textarea class="form-control input-control"  rows="3" [(ngModel)]="tempCreate.description">
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</fc-popup>


<fc-popup #editPopup ot="{{'COMMON.CONFIRM' | translate}}" ct="{{'COMMON.CANCEL' | translate}}" 
            test= "{{'PHY_IMG_MNG.TEST' | translate}}"
            (testf)="testPhyImgSource(tempEdit)"
    title="{{'PHY_IMG_MNG.EDIT_PHY_IMG_SOURCE' | translate}}" (of)="commitEdit()" (cf)="cancelEdit()">
    <div class="dialogContent">
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>
                    {{'PHY_IMG_MNG.DISPLAY_NAME' | translate}}：</div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="tempEdit.imageName" />
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>
                    {{'PHY_IMG_MNG.IMG_SOURCE_ADDRESS' | translate}}：</div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="tempEdit.imageURL"/>
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title"><span class="asterisk"></span>
                    {{'PHY_IMG_MNG.DESCRIPTION' | translate}}:</div>
                <div class="col-sm-7">
                    <textarea class="form-control input-control"  rows="3" [(ngModel)]="tempEdit.description">
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</fc-popup>

<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'HOST_OPENSTACK_MNG.CONFIRM' | translate}}"></fc-notice>
<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'HOST_OPENSTACK_MNG.CONFIRM' | translate}}" ct="{{'HOST_OPENSTACK_MNG.CANCEL' | translate}}"></fc-confirm>
