<div class="page-content cloud_host_order cloud_drive_order">
    <h1 class="page-content-header">云硬盘</h1>
    <ul class="page-box" style="margin: 20px 0px;">
        <li>
            <div class="col-md-1 li-title" style="background: #f7f7f7; border-right: 1px solid #ddd; height: 100%">
                <p>区域列表</p>
            </div>
            <div class="col-md-12 li-content" style="padding: 20px 0px 20px !important;">
                <div class="col-md-12">
                    <div class="region-btn" styple="height:40px !important" *ngFor="let region of this.regions;" [ngClass]='{"selected":region.selected}' (click)="selectRegion(region);choosenRegion=region;">
                        <div class="regionName">{{region.LocalName}}</div>

                    </div>
                </div>
            </div>

        </li>
    </ul>

    <div class="col-md-12 no-padding mgb20">
        <!--
        <div class="dropdown float-left mgr10">
            <select [(ngModel)]="listqueryField" class="form-control">
                <option>云硬盘名称</option>
                <option>其他</option>
            </select>
        </div>
        -->

        <div class="input-group col-md-2 float-left mgr10">
            <input type="text" class="form-control" [(ngModel)]="phynet_create" style="display: inline" />
            <div class="input-group-addon" (click)="search()"><span class="glyphicon glyphicon-search"></span></div>
        </div>

        <div class="input-group float-left">
            <button (click)="resetSearch()" class="btn button-gray-gradient"><span class="glyphicon glyphicon-repeat"></span>搜索</button>
        </div>

        <div class="dropdown float-right ">
            <button class="btn float-left btn-success" (click)="goToDiskOrder();"><i class="glyphicon glyphicon-plus"></i>创建云硬盘</button>

            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                更多操作
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <!--
                <li><a href="javascript:" (click)="attachDisk();">挂载</a></li>
                <li><a href="javascript:" (click)="detachDisk();">卸载</a></li>
                -->
                <li><a href="javascript:" (click)="deleteDisk();">删除</a></li>
            </ul>

        </div>
    </div>

    <table class="table table-hover">
        <tr>
            <th class="text-center">编号</th>
            <th class="text-center">实例ID/名称</th>
            <th class="text-center">云硬盘种类</th>
            <th class="text-center">状态</th>
            <th class="text-center">付费类型</th>
            <th class="text-center">可卸载</th>
            <th class="text-center">可用区</th>
            <th class="text-center">属性</th>
            <th class="text-center">操作</th>
        </tr>
        <tr style="line-height: 65px;" *ngFor="let disk of disks; let i=index;">
            <td class="text-center">
                {{i+1}}
                <!-- 
                <input type="radio" class="fox-cloud-radio" (click)="selectItem(i);" name="host-list">
                -->
            </td>
            <td class="text-center active" style="position: relative;width: 260px;">
                {{disk.DiskId}}
                <span class="pull-right icon-edit2" (click)="disk.EnableEdit=true; onSelect(disk);" style="width: 30px; height: 30px; line-height: 30px;"></span>
                <div *ngIf="disk.EnableEdit" class="popover fade bottom in" role="tooltip" id="popover316538" style="top:25px; left:150px; width:370px; max-width:1100px; display: block; z-index: 50;">
                    <div class="arrow" style="left: 30%;"></div>
                    <div class="popover-content">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">实例ID/名称:</label>
                                <div class="col-sm-8 float-left">
                                    <input type="text" class="form-control" [(ngModel)]="selecteddisk.DiskId" name="name">
                                </div>
                            </div>
                        </form>
                        <div class="pull-right" style="margin-bottom:10px;">
                            <button class="btn button-gray-gradient" (click)="onSave(disk)">保存</button>
                            <button class="btn button-gray-gradient" (click)="onCancel(); disk.EnableEdit=false;">取消</button>
                        </div>
                    </div>

                </div>
            </td>
            <td class="text-center">{{disk.Category | dict:this.dictService.diskCategoryDict | async}}</td>
            <td class="text-center">{{disk.Status | dict:this.dictService.diskStatusDict | async}}</td>
            <td class="text-center">{{disk.DiskChargeType | dict:this.dictService.diskChargeTypeDict | async}}</td>
            <td class="text-center">{{disk.Portable.toString() | dict:this.dictService.diskBoolDict | async}}</td>
            <td class="text-center">{{disk.RegionId}} {{disk.ZoneId}}</td>
            <td class="text-center">{{disk.Type | dict:this.dictService.diskTypeDict | async}}</td>
            <td class="text-center">
                <button (click)="selectItem(i); attachDisk();" style="display: inline;" class="btn button-gray-gradient">挂载
                </button>
                <button (click)="selectItem(i); detachDisk();" class="btn button-gray-gradient">释放
                </button>
            </td>
        </tr>
        <!--
        <tr style="line-height: 65px;" >
            <td class="text-center"> <input type="radio" class="fox-cloud-radio" (change)="radioSelected=vm;" name="host-list"></td>
            <td class="text-center active" style="position: relative;width: 220px;">
                d-bp1cwuop03pj6cn8hu1g
            </td>
            <td class="text-center">高效云盘</td>
            <td class="text-center">使用中</td>
            <td class="text-center">包年包月</td>
            <td class="text-center">支持</td>
            <td class="text-center">华南1 可用区B</td>
            <td class="text-center">数据盘</td>
        </tr>
        <tr style="line-height: 65px;">
            <td class="text-center"> <input type="radio" class="fox-cloud-radio" (change)="radioSelected=vm;" name="host-list"></td>
            <td class="text-center active" style="position: relative;width: 220px;">
                d-bp1cwuop03pj6cn8hu2g
            </td>
            <td class="text-center">本地SSD盘</td>
            <td class="text-center">挂在中</td>
            <td class="text-center">按量付费</td>
            <td class="text-center">不支持</td>
            <td class="text-center">华南1 可用区A</td>
            <td class="text-center">系统盘</td>
        </tr>
        -->
    </table>
    <fc-pagination tp={{totalPage}} (pf)="changePage($event)"></fc-pagination>
    <!-- <fc-pagination tp={{list.pageParameter.totalPage}} (pf)="changePage($event)"></fc-pagination> -->
</div>
<fc-confirm #confirm title="{{confirmTitle}}" msg="{{confirmMsg}}" ot="{{confirmOKTitle}}" ct="{{confirmCancelTitle}}"></fc-confirm>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{noticeOKTitle}}" (of)="okClicked()"></fc-notice>