<div class="page-content-header mgb20 ">
    阿里云账号管理
</div>
<div class="mgb20" style="height:30px;">
    <button class="btn button-confirm  pull-right">
        <span class="glyphicon glyphicon-cog mgr5"></span>管理子账号
    </button>
</div>
<table class="table table-hover" style="table-layout:fixed">
    <tbody>
        <tr>
            <th class="text-center">编号 </th>
            <th class="text-center">主账号登录名</th>
            <th class="text-center">所属部门 </th>
            <th class="text-center">子账号数量</th>
            <th class="text-center">最后更新时间</th>
            <th class="text-center">操作人 </th>
            <th class="text-center">操作 </th>
        </tr>
        <tr>
            <td class="text-center">1</td>
            <td class="text-center"><a href="javascript:void(0);" (click)="getDetail(item);type= 'info';">管华</a></td>
            <td class="text-center">1</td>
            <td class="text-center">2</td>
            <td class="text-center">销售部</td>
            <td class="text-center">部门负责人</td>
            <td class="text-center">
                <span class="glyphicon glyphicon-edit font-green" style="margin-right : 10px ;cursor:pointer" (click)="editPage(item);type= 'edit'"></span>
                <span class="glyphicon glyphicon-user font-green" style="margin-right : 10px ;cursor:pointer" (click)="distriPage(item)"></span>
            </td>
        </tr>
    </tbody>
</table>

<fc-pagination #pager tp={{totalPage}} (pf)="getData($event)"></fc-pagination>

<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}"></fc-confirm>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{ 'COMMON.CONFIRM' | translate}}"></fc-notice>

<fc-popup #majorMng title="{{title}}" ot="{{isEdit== false? 'COMMON.CREATE': 'DIALOG.SAVE' | translate }}" ct="{{ 'DIALOG.CANCEL' | translate }}" (of)="creOredit()">
    <div class="mgt10 border">
        <div class="col-md-12 no-padding mgb15 mgt15" style=" line-height : 35px">
            <div class="col-md-4 content-title" style="text-align : right"><span class="asterisk">*</span>主账号登录名:</div>
            <div class="col-md-8 no-padding">
                <span style="line-height: 34px;">王国庆45087461</span>
            </div>
        </div>
        <div class="col-md-12 no-padding mgb15" style=" line-height : 35px">
            <div class="col-md-4 content-title" style="text-align : right"><span class="asterisk">*</span>Access Key ID:</div>
            <div *ngIf="type== 'edit'" class="col-md-6 no-padding form-group">
                <input type="text" class="form-control" maxlength="50">
            </div>
            <div *ngIf="type== 'info'" class="col-md-8 no-padding">
                <span style="line-height: 34px;">dsafjalsdkj;</span>
            </div>
        </div>
        <div class="col-md-12 no-padding mgb15" style=" line-height : 35px">
            <div class="col-md-4 content-title" style="text-align : right"><span class="asterisk">*</span>Access Key Secret:</div>
            <div *ngIf="type== 'edit'" class="col-md-6 no-padding form-group">
                <input type="text" class="form-control">
            </div>
            <div *ngIf="type== 'info'" class="col-md-8 no-padding">
                <span style="line-height: 34px;">dsafjalsdkj;</span>
            </div>
        </div>
        <div *ngIf="type== 'edit'" class="col-md-12 no-padding mgb15" style=" line-height : 35px">
            <div class="col-md-4"></div>
            <div class="col-md-2 no-padding form-group ">
                <button class="btn btn-default button-gray-gradient">&nbsp;&nbsp;测试&nbsp;&nbsp;</button>
            </div>
            <div class="col-md-4 no-padding">
                <span class="font-green" style="line-height: 34px;">提示:测试成功</span>
            </div>
        </div>
        <div *ngIf="type== 'info'" class="col-md-12 no-padding mgb15" style=" line-height : 35px">
            <div class="col-md-4 content-title" style="text-align : right"><span class="asterisk">*</span>所属部门:</div>
            <div class="col-md-8 no-padding">
                <span style="line-height: 34px;">dsafjalsdkj;</span>
            </div>
        </div>
    </div>
</fc-popup>

<fc-popup #distriDepart title="{{title}}" ot="{{isEdit== false? 'COMMON.CREATE': 'DIALOG.SAVE' | translate }}" ct="{{ 'DIALOG.CANCEL' | translate }}" (of)="creOredit()">
    <div class="col-md-12 no-padding mgb15 mgt15" style=" line-height : 35px">
        <div class="col-md-4 content-title" style="text-align : right">当前所选部门：管理部</div>
        <div class="col-md-2 no-padding form-group ">
            <button class="btn button-gray-gradient"><span class="glyphicon glyphicon-repeat"></span> 重置</button>
        </div>
    </div>
    <div class="col-md-12 no-padding mgb15 mgt15" style=" line-height : 35px">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table table-hover table-all-boder" style="table-layout:fixed">
                <tbody>
                <tr>
                    <th class="text-center">选择 </th>
                    <th class="text-center">部门名称</th>
                </tr>
                <tr class="text-center">
                    <td><input type='radio' class="fox-cloud-radio"/></td>
                    <td class="text-center"><a href="javascript:void(0);" (click)="getDetail(item);type= 'info';">管华</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</fc-popup>




