<div class="page-content-header mgb20">
    {{ 'USER_CENTER.ALICLOUD_SUBMNG' | translate}}
    <span class="icon-back" style="font-size:14px"></span>
    <span style="font-size:14px;"><a href="javascript:void(0);" class="font-gray" (click)="gotoMajorMng();">{{ 'USER_CENTER.RETURN_ALI_ACCOUNT_MNG' | translate}}</a></span>
</div>
<div class="mgb20" style="height:30px;">
    <button class="btn button-confirm  pull-right" (click)="crePage();type='create';v.result.accessKey='';v.result.accessSecret='';v.result.loginName='';">
        <span class="icon-create"></span>{{ 'USER_CENTER.CREATE_SUBACCOUNT' | translate}}
    </button>
    <span style="line-height:34px;">{{ 'USER_CENTER.MAJOR_LOGINNAME' | translate}}：{{name}}</span>
</div>
<table class="table table-hover mgt20" >
    <tbody>
        <tr>
            <th class="text-center">{{ 'USER_CENTER.ALI_ID' | translate}}</th>
            <th class="text-center">{{ 'USER_CENTER.SUB_LOGINNAME' | translate}}</th>
            <th class="text-center">{{ 'USER_CENTER.DEPARTMENT_OWNED' | translate}}</th>
            <th class="text-center">{{ 'COMMON.STATUS' | translate}}</th>
            <th class="text-center">{{ 'USER_CENTER.LASTUPDATE_TIME' | translate}}</th>
            <th class="text-center">{{ 'USER_CENTER.OPERATOR' | translate}}</th>
            <th class="text-center">{{ 'USER_CENTER.OPERATION' | translate}}</th>
        </tr>
        <tr *ngFor="let item of data; let idx= index;">
            <td class="text-center">{{idx+1}}</td>
            <td class="text-center"><a href="javascript:void(0);" class="a-active" (click)="getDetail(item);type= 'info';">{{item.loginName}}</a></td>
            <td class="text-center">{{item.departmentName}}</td>
            <td class="text-center" [ngClass]="{'font-orange': item.status=='2','font-green': item.status=='1'}">
                {{item.status | dict:service.statusDic | async}}
            </td>
            <td class="text-center">{{item.lastUpdate | formatDate}}</td>
            <td class="text-center">{{item.operator}}</td>
            <td class="text-center">
                <span class="glyphicon glyphicon-edit font-green" style="margin-right : 10px ;cursor:pointer" (click)="editPage(item);type='edit';v.result.accessKey='';v.result.accessSecret='';v.result.loginName='';"></span>
                <span class="glyphicon glyphicon-user font-green" style="margin-right : 10px ;cursor:pointer" (click)="distriPage(item);"></span>
                <span *ngIf="item.status== 2" class="glyphicon glyphicon-ok-circle font-green" style="margin-right : 10px ;cursor:pointer" (click)="enable(item);"></span>
                <span *ngIf="item.status== 1" class="glyphicon glyphicon-ban-circle font-orange" style="margin-right : 10px ;cursor:pointer" (click)="disable(item);"></span>
                <span class="glyphicon glyphicon-trash font-orange" style="margin-right : 10px ;cursor:pointer" (click)="delete(item);"></span>
            </td>
        </tr>
    </tbody>
</table>

<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{ 'COMMON.CANCEL' | translate}}" ct="{{ 'COMMON.CONFIRM' | translate}}"></fc-confirm>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{ 'COMMON.CONFIRM' | translate}}"></fc-notice>

<fc-popup #subMng title="{{title}}" ot="{{ ot }}" ct="{{ type== 'info'? '':'DIALOG.CANCEL' | translate }}" (of)="operate()">
    <div class="mgt10 border">
        <div class="col-md-12 no-padding mgb15 mgt15" style=" line-height : 35px">
            <div class="col-md-4 content-title" style="text-align : right"><span class="asterisk">*</span>{{ 'USER_CENTER.SUB_LOGINNAME' | translate}}：</div>
            <div *ngIf="type!= 'create'" class="col-md-8 no-padding">
                <span style="line-height: 34px;">{{subInfo.loginName}}</span>
            </div>
            <div *ngIf="type== 'create'" class="col-md-6 no-padding form-group" [ngClass]="{'has-error': v.result.subloginName}">
                <input [(ngModel)]="subInfo.loginName" type="text" class="form-control" maxlength="50" (ngModelChange)="checkForm('loginName')">
                <span *ngIf="v.result.loginName" class="glyphicon glyphicon-remove form-control-feedback"></span>
                <div *ngIf="v.result.loginName" class="alert alert-danger" role="alert" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">{{v.result.loginName | translate}}</div>
            </div>
        </div>
        <div class="col-md-12 no-padding mgb15" style=" line-height : 35px">
            <div class="col-md-4 content-title" style="text-align : right"><span class="asterisk">*</span>Access Key ID：</div>
            <div *ngIf="type!= 'info'" class="col-md-6 no-padding form-group" [ngClass]="{'has-error': v.result.accessKey}">
                <input [(ngModel)]="subInfo.accessKey" type="text" class="form-control" maxlength="50" (ngModelChange)="checkForm('accessKey')">
                <span *ngIf="v.result.accessKey" class="glyphicon glyphicon-remove form-control-feedback"></span>
                <div *ngIf="v.result.accessKey" class="alert alert-danger" role="alert" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">{{v.result.accessKey | translate}}</div>
            </div>
            <div *ngIf="type== 'info'" class="col-md-8 no-padding">
                <span style="line-height: 34px;">{{subInfo.accessKey}}</span>
            </div>
        </div>
        <div class="col-md-12 no-padding mgb15" style=" line-height : 35px">
            <div class="col-md-4 content-title" style="text-align : right"><span class="asterisk">*</span>Access Key Secret：</div>
            <div *ngIf="type!= 'info'" class="col-md-6 no-padding form-group" [ngClass]="{'has-error': v.result.accessSecret}">
                <input [(ngModel)]="subInfo.accessSecret" type="text" class="form-control" (ngModelChange)="checkForm('accessSecret')">
                <span *ngIf="v.result.accessSecret" class="glyphicon glyphicon-remove form-control-feedback"></span>
                <div *ngIf="v.result.accessSecret" class="alert alert-danger" role="alert" style="height:34px;padding:0px;margin:0px;line-height:34px;padding-left:10px">{{v.result.accessSecret | translate}}</div>
            </div>
            <div *ngIf="type== 'info'" class="col-md-8 no-padding">
                <span style="line-height: 34px;">{{subInfo.accessSecret}}</span>
            </div>
        </div>
        <div *ngIf="type!= 'info'" class="col-md-12 no-padding mgb15" style=" line-height : 35px">
            <div class="col-md-4"></div>
            <div class="col-md-2 no-padding form-group ">
                <button class="btn btn-default button-gray-gradient" (click)="testSub();testInfo= '';">  {{ 'USER_CENTER.TEST' | translate}} </button>
            </div>
            <div *ngIf="testInfo== 'success'" class="col-md-4 no-padding">
                <span class="font-green" style="line-height: 34px;">{{ 'DIALOG.PROMPT' | translate}}：{{ 'USER_CENTER.TEST_SUCCESS' | translate}}</span>
            </div>
            <div *ngIf="testInfo== 'failed'" class="col-md-4 no-padding">
                <span class="font-orange" style="line-height: 34px;">{{ 'DIALOG.PROMPT' | translate}}：{{ 'USER_CENTER.TEST_FAIL' | translate}}</span>
            </div>
        </div>
        <div *ngIf="type== 'info' || type== 'create'" class="col-md-12 no-padding mgb15" style=" line-height : 35px">
            <div class="col-md-4 content-title" style="text-align : right"><span *ngIf="type== 'info'" class="asterisk">*</span>{{ 'USER_CENTER.DEPARTMENT_OWNED' | translate}}：</div>
            <div *ngIf="type== 'info'" class="col-md-8 no-padding">
                <span style="line-height: 34px;">{{subInfo.departmentName}}</span>
            </div>
            <div *ngIf="type== 'create'" class="col-md-6 no-padding form-group">
                <select class="form-control" [(ngModel)]="subInfo.departId">
                    <option value="">{{ 'USER_CENTER.SELECT' | translate}}</option>
                    <option *ngFor="let item of departsList" [value]="item.id" [hidden]="item.visible == 'false'">{{item.departmentName}}</option>
                </select>
            </div>
        </div>
    </div>
</fc-popup>

<fc-popup #distriDepart title="{{title}}" ot="{{'DIALOG.SAVE' | translate }}"  ct="{{ 'DIALOG.CANCEL' | translate }}" (of)="operate()">
    <div class="col-md-12 no-padding mgb15 mgt15" style=" line-height : 35px">
        <div class="col-md-1"></div>
        <div class="col-md-4 content-title">{{ 'USER_CENTER.CURRENT_SELECTED_DEPARTMENT' | translate}}：{{selectedDepartment}}</div>
        <div class="col-md-2 no-padding form-group ">
            <button class="btn button-gray-gradient" (click)="reset()"><span class="glyphicon glyphicon-repeat"></span> {{ 'USER_CENTER.RESET' | translate}}</button>
        </div>
    </div>
    <div class="col-md-12 no-padding mgb15 mgt15" style=" line-height : 35px">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table table-hover table-all-boder">
                <tbody>
                <tr>
                    <th class="text-center">{{ 'USER_CENTER.ALI_SELECT' | translate}} </th>
                    <th class="text-center">{{ 'USER_CENTER.DEPARTMENT_NAME' | translate}}</th>
                </tr>
                <tr *ngFor="let item of departsList" [hidden]="item.visible == 'false'">
                    <td class="text-center"><input type='radio' class="fox-cloud-radio" [checked]="item.selected" (change)="selected(item)"/></td>
                    <td class="text-center">{{item.departmentName}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</fc-popup>
