<div class="page-content-header icon-cloud-network-mngOn">
    VMware{{'NET_MNG_VM_IP_MNG.NET_MNG' | translate}}
</div>
<div class="page-content">
        <table class="table table-hover ">
            <thead>
            <tr>
                <th style="text-align:left;line-height: 30px;"> VMware{{'NET_MNG_VM_IP_MNG.NET_MNG' | translate}}--{{'NET_MNG_VM_IP_MNG.MANAGE_STD_NET' | translate}} {{selectedPlatform.regionName}} {{selectedPlatform.dcName}} {{selectedPlatform.platformName}} {{selectedPlatform.platformUrl}}</th>
                <th style="text-align:right;">
                    <button class=" fox-cloud-button fox-cloud-button-white " (click)="goBack();">
                        <span class="icon-button-label">{{'NET_VM_NSX_INDEX.RETURN'| translate}}</span>
                    </button>
                </th>
            </tr>
            </thead>
        </table>

    <div class="mgt15">
        <span class="float-left" style="display:inline-block;font-size:16px;padding:6px 0"> {{'NET_MNG_VM_IP_MNG.DC_NAME' | translate}}：</span>
        <div class="float-left pdr20">
            <select class="pdl20 pdr20 form-control" [(ngModel)]="selectedDC" (change)="selectCluster=defaultCluster;">
                <option [ngValue]="defaultDc">{{'NET_MNG_VM_IP_MNG.ALL' | translate}}</option>
                <option *ngFor="let dc of dcList" [ngValue]="dc">{{dc.dcName}}</option>
            </select>
        </div>
        <span class="float-left" style="display:inline-block;font-size:16px;padding:6px 0"> {{'NET_MNG_VM_IP_MNG.CLUSTER_NAME' | translate}}：</span>
        <div class="float-left">
            <select class="pdl20 pdr20 form-control" [(ngModel)]="selectCluster">
                <option [ngValue]="defaultCluster">{{'NET_MNG_VM_IP_MNG.ALL' | translate}}</option>
                <option *ngFor="let vds of selectedDC.clusters" [ngValue]="vds">{{vds.clusterName}}</option>
            </select>
        </div>
        <button type="button" class="fox-cloud-button fox-cloud-button-white mgl15" style="height:34px;" (click)="filter();">{{'NET_MNG_VM_IP_MNG.ENSURE' | translate}}</button>
    </div>
    <div class="mgt15" style="clear:both"></div>
    <div class="mgb20">
        <button class="fox-cloud-button fox-cloud-button-green" (click)="create();">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label">{{'NET_MNG_VM_IP_MNG.CREATE_STD_NET' | translate}}</span> <!--请添加创建的弹出框-->
        </button>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="edit();">
            <span class="icon-button-label icon-left-button-label">{{'NET_MNG_VM_IP_MNG.EDIT_STD_NET' | translate}}</span>
        </button>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="gotoPortMng();">
            <span class="icon-button-label icon-left-button-label">{{'NET_MNG_VM_IP_MNG.PORTGROUP_ALLOCATION' | translate}}</span>
        </button>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="gotoIpMng();">
            <span class="icon-button-label icon-left-button-label">{{'NET_MNG_VM_IP_MNG.IP_ADDRESS_MNG' | translate}}</span>
        </button>
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{'NET_MNG_VM_IP_MNG.SELECT_OPERATION' | translate}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ><a href="javascript:void(0);" (click)="netEnable();">{{'NET_MNG_VM_IP_MNG.ENABLE' | translate}}</a></li>
                <li ><a href="javascript:void(0);" (click)="netDisable();">{{'NET_MNG_VM_IP_MNG.DISABLE' | translate}}</a></li>
                <li ><a href="javascript:void(0);" (click)="netRemove();">{{'NET_MNG_VM_IP_MNG.DELETE' | translate}}</a></li>
            </ul>
        </div>
    </div>
    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{'NET_MNG_VM_IP_MNG.SELECT' | translate}} </th>
                    <th>{{'NET_MNG_VM_IP_MNG.DC' | translate}}</th>
                    <th>{{'NET_MNG_VM_IP_MNG.CLUSTER_NAME' | translate}}</th>
                    <th>{{'NET_MNG_VM_IP_MNG.CLUSTER_DISPLAY_NAME' | translate}}</th>
                    <th>{{'NET_MNG_VM_IP_MNG.PORTGROUP_DISPLAY_NAME' | translate}}</th>
                    <th>{{'NET_MNG_VM_IP_MNG.PORTGROUP_NAME' | translate}}</th>
                    <th>{{'NET_MNG_VM_IP_MNG.VLAN_ID' | translate}}</th>
                    <th>{{'NET_MNG_VM_IP_MNG.STATUS' | translate}}</th>
                    <th>{{'NET_MNG_VM_IP_MNG.LAST_UPDATE_DATE' | translate}}</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let stdnet of filternets">
                    <td><input type="radio" class="fox-cloud-radio" name="radio" [checked]="stdnet.selected" (change)="selectStdNet(stdnet)"> </td>
                    <td>{{stdnet.dcName}}</td>
                    <td>{{stdnet.clusterName}}</td>
                    <td>{{stdnet.clusterDisplayName}}</td>
                    <td style="position:relative;">
                        {{stdnet.portDisplayName|| 'NET_MNG_VM_IP_MNG.UNSET' | translate}}<span class="icon-edit2 pull-right" (click)="openEditPort(stdnet);stdnet.nameEditing=true;" style="display:inline-block"></span>
                        <div *ngIf="stdnet.nameEditing" class="popover fade bottom in" role="tooltip" style="z-index:50;position:absolute;top: 35px; left: 8.5px; width:420px;max-width:1000px; display: block;">
                            <div class="arrow" style="left: 20%;"></div>
                            <div class="popover-content">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label pull-left">{{'NET_MNG_VM_IP_MNG.DISPLAY_NAME' | translate}}:</label>
                                        <div class="col-sm-9 float-left">
                                            <input type="text" class="form-control" [(ngModel)]="editPort.portDisplayName" rows="3" name="stdnetName"/>
                                        </div>
                                    </div>
                                </form>
                                <div class="pull-right" style="margin-bottom:10px;">
                                    <button class="fox-cloud-button fox-cloud-button-white" (click)="updatePort(stdnet)">{{'NET_MNG_VM_IP_MNG.SAVE' | translate}}</button>
                                    <button class="fox-cloud-button fox-cloud-button-white" (click)="stdnet.nameEditing=false;">{{'NET_MNG_VM_IP_MNG.CNACLE' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>{{stdnet.portGroupName}}</td>
                    <td>{{stdnet.vlanId}}</td>

                    <td [ngClass]="stdnet.status==1?'font-green':'font-orange'">
                        {{stdnet.status | dict:this.service.statusDic | async}}
                    </td>

                    <td>{{stdnet.lastUpdate}}</td>
                </tr>

                <!--getDicText(stdnet.stateDict,this.statusDic)-->
            </tbody>
        </table>
    </div>
    <div style="height:300px;width:100%;"></div>
</div>

<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}"></fc-notice>
<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}" ct="{{'COMMON.CANCEL' | translate}}"></fc-confirm>


<fc-popup #editStdNet title="{{title}}" ot="{{tempEditNet.id==''? 'NET_MNG_VM_IP_MNG.CREATE':'NET_MNG_VM_IP_MNG.SAVE' | translate }}" (of)="saveEditNet(stdnet);" ct="{{'COMMON.CLOSE' | translate}}" (cf)="cancelEdit();">
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>DC：</div>
            <div class="col-sm-6">
                <select class="form-control" [(ngModel)]="selectedDC4Popup" (change)="selectedCluster4Popup = defaultCluster;">
                    <option [ngValue]="defaultDc">{{'NET_MNG_VM_IP_MNG.PLEASE_CHOOSE' | translate}}</option>
                    <option *ngFor="let dc of dcList" [ngValue]="dc">{{dc.dcName}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>{{'NET_MNG_VM_IP_MNG.CLUSTER_NAME' | translate}}：</div>
            <div class="col-sm-6">
                <select class="form-control" [(ngModel)]="selectedCluster4Popup">
                    <option [ngValue]="defaultCluster">{{'NET_MNG_VM_IP_MNG.PLEASE_CHOOSE' | translate}}</option>
                    <option *ngFor="let vds of selectedDC4Popup.clusters" [ngValue]="vds">{{vds.clusterName}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>{{'NET_MNG_VM_IP_MNG.DISPLAY_NAME' | translate}}：</div>
            <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="tempEditNet.portDisplayName" />
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>{{'NET_MNG_VM_IP_MNG.PG_NAME' | translate}}：</div>
            <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="tempEditNet.portGroupName" />
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>{{'NET_MNG_VM_IP_MNG.VLAN_ID' | translate}}：</div>
            <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="tempEditNet.vlanId" />
            </div>
        </div>
    </div>
</fc-popup>

