<div class="prdouct-bunner">
	<div class="main-center pic1">
		<h1 class="b-title">云主机（ECS）</h1>
		<p class="b-p">云主机（Elastic Compute Service，简称 ECS）是一种简单高效、处理能力可弹性伸缩的计算服务，帮助您快速构建更稳定、安全的应用，提升运维效率，降低 IT 成本，使您更专注于核心业务创新。</p>
		<a href="/login.html" class="btn button-orange-deep"> 立即购买 </a> <a class="b-price-info" href="#">产品价格 >></a>
	</div>
</div>

<div class="main-center">

	<ul class="nav nav-tabs" id="myTabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">产品优势</a>
		</li>
		<li role="presentation" class="">
			<a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">产品功能</a>
		</li>
		<li role="presentation" class="">
			<a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">应用场景</a>
		</li>
		<li role="presentation" class="">
			<a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">客户案例</a>
		</li>
		<li role="presentation" class="">
			<a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">帮助文档</a>
		</li>
	</ul>

	<h2 class="p-title">产品优势</h2>

	<table class="table table-hover table-all-border">
		<tbody><tr>
			<th style="width: 20%" class="text-center">优势</th>
			<th class="text-center">云主机CVM</th>
			<th class="text-center">传统服务器</th>
		</tr>
		<tr>
			<td class="text-center"><font class="active">弹性</font></td>
			<td class="text-center">自由配置 CPU、内存、带宽，可随时升级<br>升级配置数据不丢失，业务暂停时间可控</td>
			<td class="text-center">固定配置，难以满足各类需求<br>改配置需硬件升级，周期长，服务停止时间不可控</td>
		</tr>
		<tr>
			<td class="text-center"><font class="active">可靠</font></td>
			<td class="text-center">实例可用性达 99.95%，云盘数据可靠性不低于 99.9999999% <br>自动宕机迁移，自动快照备份（需手动配置快照策略），数据恢复更方便</td>
			<td class="text-center">传统服务器受限于硬件可靠性，易出问题<br>需手工备份，人工数据恢复困难、耗时</td>
		</tr>
		<tr>
			<td class="text-center"><font class="active">易用</font></td>
			<td class="text-center">丰富的操作系统和应用软件，通过镜像可一键简单部署<br>同一镜像可在多台 ECS 中快速复制环境，轻松扩展</td>
			<td class="text-center">几乎不提供任何软件支持<br>新增服务器需人工重复所有的部署操作</td>
		</tr>
		<tr>
			<td class="text-center"><font class="active">安全</font></td>
			<td class="text-center">免费提供 DDoS 防护、木马查杀、防暴力破解等服务 <br>可轻松实现多用户对多服务器的访问控制</td>
			<td class="text-center">需额外购买、部署各种安全措施<br>基本上做不到多用户对多服务器访问控制</td>
		</tr>
		<tr>
			<td class="text-center"><font class="active">节约</font></td>
			<td class="text-center">高性价比，支持包年包月或按量计费，满足不同需求<br>无需服务器网络和硬件等维护，0 成本运维</td>
			<td class="text-center">租用费用高，只能包年包月购买<br>大量人员负责机器运维，成本高</td>
		</tr>
	</tbody></table>
</div>
