<fc-notice #notice ot="{{ 'COMMON.CONFIRM' | translate }}"></fc-notice>
<div class="CheckMngList">
	<div class="page-content-header icon-order-manageOn">{{ 'CHECK_CENTER.APPROVE_LIST' | translate}}</div>
	<div class="page-content">
		<div class="table-container">
			<div class="search-container">
				<input type="text" class="form-control searchbox gray-searchbox" placeholder="{{ 'CHECK_CENTER.ENTER_ORDER_INFORMATION' | translate}}" [(ngModel)]="_param.quickSearchStr"/>
				<span class="glyphicon glyphicon-search searchbox-incon" (click)="search()"></span>
						
				<button class="fox-cloud-button float-left "  [ngClass]="{'fox-cloud-button-white':_isAdvSearch==1,'fox-cloud-button-grey':_isAdvSearch!=1}" (click)="_isAdvSearch = !_isAdvSearch">
					  <span class="icon-button-label pointer">{{ 'CHECK_CENTER.ADVANCED_QUERY' | translate}}</span>
				</button>
		</div>
			<table class="table" *ngIf="_isAdvSearch">
				<tbody>
					<tr>				
						<td >
						    <div class="float-left font-size-16 mgt8 mgr5">{{ 'CHECK_CENTER.ORDER_ATTRIBUTTION' | translate}}: <span class="mgt8 mgl10 mgr5">{{ 'COMMON.ENTERPRISE' | translate }}</span></div>
							<div class="float-left">
								<select class="form-control  select_" [(ngModel)]="_param.entIdStr" (ngModelChange)="entChanged()">
									<option class="hands" [value]="null">{{ 'HOST_OPENSTACK_MNG.ALL_ENTERPRISE' | translate }}</option>
									<option class="hands" *ngFor="let item of _entLoader.Items" [value]="item.id">{{item.name}}</option>
								</select>
							</div>
						</td>
						<td><div class="float-left font-size-16 mgl22 mgt8 mgr15">{{ 'COMMON.DEPARTMENT' | translate }}: </div>

							<div class="float-left">
								<select class="form-control" [(ngModel)]="_param.departmentIdNum" (ngModelChange)="departmentChanged()">
									<option class="hands" [value]="null">{{ 'ORDER_MNG.ALL_DEPARTMENT' | translate }}</option>
									<option class="hands" *ngFor="let item of _departmentLoader.Items" [value]="item.id">{{item.name}}</option>
								</select>
							</div>
						</td>
						<td ><div class="float-left font-size-16 mgt8 mgr15">{{ 'COMMON.SUBMITTER' | translate }}: </div>
							<div class="float-left">
								<select class="form-control" [(ngModel)]="_param.submitUserId">
									<option class="hands" [value]="null">{{ 'CHECK_CENTER.ALL_SUBMITTER' | translate }}</option>
									<option class="hands" *ngFor="let item of _userListLoader.Items" [value]="item.id">{{item.name}}</option>
								</select>
							</div>

						</td>
					</tr>
					<tr class="bgWhite">
						<td ><div class="float-left font-size-16  mgt8 mgr15">{{ 'CHECK_CENTER.ORDERS_TYPE' | translate }}: </div>
								<div class="float-left">
								<select class="form-control" [(ngModel)]="_param.orderTypeNum">
									<option class="hands" [value]="null">{{ 'CHECK_CENTER.ALL_TYPE' | translate }}</option>
									<option class="hands" *ngFor="let item of _orderTypeDic.Items" [value]="item.value">{{item.displayValue}}</option>
								</select>
							</div>
						</td>
						<td><div class="float-left font-size-16 mgt8 mgr15">{{ 'PROD_MNG.PRODUCT_TYPE' | translate }}: </div>
							<div class="float-left">
								<select class="form-control" [(ngModel)]="_param.serviceTypeNum">
									<option class="hands" [value]="null">{{ 'CHECK_CENTER.ALL_TYPE' | translate }}</option>
									<option class="hands" *ngFor="let item of _serviceTypeDic.Items" [value]="item.value">{{item.displayValue}}</option>
								</select>
							</div>
						</td>
						<td><div class="float-left font-size-16 mgt8 mgr15">{{ 'CHECK_CENTER.APPROVER' | translate }}: </div>
							<div class="dropdown float-left">
								<select class="form-control" [(ngModel)]="_param.checkUserIdStr">
									<option class="hands" [value]="null">{{ 'CHECK_CENTER.ALL_USERS' | translate }}</option>
									<option class="hands" *ngFor="let item of _approverListLoader.Items" [value]="item.id">{{item.name}}</option>
								</select>
							</div>
						</td>
					</tr>
					<tr>
						<td><div class="float-left font-size-16 pdt10  mgt8 mgr15">{{ 'COMMON.START_TIME' | translate }}: </div>
							<div class="float-left">			
								<date-picker  #createDatePicker (dateChanged)="onStartDateChange($event)"></date-picker>
							</div>

						</td>
						<td ><div class="float-left font-size-16  pdt10 mgt8 mgr15">{{ 'COMMON.END_TIME' | translate }}: </div>
							<div class="float-left">			
								<date-picker #expireDatePicker (dateChanged)="onEndDateChange($event)"></date-picker>
							</div>
						</td>
						<td>

							<div style="margin-left: 115px;text-align:left!important;">
								<button class="fox-cloud-button-sm  fox-cloud-button-white mgr20" (click)="resetParam()">{{ 'COMMON.RESET' | translate }}</button><button class="fox-cloud-button-sm  fox-cloud-button-white mgl20" (click)="search()">{{ 'COMMON.QUERY' | translate }}</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>	
		</div>
		<div class="mgb10 float-left">{{ 'CHECK_CENTER.NUMBER_OF_APPROVE' | translate }} {{_listLoader.TotalRecords}} ,{{ 'COMMON.RESULTS_FOLLOW' | translate }}: </div>
			<div class="table-container">
				<table class="table table-hover border-gray">
					<thead>	
						<tr class="border-gray">
							<th>{{ 'COMMON.NUMBER' | translate }}</th>
							<th>{{ 'COMMON.ORDER_NUM' | translate }}</th>
							<th>{{ 'PROD_MNG.PRODUCT_TYPE' | translate }}</th>
							<th>{{ 'CHECK_CENTER.ZONE_AND_AVAILABLE_ZONE' | translate }}</th>
							<th>{{ 'CHECK_CENTER.ORDERS_TYPE' | translate }}</th>
							<th>{{ 'CHECK_CENTER.ORDERS_DESCRIPTION' | translate }}</th>
							<th>{{ 'COMMON.SUBMITTER' | translate }}</th>
							<th>{{ 'COMMON.DEPARTMENT' | translate }}</th>
							<th>{{ 'COMMON.ENTERPRISE' | translate }}</th>
							<th>{{ 'COMMON.COST' | translate }}</th>
							<th>{{ 'COMMON.CREATION_TIME' | translate }}</th>
							<th>{{ 'CHECK_CENTER.APPROVE_RESULT' | translate }}</th>
						</tr>			
					</thead>
					<tbody>
						<tr class="border-gray" *ngFor="let item of _listLoader.Items;let i=index;">
							<td>{{i + 1}}</td>
							<td>{{item.orderCodeStr}}<br>
								<a [popover]="myPopover" class="hands">{{ 'COMMON.DETAILS' | translate }}>>>></a>
								<popover-content #myPopover 
									placement="right"
									[animation]="true" 
									[closeOnClickOutside]="true" >
									<!--<ul *ngIf="item.serviceType>1">
										<li *ngFor="let spec of item.specList">{{spec.attrDisplayName}}:{{spec.attrDisplayValue}}</li>
									</ul>-->
									<service-view  [values]="item" *ngIf="item.serviceTypeIdStr==11"></service-view>
									<machine-view  [values]="item" *ngIf="item.serviceTypeIdStr==4"></machine-view>
									<vm-view [values]="item" *ngIf="item.serviceTypeIdStr==0"></vm-view> <!--显示云主机 -->
						 		    <disk-view [values]="item" *ngIf="item.serviceTypeIdStr==1"></disk-view><!-- 显示云硬盘 -->
									 <sql-view  [values]="item" *ngIf="item.serviceTypeIdStr==3"></sql-view>
									 <middleware-view [values]="item" *ngIf="item.serviceTypeIdStr==5" ></middleware-view><!-- 中间件 -->
							</popover-content>
							</td>
							<td>{{item.serviceTypeName}}</td>
							<td><span *ngIf="item.platformStr">{{item.platformStr}}<br/></span>
								{{item.zoneStr}}</td>
							<td>{{item.orderTypeNum}}</td>
							<td>{{item.description}}</td>
							<td>{{item.userStr}}</td>
							<td>{{item.departmentStr}}</td>
							<td>{{item.entStr}}</td>
							<td>{{ 'COMMON.COUNT_MODE' | translate }}: {{item.billingModeNum  | dict:_dictServ.getDic('BILLING_MODE', 'TYPE') |async}}
								<br/>{{ 'COMMON.ORDER_CYCLE' | translate }}: {{item.billingDurationStr}}{{item.periodType | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') |async}}<span class="no-padding" *ngIf="!item.showPrice">次</span>
								<br/>{{ 'COMMON.ONE_TIME_COSTS' | translate }}: ￥{{item.oneTimePriceNum}}
								<span  *ngIf="item.showPrice"><br/>{{ 'COMMON.COST' | translate }}: ￥{{item.priceNum}}/{{item.periodType | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') |async}}</span>
							</td>
							<td>{{item.createTimeStr}}<br>
								<a class="hands" [popover]="checkPopover">{{ 'CHECK_CENTER.APPROVE_DETAILS' | translate }}>>>></a>

								<popover-content #checkPopover 
								placement="left"
								[animation]="true" 
								[closeOnClickOutside]="true" >

									<ul *ngFor="let approveItem of item.checkResult | async">
										<li>{{ 'CHECK_CENTER.APPROVER' | translate }}: &nbsp;&nbsp;{{approveItem.approver}}</li>
										<li>{{ 'CHECK_CENTER.APPROVE_TIME' | translate }}: &nbsp;&nbsp;{{approveItem.operateTime}}</li>
										<li>{{ 'CHECK_CENTER.APPROVE_OPINIONS' | translate }}: &nbsp;&nbsp;{{approveItem.reason}}</li>			
									</ul>

							</popover-content>

							</td>
							<td>
								<ul>
									<li *ngFor="let approveItem of item.checkResult | async">{{approveItem.reason}}</li>
								</ul>
							</td>
							<!-- <td>{{item.checkResultName}}</td> -->
						</tr>
					</tbody>
				</table>
			</div>
			<fc-pagination tp={{_listLoader.TotalPages}} (pf)="changePage($event)"></fc-pagination>
	</div>
</div>