<div class="modal fade" id="zoneBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">同步可用区</h4>
            </div>
            <div class="modal-body">
                <div class="table-container">
                    <table *ngIf="type!='3'" class="table table-hover">
                        <thead>
                            <tr>
                                <th>DC</th>
                                <th>{{"PF_MNG2.AVAILABLE_ZONE_NAME" | translate}}</th>
                                <th>{{"CAPACITY_MNG.DISPLAY_NAME" | translate}}</th>
                                <th>{{"PF_MNG2.NUMBER_OF_HOSTS" | translate}}</th>
                                <th>{{"CAPACITY_MNG.PHYSICAL_CPU_CORE_NUMBER" | translate}}</th>
                                <th>{{"CAPACITY_MNG.TOTAL_MEMORY" | translate}}(MB)</th>
                                <th style="width:10%">{{"CAPACITY_MNG.CPU_EXCEEDING_RATIO" | translate}}</th>
                                <th style="width:10%">{{"COMMON.QUOTA" | translate}}%</th>
                                <th style="width:30%">{{"COMMON.COMMENT" | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let zone of zoneList;let idx=index">
                                <td>
                                    <p *ngFor="let dcOrRegion of zone.dcOrRegion" style="padding:0;margin-bottom: 0">{{dcOrRegion.displayName}}</p>
                                </td>
                                <td>{{zone.name||'NULL'}}</td>
                                <td>
                                    <input class="form-control" type="text" [(ngModel)]="zone.displayName" name="displayName">
                                </td>
                                <td>
                                    <p *ngFor="let host of zone.hosts">{{host||0}}</p>
                                </td>
                                <td>{{zone.vcpunum}}</td>
                                <td>{{zone.memSize}}</td>
                                <td>
                                    <input type="number" class="form-control" [(ngModel)]="zone.exceedPercentage" style="display: inline;" name="exceedPercentage">
                                </td>
                                <td>
                                    <input type="number" class="form-control" [(ngModel)]="zone.quotaPercentDisplay" style="width: 100px; display: inline;" name="quotaPercentDisplay">
                                </td>
                                <td>
                                    <input type="text" class="form-control" [(ngModel)]="zone.description" style="display: inline;" name="description">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table *ngIf="type=='3'" class="table table-hover">
                        <thead>
                            <tr>
                                <th>DC</th>
                                <th>{{"PF_MNG2.AVAILABLE_ZONE_NAME" | translate}}</th>
                                <th>{{"CAPACITY_MNG.DISPLAY_NAME" | translate}}</th>
                                <th>{{"PF_MNG2.NUMBER_OF_HOSTS" | translate}}</th>
                                <th>{{"CAPACITY_MNG.PHYSICAL_CPU_CORE_NUMBER" | translate}}</th>
                                <th>{{"CAPACITY_MNG.TOTAL_MEMORY" | translate}}(MB)</th>
                                <th>{{'PF_MNG2.DESK_CLOUD_EXMAPLE_COUNTS' | translate}}</th>
                                <!--<th style="width:10%">{{"CAPACITY_MNG.CPU_EXCEEDING_RATIO" | translate}}</th>-->
                                <!--<th style="width:10%">{{"COMMON.QUOTA" | translate}}%</th>-->
                                <th style="width:30%">{{"COMMON.COMMENT" | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let zone of zoneList;let idx=index">
                                <td>
                                    <p *ngFor="let dcOrRegion of zone.dcOrRegion" style="padding:0;margin-bottom: 0">{{dcOrRegion.displayName}}</p>
                                </td>
                                <td>{{zone.name||'NULL'}}</td>
                                <td>
                                    <input class="form-control" type="text" [(ngModel)]="zone.displayName" name="displayName">
                                </td>
                                <td>
                                    <p *ngFor="let host of zone.hosts">{{host||0}}</p>
                                </td>
                                <td>{{zone.vcpunum}}</td>
                                <td>{{zone.memSize}}</td>
                                <td>{{zone.vmNumbers||0}}</td>
                                <!--<td>
                                    <input type="number" class="form-control" [(ngModel)]="zone.exceedPercentage" style="display: inline;" name="exceedPercentage">
                                </td>
                                <td>
                                    <input type="number" class="form-control" [(ngModel)]="zone.quotaPercentDisplay" style="width: 100px; display: inline;" name="quotaPercentDisplay">
                                </td>-->
                                <td>
                                    <input type="text" class="form-control" [(ngModel)]="zone.description" style="display: inline;" name="description">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class=" btn btn-default fox-cloud-button-lg" data-dismiss="modal">{{ct || 'COMMON.CANCEL' | translate }}</button>
                <!-- 取消 -->
                <button (click)="addZone()" class=" btn fox-cloud-button-lg fox-cloud-button-white">{{ot || '添加' }}</button>
                <!-- 确认 -->
            </div>
        </div>
    </div>
</div>