	<div class="page-content-header icon-instance">实例列表</div>
	<div class="page-content">
		<div style="padding-bottom: 10px;">
			<div class="dropdown pull-right">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				更多操作
				<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="">操作A</a></li>
				<li><a href="">操作B</a></li>
				<li><a href="">操作C</a></li>
				<li role="separator" class="divider">操作D</li>
				<li><a href="">操作E</a></li>
				</ul>
			</div>
			<div class="pull-right" style="position: relative;">
				<span class="glyphicon glyphicon-search form-control-feedback"></span>
				<input type="text" class="form-control" placeholder="搜索" [(ngModel)]="filterText">
			</div>
			<button class="fox-cloud-button fox-cloud-button-green">
				<span class="glyphicon glyphicon-edit"></span>
				<span class="icon-button-label icon-left-button-label">创建</span>
			</button>
		</div>
		<div class="table-container">
		<table class="table table-hover"> 
			<thead>
				<tr>
					<th class="fristTh"><input type="checkbox" (click)="checkAll()"> 全选</th>
					<th>实例名称</th>
					<th>镜像</th>
					<th>规格</th>
					<th>网络类型</th>
					<th>付费方式</th>
					<th>IP地址</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of (instances | instanceDispPipe: filterText)">
					<td><input type="checkbox" [(ngModel)]="item.checked" [checked]="item.checked"></td>
					<td>{{item.instanceName}}</td>
					<td>{{item.osInfo}}</td>
					<td>{{item.specification}}</td>
					<td>{{item.networkType}}</td>
					<td>{{item.paymentType}}</td>
					<td>{{item.ipAddress}}</td>
					<td>
						<button class="fox-cloud-button-sm fox-cloud-button-white" (click)="hangs(item);">
							<span class="icon-button-label">挂起</span>
						</button>
						<button class="fox-cloud-button-sm fox-cloud-button-grey" (click)="resume(item)">
							<span class="icon-button-label icon-left-button-label">恢复</span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		<fc-pagination tp={{totalPages}} (pf)="changePage($event)"></fc-pagination>
	</div>