<div class="page-content-header icon-content-header-physical-mng">
    {{'USER_CENTER.MSG_CENTER' | translate}}
</div>

<div class="page-content">
    <div class="mgb20">
        <button class="btn btn-default button-gray-gradient" [ngClass]="{'active': paginationFlag === '2'}" (click)="getMsgList('2');">
            {{'USER_CENTER.ALL_MSG' | translate}}
        </button>
        <button class="btn btn-default button-gray-gradient" [ngClass]="{'active': paginationFlag === '0'}" (click)="getMsgList('0');">       
            {{'USER_CENTER.UNREAD_MSG' | translate}}
        </button>
        <button class="btn btn-default button-gray-gradient" [ngClass]="{'active': paginationFlag === '1'}" (click)="getMsgList('1');">       
            {{'USER_CENTER.READ_MSG' | translate}}
        </button>
       
        <div class="dropdown pull-right" >
            <button class="btn btn-default button-gray-gradient" (click)="deleteMsgs();">
                <i class="glyphicon glyphicon-trash"></i>
                {{'COMMON.DELETE' | translate}}
            </button>
            <button class="btn btn-default button-gray-gradient" (click)="markMsgs();">
                <i class="glyphicon glyphicon-folder-open"></i>
                {{'USER_CENTER.MARK_READ' | translate}}
            </button>
        </div>

    </div>

    <div class="table-container">
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th style="width: 80px; text-align: center;"><input type="checkbox" class="fox-cloud-checkbox" name="checkbox" [checked]="allSelected" (click)="selectOrUnSAllItems();" /> <span style="margin: 3px">{{'USER_CENTER.ALL_SELECTED' | translate}}</span></th>
                    <th style="text-align: center;">{{'USER_CENTER.MSG_CONTENT' | translate}}</th>
                    <th style="width: 170px; text-align: center;">{{'USER_CENTER.CREATE_TIME' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let msg of msgAlert.list; let i = index;" >   
                    <td style="text-align: center;"><input type="checkbox" class="fox-cloud-checkbox" name="checkbox" [checked]="msg.checked" (change)="selectItem(i);"></td>
                    <td style="vertical-align: middle">
                        <table style="width: 100%; table-layout: fixed; border: none; padding: 0; margin: 0;">
                            <tr  style="border: none; padding: 0; margin: 0;">
                                <td class="hide_details" style="border: none; padding: 0; margin: 0;">
                                    <i [ngClass]="msg.status==='0'?'glyphicon glyphicon-folder-close':'glyphicon glyphicon-folder-open'"></i>
                                    <a href="javascript:void(0);" [ngStyle]="{'font-weight': msg.status==='0'?'bold':'none'}"> {{msg.content}} </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td> {{msg.createTime}} </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="fox-cloud-pagination-container">
        <fc-pagination #pager tp={{totalPage}} (pf)="getMsgNextPage($event)"></fc-pagination>
    </div>

    <fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}" (of)="okClicked()"></fc-notice>
    <fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}" ct="{{'COMMON.CANCEL' | translate}}"></fc-confirm>

</div>

<fc-popup #deletemsgbox ot="{{'COMMON.CONFIRM' | translate}}" ct="{{'COMMON.CANCEL' | translate}}" title="{{'USER_CENTER.DELETE_MSG' | translate}}" (of)="acceptDeleteMsgModify()" (cf)="cancelDeleteMsgModify()">
	<div class="dialogContent">
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-12">
                        <i class="glyphicon glyphicon-trash"></i>
                        {{'USER_CENTER.DELETE_MSG_CONFIRM' | translate:{value_1: ( selectedmsglist.length )} }}
					</div>
				</div>
			</div>
	</div>
</fc-popup>