<div class="alert-c" #container>
    <div class="alert-icon" (click)="open();"></div>
    <div *ngIf="msgAlert.edge!=0" class="alert-edge" (click)="open();">{{msgAlert.edge}}</div>
    <div class="alert-popup" *ngIf="expand"> 
        <div class="alert-title">{{'USER_CENTER.MSG_NOTIFICATION' | translate}}</div>
        <ul class="alert-list">
            <li *ngFor="let msg of msgAlert.list" (click)="openMsgListPage();">
                <div class="col-md-12 col-sm-12">
                <div class="col-md-6 col-sm-6"><i class="glyphicon glyphicon-envelope" style="margin: 10px"></i><span>{{msg.content}}</span></div>
                <div class="col-md-6 col-sm-6"><span style="vertical-align: top">{{msg.createTime}}</span></div>
                </div>
            </li>
            <!--
            <li>this is message two</li>
            <li>this is message three</li>
            <li>this is message four</li>
            <li>this is message five</li>
            -->
        </ul>
        <div class="alert-center" (click)="openMsgListPage();">
            <a href="javascript:void(0);" (click)="openMsgListPage();">{{'USER_CENTER.MORE_MSG' | translate}}</a>
        </div>
    </div>
</div>