<div class="page-content-header icon-content-header-physical-mng">
    {{'PHY_IMG_MNG.MNG_IMG_LIST' | translate}}： {{sourceName}}
    <button class=" fox-cloud-button-md fox-cloud-button-white pull-right" 
        style="padding:2px 15px;font-size:14px" (click)="backToSource()">
        {{'PHY_IMG_MNG.RETURN_PHY_IMG_MNG' | translate}}
    </button>
</div>
<div class="page-content">
    <div class="mgb20 mgt20"> 
        <button class="fox-cloud-button fox-cloud-button-green mgr10" (click)="syncImg()">
            {{'PHY_IMG_MNG.SYNC_IMG' | translate}}</button>
        <button class="fox-cloud-button fox-cloud-button-green mgr10" (click)="allocateEnt()">
            {{'PHY_IMG_MNG.ALLOCATE_ENT' | translate}}</button>    
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{'PHY_IMG_MNG.SELECT_OPTION' | translate}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a href="javascript:void(0);"(click)="editPhyImgSource()">
                    {{'PHY_IMG_MNG.EDIT' | translate}}</a></li>
                <li><a href="javascript:void(0);"(click)="enable()">
                    {{'PHY_IMG_MNG.ENABLE' | translate}}</a></li>
                <li><a href="javascript:void(0);"(click)="disable()">
                    {{'PHY_IMG_MNG.DISABLE' | translate}}</a></li>
                <li><a href="javascript:void(0);"(click)="delete()">
                    {{'PHY_IMG_MNG.DELETE' | translate}}</a></li>
            </ul>
        </div>
    </div>
    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{'PHY_IMG_MNG.SELECT' | translate}}</th>
                    <th>{{'PHY_IMG_MNG.IMAGE_DISPLAY_NAME' | translate}}</th>
                    <th>{{'PHY_IMG_MNG.IMAGE_FILE_NAME' | translate}}</th>
                    <th>{{'PHY_IMG_MNG.OS' | translate}}</th>
                    <th>{{'PHY_IMG_MNG.BIT' | translate}}</th>
                    <th>{{'PHY_IMG_MNG.IMAGE_TYPE' | translate}}</th>
                    <th>{{'PHY_IMG_MNG.AFFILIATED_ENTERPRISE' | translate}}</th>
                    <th>{{'PHY_IMG_MNG.STATUS' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let img of phyImgList"(click)="selectImg(img)">
                    <td><input type="radio" class="fox-cloud-radio" name="radio"[checked]="img.selected"(change)="img.selected = $event.target.checked"/>
                        </td>
                    <td><a href="javascript:void(0);"(click)="showImgDetail(img.id)">{{img.destImageName}}</a></td>
                    <td>{{img.origImageName}}</td>
                    <td>{{img.osTypeId | dict: this.service.osDic | async}}</td>
                    <td>{{img.bitId | dict: this.service.bits_typeDic | async}}</td>
                    <td>{{img.imageTypeId | dict: this.service.typeDic | async}}</td> 
                    <td [ngSwitch]="img.imageTypeId" style="max-width:300px;">
                        <li *ngSwitchCase="0">
                            {{'COMMON.ALL' | translate}}
                        </li>
                        <li *ngSwitchCase="1">
                            <span *ngFor="let e of img.enterpriseSelectedList" style=";display: inline-block; padding: 2px 5px;">
                            {{e.com}}
                            </span>
                        </li>
                    </td>     
                    <td [ngClass]="{'font-green':img.status==1,'font-orange':img.status==0}">
                        {{img.status | dict: this.service.imgStatusDic | async}}</td> 
                </tr>
            </tbody>
        </table>
    </div>
    <div class="fox-cloud-pagination-container">
        <fc-pagination #pager tp={{totalPage}} (pf)="getPhyImgList($event)"></fc-pagination>
    </div>
   
</div>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'PHY_IMG_MNG.CONFIRM' | translate}}"></fc-notice>
<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'PHY_IMG_MNG.CONFIRM' | translate}}" ct="{{'PHY_IMG_MNG.CANCEL' | translate}}"></fc-confirm>


<!--编辑镜像弹出框-->
<fc-popup #editPopup title="{{'PHY_IMG_MNG.EDIT_IMAGE' | translate}}" 
        ot="{{'PHY_IMG_MNG.SAVE' | translate}}" 
        (of)="commitEdit();" 
        ct="{{'PHY_IMG_MNG.CLOSE' | translate}}" 
        (cf)="cancelEdit();">

        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">{{'PHY_IMG_MNG.IMAGE_DISPLAY_NAME' | translate}}：</div>
                <div class="col-sm-6">
                    <input type="string" class="form-control input-control" [(ngModel)]="tempEdit.destImageName">
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">{{'PHY_IMG_MNG.IMAGE_FILE_NAME' | translate}}:</div>
                <div class="col-sm-6">
                    {{tempEdit.origImageName}}
                    </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">{{'PHY_IMG_MNG.OS' | translate}}:</div>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="tempEdit.osTypeId">
                        <option *ngFor="let os of service.osDic | async " [value]="os.value">
                            {{os.displayValue}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">{{'PHY_IMG_MNG.BIT' | translate}}:</div>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="tempEdit.bitId">
                        <option *ngFor="let bit of service.bits_typeDic | async" [value]="bit.value">
                            {{bit.displayValue}}</option>

                    </select>
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">{{'PHY_IMG_MNG.IMAGE_TYPE' | translate}}:</div>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="tempEdit.imageTypeId"(change)="ischangeType(tempEdit.imageTypeId)">
                        <option *ngFor="let type of service.typeDic | async" [value]="type.value">
                            {{type.displayValue}}</option>

                    </select>
                </div>
            </div>
        </div>
    </fc-popup>