<div class="page-content-header icon-content-header-physical-mng">
    同步物理机镜像
    <button class=" fox-cloud-button-md fox-cloud-button-white pull-right" style="padding:2px 15px;font-size:14px" (click)="backToList()">
        返回镜像管理列表
    </button>
</div>
<div class="page-content">
    <div class="table-container mgt20">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>选择</th>
                    <th>编号</th>
                    <th>镜像显示名称</th>
                    <th>镜像文件名</th>
                    <th>操作系统</th>
                    <th>系统位数</th>
                    <th>镜像类型</th>
                    <th>所属企业</th>
                    <th>同步结果</th>          
                </tr>             
            </thead>
            <tbody>
                <tr>
                    <tr *ngFor = "let img of phyImgList; let i=index ">
                    <td><input type="radio" class="fox-cloud-radio" name="radio"[checked]="img.selected"(change)="img.selected = $event.target.checked"/>
                    </td>
                    <td>{{i+1}}</td>
                    <td>
                        <input class="form-control" type="text" style="padding:0;text-align:left"  [(ngModel)]="img.destImageName" />
                    </td>
                    <td>{{img.origImageName}}</td>
                    <!--<td>{{img.osTypeName}}</td>
                    <td>{{img.bitName}}</td>
                    <td>{{img.imageTypeName}}</td> -->
                    <td>
                        <select class="form-control" [(ngModel)]="tempEdit.osTypeId">
                            <option *ngFor="let os of service.osDic | async " [ngValue]="os.value" [ngClass]="setDefaultOs(os,tempEditImage.osTypeId)">
                                {{os.displayValue}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" [(ngModel)]="tempEdit.bitId">
                            <option *ngFor="let bit of service.bits_typeDic | async" [ngValue]="bit.value" [ngClass]="setDefaultOs(bit,tempEditImage.bitId)">
                                {{bit.displayValue}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" [(ngModel)]="tempEdit.imageTypeId">
                            <option *ngFor="let type of service.typeDic | async" [ngValue]="type.value" [ngClass]="setDefaultOs(type,tempEditImage.imageTypeId)">
                                {{type.displayValue}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <li *ngFor="let e of img.enterpriseSelectedList" style="display: inline-block; padding: 2px 5px;">
                            {{e.com}}
                        </li>
                    </td>     
                    <td [ngClass]="{'font-green':img.syncStatusId==0,'font-orange':img.syncStatusId==2}">
                        {{img.syncStatusName}}</td> 
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="text-center mgt20">
    <button class="fox-cloud-button-lg fox-cloud-button-white">
        <span class="icon-button-label"(click)="backToList()">取消</span>
    </button>
    <button class="fox-cloud-button-lg fox-cloud-button-white">
        <span class="icon-button-label"(click)="saveSyncInfo()">保存</span>
    </button>
</div>

<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'HOST_OPENSTACK_MNG.CONFIRM' | translate}}"></fc-notice>