<div class="page-content-header icon-content-header-physical-mng">
    {{'PHY_IMG_MNG.SYNC_PHY_IMAGE' | translate}}
    <button class=" fox-cloud-button-md fox-cloud-button-white pull-right" style="padding:2px 15px;font-size:14px" (click)="backToList()">
        {{'PHY_IMG_MNG.RETURN_IMAGE_MANAGEMENT' | translate}}
    </button>
</div>
<div class="page-content">
    <div class="table-container mgt20">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{'PHY_IMG_MNG.SELECT' | translate}}</th>
                    <th>{{'PHY_IMG_MNG.NUMBER' | translate}}</th>
                    <th>{{'PHY_IMG_MNG.IMAGE_DISPLAY_NAME' | translate}}</th>
                    <th>{{'PHY_IMG_MNG.IMAGE_FILE_NAME' | translate}}</th>
                    <th>{{'PHY_IMG_MNG.OS' | translate}}</th>
                    <th>{{'PHY_IMG_MNG.BIT' | translate}}</th>
                    <th>{{'PHY_IMG_MNG.IMAGE_TYPE' | translate}}</th>
                    <th>{{'PHY_IMG_MNG.AFFILIATED_ENTERPRISE' | translate}}</th>
                    <th>{{'PHY_IMG_MNG.SYNC_RESULT' | translate}}</th>          
                </tr>             
            </thead>
            <tbody>
                <tr>
                    <tr *ngFor = "let img of phyImgList; let i=index ">
                    <td><input type="radio" class="fox-cloud-radio" name="radio"[checked]="img.selected"(change)="img.selected = $event.target.checked;clearOther(i)"/>
                    </td>
                    <td>{{i+1}}</td>
                    <td>
                        <input class="form-control" type="text" style="padding:10px;text-align:left"  [(ngModel)]="img.destImageName" />
                    </td>
                    <td>{{img.origImageName}}</td>
                    <!--<td>{{img.osTypeName}}</td>
                    <td>{{img.bitName}}</td>
                    <td>{{img.imageTypeName}}</td> -->
                    <td>
                        <select class="form-control" [(ngModel)]="img.osTypeId">
                            <option *ngFor="let os of service.osDic | async " [value]="os.value" >
                                {{os.displayValue}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" [(ngModel)]="img.bitId">
                            <option *ngFor="let bit of service.bits_typeDic | async" [value]="bit.value">
                                {{bit.displayValue}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" [(ngModel)]="img.imageTypeId" (change)="ischangeType(i)">
                            <option *ngFor="let type of service.typeDic | async" [value]="type.value" >
                                {{type.displayValue}}
                            </option>
                        </select>
                    </td>
                    <td style="max-width:300px;">
                        <span *ngIf="img.imageTypeId==1">
                            <li *ngFor="let e of img.enterpriseSelectedList" style="display: inline-block; padding: 2px 5px;">
                                {{e.com}}
                            </li>
                        </span>
                        <span *ngIf="img.imageTypeId==0">
                            {{'COMMON.ALL' | translate}}</span>
                    </td>     
                    <!--<td [ngSwitch]="img.imageTypeId" style="max-width:300px;">
                        <li *ngSwitchCase="0">
                            {{'COMMON.ALL' | translate}}
                        </li>
                        <li *ngSwitchCase="1">
                            <span *ngFor="let e of img.enterpriseSelectedList" style=";display: inline-block; padding: 2px 5px;">
                            {{e.com}}
                            </span>
                        </li>
                    </td>     -->
                    <td [ngClass]="{'font-green':img.syncStatusId==0,'font-orange':img.syncStatusId==2}">
                        {{img.syncStatusName}}</td> 
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="text-center mgt20">
    <button class="fox-cloud-button-lg fox-cloud-button-white"(click)="backToList()">
        <span class="icon-button-label">{{'PHY_IMG_MNG.CANCEL' | translate}}</span>
    </button>
    <button class="fox-cloud-button-lg fox-cloud-button-white"(click)="saveSyncInfo()">
        <span class="icon-button-label">{{'PHY_IMG_MNG.SAVE' | translate}}</span>
    </button>
</div>

<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'HOST_OPENSTACK_MNG.CONFIRM' | translate}}"></fc-notice>