<div class="page-content-header icon-content-header-physical-mng">
    查看镜像
     <button class=" fox-cloud-button-md fox-cloud-button-white pull-right" style="padding:2px 15px;font-size:14px" key="boe/physical-image-mng.html">
        返回镜像管理列表
    </button>
</div>
<div class="page-content">
    <div  style="margin-top:30px; padding-left:200px">       
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">镜像显示名称:</div>
                <div class="col-md-4">
                    <span style="line-height:34px">windows2012dc </span>
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">镜像文件名:</div>
                <div class="col-md-4">
                    <span style="line-height:34px">windows2012 R2 64位 </span>
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">操作系统:</div>
                <div class="col-md-4">
                    <span style="line-height:34px">windows2012 Datecenter R2 </span>
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">系统位数:</div>
                <div class="col-md-4">
                    <span style="line-height:34px">64位 </span>
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">镜像类型:</div>
                <div class="col-md-4">
                    <span style="line-height:34px">私有镜像</span>
                </div>
            </div>
        </div>
     </div>
    <div class="row mgt20">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <table class="table table-hover" style="border: 1px solid #cfd8e7;">
                <thead>
                    <tr>
                        <th>已分配企业</th>
                    </tr>
                </thead>
                <tbody>                 
                    <tr>
                        <td>BOE-CIO总部</td>
                    </tr>
                    <tr>
                        <td>BOE-信管中心1</td>
                    </tr>
                        <tr>
                        <td>BOE-信管中心2</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4"></div>
    </div>
 </div>
 <div class="text-center mgt20">
    <button class="fox-cloud-button-lg fox-cloud-button-white">
        <span class="icon-button-label">关闭</span>
    </button>
</div>