<div class="page-content-header icon-content-header-physical-mng">
    {{'PHY_IMG_MNG.SEE_IMAGE' | translate}}
     <button class=" fox-cloud-button-md fox-cloud-button-white pull-right" 
        style="padding:2px 15px;font-size:14px" (click)="backToList()">
         {{'PHY_IMG_MNG.RETURN_IMAGE_MANAGEMENT' | translate}}
    </button>
</div>
<div class="page-content">
    <div  style="margin-top:30px; padding-left:200px"> 
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">{{'PHY_IMG_MNG.IMAGE_DISPLAY_NAME' | translate}}:</div>
                <div class="col-md-4">
                    <span style="line-height:34px">{{img.destImageName}} </span>
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">{{'PHY_IMG_MNG.IMAGE_FILE_NAME' | translate}}:</div>
                <div class="col-md-4">
                    <span style="line-height:34px">{{img.origImageName}} </span>
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">{{'PHY_IMG_MNG.OS' | translate}}:</div>
                <div class="col-md-4">
                    <span style="line-height:34px">{{img.osTypeId | dict: this.service.osDic | async}}</span>
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">{{'PHY_IMG_MNG.BIT' | translate}}:</div>
                <div class="col-md-4">
                    <span style="line-height:34px">{{img.bitId | dict: this.service.bits_typeDic | async}}</span>
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">{{'PHY_IMG_MNG.IMAGE_TYPE' | translate}}:</div>
                <div class="col-md-4">
                    <span style="line-height:34px">{{img.imageTypeId | dict: this.service.typeDic | async}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mgt20">
        <div class="col-md-4"></div>
       
        <div class="col-md-4 ">
            <div style="height: 250px; width: 300px; overflow-x: scroll; overflow-y: scroll; border: 1px solid #cfd8e7;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="text-center">{{'PHY_IMG_MNG.SELECTED_ENTERPRISE' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ent of img.enterpriseSelectedList">
                            <td style="text-align:left;padding-left:10px">
                                <span style="text-align:left;padding-left:20px" class="span2" > 
                                    {{ent.com}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        
        <div class="col-md-4"></div>
    </div>
</div>
<div class="text-center mgt20">
    <button class="fox-cloud-button-lg fox-cloud-button-white"(click)="backToList()">
        <span class="icon-button-label">{{'PHY_IMG_MNG.CANCEL' | translate}}</span>
    </button>
</div>
