<div class="page-content-header icon-content-header-userCenterOn">角色管理</div>
<div class="table-container" style="margin-top : 40px">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{'HOST_OPENSTACK_MNG.NUMBER' | translate}}<!--编号--></th>
                <th>{{'USER_CENTRE.ROLE_NAME' | translate}}<!--角色名称--></th>
                <th>{{'NET_MNG_OPENSTACK.STATUS' | translate}}<!--状态--></th>
                <th>{{'COMMON.DESCRIPTION' | translate}}<!--描述--></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let role of roles;let idx = index">
                <td>{{idx+1}}</td>
                <td><a [routerLink]="['/user-center/role-mng/role-mng-detail',role.id]">{{role.roleName}}</a></td>
                <td>{{role.status}}</td>
                <td>{{role.description}}</td>
            </tr>
            </tbody>
        </table>
    </div>