<div class="page-content-header icon-content-header-platform-manage">
    查看角色
    <button class="pull-right fox-cloud-button-md fox-cloud-button-white" style="line-height:28px ;margin-left: 20px">
        返回角色管理
    </button>
</div>


<div class="row" style="padding-top: 30px;">
    <div class="col-md-12">
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">
                    角色名称 :
                </div>
                <div class="col-sm-4" style="line-height : 34px">
                    一级管理员
                </div>
            </div>
        </div>

        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title">
                    权限树 :
                </div>
                <div class="col-sm-4" style="line-height : 34px;border : 1px solid #A9A9A9">
                    <Tree [nodes]="nodes" [options]="options">
                        <template #treeNodeTemplate let-node>
                            <span style="color: #00a982;padding-right: 5px;"
                            class = "glyphicon"
                            [ngClass]="{'glyphicon-folder-open' : node.isExpanded==true,'glyphicon-folder-close' : node.isExpanded==false,'glyphicon-folder-close' : !node.isExpanded}">
                            </span>
                            <input type="checkbox" checked="{{ node.data.checked}}" disabled/>
                            <span style="padding-left : 5px">{{ node.data.name }}</span>
                        </template>
                    </Tree>
                </div>
            </div>
        </div>


    </div>
</div>