<div class="page-content-header icon-content-header-operation-center">
    工单详细：{{caseInfo.id}}-{{caseInfo.subject}}  
</div>
<div class="page-content">
   <div style="padding-left:20%">
        <div class="  mgt20" style="padding-left:9%;font-size:18px"> 基本信息</div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-2 form-control-title" >主题:</div>
                <div class="col-md-4"> <span style="line-height:34px">{{caseInfo.subject}}</span> </div>
            </div>
        </div>
        <div class="row row-line-height ">
            <div class="  col-md-4" >
                <div class="form-group ">
                    <div class="col-md-6 form-control-title" >状态:</div>
                    <div class="col-md-4"> <span style="line-height:34px">{{caseInfo.statusName}}</span> </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group ">
                    <div class="col-sm-5 form-control-title" >类别:</div>
                    <div class="col-md-7"> <span style="line-height:34px"> {{caseInfo.typeName}} </span></div>
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="  col-md-4" >
                <div class="form-group">
                    <div class="col-sm-6 form-control-title" > 联系人:</div>
                    <div class="col-md-4"> <span style="line-height:34px">{{caseInfo.contact}}</span> </div>
                </div>
            </div>                   
            <div class="col-md-4"> 
                <div class="form-group">
                    <div class="col-sm-5 form-control-title" >联系电话:</div>
                    <div class="col-md-7">  <span style="line-height:34px">{{caseInfo.contactNo}}</span> </div> 
                </div>
            </div>
        </div>
        <div class="row row-line-height">  
            <div class="  col-md-4" >
                <div class="form-group">
                    <div class="col-sm-6 form-control-title" >提交者:</div>
                    <div class="col-md-4">  <span style="line-height:34px">{{caseInfo.creatorName}}</span> </div> 
                </div>
            </div>
        <div class="col-md-4"> 
                <div class="form-group">
                    <div class="col-sm-5 form-control-title" >提交时间:</div>
                    <div class="col-md-7">  <span style="line-height:34px">{{caseInfo.updateDate| formatDate}}</span> </div> 
                </div>
            </div>
        </div>
        <div class="row row-line-height"> 
            <div class="col-md-4" > 
                <div class="form-group">
                    <div class="col-sm-6 form-control-title" >所属部门:</div>
                    <div class="col-md-4">  <span style="line-height:34px">{{caseInfo.creatorOrganization}}</span> </div> 
                </div>
            </div>
            <div class="col-md-4">  
                <div class="form-group">
                    <div class="col-sm-5 form-control-title" >所属企业:</div>
                    <div class="col-md-7">  <span style="line-height:34px">{{caseInfo.creatorTenant}}</span> </div> 
                </div>
            </div>
        </div>
        <div class="row row-line-height">  
            <div class="form-group">
                <div class="col-sm-2 form-control-title">描述:</div>
                <div class="col-md-4">
                    <textarea class="form-control" rows="3" >{{caseInfo.details}}</textarea>
                </div>
            </div>
        </div>


        <div class="  mgt20" style="padding-left:9%;font-size:18px"> 处理信息</div> 
        <div *ngFor="let handleInfo of handleInfoes" >      
        <div class="row row-line-height">  
            <div class="form-group">
                <div class="col-sm-2 form-control-title" >紧急程度:</div>
                <div class="col-md-4">  <span style="line-height:34px">{{handleInfo.emergency}}</span> </div> 
            </div>
        </div>  
        <div class="row row-line-height"> 
            <div class="col-md-4" > 
                <div class="form-group">
                    <div class="col-sm-6 form-control-title" >处理人:</div>
                    <div class="col-md-4">  <span style="line-height:34px">{{handleInfo.handlerName}}</span> </div> 
                </div>
            </div>
            <div class="col-md-4">  
                <div class="form-group">
                    <div class="col-sm-5 form-control-title" >处理时间:</div>
                    <div class="col-md-7">  <span style="line-height:34px">{{handleInfo.handleDate|formatDate}}</span> </div> 
                </div>
            </div>
        </div>                      
        <div class="row row-line-height">  
            <div class="form-group">
                <div class="col-sm-2 form-control-title">处理记录:</div>
                <div class="col-md-4">  
                    <textarea class="form-control" rows="3" placeholder="最多只能输入1000个文字">{{handleInfo.handleInfo}}</textarea>
                </div> 
            </div>
        </div>


        <div class="  mgt20" style="padding-left:9%;font-size:18px"> 关闭信息</div>                  
        <div class="row row-line-height">  
            <div class="form-group">
                <div class="col-sm-2 form-control-title">关闭人:</div>
                <div class="col-md-4">  <span style="line-height:34px">{{closeInfo.closerName}}</span> </div> 
            </div>
        </div>

        <div class="row row-line-height">  
            <div class="  col-md-4" >
                <div class="form-group">
                    <div class="col-sm-6 form-control-title" >关闭类型:</div>
                    <div class="col-md-4">  <span style="line-height:34px">{{closeInfo.closeType}}</span> </div> 
                </div>
            </div>
            <div class="col-md-4"> 
                <div class="form-group">
                    <div class="col-sm-5 form-control-title" >关闭时间:</div>
                    <div class="col-md-7">  <span style="line-height:34px">{{closeInfo.closeDate|formatDate}}</span> </div> 
                </div>
            </div>
        </div>

        <div class="row row-line-height">  
            <div class="form-group">
                <div class="col-sm-2 form-control-title" >描述:</div>
                <div class="col-md-4">
                    <textarea class="form-control" rows="3" placeholder="">{{closeInfo.closeInfo}}</textarea>
                </div>
            </div>
        </div>
   </div>
</div>
<div class="text-center mgt20">
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="backtoList();">
        <span class="icon-button-label">返回</span>
    </button>
</div>