<div class="page-content-header icon-content-header-operation-center">
    工单详细：9-不能访问公司OA系统主机  
</div>
<div class="page-content">
   <div style="padding-left:20%">
        <div class="  mgt20" style="padding-left:9%;font-size:18px"> 基本信息</div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-2 form-control-title" >主题:</div>
                <div class="col-md-4"> <span style="line-height:34px">不能访问公司OA系统主机</span> </div>
            </div>
        </div>
        <div class="row row-line-height ">
            <div class="  col-md-4" >
                <div class="form-group ">
                    <div class="col-md-6 form-control-title" >状态:</div>
                    <div class="col-md-4"> <span style="line-height:34px">已关闭</span> </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group ">
                    <div class="col-sm-5 form-control-title" >类别:</div>
                    <div class="col-md-7"> <span style="line-height:34px"> 云主机 </span></div>
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="  col-md-4" >
                <div class="form-group">
                    <div class="col-sm-6 form-control-title" > 联系人:</div>
                    <div class="col-md-4"> <span style="line-height:34px">管华</span> </div>
                </div>
            </div>                   
            <div class="col-md-4"> 
                <div class="form-group">
                    <div class="col-sm-5 form-control-title" >联系电话:</div>
                    <div class="col-md-7">  <span style="line-height:34px">02164223399</span> </div> 
                </div>
            </div>
        </div>
        <div class="row row-line-height">  
            <div class="  col-md-4" >
                <div class="form-group">
                    <div class="col-sm-6 form-control-title" >提交者:</div>
                    <div class="col-md-4">  <span style="line-height:34px">管华</span> </div> 
                </div>
            </div>
        <div class="col-md-4"> 
                <div class="form-group">
                    <div class="col-sm-5 form-control-title" >提交时间:</div>
                    <div class="col-md-7">  <span style="line-height:34px">2016-12-13 16:00:00</span> </div> 
                </div>
            </div>
        </div>
        <div class="row row-line-height"> 
            <div class="col-md-4" > 
                <div class="form-group">
                    <div class="col-sm-6 form-control-title" >所属部门:</div>
                    <div class="col-md-4">  <span style="line-height:34px">销售部</span> </div> 
                </div>
            </div>
            <div class="col-md-4">  
                <div class="form-group">
                    <div class="col-sm-5 form-control-title" >所属企业:</div>
                    <div class="col-md-7">  <span style="line-height:34px">上海惠普有限公司</span> </div> 
                </div>
            </div>
        </div>
        <div class="row row-line-height">  
            <div class="form-group">
                <div class="col-sm-2 form-control-title">描述:</div>
                <div class="col-md-4">
                    <textarea class="form-control" rows="3" placeholder=""></textarea>
                </div>
            </div>
        </div>


        <div class="  mgt20" style="padding-left:9%;font-size:18px"> 处理信息</div>        
        <div class="row row-line-height">  
            <div class="form-group">
                <div class="col-sm-2 form-control-title" >紧急程度:</div>
                <div class="col-md-4">  <span style="line-height:34px">紧急</span> </div> 
            </div>
        </div>  
        <div class="row row-line-height"> 
            <div class="col-md-4" > 
                <div class="form-group">
                    <div class="col-sm-6 form-control-title" >处理人:</div>
                    <div class="col-md-4">  <span style="line-height:34px">戴侯华</span> </div> 
                </div>
            </div>
            <div class="col-md-4">  
                <div class="form-group">
                    <div class="col-sm-5 form-control-title" >处理时间:</div>
                    <div class="col-md-7">  <span style="line-height:34px">2016-12-13 16:00:00</span> </div> 
                </div>
            </div>
        </div>                      
        <div class="row row-line-height">  
            <div class="form-group">
                <div class="col-sm-2 form-control-title">处理记录:</div>
                <div class="col-md-4">  
                    <textarea class="form-control" rows="3" placeholder="最多只能输入1000个文字"></textarea>
                </div> 
            </div>
        </div>

        <div class="  mgt20" style="padding-left:9%;font-size:18px"> 关闭信息</div>                  
        <div class="row row-line-height">  
            <div class="form-group">
                <div class="col-sm-2 form-control-title">关闭人:</div>
                <div class="col-md-4">  <span style="line-height:34px">管华</span> </div> 
            </div>
        </div>

        <div class="row row-line-height">  
            <div class="  col-md-4" >
                <div class="form-group">
                    <div class="col-sm-6 form-control-title" >关闭类型:</div>
                    <div class="col-md-4">  <span style="line-height:34px">完成</span> </div> 
                </div>
            </div>
            <div class="col-md-4"> 
                <div class="form-group">
                    <div class="col-sm-5 form-control-title" >关闭时间:</div>
                    <div class="col-md-7">  <span style="line-height:34px">2016-12-13 16:00:00</span> </div> 
                </div>
            </div>
        </div>

        <div class="row row-line-height">  
            <div class="form-group">
                <div class="col-sm-2 form-control-title" >描述:</div>
                <div class="col-md-4">
                    <textarea class="form-control" rows="3" placeholder=""></textarea>
                </div>
            </div>
        </div>
   </div>
</div>
<div class="text-center mgt20">
    <button class="fox-cloud-button-lg fox-cloud-button-white">
        <span class="icon-button-label">返回</span>
    </button>
</div>