<div class="page-content-header icon-content-header-operation-center">
    {{'CASE_MNG.CASE_DETAIL'|translate}}
</div>
<div class="page-content">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <div class="row mgt20" style="margin-left:29px">
            <div class="col-md-2"><span style="border:3px solid  @mainColor;border-radius:50px;"></span>
                <span style="font-size:18px;font-weight:700;padding-left:5px"> {{'CASE_MNG.CASE_INFO'|translate}}</span>
            </div>
        </div>
       
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-2 form-control-title" >{{'CASE_MNG.SUBJECT'|translate}}:</div>
                <div class="col-md-4" style="word-break:break-all;"> <span style="line-height:34px">{{caseInfo.subject}}</span> </div>
            </div>
        </div>
        <div class="row row-line-height ">
            <div class="  col-md-4" >
                <div class="form-group ">
                    <div class="col-md-6 form-control-title" >{{'CASE_MNG.STATUS'|translate}}:</div>
                    <div class="col-md-6"> <span style="line-height:34px">{{caseInfo.statusName}}</span> </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group ">
                    <div class="col-sm-5 form-control-title" >{{'CASE_MNG.TYPE'|translate}}:</div>
                    <div class="col-md-7"> <span style="line-height:34px"> {{caseInfo.typeName}} </span></div>
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="  col-md-4" >
                <div class="form-group">
                    <div class="col-sm-6 form-control-title" > {{'CASE_MNG.CONTACTOR'|translate}}:</div>
                    <div class="col-md-6" style="word-break:break-all;"> <span style="line-height:34px">{{caseInfo.contact}}</span> </div>
                </div>
            </div>                   
            <div class="col-md-4"> 
                <div class="form-group">
                    <div class="col-sm-5 form-control-title" >{{'CASE_MNG.TEL'|translate}}:</div>
                    <div class="col-md-7">  <span style="line-height:34px">{{caseInfo.contactNo}}</span> </div> 
                </div>
            </div>
        </div>
        <div class="row row-line-height">  
            <div class="  col-md-4" >
                <div class="form-group">
                    <div class="col-sm-6 form-control-title" >{{'CASE_MNG.CREATOR'|translate}}:</div>
                    <div class="col-md-6">  <span style="line-height:34px">{{caseInfo.creatorName}}</span> </div> 
                </div>
            </div>
        <div class="col-md-4"> 
                <div class="form-group">
                    <div class="col-sm-5 form-control-title" >{{'CASE_MNG.COMMIT_TIME'|translate}}:</div>
                    <div class="col-md-7">  <span style="line-height:34px">{{caseInfo.updateDate}}</span> </div> 
                </div>
            </div>
        </div>
        <div class="row row-line-height"> 
            <div class="col-md-4" > 
                <div class="form-group">
                    <div class="col-sm-6 form-control-title" >{{'CASE_MNG.DEPARTMENT'|translate}}:</div>
                    <div class="col-md-6">  <span style="line-height:34px">{{caseInfo.creatorOrganization}}</span> </div> 
                </div>
            </div>
            <div class="col-md-4">  
                <div class="form-group">
                    <div class="col-sm-5 form-control-title" >{{'CASE_MNG.ENTERPRISE'|translate}}:</div>
                    <div class="col-md-7">  <span style="line-height:34px">{{caseInfo.creatorTenant}}</span> </div> 
                </div>
            </div>
        </div>
        <div class="row row-line-height">  
            <div class="form-group">
                <div class="col-sm-2 form-control-title">{{'CASE_MNG.DESCRIPTION'|translate}}:</div>
                <div class="col-md-5">
                    <textarea class="form-control" rows="3"  disabled>{{caseInfo.details}}</textarea>
                </div>
            </div>
        </div>
        
       <!--<div *ngIf="caseInfo.statusName!=='新建'">-->
        <div *ngIf="handleInfoes.length">
           <div style="border-top:1px solid #00a982;width: 700px;margin-top: 20px;"></div>
            <div class="row mgt20" style="margin-left:29px;">
                <div class="col-md-2"><span style="border:3px solid #00a982;border-radius:50px;"></span>
                    <span style="font-size:18px;font-weight:700;padding-left:5px"> {{'CASE_MNG.HANDLE_INFO'|translate}}</span>
                </div>
            </div> 
          
            <div *ngFor="let handleInfo of handleInfoes" >      
                <div class="row row-line-height">  
                    <div class="form-group">
                        <div class="col-sm-2 form-control-title" >{{'CASE_MNG.EMERGENCY'|translate}}:</div>
                        <div class="col-md-4">  <span style="line-height:34px">{{handleInfo.emergency}}</span> </div> 
                    </div>
                </div>  
                <div class="row row-line-height"> 
                    <div class="col-md-4" > 
                        <div class="form-group">
                            <div class="col-sm-6 form-control-title" >{{'CASE_MNG.HANDLER'|translate}}:</div>
                            <div class="col-md-6">  <span style="line-height:34px">{{handleInfo.handlerName}}</span> </div> 
                        </div>
                    </div>
                    <div class="col-md-4">  
                        <div class="form-group">
                            <div class="col-sm-5 form-control-title" >{{'CASE_MNG.HANDLE_TIME'|translate}}:</div>
                            <div class="col-md-7">  <span style="line-height:34px">{{handleInfo.handleDate}}</span> </div> 
                        </div>
                    </div>
                </div>                      
                <div class="row row-line-height">  
                    <div class="form-group">
                        <div class="col-sm-2 form-control-title">{{'CASE_MNG.HANDLE_RECORD'|translate}}:</div>
                        <div class="col-md-5">  
                            <textarea class="form-control" rows="3" disabled >{{handleInfo.handleInfo}}</textarea>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        
        <div *ngIf="caseInfo.statusName=='已关闭'">
            <div style="border-top:1px solid #00a982;width: 700px;margin-top: 20px;"></div>
             <div class="row mgt20" style="margin-left:29px;">
                <div class="col-md-2"><span style="border:3px solid #00a982;border-radius:50px;"></span>
                    <span style="font-size:18px;font-weight:700;padding-left:5px"> {{'CASE_MNG.CLOSE_INFO'|translate}}</span>
                </div>
            </div>   
            <div class="row row-line-height">  
                <div class="form-group">
                    <div class="col-sm-2 form-control-title">{{'CASE_MNG.CLOSER'|translate}}:</div>
                    <div class="col-md-4">  <span style="line-height:34px">{{closeInfo.closerName}}</span> </div> 
                </div>
            </div>
            <div class="row row-line-height">  
                <div class="  col-md-4" >
                    <div class="form-group">
                        <div class="col-sm-6 form-control-title" >{{'CASE_MNG.CLOSE_TYPE'|translate}}:</div>
                        <div class="col-md-6">  <span style="line-height:34px">{{closeInfo.closeType}}</span> </div> 
                    </div>
                </div>
                <div class="col-md-4"> 
                    <div class="form-group">
                        <div class="col-sm-5 form-control-title" >{{'CASE_MNG.CLOSE_TIME'|translate}}:</div>
                        <div class="col-md-7">  <span style="line-height:34px">{{closeInfo.closeDate}}</span> </div> 
                    </div>
                </div>
            </div>
            <div class="row row-line-height">  
                <div class="form-group">
                    <div class="col-sm-2 form-control-title" >{{'CASE_MNG.DESCRIPTION'|translate}}:</div>
                    <div class="col-md-5">
                        <textarea class="form-control" rows="3" disabled>{{closeInfo.closeInfo}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center mgt20">
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="backtoList();">
        <span class="icon-button-label">{{'CASE_MNG.BACK'|translate}}</span>
    </button>
</div>