<div class="page-content-header icon-content-header-operation-center">
    处理工单：{{caseInfo.id}}-{{caseInfo.subject}}   
</div>
<div class="page-content">
    <div   style="padding-left: 25%;position:relative;height: 34px;line-height: 34px;margin-top:20px;">
        <span style="border:3px solid #00a982;border-radius:50px;"></span>
        <div style="font-size:18px;font-weight:700;position:absolute;left:330px;top:0px">基本信息</div>
    </div>      
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title" >主题:</div>
            <div class="col-md-4"> <span style="line-height:34px">{{caseInfo.subject}}</span> </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title" >类别:</div>
            <div class="col-md-4"> <span style="line-height:34px"> {{caseInfo.typeName}}</span></div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title" > 联系人:</div>
            <div class="col-md-4"> <span style="line-height:34px">{{caseInfo.contact}}</span> </div>
        </div>
    </div>                   
    <div class="row row-line-height">  
        <div class="form-group">
            <div class="col-sm-4 form-control-title" >联系电话:</div>
            <div class="col-md-4">  <span style="line-height:34px">{{caseInfo.contactNo}}</span> </div> 
        </div>
    </div>
    <div class="row row-line-height">  
        <div class="form-group">
            <div class="col-sm-4 form-control-title" >描述:</div>
            <div class="col-md-4">
                <textarea class="form-control" rows="3" placeholder="">{{caseInfo.details}}</textarea>
            </div>
        </div>
    </div>

   <div style="border-top:1px solid #00a982;width: 700px;margin-top: 20px;margin-left:22%"></div>
    <div   style="padding-left: 25%;position:relative;height: 34px;line-height: 34px;margin-top:30px;">
        <span style="border:3px solid #00a982;border-radius:50px;"></span>
        <div style="font-size:18px;font-weight:700;position:absolute;left:330px;top:0px">处理信息</div>
    </div> 
    <div class="row row-line-height">  
        <div class="form-group">
            <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>紧急程度:</div>
            <div class="col-md-4">
                <select class="form-control" [(ngModel)]="handleInfo.emergency">
                     <option value="">所有</option>
                    <option *ngFor="let v of service.dictEmergency | async" [value]="v.value">{{v.displayValue}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row row-line-height">  
        <div class="form-group">
            <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>处理记录:</div>
            <div class="col-md-4">
                <textarea class="form-control" rows="3" [(ngModel)]="handleInfo.handleInfo"></textarea>
            </div>
        </div>
    </div>
    <div  style="padding-left:34%;font-size:14px">最多只能输入1000个文字</div>

    <div *ngIf="caseInfo.statusName=='处理中'">
       <div style="border-top:1px solid #00a982;width: 700px;margin-top: 20px;margin-left:22%"></div>
    <div   style="padding-left: 25%;position:relative;height: 34px;line-height: 34px;margin-top:30px;">
        <span style="border:3px solid #00a982;border-radius:50px;"></span>
        <div style="font-size:18px;font-weight:700;position:absolute;left:330px;top:0px">历史信息</div>
    </div>
        <div class="  mgt20" style="padding-left:27%;font-size:18px;"> 历史信息</div>            
        <div *ngFor="let handleInfo of handleInfoes" style="padding-left:20.5%">      
            <div class="row row-line-height">  
                <div class="form-group">
                    <div class="col-sm-2 form-control-title" >紧急程度:</div>
                    <div class="col-md-4">  <span style="line-height:34px">{{handleInfo.emergency}}</span> </div> 
                </div>
            </div>  
            <div class="row row-line-height"> 
                <div class="col-md-4" > 
                    <div class="form-group">
                        <div class="col-sm-6 form-control-title" >处理人:</div>
                        <div class="col-md-4">  <span style="line-height:34px">{{handleInfo.handlerName}}</span> </div> 
                    </div>
                </div>
                <div class="col-md-4">  
                    <div class="form-group">
                        <div class="col-sm-5 form-control-title" >处理时间:</div>
                        <div class="col-md-7">  <span style="line-height:34px">{{handleInfo.handleDate}}</span> </div> 
                    </div>
                </div>
            </div>                      
            <div class="row row-line-height">  
                <div class="form-group">
                    <div class="col-sm-2 form-control-title">处理记录:</div>
                    <div class="col-md-4">  
                        <textarea class="form-control" rows="3" placeholder="最多只能输入1000个文字">{{handleInfo.handleInfo}}</textarea>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center mgt20">
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="backtoList();">
        <span class="icon-button-label">取消</span>
    </button>
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="handleCase();">
        <span class="icon-button-label">提交</span>
    </button>
</div>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'PHYSICAL_MNG.CONFIRM'|translate}}"></fc-notice> 
<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'PHYSICAL_MNG.CONFIRM'|translate}}" ct="{{'PHYSICAL_MNG.CANCEL'|translate}}"  ></fc-confirm>               