<div class="page-content-header icon-content-header-operation-center ">
   {{'CASE_MNG.HANDLE_CASE'|translate}}：{{caseInfo.id}}
</div>
<div class="page-content">
    <div class="row mgt20" >
         <div class="col-md-2"></div>
        <div class="col-md-2" style="text-align:right">
            <span style="border:3px solid #00a982;border-radius:50px;"></span>
            <span style="font-size:18px;font-weight:700;padding-left:5px"> {{'CASE_MNG.CASE_INFO'|translate}}</span>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title" >{{'CASE_MNG.SUBJECT'|translate}}:</div>
            <div class="col-md-4" style="word-break：break-all"> <span style="line-height:34px">{{caseInfo.subject}}</span> </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title" >{{'CASE_MNG.TYPE'|translate}}:</div>
            <div class="col-md-4"> <span style="line-height:34px">{{caseInfo.typeName}}</span></div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title" >{{'CASE_MNG.CONTACTOR'|translate}}:</div>
            <div class="col-md-4" style="word-break：break-all"> <span style="line-height:34px">{{caseInfo.contact}}</span> </div>
        </div>
    </div>                   
    <div class="row row-line-height">  
        <div class="form-group">
            <div class="col-sm-4 form-control-title" >{{'CASE_MNG.TEL'|translate}}:</div>
            <div class="col-md-4">  <span style="line-height:34px">{{caseInfo.contactNo}}</span> </div> 
        </div>
    </div>
    <div class="row row-line-height">  
        <div class="form-group">
            <div class="col-sm-4 form-control-title" >{{'CASE_MNG.DESCRIPTION'|translate}}:</div>
            <div class="col-md-4">
                <textarea class="form-control" rows="3"  disabled>{{caseInfo.details}}</textarea>
            </div>
        </div>
    </div>

    <div style="border-top:1px solid #00a982;width: 700px;margin-top: 20px;margin-left:265px"></div>
    <div class="row mgt20" >
        <div class="col-md-2"></div>
        <div class="col-md-2" style="text-align:right">
            <span style="border:3px solid #00a982;border-radius:50px;"></span>
            <span style="font-size:18px;font-weight:700;padding-left:5px"> {{'CASE_MNG.HANDLE_INFO'|translate}}</span>
        </div>
    </div>
    <div class="row row-line-height">  
        <div class="form-group">
            <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'CASE_MNG.EMERGENCY'|translate}}:</div>
            <div class="col-md-4">
                <select class="form-control" [(ngModel)]="handleInfo.emergency">
                     <option value="">{{'CASE_MNG.ALL_EMERGENCY'|translate}}</option>
                    <option *ngFor="let v of service.dictEmergency | async" [value]="v.value">{{v.displayValue}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row row-line-height">  
        <div class="form-group">
            <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>{{'CASE_MNG.HANDLE_RECORD'|translate}}:</div>
            <div class="col-md-4">
                <textarea class="form-control" rows="3"  maxlength="1000" [(ngModel)]="handleInfo.handleInfo"></textarea>
            </div>
        </div> 
    </div>
    <div  style="padding-left:34%;font-size:14px">{{'CASE_MNG.LESS_THAN_1000_WORDS'|translate}}</div>

    <div *ngIf="caseInfo.statusName=='处理中'">
       <div style="border-top:1px solid #00a982;width: 700px;margin-top: 20px;margin-left:265px"></div>
       <div class="row mgt20" >
            <div class="col-md-2"></div>
            <div class="col-md-2" style="text-align:right">
                <span style="border:3px solid #00a982;border-radius:50px;"></span>
                <span style="font-size:18px;font-weight:700;padding-left:5px"> {{'CASE_MNG.HISTORY_INFO'|translate}}</span>
            </div>
        </div>        
    <div *ngFor="let handleInfo of handleInfoes" style="margin-left:265px">      
        <div class="row row-line-height">  
            <div class="form-group">
                <div class="col-sm-2 form-control-title" >{{'CASE_MNG.EMERGENCY'|translate}}:</div>
                <div class="col-md-4">  <span style="line-height:34px">{{handleInfo.emergency}}</span> </div> 
            </div>
        </div>  
        <div class="row row-line-height"> 
            <div class="col-md-4" > 
                <div class="form-group">
                    <div class="col-sm-6 form-control-title" >{{'CASE_MNG.HANDLER'|translate}}:</div>
                    <div class="col-md-6">  <span style="line-height:34px">{{handleInfo.handlerName}}</span> </div> 
                </div>
            </div>
            <div class="col-md-4">  
                <div class="form-group">
                    <div class="col-sm-5 form-control-title" >{{'CASE_MNG.HANDLE_TIME'|translate}}:</div>
                    <div class="col-md-7">  <span style="line-height:34px">{{handleInfo.handleDate}}</span> </div> 
                </div>
            </div>
        </div>                      
        <div class="row row-line-height">  
            <div class="form-group">
                <div class="col-sm-2 form-control-title">{{'CASE_MNG.HANDLE_RECORD'|translate}}:</div>
                <div class="col-md-5">  
                    <textarea class="form-control" rows="3" disabled>{{handleInfo.handleInfo}}</textarea>
                </div> 
            </div>
        </div>
    </div>
    
</div>
<div class="text-center mgt20">
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="backtoList();">
        <span class="icon-button-label">{{'CASE_MNG.CANCEL'|translate}}</span>
    </button>
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="handleCase();">
        <span class="icon-button-label">{{'CASE_MNG.SUBMIT'|translate}}</span>
    </button>
</div>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'PHYSICAL_MNG.CONFIRM'|translate}}"></fc-notice> 
<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'PHYSICAL_MNG.CONFIRM'|translate}}" ct="{{'PHYSICAL_MNG.CANCEL'|translate}}"  ></fc-confirm>               