<div class="model">
	<modal #dialog backdrop="false" class="modal-notice" style="z-index: 98;"  id="confirm_{{title}}_{{showMsg}}">
	    <modal-header show-close="true" class="fox-cloud-modal-header">{{title || 'DIALOG.PROMPT' | translate}}</modal-header>
	    <modal-body class="fox-cloud-modal-body" id="confirm_body_{{title}}_{{showMsg}}">{{showMsg | translate:param }}</modal-body>
	    <modal-footer class="fox-cloud-modal-footer">
	        <button type="button" class="btn button-confirm button-size-big" data-dismiss="modal" (click)="ccf()" name="{{title}}_{{showMsg}}_confirm_ccf">{{ct || 'DIALOG.CONFIRM' | translate}}</button>
	        <button type="button" class="btn btn-default button-size-big"  data-dismiss="modal" (click)="cof()" name="{{title}}_{{showMsg}}_confirm_cof">{{ot || 'DIALOG.CANCEL' | translate}}</button>
	    </modal-footer>
	</modal>
</div>