<modal #dialog backdrop="false" class="modal-notice">
    <modal-header show-close="true" class="fox-cloud-modal-header">{{title || '提示'}}</modal-header>
    <modal-body class="fox-cloud-modal-body">{{msg}}</modal-body>
    <modal-footer class="fox-cloud-modal-footer">
        <button type="button" class="btn button-confirm button-size-big" data-dismiss="modal" (click)="ccf()">{{ct || '确定'}}</button>
        <button type="button" class="btn btn-default button-size-big"  data-dismiss="modal" (click)="cof()">{{ot || '取消'}}</button>
    </modal-footer>
</modal>