<div class="page-content-header icon-content-header-operation-center">
    告警通知列表
</div>
<div class="page-content">
    <div class="mgt5">
        <button class="fox-cloud-button fox-cloud-button-green" (click)="gotoSet()">设置</button>
    </div>
    <div class="table-container mgt15">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>选择</th>
                <th>告警项</th>
                <th>阀值</th>
                <th>告警开关</th>
                <th>告警方式</th>
                <th >描述</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of alarmList">
                <td>
                    <input type="radio" class="fox-cloud-radio" name="alarm" (click)="getSelectAlarm(item);" [checked]="item.isSelect"/>
                </td>
                <td>{{item.name}}</td>
                <td >
                 <div *ngFor="let v of item.threshold">{{v.name}}: {{v.symbol}} {{v.value}}</div>
                </td>
                <td>{{item.switch |dict:service.dictSwitch | async}}</td>
                <td>{{item.method | dict:service.dictMethod | async}}</td>
                <td style="width:300px;word-break:break-all;">{{item.description}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}"></fc-notice>