<div class="page-content-header icon-content-header-operation-center">
     {{'ALARM.ALARM_NAME'|translate}}:{{alarm.name}}
</div>
<div class="page-content">
    <div class="row row-line-height">        
        <div class="col-md-2 form-control-title" style="width:140px;">  {{'ALARM.SWITCHING'|translate}}：</div>
        <div class="col-md-1 no-padding" style="line-height:34px;font-size:16px;width:90px;">
            <input class="fox-cloud-radio" type="radio" name="alarmswitch"  [value]="1" [(ngModel)]="alarm.switching" >
            <span class="mgl5">  {{'ALARM.OPEN'|translate}}</span>
        </div>
        <div class="col-md-1" style="line-height:34px;font-size:16px;width:90px;">  
            <input class="fox-cloud-radio" type="radio" name="alarmswitch" [value]="2" [(ngModel)]="alarm.switching">
            <span class="mgl5">{{'ALARM.CLOSE'|translate}}</span>
        </div>      
    </div>
    <div class="row row-line-height">
        <div class="col-md-2 form-control-title" style="width:140px;">{{'ALARM.SET_THRESHOLD'|translate}}：</div>
        <div class="col-md-1 no-padding text-right" style="line-height:34px;font-size:16px;width:115px;">{{'ALARM.PERIOD'|translate}}：</div>
        <div class="col-md-1 mgl10" style="padding:0px">
            <select class="form-control" [(ngModel)]="alarm.period" >
                <option value="">{{'ALARM.PLEASE_SELECT'|translate}}</option>
                <option *ngFor="let type of service.dictPeriod | async" [value]="type.value">{{type.displayValue}}</option>
            </select>
        </div>     
    </div>

    <div class="row row-line-height">
        <div class="col-md-2 form-control-title" style="width:140px;"></div>
        <div class="col-md-1 no-padding text-right" style="line-height:34px;font-size:16px;width:115px;">{{'ALARM.THRESHOLD1'|translate}}：</div>
        <div class="col-md-1 mgl10" style="padding:0px">
           <input class="form-control" type="text" [(ngModel)]="threshold1.symbol" readonly>
        </div>
        <div class="col-md-1 mgl10" style="padding:0px;">
                <input class="form-control" type="number" min=0 max=100  [(ngModel)]="threshold1.value">
        </div>
        <div class="col-md-1 text-right" style="line-height:34px;font-size:16px;" *ngIf="isName == false">{{'ALARM.LEVEL'|translate}}：</div>
        <div class="col-md-1 text-right" style="line-height:34px;font-size:16px;padding:0px" *ngIf="isName == true">{{'ALARM.CONTENT'|translate}}：</div>
        <div class="col-md-1 no-padding" style="line-height:34px;font-size:16px;" *ngIf="isName == false">
               <input class="form-control" type="text"   [value]="threshold1.level | dict:service.dictLevel | async" readonly>
        </div>      
         <div class="col-md-1 no-padding" style="line-height:34px;font-size:16px;" *ngIf="isName == true">
              <input class="form-control" type="text"   [value]="threshold1.content | dict:service.dictContent | async" readonly>
        </div>      
    </div>
    <div class="row row-line-height">  
        <div class="col-md-2 form-control-title" style="width:140px;"></div>
        <div class="col-md-1 no-padding text-right" style="line-height:34px;font-size:16px;width:115px;">{{'ALARM.THRESHOLD2'|translate}}：</div>
        <div class="col-md-1 mgl10" style="padding:0px;" *ngIf="isName == false">
            <input class="form-control" type="text" [(ngModel)]="threshold2.symbol" readonly>
        </div>
         <div class="col-md-1 mgl10" style="padding:0px;" *ngIf="isName == true">
           <input class="form-control" type="text" [(ngModel)]="threshold2.symbol" readonly>
        </div>
        <div class="col-md-1 " style="padding:0px;margin-left:10px">
                <input class="form-control" type="number"   [(ngModel)]="threshold2.value" min=0 max=100>
        </div>
        <div class="col-md-1 text-right" style="line-height:34px;font-size:16px;" *ngIf="isName == false">{{'ALARM.LEVEL'|translate}}：</div>
        <div class="col-md-1 text-right" style="line-height:34px;font-size:16px;padding:0px" *ngIf="isName == true">{{'ALARM.CONTENT'|translate}}：</div>
        <div class="col-md-1 no-padding" style="line-height:34px;font-size:16px;" *ngIf="isName == false">
                <input class="form-control" type="text"   [value]="threshold2.level | dict:service.dictLevel | async" readonly>
        </div>
        <div class="col-md-1 no-padding" style="line-height:34px;font-size:16px;" *ngIf="isName == true">
                <input class="form-control" type="text"   [value]="threshold2.content | dict:service.dictContent | async" readonly>
        </div>
        <div class="col-md-3" style="font-size:16px;line-height:34px" *ngIf="isName == false">{{'ALARM.THRESHOLD2_MUST_BIGGER_THRESHOLD1'|translate}}</div>
        <div class="col-md-3" style="font-size:16px;line-height:34px" *ngIf="isName == true">{{'ALARM.THRESHOLD1_MUST_BIGGER_THRESHOLD2'|translate}}</div>
    </div>
    <div class="row row-line-height">
        <div class="col-md-2 form-control-title" style="width:140px;"></div>
        <div class="col-md-1 no-padding text-right" style="line-height:34px;font-size:16px;width:115px;">{{'ALARM.REPEAT'|translate}}：</div>
        <div class="col-md-1" style="line-height:34px;font-size:16px;width:30px;">{{'ALARM.EVERY'|translate}}</div>
        <div class="col-md-1 mgl10 mgr10" style="padding:0px;">
            <input type="text" class="form-control" [(ngModel)]="alarm.repeat">
        </div>
        <div class="col-md-1 no-padding" style="line-height:34px;font-size:16px;width:30px;">次</div>
        <div class="col-md-6" style="font-size:16px;">{{'ALARM.REPEAT_CONDITION'|translate}}</div>
    </div>
    <div class="row row-line-height">
        <div class="col-md-2 form-control-title" style="width:140px;">{{'ALARM.METHOD'|translate}}：</div>
        <div class="col-md-1 no-padding" style="line-height:34px;font-size:16px;width:90px;">
            <input class="fox-cloud-radio" type="radio" name="method" [value]="1" [(ngModel)]="alarm.method">
            <span class="mgl5">Email</span>
        </div>
        <!--<div class="col-md-2" >
            <button class="fox-cloud-button fox-cloud-button-green" (click)="getReceiverList();">设置接收人</button>
        </div>-->
    </div>
    <div class="row row-line-height">
        <div class="col-md-2 form-control-title" style="width:140px;"></div>
        <div class="col-md-9 no-padding">
            <div class="table-container" style="height:300px;overflow:auto">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th><input type="checkbox"class="fox-cloud-checkbox"  (click)="selectAll();"/>&nbsp;{{'ALARM.CHECK'|translate}}</th>
                        <th>{{'ALARM.RECEIVER'|translate}}</th>
                        <th>{{'ALARM.ACCOUNT'|translate}}</th>
                        <th>{{'ALARM.EMAIL'|translate}}</th>
                        <th *ngIf="isName == true">{{'ALARM.ROLE'|translate}}</th>
                    </tr>
                    </thead>
                    <tbody  >
                    <tr *ngFor="let item of receiverList; let idx = index;">
                        <td>
                            <input type="checkbox" class="fox-cloud-checkbox" name="receiver" [checked]="item.isSelect" (click)="selectReceiver(idx);"/>
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.account}}</td>
                        <td>{{item.email}}</td>
                        <td *ngIf="isName == true">{{item.role}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
</div>
<div class="text-center mgt20">
    <button type="button" class="fox-cloud-button-lg fox-cloud-button-white mgr20" (click)="cancel();">
        <span class="icon-button-label">{{'ALARM.CANCEL'|translate}}</span>
    </button>
    <button type="button" class="fox-cloud-button-lg fox-cloud-button-white" (click)="save();">
        <span class="icon-button-label">{{'ALARM.SAVE'|translate}}</span>
    </button>
</div>

<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}"></fc-notice>
