<fc-spinner [isRunning]="layoutService.showLoading" ></fc-spinner>

<div class="container-fluid fox-cloud-container">
    <!--Header-->
    <div *ngIf="layoutService.showHeader" class="cm-header">
        <div class="col-md-2 logo"></div>
        <div class="col-md-1 no-padding"><a class="caas" href="/caas/">CASS</a></div>
        <div class="col-md-7 console">{{ 'COMMON.CONSOLE' | translate}}</div>
        <!--选择页面语言框-测试用-->
          <label  style="left: 0; top:0;position: absolute;opacity: 0;">
            <select #langSelect (change)="translateCodeChange(langSelect.value)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
            </select>
        </label>  
        <div class="col-md-2">
            <div class="row header-group">

                <div class=" account">{{username}} <a class="cm-container-logout" href="javascript:" (click)="logOut()">{{ 'COMMON.EXIT' | translate}}</a></div>
            </div>
        </div>
    </div>

    <div class="row content">
        <!--Left Menu-->
        <div *ngIf="layoutService.showHeader" class="col-md-2 no-padding left-content">
            <fc-menu (navOnClick)='navClock()'></fc-menu>
        </div>

        <!--Body-->
        <div [ngClass]="{'content-hide': showCssload}" class="col-md-10 right-content">
            <router-outlet (activate)='onActivate($event)'></router-outlet>
        </div>
    </div>

</div>
