
@header-height : 80px;

.cm-header {
    height: @header-height;
    overflow: hidden;
    background-color: @header-bg-color;
    .header-logo {
        height: @header-height;
        background: url("../../images/logo.png") no-repeat 50px center;
        border-right: solid 1px @header-bd-color;
        background-size: 116px auto;
    }
    .header-menu {
        li {
            border-right: solid 1px @header-bd-color;
            height: @header-height;
            line-height: @header-height;
            color: @white-color;
            font-size: 18px;
            padding: 0 30px ;
            cursor: pointer;
            float: left;
            &:hover{
                background-color: @header-bd-color;
            }
        }
    } 
    .header-right {
        text-align: right;
        height: @header-height;
        color: @white-color;
        line-height: @header-height;
        .header-right-line {
            display: inline-block;
            padding-left: 20px;
            font-size: 16px;
            cursor: pointer;
            position: relative;
        }
        .icon-notice,.icon-user2 {
            width: 26px;
            height: 26px;
            display: inline-block;
            vertical-align: middle;
        }
        .tip-number {
            position: absolute;
            background: @orange-color;
            color: @white-color;
            width: 16px;
            height: 16px;
            top: 26px;
            right: -3px;
            line-height: 18px;
            overflow: hidden;
            font-size: 12px;
            text-align: center;
        }
        .user-name {
            display: inline-block;
            padding: 0 10px;
        }
    }
}