
.quota-box{

        display: inline-block;
        width: 10%;
        margin: 20px 0 55px 3.6%;
        position: relative;
        .percent-num{
            vertical-align: top;
            font-size: 21px;
            height: 50px;
            width: 50px;
            line-height: 50px;
            text-align: center;
            position: absolute;
            top:51%;
            left: 52%;
            margin-top: -25px;
            margin-left: -25px;
            sup{
                font-size: 12px;
                line-height: -50px;
            }
        }
        .quota-name{
            width: 100%;
            font-size: 12px;
            position: absolute;
            left: 0;
            bottom: -40px;
            text-align: center;
            height: 24px;
            line-height: 24px;
            background-color: #f7f7f7;

        }
    }