.validateInfo{ color: green; } /*验证信息显示绿色*/
.warnInf{ color: red; }  /*验证信息显示红色*/
.left{float: left;}     /*左浮动*/
.leftAlign{text-align: left!important;}/*表格td居左*/
.righAlign{text-align: right!important;}/*表格td居右*/
._margin{margin-bottom: 30px;}/*间隔30px*/

ul li{ list-style: none; }





.OrderDetail{
	
}