// .validateInfo{ color: #00a982; } /*验证信息显示绿色*/
// .warnInfo{ color: red; }  /*验证信inline息显示红色*/
// .left{float: left;}     /*左浮动*/
.leftAlign{text-align: left!important;}/*表格td居左*/
.rightAlign{text-align: right!important;}/*表格td居右*/
.tdVAlign{vertical-align: middle;}
.none-border{border:none!important;}
ul li{ list-style: none; }
.mgr2{margin-right: 2px;}
.mgt-10{margin-top:-10px; }
.mgt-5{margin-top: -5px;}
.clear{
	clear: both;
}
.OrderManage{
	.page-content{
	    padding-top: 20px;
		.table-container{
			
			ul{
			   	li{
			   		margin-bottom:10px;
			   	}
			}

            ._table{
				margin-left: 40px;
				
            // 	border:2px solid #EFF4F8;
            // 	// tr:nth-child(odd){
					
			// 	// }
			// 	// tr:first-child{
					
			// 	// 	background-color:#F7F7F7;
			// 	// }
			// 	tr{

			// 	   td.order-title{
			// 	   	    max-width: 160px;
    		// 			width: 160px;
			// 	   		text-align:left;
    		// 			font-size:15px;
			// 			text-align: left;padding-top: 30px;
			// 			padding-left: 40px;padding-right: 20px;

			// 	   }
			// 		td{
			// 			width:80px;
			// 			text-align:center;
			// 			font-size:15px;
			// 			border:1px solid #F6F6F6;
						
			// 		}
			// 	}
            }
			table{
				margin-top: 20px;
   				margin-bottom: 20px;	
				// border:none;
				// tr:nth-child(even){
				// 	background-color:#fff;
				// }
			    th{
			    	height:60px;
				    vertical-align: middle;
				    width:125px;
				    border:none;
				}

				tr{
					th.order-title{
						width: 235px;
						text-align:center;
					}
					
					td{
						vertical-align: middle;
						// border:none;
						span{
	
							font-size: 15px;
    						padding-top: 8px;
                            float:left;
							letter-spacing: 1px;
						}
					}
				}
			}
			.dropdown {	
    			margin-left: 10px;
    			button,select{
    						width: 120px;
    			}
			}
			.orderNo-title{
				background-color: #f7f7f7;
			}
			.bgGrren{
				background-color: #C6ECCE;
			}
		}
	}
	.modal-dialog{width:80%;}
}
.auto-renew-info{
	padding: 20px;
	background-color: #fafafa;
	overflow: hidden;
	margin: 20px 0;
	line-height: 24px;
	.renew-type-title{
		float: left;
		margin-right: 10px;
	}
	.renew-type-content{
		float: left;
		width: 70%;
		input{
			margin: 0 7px !important;
			position: relative;
		}
	}
}
table.popup-table{
	width: 100%;
	margin-top: 10px;	
	border:1px solid #e5e5e5;
	tr:nth-child(even){
		background-color:#fff;
	}
	th{
		height:60px;
		vertical-align: middle;
		text-align: center;
		width:125px;
		border:none;
		background-color: #fafafa;
		font-weight: 100;
	}

	tr{
		td{
			border:1px solid #e5e5e5;
			vertical-align: middle;
			padding: 10px;
			span{

				font-size: 15px;
				padding-top: 8px;
				float:left;
				letter-spacing: 1px;
			}
		}
	}
	}
.auto-renew-over{
	margin-top: 20px;
}
.auto-renew-over-info{
	width: 70%;
	float: left;
	font-size: 13px;
	color: #E65D5D
}


