.button-gray-gradient {
	height: 34px;
	border: 1px solid @color-e5;
	padding-right:16px;
	padding-left:16px;
	background: @gray-gradient;
}
.button-orange-deep {
	height: 42px;
	padding: 0 16px;
	color: @white-color;
	background: @orange-color;
	&:hover,&:focus{
		color: @white-color;
	}
}
.button-confirm {
	background-color: @mainColor;
    color: @white-color;
    border: 1px solid @mainColor;
	font-size: 16px;
    &:hover,&:focus {
    	color: @white-color;
    }
}
.button-confirm:hover{
	background-color: @white-color;
    color: @mainColor;
}
.button-white {
    background-color: @white-color;
    border: solid 2px @color-e5;
    color:  @mainColor;
	font-size:16px;
	letter-spacing: 1px;
}

.button-white:hover {
    background-color: @mainColor;
    color: @white-color;
}


.button-size-big {
	padding: 8px 40px !important;
}

.button-orange-light {
	height: 42px;
	padding: 0 16px;
	color: @orange-color;
	background: @orange-light-color;
	&:hover,&:focus{
		color: @orange-color;
	}
}
.button-icon {
	padding-left: 53px;
	position: relative;
	>span {
		border-right: 1px solid @color-e5;
		padding-right: 8px;
		height: 32px;
		top: 1px;
		left: 14px;
		position: absolute;
		line-height: 32px;
	}
}