.icon-amount {
	background: url("../images/icon_amount.png") no-repeat;
}
.icon-check {
	background: url("../images/icon_check.png") no-repeat;
}
.icon-cloudhost {
	background: url("../images/icon_cloudhost.png") no-repeat;
}
.icon-cost {
	background: url("../images/icon_cost.png") no-repeat;
}
.icon-create {
	background: url("../images/icon_create.png") no-repeat;
}
.icon-delete {
	background: url("../images/icon_delete.png") no-repeat;
}
.icon-delete2 {
	background: url("../images/icon_delete2.png") no-repeat;
}
.icon-delete3 {
	background: url("../images/icon_delete3.png") no-repeat;
}
.icon-disk {
	background: url("../images/icon_disk.png") no-repeat;
}
.icon-edit {
	background: url("../images/icon_edit.png") no-repeat;
}
.icon-edit2 {
	background: url("../images/icon_edit2.png") no-repeat;
}
.icon-host {
	background: url("../images/icon_host.png") no-repeat;
}
.icon-loadbalance {
	background: url("../images/icon_loadbalance.png") no-repeat;
}
.icon-location {
	background: url("../images/icon_location.png") no-repeat;
}
.icon-machine {
	background: url("../images/icon_machine.png") no-repeat;
}
.icon-network {
	background: url("../images/icon_network.png") no-repeat;
}
.icon-notice {
	background: url("../images/icon_notice.png") no-repeat;
}
.icon-password {
	background: url("../images/icon_password.png") no-repeat;
}
.icon-reset {
	background: url("../images/icon_reset.png") no-repeat;
}
.icon-search {
	background: url("../images/icon_search.png") no-repeat;
}
.icon-shopping {
	background: url("../images/icon_shopping.png") no-repeat;
}
.icon-specifications {
	background: url("../images/icon_specifications.png") no-repeat;
}
.icon-user {
	background: url("../images/icon_user.png") no-repeat;
}
.icon-user2 {
	background: url("../images/icon_user2.png") no-repeat;
}
.icon-configure {
	background: url("../images/icon_configure.png") no-repeat;
}
 .icon-link {
    background: url("../images/icon_link.png") no-repeat;
}
.icon-copy {
    background: url("../images/icon_copy.png") no-repeat;
}
