.icon-amount {
    background: url("../images/icon_amount.png") no-repeat center;
}

.icon-check {
    background: url("../images/icon_check.png") no-repeat center;
}

.icon-cloudhost {
    background: url("../images/icon_cloudhost.png") no-repeat center;
}

.icon-cost {
    background: url("../images/icon_cost.png") no-repeat center;
}

.icon-create {
    background: url("../images/icon_create.png") no-repeat;
    padding: 0px 13px;
}

.icon-delete {
    background: url("../images/icon_delete.png") no-repeat center;
}

.icon-delete2 {
    background: url("../images/icon_delete2.png") no-repeat center;
}

.icon-delete3 {
    background: url("../images/icon_delete3.png") no-repeat center;
}

.icon-disk {
    background: url("../images/icon_disk.png") no-repeat center;
}

.icon-edit {
    background: url("../images/icon_edit.png") no-repeat center;
}

.icon-edit2 {
    background: url("../images/icon_edit2.png") no-repeat center;
}

.icon-host {
    background: url("../images/icon_host.png") no-repeat center;
}

.icon-loadbalance {
    background: url("../images/icon_loadbalance.png") no-repeat center;
}

.icon-location {
    background: url("../images/icon_location.png") no-repeat center;
}

.icon-machine {
    background: url("../images/icon_machine.png") no-repeat center;
}

.icon-network {
    background: url("../images/icon_network.png") no-repeat center;
}

.icon-notice {
    background: url("../images/icon_notice.png") no-repeat center;
}

.icon-password {
    background: url("../images/icon_password.png") no-repeat center;
}

.icon-reset {
    background: url("../images/icon_reset.png") no-repeat center;
}

.icon-search {
    background: url("../images/icon_search.png") no-repeat center;
}

.icon-shopping {
    background: url("../images/icon_shopping.png") no-repeat center;
}

.icon-specifications {
    background: url("../images/icon_specifications.png") no-repeat center;
}

.icon-user {
    background: url("../images/icon_user.png") no-repeat center;
}

.icon-user2 {
    background: url("../images/icon_user2.png") no-repeat center;
}

.icon-link {
    background: url("../images/icon_link.png") no-repeat center;
}

.icon-copy {
    background: url("../images/icon_copy.png") no-repeat center;
}
