.content {
	height: 100%;
}
.right-content {
	padding: 15px 20px 0px 20px;
}
.footer {
	text-align: center;
	font-size: 14px;
	border-top: solid 3px @mainColor;
	margin-top: 15px;
	padding: 10px 0px 0px 0px;
}
.page-content {
	padding: 10px 0px 0px 0px;
}
.fix-page-content {
	height: 650px;
}

