.content {
	height: 100%;
}
.right-content {
	padding: 15px 30px 300px 30px;
	width: 100%;
	overflow-x: hidden;
}
.page-content {
	padding: 10px 0px 0px 0px;
}
.fix-page-content {
	height: 650px;
}

.fox-cloud-container {
	padding : 80px 0 0 250px;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

.asterisk {
	color: #ff0000;
	font-weight: bold;
	padding: 0px 5px 0px 7px;
}
/*******button固定长度*********/
.fix-width-80{
    width: 80px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fix-width-100 {
    width: 100px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fix-width-120 {
    width: 120px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fix-width-140 {
    width: 140px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fix-width-160 {
    width: 160px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fix-width-200 {
    width: 200px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*******button固定长度 end*********/

.mgb20 {
	margin-bottom: 20px !important;
}
.mgb15 {
	margin-bottom: 15px !important;
}
.mgb10 {
	margin-bottom: 10px !important;
}
.mgb5 {
	margin-bottom: 5px !important;
}
.mgr20 {
	margin-right: 20px !important;
}
.mgr15 {
	margin-right: 15px !important;
}
.mgr10 {
	margin-right: 10px !important;
}
.mgr5 {
	margin-right: 5px !important;
}
.mgl20 {
	margin-left: 20px !important;
}
.mgl15 {
	margin-left: 15px !important;
}
.mgl10 {
	margin-left: 10px !important;
}
.mgl5 {
	margin-left: 5px !important;
}
.mgt20 {
	margin-top: 20px !important;
}
.mgt15 {
	margin-top: 15px !important;
}
.mgt10 {
	margin-top: 10px !important;
}
.mgt5 {
	margin-top: 5px !important;
}


.pdb20 {
	padding-bottom: 20px !important;
}
.pdb15 {
	padding-bottom: 15px !important;
}
.pdb10 {
	padding-bottom: 10px !important;
}
.pdb5 {
	padding-bottom: 5px !important;
}
.pdr20 {
	padding-right: 20px !important;
}
.pdr15 {
	padding-right: 15px !important;
}
.pdr10 {
	padding-right: 10px !important;
}
.pdr5 {
	padding-right: 5px !important;
}
.pdl20 {
	padding-left: 20px !important;
}
.pdl15 {
	padding-left: 15px !important;
}
.pdl10 {
	padding-left: 10px !important;
}
.pdl5 {
	padding-left: 5px !important;
}
.pdt20 {
	padding-top: 20px !important;
}
.pdt15 {
	padding-top: 15px !important;
}
.pdt10 {
	padding-top: 10px !important;
}
.pdt5 {
	padding-top: 5px !important;
}
.float-left {
	float: left !important;
}
.float-right {
	float: right !important;
}

.cursor-pointer {
    cursor: pointer;
}

.clear-float {
	&::after{
		content : "";
		display: block;
		height: 0;
		clear: both;
	}
}
.row-line-height {
	padding: 10px 0px 10px 0px;
}
.normal-line-height{
	line-height:normal!important;
}
 .hideoption { display:none; visibility:hidden; height:0; font-size:0; }

 
.fix-width-80 {
    width: 80px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fix-width-100 {
    width: 100px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.fix-width-120 {
    width: 120px!important;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fix-width-140 {
    width: 140px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fix-width-160 {
    width: 160px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fix-width-200 {
    width: 200px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

