/*****right-content-title*******/
.page-content-header {
	height: 30px;
	line-height: 30px;
	border-left: 4px solid @title-border;
	font-size: 20px;
    display: block;
    padding-left: 15px;
}

.boder-gray-bottom-title {
	border-bottom: 1px solid @gray-color;
	line-height: 36px;
    font-size: 18px;
    font-weight: 100;
}