
// ---------------颜色------------- //

@mainColor: #01a982;

@ccc-color : #ccc;
@ddd-color : #ddd;
@red-color : #ff0000;
@green-color : green;
@white-color : #fff;
@title-border : #fe8d6d;
@gray-color : #dcdcdc;
@fa-color :#fafafa;
@font-color : #5e7686;
@green-light-color : #e4f7f3;
@green-deep-color : #25b995;
@text-tip-color : #b1b6bc;
@color-999 : #999;
@color-e5 : #e5e5e5;
@color-f7 : #f7f7f7;
@color-fc : #fcfcfc;
@orange-color : #ff8d72;
@orange-light-color : #f9e2dc;
@header-bg-color : #425563;
@header-bd-color : #374652;

@gray-gradient : linear-gradient(@white-color, @color-f7);

@white-deep-color : #eff4f8;
@c1c2c3-color : #c1c2c3;
@button-green-color : #00a982;
@button-white-color : #ffffff;
@cccccc-color : #cccccc;
@color-777 : #777;
@black-color : #000000;
@th-bg-color:#F6F6F6;