
// ---------------颜色------------- //

@mainColor: #01a982;
@redColor : #ff0000;
@greenColor : green;
@whiteColor : #fff;
@menuBg : #425563;
@menuBd : #5e6f79;
@grayColor : #d9d9d9;
@cccColor : #ccc;
@menuBg2:#556673;

@title-border : #fe8d6d;
@gray-color : #dcdcdc;
@fa-color :#fafafa;
@font-color : #5e7686;
@green-light-color : #e4f7f3;
@green-deep-color : #25b995;
@text-tip-color : #b1b6bc;
