@import "./constant.less";

//component
@import "./components/siteComponent.less";
@import "./components/menuComponent.less";
@import "./components/pagination.less";
@import "./components/stepInputComponent.less";
// @import "./components/countBar.less";


//base
@import "./_layout.less";
@import "./_icons.less";
@import "./_button.less";
@import "./_title.less";
@import "./_bootstrap.less";
@import "./_progress.less";
@import "./_table.less";
@import "./_color.less";


body {
    font-family: "微软雅黑" ,Arial;
    overflow-x: scroll;
    min-width: 1580px;
    border: none;
    outline: none;
    color: @font-color;

}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

button, label {
    outline: 0 !important;
    font-weight: normal;
}

.checkbox-inline

, .radio-inline {
    margin-left: 10px;
}
.text-center{
    text-align: center;
}
.text-vertical-middle{
    vertical-align: middle !important;
}

/*div {border: 1px solid #000;}*/
