<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title" id="myModalLabel">工单详细：。。。</h4>
</div>
<div style="position: relative;padding:15px;">
    <table class="cm-table-left">
        <tbody>
        <tr>
            <th class="col-md-1 col-xs-3 text-center">基本信息</th>
            <td>
                <div class="col-md-12">
                    <div class="row row-line-height">
                        <div class="form-group">
                            <div class="col-sm-2 form-control-title" style="padding:0">主题:</div>
                            <div class="col-md-3">
                                <span style="line-height:34px">不能访问公司OA系统主机</span>
                            </div>
                        </div>
                    </div>
                    <div class="row row-line-height">
                        <div class="form-group">
                            <div class="col-sm-2 form-control-title" style="padding:0">状态:</div>
                            <div class="col-md-3">
                                <span style="line-height:34px">已关闭</span>
                            </div>
                            <div class="col-sm-2 form-control-title" style="padding:0">类别:</div>
                            <div class="col-md-3">
                                <span style="line-height:34px">云主机</span>
                            </div>
                        </div>
                    </div>
                    <div class="row row-line-height" >
                        <div class="form-group">
                            <div class="col-sm-2 form-control-title" style="padding:0">联系人:</div>
                            <div class="col-md-3">
                                <span style="line-height:34px">管华</span>
                            </div>
                            <div class="col-sm-2 form-control-title" style="padding:0">联系电话:</div>
                            <div class="col-md-3">
                                <span style="line-height:34px">02164223399</span>
                            </div>
                        </div>
                    </div>
                    <div class="row row-line-height" >
                        <div class="form-group">
                            <div class="col-sm-2 form-control-title" style="padding:0">提交者:</div>
                            <div class="col-md-3">
                                <span style="line-height:34px">管华</span>
                            </div>
                            <div class="col-sm-2 form-control-title" style="padding:0">提交时间:</div>
                            <div class="col-md-3">
                                <span style="line-height:34px">2016-12-13 16:00:00</span>
                            </div>
                        </div>
                    </div>
                    <div class="row row-line-height" >
                        <div class="form-group">
                            <div class="col-sm-2 form-control-title" style="padding:0">所属部门:</div>
                            <div class="col-md-3">
                                <span style="line-height:34px">销售部</span>
                            </div>
                            <div class="col-sm-2 form-control-title" style="padding:0">所属企业:</div>
                            <div class="col-md-3">
                                <span style="line-height:34px">上海惠普有限公司</span>
                            </div>
                        </div>
                    </div>
                    <div class="row row-line-height">
                        <div class="form-group">
                            <div class="col-sm-2 form-control-title" style="padding:0">描述:</div>
                            <div class="col-md-7">
                                <textarea class="form-control" rows="5" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="col-md-1 col-xs-3 text-center">处理信息：</th>
            <td>
                <div class="col-md-12">
                    <div class="row row-line-height">
                        <div class="form-group">
                            <div class="col-sm-2 form-control-title" style="padding:0">紧急程度:</div>
                            <div class="col-md-3">
                                <span style="line-height:34px">紧急</span>
                            </div>
                        </div>
                    </div>
                    <div class="row row-line-height">
                        <div class="form-group">
                            <div class="col-sm-2 form-control-title" style="padding:0">处理人:</div>
                            <div class="col-md-3">
                                <span style="line-height:34px">戴候华</span>
                            </div>
                            <div class="col-sm-2 form-control-title" style="padding:0">处理时间:</div>
                            <div class="col-md-3">
                                <span style="line-height:34px">2016-12-14 16:00:00</span>
                            </div>
                        </div>
                    </div>
                    <div class="row row-line-height" >
                        <div class="form-group">
                            <div class="col-sm-2 form-control-title" style="padding:0">联系人:</div>
                            <div class="col-md-3">
                                <span style="line-height:34px">管华</span>
                            </div>
                            <div class="col-sm-2 form-control-title" style="padding:0">联系电话:</div>
                            <div class="col-md-3">
                                <span style="line-height:34px">02164223399</span>
                            </div>
                        </div>
                    </div>
                    <div class="row row-line-height" >
                        <div class="form-group">
                            <div class="col-sm-2 form-control-title" style="padding:0">提交者:</div>
                            <div class="col-md-3">
                                <span style="line-height:34px">管华</span>
                            </div>
                            <div class="col-sm-2 form-control-title" style="padding:0">提交时间:</div>
                            <div class="col-md-3">
                                <span style="line-height:34px">2016-12-13 16:00:00</span>
                            </div>
                        </div>
                    </div>
                    <div class="row row-line-height">
                        <div class="form-group">
                            <div class="col-sm-2 form-control-title" style="padding:0">处理记录:</div>
                            <div class="col-md-7">
                                <textarea class="form-control" rows="5" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="col-md-1 col-xs-3 text-center">关闭信息</th>
            <td>
                <div class="col-md-12">
                    <div class="row row-line-height">
                        <div class="form-group">
                            <div class="col-sm-2 form-control-title" style="padding:0">关闭人:</div>
                            <div class="col-md-3">
                                <span style="line-height:34px">戴候华</span>
                            </div>
                            <div class="col-sm-2 form-control-title" style="padding:0">关闭时间:</div>
                            <div class="col-md-3">
                                <span style="line-height:34px">2016-12-13 16:00:00</span>
                            </div>
                        </div>
                    </div>
                    <div class="row row-line-height">
                        <div class="form-group">
                            <div class="col-sm-2 form-control-title" style="padding:0">关闭类型:</div>
                            <div class="col-md-3">
                                <span style="line-height:34px">完成</span>
                            </div>
                        </div>
                    </div>
                    <div class="row row-line-height">
                        <div class="form-group">
                            <div class="col-sm-2 form-control-title" style="padding:0">描述:</div>
                            <div class="col-md-7">
                                <textarea class="form-control" rows="5" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn button-confirm button-size-big">返回</button>
</div>

