<div class="page-content-header mgb20 ">
    工单管理
</div>
<div class="mgb20" style="height:30px;">
    <button class="btn button-confirm  pull-right" (click)="crePage();isEdit= false">
        <span class="icon-create "></span>创建工单
    </button>
    <div class="input-group col-md-2 float-left">
        <input [(ngModel)]="search" class="form-control" placeholder="输入工单信息快速搜索" type="text">
        <div (click)="getData()" class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
    </div>
    <div class="float-left mgl20">
        <span>类别：</span>
        <select [(ngModel)]="selectedType" (ngModelChange)="getData()" class="form-control fix-width-120">
            <option [value]="defaultType">所有类别</option>
            <option [value]="v.value" *ngFor="let v of service.typeDic | async">{{v.displayValue}}</option>
        </select> {{selectedType}}
    </div>
    <div class="float-left mgl20">
        <span>状态：</span>
        <select [(ngModel)]="selectedStatus" (ngModelChange)="getData()" class="form-control fix-width-120">
            <option [value]="defaultStatus">所有状态</option>
            <option [value]="v.value" *ngFor="let v of service.statusDic | async">{{v.displayValue}}</option>
        </select>{{selectedStatus}}
    </div>
    <div class="float-left mgl20">
        <span>紧急程度：</span>
        <select [(ngModel)]="selectedEmergency" (ngModelChange)="getData()" class="form-control fix-width-120">
            <option [value]="defaultEmergency">所有</option>
            <option [value]="v.value" *ngFor="let v of service.emergencyDic | async">{{v.displayValue}}</option>
        </select>
    </div>
</div>
<table class="table table-hover" >
    <thead>
        <tr>
            <th class="text-center">工单号</th>
            <th class="text-center">主题 </th>
            <th class="text-center">类别 </th>
            <th class="text-center">状态 </th>
            <th class="text-center">紧急程度 </th>
            <th class="text-center">联系人 </th>
            <th class="text-center">联系电话 </th>
            <th class="text-center">提交时间 </th>
            <th class="text-center">更新时间 </th>
            <th class="text-center">操作 </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td class="text-center">{{item.id}}</td>
            <td class="text-center"><a href="javascript:void(0);" (click)="getDetail(item)">{{item.subject}}</a></td>
            <td class="text-center">{{item.typeName}}</td>
            <td class="text-center">{{item.statusName}}</td>
            <td class="text-center">{{item.emergencyName}}</td>
            <td class="text-center">{{item.contact}}</td>
            <td class="text-center">{{item.contactNo}}</td>
            <td class="text-center">{{item.createDate}}</td>
            <td class="text-center">{{item.updateDate}}</td>
            <td class="text-center">
                <span class="glyphicon glyphicon-edit font-green " style="margin-right : 10px ;cursor:pointer" (click)="editPage(item);isEdit= true"></span>
                <span class="glyphicon glyphicon-trash font-orange" style="cursor:pointer" (click)="delete(item)"></span>
            </td>
        </tr>
    </tbody>
</table>

<fc-popup #creCase title="{{title}}" ot="{{isEdit== false?'创建':'保存'}}" ct="取消" (of)="creOredit()">
    <div class="col-md-12 no-padding mgb15" style=" line-height : 35px">
        <div class="col-md-3 content-title" style="text-align : right"><span class="asterisk">*</span>主题:</div>
        <div class="col-md-8 no-padding">
            <textarea class="form-control" rows="2" [(ngModel)]="criteria.subject" ></textarea>
        </div>
    </div>
    <div class="col-md-offset-3 col-md-8 text-tip">最多只能输入50个文字</div>
    <div class="col-md-12 no-padding mgb15" style=" line-height : 35px">
        <div class="col-md-3 content-title" style="text-align : right"><span class="asterisk">*</span>类别:</div>
        <div class="col-md-8 float-left no-padding">
            <select [(ngModel)]="criteria.type" class="form-control">
                <option value="">请选择</option>
                <option [value]="v.value" *ngFor="let v of service.typeDic | async">{{v.displayValue}}</option>
            </select>
        </div>
    </div>
    <div class="col-md-12 no-padding mgb15" style=" line-height : 35px">
        <div class="col-md-3 content-title" style="text-align : right"><span class="asterisk">*</span>紧急程度:</div>
        <div class="col-md-8 float-left no-padding">
            <select [(ngModel)]="criteria.emergency" class="form-control">
                <option value="">请选择</option>
                <option [value]="v.value" *ngFor="let v of service.emergencyDic | async">{{v.displayValue}}</option>
            </select>
        </div>
    </div>
    <div class="col-md-12 no-padding mgb15" style=" line-height : 35px">
        <div class="col-md-3 content-title" style="text-align : right"><span class="asterisk">*</span>联系人:</div>
        <div class="col-md-8 no-padding form-group">
            <input #contactor type="text" class="form-control" [(ngModel)]="criteria.contact">
        </div>
    </div>
    <div class="col-md-12 no-padding mgb15" style=" line-height : 35px">
        <div class="col-md-3 content-title" style="text-align : right"><span class="asterisk">*</span>联系电话:</div>
        <div class="col-md-8 no-padding form-group">
            <input type="text" class="form-control" [(ngModel)]="criteria.contactNo">
        </div>
    </div>
    <div class="col-md-offset-3 col-md-8 text-tip">"区号"+"电话号码"或"手机号"，例如：02160465223或13944238888</div>
    <div class="col-md-12 no-padding mgb15" style=" line-height : 35px">
        <div class="col-md-3 content-title" style="text-align : right">描述:</div>
        <div class="col-md-8 no-padding">
            <textarea class="form-control" rows="5" [(ngModel)]="criteria.details"></textarea>
        </div>
    </div>
    <div class="col-md-offset-3 col-md-8 text-tip">最多只能输入1000个文字</div>
</fc-popup>

<fc-popup #caseDetail title="{{title}}" ot="" ct="">
    <div class="mgb10">基本信息</div>
    <table class="cm-table-left table table-all-boder">
        <tbody>
        <tr>
            <th class="col-md-2 text-center">主题</th>
            <td colspan="3">{{basicInfo.subject}}</td>
        </tr>
        <tr>
            <th class="col-md-2 text-center">状态</th>
            <td>{{basicInfo.statusName}}</td>
            <th class="col-md-2 text-center">类别</th>
            <td>{{basicInfo.typeName}}</td>
        </tr>
        <tr>
            <th class="col-md-2 text-center">联系人</th>
            <td>{{basicInfo.contact}}</td>
            <th class="col-md-2 text-center">联系电话</th>
            <td>{{basicInfo.contactNo}}</td>
        </tr>
        <tr>
            <th class="col-md-2 text-center">提交者</th>
            <td>{{basicInfo.creatorName}}</td>
            <th class="col-md-2 text-center">提交时间</th>
            <td>{{basicInfo.updateDate}}</td>
        </tr>
        <tr>
            <th class="col-md-2 text-center">所属部门</th>
            <td>{{basicInfo.creatorOrganization}}</td>
            <th class="col-md-2 text-center">所属企业</th>
            <td>{{basicInfo.creatorTenant}}</td>
        </tr>
        <tr>
            <th class="col-md-2 text-center table-text-middle" height="80px">描述</th>
            <td colspan="3" height="80px">{{basicInfo.details}}</td>
        </tr>
        </tbody>
    </table>


    <div *ngIf="handledInfo != ''" class="mgb10 mgt10">处理信息</div>
    <table class="cm-table-left table table-all-boder">
        <tbody *ngFor="let v of handledInfo" style="border-top:0px;">
        <tr>
            <th class="col-md-2 text-center">紧急程度</th>
            <td >{{v.emergency}}
                <span class="font-orange" >({{v.emergencyChange}})</span>
            </td>
            <th class="col-md-2 text-center">处理人</th>
            <td>{{v.handlerName}}</td>
            <th class="col-md-2 text-center">处理时间</th>
            <td>{{v.handleDate}}</td>
        </tr>
        <tr>
            <th class="col-md-2 text-center table-text-middle" height="80px">处理记录</th>
            <td colspan="5" height="80px">{{v.handleInfo}}</td>
        </tr>
        </tbody>
    </table>



    <div *ngIf="basicInfo.statusName == '已关闭'">
        <div class="mgb10 mgt10">关闭信息</div>
        <table class="cm-table-left table table-all-boder">
            <tbody>
            <tr>
                <th class="col-md-2 text-center">关闭类型</th>
                <td>{{closedInfo.closeType}}</td>
                <th class="col-md-2 text-center">关闭人</th>
                <td>{{closedInfo.closerName}}</td>
                <th class="col-md-2 text-center">关闭时间</th>
                <td>{{closedInfo.closeDate}}</td>
            </tr>
            <tr>
                <th class="col-md-2 text-center table-text-middle" height="80px">描述</th>
                <td colspan="5" height="80px">{{closedInfo.closeInfo}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</fc-popup>

<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" (cf)="confirmOk()"></fc-confirm>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="确定"></fc-notice>





