<div class="page-content-header icon-cloud-network-mngOn">VMware网络</div>
<div class="page-content">
    <div class="row mgb5" >
        <span class="pull-left pdl15" style="display:inline-block;font-size:16px;padding:6px 0">
            {{'NET_MNG_VM_DBT_PORT.PORTGROUP_ALLOCATION' | translate}}
            ——{{'NET_MNG_VM_DBT_PORT.SET_ENTERPRISE' | translate}}
        </span>
    </div>
    <div class="table-container mgt5 mgb20">
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th>{{'NET_MNG_VM_DBT_PORT.DC_NAME' | translate}}</th>
                    <th>{{'NET_MNG_VM_DBT_PORT.DBT_SWITCH_NAME' | translate}}</th>
                    <th>{{'NET_MNG_VM_DBT_PORT.DBT_PORTGROUP_NAME' | translate}}</th>
                    <th>{{'NET_MNG_VM_DBT_PORT.PORTGROUP_DISPLAY_NAME' | translate}}</th>
                    <th>VLANID</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let port of ports">
                    <td>{{port.dcName}}</td>
                    <td>{{port.switchName}}</td>
                    <td>{{port.dvPortGroupName}}</td>
                    <td>{{port.distPortGroupDisplayName||'NET_MNG_VM_DBT_PORT.UNSET' | translate}}</td>
                    <td>{{port.vlanId}}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div style="margin-left:13%;font-size:16px;"><span class="asterisk">*</span>
            {{'NET_MNG_VM_DBT_PORT.SELECT_ENTERPRISE' | translate}}：</div>

    <fc-selectbox #selectbox [selectedList]="selectedEnterprise" [unSelectedList]="unselectedEnterprise" 
                titleL="{{'NET_MNG_VM_DBT_PORT.ENTERPRISE_FOR_SELECT' | translate}}" 
                titleR="{{'NET_MNG_VM_DBT_PORT.SELECTED_ENTERPRISE' | translate}}" displayKey="com">

    </fc-selectbox>
    <!--<div class="row mgb20" style="margin-left:20%;">

        <div class="col-md-4 ">
            <div class="mgb10" style="text-align: center;font-size:16px;">可选企业</div>
            <div style="height: 400px; overflow-y: scroll; border: 1px solid #cfd8e7;">
                <table class="table table-hover">
                    <tbody>
                        <tr *ngFor="let enterprise of unselectedEnterprise;">
                            <td style="text-align:left;padding-left:10px">
                                <div>
                                    <input type="checkbox" name="unselected" [checked]="enterprise.selected" (change)="enterprise.selected=$event.target.checked;" class="fox-cloud-checkbox" />
                                    {{enterprise.com}}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div  class="col-md-2 text-center" style="margin-top:20px">
            <div class="mgb10 mgt15">
                <button (click)="moveToRight();" class="fox-cloud-button fox-cloud-button-white">
                    <span class="icon-button-label">移入</span>
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
            <div>
                <button (click)="moveToLeft();" class="fox-cloud-button fox-cloud-button-white">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                    <span class="icon-button-label">移出</span>
                </button>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="mgb10" style="text-align: center;font-size:16px;">选中企业</div>
            <div style="height: 400px; overflow-y: scroll; border: 1px solid #cfd8e7;">
                <table class="table table-hover">
                    <tbody>
                        <tr *ngFor="let enterprise of selectedEnterprise;">
                            <td style="text-align:left;padding-left:10px">
                                <div>
                                    <input type="checkbox" name="selected" [checked]="enterprise.selected" (change)="enterprise.selected=$event.target.checked;" class="fox-cloud-checkbox" />
                                    {{enterprise.com}}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
    </div>
</div>-->
<div class="text-center" style="margin-top:50px">
    <button (click) ="gotoPortMng()"  class="fox-cloud-button-lg fox-cloud-button-white" >
        <span class="icon-button-label">{{'NET_MNG_VM_DBT_PORT.CLOSE' | translate}}</span>
    </button>
    <button   (click) ="saveEnterpriseGroup()" class="fox-cloud-button-lg fox-cloud-button-white">
        <span class="icon-button-label">{{'NET_MNG_VM_DBT_PORT.SAVE' | translate}}</span>
    </button>
</div>
<div style="height:50px"></div>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'NET_MNG_VM_DBT_PORT.COMFIRM' | translate}}"></fc-notice>
