<div class="page-content-header icon-content-header-operation-center">
    私有云平台容量管理
</div>
<div class="page-content">
    <div>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="gotoComputeRes()">计算资源</button>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="gotoStoreRes()">存储资源</button>
        <button class="fox-cloud-button fox-cloud-button-green">生成报告</button>
    </div>
    <div class="table-container mgt20">
        <table class="table table-hover">
            <thead>
              <tr>
                  <th>编号</th>
                  <th>选择</th>
                  <th>平台名称</th>
                  <th>所属地域</th>
                  <th>所属数据中心</th>
                  <th>云平台类型</th>
                  <th>访问地址</th>
                  <th>状态</th>
              </tr>
            </thead> 
            <tbody>
                <tr *ngFor="let pf of pfList let i=index">
                    <td>{{(page-1)*size+i+1}}</td>
                    <td><input type="radio" name="pf" class="fox-cloud-radio" [checked]="pf.selected" (change)="selectPlatform(pf)"/></td>
                    <td>{{pf.name}}</td>
                    <td>{{pf.regionName}}</td>
                    <td>{{pf.dataCenter}}</td>
                    <td>{{pf.platformType}}</td>
                    <td>{{pf.uri}}</td>
                    <td>{{pf.status}}</td>
                </tr>
            </tbody>       
        </table>
    </div>

</div>

<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}"></fc-notice>