<div class="page-content-header icon-content-header-operation-center">
    {{'CAPACITY_MNG.PRIVATE_CLOUD_PLATFORM_CAPACITY_MNG'|translate}}<!--私有云平台容量管理-->
</div>
<div class="page-content">
    <div class="mgt5">
        <button class="fox-cloud-button fox-cloud-button-green" (click)="gotoComputeRes()">{{'CAPACITY_MNG.COMPUTE_RES'|translate}}</button><!--计算资源-->
        <button class="fox-cloud-button fox-cloud-button-green" (click)="gotoStoreRes()">{{'CAPACITY_MNG.STORE_RES'|translate}}</button><!--存储资源-->
        <button class="fox-cloud-button fox-cloud-button-green" (click)="getReport()">{{'CAPACITY_MNG.GENERATE_REPORT'|translate }}</button><!--生成报告-->
    </div>
    <div class="table-container mgt15">
        <table class="table table-hover">
            <thead>
              <tr>
                  <th>{{'COMMON.CHOOSE'|translate }}</th><!--选择-->
                  <th>{{'CAPACITY_MNG.NUMBER'|translate}}</th><!--编号-->
                  
                  <th>{{'CAPACITY_MNG.PLATFORM_NAME'|translate }}</th><!--平台名称-->
                  <th>{{'CAPACITY_MNG.REGION_BELONG_TO'|translate }}</th><!--所属地域-->
                  <th>{{'CAPACITY_MNG.DATA_CENTER_BELONG_TO'|translate }}</th><!--所属数据中心-->
                  <th>{{'CAPACITY_MNG.CLOUD_PLATFORM_TYPE'|translate}}</th><!--云平台类型-->
                  <th>{{'CAPACITY_MNG.URL'|translate}}</th><!--访问地址-->
                  <th>{{'COMMON.STATUS'|translate}}</th><!--状态-->
              </tr>
            </thead> 
            <tbody>
                <tr *ngFor="let pf of pfList let i=index">
                    <td><input type="radio" name="pf" class="fox-cloud-radio" [checked]="pf.selected" [disabled]="pf.status==0"  (change)="selectPlatform(pf)"/></td>
                    <td>{{(page-1)*size+i+1}}</td>                   
                    <td>{{pf.name}}</td>
                    <td>{{pf.regionName}}</td>
                    <td>{{pf.dataCenter}}</td>
                    <td>{{pf.platformType| dict:this.service.pfDic | async}}</td>
                    <td>{{pf.uri}}</td>
                    <td [ngClass]="pf.status==1?'font-green':'font-orange'">{{pf.status| dict:this.service.statusDic | async}}</td>
                </tr>
            </tbody>       
        </table>
    </div>
    <div class="fox-cloud-pagination-container">
        <fc-pagination #pager tp={{totalPage}} (pf)="getPlatformList($event)"></fc-pagination>
    </div>
</div>

<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}"></fc-notice>