<div class="page-content-header icon-content-header-operation-center">
    私有云平台容量管理
</div>
<div class="page-content">
    <div>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="gotoComputeRes()">计算资源</button>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="gotoStoreRes()">存储资源</button>
        <button class="fox-cloud-button fox-cloud-button-green">生成报告</button>
    </div>
    <div class="table-container mgt20">
        <table class="table table-hover">
            <thead>
              <tr>
                  <th>编号</th>
                  <th>选择</th>
                  <th>平台名称</th>
                  <th>所属地域</th>
                  <th>所属数据中心</th>
                  <th>云平台类型</th>
                  <th>访问地址</th>
                  <th>状态</th>
              </tr>
            </thead> 
            <tbody>
                <tr>
                    <td>1</td>
                    <td><input type="radio" class="fox-cloud-radio"/></td>
                    <td>name1</td>
                    <td>北京</td>
                    <td>ABC</td>
                    <td>OPENSTACK</td>
                    <td>xxx</td>
                    <td>启用</td>
                </tr>
            </tbody>       
        </table>
    </div>

</div>