<div class="page-content-header icon-content-header-operation-center">
    计算资源容量管理： 
    <span style="font-size:16px;">云平台名称：{{selectedPf.name}} &nbsp; &nbsp;  平台类型：{{selectedPf.platformType}} &nbsp;&nbsp;   访问地址：{{selectedPf.uri}}</span>
    <button class=" fox-cloud-button-md fox-cloud-button-white pull-right" style="padding:2px 15px;font-size:14px" (click)="BacktoCapacityMng()">
        返回云平台容量管理
    </button>
</div>
<div class="page-content">
   
    <div class="row row-line-height" >
        <div class="col-md-2 form-control-title">Region:</div>
        <div class="col-md-10">
             <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default"  *ngFor="let region of regionList let i=index" [ngClass]="i==0? 'active':''" (click)="getZoneList(region.regionId)">
                    <input type="radio" name="region" autocomplete="off"  >{{region.regionName}}
                </label>
                
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="col-md-2 form-control-title">可用区:</div>
        <div class="col-md-10">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default" *ngFor="let zoneInfo of zones let k=index" [ngClass]="k==0? 'active':''" (click)="getZoneId(zoneInfo.zoneId)">
                    <input type="radio" name="zone" autocomplete="off" >{{zoneInfo.zoneName}}({{zoneInfo.zoneStatus}})
                </label>
                
            </div>
        </div>
    </div>
    <div class="row row-line-height" >
        <div class="col-md-2 form-control-title">可用区信息:</div>
        <div class="col-md-8" style="letter-spacing:2px;font-size:16px;"> <!--style="letter-spacing:2px;font-size:16px;"-->
            <div class="row row-line-height" >
                <div class="col-md-3 text-right" style="width:178px;">物理CPU总核数：</div>
                <div class="col-md-2">{{zoneResInfo.cpus}}&nbsp;核</div>               
                <div class="col-md-2 text-right">CPU超分比：</div>
                <div class="col-md-1">{{zoneResInfo.cpuOversubscription}}&nbsp;倍</div>
                 <div class="col-md-2 text-right">可分配CPU：</div>
                <div class="col-md-2">{{zoneResInfo.cpuCapacity}}&nbsp;核</div>
            </div>
            <div class="row row-line-height" >
                 <div class="col-md-3 text-right" style="width:178px;">总内存：</div>
                <div class="col-md-2">{{zoneResInfo.memory}}&nbsp;GB</div>
                <div class="col-md-2 text-right">可用配额：</div>
                <div class="col-md-1">{{zoneResInfo.cpuQurta}}%</div>
                <div class="col-md-2 text-right">可分配内存：</div>
                <div class="col-md-2">{{zoneResInfo.memoryCapacity}}&nbsp;GB </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    <h3 class="panel-title">可用区资源分配率 【云管平台产生资源】</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div style="text-align:center;">CPU</div>
                        <div style="position:relative;">
                            <div class="circle-mask"></div>
                           <div class="circle-text">{{resAllocationInfo.cpuPercent}}%</div>
                           <canvas baseChart
                             *ngIf="cpuAllocation.DataSets"
                             [datasets]="cpuAllocation.DataSets "
                             [chartType]="cpuAllocation.ChartType"
                             [options]="cpuAllocation.Options"
                             [colors]="cpuAllocation.Colors"
                             >
                            </canvas>
                        </div>
                        <div style="text-align:center;">{{resAllocationInfo.cpu}}/{{resAllocationInfo.cpuTotal}} 核</div>
                    </div>
                    <div class="col-md-6">
                         <div style="text-align:center;">内存</div>
                         <div style="position:relative;">
                             <div class="circle-mask"></div>
                           <div class="circle-text">{{resAllocationInfo.memoryPercent}}%</div>
                           <canvas baseChart
                             *ngIf="memAllocation.DataSets"
                             [datasets]="memAllocation.DataSets "
                             [chartType]="memAllocation.ChartType"
                             [options]="memAllocation.Options"
                             [colors]="memAllocation.Colors">
                           </canvas>
                         </div>
                        <div style="text-align:center;">{{resAllocationInfo.memory}}/{{resAllocationInfo.memoryTotal}} GB</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    <h3 class="panel-title">可用区资源分配率 【实际已分配资源】</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div style="text-align:center;">CPU</div>
                        <div style="position:relative;">
                            <div class="circle-mask"></div>
                           <div class="circle-text">{{resActualInfo.cpuPercent}}%</div>
                           <canvas baseChart
                             *ngIf="cpuActual.DataSets"
                             [datasets]="cpuActual.DataSets "
                             [chartType]="cpuActual.ChartType"
                             [options]="cpuActual.Options"
                             [colors]="cpuActual.Colors">
                            </canvas>
                        </div>
                        <div style="text-align:center;">{{resActualInfo.cpu}}/{{resActualInfo.cpuTotal}} 核</div>
                    </div>
                    <div class="col-md-6">
                        <div style="text-align:center;">内存</div>
                        <div style="position:relative;">
                            <div class="circle-mask"></div>
                           <div class="circle-text">{{resActualInfo.memoryPercent}}%</div>
                           <canvas baseChart
                             *ngIf="memActual.DataSets"
                             [datasets]="memActual.DataSets "
                             [chartType]="memActual.ChartType"
                             [options]="memActual.Options"
                             [colors]="memActual.Colors">
                            </canvas>
                        </div>
                        <div style="text-align:center;">{{resActualInfo.memory}}/{{resActualInfo.memoryTotal}} GB</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    <h3 class="panel-title">可用区资源利用率 【物理资源平均利用率%】</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div style="text-align:center;">CPU</div>
                        <div style="position:relative;">
                            <div class="circle-mask"></div>
                           <div class="circle-text">{{resUsedInfo.cpuPercent}}%</div>
                           <canvas baseChart
                             *ngIf="cpuUsed.DataSets"
                             [datasets]="cpuUsed.DataSets "
                             [chartType]="cpuUsed.ChartType"
                             [options]="cpuUsed.Options"
                             [colors]="cpuUsed.Colors">
                            </canvas>
                        </div>
                        <div style="text-align:center;">{{resUsedInfo.cpu}}/{{resUsedInfo.cpuTotal}} 核</div>
                    </div>
                    <div class="col-md-6">
                        <div style="text-align:center;">内存</div>
                        <div style="position:relative;">
                            <div class="circle-mask"></div>
                           <div class="circle-text">{{resUsedInfo.memoryPercent}}%</div>
                           <canvas baseChart
                             *ngIf="memUsed.DataSets"
                             [datasets]="memUsed.DataSets "
                             [chartType]="memUsed.ChartType"
                             [options]="memUsed.Options"
                             [colors]="memUsed.Colors">
                            </canvas>
                        </div>
                        <div style="text-align:center;">{{resUsedInfo.memory}}/{{resUsedInfo.memoryTotal}} GB</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mgt10" style="font-size:18px;font-weight:bold;">
        宿主机容量情况：
    </div>
    <div class="table-container mgt10">
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th>宿主机名称</th>
                    <th>物理CPU核数</th>
                    <th>内存(GB)</th>
                    <th>虚拟CPU（实际已分配）</th>
                    <th>内存（实际已分配)</th>
                    <th>状态</th>
                    <th>状况</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let host of hostList">
                    <td><a (click)="gotoHostDtail(host.hostId)">{{host.hostName}}</a></td>
                    <td>{{host.cpu}}</td>
                    <td>{{host.memory}}</td>
                    <td class="table-progress">
                        <div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info"
                                     [style.width.%]="host.cpuPercent">
                                </div>
                            </div>
                            <span class="progress-value">{{host.cpuPercent}}%</span>
                        </div>
                    </td>
                    <td class="table-progress">
                        <div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info"
                                     [style.width.%]="host.memPercent">
                                </div>
                            </div>
                            <span class="progress-value">{{host.memPercent}}%</span>
                        </div>
                    </td>
                    <td>{{host.running}}</td>
                    <td>{{host.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>