<div class="page-content-header icon-content-header-operation-center">
    {{'CAPACITY_MNG.HOST_DETAIL'|translate}}<!--宿主机详情-->
   
   <button class=" fox-cloud-button-md fox-cloud-button-white pull-right" style="padding:2px 15px;font-size:14px" (click)="BacktoComputeRes()">
       {{'CAPACITY_MNG.BACK_TO_COMPUTE_RES'|translate}}<!--返回计算资源容量管理-->
    </button>
</div>
<div class="page-content">
    <div class="table-container">
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th>{{'CAPACITY_MNG.HOST_NAME'|translate}}</th><!--宿主机名称-->
                    <th>{{'CAPACITY_MNG.PHYSICAL_CPU_CORES'|translate}}</th><!--物理CPU核数-->
                    <th>{{'CAPACITY_MNG.MEMORY_GB'|translate}}</th><!--内存(GB)-->
                    <th>{{'CAPACITY_MNG.VIRTUAL_CPU'|translate}}</th><!--虚拟CPU（实际已分配）-->
                    <th>{{'CAPACITY_MNG.ACTUAL_ALLOCATED_MEMORY'|translate}}</th><!--内存（实际已分配)-->
                    <th>{{'CAPACITY_MNG.INSTANCE_NUMBER'|translate}}</th><!--实例数量-->
                    <th>{{'COMMON.STATUS'|translate}}</th><!--状态-->
                    <th>{{'CAPACITY_MNG.SITUATION'|translate}}</th><!--状况-->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{hostInfo.hostName}}</td>
                    <td>{{hostInfo.cpu}}</td>
                    <td>{{hostInfo.memory}}</td>
                    <td class="table-progress">
                        <div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info"
                                     [style.width.%]="hostInfo.cpuPercent">
                                </div>
                            </div>
                            <span class="progress-value">{{hostInfo.cpuPercent}}%</span>
                        </div>
                    </td>
                    <td class="table-progress">
                        <div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info"
                                     [style.width.%]="hostInfo.memPercent">
                                </div>
                            </div>
                            <span class="progress-value">{{hostInfo.memPercent}}%</span>
                        </div>
                    </td>
                    <td>{{hostInfo.instance}}</td>
                    <td [ngClass]="hostInfo.status==1?'font-green':'font-orange'">{{hostInfo.status| dict:this.service.statusDic | async}}</td>
                    <td [ngClass]="hostInfo.running==1?'font-green':'font-orange'">{{hostInfo.running| dict:this.service.runningDic | async}}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row mgt15" >
        <div class="col-md-2">
            <select class="form-control" [(ngModel)]="Period">
                <option *ngFor="let p of service.peridDic | async" [value]="p.value">{{p.displayValue}}</option>
            </select>
        </div>
        <div class="col-md-2">
            <button class="fox-cloud-button fox-cloud-button-white" (click)="refresh()">{{'CAPACITY_MNG.REFRESH'|translate}}</button><!--刷新-->
        </div> 
           
    </div>
    <div class="mgt10" style="font-size:18px;">
        <div class="row row-line-height" style="margin:0;">
            <div class="col-md-3">{{'CAPACITY_MNG.CPU_AVERAGE_UTILIZATION'|translate}}：{{hostInfo.cpuAverage}}%</div><!--CPU平均使用率-->
            <div class="col-md-3">{{'CAPACITY_MNG.CPU_PEAK_VALUE_UTILIZATION'|translate}}：{{hostInfo.cpuPeak}}%</div><!--CPU峰值使用率-->
            <div class="col-md-6">{{'CAPACITY_MNG.CPU_PEAK_TIME'|translate}}：{{hostInfo.cpuPeakTime}}</div><!--CPU峰值记录时间-->
        </div>
        <div class="row row-line-height" style="margin:0;">
            <div class="col-md-3">{{'CAPACITY_MNG.MEMORY_AVERAGE_UTILIZATION'|translate}}：{{hostInfo.memoryAverage}}%</div><!--内存平均使用率-->
            <div class="col-md-3">{{'CAPACITY_MNG.MEMORY_PECK_VALUE_UTILIZATION'|translate}}：{{hostInfo.memoryPeak}}%</div><!--内存峰值使用率-->
            <div class="col-md-6">{{'CAPACITY_MNG.MEMORY_PEAK_TIME'|translate}}：{{hostInfo.memoryPeakTime}}</div><!--内存峰值记录时间-->
        </div>
    </div>
    <div class="row mgt20">
        <div class="col-md-6">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    <h3 class="panel-title">{{'CAPACITY_MNG.CPU_UTILIZATION'|translate}}</h3><!--CPU使用率-->
                </div>
                <div class="panel-body">
                    <canvas baseChart
                          *ngIf="cpuChart.DataSets"
                          [datasets]="cpuChart.DataSets "
                          [chartType]="cpuChart.ChartType"
                          [colors]="cpuChart.Colors"
                          [options]="cpuChart.options"
						  [labels]="cpuChart.Labels">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    <h3 class="panel-title">{{'CAPACITY_MNG.MEMORY_UTILIZATION'|translate}}</h3><!--内存使用率-->
                </div>
                <div class="panel-body">
                    <canvas baseChart
                          *ngIf="memChart.DataSets"
                          [datasets]="memChart.DataSets "
                          [chartType]="memChart.ChartType"
                          [colors]="memChart.Colors"
                          [options]="memChart.options"
						  [labels]="memChart.Labels">
                    </canvas>
                </div>
        </div>
    </div>
</div>
</div>