<div class="page-content-header icon-content-header-operation-center">
    存储后端详情
    <button class=" fox-cloud-button-md fox-cloud-button-white pull-right" style="padding:2px 15px;font-size:14px" key="boe/store-res.html">
        返回存储资源容量管理
    </button>
</div>
<div class="page-content">
    <div class="table-container">
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th>编号</th>
                    <th>名称</th>
                    <th>显示名称</th>
                    <th>存储类型</th>
                    <th>总容量（GB)</th>
                    <th>副本数</th>
                    <th>配额%</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>cinder1</td>
                    <td>高速I/O-1</td>
                    <td>CEPH</td>
                    <td>12800</td>
                    <td>3</td>
                    <td>85</td>
                    <td>已启用</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mgt20" style="font-size:18px;letter-spacing:2px;line-height:34px;">
        <div class="row row-line-height" style="margin:0;">
            <div class="col-md-3 form-control-title">云平台可分配容量：</div>
            <div class="col-md-9"> 12800/3*0.85 GB</div>           
        </div>
        <div class="row row-line-height" style="margin:0;">
            <div class="col-md-3 form-control-title">云平台已分配：</div>
            <div class="col-md-9"> XXX GB</div>           
        </div>
        <div class="row row-line-height" style="margin:0;">
            <div class="col-md-3 form-control-title">存储实际利用率：</div>
            <div class="col-md-9"> XXX GB</div>           
        </div>
        <div class="row row-line-height" style="margin:0;font-weight:bold;">
            <div class="col-md-3 form-control-title">包含：</div>
        </div>

         <div class="row row-line-height" style="margin:0;">
             <div class="col-md-3 form-control-title">云主机启动盘：</div>
            <div class="col-md-9">50 块</div>
        </div>
         <div class="row row-line-height" style="margin:0;">
             <div class="col-md-3 form-control-title">云主机启动盘占用总容量 :</div>
            <div class="col-md-9">180 GB</div>
        </div>
         <div class="row row-line-height" style="margin:0;">
             <div class="col-md-3 form-control-title">云硬盘：</div>
            <div class="col-md-9">100 块</div>
        </div>
        <div class="row row-line-height" style="margin:0;">
             <div class="col-md-3 form-control-title">云硬盘占用总容量 :</div>
            <div class="col-md-9">400 GB</div>
        </div>
    </div>
</div>