<div class="page-content-header icon-content-header-operation-center">
    {{'CAPACITY_MNG.STORE_RES_CAPACITY_MNG'|translate}}<!--存储资源容量管理-->
    <span style="font-size:16px;">
    {{'CAPACITY_MNG.CLOUD_PLATFORM_NAME'|translate}}:{{selectedPf.name}} &nbsp;&nbsp;
    {{'CAPACITY_MNG.PLATFORM_TYPE'|translate}}：{{selectedPf.platformType}} &nbsp;&nbsp;
      {{'CAPACITY_MNG.URL'|translate}}：{{selectedPf.uri}}</span>
    <button class=" fox-cloud-button-md fox-cloud-button-white pull-right" style="padding:2px 15px;font-size:14px" (click)="BacktoCapacityMng()">
        {{'CAPACITY_MNG.BACK_TO_CAPACITY_MNG'|translate}}<!--返回云平台容量管理-->
    </button>
</div>
<div class="page-content">
    
    <div class="mgt10" style="font-size:18px;font-weight:bold;">
        {{'CAPACITY_MNG.STORE_CAPACITY_INFO'|translate}}：<!--存储容量信息-->
    </div>
    <div class="table-container mgt10">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{'CAPACITY_MNG.NUMBER'|translate}}</th><!--编号-->
                    <th>{{'CAPACITY_MNG.NAME'|translate}}</th><!--名称-->
                    <th>{{'CAPACITY_MNG.DISPLAY_NAME'|translate}}</th><!--显示名称-->
                    <th>{{'CAPACITY_MNG.STORAGE_TYPE'|translate}}</th><!--存储类型-->
                    <th>{{'CAPACITY_MNG.TOTAL_CAPACITY'|translate}}</th><!--总容量（GB）-->
                    <th>{{'CAPACITY_MNG.COPIES'|translate}}</th><!--副本数-->
                    <th>{{'CAPACITY_MNG.QUOTA'|translate}}</th><!--配额%-->
                    <th>{{'CAPACITY_MNG.DISTRIBUTION_RATE'|translate}}</th><!--分配率【云平台分配】-->
                    <th>{{'CAPACITY_MNG.ACTUAL_UTILIZATION'|translate}}</th><!--实际利用率-->
                    <th>{{'COMMON.STATUS'|translate}}</th>  <!--状态-->                  
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let storage of storageList">
                    <td>{{storage.order}}</td>
                    <td><a (click)="gotoStoreDetail(storage)">{{storage.storageName}}</a></td>
                    <td>{{storage.displayName}}</td>
                    <td>{{storage.storageType}}</td>
                    <td>{{storage.capacity}}</td>
                    <td>{{storage.copy}}</td>
                    <td>{{storage.qurota}}</td>
                    <td class="table-progress" > 
                        <div>                  
                        <div class="progress" >
                            <div class="progress-bar progress-bar-info"
                                 [style.width.%]="storage.rate">
                            </div>
                        </div>
                        <span class="progress-value">{{storage.rate}}%</span>
                        </div>                     
                    </td>
                    <td class="table-progress" >   
                       <div>                  
                        <div class="progress" >
                            <div class="progress-bar progress-bar-info"
                                 [style.width.%]="storage.usage">
                            </div>
                        </div>
                        <span class="progress-value">{{storage.usage}}%</span>
                        </div>                            
                     </td>
                    <td [ngClass]="storage.status==1?'font-green':'font-orange'">{{storage.status| dict:this.service.statusDic | async}}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
    
</div>