<fc-notice #notice title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalAction(0)"></fc-notice>

<div class="page-content-header icon-content-header-purchasing">创建服务目录</div>
<div class="page-content fix-page-content">
	<div class="row navigator-progress">
		<div class="col-md-3 active"><span class="mark">1</span>填写服务目录信息</div>
		<div class="col-md-3 active"><span class="mark">2</span> 配置服务模板</div>
		<div class="col-md-3 active"><span class="mark">3</span> 选择可用区</div>
		<div class="col-md-3 active"><span class="mark">4</span> 设置启动盘</div>
		<div class="clear"></div>
	</div>
	<div class="step-progress">
		<div class="fox-cloud-progress-rectangle progress-striped">
			<div class="progress-bar fox-cloud-progress-bar-rectangle" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
			</div>
		</div>
	</div>
	<div class="row" style="padding-top: 30px;">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<div class="tableCon tableBorder">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>可用区</th>
							<th>描述</th>
							<th>设置启动盘</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let zone of serviceDetail.zones">
							<td>{{zone.displayName || zone.zoneId}}</td>
							<td>{{zone.description || zone.zoneId}}</td>
							<td>
								<div class="row">
									<span class="col-sm-5">
										<select class="form-control" [(ngModel)]="zone.storageId">
											<option *ngFor="let option of storages" value={{option.id}}>
												{{option.displayName || option.id}}
											</option>
										</select>
									</span>
									<span class="col-sm-5">
										<input class="form-control" type="number" min="0" [(ngModel)]="zone.size" />
									</span>
									<span>G</span>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="text-center">
	<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="goBack();">
		<span class="icon-button-label">返回</span>
	</button>
	<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="preStep();">
		<span class="icon-button-label">上一步</span>
	</button>
	<button class="fox-cloud-button-lg fox-cloud-button-white" (click)="createServiceDirectory();">
		<span class="icon-button-label">创建服务目录</span>
	</button>
</div>
