<div class="page-content-header icon-content-header-platform-manage">
    管理服务
</div>
<div class="page-content">
    <div class="row mgb10 mgt10">
            <span class="pull-left pdl15" style="display:inline-block;font-size:16px;padding:6px 0">
                服务状态：
            </span>
            <button>进行中</button>
            <button>已完成</button>
    </div>
    <div class="row mgb10 mgt10">
            <span class="pull-left pdl15" style="display:inline-block;font-size:16px;padding:6px 0">
            所属企业
            </span>
        
    </div>
    <div class="mgb20 mgt10">
        <div class="pull-left mgr20">
            <select class="form-control" style="line-height:34px;padding:6px 10px;width:100px">
                <option>实例名称</option>
                <option>服务编号</option>
            </select>
        </div>
        <div class="input-group col-md-2 float-left">
            <input  type="text" class="form-control width-300" placeholder="输入信息快速搜索">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-search" ></span>
                </div>
        </div>
        <button type="button" class="fox-cloud-button fox-cloud-button-white mgl15" style="height:34px" > {{'NET_MNG_OPENSTACK.RESET' | translate}}</button>
        
    
        <button class="fox-cloud-button fox-cloud-button-green pull-right ">
            <span class="icon-button-label icon-left-button-label">服务跟进</span>
        </button>
        <button class="fox-cloud-button fox-cloud-button-green pull-right ">
            <span class="icon-button-label icon-left-button-label">服务状态更新</span>
        </button>
        

      </div>  
        <div class="table-comtainer">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>选择</th>
                        <th>选择</th>
                        <th>服务编号</th>
                        <th>管理服务名称</th>
                        <th>服务对象</th>
                        <th>实例ID/实例名称</th>
                        <th>所在区域</th>
                        <th>所属企业</th>
                        <th>服务类型</th>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="radio" class="fox-cloud-radio" name="radio"/></td>
                        <td>123</td>
                        <td>我的云主机管理服务</td>
                        <td>云主机</td>
                        <td>asdasdaffdsf</td>
                        <td>上海1区</td>
                        <td>DXC</td>
                        <td>持续型服务</td>
                        <td>进行中</td>
                    </tr>
                </tbody>
            </table>
        </div>
    
</div>