<div class="page-content-header icon-content-header-mng-service">
    管理服务详情
    <button class="fox-cloud-button-md fox-cloud-button-white pull-right" style="padding:2px 15px;font-size:14px" (click)="goBack()">
        返回管理服务列表
    </button>
</div>
<div class="page-content">
    <div class="row mgt20" >
        <div class="col-md-3"></div>
        <div class="col-md-2" style="text-align:left">
            <span style="border:3px solid #00a982;border-radius:50px;"></span>
            <span style="font-size:18px;font-weight:700;padding-left:5px"> 基本信息</span>
        </div>
    </div>
    <div style="margin-left:20px">
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title" style="margin-left:55px">管理服务名称:</div>
                <div class="col-md-4"> <span style="line-height:34px">不能访问公司OA系统主机</span> </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title" style="margin-left:55px">服务对象:</div>
                <div class="col-md-4"> <span style="line-height:34px"> 云主机 </span></div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title" style="margin-left:55px"> 实例ID:</div>
                <div class="col-md-4"> <span style="line-height:34px">管华</span> </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title" style="margin-left:55px">实例名称:</div>
                <div class="col-md-4">  <span style="line-height:34px">02164223399</span> </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="form-group">
                <div class="col-sm-4 form-control-title" style="margin-left:55px">所在区域:</div>
                <div class="col-md-4"> <span style="line-height:34px"> 云主机 </span></div>
            </div>
        </div>
    </div>

    <div style="border-top:1px solid #00a982;width: 700px;margin-top: 20px;margin-left:265px"></div>
    <div class="row mgt20" >
        <div class="col-md-3"></div>
        <div class="col-md-2" style="text-align:left">
            <span style="border:3px solid #00a982;border-radius:50px;"></span>
            <span style="font-size:18px;font-weight:700;padding-left:5px"> 订购信息</span>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title" style="margin-left:55px">服务类型:</div>
            <div class="col-md-4"> <span style="line-height:34px"> 云主机 </span></div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title" style="margin-left:55px">服务状态:</div>
            <div class="col-md-4"> <span style="line-height:34px"> 云主机 </span></div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title" style="margin-left:55px">服务开始时间:</div>
            <div class="col-md-4"> <span style="line-height:34px"> 云主机 </span></div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title" style="margin-left:55px">服务结束时间:</div>
            <div class="col-md-4"> <span style="line-height:34px"> 云主机 </span></div>
        </div>
    </div>

    <div style="border-top:1px solid #00a982;width: 700px;margin-top: 20px;margin-left:265px"></div>
    <div class="row mgt20" >
        <div class="col-md-3"></div>
        <div class="col-md-2" style="text-align:left">
            <span style="border:3px solid #00a982;border-radius:50px;"></span>
            <span style="font-size:18px;font-weight:700;padding-left:5px"> 备注信息</span>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title" ></div>
            <div class="col-md-4"> <span style="line-height:34px">XXXXXXX</span> </div>
        </div>
    </div>

    <div style="border-top:1px solid #00a982;width: 700px;margin-top: 20px;margin-left:265px"></div>
    <div class="row mgt20" >
        <div class="col-md-3"></div>
        <div class="col-md-2" style="text-align:left">
            <span style="border:3px solid #00a982;border-radius:50px;"></span>
            <span style="font-size:18px;font-weight:700;padding-left:5px"> 服务跟进信息</span>
        </div>
    </div>
</div>
