<div class="page-content cart_list">
	<h1 class="page-content-header mgb20">购物车</h1>



      
    <table class="table table-all-boder mgb20">
        <tr class="table-title">
            <td class="text-center">产品信息</td>
            <td class="text-center">产品类型</td>
            <td class="text-center">计费模式</td>
            <td class="text-center">购买周期</td> 
            <td class="text-center">费用明细</td>
            <td class="text-center">数量</td>
            <td class="text-center">小记</td>
        </tr>
        <tr colspan="7" class="table-gap"></tr>
        <ng-container *ngFor="let cart of cartList;">
        <tr>
            <td colspan="7" class="table-line-head">
                <font class="font-green">{{cart.itemNo}}</font>
                <button (click)="deleteCartList(cart.id)" class="btn button-gray-gradient float-right delete-cart"><span class="icon-delete"></span>从购物车中移除</button>
            </td>
        </tr>
        <tr>
            <td style="width: 500px">
                <table class="cart-info">
                    <tr *ngFor="let attr of cart.attrList;">
                        <td style="width: 150px">{{attr.attrDisplayName}} : </td>
                        <td>{{attr.attrDisplayValue}}</td>
                    </tr>
                </table>

            </td>
            <td class="text-center table-text-middle">{{cart.serviceType}}</td>
            <td class="text-center table-text-middle">{{cart.billingMode}}</td>
            <td class="text-center table-text-middle">2017-6-11 10:1:2</td>
            <td class="text-center table-text-middle">无</td> 
            <td class="text-center table-text-middle" style="width: 15%;">
                <!--  <count-bar 
                    [step]=1 
                    [max]=1025 
                    [min]=1
                    [disabled]=false 
                    [value]=cart.quantity #varName (output)="outputValue($event)"></count-bar>  -->
                    {{cart.quantity}}台
            </td>
            <td class="text-center table-text-middle">{{cart.billingPeriod}}元</td>
        </tr>
        </ng-container>
    </table>
    <div class="shoping-bottom clear-float">
        <a href="javascript:" class="font-orange float-left pdt20">< 返回产品购买</a>
        <button (click)="buyNow()" class="btn button-orange-deep button-size-big float-right mgt15">下单结算</button>
        <!--  <span class="float-right mgr50">
            <table>
                <tr>
                    <td>一次性费用： </td>
                    <td><font class="font-orange">¥{{totalPrice}}</font></td>
                </tr>
               <tr>
                    <td>费用： </td>
                    <td><font class="font-orange">¥100/月</font></td>
                </tr>
                <tr>
                    <td></td>
                    <td><font class="font-orange">¥100/年</font></td>
                </tr>
            </table>
        </span> -->
        <span class="float-right mgr50 pdt20">费用总计：<font class="font-orange">¥{{totalPrice}}</font></span>
        <span class="float-right mgr50 pdt20">( 费用合计 )</span>
    </div>
</div>
<fc-confirm #confirm title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalcancle()" ct="{{modalCancelTitle}}" (cf)="modalconfirm()"></fc-confirm>
<fc-notice #notice title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalconfirm()"></fc-notice>



<!-- 
<form #heroForm="ngForm"  (ngSubmit)="onValueChanged(heroForm)">
  <div class="form-group" [ngClass]="{'has-error': name.errors && (name.dirty || name.touched)}">
      <input type="text" id="name" class="form-control"
           required [pattern]="v.email"
           name="name" ngModel
           #name="ngModel" >
      <span class="help-block" *ngIf="name.errors?.pattern">请填写正确的email</span>
      <span class="help-block" *ngIf="name.errors?.required">email不能为空</span>
  </div>

  <div class="form-group" [ngClass]="{'has-error': number.errors && (number.dirty || number.touched)}">
      <input type="text" id="number" class="form-control"
           required [pattern]="v.number"
           minlength="4" maxlength="24"
           name="number" ngModel
           #number="ngModel" >
      <span class="help-block" *ngIf="number.errors?.pattern">必须为数字</span>
      <span class="help-block" *ngIf="number.errors?.minlength">不小于4个字</span>
      <span class="help-block" *ngIf="number.errors?.maxlength">不能超过24个字</span>
      <span class="help-block" *ngIf="number.errors?.required">不能为空</span>
  </div>

  <button type="submit" class="btn btn-default"
             [disabled]="!heroForm.form.valid">Submit</button>

</form> -->
