<div class="page-content cart_list">
	<h1 class="page-content-header mgb20">{{'COMMON.SHOPPING_CART' | translate}}</h1>
	  
	<cart-complete #cart></cart-complete>
	<div class="shoping-bottom clear-float">
		<a href="javascript:" (click)="location.back()" class="font-orange float-left pdt20">{{'SHOPPING_CART.BACK_TO_PRODUCT_PURCHASE' | translate}}</a>
		<button (click)="buyNow()" class="btn button-orange-deep button-size-big float-right mgt15">{{'SHOPPING_CART.SETTLE_ACCOUNTS' | translate}}</button>
		 <span class="float-right mgr50">
			<table>
                <tr>
                    <td>{{'COMMON.ONE_TIME_COSTS' | translate}}: </td>
                    <td><font class="font-orange">{{'COMMON.$' | translate}}{{cart.totalPrice.oncePrice | decimalPlaces}}</font></td>
                </tr>
                <tr *ngFor="let key of cart.totalPrice.billingArr | objectToArr; let i = index">
                    <td><font *ngIf="i == 0">{{'SHOPPING_CART.BILLINGARR' | translate}}:</font></td>
                    <td><font class="font-orange">{{'COMMON.$' | translate}}{{cart.totalPrice.billingArr[key]}}/{{key | dict:service.weekly | async}}</font></td>
                </tr>
                <tr *ngFor="let key of cart.totalPrice.unitArr | objectToArr; let i = index">
                    <td><font *ngIf="i == 0">{{'SHOPPING_CART.UNITARR' | translate}}:</font></td>
                    <td><font class="font-orange">{{'COMMON.$' | translate}}{{cart.totalPrice.unitArr[key]}}/{{key | dict:service.weekly | async}}/GB</font></td>
                </tr>
            </table>
        </span>
		<span class="float-right mgr50 pdt20">{{'SHOPPING_CART.TOTAL_COST' | translate}}</span>
	</div>
</div>
<fc-confirm #confirm title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalCANCEL()" ct="{{modalCancelTitle}}" (cf)="modalconfirm()"></fc-confirm>
<fc-notice #notice title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="noticeconfirm()"></fc-notice>



<!-- 
<form #heroForm="ngForm"  (ngSubmit)="onValueChanged(heroForm)">
  <div class="form-group" [ngClass]="{'has-error': name.errors && (name.dirty || name.touched)}">
	  <input type="text" id="name" class="form-control"
		   required [pattern]="v.email"
		   name="name" ngModel
		   #name="ngModel" >
	  <span class="help-block" *ngIf="name.errors?.pattern">请填写正确的email</span>
	  <span class="help-block" *ngIf="name.errors?.required">email不能为空</span>
  </div>

  <div class="form-group" [ngClass]="{'has-error': number.errors && (number.dirty || number.touched)}">
	  <input type="text" id="number" class="form-control"
		   required [pattern]="v.number"
		   minlength="4" maxlength="24"
		   name="number" ngModel
		   #number="ngModel" >
	  <span class="help-block" *ngIf="number.errors?.pattern">必须为数字</span>
	  <span class="help-block" *ngIf="number.errors?.minlength">不小于4个字</span>
	  <span class="help-block" *ngIf="number.errors?.maxlength">不能超过24个字</span>
	  <span class="help-block" *ngIf="number.errors?.required">不能为空</span>
  </div>

  <button type="submit" class="btn btn-default"
			 [disabled]="!heroForm.form.valid">Submit</button>

</form> -->
