<div class="page-content cart_list">
	<h1 class="page-content-header mgb20">订单完成</h1>
    <table class="table table-all-boder mgb20">
        <tr class="table-title">
            <td class="text-center">产品信息</td>
            <td class="text-center">产品类型</td>
            <td class="text-center">计费模式</td>
            <td class="text-center">购买周期</td> 
            <td class="text-center">费用</td>
            <td class="text-center">状态</td>
            <td class="text-center">创建时间</td>
            <td class="text-center">到期时间</td>
            <td class="text-center">数量</td>
        </tr>
        <tr colspan="9" class="table-gap"></tr>
        <ng-container *ngFor="let order of orderList | orderBy : 'createDate'; ">
        <tr>
            <td colspan="9" class="table-line-head">
                <font class="font-green">订单号：{{order.itemNo}} 创建时间：{{order.createDate | formatData}}</font>
            </td>
        </tr>
        <tr *ngFor="let items of order.itemList;">
            <td style="width: 500px">
                <table class="cart-info">
                    <tr *ngFor="let attr of items.attrList;">
                        <td style="width: 150px">{{attr.attrDisplayName}} : </td>
                        <td>{{attr.attrDisplayValue}}</td>
                    </tr>
                </table>
            </td>
            <td class="text-center table-text-middle">{{items.serviceType | dict:service.dictProductType | async}}</td>
            <td class="text-center table-text-middle">{{items.billingMode | dict:service.dictPriceModel | async}}</td>
            <td class="text-center table-text-middle">{{items.billingPeriod}}</td>
            <td class="text-center table-text-middle">
                <table class="cart-info">
                    <tr>
                        <td>一次性费用： </td>
                        <td><font class="font-orange">¥{{items.billingInfo.basePrice}} 元</font></td>
                    </tr>
                    <tr>
                        <td>费用： </td>
                        <td>
                            <font class="font-orange">
                            ¥{{items.billingInfo.basicPrice}}/{{items.billingInfo.billingMode | dict:service.dictPriceModel | async}}
                            </font>
                        </td>
                    </tr>
                </table>
            </td> 
            <td class="text-center table-text-middle"><font class="font-green">审批中</font></td> 
            <td class="text-center table-text-middle">2017-6-11 10:1:2</td> 
            <td class="text-center table-text-middle">2017-6-11 10:1:2</td> 
            <td class="text-center table-text-middle">{{items.quantity}}台</td>
        </tr>
        </ng-container>
    </table>
    <div class="shoping-bottom clear-float">
    	<span class="float-left pdt10 text-tip">您的订单已生成，可以进入管理控制台查看订单状态及使用相关资源<br>如需审批，则需要订单审批通过后，才能正式生效。</span>
        <button (click)="goTo('cloud-host-service/cloud-host-list')" class="btn button-confirm button-size-big float-right mgt20">管理控制台</button>
        <span class="float-right mgr50">
            <table>
                <tr>
                    <td>一次性费用： </td>
                    <td><font class="font-orange">¥{{totalPrice.oncePrice | decimalPlaces}} 元</font></td>
                </tr>
                <tr *ngFor="let key of totalPrice.billingArr | objectToArr; let i = index">
                    <td><font *ngIf="i == 0">费用： </font></td>
                    <td><font class="font-orange">¥{{totalPrice.billingArr[key]}}/{{key | dict:service.dictPriceModel | async}}</font></td>
                </tr>
            </table>
        </span>
        <span class="float-right mgr50 pdt20">( 费用合计 )</span>
    </div>
</div>
<fc-confirm #confirm title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalAction(1)" ct="{{modalCancelTitle}}" (cf)="modalAction(0)"></fc-confirm>
<fc-notice #notice title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{modalOKTitle}}" (of)="modalAction(0)"></fc-notice>
