<div class="page-content-header icon-cloud-network-mngOn">
    VMware网络
</div>
<div class="page-content">

    <table class="table table-hover ">
        <thead>
            <tr>
                <th style="text-align:left;">
                    VMware网络管理 -- 管理标准网络 -- IP地址管理&nbsp;&nbsp;&nbsp;&nbsp;"地区" "数据中心" 平台显示名称 + 连接URL https://192.168.1.1:443
                </th>
                <th style="text-align:right;">
                    <button class=" fox-cloud-button fox-cloud-button-white ">
                        <span class="icon-button-label" (click)="vmwareNetworkPage()">返回上一级</span>
                    </button>
                </th>
            </tr>
        </thead>
    </table>

    <div class="mgt15 ">
        <span class="float-left" style="display:inline-block;font-size:16px;padding:6px 0"> 数据中心(DC)名称：</span>
        <div class="float-left pdr20">
            <select class="pdl20 pdr20 form-control" [(ngModel)]="selectedDC" (change)="selectedVDS=defaultVDS" >
                <option [ngValue]="defaultDC">所有</option>
                <option *ngFor="let dc of dcList" [ngValue]="dc">{{dc.dcName}}</option>
            </select>
        </div>
        <span class="float-left" style="display:inline-block;font-size:16px;padding:6px 0"> 可用区(集群)名称：</span>
        <div class="float-left">
            <select class="pdl20 pdr20 form-control" [(ngModel)]="selectedVDS">
                <option [ngValue]="defaultVDS">所有</option>
                <option *ngFor="let vds of selectedDC.clusters" [ngValue]="vds">{{vds.clusterName}}</option>
            </select>
        </div>
		<button type="button" class="fox-cloud-button fox-cloud-button-white mgl15" style="height:34px" (click)="filter(); selectedDC=defaultDC;selectedDC.dcId='';selectedVDS=defaultVDS;selectedVDS.clusterId=''"> 确定</button>
    </div>
    <div class="mgt15" style="clear:both"></div>
    <div class="mgb20">
        <button class="fox-cloud-button fox-cloud-button-green" (click)="setupSubnet()">设置IP子网</button>
        <!--
        <button class="fox-cloud-button fox-cloud-button-green" (click)="setupIPs()">设置IP地址范围</button>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="ipUsageMngPage()">管理IP地址</button>
        -->

        <button class="fox-cloud-button fox-cloud-button-green" (click)="setupIPs()" [disabled]="!selectedipmng.subnetCIDR">设置IP地址范围</button>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="ipUsageMngPage()" [disabled]="!selectedipmng.subnetCIDR || !selectedipmng.ipCount || selectedipmng.ipCount == '0'">管理IP地址</button>

    </div>

    <div class="table-container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>选择</th>
                <th>数据中心（DC)</th>
                <th>可用区（集群）名称</th>
                <th>标准端口组名称</th>
                <th>标准端口组显示名称</th>
                <th>VLAN ID</th>
                <th>子网信息</th>
                <th>网关地址</th>
                <th>IP地址池数量</th>
                <th>已使用IP地址数量</th>
                <th>剩余IP地址数量</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ipmng of ipmngs; let i=index;">
                <td><input type="radio" class="fox-cloud-radio" name="radio" [checked]="ipmng.checked" (change)="selectItem(i); selectedipmng = ipmng;" value="{{i}}"></td>
                <td>{{ipmng.dcName}}</td>
                <td>{{ipmng.clusterName}}</td>
                <td>{{ipmng.portGroup}}</td>
                <td>{{displayIt(ipmng.portGroupDisplayName)}}</td>
                <td>{{ipmng.vlanId}}</td>
                <td>{{displayIt(ipmng.subnetCIDR)}}</td>
                <td>{{displayIt(ipmng.gateway)}}</td>
                <td>{{displayIt(ipmng.ipCount)}}</td>
                <td>{{displayIt(ipmng.usedIPCount)}}</td>
                <td>{{displayIt(ipmng.freeIPCount)}}</td>

			</tr>
            </tbody>
        </table>
<!--
    dcId:  {{selectedDC.dcId}} <br/>
    clusterId:  {{selectedVDS.clusterId}}<br/>

	{{subn.toString()}}<br/>
	{{ippool.toString()}}<br/>
-->


    </div>
</div>

<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="确认" (of)="okClicked()"></fc-notice>
<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="确认" ct="取消" (of)="onConfirmed()"></fc-confirm>


<fc-popup #subnetbox ot="确认" ct="取消" title="设置IP子网" (of)="acceptSubnetModify()" (cf)="cancelSubnetModify()">

	<div class="dialogContent">
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>子网信息：</div>
					<div class="col-sm-8">
					    <input type="string" class="form-control input-control" [(ngModel)]="subn.subnetCIDR">
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>子网掩码：</div>
					<div class="col-sm-8">
					    <input type="string" class="form-control input-control" [(ngModel)]="subn.subnetMask">
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title"><span class="asterisk">*</span>网关地址：</div>
					<div class="col-sm-8">
					<input type="string" class="form-control input-control" [(ngModel)]="subn.gateway">
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">DNS1：</div>
					<div class="col-sm-8">
						<input type="string" class="form-control input-control" [(ngModel)]="subn.dnsPre">
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">DNS2：</div>
					<div class="col-sm-8">
						<input type="string" class="form-control input-control" [(ngModel)]="subn.dnsAlt">
					</div>
				</div>
			</div>
	</div>
</fc-popup>

<fc-popup #ipsbox ot="确认" ct="取消" title="设置IP地址范围" (of)="acceptIPsModify()" (cf)="cancelIPsModify()">

	<div class="dialogContent">
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">子网信息：</div>
					<div class="col-sm-8">
						<span>{{ippool.subnetCIDR}}</span>
					    <!-- <input type="string" class="form-control input-control" [(ngModel)]="ippool.subnetCIDR"></span> -->
					</div>
				</div>
			</div>
            <div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">子网掩码：</div>
					<div class="col-sm-8">
                        <span>{{ippool.subnetMask}}</span>
					    <!-- <input type="string" class="form-control input-control" [(ngModel)]="ippool.subnetMask"> -->
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">网关：</div>
					<div class="col-sm-8">
						<span>{{ippool.gateway}}</span>
					    <!-- <input type="string" class="form-control input-control" [(ngModel)]="ippool.gateway">  -->
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-4 form-control-title">IP地址范围：</div>
					<div class="col-sm-8">
					<!-- <input type="string" class="form-control input-control" [(ngModel)]="ippool.ips">  -->
					<textarea class="form-control input-control" placeholder="" rows="4" [(ngModel)]="ippool.ipstr"></textarea>
					</div>
				</div>
			</div>
	</div>
</fc-popup>
