<div class="prdouct-bunner">
	<div class="main-center pic3">
		<h1 class="b-title">负载均衡（SLB)</h1>
		<p class="b-p">负载均衡（Server Load Balancer）是对多台云服务器进行流量分发的负载均衡服务，可以通过流量分发扩展应用系统对外的服务能力，通过消除单点故障提升应用系统的可用性。</p>
		<a href="/login.html" class="btn button-orange-deep"> 立即购买 </a> <a class="b-price-info" href="#">产品价格 >></a>
	</div>
</div>

<div class="main-center">

	<ul class="nav nav-tabs" id="myTabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">产品优势</a>
		</li>
		<li role="presentation" class="">
			<a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">产品功能</a>
		</li>
		<li role="presentation" class="">
			<a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">应用场景</a>
		</li>
		<li role="presentation" class="">
			<a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">客户案例</a>
		</li>
		<li role="presentation" class="">
			<a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">帮助文档</a>
		</li>
	</ul>

	<h2 class="p-title">产品优势</h2>

	<table class="table table-hover table-all-border">
		<tbody><tr>
			<th style="width: 20%" class="text-center">优势</th>
			<th class="text-center">负载均衡（SLB)</th>
			<th class="text-center">传统SAN存储</th>
		</tr>
		<tr>
			<td class="text-center"><font class="active">高可靠</font></td>
			<td class="text-center">3副本备份，数据持久性高达99.99995%，保障数据安全可靠。</td>
			<td class="text-center">99.9%的数据持久性。</td>
		</tr>
		<tr>
			<td class="text-center"><font class="active">高性能</font></td>
			<td class="text-center">单盘最大20000 IOPS、350MB/S吞吐量。<br>可根据业务需要灵活选择不同性能的云硬盘。</td>
			<td class="text-center">需一次性采购整套高端SAN存储，同等性能，成本更高。</td>
		</tr>
		<tr>
			<td class="text-center"><font class="active">大容量</font></td>
			<td class="text-center">提供超大容量块存储，一台云服务器可挂载10块云硬盘，单块最大可支持32TB。<br>可弹性扩容，按使用量付费，性价比高。</td>
			<td class="text-center">一次性采购整套SAN存储，前期资源会存在闲置情况，后期扩容难。</td>
		</tr>
		<tr>
			<td class="text-center"><font class="active">规格丰富</font></td>
			<td class="text-center">提供普通IO、高IO、超高IO 3种性能的硬盘，满足不同业务场景需求。<br>后续有新增规格，可直接使用。</td>
			<td class="text-center">规格固定，新增规格需要重新采购或升级。</td>
		</tr>
		<tr>
			<td class="text-center"><font class="active">易用性</font></td>
			<td class="text-center">简单易用，对操作者技术水平要求低。</td>
			<td class="text-center">需具备LUN、启动器、映射等存储专业知识，操作繁杂。</td>
		</tr>
	</tbody></table>
</div>
