<div class="page-content-header icon-cloud-network-mngOn">
    VMware网络	  
</div>
<div class="page-content">
    <table class="table table-hover ">
        <thead>
            <tr>
                <th style="text-align:left;">VMware网络管理--管理NSX网络&nbsp;&nbsp; "地区" "数据中心"平台显示名称+连接URL https://192.168.1.1:43</th>
                <th style="text-align:right;">
                    <button class=" fox-cloud-button fox-cloud-button-white " (click)="goBack();">
                        <span class="icon-button-label">返回上一级</span>
                    </button>
                </th>
            </tr>
        </thead>
    </table> 
    <div class="mgt15 ">      
        <span class="float-left" style="display:inline-block;font-size:16px;padding:6px 0"> 逻辑路由器(DLR)名称：</span>
        <div class="float-left pdr20">
            <select class="pdl10 form-control" [(ngModel)]="selectedDlr">
                <option [ngValue]="defaultDlr">所有</option>
                <option *ngFor="let dlr of dlrList" [ngValue]="dlr">{{dlr.dlrRouteName}}</option>              
            </select>
        </div>              
        <button type="button" class="fox-cloud-button fox-cloud-button-white mgl15 " (click)="filter();"><span class="icon-button-label">确定 </span> </button>                                                              
    </div>
<div class="mgt15" style="clear:both"></div> 
   
    <div class="mgb20 ">
        <button class="fox-cloud-button fox-cloud-button-green" data-toggle="modal" data-target="#myModal" >          
            <span class="icon-button-label icon-left-button-label">同步NSX网络信息</span> <!--请添加创建的弹出框-->
        </button>       
        <button class="fox-cloud-button fox-cloud-button-green" key="boe/vmware-nsx-dlr-res.html">       
            <span class="icon-button-label icon-left-button-label">DLR资源分配</span>
        </button>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="gotoIpMng()">
            <span class="icon-button-label icon-left-button-label" >IP地址管理</span>
        </button>
        <div class="dropdown pull-right" >
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                选择操作
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="javascript:void(0);" (click)="portEnable();">启用</a></li>
                <li><a href="javascript:void(0);" (click)="portDisable();">禁用</a></li>              
            </ul>
        </div>
       
    </div>
    <div class="table-container">
        <table class="table table-hover" >
            <thead style="vertical-align:top">
                <tr>
                    <th style="vertical-align:top">选择 </th>
                    <th style="width:120px;vertical-align:top">逻辑路由器名称(DLR) </th>
                    <th style="vertical-align:top">DLR接口名称 </th>
                    <th style="vertical-align:top">DLR子网显示名称</th>
                    <th style="vertical-align:top">DLR接口IP地址</th>
                    <th style="vertical-align:top">子网掩码 </th>
                    <th style="vertical-align:top">DLR接口类型 </th>
                    <th style="width:120px;vertical-align:top"> 连接逻辑交换机(LSW)名称</th>
                    <th style="vertical-align:top">LSW标示ID </th>
                    <th style="width:150px;vertical-align:top">LSW所属传输区域(Tansport Zone)</th>
                    <th style="vertical-align:top">状态</th>
                    <th style="vertical-align:top">最后同步时间 </th>                   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let port of filterports">
                    <td><input type="radio" class="fox-cloud-radio" name="radio" [checked]="port.selected" (change)="selectPort(port)"> </td>
                    <td>{{port.dlrRouteName}}</td>
                    <td>{{port.dlrInterfaceName}}</td>                   
                    <td style="position:relative">
                        {{port.drlSubnetDisplayName||"未设置"}}
                        <span class="pull-right icon-edit2" (click)="openEdit(port);port.isOpen=true;"></span>
                        <div *ngIf="port.isOpen" class="popover fade bottom in" role="tooltip" style="position:absolute;top:28px;left:-50px;width:460px;max-width:1100px;display: block;">
                            <div class="arrow" style="left: 30%;"></div>
                            <div class="popover-content">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">DLR子网显示名称:</label>
                                        <div class="col-sm-8 float-left"> 
                                            <input type="text" class="form-control" [(ngModel)]="editPort.drlSubnetDisplayName" name="portname">
                                        </div>
                                    </div>
                                </form>
                                <div class="pull-right" style="margin-bottom:10px;">
                                    <button class=" fox-cloud-button fox-cloud-button-white" (click)="saveEdit(port)">保存</button>
                                    <button class="fox-cloud-button fox-cloud-button-white" (click)="port.isOpen = false;">取消</button>
                                </div>
                            </div>                              
                        </div>
                    </td>
                    <td>{{port.dlrInterfaceIPaddress}}</td>  
                    <td>{{port.dlrSubnet}}</td>
                    <td>{{port.dlrInterfaceType}}</td>
                    <td>{{port.lswName}}</td>              
                    <td>{{port.lswId}}</td>
                    <td><a (click)="viewDetail(port);">{{port.lswTransportZone}}</a></td>
                    <td class="font-green">{{port.status}}</td>
                    <td>{{port.lastUpdate}}</td>
                </tr>
                 
            </tbody>
        </table>
    </div>
</div>
<div style="height:150px"> </div>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}"></fc-notice>
<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}" ct="{{'COMMON.CANCEL' | translate}}"></fc-confirm>

<fc-popup #detail title="{{title}}"   ot="" ct="{{'COMMON.CLOSE' | translate}}" (cf)="cancelEdit();">
    <div class="mgb10">  Replication mode：  Multicast/Unicast/Hybrid</div>
    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>可用区(集群)名称 </th>
                    <th>显示名称 </th>
                    <th>VDS(分布式交换机) </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>cluster1</td>
                    <td>计算机集群1</td>
                    <td>VDS1</td>
                </tr>
                <tr>
                    <td>cluster1</td>
                    <td>计算机集群1</td>
                    <td>VDS1</td>
                </tr>

            </tbody>
        </table>
    </div>            
</fc-popup>