<div class="page-content-header icon-cloud-network-mngOn">
    {{'NET_VM_NSX_INDEX.VMWARE_NET'| translate}}	  
</div>
<div class="page-content">
    <table class="table table-hover ">
        <thead>
            <tr>
                <th style="text-align:left;">VMware{{'NET_MNG_VM_IP_MNG.NET_MNG' | translate}}--{{'NET_MNG_VM_IP_MNG.MANAGE_NSX_NET' | translate}}&nbsp;&nbsp; {{selectedPlatform.regionName}} {{selectedPlatform.dcName}} {{selectedPlatform.platformName}} {{selectedPlatform.platformUrl}}</th>
                <th style="text-align:right;">
                    <button class=" fox-cloud-button fox-cloud-button-white " (click)="goBack();">
                        <span class="icon-button-label">{{'NET_VM_NSX_INDEX.RETURN'| translate}}</span>
                    </button>
                </th>
            </tr>
        </thead>
    </table> 
    <div class="mgt15 ">      
        <span class="float-left" style="display:inline-block;font-size:16px;padding:6px 0">{{'NET_VM_NSX_INDEX.LOGICAL_ROUTER_NAME'| translate}}：</span>
        <div class="float-left pdr20">
            <select class="pdl10 form-control" [(ngModel)]="selectedDlr">
                <option [ngValue]="defaultDlr">{{'NET_VM_NSX_INDEX.ALL'| translate}}</option>
                <option *ngFor="let dlr of dlrList" [ngValue]="dlr">{{dlr.dlrName}}</option>              
            </select>
        </div>              
        <button type="button" class="fox-cloud-button fox-cloud-button-white mgl15 " (click)="filter();"><span class="icon-button-label">{{'NET_VM_NSX_INDEX.ENSURE'| translate}} </span> </button>                                                              
    </div>
<div class="mgt15" style="clear:both"></div> 
   
    <div class="mgb20 ">
        <button class="fox-cloud-button fox-cloud-button-green" data-toggle="modal" data-target="#myModal" (click)="createPopor()" >          
            <span class="icon-button-label icon-left-button-label">{{'NET_VM_NSX_INDEX.SYNC_NSX_NET_INFO'| translate}}</span> <!--请添加创建的弹出框-->
        </button>       
        <button class="fox-cloud-button fox-cloud-button-green" (click)="gotoPortMng()">       
            <span class="icon-button-label icon-left-button-label" >{{'NET_VM_NSX_INDEX.DLR_RESOURCE_ALLOCATION'| translate}}</span>
        </button>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="gotoIpMng()">
            <span class="icon-button-label icon-left-button-label" >{{'NET_VM_NSX_INDEX.IP_ADDR_MNG'| translate}}</span>
        </button>
        <div class="dropdown pull-right" >
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{'NET_VM_NSX_INDEX.SELECT_OPERATION'| translate}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="javascript:void(0);" (click)="portEnable();">{{'NET_VM_NSX_INDEX.ENABLE'| translate}}</a></li>
                <li><a href="javascript:void(0);" (click)="portDisable();">{{'NET_VM_NSX_INDEX.DISABLE'| translate}}</a></li>              
            </ul>
        </div>
       
    </div>
    <div class="table-container">
        <table class="table table-hover" >
            <thead style="vertical-align:top">
                <tr>
                    <th style="vertical-align:top">{{'NET_VM_NSX_INDEX.SELECT'| translate}}</th>
                    <th style="width:120px;vertical-align:top">{{'NET_VM_NSX_INDEX.ROUTER_NAME'| translate}}</th>
                    <th style="vertical-align:top">{{'NET_VM_NSX_INDEX.DLR_INTERFACE_NAME'| translate}}</th>
                    <th style="vertical-align:top">{{'NET_VM_NSX_INDEX.DLR_SUBNET_DISPLAY_NAME'| translate}}</th>
                    <th style="vertical-align:top">{{'NET_VM_NSX_INDEX.DLR_INTERFACE_IP'| translate}}</th>
                    <th style="vertical-align:top">{{'NET_VM_NSX_INDEX.SUBNET_MASK'| translate}}</th>
                    <th style="vertical-align:top">{{'NET_VM_NSX_INDEX.DLR_INERFACE_TYPE'| translate}}</th>
                    <th style="width:120px;vertical-align:top">{{'NET_VM_NSX_INDEX.LSW_NAME'| translate}}</th>
                    <th style="vertical-align:top">{{'NET_VM_NSX_INDEX.LSW_ID'| translate}}</th>
                    <th style="width:150px;vertical-align:top">{{'NET_VM_NSX_INDEX.LSW_TRANSPORT_ZONE'| translate}}</th>
                    <th style="vertical-align:top">{{'NET_VM_NSX_INDEX.STATUS'| translate}}</th>
                    <th style="vertical-align:top">{{'NET_VM_NSX_INDEX.LAST_UPDATE'| translate}}</th>                   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let port of filterports">
                    <td><input type="radio" class="fox-cloud-radio" name="radio" [checked]="port.selected" (change)="selectPort(port)"> </td>
                    <td>{{port.dlrRouteName}}</td>
                    <td>{{port.dlrInterfaceName}}</td>                   
                    <td style="position:relative">
                        {{port.drlSubnetDisplayName||"未设置"}}
                        <span class="pull-right icon-edit2" (click)="openEdit(port);port.isOpen=true;"></span>
                        <div *ngIf="port.isOpen" class="popover fade bottom in" role="tooltip" style="position:absolute;top:28px;left:-50px;width:460px;max-width:1100px;display: block;">
                            <div class="arrow" style="left: 30%;"></div>
                            <div class="popover-content">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">{{'NET_VM_NSX_INDEX.DLR_SUBNET_DISPLAY_NAME'| translate}}:</label>
                                        <div class="col-sm-8 float-left"> 
                                            <input type="text" class="form-control" [(ngModel)]="editPort.drlSubnetDisplayName" name="portname">
                                        </div>
                                    </div>
                                </form>
                                <div class="pull-right" style="margin-bottom:10px;">
                                    <button class=" fox-cloud-button fox-cloud-button-white" (click)="saveEdit(port)">保存</button>
                                    <button class="fox-cloud-button fox-cloud-button-white" (click)="port.isOpen = false;">取消</button>
                                </div>
                            </div>                              
                        </div>
                    </td>
                    <td>{{port.dlrInterfaceIPaddress}}</td>  
                    <td>{{port.dlrSubnet}}</td>
                    <td>{{port.dlrInterfaceType}}</td>
                    <td>{{port.lswName}}</td>              
                    <td>{{port.lswId}}</td>
                    <td><a (click)="viewDetail(port);">{{port.lswTransportZone}}</a></td>
                    <td [ngClass]="port.status==1?'font-green':'font-orange'">
                    {{port.status | dict:this.service.statusDic | async}}
                    </td>
                    <td>{{port.lastUpdate}}</td>
                </tr>
                 
            </tbody>
        </table>
    </div>
</div>
<div style="height:150px"> </div>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}"></fc-notice>
<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}" ct="{{'COMMON.CANCEL' | translate}}"></fc-confirm>

<fc-popup #detail title="{{title}}"   ot="" ct="{{'COMMON.CLOSE' | translate}}" (cf)="cancelEdit();">
    <div class="mgb10">  Replication mode：  Multicast/Unicast/Hybrid</div>
    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{'NET_VM_NSX_INDEX.CLUSTER_NAME'| translate}}</th>
                    <th>{{'NET_VM_NSX_INDEX.DISPLAY_NAME'| translate}}</th>
                    <th>{{'NET_VM_NSX_INDEX.DISTRIBUTED_SWITCH'| translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trsp of transportList">
                    <td>{{trsp.clusterName}}</td>
                    <td>{{trsp.displayName}}</td>
                    <td>{{trsp.vdsSwitch}}</td>
                </tr>
                

            </tbody>
        </table>
    </div>            
</fc-popup>

<!--同步弹出框内容-->
<fc-popup #sync title="{{title}}" ot="{{'NET_MNG_VM_IP_MNG.SYNC' | translate}}" (of)="doSyn()" ct="{{'COMMON.CLOSE' | translate}}" (cf)="closeSyn()">
       <div class="table-container">
           <div style="max-height: 400px; overflow: auto;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{'NET_MNG_VM_IP_MNG.SELECT' | translate}}</th>
                        <th>{{'NET_VM_NSX_INDEX.ROUTER_NAME'| translate}}</th>
                        <th>{{'NET_MNG_VM_IP_MNG.STATUS' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let dlr of infoListForSyn">
                   <td><input type="radio" class="fox-cloud-radio" name="radio" [checked]="dlr.selected" (change)="selectSyn(dlr)"> </td>
                    <td>{{dlr.dlrName}}</td>
                    <td [ngClass]="dlr.status==1?'font-green':'font-orange'">{{dlr.status | dict:this.service.synDic | async}}</td>
                </tr>
                </tbody>
            </table>
           </div>
            </div>
</fc-popup>