<fc-notice #notice title="{{modalTitle}}" msg="{{modalMessage}}" ot="{{ 'COMMOM.CONFIRM' | translate }}"></fc-notice>


<div class="page-content-header icon-content-header-purchasing">{{ 'ENT_MNG.ENTERPRISE_PRODUCT_MNG' | translate }}</div>
<div class="page-content">
    <div style="padding-bottom: 10px;">
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ 'NET_MNG_OPENSTACK.SELECT_OPERATION' | translate }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a (click)="changeStatus('4');">{{ 'COMMOM.DELETE' | translate }}</a></li>
                <li><a (click)="changeStatus('1');">{{ 'COMMOM.PUBLISH_PRODUCT' | translate }}</a></li>
                <li><a (click)="changeStatus('3');">{{ 'COMMOM.CANCEL_PUBLISH_PRODUCT' | translate }}</a></li>
            </ul>
        </div>
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ 'ENT_MNG.SELECT_REGION' | translate }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a (click)="changeRegion(null);">{{ 'ENT_MNG.ALL_REGION' | translate }}</a></li>
                <li *ngFor="let item of regions;"><a (click)="changeRegion(item.id);">{{item.name}}</a></li>
            </ul>
        </div>
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ 'HOST_VMWARE_MNG.SELECT_ENTERPRISE' | translate }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a (click)="changeEnt(null);">{{ 'HOST_VMWARE_MNG.ALL_ENTERPRISE' | translate }}</a></li>
                <li *ngFor="let item of enterprises;"><a (click)="changeEnt(item.id);">{{item.name}}</a></li>
            </ul>
        </div>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="creation();">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label">{{ 'PROD_MNG.CREATE_PRODUCT' | translate }}</span>
        </button>
    </div>
    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><input type="checkbox" class="fox-cloud-checkbox">{{ 'COMMON.CHOOSE' | translate }}</th>
                    <th>{{ 'NET_MNG_VM_IP_MNG.ENTERPRISE_NAME' | translate }}</th>
                    <th>{{ 'COMMON.ZONE' | translate }}</th>
                    <th>{{ 'PROD_MNG.PROD_NAME' | translate }}</th>
                    <th>{{ 'ENT_MNG.SERVICE_DIR' | translate }}</th>
                    <th>{{ 'ENT_MNG.PRICING_MODE' | translate }}</th>
                    <th>{{ 'COMMON.STATUS' | translate }}</th>
                    <th>{{ 'COMMON.DESCRIPTION' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of datas">
                    <td><input type="checkbox" class="fox-cloud-checkbox" [(ngModel)]="item.isSelected" /></td>
                    <td>{{item.enterpriseName}}</td>
                    <td>{{item.regionName}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.serviceName}}</td>
                    <td>{{item.billingCycle}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<fc-pagination #pager tp={{tp}} (pf)="paging($event)"></fc-pagination>