	<div class="mainCon">
			<div class="page-header"><img id="product_logo" src="images/logo.png" style="display: inline-block;">
				<h3>企业产品管理</h3>
			</div>
			<div class="operateCon">
				<div class="pull-right operateCon_select">
					<select class="form-control">
						<option>选择操作</option>
						<option>删除</option>
						<option>发布产品</option>
                         <option>取消发布</option>
					</select>
				</div>
				<div class="pull-right operateCon_select">
					<select class="form-control" >
                         <option>选择地区</option>
						<option>上海A区</option>
						<option>上海B区</option>
                        <option>苏州A区</option>
						<option>北京</option>
					</select>
				</div>
                <div class="pull-right operateCon_select">
					<select class="form-control">
                        <option>选择公司</option>
						<option>上海慧于有限公司</option>
						<option>中国惠普有限公司</option>
					</select>
				</div>
				<!-- <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i> 创&nbsp;建&nbsp;目&nbsp;录</a> --> 
				<div>
					<img src="images/logo2.png">
				</div>
				<div class="clear"></div>
			</div>
			<div class="tableCon">
				<table class="table table-hover"> 
					<thead>
						<tr>
							<th class="fristTh">
								
							    <input id="checkbox_0" class="chk_1" checked="" type="checkbox">
								<label for="checkbox_0" style="margin: 0 5px;"></label></td>
								
							选择</th>
							<th width="220px">
							   <div>  企业名称
								  	<div class="triangle-position">
								   		<div class="triangle-up">
								   		</div>
								   		<div class="triangle-down">
								   		</div>
								 	 <div>
								</div>
							</th>
							<th class="text" width="130px">
							   <div>区域
								<div class="triangle-position">
								   <div class="triangle-up">
								   </div>
								   <div class="triangle-down">
								   </div>
								<div>
								</div>
							</th>
							<th class="text" width="210px">
							<div>产品名称
								<div class="triangle-position">
								   <div class="triangle-up">
								   </div>
								   <div class="triangle-down">
								   </div>
								<div>
								</div>
							</th>
							<th class="text" width="150px">服务目录</th>
							<th width="120px">计价方式</th> 
							<th width="80px">状态</th>
                            <th>描述</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="checkbox_1 pull-right">
							    	<input id="checkbox_1" class="chk_1" checked="" type="checkbox">
									<label for="checkbox_1" style="margin: 0 5px;"></label></td>
								</div>
							</td>
							<td>上海慧于有限公司</td>
							<td class="text">上海A区</td>
							<td class="text">标准小型云主机</td>
							<td class="text">标准云主机_普通存储</td>
							<td>包月</td> 
							<td><span style="color:#00a982">未发布</pan></td>
                            <td></td> 
						</tr>
						<tr>
							<td>
								<div class="checkbox_1 pull-right">
							    	<input id="checkbox_2" class="chk_1" checked="" type="checkbox">
									<label for="checkbox_2" style="margin: 0 5px;"></label></td>
								</div>
							<td>上海慧于有限公司</td>
							<td class="text">上海B区</td>
							<td class="text">公网IP_10M</td>
							<td class="text">公网IP_10M</td>
							<td>包月</td> 
							<td><span style="color:red">已发布</span></td>
                            <td></td> 
						</tr>
						<tr>
							<td>
								<div class="checkbox_1 pull-right">
							    	<input id="checkbox_3" class="chk_1" checked="" type="checkbox">
									<label for="checkbox_3" style="margin: 0 5px;"></label></td>
								</div>
							</td>
							<td>中国惠普有限公司</td>
							<td class="text">北京</td>
							<td class="text">标准小型云主机_高性能</td>
							<td class="text">标准云主机_高速存储</td>
							<td>包年</td> 
							<td><span style="color:red">已发布</span></td>
                            <td></td> 
						</tr> 
						<tr>
							<td>
								<div class="checkbox_1 pull-right">
							    	<input id="checkbox_4" class="chk_1" checked="" type="checkbox">
									<label for="checkbox_4" style="margin: 0 5px;"></label></td>
								</div>
							</td>
							<td>中国惠普有限公司</td>
							<td class="text">苏州A区</td>
							<td class="text">标准云硬盘_SSD</td>
							<td class="text">标准云硬盘_SSD</td>
							<td>包年</td> 
							<td><span style="color:red">已发布</span></td>
                            <td></td> 
						</tr>  
					</tbody>
				</table>
                
               <div class="page pull-right" >
                
                <div class="page-pre left">
                     <ul id="icons">
               			 <li class="ion-android-arrow-back" data-pack="android" data-tags="chevron, navigation"></li>
                	</ul>
                	上一页
                </div>
               <ul class="pagination left">
                  <li class="active"><a href="#">1</a></li>
                  <li ><a href="#" id="nextItem">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                 <li><a href="#">5</a></li>
                 <li><a href="#">...</a></li>
                 <li><a href="#">10</a></li>
             </ul>
               <div class="page-next left">
             下一页 <ul id="icons">
               			 <li class="ion-android-arrow-forward" data-pack="android" data-tags="chevron, navigation"></li>
                	</ul>
             </div>
               <div>
			</div>
		</div>