<div class="page-content-header icon-content-header-purchasing">创建产品</div>
<div class="page-content fix-page-content">
    <div class="row navigator-progress">
        <div class="col-md-4 active"><span class="mark">1</span><span>填写产品信息</span></div>
        <div class="col-md-4"><span class="mark">2</span><span>选择可用区</span></div>
        <div class="col-md-4"><span class="mark">3</span><span>产品定价</span></div>
    </div>
    <div class="step-progress">
        <div class="fox-cloud-progress-rectangle progress-striped">
            <div class="progress-bar fox-cloud-progress-bar-rectangle" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 33%;">
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 30px;">
        <div class="col-md-12">
            <div class="row row-line-height">
                <div class="form-group">
                    <div for="firstname" class="col-sm-4 form-control-title">产品名称：</div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="标准小型云主机" style="width:350px">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div for="firstname" class="col-sm-4 form-control-title">企业：</div>
                    <div class="col-sm-4">
                        <select class="form-control" [(ngModel)]="serviceDetail.templateId" style="width:350px;color:#909090">
                           <option *ngFor="let item of templates" value="{{item.id}}">
                                {{item.name || item.id}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div for="firstname" class="col-sm-4 form-control-title">区域：</div>
                    <div class="col-sm-4">
                        <select class="form-control" style="width:350px;color:#909090">
                            <option>上海A区</option>
                            <option>上海B区</option>
                            <option>苏州A区</option>
                            <option>北京</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div for="firstname" class="col-sm-4 form-control-title">服务目录：</div>
                    <div class="col-sm-4">
                        <select class="form-control" style="width:350px;color:#909090">
                            <option>标准云主机-高速存储</option>
                            <option>标准云主机-普通存储</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div for="firstname" class="col-sm-4 form-control-title">描述：</div>
                    <div class="col-sm-4">
                        <textarea class="form-control" rows="5" style="width:350px"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel();">
            <span class="icon-button-label">取消</span>
        </button>
        <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="next();">
            <span class="icon-button-label">下一步</span>
        </button>
    </div>
