<div class="page-content-header icon-content-header-purchasing">{{ 'ENT_MNG.RESOURCE_QUOTA_MNG' | translate }}</div>
<div class="page-content">
    <div style="padding-bottom: 10px;">
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ 'NET_MNG_OPENSTACK.SELECT_OPERATION' | translate }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a (click)="modifyEntResQuota();">{{ 'COMMON.MODIFY' | translate }}</a></li>
                <li><a (click)="deleteEntResQuota();">{{ 'COMMON.DELETE' | translate }}</a></li>
                <li><a (click)="activeEntResQuota();">{{ 'COMMON.ACTIVATE' | translate }}</a></li>
                <li><a (click)="deactiveEntResQuota();">{{ 'COMMON.DEACTIVATE' | translate }}</a></li>
            </ul>
        </div>
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ 'HOST_VMWARE_MNG.SELECT_ENTERPRISE' | translate }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a (click)="switchEnt(null);">{{ 'HOST_VMWARE_MNG.ALL_ENTERPRISE' | translate }}</a></li>
                <li *ngFor="let item of enterprises;"><a (click)="switchEnt(item.id);">{{item.name}}</a></li>
            </ul>
        </div>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="creation();">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label">{{ 'ENT_MNG.CREATE_QUOTA' | translate }}</span>
        </button>
    </div>
    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="fristTh"><input class="fox-cloud-checkbox" type="checkbox" [(ngModel)]="isSelectedAll" (click)="switchSelectAll();" /> {{ 'COMMON.SELECT_ALL' | translate }}</th>
                    <th>{{ 'NET_MNG_VM_IP_MNG.ENTERPRISE_NAME' | translate }}</th>
                    <th>{{ 'COMMON.ZONE' | translate }}</th>
                    <th>{{ 'ENT_MNG.CLOUD_HOST_NUM' | translate }}</th>
                    <th>{{ 'COMMON.STORAGE' | translate }} (GB)</th>
                    <th>{{ 'ENT_MNG.NETWORK_NUM' | translate }}</th>
                    <th>{{ 'COMMON.DESCRIPTION' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of entResQuotas; let idx = index;">
                    <td><input  class="fox-cloud-checkbox" type="checkbox" [(ngModel)]="item.isSelected" (ngModelChange)="switchSelectIndividual(idx)" /></td>
                    <td>{{item.enterpriseName}}</td>
                    <td>{{item.regionName}}</td>
                    <td>{{item.vmQuota}}</td>
                    <td>{{item.storageQuota}}</td>
                    <td>{{item.networkQuota}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<fc-pagination #pagination tp={{tp}} (pf)="paging($event)"></fc-pagination>

<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="{{ 'COMMON.CONFIRM' | translate }}" (of)="nof()"></fc-notice>

<fc-confirm #confirm title="{{title}}" msg="{{msg}}" ot="{{ 'COMMON.CONFIRM' | translate }}" (of)="cof()" ct="{{ 'COMMON.CANCEL' | translate }}" (cf)="ccf()"></fc-confirm>