<div class="page-content-header icon-content-header-purchasing">创建资源配额</div>
<div class="page-content fix-page-content">
    <div class="row" style="padding-top: 30px;">
        <div class="col-md-12">
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">企业名称：</div>
                    <div class="col-sm-4">
                        <select class="form-control">
                            <option>上海慧与有限公司</option>
                            <option selected>中国慧与有限公司</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">区域：</div>
                    <div class="col-sm-4">
                        <select class="form-control">
                            <option>上海A区</option>
                            <option selected>上海B区</option>
                            <option>上海C区</option>
                            <option>上海D区</option>
                            <option>苏州A区</option>
                            <option>苏州B区</option>
                            <option>北京</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">云主机数量：</div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">存储(GB)：</div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">网络数：</div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">描述：</div>
                    <div class="col-sm-4">
                        <textarea class="form-control" rows="4" placeholder=""></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel();">
        <span class="icon-button-label">取消</span>
    </button>
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="next();">
        <span class="icon-button-label">创建资源配额</span>
    </button>
</div>