<div class="page-content-header icon-content-header-ali-cloud">
    {{title|translate}}
</div>
<div class="page-content">
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title"><span class="asterisk" *ngIf="editMode !='view'">*</span>{{'ALI_CLOUD.SUB_ACCOUNT_LOGIN_NAME'|translate}}:</div>
            <!--<div class="col-sm-4 has-feedback no-padding" [ngClass]="{'has-error':v.result.username}">
                <input type="text" class="form-control" *ngIf="editMode =='create'" [(ngModel)]="account.loginName" (ngModelChange)="checkForm('username')">
                <span *ngIf="v.result.username" class="glyphicon glyphicon-remove form-control-feedback"></span>
                <div *ngIf="v.result.username" class="alert alert-danger" role="alert">{{v.result.username}}</div>
                <span style="line-height:34px" *ngIf="editMode !='create'">{{account.loginName}}</span>
            </div>-->
            <div class="col-sm-4">
                <input type="text" class="form-control" *ngIf="editMode =='create'" [(ngModel)]="account.loginName" id="loginName">
                <span style="line-height:34px" *ngIf="editMode !='create'">{{account.loginName}}</span>
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title"><span class="asterisk" *ngIf="editMode !='view'">*</span>Access Key ID:</div>
            <!--<div class="col-sm-4 has-feedback no-padding" [ngClass]="{'has-error':v.result.accessKey}">
                <input type="text" class="form-control" [disabled]="editMode =='view'"  *ngIf="editMode !='edit'"[(ngModel)]="account.accessKey" (ngModelChange)="checkForm('accessKey')">
                 <input type="text" class="form-control" *ngIf="editMode =='edit'" [(ngModel)]="account.accessKey" (ngModelChange)="checkForm('accessKey')" [disabled]="changebt">
                 <span *ngIf="v.result.accessKey" class="glyphicon glyphicon-remove form-control-feedback"></span>
                <div *ngIf="v.result.accessKey" class="alert alert-danger" role="alert">{{v.result.accessKey}}</div>              
            </div>-->
            <div class="col-sm-4">
                <input id="accessKey_view" type="text" class="form-control" [disabled]="editMode =='view'"  *ngIf="editMode !='edit'" [(ngModel)]="account.accessKey" >
                <input id="accessKey_edit" type="text"  class="form-control" *ngIf="editMode =='edit'" [(ngModel)]="account.accessKey"  [disabled]="changebt">              
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title"><span class="asterisk" *ngIf="editMode !='view'">*</span>Access Key Secret:</div>
            <!--<div class="col-sm-4 has-feedback no-padding" [ngClass]="{'has-error':v.result.accessSecret}">
               <input type="text" class="form-control" [disabled]="editMode =='view'" *ngIf="editMode !='edit'"[(ngModel)]="account.accessSecret" (ngModelChange)="checkForm('accessSecret')"> 
                <input type="text" class="form-control" *ngIf="editMode =='edit'" [(ngModel)]="account.accessSecret" (ngModelChange)="checkForm('accessSecret')" [disabled]="changebt">
                <span *ngIf="v.result.accessSecret" class="glyphicon glyphicon-remove form-control-feedback"></span>
                <div *ngIf="v.result.accessSecret" class="alert alert-danger" role="alert">{{v.result.accessSecret}}</div>
            </div>-->
            <div class="col-sm-4">
               <input type="text"  id="accessSecret_view" class="form-control" [disabled]="editMode =='view'" *ngIf="editMode !='edit'" [(ngModel)]="account.accessSecret" > 
               <input type="text" id="accessSecret_edit"  class="form-control" *ngIf="editMode =='edit'" [(ngModel)]="account.accessSecret"  [disabled]="changebt">
            </div>
            <div class="col-sm-4" *ngIf="editMode !='view'">
                <button  id="changebtn" class="fox-cloud-button fox-cloud-button-white " *ngIf="editMode =='edit'"  (click)="changebtn();">
                     {{'ALI_CLOUD.CHANGE_LOGIN_INFO'|translate}}
                </button>
                <button  id="testAccessInfo" class="fox-cloud-button fox-cloud-button-white " (click)="testAccessInfo();">
                    {{'ALI_CLOUD.TEST'|translate}}<span class="glyphicon glyphicon-menu-right "></span>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </button>
                <span class="font-green mgl15" *ngIf="testResult =='1'"> {{'ALI_CLOUD.TEST_SUCCESS'|translate}}<span class="glyphicon glyphicon-ok mgl10"></span></span>
                <span class="font-orange mgl15" *ngIf="testResult == '0'">{{'ALI_CLOUD.TEST_FAIL'|translate}}<span class="glyphicon glyphicon-remove mgl10"></span></span>
            </div>
        </div>
    </div>
    <div class="row row-line-height" *ngIf="editMode =='view' && account.tenantName">
        <div class="form-group">
            <div class="col-sm-4 form-control-title">{{'ALI_CLOUD.PRESENT_ENT_AND_DEPARTMENT'|translate}}:</div>
            <div class="col-sm-4">
                <div class="col-sm-3" style="line-height:34px">{{'ALI_CLOUD.ENTERPRISE_NAME'|translate}}：</div>
                <div class="col-sm-4"  style="line-height:34px">{{account.tenantName}}</div>
            </div>
        </div>
    </div>
    <div class="row row-line-height" *ngIf="editMode =='view' &&account.departName ">
        <div class="form-group">
            <div class="col-sm-4 form-control-title"></div>
            <div class="col-sm-4">
                <div class="col-sm-3"  style="line-height:34px">{{'ALI_CLOUD.DEPARTMENT_NAME'|translate}}：</div>
                <div class="col-sm-4"  style="line-height:34px">{{account.departName}}</div>
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title">{{'ALI_CLOUD.DESCRIPTION'|translate}}:</div>
            <div class="col-sm-4 ">
                <textarea id="description" rows="3"  class="form-control" maxlength="200" [(ngModel)]="account.description"[disabled]="editMode =='view'"></textarea>
            </div>
        </div>
    </div>
    <div class="col-sm-offset-4" *ngIf="editMode !='view'">{{'ALI_CLOUD.NO_MORE_THAN_200_WORDS'|translate}}</div>
</div>
<div class="text-center ">
    <button  id="gotoAccountList" class="fox-cloud-button-lg fox-cloud-button-white" *ngIf="editMode !='view'" (click)="gotoAccountList();">
        <span class="icon-button-label">{{'ALI_CLOUD.CANCEL'|translate}}</span>
    </button>
    <button  id="createAccount" class="fox-cloud-button-lg fox-cloud-button-white" *ngIf="editMode =='create'" (click)="createAccount();">
        <span class="icon-button-label">{{'ALI_CLOUD.CREATE'|translate}}</span>
    </button>
    <button  id="editAccount" class="fox-cloud-button-lg fox-cloud-button-white" *ngIf="editMode =='edit'" (click)="editAccount();">
        <span class="icon-button-label">{{'ALI_CLOUD.SAVE'|translate}}</span>
    </button>
    <button  id="gotoAccountList" class="fox-cloud-button-lg fox-cloud-button-white" *ngIf="editMode =='view'" (click)="gotoAccountList();">
        <span class="icon-button-label">{{'ALI_CLOUD.CLOSE'|translate}}</span>
    </button>
</div>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'PHYSICAL_MNG.CONFIRM'|translate}}"></fc-notice> 