<div class="page-content-header icon-content-header-ali-cloud">
  {{'ALI_CLOUD.SUB_ACCOUNT_SET_ENT_TITLE'|translate}}
</div>
<div class="page-content mgt20">
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title">{{'ALI_CLOUD.PRESENT_ENTERPRISE'|translate}}:</div>
            <div class="col-sm-3">
               <span style="line-height:34px">{{changeEntName}}</span>     
            </div>
           <button id="changeEnt" class="fox-cloud-button fox-cloud-button-white " (click)="changeEnt();"> {{'ALI_CLOUD.RESET'|translate}} </button>
        </div>
    </div>
    <div  style="margin-left:260px;width:570px">
        <div class="table-container ">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{'ALI_CLOUD.SELECT_ACCOUNT'|translate}}</th>
                        <th>{{'ALI_CLOUD.ENTERPRISE_NAME'|translate}}</th>
                        <th>{{'ALI_CLOUD.STATUS'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of enterpriseList "  >
                        <tr *ngIf="item.visible == 'true'" id="enterpriseList_{{item.id}}">
                            <td >
                                <input type="radio" name="entprise" id="entprise" class="fox-cloud-radio" [checked]="item.isSelect" (change)="getSelectEnt(item);">
                            </td>
                            <td>{{item.tenantName}}</td>
                            <td [ngClass]="{'font-orange': item.status=='2','font-green': item.status=='1'}"> 
                                {{item.status| dict:service.dictStatus | async}}
                            </td>
                        </tr>
                    </ng-container>
                     <!--<tr *ngFor="let item of enterpriseList"  >
                        <template  [ngIf]="item.visible == 'true'">
                            <td >
                                <input type="radio" name="entprise" class="fox-cloud-radio" [checked]="item.isSelect" (change)="getSelectEnt(item);">
                            </td>
                            <td>{{item.tenantName}}</td>
                            <td [ngClass]="{'font-orange': item.status=='2','font-green': item.status=='1'}"> 
                                {{item.status| dict:service.dictStatus | async}}
                            </td>
                         </template>
                    </tr>
                   -->
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="text-center mgt20">
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="gotoAccountList();" id="gotoAccountList">
        <span class="icon-button-label">{{'ALI_CLOUD.CANCEL'|translate}}</span>
    </button>   
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="setEnterprise();"  id="setEnterprise">
        <span class="icon-button-label">{{'ALI_CLOUD.SAVE'|translate}}</span>
    </button>
</div>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'PHYSICAL_MNG.CONFIRM'|translate}}"></fc-notice> 
<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'PHYSICAL_MNG.CONFIRM'|translate}}" ct="{{'PHYSICAL_MNG.CANCEL'|translate}}"  ></fc-confirm>