<div class="page-content-header icon-content-header-ali-cloud">
    阿里云子账号管理:主账号：名称+主账号登录名
</div>
<div class="page-content">
    <div style="margin-bottom:10px">
        <button class="fox-cloud-button fox-cloud-button-green" (click)="createAccount();">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label">添加子账号</span>
        </button>
        <div class="dropdown pull-right" style="margin-left:10px;">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                选择操作
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">启用</a></li>
                <li><a href="#">禁用</a></li>
                <li><a href="#">删除</a></li>
            </ul>
        </div>
        <div class="pull-right mgl10">
            <button class="fox-cloud-button fox-cloud-button-green" (click)="setEntprise();">分配企业</button>
        </div>
        <div class="pull-right">
            <button class="fox-cloud-button fox-cloud-button-green" (click)="editAccount();">编辑</button>
        </div>
    </div>
    <div class="table-container">
        <table class="table table-hover">
            <thead>
              <tr>
                  <th>选择</th>
                  <th>主账号登录名</th>
                  <th>所属企业</th>
                  <th>所属部门</th>
                  <th>最后更新时间</th>
                  <th>操作人</th>
                  <th>描述</th>
              </tr>
            </thead> 
            <tbody>
                <tr>
                    <td><input type="radio" class="fox-cloud-radio"/></td>
                    <td>王国庆45087461</td>
                    <td>AB</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>       
        </table>
    </div>

</div>