<div class="page-content-header icon-content-header-ali-cloud">
    添加子账号
</div>
<div class="page-content">
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>子账号登录名:</div>
            <div class="col-sm-4">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>Access Key ID:</div>
            <div class="col-sm-4">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title"><span class="asterisk">*</span>Access Key Secret:</div>
            <div class="col-sm-4">
               <input type="text" class="form-control">
            </div>
            <div class="col-sm-4">
                <button class="fox-cloud-button fox-cloud-button-white ">
                登录信息变更
                </button>
                <button class="fox-cloud-button fox-cloud-button-white ">
                    测试<span class="glyphicon glyphicon-menu-right "></span>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </button>
                <span class="font-green mgl15">测试成功<span class="glyphicon glyphicon-ok mgl10"></span></span>
                <!--<span class="font-orange mgl15">测试失败<span class="glyphicon glyphicon-remove mgl10"></span></span>-->
            </div>
        </div>
    </div>
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-4 form-control-title">描述:</div>
            <div class="col-sm-4">
                <textarea rows="3"  class="form-control" maxlength="200"></textarea>
            </div>
        </div>
    </div>
    <div class="col-sm-offset-4 pdl10">最多只能输入200个文字</div>
</div>
<div class="text-center ">
    <button class="fox-cloud-button-lg fox-cloud-button-white">
        <span class="icon-button-label">取消</span>
    </button>
    <button class="fox-cloud-button-lg fox-cloud-button-white">
        <span class="icon-button-label">添加</span>
    </button>
</div>