   <div class="SearchDetail"> 
	   <!--<div class="page-content-header float-left" style="width:1300px;padding-left: 0;">  
		<span>订单查询编号: {{_detail.orderCode}}</span>
		
		</div>  -->
						<div class="page-content">
							<div class="noborder mgb10">{{ 'COMMON.ORDERS_INFO' | translate}}</div>
							<div class="table-container">
									<table class="table table-all-boder first-table">
										<tbody>
											<tr>
												<td class="text-center">{{ 'ORDER_MNG.ORDER_NUM' | translate}}</td><td class="leftAlign">{{_detail.orderCode}}</td>

												<td class="text-center">{{ 'CHECK_CENTER.ORDERS_TYPE' | translate}}</td><td class="leftAlign">{{_detail.type | dict:_dictServ.getDic('ORDER', 'TYPE') | async}}</td>
													
											</tr>
											<tr>
												<td class="text-center">{{ 'COMMON.ORDER_STATUS' | translate}}</td><td class="leftAlign">{{_detail.status | dict:_dictServ.getDic("ORDER", "STATUS") | async}}</td>
												
												<td class="text-center">{{ 'COMMON.SUBMITTER' | translate}}</td><td class="leftAlign">{{_detail.billingPerson}}</td>	
											</tr>
											<tr>
											<td class="text-center">{{ 'PROD_MNG.PRODUCT_TYPE' | translate}}</td><td class="leftAlign">{{_detail.productType  | dict:_dictServ.getDic('GLOBAL', 'SERVICE_TYPE') | async}}</td>
											<td class="text-center">{{ 'COMMON.DEPARTMENT' | translate}}</td><td class="leftAlign">{{_detail.department}}</td>
											</tr>
											
											<tr>
											   <td class="text-center">{{ 'COMMON.COMMIT_TIME' | translate}}</td><td class="leftAlign">{{_detail.createDate}}</td>
												<td class="text-center">{{ 'COMMON.ENTERPRISE' | translate}}</td><td class="leftAlign">{{_detail.enterpirse}}</td>
													
											</tr>
											<tr>
											   <td class="text-center">{{ 'COMMON.COMPLETION_TIME' | translate}}</td><td class="leftAlign">{{_detail.completeDate}}</td>
												<td class="text-center">{{ 'ORDER_MNG.PURCHASED_SERVICE_NUMBER' | translate}}</td><td class="leftAlign"> {{_detail.subinstanceNo}}</td>
													
											</tr>
											<tr>
											<td class="text-center">自动续订方式</td><td class="leftAlign">{{_detail.extendType| dict:_dictServ.getDic('SUBINSTANCE', 'EXTEND_TYPE') |async}}</td>
											<td class="text-center"></td><td class="leftAlign"></td>
											
											</tr>
										</tbody>
									</table>
							</div>
							<div class="table-container">
									<table class=" table table-all-boder mgb10">
										<thead>
											<tr>
												<th>{{ 'COMMON.NAME' | translate}}</th>
												<th>{{ 'COMMON.CONFIGURATION' | translate}}</th>
												<th>{{ 'COMMON.AMOUNT' | translate}}</th>
												<th>{{ 'ORDER_MNG.PURCHASED_CYCLE' | translate}}</th>
												<th>{{ 'COMMON.COST' | translate}}</th>
											</tr>
										</thead>
										<tbody >
											<tr  *ngFor="let prodItem of _detail.subInstanceList">
												<td>{{prodItem.serviceType  | dict:_dictServ.getDic('GLOBAL', 'SERVICE_TYPE') | async}}</td>
												<td style="text-align: left;padding-top: 30px;padding-left: 40px;padding-right: 20px; width: 450px;">
													<!--<ul *ngIf="prodItem.serviceType>1"  >
														<li *ngFor="let specItem of prodItem.specList">{{specItem.attrDisplayName}}：&nbsp;&nbsp;{{specItem.attrDisplayValue}}</li>
													</ul>-->
													<machine-view  [values]="prodItem" *ngIf="prodItem.serviceType==4"></machine-view>
													<a *ngIf="prodItem.serviceType==4" class="hands" [popover]="popover">查看详情</a><!--物理机-->
													<popover-content #popover placement="right"[animation]="true" [closeOnClickOutside]="true" >
														<div *ngIf="prodItem.serviceType==4" class="table-container mgb20">
															<table class="table table-bordered mgb20 text-center inner-table">
																<thead>
																		<th>部件名称</th>
																		<th>规格</th>
																		<th>规格值</th>
																		<th>数量</th>
																		<th>总容量</th>
																</thead>
																<tbody>
																	<tr *ngFor="let physicalMachineItem of _detail.subInstanceList[0].pmEntity.partsEntitys">
																		<td>{{physicalMachineItem.partsName}}</td>
																		<td>{{physicalMachineItem.specName}}</td>
																		<td>{{physicalMachineItem.specValue}}</td>
																		<td>{{physicalMachineItem.number}}</td>
																		<td>{{physicalMachineItem.capacity}}</td>
																	</tr>		
																</tbody>
															</table>
														</div>
											
													</popover-content>

													<a *ngIf="prodItem.serviceType==11" class="hands" [popover]="osPopover">点击查看实例详情</a><!--管理服务-->
													<popover-content #osPopover placement="right"[animation]="true" [closeOnClickOutside]="true">
														<div *ngIf="prodItem.serviceType==11"  class="table-container mgb20"><!--云主机-->
															<table class="table table-bordered mgb20 text-center inner-table">
																<thead>
																		<th>平台</th>
																		<th>可用区</th>
																		<th>云主机名称</th>
																		<th>配置</th>
																		<th>镜像</th>
																		<th>内部IP</th>
																		<th>外部IP</th>
																		<th>所在区域及可用区</th>
																</thead>
																<tbody>
																	<tr>
																		<td>磁盘</td>
																		<td>SSD</td>
																		<td>100GB</td>
																		<td>2</td>
																		<td>128GB</td>
																		<td>100GB</td>
																		<td>2</td>
																		<td>128GB</td>
																	</tr>		
																</tbody>
															</table>
														</div>
														<div class="table-container mgb20"><!--云硬盘-->
															<table class="table table-bordered mgb20 text-center inner-table">
																<thead>
																		<th>平台</th>
																		<th>可用区</th>
																		<th>云硬盘名称</th>
																		<th>存储类型</th>
																		<th>容量（GB）</th>
																		<th>状态</th>
																		<th>挂载位置（云主机名称）</th>
																		<th>属性</th>
																		<th>所在区域及可用区</th>
																</thead>
																<tbody>
																	<tr>
																		<td>磁盘</td>
																		<td>SSD</td>
																		<td>100GB</td>
																		<td>2</td>
																		<td>128GB</td>
																		<td>100GB</td>
																		<td>2</td>
																		<td>128GB</td>
																		<td>128GB</td>
																	</tr>		
																</tbody>
															</table>
														</div>
														<div class="table-container mgb20"><!--物理机-->
															<table class="table table-bordered mgb20 text-center inner-table">
																<thead>
																		<th>地域</th>
																		<th>数据中心</th>
																		<th>物理机名称</th>
																		<th>配置</th>
																		<th>镜像</th>
																		<th>私网IP</th>
																		<th>公网IP</th>
																		<th>所在区域及可用区</th>
																</thead>
																<tbody>
																	<tr>
																		<td>磁盘</td>
																		<td>SSD</td>
																		<td>100GB</td>
																		<td>2</td>
																		<td>128GB</td>
																		<td>100GB</td>
																		<td>2</td>
																		<td>128GB</td>
																	</tr>		
																</tbody>
															</table>
														</div>

														<div class="table-container mgb20"><!--手工输入的信息-->
															<table class="table table-bordered mgb20 text-center inner-table">
																<thead>
																		<th>地域</th>
																		<th>可用区</th>
																		<th>实例类型</th>
																		<th>实例ID</th>
																		<th>实例名称</th>
																</thead>
																<tbody>
																	<tr>
																		<td>磁盘</td>
																		<td>SSD</td>
																		<td>100GB</td>
																		<td>2</td>
																		<td>128GB</td>
																	</tr>		
																</tbody>
															</table>
														</div>
											
													</popover-content>
													<span *ngIf="prodItem.serviceType==11" style="display: block;">备注信息：显示购买时的备注信息</span>
													<vm-view [values]="prodItem" *ngIf="prodItem.serviceType==0" ></vm-view> <!--显示云主机 -->
						 							<disk-view [values]="prodItem.specList" *ngIf="prodItem.serviceType==1"></disk-view><!--显示云硬盘 -->
												</td>
												<td>{{prodItem.quantity}}<span  *ngIf="prodItem.serviceType==0">台</span><span  *ngIf="prodItem.serviceType==1">块</span></td>
												<td>{{prodItem.period}}<span *ngIf="prodItem.period>0">{{prodItem.billingInfo.periodType | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') | async}}</span></td>
												<td style="width: 200px;">{{ 'COMMON.ONE_TIME_COSTS' | translate}}: {{ 'COMMON.$' | translate}}{{prodItem.oneTimePrice}}<br>
												{{ 'COMMON.COST' | translate}}: {{ 'COMMON.$' | translate}}{{prodItem.price}}/{{prodItem.billingInfo.periodType | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') | async}}</td>
											</tr>
										</tbody>
									</table>
							</div>

							<!--<div class="noborder mgb10">费用总计</div>
							<div class="table-container mgb20 " style="border:1px solid #ddd;">
									<table class="table table-all-boder"  *ngFor="let item of _detail.subInstanceList">
										<thead>
											<tr>
												<th>{{ 'COMMON.ONE_TIME_COSTS' | translate}}</th>
												<th>{{ 'COMMON.COST' | translate}}</th>
											</tr>
										</thead>
										<tbody>
											<tr >
												<td class="font-red leftAlign noborder" >{{ 'COMMON.$' | translate}}{{item.totalOncePrice}}</td>
												<td class="font-red leftAlign noborder">{{ 'COMMON.$' | translate}}{{item.totalPrice}}<span *ngIf="item.serviceType=='1'">/GB</span>/{{item.billingInfo.periodType | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') | async}}</td>
											</tr>
										</tbody>
									</table>
							</div>-->

							<div class="noborder mgb10">{{ 'COMMON.ORDER_HISTORY' | translate}}</div>
							<div class="table-container mgb20">
									<table class="table table-all-boder">
										<thead>
											<tr>
												<th>{{ 'COMMON.EXECUTOR' | translate}}</th>
												<th>{{ 'COMMON.DEPARTMENT' | translate}}</th>
												<th>{{ 'COMMON.OPERATION' | translate}}</th>
												<th>{{ 'COMMON.ORDER_STATUS' | translate}}</th>
												<th>{{ 'COMMON.COMMENT' | translate}}</th>
											</tr>
											
										</thead>

										<tbody>
											<tr *ngFor="let historyItem of _detail.orderInstanceItems">
												<th>{{historyItem.operator}}</th>
												<th>{{historyItem.departmentName}}</th>
												<th>{{historyItem.operation}}</th>
												<th>{{historyItem.status  | dict:_dictServ.getDic("ORDER", "STATUS") | async}}</th>
												<th>{{historyItem.desc}}</th>
											</tr>

										</tbody>
									</table>
							</div>


						</div>
					</div><!--SearchDetail ending-->