<fc-notice #notice ot="确认" (of)="okClicked()"></fc-notice>

<div class="OrderDetail">
	<div class="page-content-header icon-order-manage">订单编号：{{_orderDetail.FirstItem.orderCode}}</div>
	<div class="page-content">
		<div class="page-second-title">订单信息：</div>
		<div class="table-container _margin">
			<table class="table _table">
				<thead>				
				</thead>
				<tbody>
					<tr>
						<td class="form-control-title righAlign">订单号:</td><td class="leftAlign">{{_orderDetail.FirstItem.orderCode}}</td>
						<td class="form-control-title righAlign">状态：</td><td class="leftAlign">{{_orderDetail.FirstItem.statusName}}</td>
						<td class="form-control-title righAlign">部门审批人：</td><td class="leftAlign" >{{_orderDetail.FirstItem.departmentApprover}}</td>		
					</tr>
					<tr>
						<td class="form-control-title righAlign">购买周期:</td><td class="leftAlign">{{_orderDetail.FirstItem.subscriptTime}}</td>
						<td class="form-control-title righAlign">订购数量：</td><td class="leftAlign">{{_orderDetail.FirstItem.amount}}</td>
						<td class="form-control-title righAlign">后台审批人：</td><td class="leftAlign">{{_orderDetail.FirstItem.backendApprover}}</td>		
					</tr>
					<tr>
						<td class="form-control-title righAlign">计费模式:</td><td class="leftAlign">{{_orderDetail.FirstItem.billingMode}}</td>
						<td class="form-control-title righAlign">订购人:</td><td class="leftAlign">{{_orderDetail.FirstItem.billingPerson}}</td>
						<td></td><td></td>	
					</tr>
					<tr>
						<td class="form-control-title righAlign">创建时间:</td><td class="leftAlign">{{_orderDetail.FirstItem.createDate}}</td>
						<td class="form-control-title righAlign">部门:</td><td class="leftAlign">{{_orderDetail.FirstItem.organization}}</td>
						<td></td><td></td>	
					</tr>
					<tr>
						<td class="form-control-title righAlign">到期时间:</td><td class="leftAlign">{{_orderDetail.FirstItem.exireDate}}</td>
						<td class="form-control-title righAlign">企业:</td><td class="leftAlign">{{_orderDetail.FirstItem.enterpirse}}</td>
						<td></td><td></td>	
					</tr>
				</tbody>
			</table>
		</div>
		<div class="page-second-title">产品信息：</div>
		<div class="table-container _margin">
			<table class="table table-hover">
				<thead>
					<tr class="form-control-title">
						<th>产品类型</th>
						<th>产品信息</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let prodItem of _orderDetail.FirstItem.orderInstanceItems">
						<td style="width: 50%;">{{prodItem.productType}}</td>
						<td class="leftAlign">
							<ul>
								<li *ngFor="let detailItem of prodItem.SpecItems">{{detailItem.attrDisplayName}}:{{detailItem.attrDisplayValue}} {{detailItem.valueUnit}}</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
<!-- 		关联订单 -->
		<div class="page-second-title" *ngFor="let orderItem of __orderDetail.FirstItem.relatedOrders">关联订单：订单编号：{{orderItem.orderCode}}</div>
			<div class="table-container ">
			<table class="table">
				<thead>	
					<tr class="">
						<th>产品名称</th>
						<th>计费模式</th>
						<th>购买周期</th>
						<th>数量</th>
						<th>一次性费用</th>
						<th>周期费用</th>
						<th>产品类型</th>
						<th>状态</th>
						<th>创建时间</th>
						<th>到期时间</th>
					</tr>			
				</thead>
				<tbody>
					<tr *ngFor="let prodItem of orderItem.orderInstanceItems">
						<td>{{prodItem.instanceName}}</td>
						<td>{{prodItem.billingMode}}</td>
						<td>{{prodItem.subscriptTime}}</td>
						<td>{{prodItem.quantity}}</td>
						<td>{{prodItem.oneTimePrice}}</td>
						<td>{{prodItem.price}}</td>
						<td>{{prodItem.productType}}</td>
						<td class="font-green">{{prodItem.statusName}}</td>
						<td>{{prodItem.createDate}}</td>
						<td>{{prodItem.exireDate}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>