<fc-notice #notice ot="{{ 'COMMON.CONFIRM' | translate}}"></fc-notice>
<div class="OrderManage">	
	<div class="page-content-header icon-operator-Blank">{{ 'ORDER_MNG.PURCHASED_SERVICE_MNG' | translate}}</div>
		<div class="page-content">
			<div class="table-container noBorder">
				<!--<div class="search-container">
					<input type="text" class="form-
					control searchbox gray-searchbox" placeholder=""  [(ngModel)]="_param.queryParam"/>
					<span class="glyphicon glyphicon-search searchbox-incon" (click)="search()"></span>
							
					<button class=" form-control-title fox-cloud-button  fox-cloud-button-green float-left" (click)="_param.reset()">重&nbsp;&nbsp;&nbsp;&nbsp;置</button>
				</div>-->
				<div class="">
				<div class="input-group col-md-2 float-left mgr20">
   					 <input class="form-control ht40" placeholder="{{ 'ORDER_MNG.KEY_WORD_SEARCH' | translate}}" [(ngModel)]="_param.queryParam">
    				 <div class="input-group-addon pointer"><span class="glyphicon glyphicon-search" (click)="search()"></span></div>
				</div>
						
				<button class="fox-cloud-button fox-cloud-button-green pdl20 pdr20 pdt5" (click)="resetParam()">
					<span class="icon-button-label">{{ 'COMMON.RESET' | translate}}</span>
				</button>
			</div>
				<table class="table">
					<tbody>
						<tr>				
							<td>
								<div class="float-left font-size-16 mgt5">{{ 'COMMON.ENTERPRISE' | translate}}:</div>
								
								<div class="dropdown float-left">
									<select class="form-control" [(ngModel)]="_param.enterpriseId" (ngModelChange)="loadDepartment()">
										<option class="hands" [value]="null" >{{ 'HOST_OPENSTACK_MNG.ALL_ENTERPRISE' | translate}}</option>
										<option *ngFor="let item of _adminLoader.Items" class="hands" [value]="item.id">{{item.name}}</option>
									</select>
								</div>
							</td>
							<td><div class="float-left font-size-16 mgt5" >{{ 'COMMON.DEPARTMENT' | translate}}:</div>
								<div class="dropdown float-left">
									<select class="form-control" [(ngModel)]="_param.organization" (ngModelChange)="loadBuyer()">
										<option class="hands" [value]="null">{{ 'ORDER_MNG.ALL_DEPARTMENT' | translate}}</option>
										<option class="hands" *ngFor="let item of _departmentLoader.Items" [value]="item.id">{{item.name}}</option>
									</select>
								</div>
							</td>
							<td><div class="float-left font-size-16 mgt5" >{{ 'COMMON.PURCHASER' | translate}}:</div>
								<div class="dropdown float-left">
									<select class="form-control" [(ngModel)]="_param.buyerId">
										<option class="hands" [value]="null">{{ 'COMMON.ALL_PURCHASER' | translate}}</option>
										<option class="hands" *ngFor="let item of _buyerListLoader.Items" [value]="item.id">{{item.name}}</option>
									</select>
								</div>
							</td>
								<td ><div class="float-left font-size-16 mgt5">{{ 'PROD_MNG.PRODUCT_TYPE' | translate}}</div>
								<div class="dropdown float-left">
									<select class="form-control" [(ngModel)]="_param.serviceType">
										<option class="hands" [value]="null">{{ 'COMMON.ALL' | translate}}</option>
										<option class="hands" *ngFor="let item of _productTypeLoader.Items" [value]="item.value">{{item.displayValue}}</option>
									</select>
								</div>
							</td>
						</tr>
						<tr>
								<td><div class="float-left font-size-16 mgt5">{{ 'COMMON.STATUS' | translate}}</div>
								<div class="dropdown float-left">
									<select class="form-control" [(ngModel)]="_param.status">
										<option class="hands" [value]="null">{{ 'COMMON.ALL' | translate}}</option>
										<option class="hands" *ngFor="let item of _orderStatus.Items" [value]="item.value">{{item.displayValue}}</option>
									</select>
								</div>
							</td>
						
							<td ><div class="float-left font-size-16 mgt5">{{ 'COMMON.ZONE' | translate}}:</div>
								<div class="dropdown float-left">
									<select class="form-control" [(ngModel)]="_param.platformId" (ngModelChange)="loadSubregion()">
										<option class="hands" [value]="null">{{ 'COMMON.ALL' | translate}}</option>
										<option class="hands" *ngFor="let item of _platformLoader.Items" [value]="item.id">{{item.name}}</option>
									</select>
								</div>
							</td>
							<td ><div class="float-left font-size-16 mgt5">{{ 'COMMON.AVAILABLE_ZONE' | translate}}:</div>
								<div class="dropdown float-left">
									<select class="form-control" [(ngModel)]="_param.zoneId">
										<option class="hands" [value]="null">{{ 'COMMON.ALL' | translate}}</option>
										<option class="hands" *ngFor="let item of _subregionLoader.Items" [value]="item.zoneId">{{item.zoneName}}</option>
									</select>
								</div>
							</td>
						</tr>

							<tr>
							<td  colspan="4"><span class="font-size-16 mgt15 float-left">{{ 'COMMON.DUE_TIME' | translate}}:</span>
								<span class="float-left font-size-16 mgt15">{{ 'COMMON.FROM' | translate}}</span><div class="dropdown float-left">			
									<date-picker (dateChanged)="onCreateTimeChange($event)"></date-picker>
								</div>
							
								<span class="font-size-16 mgt15 float-left mgl10">{{ 'COMMON.TO' | translate}}</span><div class="dropdown float-left">			
									<date-picker (dateChanged)="onExpireTimeChange($event)"></date-picker>
								</div>
							</td>
						
						</tr>
					</tbody>
				</table>	
			</div>
			<div class=" float-left mgt20 mgb10">{{ 'ORDER_MNG.QUERY_PURCHASED_SERVICE_QUANTITY_IS' | translate}} {{_orderLoader.TotalRecords}}, {{ 'COMMON.RESULTS_FOLLOW' | translate}}：</div>
				<div class="table-container">
				<table class="table">
					<thead>	
						<tr class="" >
							<th class="order-title">{{ 'ORDER_MNG.PURCHASED_SERVICE_DETAILS' | translate}}</th>
							<th>{{ 'PROD_MNG.COUNT_MODE' | translate}}</th>
							<th>{{ 'ORDER_MNG.PURCHASED_CYCLE' | translate}}</th>
							<th>{{ 'COMMON.AMOUNT' | translate}}</th>
							<th style="width: 150px;">{{ 'COMMON.COST' | translate}}</th>
							<th>{{ 'PROD_MNG.PRODUCT_TYPE' | translate}}</th>
							<th>{{ 'COMMON.STATUS' | translate}}</th>
							<th>{{ 'COMMON.CREATION_TIME' | translate}}</th>
							<th>{{ 'COMMON.DUE_TIME' | translate}}</th>
							<th>{{ 'COMMON.PURCHASER' | translate}}</th>
							<th>{{ 'COMMON.DEPARTMENT' | translate}}</th>
						</tr>			
					</thead>
				</table>

				<table class="table _table" *ngFor="let orderItem of _orderLoader.Items">
					<tr>
						<td colspan="8" class="leftAlign font-green">{{orderItem.purchaseDate}} {{ 'COMMON.ORDER_NUM' | translate}}: {{orderItem.orderNo}}</td>
						
						<td> <button *ngIf="orderItem.canRenew" class="fox-cloud-button  fox-cloud-button-green pull-right" (click)="renewSelect(orderItem)">{{ 'COMMON.RENEW' | translate}}</button> </td>
						<td><!-- <button class="fox-cloud-button  fox-cloud-button-green pull-right" (click)="cancelSelect(orderItem)">退订</button> --></td>

						<td><button class="fox-cloud-button  fox-cloud-button-green  pull-right"  (click)="showDetail(orderItem.orderId)">{{ 'COMMON.DETAILS' | translate}}</button></td>
					</tr>
					<tr *ngFor="let prodItem of orderItem.itemList">
						<td  class="order-title">
							<ul>
								<li *ngFor="let detailItem of prodItem.specList">{{detailItem.attrDisplayName}}：&nbsp;&nbsp;{{detailItem.attrDisplayValue}} {{detailItem.valueUnit}}</li>
							</ul>
							<vm-view [values]="prodItem.specList" *ngIf="prodItem.serviceType==0"></vm-view><!-- 显示云主机 -->
						 	<disk-view [values]="prodItem.specList" *ngIf="prodItem.serviceType==1"></disk-view><!-- 显示云硬盘 -->

						</td>
						<td>{{prodItem.billingModeName}}</td>
						<td>{{prodItem.period}}</td>
						<td>{{prodItem.quantity}}</td>
						<td style="width: 150px!important;">
						{{ 'COMMON.ONE_TIME_COSTS' | translate}}: {{prodItem.oneTimePrice}}<br/>
						{{ 'COMMON.COST' | translate}}: {{prodItem.price}}
						</td>
						<td >{{prodItem.serviceTypeName}}</td>
						<td class="font-green">{{prodItem.statusName}}</td>
						<td >{{prodItem.createDate}}</td>
						<td>{{prodItem.expireDate}}
						</td>
						<td>{{prodItem.buyer}}</td>
						<td>{{prodItem.departmentName}}</td>
					</tr>
				</table>
			</div>
			<fc-pagination tp={{_orderLoader.TotalPages}} (pf)="changePage($event)"></fc-pagination>
		</div>	



	<!--续订-->
	 
	<div #renewOrder class="modal fade" id="renewOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  	<div class="modal-dialog" role="document">
				<div class="modal-content">
				  	<div class="modal-header">
					 	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">{{ 'ORDER_MNG.RENEW_ORDER' | translate}}</h4>
				  	</div>
				 	<div class="modal-body"> 
			          <!--<account-mng-cr-local></account-mng-cr-local>
			          <order-mng-detail></order-mng-detail>-->
			           	<order-mng-renew [orderItem]="selectedOrderItem"></order-mng-renew>
	           			<!-- 订单续订 -->
					   	<div *ngIf="!_renewSetting.completed" class="OrderRenew"> 
							<div class="page-content">
								<div class="page-second-container mgb20 mgl20">
									<div class="float-left">
										<span class="float-left mgr20 mgl10 mgt5">{{ 'ORDER_MNG.BUY_TIME' | translate}}:</span>
										<div class="float-left mgr20">
											<input class="float-left" type="text" [ngModel]="selectedPeriodTypeName" disabled="true">
											<input *ngIf="!_renewSetting.isForever" class="float-left" type="number" name="" (change)="renewValueChange()" [(ngModel)]="_renewSetting.value">
										</div>
									<button class="btn  mgr20 foreverButton" [ngClass]="{'fox-cloud-button-green':!_renewSetting.isForever!=1,'fox-cloud-button-white':!_renewSetting.isForever==1}" (click)="selectForever();">{{ 'COMMON.FOREVER' | translate}}</button>		
								</div>
								<div class="pull-right">
										{{ 'ORDER_MNG.RENEW_DUE_TIME' | translate}}: <span class="font-red">{{_renewSetting.renewDate}}</span>
								</div>
							</div>
					  	</div>
					</div>
			      
				  
				  	<div *ngIf="!_renewSetting.completed" class="modal-footer" style="text-align: center;margin-top:50px;">
						<button  type="button" class="btn fox-cloud-button-green fox-cloud-button-lg " data-toggle="modal" data-target="#renewOrderOk" (click)="renew()" >{{ 'ORDER_MNG.CONFIRM_RENEW' | translate}}</button>
		                <button type="button" class="btn fox-cloud-button-lg fox-cloud-button-white" data-dismiss="modal">{{ 'COMMON.CANCEL' | translate}}</button>
				  	</div>

				  	<!-- 订单续订完成 -->
				  	<div *ngIf="_renewSetting.completed" class="OrderRenew"> 
							<div class="page-content">
								<div class="page-second-container mgb20">
									<div class="float-left">
										<span class="font-red float-left mgb20">{{ 'ORDER_MNG.ORDER_RENEW_COMPLETE' | translate}}<br>{{ 'ORDER_MNG.ORDER_APPROVALED_CAN_BE_EFFECT' | translate}}</span>
								    </div>
									<div class="float-right">
										<!--<span  class="float-left">（费用合计）</span>
										<ul  class="float-left mgr20">
											<li>一次性费用：<span class="font-red">{{_renewSetting.onetimePrice}}</span></li>
											<li class="mgl48">费用： <span class="font-red">{{_renewSetting.price}}<br>
																		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;￥100/年
														</span>
											</li>
										</ul>-->
										<button class="btn fox-cloud-button-green fox-cloud-button-lg  pull-right" data-dismiss="modal" (click)="search()">{{ 'ORDER_MNG.CONSOLE_MNG' | translate}}</button>
									</div>	
									<div style="height: 40px;"></div>
								</div>
							</div>
					 	</div>
					</div>
			      
				  	<div *ngIf="_renewSetting.completed" class="modal-footer">
						    
				  	</div>
				
		  	</div>
		</div>
	 </div>	

	 <!--退订-->
	<div class="modal fade" id="cancelOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  	<div class="modal-dialog" role="document" style="width:80%!important;">
				<div class="modal-content">
				  	<div class="modal-header">
					 	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">{{ 'ORDER_MNG.UNSUBSCRIBE_ORDER' | translate}}</h4>
				  	</div>
				 	<div class="modal-body"> 
 						<order-mng-cancel [orderItem]="selectedOrderItem"></order-mng-cancel>
 						<!-- 退订 -->
						<div *ngIf="!_isCanceled" class="OrderRenew"> 
							<div class="page-content">
								<div class="page-second-container">
								<div class="mgb20">
									<span class="font-red mgb20 mgl10">{{ 'ORDER_MNG.UNSUBSCRIBE_ORDER_PROMPT' | translate}}</span>
								</div>
								</div>
							</div>
					   	</div>
					   	<!-- 退订完成 -->
			        	<div *ngIf="_isCanceled" class="OrderRenew"> 
							<div class="page-content">
								<div class="page-second-container">
											<span class="font-red float-left mgb20">{{ 'ORDER_MNG.UNSUBSCRIBE_ORDER_SUCCESS' | translate}}<br>{{ 'ORDER_MNG.ORDER_APPROVALED_CAN_BE_DELETE' | translate}}<br>您可以登录管理控制台，查看退订状态。</span>
											<button class="btn fox-cloud-button-green fox-cloud-button-lg pull-right" data-dismiss="modal" (click)="search()">{{ 'ORDER_MNG.CONSOLE_MNG' | translate}}</button>
											<div style="height: 40px;"></div>
								</div>
							</div>
						</div>

					</div>
			      	
			      	<!-- 退订 -->
				  	<div *ngIf="!_isCanceled" class="modal-footer" style="text-align: center;">
						<button type="button" class="btn fox-cloud-button-green fox-cloud-button-lg" (click)="cancel()" >{{ 'ORDER_MNG.CONFIRM_UNSUBSCRIBE' | translate}}</button>
		                <button type="button" class="btn fox-cloud-button-lg fox-cloud-button-white" data-dismiss="modal">{{ 'COMMON.CANCEL' | translate}}</button>
				  	</div>
					
					<!-- 退订完成 -->
				  	<div *ngIf="_isCanceled" class="modal-footer">
				  	</div>

		  	</div>
		</div>
	</div>