<fc-notice #notice ot="确认"></fc-notice>
<div class="OrderManage">	
		<div class="page-content-header icon-order-manage" style="border-bottom: 3px solid  #01a982;margin: 10px 0px;padding: 0;">订单管理</div>
	<div class="page-content">
		<div class="table-container">
			<div class="search-container">
				<input type="text" class="form-control searchbox gray-searchbox" placeholder=""/>
				<span class="glyphicon glyphicon-search searchbox-incon" (click)="search()"></span>
						
				<button class=" form-control-title fox-cloud-button  fox-cloud-button-green left" (click)="_param.reset()">重&nbsp;&nbsp;&nbsp;&nbsp;置</button>
			</div>
			<table class="table">
				<tbody>
					<tr>				
						<td >
						    <div class="left form-control-title">企&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业：</div>
							
							<div class="dropdown left">
								<select class="form-control" [(ngModel)]="_param.enterpriseId" (ngModelChange)="loadDepartment()">
									<option class="hands" [value]="null" >所有企业</option>
									<option *ngFor="let item of _adminLoader.Items" class="hands" [value]="item.id">{{item.name}}</option>
								</select>
							</div>
						</td>
						<td colspan="3"><div class="left form-control-title" >部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;门:</div>
							<div class="dropdown left">
								<select class="form-control" [(ngModel)]="_param.organization">
									<option class="hands" [value]="null">所有部门</option>
									<option class="hands" *ngFor="let item of _departmentLoader.Items" [value]="item.id">{{item.name}}</option>
								</select>
							</div>
						</td>
					</tr>
					<tr>
						<td ><div class="left form-control-title">创建时间：</div>
							<div class="dropdown left">	
								<date-picker (dateChanged)="onCreateTimeChange($event)"></date-picker>
								<!-- <input type="text" [(ngModel)]='_param.createTime'/> -->
							</div>
						</td>
						<td colspan="3"><div class="left form-control-title">到期时间：</div>
							<div class="dropdown left">			
								<date-picker (dateChanged)="onExpireTimeChange($event)"></date-picker>
								<!-- <input type="text" [(ngModel)]='_param.expireTime'/> -->
							</div>
						</td>
					</tr>
					<tr>
						<td><div class="left form-control-title">订单状态：</div>
							<div class="dropdown left">
								<select class="form-control" [(ngModel)]="_param.status">
									<option class="hands" [value]="null">所有</option>
									<option class="hands" *ngFor="let item of _orderStatus.Items" [value]="item.value">{{item.displayValue}}</option>
								</select>
							</div>
						</td>
						<td ><div class="left form-control-title">产品类型：</div>
							<div class="dropdown left">
								<select class="form-control" [(ngModel)]="_param.serviceId">
									<option class="hands" [value]="null">所有类型</option>
									<option class="hands" *ngFor="let item of _productTypeLoader.Items" [value]="item.value">{{item.displayValue}}</option>
								</select>
							</div>
						</td>
						<td ><div class="left form-control-title">区域：</div>
							<div class="dropdown left">
								<select class="form-control" [(ngModel)]="_param.region" (ngModelChange)="loadSubregion()">
									<option class="hands" [value]="null">所有</option>
									<option class="hands" *ngFor="let item of _platformLoader.Items" [value]="item.id">{{item.name}}</option>
								</select>
							</div>
						</td>
						<td ><div class="left form-control-title">可用区：</div>
							<div class="dropdown left">
								<select class="form-control" [(ngModel)]="_param.zoneId">
									<option class="hands" [value]="null">所有</option>
									<option class="hands" *ngFor="let item of _subregionLoader.Items" [value]="item.zoneId">{{item.zoneName}}</option>
								</select>
							</div>
						</td>
					</tr>
				</tbody>
			</table>	
		</div>
		<div class="page-second-title" style="border:none;">当查询到{{_orderLoader.Items.length}}个订单需要审批，查询列表如下：</div>
			<div class="table-container">
			<table class="table">
				<thead>	
					<tr class="form-control-title" >
						<th class="order-title"> 产品名称</th>
						<th>计费模式</th>
						<th>购买周期</th>
						<th>数量</th>
						<th style="width: 150px;">单价费用</th>
						<th>产品类型</th>
						<th>状态</th>
						<th>创建时间</th>
						<th>到期时间</th>
					</tr>			
				</thead>
			</table>

			<table class="table _table" *ngFor="let orderItem of _orderLoader.Items">
				<tr>
					<td class="order-title" colspan="7">{{orderItem.purchaseDate}} 订单号：{{orderItem.orderNo}}</td>
					
					<td><button class="fox-cloud-button  fox-cloud-button-green pull-right" (click)="renew(orderItem.orderId)">续&nbsp;&nbsp;&nbsp;订</button></td>
					<td><button class="fox-cloud-button  fox-cloud-button-green  pull-right"  (click)="showDetail(orderItem.orderId)">详&nbsp;&nbsp;&nbsp;情</button></td>
				</tr>
				<tr *ngFor="let prodItem of orderItem.itemList">
					<td style="text-align: left;padding-top: 30px;padding-left: 40px;padding-right: 20px; ">
						<ul>
							<li *ngFor="let detailItem of prodItem.specList">{{detailItem.attrDisplayName}}：&nbsp;&nbsp;{{detailItem.attrDisplayValue}} {{detailItem.valueUnit}}</li>
						</ul>
					</td>
					<td>{{prodItem.billingMode}}</td>
					<td>{{prodItem.period}}</td>
					<td>{{prodItem.quantity}}</td>
					<td class="rightAlign">{{prodItem.oneTimePriceAndPrice}}</td>
					<td class="rightAlign">{{prodItem.serviceType}}</td>
					<td class="rightAlign validateInfo">{{prodItem.statusName}}</td>
					<td class="rightAlign">{{prodItem.createDate}}</td>
					<td>{{prodItem.expireDate}}
					</td>
				</tr>
			</table>
		</div>
		<fc-pagination tp={{_orderLoader.TotalPages}} (pf)="changePage($event)"></fc-pagination>
	</div>	
</div>	
