<fc-notice #notice ot="{{ 'COMMON.CONFIRM' | translate}}" (of)="okClicked()"></fc-notice>

<div class="OrderDetail"> 
	<div class="page-content-header float-left" style="width:1300px;padding-left: 0;">  
	<span>{{ 'ORDER_MNG.ORDER_NUM' | translate}}: {{_detailLoader.FirstItem.instanceCode}}</span>
	<button class="fox-cloud-button fox-cloud-button-green pull-right" style="margin-top:-10px;" (click)="back()"><span>返回已购服务管理</span></button>
	</div>
	<div class="page-content">
		<div class="noborder form-control-title float-left mgb10">{{ 'COMMON.BASIC_INFO' | translate}}</div>
		<div class="table-container mgb20 noBorder">
			<table class="table table-bordered first-table mgb20 text-left ">
				<tbody>
					<tr>
						<td>{{ 'ORDER_MNG.PURCHASED_SERVICE_NUMBER' | translate}}</td>	
						<td>{{_detailLoader.FirstItem.instanceCode}}</td>
						<td>{{ 'COMMON.STATUS' | translate}}</td>
						<td>{{_detailLoader.FirstItem.status | dict:_dictServ.getDic('SUBINSTANCE', 'STATUS') | async}}</td>
					</tr>
					<tr>
						<td>{{ 'PROD_MNG.PRODUCT_TYPE' | translate}}</td>
						<td>{{_detailLoader.FirstItem.productType | dict:_dictServ.getDic('GLOBAL', 'SERVICE_TYPE') | async}}</td>	
						<td>
							<span *ngIf="_detailLoader.FirstItem.productType==0||_detailLoader.FirstItem.productType==1||_detailLoader.FirstItem.productType==2||_detailLoader.FirstItem.productType==11">{{ 'CHECK_CENTER.ZONE_AND_AVAILABLE_ZONE' | translate}}</span><!--云主机云硬盘，数据库中间件-->
							<span  *ngIf="_detailLoader.FirstItem.productType==4">区域资源池</span><!--物理机-->
							</td>
						<td>
							<span *ngIf="_detailLoader.FirstItem.productType==0||_detailLoader.FirstItem.productType==1||_detailLoader.FirstItem.productType==2||_detailLoader.FirstItem.productType==11">{{_detailLoader.FirstItem.platform}}&nbsp;&nbsp;&nbsp;{{_detailLoader.FirstItem.zone}}</span>
							<span  *ngIf="_detailLoader.FirstItem.productType==4">物理机</span><!--物理机-->
						</td>
					</tr>
					<tr>
						<td>{{ 'ORDER_MNG.CURRENT_CONFIGURATION' | translate}}</td>
						<td>
						<span *ngIf="_detailLoader.FirstItem.productType==0||_detailLoader.FirstItem.productType==1||_detailLoader.FirstItem.productType==2">{{_detailLoader.FirstItem.specification}}</span><!--云主机云硬盘，数据库中间件-->
							<a *ngIf="_detailLoader.FirstItem.productType==4" class="hands" [popover]="popover">点击查看部件信息</a><!--物理机-->
							<!--<div *ngIf="_detailLoader.FirstItem.productType==4"  style="width: 1000px!important;">  style="width: 700px!important;"-->
								<popover-content #popover placement="right"[animation]="true" [closeOnClickOutside]="true" >
								<div *ngIf="_detailLoader.FirstItem.productType==4"  class="table-container mgb20" >
									<table class="table table-bordered mgb20 text-center inner-table">
										<thead>
												<th>部件名称</th>
												<th>规格</th>
												<th>规格值</th>
												<th>数量</th>
												<th>总容量</th>
										</thead>
										<tbody *ngIf="_detailLoader.FirstItem.itemList[0].pmEntity.partsEntitys">
											<tr *ngFor="let physicalMachineItem of _detailLoader.FirstItem.itemList[0].pmEntity.partsEntitys">
													<td>{{physicalMachineItem.partsName}}</td>
													<td>{{physicalMachineItem.specName}}</td>
													<td>{{physicalMachineItem.specValue}}</td>
													<td>{{physicalMachineItem.number}}</td>
													<td>{{physicalMachineItem.capacity}}</td>
												</tr>		
										</tbody>
									</table>
								</div>
					
							</popover-content>
							<!--</div>-->
							<a *ngIf="_detailLoader.FirstItem.productType==11" (clic)="checkOSInfo()">OS管理服务</a><!--管理服务-->	
						</td>	
						<td>{{ 'COMMON.CREATION_TIME' | translate}}</td>
						<td>{{_detailLoader.FirstItem.createDate}}</td>
					</tr>
					<tr>
						<td>{{ 'PROD_MNG.COUNT_MODE' | translate}}</td>
						<td>{{_detailLoader.FirstItem.billingMode | dict:_dictServ.getDic('BILLING_MODE', 'TYPE') | async}}</td>	
						<td>{{ 'COMMON.DUE_TIME' | translate}}</td>
						<td>{{_detailLoader.FirstItem.expireDate}}</td>
					</tr>
					<tr>
						<td>{{ 'COMMON.ONE_TIME_COSTS' | translate}}</td>
						<td>￥{{_detailLoader.FirstItem.oneTimePrice}}</td>	
						<td>{{ 'COMMON.PURCHASER' | translate}}</td>
						<td>{{_detailLoader.FirstItem.buyer}}</td>
					</tr>
					<tr>
						<td>{{ 'COMMON.COST' | translate}}</td>	
						<td><span  *ngIf="_detailLoader.FirstItem.showPrice">￥{{_detailLoader.FirstItem.price}}/<span>{{_detailLoader.FirstItem.periodType | dict:_dictServ.getDic('PACKAGE_BILLING', 'PERIOD_TYPE') | async}}</span></span></td>
						<td>{{ 'COMMON.DEPARTMENT' | translate}}</td>
						<td>{{_detailLoader.FirstItem.department}}</td>
					</tr>
					<tr>
						<td>{{ 'CHECK_CENTER.INSTANCE_NAME' | translate}}</td>	
						<td>{{_detailLoader.FirstItem.instanceName}}</td>
						<td>{{ 'COMMON.ENTERPRISE' | translate}}</td>
						<td>{{_detailLoader.FirstItem.enterprise}}</td>
					</tr>
					<tr>
						<td>是否自动续订</td>	
						<td>{{_detailLoader.FirstItem.isExtend}}</td>
						<td>自动续订方式</td>
						<td>{{_detailLoader.FirstItem.extendType| dict:_dictServ.getDic('SUBINSTANCE', 'EXTEND_TYPE') |async}}</td>
					</tr>				
				</tbody>
			</table>
		</div>
		
		<div class="noborder form-control-title float-left mgb10">{{ 'ORDER_MNG.ASSOCIATED_SUBSCRIPTION_SERVICE_LIST' | translate}}</div>
		<div class="table-container mgb20 noBorder">
			<table class="table table-bordered mgb20">
				<thead>	
					<th class="border-gray">{{ 'ORDER_MNG.PURCHASED_SERVICE_NUMBER' | translate}}</th>
					<th class="border-gray">{{ 'CHECK_CENTER.INSTANCE_NAME' | translate}}</th>
					<th class="border-gray">{{ 'PROD_MNG.PRODUCT_TYPE' | translate}}</th>
					<th class="border-gray">{{ 'COMMON.CONFIGURATION' | translate}}</th>
					<th class="border-gray">{{ 'COMMON.COUNT_MODE' | translate}}</th>
					<th class="border-gray">{{ 'COMMON.STATUS' | translate}}</th>
					<th class="border-gray">{{ 'COMMON.COST' | translate}}</th>
					<th class="border-gray">{{ 'COMMON.DUE_TIME' | translate}}</th>
							
				</thead>
				<tbody>
					<tr *ngFor="let relatedOrder of _detailLoader.FirstItem.relatedSubInstanceList">
						<td>{{relatedOrder.orderCode}}</td>
						<td>{{relatedOrder.instanceName}}</td>
						<td>{{relatedOrder.productType}}</td>
						<td>{{relatedOrder.specification}}</td>
						<td>{{relatedOrder.billingMode | dict:_dictServ.getDic('BILLING_MODE', 'TYPE') | async}}</td>
						<td class="font-green">{{relatedOrder.status}}</td>
						<td>
							<ul>
								<li>{{ 'COMMON.ONE_TIME_COSTS' | translate}}: {{ 'COMMON.$' | translate}}{{relatedOrder.oneTimePrice}}</li>
								<li >{{ 'COMMON.COST' | translate}}: {{ 'COMMON.$' | translate}}{{relatedOrder.price}}/G/{{ 'COMMON.BY_HOUR' | translate}}</li>
							</ul>
						</td>
						<td>{{relatedOrder.expireDate}}</td>
					</tr>
				</tbody>
			</table>
		</div>	


		<div class="noborder form-control-title float-left mgb10">{{ 'ORDER_MNG.HISTORY_INFO' | translate}}</div>
		<div class="table-container mgb20 noBorder">
			<table class="table table-bordered mgb20">
				<thead>	
					<th>{{ 'COMMON.DATE' | translate}}</th>
						<th>{{ 'CHECK_CENTER.INSTANCE_NAME' | translate}}</th>
						<th>{{ 'CHECK_CENTER.INSTANCE_TYPE' | translate}}</th>
						<th>{{ 'COMMON.CONFIGURATION' | translate}}</th>
						<th>{{ 'COMMON.OPERATOR' | translate}}</th>
						<th>{{ 'COMMON.DEPARTMENT' | translate}}</th>
						<th>{{ 'COMMON.DUE_TIME' | translate}}</th>
						<th>{{ 'COMMON.COMMENT' | translate}}</th>
							
				</thead>
				<tbody>
					<tr>
						<td>{{_detailLoader.FirstItem.createDate}}</td>
						<td>{{_detailLoader.FirstItem.instanceName}}</td>
						<td>{{_detailLoader.FirstItem.productType | dict:_dictServ.getDic('GLOBAL', 'SERVICE_TYPE') | async}}</td>
						<td>{{_detailLoader.FirstItem.specification}}</td>
						<td>{{_detailLoader.FirstItem.buyer}}</td>
						<td>{{_detailLoader.FirstItem.department}}</td>
						<td>{{_detailLoader.FirstItem.expireDate}}
						</td>
						<td>{{_detailLoader.FirstItem.type | dict:_dictServ.getDic('ORDER', 'TYPE') | async}}</td>
					</tr>
					<tr *ngFor="let historyItem of _detailLoader.FirstItem.hisOrderList">
						<td>{{historyItem.createDate}}</td>
						<td>{{historyItem.instanceName}}</td>
						<td>{{historyItem.productType | dict:_dictServ.getDic('GLOBAL', 'SERVICE_TYPE') | async}}</td>
						<td>{{historyItem.specification}}</td>
						<td>{{historyItem.buyer}}</td>
						<td>{{historyItem.department}}</td>
						<td>{{historyItem.expireDate}}
						</td>
						<td>{{historyItem.type | dict:_dictServ.getDic('ORDER', 'TYPE') | async}}</td>
					</tr>
				</tbody>
			</table>
		</div>				
	</div>					
</div>