
<div class="OrderSearch">	
	<div class="page-content-header icon-operator-Blank">订单查询</div>
	<div class="page-content">
		<div class="table-container">
			<div class="">
				<div class="input-group col-md-2 float-left mgr20">
   					 <input class="form-control ht40" placeholder="输入云主机信息搜索" [(ngModel)]="_param.queryParam">
    				 <div class="input-group-addon pointer"><span class="glyphicon glyphicon-search" (click)="search()"></span></div>
				</div>
						
				<button class="fox-cloud-button-green fox-cloud-button reset-buttont pdl20 pdr20 pdt5" (click)="resetParam()" >
						<span class="icon-button-label">重&nbsp;&nbsp;置</span>
				</button>
			</div>
			<table class="table  mgb20 mgt20">
				<tbody>
					<tr class="none-border">
						<td class="none-border">
								<div class="float-left font-size-16 mgt5 mgl20">企业：</div>
								
								<div class="dropdown float-left">
									<select class="form-control" [(ngModel)]="_param.enterpriseId" (ngModelChange)="loadDepartment()">
										<option class="hands" [value]="null" >所有企业</option>
										<option *ngFor="let item of _adminLoader.Items" class="hands" [value]="item.id">{{item.name}}</option>
									</select>
								</div>
							</td>				
						<td class="none-border">
							<span class="float-left font-size-16 mgt5">部门:</span>
							<div class="dropdown float-left">
								<select class="form-control" [(ngModel)]="_param.organization" (ngModelChange)="loadBuyer()">
									<option class="hands" [value]="null">所有部门</option>
									<option class="hands" *ngFor="let item of _departmentLoader.Items" [value]="item.id">{{item.name}}</option>
							</select>
							</div>
						</td>
						<td class="none-border">
							<span class="float-left font-size-16 mgt5">订购人:</span>
							<div class="dropdown float-left">
								<select class="form-control" [(ngModel)]="_param.buyerId">
									<option class="hands" [value]="null">所有用户</option>
									<option class="hands" *ngFor = "let item of _buyerLoader.Items" [value] = "item.id">{{item.name}}</option>
								</select>
							</div>
						</td>
						
						<td class="none-border ">
							<span class="float-left  font-size-16 mgt5" >
							产品类型:</span>
							<div class="dropdown float-left">
								<select class="form-control" [(ngModel)]="_param.serviceType">
									<option class="hands" [value]="null">所有类型</option>
									<option class="hands" *ngFor="let item of _productTypeLoader.Items" [value]="item.value">{{item.displayValue}}</option>
								</select>
							</div>
						</td>
					</tr>
					<tr>
						<td class="none-border ">
							<span class="float-left  font-size-16 mgt5" >
							订单状态：</span>
							<div class="dropdown float-left">
								<select class="form-control" [(ngModel)]="_param.status">
									<option class="hands" [value]="null">所有状态</option>
									<option class="hands" *ngFor="let item of _orderStatusDic.Items" [value]="item.value">{{item.displayValue}}</option>
								</select>
							</div>
						</td>
						<td class="none-border" colspan="4">
							<span class="mgr10 mgt20  font-size-16 float-left">提交时间：</span>
							<div class="float-left">			
								<date-picker (dateChanged)="onSubmitTimeChange($event)"></date-picker>
							</div>
							
							<span class="mgr10 mgt20 mgl10 float-left">—</span>
							<div class="float-left">			
							<date-picker (dateChanged)="onEndTimeChange($event)"></date-picker>
							</div>
						</td>
					</tr>
				</tbody>
			</table>	
		</div>
		<div class="mgb10 mgt20 ">当前查询到<span class="font-green">{{_orderLoader.TotalRecords}}</span>个订单，订单列表如下：</div>
			<div class="table-container">
			<table class="table table-all-boder">
				<thead>	
					<tr class="">
						<th class="noBorder">编号</th>
						<th class="noBorder">订单号</th>
						<th class="noBorder">产品类型</th>
						<th class="noBorder">订单类型</th>
						<th class="noBorder">订单状态</th>
						<th class="noBorder">费用</th>
						
						<th class="noBorder">提交时间</th>
						<th class="noBorder">完成时间</th>
						<th class="noBorder">提交者</th>
						<th class="noBorder">所属部门</th>
						<th class="noBorder">操作</th>
					</tr>			
				</thead>
				<tbody>
					<tr *ngFor="let item of _orderLoader.Items;let i=index;">
						<td>{{i}}</td>
						<td>{{item.orderNo}}</td>
						<td>{{item.serviceType | dict:_dictServ.getDic('GLOBAL', 'SERVICE_TYPE') | async}}</td>
						<td>{{item.orderType | dict:_dictServ.getDic('ORDER', 'TYPE') | async}}</td>
						<td>{{item.status| dict:_dictServ.getDic('SUBINSTANCE', 'STATUS') | async}}</td>
						<td>一次性费用：￥{{item.oncePrice}}<br>费用：￥{{item.price}}
						</td>
						<td>{{item.submitTime}}</td>
						<td>{{item.EndTime}}</td>
						<td>{{item.submitPeople}}</td>
						<td>{{item.departmentName}}</td>
						<td class="left-td">
							<button class="mgr20  fox-cloud-button-green" data-toggle="modal" data-target="#searchDetail">详&nbsp;&nbsp;&nbsp;情</button>
							<button class="fox-cloud-button-green" data-toggle="modal" data-target="#cancelOrder">撤&nbsp;&nbsp;&nbsp;单</button>			
						</td>		
					</tr>
				</tbody>
			</table>
		</div>
			<fc-pagination tp={{_orderLoader.TotalPages}} (pf)="changePage($event)"></fc-pagination>
	</div>


<!--详情-->
<!--详情-->
	 
	<div class="modal fade" id="searchDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  	<div class="modal-dialog" role="document">
				<div class="modal-content">
				  	<div class="modal-header">
					 	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">订单编号：2370537538484773</h4>
				  	</div>
				 	<div class="modal-body"> 
			          <!--<account-mng-cr-local></account-mng-cr-local>-->
			          <order-mng-searchDetail></order-mng-searchDetail>
			      
					</div>
			      
				  	<div class="modal-footer">
				  	</div>
				
		  	</div>
		</div>
	</div>



</div><!--ending-->