<div class="page-content cloud_mirror">
    <div class="col-md-12">
        <h1 class="page-content-header">镜像</h1>
        <ul class="left-box-mirror" style="margin-bottom:20px;">
            <li>
                <div class="col-md-2 li-title">
                    <p><br>区域列表</p>
                </div>
                <div class="col-md-12 li-content">
                    <div class="col-md-12 btn-group" data-toggle="buttons" >
                        <label class="btn btn-default" [ngClass]="{'active':imagequery.imagearea == ''}" (click)="imagequery.imagearea= ''">
                            <input type="radio" name="location" [checked]="imagequery.imagearea == ''" autocomplete="off" > 所有
                        </label>
                        <label class="btn btn-default" *ngFor="let area of areas" [ngClass]="{'active':imagequery.imagearea == area.id}" (click)="imagequery.imagearea = area.id">
                            <input type="radio" name="location" autocomplete="off" [checked]="imagequery.imagearea == area.id">{{area.name}}
                        </label>


<!--
                        <label class="btn btn-default">
                            <input type="radio" name="location" autocomplete="off"> 上海B区
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="location" autocomplete="off"> 苏州
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="location" autocomplete="off"> 北京
                        </label>
-->
                    </div>
                </div>
            </li>
            <li>
                <div class="col-md-2 li-title">
                    <p><br>镜像归属</p>
                </div>
                <div class="col-md-12 li-content">
                    <div class="col-md-12 btn-group" data-toggle="buttons" >
                        <label class="btn btn-default active" (click)="imagequery.imagebelong=''">
                            <input type="radio" name="location" autocomplete="off" checked> 我的资源
                        </label>
                        <label class="btn btn-default" *ngFor="let belong of belongdicts" (click)="imagequery.imagebelong = belong.value" >
                            <input type="radio" name="location" autocomplete="off"> {{belong.displayValue}}
                        </label>
                    </div>
                </div>
            </li>

        </ul>

        <div class="pull-left row" style="margin-bottom:20px;">
            <div class="col-md-1">
                <select class="form-control" [(ngModel)]="imagequery.nameOros">
                    <option value="0" selected="selected">镜像名称</option>
                    <option value="1">操作系统</option>
                </select>
            </div>
<!--            <div class="dropdown pull-left float-left">
                <input type="text" placeholder="输入帐号信息快速搜索" style="height : 35px ; padding : 5px"/>
            </div>-->
            <div class="input-group col-md-2 float-left">
                <!-- <input class="form-control" placeholder="输入镜像信息搜索" [(ngModel)]="imagequery.str" (change)="setKeyword()"> -->
                <input class="form-control" placeholder="输入镜像信息搜索" [(ngModel)]="imagequery.str" (change)="setKeyword()">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
            </div>

            <span class="float-left" style="margin-left:10px;margin-top:6px;">状态 :</span>
            <div class="col-md-2 float-left">
                <select class="form-control" [(ngModel)]="imagequery.imagestatus">
                    <option [value]="''">所有</option>
                    <option *ngFor="let status of statusdicts" [value]="status.value">{{status.displayValue}}</option>
                </select>
            </div>

            <span class="pull-left mgb10" style="margin-top:6px;">镜像类型 :</span>
            <div class="col-md-2">
                <select class="form-control" [(ngModel)]="imagequery.imagetype">
                    <option [value]="''">所有</option>
                    <option *ngFor="let type of typedicts" [value]="type.value">{{type.displayValue}}</option>
                </select>
            </div>

            <button class="btn button-gray-gradient"><span class="glyphicon glyphicon-search" (click)="imageSearch()"></span> 简单搜索</button>
            <button class="btn button-gray-gradient"><span class="glyphicon glyphicon-repeat" (click)="queryClean()"></span> 重置选项</button>
            <button class="btn button-gray-gradient pull-right" style="margin-right:15px;">
                <span class="icon icon-link"></span> 相关实例
            </button>
    </div>
    <table class="table table-hover mgb20">
      <thead>
            <tr>
                    <th class="text-center">选择</th>
                    <th class="text-center">镜像名称</th>
                    <th class="text-center">镜像类型</th>
                    <th class="text-center">操作系统</th>
                    <th class="text-center">系统位数</th>
                    <th class="text-center">创建人</th>
                    <th class="text-center">创建部门</th>
                    <th class="text-center">创建时间</th>
                    <th class="text-center">状态</th>
                    <th class="text-center">进度</th>
                    <th class="text-center">描述</th>
                    <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let image of images">
                <td class="text-center">
                    <input name="host-list" type="radio" class="fox-cloud-radio">
                </td>
                <td class="text-center td_mirror">
                    <u style="color:#01a982;">{{image.name}}</u>
                    <span class="tdspan" (click)="onSelect(image); image.nameEditing=true">编辑</span>

                    
                    <div *ngIf="image.nameEditing" class="popover fade bottom in" role="tooltip" id="popover316538" style="top: 35px; left: 8.5px; width:420px;max-width:1000px; display: block;">
                        <div class="arrow" style="left: 20%;"></div>
                        <div class="popover-content">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-3 control-label pull-left">镜像描述:</label>
                                <div class="col-sm-9 float-left">
                                    <textarea class="form-control" rows="3" [(ngModel)]="selectedimage.name">{{selectedimage.name}}</textarea>
                                    <div style="color: #b1b6bc;">长度为2-256个字符，不能以http://或https://开头</div>
                                </div>
                            </div>
                        </form>
                        <div class="pull-right" style="margin-bottom:10px;">
                            <button class="btn btn-default btn-save" (click)="onSave(image)">保存</button>
                            <button class="btn btn-default" (click)="image.nameEditing=false">取消</button>
                        </div>
                        </div>
                    </div>

                </td>

                <td class="text-center">{{image.type}}</td>
                <td class="text-center">{{image.os}}</td>
                <td class="text-center">{{image.bits}}</td>
                <td class="text-center">{{image.creatorName}}</td>
                <td class="text-center font-green">{{image.orgName}}</td>
                <td class="text-center">{{image.createTime}}</td>
                <td class="text-center">{{image.status}}</td>
                <td class="text-center">{{image.progress}}</td>
                <td class="text-center td_mirror">
                    {{image.description}}
                    <span class="tdspan"
                    (click)="onSelect(image); image.desEditing=true">编辑</span>


                    <div *ngIf="image.desEditing" class="popover fade bottom in" role="tooltip" id="popover472540" style="top: 35px; left: 8.5px; width:310px;max-width: 1000px; display: block;">
                        <div class="arrow" style="left: 30%;"></div>
                        <div class="popover-content">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">镜像描述:</label>
                                <div class="col-sm-8 float-left">
                                    <textarea class="form-control" rows="3" placeholder="image的描述语句" [(ngModel)]="selectedimage.description"></textarea>
                                    <div style="color: #b1b6bc;">长度为2-256个字符，不能以http://或https://开头</div>
                                </div>
                            </div>
                        </form>
                        <div class="pull-right" style="margin-bottom:10px;">
                            <button class="btn btn-default btn-save" (click)=onSave(image)>保存</button>
                            <button class="btn btn-default" (click)="image.desEditing=false">取消</button>
                        </div>
                        </div>
                    </div>



                </td>
                <td class="text-center">
                    <div class="test-div">
                        <div class="icon">
                            <span class="icon-copy"></span>
                            <span class="icon-delete3"></span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="col-md-12">
        <p *ngIf="images && images.length > 3">there are too many images!!!</p>
    </div>


        <div class="fox-cloud-pagination-container">
            <fc-pagination #pager tp={{totalPage}} (pf)="getImageList($event)"></fc-pagination>
        </div>

            {{ imagequery.toString() }}

        <fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="确认"></fc-notice>
        <fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="确认" ct="取消"></fc-confirm>    
    
    </div>

</div>

<!--
            {{ imagequery.toString() }}
<script>
    $(function () {
        $("[data-toggle='popover']").popover();
    });
</script>
-->
