<div  *ngIf="image">
                    <div class="popover fade bottom in" role="tooltip" id="popover472540" style="top: 35px; left: 8.5px; width:310px;max-width: 1000px; display: block;">
                        <div class="arrow" style="left: 30%;"></div>
                        <div class="popover-content">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">镜像描述:</label>
                                <div class="col-sm-8 float-left">
                                    <!-- <textarea class="form-control" rows="3" placeholder="image的描述语句" [(ngModel)]="image.description">{{image.description}}</textarea> -->
                                    <input [(ngModel)]="image.description" name="description" placeholder="image的描述语句" />
                                    <div style="color: #b1b6bc;">长度为2-256个字符，不能以http://或https://开头</div>
                                </div>
                            </div>
                        </form>
                        <div class="pull-right" style="margin-bottom:10px;">
                            <button class="btn btn-default btn-save" (click)="onSave()" >保存</button>
                            <button class="btn btn-default" (click)="onCancel(image)" >取消</button>
                        </div>
                        </div>
                    </div>
</div>

<script>
    $(function () {
        $("[data-toggle='popover']").popover();
    });
</script>