<div>
	<div class="row row-line-height" *ngIf="type=='0'">
		<div class="col-sm-3"></div>
		<div class="col-sm-6 border selectPlateForm">
			<div class="row  tabHeader row-line-height">
				<div class="col-sm-4">{{'PROD_MNG.PLATFORM_NAME' | translate}}</div>
				<!--平台名称-->
				<div class="col-sm-2 secondDiv">
					{{'COMMON.AVAILABLE_ZONE' | translate}}
					<!--可用区-->
				</div>
				<div class="col-sm-2" style="text-align: left">
					<input type="checkbox" class="fox-cloud-checkbox" (click)="selectAllZones()" [disabled]="selectAllZoneDisabled" [(ngModel)]="selectAllZone">
				</div>
				<div class="col-sm-4">
					{{'COMMON.ROOT_DISK' | translate}}
					<!--启动盘-->
				</div>
			</div>
			<div class="row tabBody" *ngFor="let plateform of servicePlatformList; let idx=index">
				<div class="col-sm-4 oneChild">
					<p [title]="plateform.platformName">{{plateform.platformName}}</p>
				</div>
				<div class="col-sm-2 secondDiv">
					<div class="row wyLine-height" *ngFor='let zone of plateform.zoneList'>
						<div class="col-sm-12 no-nowrap" [title]="zone.zoneName">{{zone.zoneName}}</div>
					</div>
				</div>
				<div class="col-sm-2 thirdChild">
					<div class="row row-line-height inputLeft" *ngFor='let zone of plateform.zoneList;  let idxx=index;'>
						<div class="col-sm-12">
							<input type="checkbox" [disabled]="zone.disable" class="fox-cloud-checkbox" [(ngModel)]="zone.selected" name="zoneSelected"
							 (change)=selectZone(idx,idxx)>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row row-line-height inputLeft" *ngFor='let zone of plateform.zoneList;let idxxx=index'>
						<p class="no-nowrap" style="text-align: center;line-height: 30px;" [title]="zone.storageName">{{zone.storageName}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3"></div>
	</div>
	<div class="row row-line-height" *ngIf="type=='1'">
		<div class="col-sm-3"></div>
		<div class="col-sm-6 border selectPlateForm">
			<div class="row  tabHeader row-line-height">
				<div class="col-sm-4">{{'PROD_MNG.PLATFORM_NAME' | translate}}</div>
				<!--平台名称-->
				<div class="col-sm-8 ">
					<div class="row ">
						<div class="col-sm-4" style="text-align: left">{{'COMMON.AVAILABLE_ZONE' | translate}}
							<!--可用区-->
						</div>
						<div class="col-sm-3" style="text-align: left">
							<!--{{'COMMON.SELECT_ALL' | translate}}-->
							<input type="checkbox" class="fox-cloud-checkbox" (click)="selectAllZones()" [disabled]="selectAllZoneDisabled" [(ngModel)]="selectAllZone">
							<!--全选-->
						</div>
						<div class="col-md-5">
							<div class="row">
								<div class="col-md-12">{{'PROD_MNG.STORAGE_BACKEND' | translate}}
									<!--存储设备-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row tabBody" *ngFor="let plateform of servicePlatformList; let idx=index">
				<div class="col-sm-4 oneChild">
					<p class="no-padding no-nowrap" style="line-height:34px" [title]="plateform.platformName">{{plateform.platformName}}</p>
				</div>
				<div class="col-sm-8">
					<div class="row wyLine-height" *ngFor='let zone of plateform.zoneList;let idxx=index'>
						<div class="col-sm-4 no-nowrap" style="line-height: 34px;text-align: left" [title]="zone.zoneName">{{zone.zoneName}}</div>
						<div class="col-sm-3" style="line-height: 34px;text-align: left">
							<input type="checkbox" class="fox-cloud-checkbox" [(ngModel)]="zone.selected" [disabled]="zone.disable" name="zoneSelected"
							 (change)="selectZone(idx,idxx,tempDiskProdDirPlatformList)">
						</div>
						<div class="col-md-5">
							<div class="row" *ngFor="let storage of zone.storageList" style="line-height: 34px">
								<div class="col-md-12 no-nowrap" [title]="storage.storageName">{{storage.storageName}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3"></div>
	</div>
</div>