<div class="row row-line-height" *ngIf="this.service.productDir.serviceType=='0'">
			<div class="col-sm-2"></div>
			<div class="col-sm-8 border selectPlateForm">
				<div class="row  tabHeader row-line-height">
					<div class="col-sm-4">{{'PROD_MNG.PLATFORM_NAME' | translate}}</div>
					<!--平台名称-->
					<div class="col-sm-3 ">
						{{'COMMON.AVAILABLE_ZONE' | translate}}
						<!--可用区-->
					</div>
					<div class="col-sm-2" style="text-align: left">
						<input type="checkbox" class="fox-cloud-checkbox" (click)="selectAllZones()" [(ngModel)]="selectAllZone">
					</div>
					<div class="col-sm-3">
						启动盘						
					</div>
				</div>
				<div class="row tabBody" *ngFor="let plateform of tempVmProdDirPlatformList; let idx=index">
					<div class="col-sm-4 oneChild">
						<p>{{plateform.platformName}}</p>
					</div>
					<div class="col-sm-3 secondChild wyLine-height">
						<div class="row" *ngFor="let zone of plateform.zoneList">
							<div class="col-sm-12">{{zone.zoneName}}</div>
						</div>
					</div>
					<div class="col-sm-2 thirdChild">
						<div class="row row-line-height inputLeft" *ngFor="let zone of plateform.zoneList; let idxx=index">
							<div class="col-sm-12">
								<input type="checkbox" class="fox-cloud-checkbox"  [(ngModel)]="zone.selected" name="zoneSelected"
									(change)="selectZone(idx,idxx)">
							</div>
						</div>
					</div>
					<div class="col-sm-3 secondChild wyLine-height">
						<div class="row" *ngFor="let bootDisk of plateform.zoneList">
							<div class="col-sm-12">{{bootDisk.storageName}}</div>
						</div>						
					</div>
				</div>
			</div>
			<div class="col-sm-2"></div>
		</div>
		<div class="row row-line-height" *ngIf="this.service.productDir.serviceType == '1'">
			<div class="col-sm-2"></div>
			<div class="col-sm-8 border selectPlateForm">
				<div class="row  tabHeader row-line-height">
					<div class="col-sm-4">{{'PROD_MNG.PLATFORM_NAME' | translate}}</div>
					<!--平台名称-->

					<div class="col-sm-3 ">
						{{'COMMON.AVAILABLE_ZONE' | translate}}
						<!--可用区-->

					</div>
					<div class="col-sm-3 ">
						{{'PROD_MNG.STORAGE_BACKEND' | translate}}
					</div>
					<div class="col-sm-2" style="text-align: left">
						<input type="checkbox" class="fox-cloud-checkbox" (click)="selectAllStorages()" [(ngModel)]="selectAllStorage">
					</div>
				</div>
				<div class="row tabBody" *ngFor="let plateform of tempDiskProdDirPlatformList; let idx=index">
					<div class="col-sm-4 oneChild">
						<p>{{plateform.platformName}}</p>
					</div>
					<div class="col-sm-3 secondChild wyLine-height">
						<div class="row" *ngFor="let zone of plateform.zoneList">
							<div class="col-sm-12">{{zone.zoneName}}</div>
						</div>
					</div>
					<div class="col-sm-3 secondChild wyLine-height">
						<div class="row" *ngFor="let storage of plateform.zoneList">
							<div class="col-sm-12"><span style="overflow:hidden">{{storage.storageName}}</span></div>
						</div>
					</div>
					<div class="col-sm-2 thirdChild">
						<div class="row row-line-height inputLeft" *ngFor="let storage of plateform.zoneList; let idxx=index">
							<div class="col-sm-12">
								<input type="checkbox" class="fox-cloud-checkbox" [(ngModel)]="storage.selected" name="storageSelected"
									(click)="selectStorage(idx,idxx)">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-2"></div>
		</div>