@import "../../../../architecture/assets/style/constant.less";
.cloud_host_list {
    .top-table {
        margin-top: 15px;
    }
    .loading-icon {
        width: 10px;
        height: 10px;
        float: left;
        margin-top: 5px;
    }
}
