<div class="page-content-header icon-content-header-operation-center">
    私有云平台计算资源用量分析
</div>
<div class="page-content">
    <div>
        <div class="row row-line-height">
            <div class="col-md-10" >
                <div class="col-md-2 form-control-title">分析类型：</div>
                <div class="col-md-2">
                    <select class="form-control">
                        <option>按内存分析</option>
                        <option>按CPU分析</option>
                        <option>按云主机规格分析</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="col-md-10" >
                <div class="col-md-2 form-control-title">平台：</div>
                <div class="col-md-2">
                    <select class="form-control" [(ngModel)]="selectedPlf" (change)="selectedRegion=defaultRegion">
                        <option [ngValue]="defaultPlf">所有平台</option>
                        <option *ngFor="let plf of plfList" [ngValue]="plf">{{plf.platformName}}</option>
                    </select>
                </div>
                <div class="col-md-2 form-control-title">Region/DC：</div>
                <div class="col-md-2">
                    <select class="form-control" [(ngModel)]="selectedRegion" (change)="selectedZone=defaultZone">
                        <option [ngValue]="defaultRegion">所有Region/DC</option>
                        <option *ngFor="let reg of selectedPlf.region" [ngValue]="reg">{{reg.region}}</option>
                    </select>
                </div>
                <div class="col-md-2 form-control-title">可用区：</div>
                <div class="col-md-2">
                    <select class="form-control" [(ngModel)]="selectedZone">
                        <option [ngValue]="defaultZone">所有可用区</option>
                        <option *ngFor="let z of selectedRegion.zone" [ngValue]="z">{{z.zoneName}}</option>
                    </select>
                </div>     
            </div>
            <div class="col-md-2" >
                <div style="font-size:18px;line-height:34px;letter-spacing:2px;">
                    <input class="fox-cloud-checkbox" type="checkbox" />&nbsp;按可用区显示
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="col-md-10" >
                <div class="col-md-2 form-control-title">云主机状态：</div>
                <div class="col-md-2">
                    <select class="form-control">
                        <option>所有</option>
                        <option>运行</option>
                        <option>关闭</option>
                        <option>挂起</option>
                    </select>
                </div>
                <div class="col-md-2 form-control-title" >时间范围：</div>
                <div class="col-md-2">
                    <select class="form-control">
                        <option>最近3个月</option>
                        <option>最近6个月</option>
                        <option>最近12个月</option>
                        
                    </select>
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="col-md-10" >
                 <div class="col-md-2 form-control-title">主机规格选择：</div>
                 <div class="col-md-2">
                     <select class="form-control">
                        <option>所有规格</option>                     
                    </select>
                 </div>
                <div class="col-md-2 form-control-title">
                    <input class="fox-cloud-checkbox" type="checkbox" />&nbsp;所有规格&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>

    
    <div>
        <button class="fox-cloud-button fox-cloud-button-white pull-right mgr15">导出所有数据</button>
        <button class="fox-cloud-button fox-cloud-button-white pull-right mgr15">导出当前数据</button>
        <button class="fox-cloud-button fox-cloud-button-green pull-right mgr15">重置</button>
        <button class="fox-cloud-button fox-cloud-button-green pull-right mgr15">确认</button>
    </div>
    <div class="clear"></div>
    <div class="mgt15" style="width:100%;border-bottom:solid 1px #00a982;"></div>
    <div class="mgt20 mgb10" style="font-size:18px;font-weight:bold;">基本信息：</div>
    <div class="table-container">
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th>可用区</th>
                    <th>物理CPU总核数</th>
                    <th>总内存</th>
                    <th>CPU超分比</th>
                    <th>可用配额</th>
                    <th>可分配CPU</th>
                    <th>可分配内存</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let basic of basicList">
                    <td>{{basic.zonename}}</td>
                    <td>{{basic.cpus}}</td>
                    <td>{{basic.memory}}</td>
                    <td>{{basic.cpuOversubscription}}</td>
                    <td>{{basic.cpuQurta}}</td>
                    <td>{{basic.cpuCapacity}}</td>
                    <td>{{basic.memoryCapacity}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mgt20 mgb10" style="font-size:18px;font-weight:bold;">可用区1：</div>
    <div class="table-container">
        <table class="table column-title-table"  >
            <thead>
                <tr>
                    <th></th>
                    <th>2016年1月</th>
                    <th>2016年2月</th>
                    <th>2016年3月</th>
                    <th>2016年4月</th>
                    <th>2016年5月</th>
                    <th>2016年6月</th>
                    <th>2016年7月</th>
                    <th>2016年8月</th>
                    <th>2016年9月</th>
                    <th>2016年10月</th>
                    <th>2016年11月</th>
                    <th>2016年12月</th>
                </tr>
            </thead>
            <tbody >
                <tr>
                    <td>云主机总数</td>
                    <td>93%</td>
                    <td>93%</td>
                    <td>130%</td>
                    <td>130%</td>
                    <td>130%</td>
                    <td>150%</td>
                    <td>150%</td>
                    <td>150%</td>
                    <td>175%</td>
                    <td>175%</td>
                    <td>256%</td>
                    <td>256%</td>
                </tr>
                <tr>
                    <td>增长率（环比）</td>
                    <td>0</td>
                    <td>0</td>
                    <td>40</td>
                    <td>40</td>
                    <td>40</td>
                    <td>15</td>
                    <td>15</td>
                    <td>15</td>
                    <td>17</td>
                    <td>17</td>
                    <td>46</td>
                    <td>46</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="panel panel-default" style="margin-top:15px;">
        <div class="panel-heading">
            <h3 class="panel-title">可用区1</h3><!--CPU使用率-->
        </div>
        <div class="panel-body">
            <div style="height:400px" id="mychart"></div>
        </div>
    </div>

</div>

<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}"></fc-notice>
