<div class="page-content-header icon-content-header-operation-center">
    私有云平台存储资源用量分析
</div>

<div class="page-content">
    <div>
        <div class="row row-line-height">
            <div class="col-md-9">
                <div class="col-md-2 form-control-title">云平台：</div>
                <div class="col-md-2">
                    <select class="form-control">
                        <option>所有平台</option>
                    </select>
                </div>
                <div class="col-md-2 form-control-title">Region/DC：</div>
                <div class="col-md-2">
                    <select class="form-control">
                        <option>所有Region/DC</option>
                    </select>
                </div>
                <div class="col-md-2 form-control-title">可用区：</div>
                <div class="col-md-2">
                    <select class="form-control">
                        <option>所有可用区</option>
                        <option>可用区A</option>
                        <option>可用区B</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-10 form-control-title">
                    <input class="fox-cloud-checkbox" type="checkbox" />&nbsp;按可用区显示：
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="col-md-9">
                <div class="col-md-2 form-control-title">云硬盘状态：</div>
                <div class="col-md-2">
                    <select class="form-control">
                        <option>所有</option>
                        <option>挂载</option>
                        <option>未挂载</option>
                    </select>
                </div>
                <div class="col-md-2 form-control-title">云硬盘容量：</div>
                <div class="col-md-2">
                    <select class="form-control">
                        <option>所有</option>
                        <option>0-50G</option>
                        <option>50-100G</option>
                        <option>100-200G</option>
                        <option>200-300G</option>
                        <option>300-500G</option>
                        <option>500G以上</option>
                    </select>
                </div>
                <div class="col-md-2 form-control-title">时间范围：</div>
                <div class="col-md-2">
                    <select class="form-control">
                        <option>最近3个月</option>
                        <option>最近6个月</option>
                        <option>最近12个月</option>
                    </select>
                </div>
            </div>

        </div>
    </div>
    <div>
        <button class="fox-cloud-button fox-cloud-button-white pull-right mgr15">导出所有数据</button>
        <button class="fox-cloud-button fox-cloud-button-white pull-right mgr15">导出当前数据</button>
        <button class="fox-cloud-button fox-cloud-button-green pull-right mgr15">重置</button>
        <button class="fox-cloud-button fox-cloud-button-green pull-right mgr15">确认</button>
    </div>
    <div class="clear"></div>
    <div class="mgt15" style="width:100%;border-bottom:solid 1px #00a982;"></div>
    <div class="mgt20 mgb10" style="font-size:18px;font-weight:bold;">基本信息：</div>
    <div class="row">
        <div class="col-md-6">
            <div class="table-container">
                <table class="table table-container">
                    <thead>
                        <tr>
                            <th>可用区</th>
                            <th>云硬盘-已挂载</th>
                            <th>云硬盘-未挂载</th>
                            <th>可分配</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>可用区</td>
                            <td>50</td>
                            <td>20</td>
                            <td>1000000GB</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1" >
            <div style="border: 2px solid #cfd8e7;height:75px;"></div>
        </div>
    </div>
</div>
