<div class="page-content-header icon-content-header-operation-center">
    {{'TREND_MNG.STORE_RES_TREND_ANALYSIS'|translate}}<!--私有云平台存储资源用量分析-->
</div>

<div class="page-content">
    <div>
        <div class="row row-line-height">
            <div class="col-md-10">
                <div class="col-md-2 query-left-content">{{'COMMON.CLOUD_PLATFORM'|translate}}：</div><!--云平台-->
                <div class="col-md-2">
                    <select class="form-control" [(ngModel)]="selectedPlf" (change)="selectedRegion=defaultRegion; selectedZone=defaultZone;">
                        <option [ngValue]="defaultPlf">{{'ASSIGN_MNG.ALL_PLATFORMS'|translate}}</option><!--所有平台-->
                        <option *ngFor="let plf of plfList" [ngValue]="plf">{{plf.platformName}}</option>
                    </select>
                </div>
                <div class="col-md-2 query-left-content">Region/DC：</div>
                <div class="col-md-2">              
                    <select class="form-control" [(ngModel)]="selectedRegion" (change)="selectedZone=defaultZone; ">
                        <option [ngValue]="defaultRegion">{{'ASSIGN_MNG.ALL_REGIONS'|translate}}</option><!--所有Region/DC-->
                        <option *ngFor="let reg of selectedPlf.region" [ngValue]="reg">{{reg.region}}</option>
                    </select>               
                </div>
                <div class="col-md-2 query-left-content">{{'ASSIGN_MNG.ZONE'|translate}}：</div><!--可用区-->
                <div class="col-md-2">
                    <select class="form-control" [(ngModel)]="selectedZone" >
                        <option [ngValue]="defaultZone">{{'ASSIGN_MNG.ALL_ZONES'|translate}}</option><!--所有可用区-->
                        <option *ngFor="let z of selectedRegion.zone" [ngValue]="z">{{z.zoneName}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2" *ngIf="selectedZone==defaultZone">
                <div style="font-size:18px;line-height:34px;letter-spacing:2px;">
                    <input class="fox-cloud-checkbox" type="checkbox" [(ngModel)]="isSelected"/>&nbsp;{{'TREND_MNG.DISPLAY_BY_ZONE'|translate}}<!--按可用区显示-->
                </div>
            </div>
        </div>
        <div class="row row-line-height">
            <div class="col-md-10">
                <div class="col-md-2 query-left-content">{{'TREND_MNG.DISK_STATUS'|translate}}：</div><!--云硬盘状态-->
                <div class="col-md-2">
                    <select class="form-control" [(ngModel)]="queryOpt.diskStatus">
                        <option *ngFor="let dStatus of service.diskStatusDic | async" [value]="dStatus.value">{{dStatus.displayValue}}</option>                 
                    </select>
                </div>
                <div class="col-md-2 query-left-content">{{'TREND_MNG.DISK_CAPACITY'|translate}}：</div><!--云硬盘容量-->
                <div class="col-md-2">
                    <select class="form-control" [(ngModel)]="queryOpt.diskSize">
                        <option *ngFor="let dSize of service.diskSizeDic | async" [value]="dSize.value">{{dSize.displayValue}}</option>                 
                    </select>
                </div>
                <div class="col-md-2 query-left-content">{{'ASSIGN_MNG.PERIOD'|translate}}：</div><!--时间范围-->
                <div class="col-md-2">
                    <select class="form-control" [(ngModel)]="queryOpt.period">
                        <option *ngFor="let p of service.trendPeridDic | async" [value]="p.value">{{p.displayValue}}</option>
                    </select>
                </div>
            </div>

        </div>
    </div>
    <div>
        <button class="fox-cloud-button fox-cloud-button-white pull-right mgr15">{{'ASSIGN_MNG.EXPORT_ALL_DATA'|translate}}</button><!--导出所有数据-->
        <button class="fox-cloud-button fox-cloud-button-white pull-right mgr15">{{'ASSIGN_MNG.EXPORT_CURRENT_DATA'|translate}}</button><!--导出当前数据-->
        <button class="fox-cloud-button fox-cloud-button-green pull-right mgr15" (click)="reset()">{{'COMMON.RESET'|translate}}</button><!--重置-->
        <button class="fox-cloud-button fox-cloud-button-green pull-right mgr15" (click)="confirm()">{{'COMMON.CONFIRM'|translate}}</button><!--确认-->
    </div>
    <div class="clear"></div>
    <div class="mgt15" style="width:100%;border-bottom:solid 1px #00a982;"></div>
    <div class="mgt20 mgb10 spaced-bold-title" >{{'TREND_MNG.BASIC_INFO'|translate}}：</div><!--基本信息-->
    <div class="row">
        <div class="col-md-6">
            <div class="table-container" style="max-height:256px;overflow-y:scroll;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{{'ASSIGN_MNG.ZONE'|translate}}</th><!--可用区-->
                            <th>{{'TREND_MNG.DISK_ATTACHED'|translate}}</th><!--云硬盘-已挂载-->
                            <th>{{'TREND_MNG.DISK_UNATTACHED'|translate}}</th><!--云硬盘-未挂载-->
                            <th>{{'TREND_MNG.ASSIGNABLE'|translate}}</th><!--可分配-->
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let z of zoneDiskList">
                            <td>{{z.name}}</td>
                            <td>{{z.sizeAttached}}</td>
                            <td>{{z.sizeUnattached}}</td>
                            <td>{{z.available}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    <h3 class="panel-title">{{'COMMON.CLOUD_HARD_DISK'|translate}}</h3><!--云硬盘-->
                </div>
                <div class="panel-body" >
                     <div class="row">
                         <div class="col-md-5 ">
                                <div style="position:relative; height:186px; width: 186px; margin: 0; padding: 0;" >
                                    <div class="circle-mask"></div>
                                    <div class="circle-text">{{general.num}}个</div>
                                        <canvas baseChart
                                        *ngIf="diskCircle.DataSets"
                                        [datasets]="diskCircle.DataSets "
                                        [chartType]="diskCircle.ChartType"
                                        [options]="diskCircle.Options"
                                                [colors]="diskCircle.Colors"
                                                >
                                    </canvas>
                                </div>
                         </div>
                         <div class="col-md-6 col-md-offset-1">
                             <div style="margin-top:20px;margin-left:20px;">
                                <div class="row" style="padding:5px 0;">
                                    <span class="legend circle-legend1" ></span>&nbsp;0-50GB
                                    <span style="margin-left:67px;">{{general.level1}}</span>
                                </div>
                                <div class="row" style="padding:5px 0;">
                                    <span class="legend circle-legend2" ></span>&nbsp;50-100GB
                                    <span style="margin-left:51px;">{{general.level2}}</span>
                                </div>
                                <div class="row" style="padding:5px 0;">
                                    <span class="legend circle-legend3" ></span>&nbsp;100-150GB
                                    <span style="margin-left:44px;">{{general.level3}}</span>
                                </div>
                                <div class="row" style="padding:5px 0;">
                                    <span class="legend circle-legend4" ></span>&nbsp;150-200GB
                                    <span style="margin-left:44px;">{{general.level4}}</span>
                                </div>
                                 <div class="row" style="padding:5px 0;">
                                    <span class="legend circle-legend5" ></span>&nbsp;200GB以上
                                    <span style="margin-left:47px;">{{general.level5}}</span>
                                </div>
                            </div>
                         </div>
                     </div>
                </div>
             </div>
        </div>
    </div>

    <div *ngFor="let zone of barData.zone let i=index" class="panel panel-default" style="margin-top:15px;">
            <div class="panel-heading">
                <h3 class="panel-title">{{zone.name}}</h3><!--可用区名称-->
            </div>
            <div class="panel-body">
                <div style="height:400px" id="{{'chart'+i}}"></div>
            </div>
        </div>
</div>
<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}"></fc-notice>
