<div class="page-content-header icon-content-header-platform-manage">{{ 'PF_MNG2.PF_CLOUD_MNG' | translate}}</div>
<div class="page-content" style="min-height:300px;">
    <div style="padding-bottom: 10px;">
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ 'COMMON.MORE_OPERATION' | translate}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <!--<li><a href="#">修改</a></li>-->
                <li> <a (click)="goDiskMng()" id="goDiskMng" >管理启动盘</a></li>
                <li> <a (click)="goVmSpec()" id="goVmSpec">管理云主机规格</a></li>
                <li><a (click)="remove();" id="remove"> {{ 'COMMON.DELETE' | translate}}</a></li>
                <li><a (click)="enable();" id="enable"> {{ 'COMMON.ENABLE' | translate}}</a></li>
                <li><a (click)="disable();" id="disable"> {{ 'COMMON.DISABLE' | translate}}</a></li>
            </ul>
        </div>
        <!--<button class="pull-right fox-cloud-button-md fox-cloud-button-white" style="line-height:28px ;padding:0 10px;margin-right: 20px"
			(click)='goDiskMng()'>修改配额与配置
        </button>-->
        <button class="fox-cloud-button fox-cloud-button-green" (click)="create();" id="createPlatform">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label">{{ 'PF_MNG2.CREATE_CLOUD_PLATFORM' | translate}}</span>
        </button>
        <div class="dropdown pull-right" style="padding-right : 20px">
            <input type="text" placeholder="{{'USER_CENTER.INPUT_ACC_QUICK_SEARCH' | translate}}" id="username_search" style="height : 35px ; padding : 5px" placeholder="{{'PF_MNG2.INPUT_NAME_SEARCH' | translate}}" [(ngModel)]="keyup" (keyup.enter)="search()" />
        </div>
    </div>
    <div class="table-container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="check-box-col">{{ 'COMMON.CHOOSE' | translate}}</th>
                <th>{{ 'COMMON.NUMBER' | translate}}</th>
                <th>{{ 'USER_CENTER.PLATFORM_NAME' | translate}}</th>
                <th>{{ 'PHY_MNG_POOL.DIGIT_CENTER_OWNER' | translate}}</th>
                <th>{{ 'PHY_MNG_POOL.REGION_OWNER' | translate}}</th>
                <th>{{ 'USER_CENTER.PLATFORM_TYPE' | translate}}</th>
                <th>{{ 'PF_MNG2.ACCESS_PATH' | translate}}</th>
                <th>{{ 'PF_MNG.VERSION_NUM' | translate}}</th>
                <th>{{ 'COMMON.STATUS' | translate}}</th>
                <th>{{ 'PF_MNG2.HEALTH_EXAMINATION' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of platforms; let idx = index;" id="platform_{{item.id}}">
                <td><input class="fox-cloud-radio" type="radio" name="isSelected" check="item.isSelected" (click)="switchSelectIndividual(idx)"/></td>
                <!--<td>123</td>-->
                <td>{{(currPage-1)*pp+idx+1}}</td>
                <td (click)="godetail(item)" style="cursor:pointer" [title]="item.status!='0'?'点击查看平台详情':'点击重置资源并启用'">
                    
                <a disabled>{{item.name}}</a>
                </td>
                <td>{{item.dataCenter}}</td>
                <td>{{item.regionName}}</td>
                <td>
                    {{item.platformType| dict:this.commonService.platformTypeDic | async}}
                </td>
                <td>{{item.uri}}</td>
                <td>
                    <span *ngIf="item.platformType=='0'">{{item.version| dict:this.commonService.openStackVersionDic | async}}</span>
                    <span *ngIf="item.platformType=='2'||item.platformType=='3'">{{item.version| dict:this.commonService.vmWareVersionDic | async}}</span>                    
                </td>
                <td [ngClass]="{'font-green':item.status == '1' ,'font-orange':item.status == '3'}">
                    <!--{{item.status| dict:this.commonService.globalStatus | async}}-->
                    <span [ngSwitch]="item.status"> 
										<template [ngSwitchCase]="0">{{ 'PF_MNG2.INIT' | translate}}</template>
										<template [ngSwitchCase]="1">{{ 'COMMON.ENABLED' | translate}}</template>
										<template [ngSwitchCase]="2">{{ 'PF_MNG2.DISABLED' | translate}}</template>
										<template ngSwitchDefault>Unknown</template>							
							</span>
                    </td>
                <td>
                    <span>{{item.healthFlag}} </span>
                    <!--<button  *ngIf="item.status=='0'" class="fox-cloud-button-md fox-cloud-button-white" (click)="resetInit(item)">重置资源并启用</button>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<fc-pagination #pagination tp={{tp}} (pf)="paging($event)"></fc-pagination>

<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CONFIRM" (of)="nof()"></fc-notice>

<fc-confirm #removeConfirm title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CONFIRM" (of)="removeCof()" ct="HOST_VMWARE_MNG.CANCEL" (cf)="ccf()"></fc-confirm>
<fc-confirm #enableConfirm title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CONFIRM" (of)="enableCof()" ct="HOST_VMWARE_MNG.CANCEL" (cf)="ccf()"></fc-confirm>
<fc-confirm #disableConfirm title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CONFIRM" (of)="disableCof()" ct="HOST_VMWARE_MNG.CANCEL" (cf)="ccf()"></fc-confirm>
