<div class="page-content-header icon-content-header-platform-manage">云平台管理</div>
<div class="page-content">
    <div style="padding-bottom: 10px;">
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                更多操作
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <!--<li><a href="#">修改</a></li>-->
                <li><a (click)="remove();">删除</a></li>
                <li><a (click)="enable();">启用</a></li>
                <li><a (click)="disable();">禁用</a></li>
            </ul>
        </div>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="create();">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label">创建云平台</span>
        </button>
    </div>
    <div class="table-container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="check-box-col">选择</th>
                <th>编号</th>
                <th>云平台名称</th>
                <th>所属数据中心</th>
                <th>所属地域</th>
                <th>云平台类型</th>
                <th>访问地址</th>
                <th>版本</th>
                <th>状态</th>
                <th>健康检查</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of platforms; let idx = index;">
                <td><input class="fox-cloud-radio" type="radio" name="isSelected" check="item.isSelected" (click)="switchSelectIndividual(idx)"/></td>
                <!--<td>123</td>-->
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.dataCenter}}</td>
                <td>{{item.regionId}}</td>
                <td>{{item.platformType}}</td>
                <td>{{item.uri}}</td>
                <td>{{item.version}}</td>
                <td>{{item.status}}</td>
                <td>{{item.healthFlag}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<fc-pagination #pagination tp={{tp}} (pf)="paging($event)"></fc-pagination>

<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="确认" (of)="nof()"></fc-notice>

<fc-confirm #removeConfirm title="{{title}}" msg="{{msg}}" ot="确认" (of)="removeCof()" ct="取消" (cf)="ccf()"></fc-confirm>
<fc-confirm #enableConfirm title="{{title}}" msg="{{msg}}" ot="确认" (of)="enableCof()" ct="取消" (cf)="ccf()"></fc-confirm>
<fc-confirm #disableConfirm title="{{title}}" msg="{{msg}}" ot="确认" (of)="disableCof()" ct="取消" (cf)="ccf()"></fc-confirm>
