<div class="page-content-header icon-content-header-platform-manage">{{"PF_MNG2.CREATE_PLATFORM" | translate}}
    <!--创建平台-->
</div>
<div class="page-content fix-page-content">
    <div >
        <div class="row navigator-progress">
            <div class="col-md-2 active"><span class="mark">1</span><span>{{"PF_MNG2.BASIC_INFO" | translate}}</span></div>
            <div class="col-md-2"><span class="mark">2</span><span>{{"PF_MNG2.RESOURCE_SYNC" | translate}}</span></div>
            <div class="col-md-2"><span class="mark">3</span><span>{{"PF_MNG2.AVAILABLE_ZONE_CONFIGURATION" | translate}}</span></div>
            <div class="col-md-2"><span class="mark">4</span><span>{{"PF_MNG2.STORAGE_CONFIGURATION" | translate}}</span></div>
            <div class="col-md-2"><span class="mark">5</span><span>{{"PF_MNG2.CLOUD_HOST_SPECIFICATIONS" | translate}}</span></div>
            <div class="col-md-2"><span class="mark">6</span><span>{{"PF_MNG2.IMAGE_CONFIGURATION" | translate}}</span></div>
        </div>
        <div class="step-progress">
            <div class="fox-cloud-progress-rectangle progress-striped">
                <div class="progress-bar fox-cloud-progress-bar-rectangle" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 16.66%;">
                </div>
            </div>
        </div>
    </div>
    <!--<div>
        <progress-bar [state]="state" [step]=1></progress-bar>
    </div>-->
    <div class="row">
        <div class="col-md-12">
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-5 form-control-title">
                        <span class="asterisk">*</span> {{"USER_CENTER.PLATFORM_NAME" | translate}}:
                    </div>                    
                    <div class="col-sm-4 form-group has-feedback no-padding" [ngClass]="{'has-error':v.result.name}">
						<input type="text" [(ngModel)]="creStep1Model.name" (ngModelChange)="checkForm('name')" id="platName" name="name"
						 placeholder="{{'PF_MNG2.PLATFORM_NAME_REQUIRED' | translate}}" class="form-control">
						<span *ngIf="v.result.name" class="glyphicon glyphicon-remove form-control-feedback"></span>
						<div *ngIf="v.result.name" class="alert alert-danger" role="alert">{{v.result.name|translate}}</div>
					</div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-5 form-control-title">
                        <span class="asterisk">*</span> {{"USER_CENTER.REGION_WHICH_BELONG_TO" | translate}}:
                    </div>
                    <div class="col-sm-4 no-padding">
                        <select class="form-control" [(ngModel)]="creStep1Model.regionId" id="regionId_{{creStep1Model.regionId}}">
                            <option *ngFor="let item of regions;" [value]="item.id" id="region_{{item.id}}">{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-5 form-control-title">
                        <span class="asterisk">*</span> {{"USER_CENTER.DATA_CENTER_FOR" | translate}}:
                    </div>
                    <!--<div class="col-sm-4 no-padding">
                        <input type="text" class="form-control" [(ngModel)]="creStep1Model.dataCenter" placeholder="{{'PF_MNG2.DATA_CENTER_REQUIRED' | translate}}">
                    </div>-->
                    <div class="col-sm-4 form-group has-feedback no-padding" [ngClass]="{'has-error':v.result.dataCenter}">
						<input type="text" [(ngModel)]="creStep1Model.dataCenter" (ngModelChange)="checkForm('dataCenter')" name="dataCenter" id="dataCenter"
						 placeholder="{{'PF_MNG2.DATA_CENTER_REQUIRED' | translate}}" class="form-control">
						<span *ngIf="v.result.dataCenter" class="glyphicon glyphicon-remove form-control-feedback"></span>
						<div *ngIf="v.result.dataCenter" class="alert alert-danger" role="alert">{{v.result.dataCenter|translate}}</div>
					</div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-5 form-control-title">
                        <span class="asterisk">*</span> {{"USER_CENTER.PLATFORM_TYPE" | translate}}:
                    </div>
                    <div class="col-sm-4 no-padding">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" *ngFor="let item of platformTypes;let idx = index" (click)="choosePlatFormType(item,idx)"
                                [ngClass]="{'btn-active': item.isSelected}" id="platformTypes_{{item.code}}">{{item.displayValue}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-5 form-control-title">
                        <span class="asterisk">*</span> {{"PF_MNG2.SUPPORT_CLOUD_HOST_CHANGES" | translate}}:
                    </div>
                    <div class="col-sm-4 no-padding">
                        <input type="radio" class="fox-cloud-radio" [value]="true" [(ngModel)]="creStep1Model.supportChange" name="supportChange"
                            style="margin-right:10px;" id="supportChange">{{"PF_MNG2.SUPPORT" | translate}}
                        <input type="radio" class="fox-cloud-radio" [value]="false" [(ngModel)]="creStep1Model.supportChange" name="supportChange"
                            style="margin:0 10px 0 20px;" id="unsupportChange">{{"PF_MNG2.NONSUPPORT" | translate}}
                    </div>
                </div>
            </div>
             <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-5 section-title h4" style="text-align:right">
                         {{"PF_MNG2.ENTER_CLOUD_PLATFORM_ACCESS_INFO" | translate}}:
                    </div>                    
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-5 form-control-title">
                        <span class="asterisk">*</span> {{"PF_MNG2.ADDRESS" | translate}}:
                    </div>
                    <div class="col-sm-4 no-padding">
                        <input type="text" class="form-control" [(ngModel)]="creStep1Model.uri" id="uri" placeholder="{{'PF_MNG2.ADDRESS_REQUIRED' | translate}}">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-5 form-control-title">
                        <span class="asterisk">*</span> {{"PF_MNG2.VERSION" | translate}}:
                    </div>
                    <div class="col-sm-4 no-padding">
                        <select class="form-control" [(ngModel)]="creStep1Model.version" id="version">
                            <option *ngFor="let item of platformVersion;" [value]="item.value" id="version_{{item.value}}">{{item.displayValue}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-5 form-control-title">
                        <span class="asterisk">*</span> {{"COMMON.USERNAME" | translate}}:
                    </div>
                    <div class="col-sm-4 no-padding">
                        <input type="text" class="form-control" [(ngModel)]="creStep1Model.userName" id="userName" placeholder="{{'PF_MNG2.USERNAME_REQUIRED' | translate}}">
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-5 form-control-title">
                        <span class="asterisk">*</span> {{"COMMON.PASSWORD" | translate}}:
                    </div>
                    <div class="col-sm-4 no-padding">
                        <input type="password" class="form-control" [(ngModel)]="creStep1Model.passwd" id="passwd" placeholder="{{'PF_MNG2.PASSWORD_REQUIRED' | translate}}">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="text-center mgt30">
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel();" id="cancel">
        <span class="icon-button-label">{{"COMMON.CANCEL" | translate}}</span>
    </button>
    <button class="fox-cloud-button-lg fox-cloud-button-white mgl20" (click)="next();" id="next">
        <span class="icon-button-label">{{"COMMON.NEXT" | translate}}</span>
    </button>
</div>

<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CONFIRM"></fc-notice>


<fc-confirm #confirm title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CONFIRM" (of)="cof()" ct="HOST_VMWARE_MNG.CANCEL"
    (cf)="ccf()"></fc-confirm>
<fc-popup #regionSelect title="{{title}}" ot="NET_MNG_VM_IP_MNG.CREATE" (of)="otcreate()" ct="HOST_VMWARE_MNG.CANCEL" (cf)="ccf()">
    <div class="row row-line-height">
        <div class="form-group">
            <div class="col-sm-5 form-control-title"><span class="asterisk">*</span>Region {{"COMMON.NAME" | translate}}:</div>
            <div class="col-sm-6">
                <select class="form-control" [(ngModel)]="creStep1Model.region" id="po_region">
				<!--<select class="form-control">-->
                    <option *ngFor="let item of platFormRegionList;" [value]="item.id"  id="po_region_{{item.id}}">{{item.id}}</option>
                </select>
            </div>
        </div>
    </div>
</fc-popup>