<div class="page-content-header icon-content-header-platform-manage">云平台管理</div>
<div class="page-content" style="min-height:300px;">
    <div style="padding-bottom: 10px;">
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                更多操作
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <!--<li><a href="#">修改</a></li>-->
                <li><a (click)="remove();">删除</a></li>
                <li><a (click)="enable();">启用</a></li>
                <li><a (click)="disable();">禁用</a></li>
            </ul>
        </div>
        <!--<button class="pull-right fox-cloud-button-md fox-cloud-button-white" style="line-height:28px ;padding:0 10px;margin-right: 20px"
			(click)='goDiskMng()'>管理启动盘
        </button>
        <button class="pull-right fox-cloud-button-md fox-cloud-button-white" style="line-height:28px ;padding:0 10px;margin-right: 20px"
			(click)='goVmSpec()'>管理云主机规格
        </button>
        <button class="pull-right fox-cloud-button-md fox-cloud-button-white" style="line-height:28px ;padding:0 10px;margin-right: 20px"
			(click)='goDiskMng()'>修改配额与配置
        </button>-->
        <button class="fox-cloud-button fox-cloud-button-green" (click)="create();">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label">创建云平台</span>
        </button>
    </div>
    <div class="table-container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="check-box-col">选择</th>
                <th>编号</th>
                <th>云平台名称</th>
                <th>所属数据中心</th>
                <th>所属地域</th>
                <th>云平台类型</th>
                <th>访问地址</th>
                <th>版本</th>
                <th>状态</th>
                <th>健康检查</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of platforms; let idx = index;">
                <td><input class="fox-cloud-radio" type="radio" name="isSelected" check="item.isSelected" (click)="switchSelectIndividual(idx)"/></td>
                <!--<td>123</td>-->
                <td>{{idx+1}}</td>
                <td (click)="godetail(item)" style="cursor:pointer">{{item.name}}</td>
                <td>{{item.dataCenter}}</td>
                <td>{{item.regionName}}</td>
                <td>
                    {{item.platformType| dict:this.commonService.platformTypeDic | async}}
                </td>
                <td>{{item.uri}}</td>
                <td>
                    <span *ngIf="item.platformType=='0'">{{item.version| dict:this.commonService.openStackVersionDic | async}}</span>
                    <span *ngIf="item.platformType=='2'">{{item.version| dict:this.commonService.vmWareVersionDic | async}}</span>
                    
                </td>
                <td [ngClass]="{'font-green':item.status == '1' ,'font-orange':item.status == '3'}">
                    {{item.status| dict:this.commonService.globalStatus | async}}
                    </td>
                <td>{{item.healthFlag}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<fc-pagination #pagination tp={{tp}} (pf)="paging($event)"></fc-pagination>

<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CANCEL" (of)="nof()"></fc-notice>

<fc-confirm #removeConfirm title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CONFIRM" (of)="removeCof()" ct="HOST_VMWARE_MNG.CANCEL" (cf)="ccf()"></fc-confirm>
<fc-confirm #enableConfirm title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CONFIRM" (of)="enableCof()" ct="HOST_VMWARE_MNG.CANCEL" (cf)="ccf()"></fc-confirm>
<fc-confirm #disableConfirm title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CONFIRM" (of)="disableCof()" ct="HOST_VMWARE_MNG.CANCEL" (cf)="ccf()"></fc-confirm>
