<div class="page-content-header icon-content-header-platform-manage">{{"PF_MNG2.CREATE_PLATFORM" | translate}}<!--创建平台--></div>
<div class="page-content fix-page-content">
    <div class="row navigator-progress">
        <div class="col-md-2 active"><span class="mark">1</span><span>{{"PF_MNG2.BASIC_INFO" | translate}}<!--基本信息--></span><span class="icon-tick"></span></div>
        <div class="col-md-2 active"><span class="mark">2</span><span>{{"PF_MNG2.RESOURCE_SYNC" | translate}}<!--资源同步--></span><span class="icon-tick"></span></div>
        <div class="col-md-2 active"><span class="mark">3</span><span>可用区配置</span><span class="icon-tick"></span></div>
        <div class="col-md-2 active"><span class="mark">4</span><span>存储区配置</span><span class="icon-tick"></span></div>
        <div class="col-md-2 active"><span class="mark">5</span><span>云主机规格</span></div>
        <div class="col-md-2"><span class="mark">6</span><span>镜像配置</span></div>
    </div>
    <div class="step-progress">
        <div class="fox-cloud-progress-rectangle progress-striped">
            <div class="progress-bar fox-cloud-progress-bar-rectangle" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 83.3%;">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 table-container no-padding">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>名称</th>
                        <th>显示名称</th>
                        <th>vCPU</th>
                        <th>内存(MB)</th>
                        <th>磁盘大小(GB)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of creStep5Model; let idx = index;">
                        <td>{{idx + 1}}</td>
                        <td>{{item.name}}</td>
                        <td><input type="text" class="form-control" [(ngModel)]="item.displayName"></td>
                        <td>{{item.vcpu}}</td>
                        <td>{{item.memSize}}</td>
                        <td>{{item.diskSize}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<div class="text-center">
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel();">
        <span class="icon-button-label">取消</span>
    </button>
    <button class="fox-cloud-button-lg fox-cloud-button-white mgl20" (click)="previous();">
        <span class="icon-button-label">上一步</span>
    </button>
    <button class="fox-cloud-button-lg fox-cloud-button-white mgl20" (click)="next();">
        <span class="icon-button-label">下一步</span>
    </button>
</div>

<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CONFIRM></fc-notice>

