<div class="page-content-header icon-content-header-platform-manage">新建启动盘</div>
<div class="page-contentrow mgt20">
    <div class="col-md-4">
        <div class="form-group">
            <div class="row  row-line-height">
                <div class="col-md-4 form-control-title">启动盘名称：</div>
                <div class="col-md-8">
                    <input class="form-control" type="text" placeholder="{{'COMMON.NAME' | translate}}" [(ngModel)]="bootDisk.bootStorageName"
                        name="bootStorageName">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="row  row-line-height">
                <div class="col-md-3 form-control-title">可用区：</div>
                <div class="col-md-9">
                    <select class="form-control" [(ngModel)]="selectedZoneId" (ngModelChange)="selectValidZone($event)">
                        <option *ngFor="let zone of validZoneList; let idx=index" [value]="zone.zoneId">{{zone.zoneName}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="row  row-line-height">
                <div class="col-md-3 form-control-title">说明：</div>
                <div class="col-md-9">
                    <input class="form-control" type="text" placeholder="{{'COMMON.COMMENT' | translate}}" [(ngModel)]="bootDisk.bootStorageDescription"
                        name="bootStorageDescription">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row page-contentrow mgt20 twoList">
    <div></div>
    <div class="col-md-5 bord">
        <div class="row grayTab">
            <div class="col-md-4 form-control-title boldTitle">所有存储后端</div>
            <div class="col-md-7">
                <div class="has-feedback">
                    <input type="text" class="form-control" #userName [(ngModel)]="personAcc">
                    <span class="glyphicon glyphicon-search form-control-feedback font-green"></span>
                    <!--<span class="cancel" (click)="clear('userName')"></span>-->
                </div>
                <!--<div class="input-group float-left">
                    <input class="form-control" placeholder="输入云主机信息搜索" type="email">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                </div>-->
            </div>
        </div>
        <div class="row bodyList">
            <div class="col-md-12" *ngFor="let storage of storageList;let idx=index" (click)="selectStorage(storage,idx)" style="cursor:pointer">
                {{storage.storageDisplayName}}
            </div>
            <div style="clear:both"></div> 
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 bord">
        <div class="row grayTab">
            <div class="col-md-4 form-control-title boldTitle">选中的存储后端</div>
            <div class="col-md-7">
                <div class="has-feedback">
                    <input type="text" class="form-control" #userName [(ngModel)]="personAcc">
                    <span class="glyphicon glyphicon-search form-control-feedback font-green"></span>
                    <!--<span class="cancel" (click)="clear('userName')"></span>-->
                </div>
                <!--<div class="input-group float-left">
                    <input class="form-control" placeholder="输入云主机信息搜索" type="email">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                </div>-->
            </div>
        </div>
        <div class="row bodyList">
            <div class="col-md-12 " *ngFor="let storageName of bootDisk.storageName;let idxx=index" (click)="cancelStorage(idx)" style="cursor:pointer">
                {{storageName}}
            </div>
            <div style="clear:both"></div> 
        </div>
    </div>
</div>
<div class="text-center">
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="cancel();" style="margin-right:40px;">
            <span class="icon-button-label">取消</span>
        </button>
    <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="createBootDisk();">
            <span class="icon-button-label">保存</span>
    </button>
</div>