<div class="page-content-header icon-content-header-platform-manage" style="padding-bottom:10px;height:45px;">
    {{'PF_MNG2.MANAGE_CLOUD_PLATFORM_SPEC' | translate}}: <span style="margin-right:20px;">{{platformName}}</span> {{'PF_MNG.CLOUD_HOST_TYPE' | translate}}: <span>{{platformTypeName}}</span>
    <button class="fox-cloud-button-md fox-cloud-button-white" style="float:right" (click)='goList()'>
        <span class="icon-button-label" >{{'PF_MNG2.RETURN_CLOUD_LIST' | translate}}</span>
    </button>
</div>
<div>
    <div class="page-content">
        <div style="padding-bottom: 10px;" *ngIf="platformType=='0'">
            <button class="fox-cloud-button-md fox-cloud-button-white" style="float:right" (click)='updateFlavor()'>
                <span class="icon-button-label" >{{'PF_MNG2.SYNC_CLOUD_SPEC' | translate}}</span>
             </button>
            <div style="clear:both"></div>
        </div>
        <div style="padding-bottom: 10px;" *ngIf="platformType=='2'">
            <button class="fox-cloud-button-md fox-cloud-button-white" (click)='createFlavor()'>
                <span class="icon-button-label" >{{'PF_MNG2.NEW_CLOUD_SPEC' | translate}}</span>
             </button>
            <div style="clear:both"></div>
        </div>
        <div class="table-container">
            <table class="table table-hover" *ngIf="platformType=='0'">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{'COMMON.NAME' | translate}}</th>
                        <th>vCPU</th>
                        <th>{{'COMMON.RAM' | translate}}(MB)</th>
                        <th>{{'PROD_MNG.ROOT_DISK_SIZE' | translate}}(GB)</th>
                        <th>{{'COMMON.STATUS' | translate}}</th>
                        <!--<th>同步结果</th>-->
                        <th>{{'CASE_MNG.UPDATE_TIME' | translate}}</th>
                        <th>{{'COMMON.OPERATION' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let flavor of flavorlist,let idx=index">
                        <td>{{idx+1}}</td>
                        <td>{{flavor.name}}</td>
                        <td>{{flavor.vcpu}}</td>
                        <td>{{flavor.memSize}}</td>
                        <td>{{flavor.diskSize}}</td>
                        <td [ngClass]="{'font-green':flavor.status == '1' ,'font-orange':flavor.status == '3'}">
                            <span [ngSwitch]="flavor.status"> 
										<template [ngSwitchCase]="0">{{'PF_MNG2.INIT' | translate}}</template>
										<template [ngSwitchCase]="1">{{'COMMON.ENABLED' | translate}}</template>
										<template ngSwitchDefault>Unknown</template>							
							</span>
                        </td>
                        <!--<td>使用中</td>-->
                        <td>{{flavor.updateDate}}</td>
                        <td>
                            <button  *ngIf="flavor.status!=1" class="fox-cloud-button-md fox-cloud-button-white" (click)="enableFlavor(flavor)">{{'COMMON.ENABLE' | translate}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover" *ngIf="platformType=='2'">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{'COMMON.NAME' | translate}}</th>
                        <th>vCPU</th>
                        <th>{{'COMMON.RAM' | translate}}(MB)</th>
                        <th>{{'PROD_MNG.ROOT_DISK_SIZE' | translate}}(GB)</th>
                        <th>{{'COMMON.STATUS' | translate}}</th>
                        <!--<th>同步结果</th>-->
                        <th>{{'CASE_MNG.CREATE_TIME' | translate}}</th>
                        <th>{{'COMMON.OPERATION' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let flavor of flavorlist,let idx=index">
                        <td>{{idx+1}}</td>
                        <td>{{flavor.name}}</td>
                        <td>{{flavor.vcpu}}</td>
                        <td>{{flavor.memSize}}</td>
                        <td>{{flavor.diskSize}}</td>
                        <td [ngClass]="{'font-green':flavor.status == '1' ,'font-orange':flavor.status == '3'}">
                            <span [ngSwitch]="flavor.status"> 
										<template [ngSwitchCase]="0">{{'PF_MNG2.INIT' | translate}}</template>
										<template [ngSwitchCase]="1">{{'COMMON.ENABLED' | translate}}</template>
										<template ngSwitchDefault>Unknown</template>							
							</span>
                        </td>
                        <!--<td>使用中</td>-->
                        <td>{{flavor.updateDate}}</td>
                        <td>
                            <button *ngIf="flavor.status=='0'" class="fox-cloud-button-md fox-cloud-button-white" (click)="enableFlavor(flavor)">{{'COMMON.ENABLE' | translate}}</button>
                            <button *ngIf="flavor.status=='0'" class="fox-cloud-button-md fox-cloud-button-white" (click)="deleFlavor(flavor)">{{'COMMON.DELETE' | translate}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <fc-notice #notice title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CONFIRM" (of)="nof()"></fc-notice>
    <fc-confirm #enableConfirm title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CONFIRM" (of)="cofEnable()" ct="HOST_VMWARE_MNG.CANCEL" (cf)="ccf()"></fc-confirm>
    <fc-confirm #deleteConfirm title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CONFIRM" (of)="cofDelete()" ct="HOST_VMWARE_MNG.CANCEL" (cf)="ccf()"></fc-confirm>
    <fc-popup #createSepc title="{{'PF_MNG2.NEW_CLOUD_SPEC' | translate}}" ot="NET_MNG_VM_IP_MNG.CREATE" (of)="otcreate()" ct="HOST_OPENSTACK_MNG.CANCEL" (cf)="ccCreate()">
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">
                        <span class="asterisk">*</span>
                        {{'COMMON.NAME' | translate}}: 
                    </div>
                    <div class="col-sm-4 no-padding" [ngClass]="{'has-error':!flavorObj.nameValid||nameRepeat}">
                        <input type="text" class="form-control" [(ngModel)]="flavorObj.name" (focus)="flavorObj.nameValid=true;nameRepeat=false;" required placeholder="{{'PF_MNG2.SPEC_NAME' | translate}}" (blur)="flavorObj.nameValid=flavorObj.name?true:false;">
                        <span *ngIf="!flavorObj.nameValid||nameRepeat" class="glyphicon glyphicon-remove form-control-feedback"></span>
						<div *ngIf="!flavorObj.nameValid" class="alert alert-danger" role="alert" style="margin-bottom:0">{{'PF_MNG2.SPEC_NAME_ERROR' | translate}}</div>
						<div *ngIf="nameRepeat" class="alert alert-danger" role="alert" style="margin-bottom:0">{{'PF_MNG2.SPEC_NAME_EXISTS' | translate}}</div>
                    </div>
                </div>
            </div> 
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">
                        <span class="asterisk">*</span>
                        CPU：
                    </div>
                    <div class="col-sm-3 no-padding" [ngClass]="{'has-error':!flavorObj.cpuValid}">
                        <input type="number" class="form-control" [(ngModel)]="flavorObj.cpu"  required (focus)="flavorObj.cpuValid=true;" (blur)="flavorObj.cpuValid=flavorObj.cpu?true:false;">
                    </div>
                    <div class="col-sm-4" style="line-height:34px;">
                        {{'COMMON.CORE' | translate}}(vCPU)
                    </div>
                </div>
            </div>
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">
                        <span class="asterisk">*</span>
                        {{'COMMON.RAM' | translate}}: 
                    </div>
                    <div class="col-sm-3 no-padding" [ngClass]="{'has-error':!flavorObj.memValid}">
                        <input type="number" class="form-control" [(ngModel)]="flavorObj.mem" required (focus)="flavorObj.memValid=true;" (blur)="flavorObj.memValid=flavorObj.mem?true:false;">
                    </div>
                    <div class="col-sm-4" style="line-height:34px;">
                        (MB)
                    </div>
                </div>
            </div> 
            <div class="row row-line-height">
                <div class="form-group">
                    <div class="col-sm-4 form-control-title">
                        <span class="asterisk">*</span>
                        {{'PROD_MNG.ROOT_DISK_SIZE' | translate}}:
                    </div>
                    <div class="col-sm-3 no-padding" [ngClass]="{'has-error':!flavorObj.diskValid}">
                        <input type="number" class="form-control" [(ngModel)]="flavorObj.disk" required (focus)="flavorObj.memValid=true;" (blur)="flavorObj.diskValid=flavorObj.disk?true:false;">
                    </div>
                     <div class="col-sm-4 " style="line-height:34px;">
                        (GB)
                    </div>
                </div>
            </div>  
        </fc-popup>
</div>