<div class="page-content-header icon-content-header-platform-manage" style="padding-bottom:10px;height:45px;">
    云平台详细 <span>{{platformName}}</span>
    <button class="fox-cloud-button-md fox-cloud-button-white" style="float:right">
        <span class="icon-button-label" (click)='goList()'>返回云平台概览</span>
    </button>
</div>
<div class="mgt20" style="border-bottom:1px solid #ddd;padding-bottom:5px">
    <button type="button" class="btn btn-default grayTab noBorder" *ngFor="let item of Tabels;let idx = index" (click)="changeTab(item,idx)"
        [ngClass]="{'btn-active': item.active}" style="margin-right:2px;">{{item.name | translate}}</button>
</div>
<div *ngIf="Tabels[0].active">
    <div class="page-content fix-page-content">
        <div class="row" style="padding-top: 30px;">
            <div class="col-md-12">
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">
                            <span class="asterisk">*</span> 云平台名称：
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" [(ngModel)]="platform.name" placeholder="{{'PF_MNG2.PLATFORM_REQUIRED'|translate}}">
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">
                            <span class="asterisk">*</span> 所属地域：
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" [(ngModel)]="platform.regionId">
                            <option *ngFor="let item of regions;" [value]="item.id">{{item.name}}</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">
                            <span class="asterisk">*</span> 所属数据中心：
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" [(ngModel)]="platform.dataCenter" placeholder="{{'PF_MNG2.DATA_CENTER_REQUIRED' | translate}}">
                        </div>
                    </div>
                </div>            

                <div class="row row-line-height">
                    <div class="form-group">

                        <div class="col-sm-4 form-control-title">
                            <span class="asterisk">*</span> 云平台类型：
                        </div>
                        <div class="col-sm-4">
                            <div class="btn-group">
                                <!--<button type="button" class="btn btn-default" disabled *ngFor="let item of platformTypes;let idx = index" (click)="choosePlatFormType(item,idx)"-->
                                <button type="button" class="btn btn-default" *ngFor="let item of platformTypes;let idx = index" 
                                    [ngClass]="{'btn-active': item.isSelected}">{{item.displayValue}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">

                        <div class="col-sm-4 form-control-title">
                            <span class="asterisk">*</span> 地址：
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" disabled [(ngModel)]="platform.uri" placeholder="{{'PF_MNG2.ADDRESS_REQUIRED' | translate}}">
                        </div>
                    </div>
                </div>

                <div class="row row-line-height">
                    <div class="form-group">

                        <div class="col-sm-4 form-control-title">
                            <span class="asterisk">*</span> 版本：
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" [(ngModel)]="platform.version">
                            <option *ngFor="let item of platformVersion;" [value]="item.value">{{item.displayValue}}</option>
                        </select>
                        </div>
                    </div>
                </div>

                <div class="row row-line-height">
                    <div class="form-group">

                        <div class="col-sm-4 form-control-title">
                            <span class="asterisk">*</span> 用户名：
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" disabled [(ngModel)]="platform.username" placeholder="{{'PF_MNG2.USERNAME_REQUIRED' | translate}}">
                        </div>
                    </div>
                </div>

                <div class="row row-line-height">
                    <div class="form-group">

                        <div class="col-sm-4 form-control-title">
                            <span class="asterisk">*</span> 密码：
                        </div>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" disabled [(ngModel)]="platform.password" placeholder="{{'PF_MNG2.PASSWORD_REQUIRED' | translate}}">
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">

                        <div class="col-sm-4 form-control-title">
                            <span class="asterisk">*</span> 是否支持云主机变更：
                        </div>
                        <div class="col-sm-4">
                            <input type="radio" class="fox-cloud-radio" [checked]="platform.support==0" (click)="platform.support=0" style="margin-right:10px;">支持
                            <input type="radio" class="fox-cloud-radio" [checked]="platform.support==1" (click)="platform.support=1" style="margin:0 10px 0 20px;">不支持
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="back();" style="margin-right:40px;">
            <span class="icon-button-label">取消</span>
        </button>
        <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="save()">
            <span class="icon-button-label">保存</span>
         </button>
    </div>
</div>
<div *ngIf="Tabels[1].active">
    <div class="page-content">
        <div style="padding-bottom: 10px;">
             <!--<button class="fox-cloud-button-md fox-cloud-button-white" style="float:right">
                <span class="icon-button-label" (click)='updateResourcePop()'>同步计算资源</span>
             </button>-->
             <button class="fox-cloud-button-md fox-cloud-button-white" style="float:right;margin-right:20px">
                <span class="icon-button-label" (click)='updateZone()'>同步可用区</span>
            </button>
            <div style="clear:both"></div>
        </div>
        <div class="table-container" >
            <table class="table table-hover">
                <thead>
                    <tr>
                        <!--<th >#</th>-->
                        <th class="check-box-col" style="width:6%">Region</th>
                        <th style="width:6%">名称</th>
                        <th style="width:8%">显示名称</th>
                        <th style="width:18%">宿主机</th>
                        <th style="width:8%">物理CPU核数</th>
                        <th style="width:10%">物理内存总数(MB)</th>
                        <th style="width:6%">CPU超分比</th>
                        <th style="width:4%">配额%</th>
                        <th style="width:4%">状态</th>
                        <th style="width:14%">说明</th>
                        <th style="width:16%">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let zone of zoneList;let idx=index">
                        <!--<td>{{idx+1}}</td>-->
                        <td>{{zone.dcOrRegion||'NULL'}}</td>
                        <td>{{zone.name||0}}</td>
                        <td>
                            <span *ngIf="!zone.isEdit">{{zone.displayName||0}}</span>
                            <input *ngIf="zone.isEdit" type="text" [(ngModel)]="zone.displayName" name="displayName">
                        </td>
                        <td>
                            <p *ngFor="let host of zone.hosts">{{host||0}}</p>
                        </td>
                        <td>{{zone.vcpunum}}</td>
                        <td>{{zone.memSize}}</td>                        
                        <td>
                            <span *ngIf="!zone.isEdit">{{zone.exceedPercentage||0}}</span>
                            <input *ngIf="zone.isEdit" type="number" class="form-control" [(ngModel)]="zone.exceedPercentage" style="display: inline;" name="exceedPercentage">
                        </td>
                        <td>
                            <span *ngIf="!zone.isEdit">{{zone.quotaPercentDisplay}}</span>
                            <input *ngIf="zone.isEdit" type="number" class="form-control" [(ngModel)]="zone.quotaPercentDisplay" style="width: 100px; display: inline;" name="quotaPercentDisplay">
                        </td>
                        <td>
                            <!--<span [ngSwitch]="zone.status">
                                <template [ngSwitchCase]="0">未发布</template>
                                <template [ngSwitchCase]="1">已启用</template>
                                <template [ngSwitchCase]="3">已禁用</template>
                                <template ngSwitchDefault>Unknown</template>
                    	    </span>-->
                            {{zone.status|dict:this.commonService.globalStatus|async}}
                        </td>
                        <td >
                            <span *ngIf="!zone.isEdit">{{zone.description}}</span>
                            <input *ngIf="zone.isEdit" type="text" class="form-control" [(ngModel)]="zone.description" style="display: inline;" name="description">
                        </td> 
                        <td>
                            <div *ngIf="!zone.isEdit">
                                <button *ngIf="zone.status!=1" class="fox-cloud-button-md fox-cloud-button-white" (click)="enableZone(zone.id)">启用</button>
                                <button *ngIf="zone.status==1" class="fox-cloud-button-md fox-cloud-button-white" (click)="suspendZone(zone.id)">禁用</button> 
                                <button  class="fox-cloud-button-md fox-cloud-button-white" (click)="editZone(zone,idx)">编辑</button>
                                <button  class="fox-cloud-button-md fox-cloud-button-white" (click)="updateResourcePop(zone.id)">同步计算资源</button>
                            </div>
                            
                            <div *ngIf="zone.isEdit">
                                <button  class="fox-cloud-button-md fox-cloud-button-white" (click)="saveZone(zone,idx)">保存</button> 
                                <button  class="fox-cloud-button-md fox-cloud-button-white" (click)="cancelEdit(zone,idx)">取消</button> 
                            </div> 
                            
                        </td>                                               
                    </tr>
                </tbody>
            </table>            
        </div>       
    </div>
</div>
<div *ngIf="Tabels[2].active">
    <div class="page-content">
        <div style="padding-bottom: 10px;">
             <button class="fox-cloud-button-md fox-cloud-button-white" style="float:right">
                <span class="icon-button-label" (click)='updateStorageListPop()'>同步存储后端</span>
             </button>             
            <div style="clear:both"></div>
        </div>
        <div class="table-container"  *ngIf="platformType==0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <!--<th>#</th>                        -->
                        <th>名称</th>
                        <th>显示名称</th>
                        <th>存储类型</th>
                        <th>总容量(GB)</th>
                        <th>副本数</th>
                        <th style="width:6%">配额%</th>
                        <th>状态</th>
                        <th>说明</th>
                        <th style="width:15%">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let storage of storageList;let idx=index">
                        <!--<td>1</td>-->
                        <td>{{storage.name}}</td>
                        <td>
                            <span *ngIf="!storage.isEdit">{{storage.displayName||'NULL'}}</span>
                            <input *ngIf="storage.isEdit" type="text" class="form-control" [(ngModel)]="storage.displayName">

                        </td>
                        <td>{{storage.typeDisplayName}}</td>
                        <td>{{storage.maximum||0}}</td>
                        <td>
                            <span *ngIf="!storage.isEdit">{{storage.replica||0}}</span>
                            <input *ngIf="storage.isEdit" type="number" class="form-control" [(ngModel)]="storage.replica" style="width: 100px; display: inline;">
                        </td>
                        <td>
                            <span *ngIf="!storage.isEdit">{{storage.quotaPercentDisplay||0}}</span>
                            <input *ngIf="storage.isEdit" type="number" class="form-control" [(ngModel)]="storage.quotaPercentDisplay" style=" display: inline;">
                        </td>
                        <td>
                            {{storage.status|dict:this.commonService.globalStatus|async}}
                        </td>
                        <td >
                            <span *ngIf="!storage.isEdit">{{storage.description||'NULL'}}</span>
                            <input *ngIf="storage.isEdit" type="text" class="form-control" [(ngModel)]="storage.description" style=" display: inline;" >
                        </td>
                        <td>
                            <div *ngIf="!storage.isEdit">
                                <button *ngIf="storage.status!=1" class="fox-cloud-button-md fox-cloud-button-white" (click)="enableStorage(storage.id)">启用</button>
                                <button *ngIf="storage.status==1" class="fox-cloud-button-md fox-cloud-button-white" (click)="suspendStorage(storage.id)">禁用</button> 
                                <button  class="fox-cloud-button-md fox-cloud-button-white" (click)="editStorage(storage,idx)">编辑</button>
                                <button  class="fox-cloud-button-md fox-cloud-button-white" (click)="updateStorage(storage.id)">同步计算资源</button>
                            </div>                            
                            <div *ngIf="storage.isEdit">
                                <button  class="fox-cloud-button-md fox-cloud-button-white" (click)="saveStorage(storage,idx)">保存</button> 
                                <button  class="fox-cloud-button-md fox-cloud-button-white" (click)="cancelEditStorage(storage,idx)">取消</button> 
                            </div>                            
                        </td> 
                    </tr>                   
                    
                </tbody>
            </table>
        </div>
        <div class="table-container"  *ngIf="platformType==2">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>                        
                        <th>名称</th>
                        <th>显示名称</th>
                        <th>存储类型</th>
                        <th>总容量(GB)</th>
                        <th>副本数</th>
                        <th>配额%</th>
                        <th>状态</th>
                        <th>说明</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>cinder1</td>
                        <td><input type="text" value='高速I/O-1'></td>
                        <td>vSAN</td>
                        <td>12800</td>
                        <td>
                            <input type="number" class="form-control" [(ngModel)]="item" style="width: 100px; display: inline;" value="2">
                            <!--<count-bar [default]=0 [step]=100 [max]=200000 [min]=0 [disabled]=false [value]=0 (output)="outputValue($event,idx)"></count-bar>-->
                        </td>
                        <td>
                            <input type="number" class="form-control" [(ngModel)]="item" style="display: inline;" value="85">
                        </td>
                        <td>已启用</td>
                        <td >
                            <input type="text" class="form-control" [(ngModel)]="item" style="display: inline;" value="高速I/O存储后端">
                        </td>                        
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>cinder1</td>
                        <td><input type="text" value='高速I/O-1'></td>
                        <td>vSAN</td>
                        <td>12800</td>
                        <td>
                            <input type="number" class="form-control" [(ngModel)]="item" style="width: 100px; display: inline;" value="2">
                            <!--<count-bar [default]=0 [step]=100 [max]=200000 [min]=0 [disabled]=false [value]=0 (output)="outputValue($event,idx)"></count-bar>-->
                        </td>
                        <td>
                            <input type="number" class="form-control" [(ngModel)]="item" style="display: inline;" value="85">
                        </td>
                        <td>已启用</td>
                        <td >
                            <input type="text" class="form-control" [(ngModel)]="item" style="display: inline;" value="高速I/O存储后端">
                        </td>                        
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>cinder1</td>
                        <td><input type="text" value='高速I/O-1'></td>
                        <td>vSAN</td>
                        <td>12800</td>
                        <td>
                            <input type="number" class="form-control" [(ngModel)]="item" style="width: 100px; display: inline;" value="2">
                            <!--<count-bar [default]=0 [step]=100 [max]=200000 [min]=0 [disabled]=false [value]=0 (output)="outputValue($event,idx)"></count-bar>-->
                        </td>
                        <td>
                            <input type="number" class="form-control" [(ngModel)]="item" style="display: inline;" value="85">
                        </td>
                        <td>已启用</td>
                        <td >
                            <input type="text" class="form-control" [(ngModel)]="item" style="display: inline;" value="高速I/O存储后端">
                        </td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CANCEL"></fc-notice>

<fc-confirm #confirm title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CANCEL" (of)="cof()" ct="HOST_VMWARE_MNG.CANCEL" (cf)="ccf()"></fc-confirm>
<fc-popup #updateZonePop title="{{title}}" ot="NET_MNG_OPENSTACK.ADD" (of)="otUpdateZone()" ct="HOST_VMWARE_MNG.CANCEL" (cf)="ccf()">
	<div class="row row-line-height">
		<div class="form-group">
			<div class="col-sm-5 form-control-title"><span class="asterisk">*</span>同步可用区：</div>
			<div class="col-sm-6">
                     待开发。。。   
			</div>
		</div>
	</div>
</fc-popup>
<fc-popup #updateZoneResourcePop title="{{title}}" ot="NET_MNG_OPENSTACK.UPDATE" (of)="otUpdateResource()" ct="HOST_VMWARE_MNG.CANCEL" (cf)="ccf()">
	<div class="row row-line-height">
		<div class="form-group">
			<div class="col-sm-5 form-control-title"><span class="asterisk">*</span>同步计算资源：</div>
			<div class="col-sm-6">
                     待开发。。。   
			</div>
		</div>
	</div>
</fc-popup>

<fc-popup ##updateStoragePop title="{{title}}" ot="NET_MNG_OPENSTACK.ADD" (of)="otUpdateStorageList()" ct="HOST_VMWARE_MNG.CANCEL" (cf)="ccf()">
	<div class="row row-line-height">
		<div class="form-group">
			<div class="col-sm-5 form-control-title"><span class="asterisk">*</span>同步存储后端：</div>
			<div class="col-sm-6">
                     待开发。。。   
			</div>
		</div>
	</div>
</fc-popup>

<fc-popup #updateStorageResourcePop title="{{title}}" ot="NET_MNG_OPENSTACK.UPDATE" (of)="otUpdateStorage()" ct="HOST_VMWARE_MNG.CANCEL" (cf)="ccf()">
	<div class="row row-line-height">
		<div class="form-group">
			<div class="col-sm-5 form-control-title"><span class="asterisk">*</span>同步计算资源：</div>
			<div class="col-sm-6">
                     待开发。。。   
			</div>
		</div>
	</div>
</fc-popup>