<div class="page-content-header icon-content-header-platform-manage" style="padding-bottom:10px;height:45px;">
    {{ 'PF_MNG2.CLOUD_PLATFORM_DETAIL' | translate}} <span>: {{platformName}}</span>
    <button class="fox-cloud-button-md fox-cloud-button-white" style="float:right">
        <span class="icon-button-label" (click)='goList()'>{{'PF_MNG2.RETURN_CLOUD_PLAT_OVERVIEW' | translate}}</span>
    </button>
</div>
<div class="mgt20" style="border-bottom:1px solid #ddd;padding-bottom:5px">
    <button type="button" class="btn btn-default grayTab noBorder" *ngFor="let item of Tabels;let idx = index" (click)="changeTab(item,idx)"
        [ngClass]="{'btn-active': item.active}" style="margin-right:2px;">{{item.name | translate}}</button>
</div>
<div *ngIf="Tabels[0].active">
    <div class="page-content fix-page-content">
        <div class="row" style="padding-top: 30px;">
            <div class="col-md-12">
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">
                            <span class="asterisk">*</span>{{ 'USER_CENTER.PLATFORM_NAME' | translate }}: 
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" [(ngModel)]="platform.name" placeholder="{{'PF_MNG2.PLATFORM_REQUIRED'|translate}}">
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">
                            <span class="asterisk">*</span> {{'USER_CENTER.REGION_WHICH_BELONG_TO' | translate}}:
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" [(ngModel)]="platform.regionId">
                            <option *ngFor="let item of regions;" [value]="item.id">{{item.name}}</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">
                            <span class="asterisk">*</span> {{'CAPACITY_MNG.DATA_CENTER_BELONG_TO' | translate}}:
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" [(ngModel)]="platform.dataCenter" placeholder="{{'PF_MNG2.DATA_CENTER_REQUIRED' | translate}}">
                        </div>
                    </div>
                </div>

                <div class="row row-line-height">
                    <div class="form-group">

                        <div class="col-sm-4 form-control-title">
                            <span class="asterisk">*</span> {{'USER_CENTER.PLATFORM_TYPE' | translate}}:
                        </div>
                        <div class="col-sm-4">
                            <div class="btn-group">
                                <!--<button type="button" class="btn btn-default" disabled *ngFor="let item of platformTypes;let idx = index" (click)="choosePlatFormType(item,idx)"-->
                                <button type="button" class="btn btn-default" *ngFor="let item of platformTypes;let idx = index" [ngClass]="{'btn-active': item.isSelected}">{{item.displayValue}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">

                        <div class="col-sm-4 form-control-title">
                            <span class="asterisk">*</span> {{'COMMON.PATH' | translate}}:
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" disabled [(ngModel)]="platform.uri" placeholder="{{'PF_MNG2.ADDRESS_REQUIRED' | translate}}">
                        </div>
                    </div>
                </div>

                <div class="row row-line-height">
                    <div class="form-group">

                        <div class="col-sm-4 form-control-title">
                            <span class="asterisk">*</span> {{'PF_MNG2.VERSION' | translate}}:
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" [(ngModel)]="platform.version">
                            <option *ngFor="let item of platformVersion;" [value]="item.value">{{item.displayValue}}</option>
                        </select>
                        </div>
                    </div>
                </div>

                <div class="row row-line-height">
                    <div class="form-group">

                        <div class="col-sm-4 form-control-title">
                            <span class="asterisk">*</span> {{'COMMON.USERNAME' | translate}}:
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" disabled [(ngModel)]="platform.username" placeholder="{{'PF_MNG2.USERNAME_REQUIRED' | translate}}">
                        </div>
                    </div>
                </div>

                <div class="row row-line-height">
                    <div class="form-group">

                        <div class="col-sm-4 form-control-title">
                            <span class="asterisk">*</span> {{'COMMON.PASSWORD' | translate}}:
                        </div>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" disabled [(ngModel)]="platform.password" placeholder="{{'PF_MNG2.PASSWORD_REQUIRED' | translate}}">
                        </div>
                    </div>
                </div>
                <div class="row row-line-height">
                    <div class="form-group">
                        <div class="col-sm-4 form-control-title">
                            <span class="asterisk">*</span> {{'PF_MNG2.SUPPORT_CLOUD_HOST_CHANGES' | translate}}:
                        </div>
                        <div class="col-sm-4">
                            <input type="radio" class="fox-cloud-radio" [value]="1" [(ngModel)]="platform.support" name="support" style="margin-right:10px;">{{'PF_MNG2.SUPPORT' | translate}}
                            <input type="radio" class="fox-cloud-radio" [value]="0" [(ngModel)]="platform.support" name="support" style="margin:0 10px 0 20px;">{{'PF_MNG2.NONSUPPORT' | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="back();" style="margin-right:40px;">
            <span class="icon-button-label">{{'COMMON.CANCEL' | translate}}</span>
        </button>
        <button class="fox-cloud-button-lg fox-cloud-button-white" (click)="save()">
            <span class="icon-button-label">{{'COMMON.SAVE' | translate}}</span>
         </button>
    </div>
</div>
<div *ngIf="Tabels[1].active">
    <div class="page-content">
        <div style="padding-bottom: 10px;">
            <!--<button class="fox-cloud-button-md fox-cloud-button-white" style="float:right">
                <span class="icon-button-label" (click)='updateResourcePop()'>同步计算资源</span>
             </button>-->
            <button class="fox-cloud-button-md fox-cloud-button-white" style="float:right;margin-right:20px">
                <span class="icon-button-label" (click)='updateZone()'>{{'PF_MNG2.SYNC_AVAILABLE_ZONE' | translate}}</span>
            </button>
            <div style="clear:both"></div>
        </div>
        <div class="table-container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <!--<th >#</th>-->
                        <th class="check-box-col" style="width:6%">DC/Region</th>
                        <th style="width:6%">{{'PF_MNG2.AVAILABLE_ZONE_NAME' | translate}}</th>
                        <th style="width:8%">{{'CAPACITY_MNG.DISPLAY_NAME' | translate}}</th>
                        <th style="width:18%">{{'PF_MNG2.HOST' | translate}}</th>
                        <th style="width:8%">{{'CAPACITY_MNG.PHYSICAL_CPU_CORES' | translate}}</th>
                        <th style="width:10%">{{'PF_MNG2.TOTAL_MEMORY' | translate}}(MB)</th>
                        <th style="width:6%">{{'CAPACITY_MNG.CPU_EXCEEDING_RATIO' | translate}}</th>
                        <th style="width:4%">{{'COMMON.QUOTA' | translate}}%</th>
                        <th style="width:4%">{{'COMMON.STATUS' | translate}}</th>
                        <th style="width:14%">{{'COMMON.COMMENT' | translate}}</th>
                        <th style="width:16%">{{'COMMON.OPERATION' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let zone of zoneList;let idx=index">
                        <!--<td>{{idx+1}}</td>-->
                        <td>
                            <p *ngFor="let dcOrRegion of zone.dcOrRegion" style="padding:0;margin-bottom: 0">{{dcOrRegion}}</p>
                            <!--{{zone.dcOrRegion||'NULL'}}-->
                        </td>
                        <td>{{zone.name||'NULL'}}</td>
                        <td>
                            <span *ngIf="!zone.isEdit">{{zone.displayName||'NULL'}}</span>
                            <input *ngIf="zone.isEdit" type="text" [(ngModel)]="zone.displayName" name="displayName">
                        </td>
                        <td>
                            <p *ngFor="let host of zone.hosts">{{host||0}}</p>
                        </td>
                        <td>{{zone.vcpunum}}</td>
                        <td>{{zone.memSize}}</td>
                        <td>
                            <span *ngIf="!zone.isEdit">{{zone.exceedPercentage||0}}</span>
                            <input *ngIf="zone.isEdit" type="number" class="form-control" min="0" max="10" [(ngModel)]="zone.exceedPercentage" style="display: inline;"
                                name="exceedPercentage">
                        </td>
                        <td>
                            <span *ngIf="!zone.isEdit">{{zone.quotaPercentDisplay}}</span>
                            <input *ngIf="zone.isEdit" type="number" class="form-control" min="0" max="100" [(ngModel)]="zone.quotaPercentDisplay" style="width: 100px; display: inline;"
                                name="quotaPercentDisplay">
                        </td>
                        <td [ngClass]="{'font-green':zone.status == '1' ,'font-orange':zone.status == '3'}">
                            <span [ngSwitch]="zone.status">
                                <template [ngSwitchCase]="0">未启用</template>
                                <template [ngSwitchCase]="1">已启用</template>
                                <template [ngSwitchCase]="2">已禁用</template>
                                <template ngSwitchDefault>Unknown</template>
                    	    </span>
                            <!--{{zone.status|dict:this.commonService.globalStatus|async}}-->
                        </td>
                        <td>
                            <span *ngIf="!zone.isEdit">{{zone.description}}</span>
                            <input *ngIf="zone.isEdit" type="text" class="form-control" [(ngModel)]="zone.description" style="display: inline;" name="description">
                        </td>
                        <td>
                            <div *ngIf="!zone.isEdit">
                                <button *ngIf="zone.status!=1" class="fox-cloud-button-md fox-cloud-button-white" (click)="enableZone(zone)">{{'COMMON.ENABLE' | translate}}</button>
                                <button *ngIf="zone.status==1" class="fox-cloud-button-md fox-cloud-button-white" (click)="suspendZone(zone)">{{'COMMON.DISABLE' | translate}}</button>
                                <button class="fox-cloud-button-md fox-cloud-button-white" (click)="editZone(zone,idx)">{{'COMMON.EDIT' | translate}}</button>
                                <button class="fox-cloud-button-md fox-cloud-button-white" (click)="updateHostPop(zone.id)">{{'PF_MNG2.SYNC_HOST' | translate}}</button>
                            </div>

                            <div *ngIf="zone.isEdit">
                                <button class="fox-cloud-button-md fox-cloud-button-white" (click)="saveZone(zone,idx)">{{'COMMON.SAVE' | translate}}</button>
                                <button class="fox-cloud-button-md fox-cloud-button-white" (click)="cancelEdit(zone,idx)">{{'COMMON.CANCEL' | translate}}</button>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <zone-sync #zoneSync [zoneList]="updateZoneList" (complete)=getZoneList()> </zone-sync>
    <host-sync #hostSync [zone]="hostList" (complete)=getZoneList()> </host-sync>
    <fc-confirm #enableZoneConfirm title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CONFIRM" (of)="enableZoneCof()" ct="HOST_VMWARE_MNG.CANCEL"
    (cf)="ccf()"></fc-confirm>
<fc-confirm #deleteZoneConfirm title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CONFIRM" (of)="deleteZoneCof()" ct="HOST_VMWARE_MNG.CANCEL"
    (cf)="ccf()"></fc-confirm>
<fc-confirm #suspendZoneConfirm title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CONFIRM" (of)="suspendZoneCof()" ct="HOST_VMWARE_MNG.CANCEL"
    (cf)="ccf()"></fc-confirm>
</div>
<div *ngIf="Tabels[2].active">
    <div class="page-content">
        <div style="padding-bottom: 10px;">
            <div style="font-size: 16px;padding-left: 0;float:left">
                <span style="line-height: 34px;">后端存储( Backends )信息 :</span>
            </div>
            <button class="fox-cloud-button-md fox-cloud-button-white" style="float:right">
                <span class="icon-button-label" (click)='updateStorageListPop()'>{{'PF_MNG2.SYNC_STORAGE_BACKEND' | translate}}</span>
             </button>
            <div style="clear:both"></div>
        </div>
        
        <div class="table-container" *ngIf="platformType==0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <!--<th>#</th>                        -->
                        <th>{{'COMMON.NAME' | translate}}</th>
                        <th>{{'CAPACITY_MNG.DISPLAY_NAME' | translate}}</th>
                        <th>{{'CAPACITY_MNG.STORAGE_TYPE' | translate}}</th>
                        <th>{{'CAPACITY_MNG.TOTAL_CAPACITY' | translate}}</th>
                        <th>{{'CAPACITY_MNG.COPIES' | translate}}</th>
                        <th style="width:6%">{{'COMMON.QUOTA' | translate}}%</th>
                        <th>{{'COMMON.STATUS' | translate}}</th>
                        <th>{{'COMMON.COMMENT' | translate}}</th>
                        <th style="width:15%">{{'COMMON.OPERATION' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let storage of storageList;let idx=index">
                        <!--<td>1</td>-->
                        <td>{{storage.name}}</td>
                        <td>
                            <span *ngIf="!storage.isEdit">{{storage.displayName||'NULL'}}</span>
                            <input *ngIf="storage.isEdit" type="text" class="form-control" [(ngModel)]="storage.displayName">
                        </td>
                        <td>{{storage.typeDisplayName}}</td>
                        <td>{{storage.maximum||0}}</td>
                        <td>
                            <span *ngIf="!storage.isEdit">{{storage.replica||0}}</span>
                            <input *ngIf="storage.isEdit" type="number" class="form-control" min="0" max="10" [(ngModel)]="storage.replica" style="width: 100px; display: inline;">
                        </td>
                        <td>
                            <span *ngIf="!storage.isEdit">{{storage.quotaPercentDisplay||0}}</span>
                            <input *ngIf="storage.isEdit" type="number" class="form-control" min="0" max="100" [(ngModel)]="storage.quotaPercentDisplay" style="width: 100px; display: inline;">
                        </td>
                        <td [ngClass]="{'font-green':zone?.status == '1' ,'font-orange':zone?.status == '3'}">
                            <span [ngSwitch]="storage.status">
                                <template [ngSwitchCase]="0">未启用</template>
                                <template [ngSwitchCase]="1">已启用</template>
                                <template [ngSwitchCase]="2">已禁用</template>
                                <template ngSwitchDefault>Unknown</template>
                    	    </span>
                            <!--{{storage.status|dict:this.commonService.globalStatus|async}}-->
                        </td>
                        <td>
                            <span *ngIf="!storage.isEdit">{{storage.description||'NULL'}}</span>
                            <input *ngIf="storage.isEdit" type="text" class="form-control" [(ngModel)]="storage.description" style=" display: inline;">
                        </td>
                        <td>
                            <div *ngIf="!storage.isEdit">
                                <button *ngIf="storage.status!=1" class="fox-cloud-button-md fox-cloud-button-white" (click)="enableStorage(storage)">{{'COMMON.ENABLE' | translate}}</button>
                                <button *ngIf="storage.status==1" class="fox-cloud-button-md fox-cloud-button-white" (click)="suspendStorage(storage)">{{'COMMON.DISABLE' | translate}}</button>
                                <button class="fox-cloud-button-md fox-cloud-button-white" (click)="editStorage(storage,idx)">{{'COMMON.EDIT' | translate}}</button>
                                <button class="fox-cloud-button-md fox-cloud-button-white" (click)="updateStorage(storage.id)">{{'PF_MNG2.SYNC_STORAGE_SPACE' | translate}}</button>
                            </div>
                            <div *ngIf="storage.isEdit">
                                <button class="fox-cloud-button-md fox-cloud-button-white" (click)="saveStorage(storage,idx)">{{'COMMON.SAVE' | translate}}</button>
                                <button class="fox-cloud-button-md fox-cloud-button-white" (click)="cancelEditStorage(storage,idx)">{{'COMMON.CANCEL' | translate}}</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mgt30" style="padding-bottom: 10px;" *ngIf="platformType=='0'">
            <div  style="font-size: 16px;padding-left: 0;float:left" >
                <span style="line-height: 34px;">卷类型( Volume Type )信息 :</span>
            </div>
            <button class="fox-cloud-button-md fox-cloud-button-white" style="float:right">
                <span class="icon-button-label" (click)='updateVolumetypeListPop()'>同步存储类型</span>
             </button>
            <div style="clear:both"></div>
        </div>
        
        <div class="table-container no-padding" *ngIf="platformType=='0'">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{'COMMON.NAME' | translate}}</th>
                        <th>{{'CAPACITY_MNG.DISPLAY_NAME' | translate}}</th>
                        <th>Volume_backend_name</th>
                        <th>{{'COMMON.STATUS' | translate}}</th>
                        <th>{{'COMMON.COMMENT' | translate}}</th>
                        <th style="width:20%">{{'COMMON.OPERATION' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let volumeType of volumeTypeList; let idx = index;">
                        <td>{{idx + 1}}</td>
                        <td>{{volumeType.name}}</td>
                        <td>
                            <span *ngIf="!volumeType.isEdit">{{volumeType.displayName||'NULL'}}</span>
                            <input *ngIf="volumeType.isEdit" class="form-control"  [(ngModel)]="volumeType.displayName" style="display: inline;">
                        </td>
                        <td>{{volumeType.volumeBackendName}}</td>
                        <td>
                            <span [ngSwitch]="volumeType.status">
                                <template [ngSwitchCase]="0">初始化</template>
                                <template [ngSwitchCase]="1">已启用</template>
                                <template [ngSwitchCase]="2">已禁用</template>
                                <template ngSwitchDefault>Unknown</template>
                            </span>
                        </td>
                        <td>
                            <span *ngIf="!volumeType.isEdit">{{volumeType.description||'NULL'}}</span>                            
                            <input *ngIf="volumeType.isEdit" class="form-control" [(ngModel)]="volumeType.description" style="display: inline;">
                        </td>
                        <td>
                            <div *ngIf="!volumeType.isEdit">
                                <button *ngIf="volumeType.status!=1" class="fox-cloud-button-md fox-cloud-button-white" (click)="enableVolumeType(volumeType.id)">{{'COMMON.ENABLE' | translate}}</button>
                                <button *ngIf="volumeType.status==1" class="fox-cloud-button-md fox-cloud-button-white" (click)="suspendVolumeType(volumeType.id)">{{'COMMON.DISABLE' | translate}}</button>
                                <button class="fox-cloud-button-md fox-cloud-button-white" (click)="editVolumeType(volumeType,idx)">{{'COMMON.EDIT' | translate}}</button>
                            </div>
                            <div *ngIf="volumeType.isEdit">
                                <button class="fox-cloud-button-md fox-cloud-button-white" (click)="saveVolumeType(volumeType,idx)">{{'COMMON.SAVE' | translate}}</button>
                                <button class="fox-cloud-button-md fox-cloud-button-white" (click)="cancelEditVolumeType(volumeType,idx)">{{'COMMON.CANCEL' | translate}}</button>
                            </div>
                        </td>                        
                    </tr>
                </tbody>
            </table>
            
        </div>
        <div class="table-container" *ngIf="platformType==2">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{'COMMON.AVAILABLE_ZONE' | translate}}</th>
                        <th>{{'COMMON.NAME' | translate}}</th>
                        <th>{{'CAPACITY_MNG.DISPLAY_NAME' | translate}}</th>
                        <th>{{'CAPACITY_MNG.STORAGE_TYPE' | translate}}</th>
                        <th>{{'CAPACITY_MNG.TOTAL_CAPACITY' | translate}}</th>
                        <th>{{'CAPACITY_MNG.COPIES' | translate}}</th>
                        <th style="width:6%">{{'COMMON.QUOTA' | translate}}%</th>
                        <th>{{'COMMON.STATUS' | translate}}</th>
                        <th>{{'COMMON.COMMENT' | translate}}</th>
                        <th style="width:15%">{{'COMMON.OPERATION' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let storage of storageList;let idx=index">
                        <!--<td>1</td>-->
                        <td>{{storage.displayName}}</td>
                        <td>{{storage.name}}</td>
                        <td>
                            <span *ngIf="!storage.isEdit">{{storage.displayName||'NULL'}}</span>
                            <input *ngIf="storage.isEdit" type="text" class="form-control" [(ngModel)]="storage.displayName">

                        </td>
                        <td>{{storage.typeDisplayName}}</td>
                        <td>{{storage.maximum||0}}</td>
                        <td>
                            <span *ngIf="!storage.isEdit">{{storage.replica||0}}</span>
                            <input *ngIf="storage.isEdit" type="number" class="form-control" min="0" max="10" [(ngModel)]="storage.replica" style="width: 100px; display: inline;"
                                (blur)="keepSame(storage)">
                        </td>
                        <td>
                            <span *ngIf="!storage.isEdit">{{storage.quotaPercentDisplay||0}}</span>
                            <input *ngIf="storage.isEdit" [class.border-error]="!storage.valid" type="number" min="0" max="100" class="form-control" [(ngModel)]="storage.quotaPercentDisplay"
                                style="width: 100px; display: inline;" (blur)="keepSame(storage)">
                        </td>
                        <td [ngClass]="{'font-green':storage.status == '1' ,'font-orange':storage.status == '3'}">
                            <span [ngSwitch]="storage.status">
                                <template [ngSwitchCase]="0">未启用</template>
                                <template [ngSwitchCase]="1">已启用</template>
                                <template [ngSwitchCase]="3">已禁用</template>
                                <template ngSwitchDefault>Unknown</template>
                    	    </span>
                            <!--{{storage.status|dict:this.commonService.globalStatus | async}}-->
                        </td>
                        <td>
                            <span *ngIf="!storage.isEdit">{{storage.description||'NULL'}}</span>
                            <input *ngIf="storage.isEdit" type="text" class="form-control" [(ngModel)]="storage.description" style=" display: inline;">
                        </td>
                        <td>
                            <div *ngIf="!storage.isEdit">
                                <button *ngIf="storage.status!=1" class="fox-cloud-button-md fox-cloud-button-white" (click)="enableStorage(storage.id)">{{'COMMON.ENABLE' | translate}}</button>
                                <button *ngIf="storage.status==1" class="fox-cloud-button-md fox-cloud-button-white" (click)="suspendStorage(storage.id)">{{'COMMON.DISABLE' | translate}}</button>
                                <button class="fox-cloud-button-md fox-cloud-button-white" (click)="editStorage(storage,idx)">{{'COMMON.EDIT' | translate}}</button>
                                <button class="fox-cloud-button-md fox-cloud-button-white" (click)="updateStorage(storage.id)">{{'PF_MNG2.SYNC_STORAGE_SPACE' | translate}}</button>
                            </div>
                            <div *ngIf="storage.isEdit">
                                <button class="fox-cloud-button-md fox-cloud-button-white" (click)="saveStorage(storage,idx)">{{'COMMON.SAVE' | translate}}</button>
                                <button class="fox-cloud-button-md fox-cloud-button-white" (click)="cancelEditStorage(storage,idx)">{{'COMMON.CANCEL' | translate}}</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <storage-sync #storageSync [type]="platformType" [storageList]="updateStorageList" (complete)="getStorageList()"></storage-sync>
        <mem-sync #memSync [storage]="updateStorageMem" (complete)="getStorageList()"></mem-sync>
        <vt-sync #volumeTypeSync [volumeTypeList]="updateVolumeTypeList" (complete)="getVolumeTypeList()"></vt-sync>
        <fc-confirm #enableStorageConfirm title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CONFIRM" (of)="enableStorageCof()" ct="HOST_VMWARE_MNG.CANCEL"
    (cf)="ccf()"></fc-confirm>
        <fc-confirm #suspendStorageConfirm title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CONFIRM" (of)="suspendStorageCof()" ct="HOST_VMWARE_MNG.CANCEL"
    (cf)="ccf()"></fc-confirm>
    </div>
</div>

<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CONFIRM"></fc-notice>




    

       
