<div class="page-content-header icon-content-header-platform-manage" style="padding-bottom:10px;height:45px;">
    管理云主机启动盘: <span style="margin-right:20px;">{{platformName}}</span> 云主机类型: <span>{{platformTypeName}}</span>
    <button class="fox-cloud-button-md fox-cloud-button-white" style="float:right">
        <span class="icon-button-label" (click)='goList()'>返回云平台列表</span>
    </button>
</div>
<div class="page-content" style="min-height:300px;">
    <div style="padding-bottom: 10px;">
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">
                更多操作
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <li><a (click)="editZoneBootDisk()">编辑</a></li>
                <li><a (click)="deleteZoneBootDisk();">删除</a></li>
                <li><a (click)="enableZoneBootDisk();">启用</a></li>
                <li><a (click)="suspendZoneBootDisk();">禁用</a></li>
            </ul>
        </div>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="createBootDisk();">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="icon-button-label icon-left-button-label">设置启动盘</span>
        </button>
        <div style="clear: both"></div>
    </div>
    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="check-box-col">选择</th>
                    <th>可用区</th>
                    <th>启动盘名称</th>
                    <th>后端存储</th>
                    <th>状态</th>
                    <th style="width:20%">说明</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bootDisk of zoneBootDiskList; let idx=index">
                    <td><input class="fox-cloud-radio" type="radio" name="isSelected" check="item.isSelected" (click)="selectedZone=bootDisk;"/></td>
                    <td (click)="godetail(item)" style="cursor:pointer">{{bootDisk.zoneName}}</td>
                    <td>{{bootDisk.bootStorageName}}</td>
                    <td>
                        <p *ngFor="let storageName of bootDisk.storageName">{{storageName}}</p>
                    </td>
                    <td [ngClass]="{'font-green':bootDisk.bootStorageStatus == '1' ,'font-orange':bootDisk.bootStorageStatus == '2'}">
                        <!--{{item.status| dict:this.commonService.globalStatus | async}}-->
                        <span [ngSwitch]="bootDisk.bootStorageStatus"> 
										<template [ngSwitchCase]="0">初始化</template>
										<template [ngSwitchCase]="1">启用</template>
										<template [ngSwitchCase]="2">禁用</template>
										<template ngSwitchDefault>Unknown</template>							
							</span>
                    </td>
                    <td>{{bootDisk.bootStorageDescription}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<fc-notice #notice title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CANCEL" (of)="nof()"></fc-notice>

<fc-confirm #deleteConfirm title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CANCEL" (of)="deleteCof()" ct="HOST_VMWARE_MNG.CANCEL"
    (cf)="ccf()"></fc-confirm>
<fc-confirm #publishConfirm title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CANCEL" (of)="publishCof()" ct="HOST_VMWARE_MNG.CANCEL"
    (cf)="ccf()"></fc-confirm>
<fc-confirm #ccPublishConfirm title="{{title}}" msg="{{msg}}" ot="HOST_VMWARE_MNG.CANCEL" (of)="ccPublishCof()" ct="HOST_VMWARE_MNG.CANCEL"
    (cf)="ccf()"></fc-confirm>