<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>产品与服务</title>
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/public/css/common.css">
</head>
<body>
<div class="cm-header"></div>  <!-- 公共头部 -->

<div class="page-products"></div>

<div class="cm-footer"></div> 
<script src="/public/js/jquery.min.js" type="text/javascript"></script>
<script src="/public/js/bootstrap.min.js"></script>
</body>
</html>