
<!--详情-->
<div class="modal fade" id="diskBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  	<div class="modal-dialog" role="document">
	  		<!-- 配置变更 -->
			<div class="modal-content" *ngIf="state === 'change'">
			  	<div class="modal-header">
				 	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">云硬盘扩容</h4>
			  	</div>
			 	<div class="modal-body"> 
		        	<h4 class="title mgb20">云硬盘一旦扩容后，将不能缩减，请根据实际需求进行选购。</h4>
		         	<table class="table table-all-boder mgb20">
						<tr class="table-line-head">
				            <th class="text-center">{{'CLOUD_DRIVE_LIST.CLOUD_HRAD_DISK_NAME' | translate}}</th>
				            <th class="text-center">{{'COMMON.STORAGE_TYPE' | translate}}</th>
				            <th class="text-center">{{'COMMON.CAPACITY_GB'| translate}}</th>
				            <th class="text-center">{{'CLOUD_DRIVE_LIST.MOUNT_LOCATION_CLOUD_HOST_NAME' | translate}}</th>
				            <th class="text-center">{{'COMMON.STATUS' | translate}}</th>
							<td class="text-center">当前费用</td>
							<td class="text-center">所在区域及可用区</td>
							<td class="text-center">{{'COMMON.TYPE' | translate}}</td>
					    </tr>
						<tr>
							<td class="text-center">{{disk.name}}</td>
							<td class="text-center">{{disk.type}}</td>
							<td class="text-center">{{disk.size}}</td>
				            <td class="text-center">{{disk.relyName}}</td>
				            <td class="text-center">{{disk.status | dict:service.computeStatus | async}}</td>
							<td class="text-center"><font>¥{{disk.billingInfo?.unitPrice}}元/GB/{{disk.billingInfo?.periodType | dict:service.weekly | async}}</font></td>
							<td class="text-center">{{disk.platformName}} {{disk.zoneName}}</td>
							<td class="text-center">{{disk.useType}}</td>
						</tr>
					</table>

					<table class="cm-table-left">
						<tr>
							<th class="col-md-1 col-xs-3 text-center">新规格</th>
							<td>
								<div class="col-md-8 no-padding ">
									<div class="col-md-12 no-padding pdt5 mgt15">
										容量(GB)：
										<count-bar
								            [step]="step" 
								            [max]="maxStorage" 
								            [min]="minStorage" 
								            [stepCheck]=true
								            [value]="minStorage" (output)="outputValue($event, i)"></count-bar>
								        <span class="pdl10">增量按照每{{step}}GB一档，最大可扩容到 {{maxStorage}}GB</span>
									</div>
								</div>
								<div class="col-md-4 no-padding">
									<table class="price-table mgt20">
										<tr>
											<td class="text-r" rowspan=2>(费用合计)</td>
											<td class="text-r">一次性费用：</td>
											<td><font>¥0元</font></td>
										</tr>
										<tr>
											<td class="text-r vertical-t">费用：</td>
											<td><font>¥{{disk.billingInfo?.unitPrice * currentStorage}}元/{{disk.billingInfo?.periodType | dict:service.weekly | async}}</font></td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
					</table>
				</div>
		      
				<div class="modal-footer">
			        <button (click)="setConfig()" class="btn button-confirm button-size-big" id="setConfig">{{ot || 'DIALOG.CONFIRM' | translate }}</button> <!-- 确认 -->
			        <button class="btn btn-default button-size-big" data-dismiss="modal" id="setConfig_cancel">{{ct || 'DIALOG.CANCEL' | translate }}</button> <!-- 取消 -->
				</div>
		</div>
		<!-- 变更完成 -->
		<div class="modal-content" *ngIf="state === 'done'">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" id="setConfig_close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">订单完成：云硬盘扩容</h4>
			</div>
			<div class="modal-body"> 
				<!-- <order-complete #order [orderId]="orderId"></order-complete> -->
				<product-info-table [orderId]="orderId"> </product-info-table>

				<div class="done-bottom">
					<div class="left-text float-left">
						<p>您的云硬盘已申请扩容，系统将自动进行配置变更。</p>
						<p>如需审批，则要等待审批通过后，系统才会开始执行扩容。</p>
						<p>您可以登陆管理控制台，查看云硬盘状态。</p>
					</div>
					<button (click)="close();router.navigateByUrl('mng-console')" class="btn button-confirm button-size-big float-right">管理控制台</button>
				</div>
			</div>
		</div>
	</div>
</div>
