 .font-green{
     color:@mainColor;
 }

  .font-orange{
     color:@orangeColor;
 }
  .font-gray{
    color:@fontGrey;
  }

    .font-red{
    color:@redColor;
  }
  .font-blue{
    color:blue;
  }
  .border-error{
    border: 1px solid #a94442;
  }
  .border-green-top{
    border-top: 1px solid @mainColor;
  }
  .border-green-cu{
     border: 3px solid @mainColor;
  }

  .circle-legend1{
      background-color:@circleLegend1;
  }
  .circle-legend2{
      background-color:@circleLegend2;
  }
  .circle-legend3{
      background-color:@circleLegend3;
  }
  .circle-legend4{
      background-color:@circleLegend4;
  }
  .circle-legend5{
      background-color:@circleLegend5;
  }