/*****right-content-title*******/
.page-content-header {
	height: 36px;
	padding: 3px 0px 0px 35px;
	font-size: 20px;
	// font-weight: bold;
	border-bottom: solid 1px @mainColor;
	background-size: 22px auto;
	letter-spacing:2px;
}

.page-second-title{
       font-size:18px;
       font-weight:bold;
       border-bottom:solid 1px #cccccc;
       padding:10px 0px 10px 5px;
       letter-spacing:2px;
}

.form-control-title {
	line-height: 34px;
    text-align: right;
    font-size: 18px!important;
	letter-spacing:2px;
}
