body {
	font-family: "微软雅黑";
	/*overflow: hidden;*/
	border: none;
	outline: none;
}
/*****************/
.div {
	border: solid 1px green;
}
/*****************/

/********Global Section Start*********/
.asterisk {
	color: #ff0000;
	font-weight: bold;
	padding: 0px 5px 0px 7px;
}

.row-line-height {
	padding: 10px 0px 10px 0px;
}

.shrink {
	text-align: right;
	color: #00a982;
	cursor: pointer;
}

.check-box-col {
    width: 90px;
}

.progress-title {
	padding: 10px 0px 10px 0px;
}

.progress-prompt {
	position: absolute;
	left: 50%;
	color: #fff;
}
/********Button Start*************/
.fox-cloud-button, .fox-cloud-button-sm .fox-cloud-button-lg {
	cursor: pointer;
    text-align: center;
}

.fox-cloud-button-sm {
	line-height: 20px;
	padding: 0px 15px;
}

.fox-cloud-button-sm span {
    font-size: 12px;
}

.fox-cloud-button {
	line-height: 30px;
	padding: 0px 15px;
}

.fox-cloud-button span {
    font-size: 16px;
}

.fox-cloud-button-lg {
	line-height: 45px;
	padding: 0px 30px;
}

.fox-cloud-button-lg span {
    font-size: 20px;
}

.fox-cloud-button-grey {
	background-color: #eff4f8;
	border: solid 1px #c1c2c3;
}

.fox-cloud-button-grey:hover {
	color: #00a982;
	border: solid 1px #00a982;
}

.fox-cloud-button-green {
	background-color: #00a982;
	border: solid 1px #00a982;
	color: #ffffff;
}

.fox-cloud-button-green:hover {
	background-color: #ffffff;
	color: #00a982;
}

.fox-cloud-button-white {
	background-color: #ffffff;
	border: solid 2px #00a982;
}

.fox-cloud-button-white:hover {
	background-color: #00a982;
	color: #ffffff;
}

.fox-cloud-button:hover {
	color: #00a982;
	border: solid 1px #00a982;
}

.fox-cloud-button-bg:hover {
	color: #00a982;
	background-color: #ffffff;
	border: solid 1px #00a982;
}

.icon-button-label {
	font-size: 20px;
}
.icon-left-button-label {
	padding: 0px 0px 0px 5px;
}
.icon-right-button-label {
	padding: 0px 30px 0px 0px;
}
/********Button End*************/

/********Table Start*************/
.table-container {
	border: 2px solid #d0dae6;
}
.table > thead:first-child > tr:first-child > th {
	background: #eff4f8;
	text-align: center;
}

.table > tbody > tr > td {
	border-top: 0px;
	text-align: center;
}

tr:nth-child(even) {
	background: #fcfdff;
}

.table-hover > tbody > tr:hover {
	background: #f7f7f7;
}

.table input[type="checkbox"] {
	width: 14px;
	height: 14px;
	margin: 0px;
	vertical-align: middle;
}

.table > tbody > tr > td .bg-success {
	background: #00a982;
}

.table > tbody > tr > td .bg-danger {
	background: #f34b00;
}
.table > tbody > tr > td .status {
	padding: 0px 9px;
	border-radius: 10px;
}

.table th a.color-primary {
	color: #00a982;
	cursor: pointer;
}

/********Table End*************/

/*************Navigator Start*****************/
.navigator-progress {
	padding: 15px 0px 25px 0px;
	font-size: 18px;
	text-align: center;
}
.navigator-progress .mark {
	padding: 7px 15px;
	font-size: 20px;
	background: #ccc;
	color: #fff;
	border-radius: 100%;
}

.navigator-progress .mark + span {
	padding-left: 15px;
}

.navigator-progress .active {
	color: #000000;
}
.navigator-progress .active .mark {
	background: #00a982;
}
.navigator-progress .progress {
	border-radius: 0px;
	background: #ccc;
	position: relative;
}

.fox-cloud-progress-rectangle {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.fox-cloud-progress-rounded-angle {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.fox-cloud-progress-bar-rectangle {
	background-color: #00a982;
}

.fox-cloud-progress-bar-rounded-angle {
	background-color: #00a982;
}
/*************Navigator End*****************/

/**********Paging Start********************/
.fox-cloud-pagination-container {
	width: 100%;
	text-align: right;
}
.fox-cloud-pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.fox-cloud-pagination > li {
  display: block;
  border: solid 1px #ffffff;
}
.fox-cloud-pagination > li,
.fox-cloud-pagination > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  cursor: pointer;
}
.fox-cloud-pagination > span:first-child {
  background: url("../images/previousOn.png") no-repeat 0px 8px;
  width: 100px;
  display: block;
}
.fox-cloud-pagination > span.pagination-disabled:first-child {
  background: url("../images/previous.png") no-repeat 0px 8px;
  width: 100px;
  display: block;
  color: #cccccc;
}
.fox-cloud-pagination > span:last-child {
  background: url("../images/nextOn.png") no-repeat 100% 8px;
  width: 100px;
  text-align: left;
  display: block;
}
.fox-cloud-pagination > span.pagination-disabled:last-child {
  background: url("../images/next.png") no-repeat 100% 8px;
  width: 100px;
  text-align: left;
  display: block;
  color: #cccccc;
}
.fox-cloud-pagination > li:hover {
  z-index: 2;
  color: #00a982;
  border: solid 1px #00a982;
  font-weight: bold;
}
.fox-cloud-pagination > li.active {
  z-index: 2;
  color: #00a982;
  border: solid 1px #00a982;
  font-weight: bold;
}
.fox-cloud-pagination > span.pagination-disabled {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
/**********Paging End********************/

.section-title {
	font-weight: bold;
}

.form-control-title {
	font-weight: bold;
	line-height: 34px;
	text-align: right;
}

/**********Doughnut End********************/
.doughnut {
	border: 10px solid #2bd2c8;
	padding: 1px 25%;
	border-radius: 50%;
	height: 110px;
	width: 110px;
	margin: 0px auto;
	padding: 35px 0px 0px 0px;
}
/**********Doughnut End********************/

.icon-successful {
	background: url("../images/successful.png") no-repeat 0px 0px;
	background-size: 90%;
	padding: 5px 16px;
}

.icon-failed {
	background: url("../images/failed.png") no-repeat 0px 0px;
	background-size: 90%;
	padding: 5px 16px;
}
/********Global Section End*********/

/********Header Section Start*********/
.header {
	border-bottom: solid 5px #01a982;
}
.header div {
	height: 75px;
}
.header .logo {
	background: url("../images/logo.png") no-repeat 30px 15px;
	background-size: 40%;
	border-right: solid 1px green;
}
.header .console {
	background: url("../images/ctrlPanelIcon.png") no-repeat 30px 25px;
	font-size: 25px;
	font-weight: bold;
	padding-left: 80px;
	padding-top: 20px;
}
.header .header-group {

}
.header .header-group .help {
	background: url("../images/help.png") no-repeat 15px 25px;
	border-left: solid 1px green;
	font-size: 20px;
	font-weight: bold;
	padding-left: 50px;
	padding-top: 23px;
	cursor: pointer;
}
.header .header-group .help:hover {
	background: url("../images/helpOn.png") no-repeat 15px 25px;
	color: #01a982;
}
.header .header-group .alert {
	background: url("../images/alert.png") no-repeat 15px 25px;
	border-left: solid 1px green;
	font-size: 20px;
	font-weight: bold;
	padding-left: 60px;
	padding-top: 23px;
	cursor: pointer;
}
.header .header-group .alert:hover {
	background: url("../images/alertOn.png") no-repeat 15px 25px;
	color: #01a982;
}
.header .header-group .account {
	background: url("../images/account.png") no-repeat 15px 25px;
	border-left: solid 1px green;
	font-size: 20px;
	font-weight: bold;
	padding-left: 50px;
	padding-top: 25px;
	cursor: pointer;
}
.header .header-group .account:hover {
	background: url("../images/accountOn.png") no-repeat 15px 25px;
	color: #01a982;
}
.header .header-group .account-operation {
	background: url("../images/accountDownArrow.png") no-repeat 0px 0px;
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	top: 35px;
	left: 95px;
}
.fox-cloud-badge {
	display: inline-block;
	min-width: 10px;
	width: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #ff0000;
	border-radius: 50%;
	position: absolute;
	top: 15px;
	left: 37px;
}
/********Header Section End*********/

/********Content Section Start*********/
.content {
	height: 100%;
}
/********Content Section End*********/

/********Left Content Section Start*********/
.left-content {
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	background-color: #425563;
}

.left-content:hover {
	overflow: auto;
	padding-right: 1px;
}

.top1-menu {
	background-position: 85%;
	padding: 0px 0px 0px 0px;
	font-size: 18px;
	color: #ffffff;
	border-bottom: 1px solid #5e6f79;
	position: relative;
}
.top1-menu span {
	padding: 5px 0px 5px 50px;
	font-size: 20px;
	color: #ffffff;
	height: 50px;
	line-height: 50zpx;
}
.top1-menu span.glyphicon-chevron-down, span.glyphicon-chevron-right {
	position: absolute;
	top: 0px;
	right: 15px;
	font-size: 14px;
}
.top1-menu-trigger, .top1-menu-trigger span{
	cursor: pointer;
}
.top2-menu {
	position: relative;
	display: block;
	display: none;
}
.top2-menu span.glyphicon-chevron-down, span.glyphicon-chevron-right {
	position: absolute;
	top: 0px;
	right: 30px;
	font-size: 14px;
}
.top2-menu-trigger {
	padding: 0px 0px 0px 15px;
	font-size: 20px;
	color: #ffffff;
	cursor: pointer;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
}
.top2-menu-trigger span {
	cursor: pointer;
}
.top2-menu-trigger:hover {
	background-color: #01a982;
}
.top3-menu {
	padding: 0px 0px 0px 90px;
	font-size: 18px;
	background-color: #556673;
	color: #d9d9d9;
	cursor: pointer;
	height: 50px;
	line-height: 50px;
	display: block;
	display: none;
}
.top3-menu:hover {
	background-color: #01a982;
	color: #ffffff;
}
.top-menu-active {
	background: #00a982 url("../images/leftMenuWhiteArrow.png") right no-repeat;
	color: #fff;
}

.top-menu-open {
}

.top-menu-open .top2-menu {
	display: block;
}

.top1-menu .top-menu-open .top3-menu {
	display: block;
}

.icon-product-and-service {
	background: url("../images/productAndService.png") no-repeat 15px 5px;
}

.icon-user-center {
	background: url("../images/userCenter.png") no-repeat 15px 5px;
}

.icon-administrator-center {
	background: url("../images/administratorCenter.png") no-repeat 15px 5px;
}

.icon-platform-manage {
	background: url("../images/platformManage.png") no-repeat 15px 5px;
}

.icon-enterprise-manage {
	background: url("../images/enterpriseManage.png") no-repeat 15px 5px;
}

.icon-order-manage {
	background: url("../images/orderManage.png") no-repeat 15px 5px;
}

.icon-recycle-bin {
	background: url("../images/recycleBin.png") no-repeat 15px 5px;
}
/********Left Content Section End*********/

.footer {
	text-align: center;
	font-size: 14px;
	border-top: solid 3px #01a982;
	margin-top: 15px;
	padding: 10px 0px 0px 0px;
}


/********Right Content Section Start*********/
.right-content {
	padding: 15px 30px 0px 30px;
	width : 100%;
}
.page-content-header {
	height: 40px;
	padding: 3px 0px 0px 35px;
	font-size: 20px;
	font-weight: bold;
	border-bottom: solid 3px #01a982;
}

.page-content {
	padding: 10px 0px 0px 0px;
}

.icon-span {
	display: inline-block;
	height: 17px;
	width: 50px;
}

.icon-content-header-instance {
	background: url("../images/instance.png") no-repeat 0px 5px;
}

.icon-content-header-purchasing {
	background: url("../images/purchasing.png") no-repeat 0px 5px;
}

.icon-content-header-platform-manage {
	background: url("../images/platformManageOn.png") no-repeat 0px 5px;
}
.icon-content-header-prod-manage {
    background: url("../images/prodManageOn.png") no-repeat 0px 5px;
}

.icon-content-header-enterprise-manage {
	background: url("../images/enterpriseManageOn.png") no-repeat 0px 5px;
}

.icon-tick {
	background: url("../images/tick.png") no-repeat 0px 0px;
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
	left: 90%;
	top: 0px;
}
/********Right Content Section End*********/




/***************调整模态窗口位置********************/
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.fox-cloud-modal-header {}
.fox-cloud-modal-header .modal-header {
  font-size: 24px;
  padding: 20px 20px 20px 20px;
  border-bottom: 3px solid #01a982;
}
.fox-cloud-modal-header .modal-header .close {
  margin-top: 5px;
}

.fox-cloud-modal-header .modal-header > span {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.fox-cloud-modal-body .modal-body {
	padding: 20px 30px 20px 30px;
	font-size: 20px;
    /*word-wrap: break-word;*/      /* IE 5.5-7 */
    /*white-space: -moz-pre-wrap;*/  /* Firefox 1.0-2.0 */
    /*white-space: pre-wrap;*/       /* current browsers */
}
.fox-cloud-modal-footer .modal-footer {
  padding: 15px;
  text-align: center;
  border: none;
}
.fox-cloud-input-group {
	line-height: 35px;
}
.fox-cloud-input-group input[type="text"] {
	font-size: 20px;
}
/****************调整模态窗口位置*******************/

/************************************/

/* Let's get this party started */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(52, 185, 154,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(52, 185, 154,0.4);
}

.fix-page-content {
	height: 650px;
}

/************************************/
.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

.font-weight-normal{
    font-weight: normal;
}

.font-weight-bold{
    font-weight: bold;
}
.green {
    color: #00a982;
}

.orange {
    color: orange;
}