<div class="modal fade" id="storageBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">同步存储后端</h4>
            </div>
            <div class="modal-body">
                <div class="table-container">
                <!--<p class="modal-title">以下存储为新增存储后端</p>                    -->
                    <table class="table table-hover mgt20" *ngIf="type=='0'">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>名称</th>
                                <th style="width:25%">显示名称</th>
                                <th>存储类型</th>
                                <th>总容量(GB)</th>
                                <th style="width:7%">副本数</th>
                                <th style="width:7%">配额%</th>
                                <th style="width:25%">说明</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of storageList; let idx = index;">
                                <td>{{idx + 1}}</td>
                                <td>{{item.name}}</td>
                                <td><input type="text" class="form-control" [(ngModel)]="item.displayName" required></td>
                                <td>{{item.typeDisplayName}}</td>
                                <td>{{item.maximum||0}}</td>
                                <td>
                                    <input type="number" class="form-control" required [(ngModel)]="item.replica" min="0" max="10" style="width: 100px; display: inline;" min="0">
                                </td>
                                <td>
                                    <input type="number" class="form-control" required [(ngModel)]="item.quotaPercentDisplay" style=" display: inline;" min="0"
                                        max="100">
                                </td>
                                <td>
                                    <input type="text" class="form-control" [(ngModel)]="item.description" style=" display: inline;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-hover mgt20" *ngIf="type=='2'">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>名称</th>
                                <th>显示名称</th>
                                <th>DC/可用区信息</th>
                                <th>存储类型</th>
                                <th>总容量(GB)</th>
                                <th>副本数</th>
                                <th>配额%</th>
                                <th style="width:25%">说明</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of storageList; let idx = index;">
                                <td>{{idx + 1}}</td>
                                <td>{{item.name}}</td>
                                <td><input type="text" class="form-control" [(ngModel)]="item.displayName" required></td>
                                <td>
                                    <p style="margin:0" *ngFor="let name of item.clusterAndDc">{{name.dcName+"--"+name.zoneName}}</p>
                                </td>
                                <td>{{item.typeDisplayName}}</td>
                                <td>{{item.maximum||0}}</td>
                                <td>
                                    <input type="number" class="form-control" required min="0" [(ngModel)]="item.replica" style="width: 100px; display: inline;" >
                                </td>
                                <td>
                                    <input type="number" class="form-control" required min="0" max="100" [(ngModel)]="item.quotaPercentDisplay"  style=" display: inline;">
                                </td>
                                <td>
                                    <input type="text" class="form-control" [(ngModel)]="item.description" style=" display: inline;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default btn fox-cloud-button-lg" data-dismiss="modal">{{ct || 'COMMON.CANCEL' | translate }}</button>
                <!-- 取消 -->
                <button (click)="update()" class="btn fox-cloud-button-lg fox-cloud-button-white">{{ot || '更新' }}</button>
                <!-- 确认 -->
            </div>
        </div>
    </div>
</div>