<div class="page-content-header icon-content-header-purchasing">{{ 'HOST_OPENSTACK_MNG.IMAGE_MANAGEMENT' | translate }}</div>
<div class="page-content">
    <div class="table-container mgt20">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{ 'COMMON.NUMBER' | translate }}</th>

                    <th>{{ 'USER_CENTER.PLATFORM_NAME' | translate }}</th>
                    <th>{{ 'PHY_MNG_POOL.DIGIT_CENTER_OWNER' | translate }}</th>
                    <th>{{ 'PHY_MNG_POOL.REGION_OWNER' | translate }}</th>
                    <th>{{ 'USER_CENTER.PLATFORM_TYPE' | translate }}</th>
                    <th>{{ 'HOST_MNG.PUBLIC_IMAGE_NUM' | translate }}</th>
                    <th>{{ 'HOST_MNG.LAST_SYNCHRONOUS_TIME' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let plf of platforms let i=index"  >
                    <td>{{(pageIndex-1)*pageSize+i+1}}</td>

                    <td><a href="javascript:void(0);" (click)="choosePage(plf);">{{plf.name}}</a></td>
                    <td>{{plf.dataCenter}}</td>
                    <td>{{plf.region}}</td>
                    <td>{{plf.type | dict:this.service.typeDic | async }}</td>           
                    <td>{{plf.imagesNum}}</td>
                    <td [ngClass]="plf.syncDate==null?'font-green':'font-blue'">{{plf.syncDate || "HOST_MNG.NOT_SYNCHRONOUS" | translate}}</td>
                </tr> 

            </tbody>
        </table>
    </div>
    <div class="fox-cloud-pagination-container">
        <fc-pagination #pager tp={{totalPage}} (pf)="getPlatforms($event)"></fc-pagination>
    </div>

    <fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{ 'COMMON.CONFIRM' | translate }}"></fc-notice>
</div>
