<div class="page-content-header icon-cloud-network-mngOn">
    VMware{{'NET_MNG_VM_IP_MNG.NET_MNG' | translate}}
</div>
<div class="page-content">

    <div class="mgb20" style="margin-top:10px">
        <div class="pull-left mgr20">
            <select class="form-control" [(ngModel)]="selectedRegion" (change)="selectedDC=defaultDC;selectedPlatform=defaultPlatform; EnableButton=0; NsxInfo=null; queryOpt.platformId = ''; queryOpt.platformName = ''; queryOpt.platformUrl = '';"> 
                <option [ngValue]="defaultRegion">{{'NET_MNG_VM_IP_MNG.SELECT_LOCATION' | translate}}</option>
                <option *ngFor="let region of regionList" [ngValue]="region">{{region.regionName}}</option>
            </select>
        </div>        
        <div class="pull-left  mgr20">
            <select class="form-control" [(ngModel)]="selectedDC" (change)="selectedPlatform=defaultPlatform; EnableButton=0; NsxInfo=null; queryOpt.platformId = ''; queryOpt.platformName = ''; queryOpt.platformUrl = '';"> 
                <option [ngValue]="defaultDC">{{'NET_MNG_VM_IP_MNG.PLEASE_CHOOSE_DATACENTER' | translate}}</option>
                <option *ngFor="let dc of selectedRegion.dcList" [ngValue]="dc">{{dc.dcName}}</option>
            </select>
        </div>
        
        <div class="pull-left mgr20">
            <!-- <select class="form-control" [(ngModel)]="selectedPlatform" (click)="(selectedPlatform==defaultPlatform)?EnableButton=0:EnableButton=1;" (change)="queryOpt.platformId = ''; queryOpt.platformName = ''; queryOpt.platformUrl = ''; networkList = []; NsxInfo = null;"> -->
            <select class="form-control" [(ngModel)]="selectedPlatform" (click)="(selectedPlatform==defaultPlatform)?EnableButton=0:EnableButton=1; queryOpt.platformId = selectedPlatform.platformId; queryOpt.platformName = selectedPlatform.platformName; queryOpt.platformUrl = selectedPlatform.platformUrl;" (change)="getNsxInfo();">
                <option [ngValue]="defaultPlatform">{{'NET_MNG_VM_IP_MNG.PLATFORM_URL' | translate}}</option>
                <option *ngFor="let pf of selectedDC.platformList" [ngValue]="pf">{{pf.platformName}}</option>
            </select>
        </div>
        
        <div class="pull-left  mgr20 ">
            <button type="button" class="fox-cloud-button fox-cloud-button-white " style="height:34px" [disabled]="!EnableButton" (click)="queryOpt2.platformId = queryOpt.platformId; queryOpt2.platformName = queryOpt.platformName; queryOpt2.platformUrl = queryOpt.platformUrl; networkList = []; showNetAndNxsInfo();"> {{'NET_MNG_VM_IP_MNG.ENSURE' | translate}}</button>
        </div>
    </div>

    
    <div class="clear"></div>
    <div class="row mgb10 mgt10">
        <span class="pull-left pdl15" style="display:inline-block;font-size:16px;padding:6px 0">
            {{'NET_MNG_VM_IP_MNG.NSX_MNG_INFO' | translate}}: 
        </span>
        <span *ngIf="NsxInfo" style="display:inline-block;font-size:16px;padding:6px 0">
            {{NsxInfo.nsxAddress || ""}}
        </span>
    </div>
    <div class="mgb20">
        <button class="fox-cloud-button fox-cloud-button-green" (click)="setNsxMngInfo()">{{'NET_MNG_VM_IP_MNG.SET_NSX_MNG_INFO' | translate}}</button>
        <button class="fox-cloud-button fox-cloud-button-green" (click)="setNetworkType()">{{'NET_MNG_VM_IP_MNG.SET_NET_TYPE' | translate}}</button>
        <button class="fox-cloud-button fox-cloud-button-green pull-right mgr5" (click)="gotoVMStdNetMng()">{{'NET_MNG_VM_IP_MNG.MANAGE_STD_NET' | translate}}</button>
        <button class="fox-cloud-button fox-cloud-button-green pull-right mgr5" (click)="gotoVMDbtNetMng()">{{'NET_MNG_VM_IP_MNG.MANAGE_DBT_NET' | translate}}</button>
        <button class="fox-cloud-button fox-cloud-button-green pull-right mgr5" (click)="gotoVMNsxNetMng()">{{'NET_MNG_VM_IP_MNG.MANAGE_NSX_NET' | translate}}</button>
    </div>
    <div class="table-container">
        <table class="table table-hover ">
            <thead>
            <tr>
                <th>{{'NET_MNG_VM_IP_MNG.SELECT' | translate}}</th>
                <th>{{'NET_MNG_VM_IP_MNG.DC' | translate}}</th>
                <th>{{'NET_MNG_VM_IP_MNG.CLUSTER_NAME' | translate}}</th>
                <th>{{'NET_MNG_VM_IP_MNG.DISPLAY_NAME' | translate}}</th>
                <th>{{'NET_MNG_VM_IP_MNG.NETWORK_TYPE' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let net of networkList; let i=index;">
                <td><input type="radio" class="fox-cloud-radio" name="radio" [checked]="net.checked" (change)="selectItem(i); selectedNet = net;" value="{{i}}"></td>
                <td>{{net.dcName}}</td>
                <td>{{net.clusterName}}</td>
                <td>{{net.clusterDisplayName}}</td>
                <td>{{net.networkType | dict:this.service.typeDict | async}}</td>
                
            </tr>
            </tbody>
        </table>
    </div>
    <div style="height:200px"></div>
    
    queryOpt: {{queryOpt.toString()}}
    <br />
    queryOpt2: {{queryOpt2.toString()}}
    <!-- -->
</div>

<!-- <td>{{net.networkType | dict:this.service.typeDict | async}}</td> -->


<fc-notice #notice title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}" (of)="okClicked()"></fc-notice>
<fc-confirm #confirm title="{{noticeTitle}}" msg="{{noticeMsg}}" ot="{{'COMMON.CONFIRM' | translate}}" ct="{{'COMMON.CANCEL' | translate}}" (of)="onConfirmed()"></fc-confirm>


<fc-popup #setnsxmnginfo ot="{{'COMMON.CONFIRM' | translate}}" ct="{{'COMMON.CANCEL' | translate}}" title="{{'NET_MNG_VM_IP_MNG.SET_NSX_MNG_INFO' | translate}}" (of)="acceptNsxMngInfoModify()" (cf)="cancelNsxMngInfoModify()">
	<div class="dialogContent" >
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-5 form-control-title"><span class="asterisk">*</span>{{'NET_MNG_VM_IP_MNG.NSX_VERSION' | translate}}：</div>
					<!--
                    <div class="col-sm-8">
					    <input type="string" class="form-control input-control" [(ngModel)]="changedNsxMngInfo.nsxVer">
					</div>
                    -->
                    <div class="col-sm-7">
                        <select class="form-control" [(ngModel)]="changedNsxMngInfo.nsxVer"> 
                            <option [value]="'0'">{{'NET_MNG_VM_IP_MNG.PLEASE_CHOOSE' | translate}}</option>
                            <option *ngFor="let nsxver of nsxverDictArray" [value]="nsxver.value">{{nsxver.displayValue}}</option>
                        </select>
                    </div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-5 form-control-title"><span class="asterisk">*</span>{{'NET_MNG_VM_IP_MNG.NSX_MNG_ADDRESS' | translate}}：</div>
					<div class="col-sm-7">
					    <input type="string" class="form-control input-control" [(ngModel)]="changedNsxMngInfo.nsxAddress">
					</div>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-5 form-control-title"><span class="asterisk">*</span>{{'NET_MNG_VM_IP_MNG.NSX_MNG_USERNAME' | translate}}：</div>
					<div class="col-sm-7">
					<input type="string" class="form-control input-control" [(ngModel)]="changedNsxMngInfo.userName">
					</div>
				</div>
			</div>
            <div class="row row-line-height">
				<div class="form-group">
					<div class="col-sm-5 form-control-title"><span class="asterisk">*</span>{{'NET_MNG_VM_IP_MNG.NSX_MNG_PASSWORD' | translate}}：</div>
					<div class="col-sm-4">
					<input type="password" class="form-control input-control" [(ngModel)]="changedNsxMngInfo.adminPassword">
					</div>
                    <div class="col-sm-3">
                        <button type="button" class="fox-cloud-button fox-cloud-button-white pull-right" style="height:34px" (click)="testNsxMngInfo()"> {{'NET_MNG_VM_IP_MNG.TEST' | translate}}</button>
                    </div>                    
				</div>
                <div [ngSwitch]="nsxTestFlag">
                    <span class="validateInfo" class="font-green" *ngSwitchCase="'success'">{{'NET_MNG_VM_IP_MNG.TEST_NSX_PASSED' | translate}}</span>
                    <span class="validateInfo" class="font-orange" *ngSwitchCase="'failure'">{{'NET_MNG_VM_IP_MNG.TEST_NSX_FAILED' | translate}}</span>
                </div>
			</div>
	</div>
</fc-popup>

<fc-popup #setnettype ot="{{'COMMON.CONFIRM' | translate}}" ct="{{'COMMON.CANCEL' | translate}}" title="{{'NET_MNG_VM_IP_MNG.SET_NETWORK_TYPE' | translate}}" (of)="acceptNetworkTypeModify()" (cf)="cancelNetworkTypeModify()">

	<div class="dialogContent pdl20">
			<div class="row row-line-height">
				<div class="form-group" [style.color] = "VmNetStatus.checkResult=='2' ? 'grey': 'black'">
                    <label class="pointer">
                    <input type="radio" class="fox-cloud-radio" name="radio" [attr.disabled]="VmNetStatus.checkResult=='2'" (click)="VmNetStatus.vmNetStatus='1'"> NSX网络
                    </label>
                    <!-- <input type="radio" class="fox-cloud-radio" name="radio" [class.hidden]="VmNetStatus.checkResult=='2'" [ngClass]="{'disabled':VmNetStatus.checkResult=='2'}" (change)="VmNetStatus.vmNetStatus='1'"> {{'NET_MNG_VM_IP_MNG.NSX_NET' | translate}} -->
                    <!-- <input type="radio" class="fox-cloud-radio" name="radio" [ng]="{'disabled':VmNetStatus.checkResult=='2'}" (change)="VmNetStatus.vmNetStatus='1'"> {{'NET_MNG_VM_IP_MNG.NSX_NET' | translate}}  -->
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
                    <label class="pointer">
					<input type="radio" class="fox-cloud-radio" name="radio" (click)="VmNetStatus.vmNetStatus='2'"> {{'NET_MNG_VM_IP_MNG.DBT_NET' | translate}}
                    </label>
				</div>
			</div>
			<div class="row row-line-height">
				<div class="form-group">
                    <label class="pointer">
					<input type="radio" class="fox-cloud-radio" name="radio" (click)="VmNetStatus.vmNetStatus='3'"> {{'NET_MNG_VM_IP_MNG.STD_NET' | translate}}
                    </label>
				</div>
			</div>
	</div>
</fc-popup>


